[2015-02-18 17:18] todb-r7 commented on #4541
Ah nm it's in your branch, and #4545 was closed. So, nm. Deleting these comments.

[2015-02-18 17:22] todb-r7 commented on #4602
Given the deps on Metasploit QE (see PR #4729), labeling this with jira so I don't forget about it.

[2015-02-18 21:07] todb-r7 opened #4793 "Allow meterpreter sessions to resolve L3 address"
As discussed in #2646 -- the implementation kind of went out of control and it's effectively unmergable now, but the request is totally valid; as a pen-tester, I need to be able to launch reverse connections through pivoted Meterpreter sessions (among other handy tricks).

[2015-02-19 15:02] #4773 closed

[2015-02-19 15:07] wchen-r7 commented on #3811
yeah srsly

[2015-02-19 15:36] bcook-r7 commented on #4669
Neither a call to 'deref' nor calling 'stop' on the http service correctly fixes this issue. Loading the secondary meterpreter stages requires the service to continue running. We need a different fix.

[2015-02-19 17:14] hmoore-r7 opened #4799 "Timeout exception raised by nbns_response module"
[code]

[2015-02-19 21:27] d1rtd0g commented on #4754
Some gems where installed sucessfully until recieved the following error:
Gem::InstallError: metasploit_data_models requires Ruby version >= 2.1.
An error occurred while installing metasploit_data_models (0.23.0), and Bundler
cannot continue.
Make sure that `gem install metasploit_data_models -v '0.23.0'` succeeds before
bundling.

What should I do now?

[2015-02-19 22:36] todb-r7 opened #4802 "Android UXSS + XFO bypass no longer operational"
I know you've noticed this already, @joevennix -- I'm not sure how to go about fixing and you type fluent Javascript about 1024 times faster than me.

I've tested android_stock_browser_uxss, and that still works like a champ on my Samsung Galaxy SIII mini, and the XFO bypass is still functional, as seen here:

[code]

So, how about it? :) We see daily press mentions of this exploit, so it'd be sup

[2015-02-19 22:49] hmoore-r7 opened #4803 "LoginScanner refactor missing many advanced/evasion options"
When the login modules were ported to use LoginScanner classes, many of the advanced and evasion options present in their mixins are not implemented in the LoginScanner code. For example, the http_login module registers a number of options that are now ignored (UserAgent, DigestAuthIIS, and dozens of evasion options). The modules and LoginScanner classes need to be updated to implement the options

[2015-02-19 22:51] hmoore-r7 commented on #4803
cc @dmaloney-r7

[2015-02-19 22:56] hmoore-r7 commented on #4803
In the case of HTTP-derived LoginScanners, we can add new options to the base HTTP class, but all of the HTTP modules now need to be aware of and explicitly pass the HTTP mixin options (dozens!) unless we put the LoginScanner login into the mixin. Tricky to solve without making this even harder to maintain in the future.

[2015-02-19 23:54] wchen-r7 commented on #4803
Yeah I reported some of them, too. It's like you have these components that used to be wired together, but now you have to DIY without documentations.

[2015-02-20 02:26] kernelsmith commented on #4754
Umm, install Ruby > 2.1?

-Josh

[2015-02-20 16:19] todb-r7 commented on #4802
@joevennix said this: https://twitter.com/joevennix/status/567450622471839744

So, obviously :)

[2015-02-20 16:23] joevennix commented on #4802
Called out! @todb-r7 I did look into this a bit, a few days ago. Play store 403's any request that matches stock Browser's User Agent (I suspect they mucked this up at first and that's why they accidentally blocked Firefox, which is funny). For a demo you might try the exploit in a WebView-wrapping browser that overrides User-Agent to something else.

Another neat thing to demo (although this woul

[2015-02-20 17:18] todb-r7 commented on #4802
@joevennix okay thanks -- Usually Maxthon and CM browser are good for that kind of thing. I'll give it a shot today.

[2015-02-20 17:20] todb-r7 commented on #4802
Mainly, I'm concerned that Google Play store's protection is inadequate and that bad guys will figure out a way around it. That would leave people in a situation where they can't safely test with Metasploit, giving them the impression that all is clear, even though the UXSS and XFO bypass are still present and potentially exploitable.

[2015-02-20 17:28] dmaloney-r7 commented on #4803
@wchen-r7 They are not more technical. They are pruposely built to be more atomic now so that they can be individually used and tested outside of the crisscrossing mixin context. Ideally we would have converted a lot of the existing mixin functionality into proper class constructs when we made the LoginScanners but were up against deadlines and so the decision was made to do the best we can on the

[2015-02-20 17:35] dmaloney-r7 commented on #4803
The old components were also completely non-standard in that there were about 6-7 different way these login modules were implemented before instead of one standard way. So now we have a standard methodology for doing Login Scanners, and we know exactly how each one behaves.   These new 'more technical' components also address a lot of gaps that existed in the previous code, and interfaces with a w

[2015-02-20 18:44] wchen-r7 commented on #4803
So if I understand this idea correctly, we leave the implementation to the module developer?

[2015-02-20 18:46] hmoore-r7 commented on #4803
Forcing the module developer to keep up with mixin changes doesn't seem workable. I can take a shot at this and add a mixin method to help configure the LoginScanner with the appropriate options from the mixin's datastore and evasion options. HTTP is the most broken at the moment.

[2015-02-20 19:23] wchen-r7 commented on #4803
@dmaloney-r7 Yeah sorry, I chose my word poorly. LoginScanner is indeed much more powerful than what we had before. Nothing we can't shake off here. I'm gonna let HD take over from here.

[2015-02-20 20:24] wchen-r7 commented on #3811
Well so I started trying to write code for this, and then I realized you can't actually reset a datastore option if it's not originally from the module. Like for example, if the option is registered by HttpServer, that information won't be found in active_module, but I think that's the only thing you get to work with. Does anybody have any idea how to do that? I think you have to somehow find a wa

[2015-02-20 22:25] hmoore-r7 commented on #4803
@dmaloney-r7 Mixins provide the glue between module datastore options and the Rex protocol layer. No disagreement that there might be better ways to do things, but currently these modules claim to support various options and just ignore them when sent. Tackling this in a PR this weekend.

[2015-02-21 01:24] nidem commented on #4591
I've had this same problem but in certain installs of Windows 2012. I went back to 4.8 and it worked for me.

[2015-02-21 04:59] wchen-r7 commented on #4592
I provided a fix here: https://github.com/rapid7/metasploit-framework/pull/4813, and I also provided a reason why you should raise instead of print_*.

[2015-02-21 06:16] wchen-r7 commented on #4572
Resolved in #4630.

[2015-02-21 06:16] #4572 closed

[2015-02-21 09:41] void-in commented on #4447
@wchen-r7 Got the following reply from the Nessus support:

Which means we don't have to keep the old XML API as all the customers can update to the latest version without any restriction.

[2015-02-21 14:14] wchen-r7 commented on #4447
I see, thanks for contacting Nessus Support @void-in. So it looks like it's pretty straight forward to upgrade from version 5 to 6, people can just do that. @invisiblethreat, so based on what Nessus says, I currently will do nothing to support version 5. But if there's still a large population of users who are still on version 5, and refuse to upgrade for some reason (I'd like know why), then I wi

[2015-02-21 17:21] hmoore-r7 commented on #4772
That is bizarre, maybe the color setting is forcing a codepage for input/output to the shell?

[2015-02-21 17:36] hmoore-r7 commented on #4128
@todb-r7 I reforked the repo, changed the gem name, added another revision version (.0), and PRd this change as #4816.

[2015-02-21 17:54] hmoore-r7 commented on #4623
Marking as delayed while we do some design work.

[2015-02-21 18:11] techgod52 commented on #4772
That's what I was thinking, but it doesn't explain the first command doing the weird symbol thing above (on the `dir`, which is a valid command on CMD).

[2015-02-21 22:20] OJ commented on #4772
First:

then:

These are not the same thing! You need to make sure the payloads you use for msfpayload and the handler are _exactly_ the same. So change your handler to use the same payload that is `windows/shell_reverse_tcp` and not `windows/shell/reverse_tcp`.

Please let me know if that makes a difference.

[2015-02-22 02:32] archey opened #4818 "Duplicate key issues on a few modules"
[code]

ruby version ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-linux]

These dont seem to affect creating handlers or using payloads, I believe this would just affect the above mentioned modules.

[2015-02-22 02:56] #4382 closed

[2015-02-22 03:04] #3790 closed

[2015-02-22 03:22] techgod52 commented on #4772
That did fix it! Thank you, that should have triggered a red flag in my head that they were 2 different payloads. I was following what was <a href="http://www.offensive-security.com/metasploit-unleashed/Binary_Payloads">here</a> and just assumed that it was correct, since it was from Offensive Security.

[2015-02-22 03:22] #4772 closed

[2015-02-22 03:24] wvu-r7 commented on #4772
Nice catch, @OJ. :)

[2015-02-22 03:25] techgod52 commented on #4772
@OJ What is the difference between `windows/shell_reverse_tcp` and `windows/shell/reverse_tcp`?

[2015-02-22 03:37] wvu-r7 commented on #4772
@techgod52: ```windows/shell_reverse_tcp``` is a single payload, and ```windows/shell/reverse_tcp``` is a staged payload.

[2015-02-22 03:39] wvu-r7 commented on #4772
https://github.com/rapid7/metasploit-framework/wiki/How-payloads-work

[2015-02-22 03:42] techgod52 commented on #4772
@wvu-r7 Thanks!

[2015-02-22 03:46] OJ commented on #4772
Dem stages.

You're welcome :+1: I'm glad it's sorted.

[2015-02-22 08:51] hmoore-r7 commented on #4803
Many of the HTTP LoginScanner modules were ignoring the SSL, VHOST, and User-Agent options. The rework in #4819 should be good to go for the HTTP modules, but I am still reviewing the non-HTTP modules for similar issues.

[2015-02-22 16:36] kernelsmith commented on #4776
@todb-r7 this is where the original discussion occurred.  I'll have to look harder for the code as I didn't see any feature branches I had on the matter.  I may have abandoned it after juan landed that PR

[2015-02-22 16:37] kernelsmith commented on #4776
in case the email notification doesn't have the link, https://github.com/rapid7/metasploit-framework/pull/2093, cuz I forgot it, but added it in after initial submission of the comment

[2015-02-22 17:41] wchen-r7 commented on #4803
#4819 will fix #https://github.com/rapid7/metasploit-framework/issues/3960 too. If I merge the PR I'll tag that too.

[2015-02-22 17:42] wchen-r7 commented on #3960
https://github.com/rapid7/metasploit-framework/pull/4819 should address this.

[2015-02-22 18:56] wchen-r7 opened #4820 "reverse_https times out with bypassuac_injection"
Originally reported here:
https://github.com/rapid7/metasploit-framework/pull/4553#issuecomment-75449711

[2015-02-22 19:57] hmoore-r7 commented on #4820
It appears the LHOST may be set incorrectly on the second session:
[code]

[2015-02-22 20:00] hmoore-r7 commented on #4818
This is a Ruby 2.2.x compatibility issue, we might want to track this under a new label.

[2015-02-22 20:02] wchen-r7 commented on #4820
Oh yeah, geez that was kind of obvious but I failed to see it.

[2015-02-22 20:03] hmoore-r7 commented on #4818
It looks like Ruby's behavior here is to throw a warning if the same key with the same value is set on the same hash. The ```modules/auxiliary/scanner/http/http_login.rb``` issue is due to an empty ```References``` array, which is a "duplicate" if the parent hashes default value. The ```lib/rex/proto/http/server.rb``` is just a duplicate like (likely a bad merge).

[2015-02-22 20:06] hmoore-r7 commented on #4776
FYI - The trick for to responding to windows size changes is to handle SIGWINCH and then query the tty.

[2015-02-22 20:07] hmoore-r7 commented on #4718
Thinking on this some more, the solution will require a full rewrite if we want to get past the ~2s/community timeout.

[2015-02-22 20:08] hmoore-r7 commented on #4820
Maybe related to #4651 as well.

[2015-02-22 20:16] #4592 closed

[2015-02-22 20:20] hmoore-r7 commented on #4592
The exception class should be probably Rex::ConnectionError for fatal errors in the LoginScanner methods (vs RuntimeError) just to not eat protocol-library exceptions. We solved the issue of print_* methods in past two different ways:
 * Passing an output driver handle to the code to use for printing status messages (various things)
 * Yielding from the downstream code back to the caller (DB impor

[2015-02-22 20:24] hmoore-r7 commented on #4525
Removing the delayed tag, adding ruby-2.1 since its past January :smile:

[2015-02-22 20:28] hmoore-r7 commented on #4555
Signal handling across multiple threads has been buggy in Ruby for a long time (broken on OS X on multiple occasions). Hijacking this ticket to work on a replacement for the ^C and ^Z handlers.

[2015-02-22 20:32] kernelsmith opened #4821 "msfrpc/msfrpcd forgets the auth token after a set period of time"
start msfrpcd:

[code]
connect w/msfrpc

[code]
wait for 5-10 mins, run any rpc call:

[code]

[2015-02-22 20:32] hmoore-r7 commented on #4555
The proposed changes:

 *  Change the ^C and ^Z handlers to print out a message indicating what the replacement command names are.
[code]
 * Modify the session & channel interaction loop to look for the prefix + command as the beginning of user input and handle the issue appropriately

[2015-02-22 20:34] kernelsmith commented on #4821
I'm sure this is related to the proper functioning of the auth timeout functionality, but it's very unexpected when you have an active msfrpc session.

[2015-02-22 20:34] hmoore-r7 commented on #4555
Anyone have a preference on the magic command prefix character(s)? I like ```~``` because its unlikely to conflict with Unix shell sessions (~kill/~background) compared to something like ```!```.
cc @jlee-r7 @trosen-r7 @limhoff-r7

[2015-02-22 20:35] hmoore-r7 commented on #4581
Related to #3792

[2015-02-22 20:44] hmoore-r7 commented on #4669
If ```service.stop``` is not fixing the issue, that points to a much bigger problem with the service code.

[2015-02-22 20:46] hmoore-r7 commented on #4715
Sometimes a new session isn't desired (it creates a new network connection). Long-term, it would be nice to solve this by managing multiple meterpreter processes as one session and allowing the user to switch contexts. For example, this would make it easy to spawn a child in each desktop session and keystroke all the things, while still having a SYSTEM session.

[2015-02-22 20:47] hmoore-r7 commented on #4732
@leveryd ping

[2015-02-22 20:58] OJ commented on #4715
So we have half and half right now. Some update in-place, and run the risk of losing shells, some run in other processes and create new shells. Should we not normalise these now so there's some consistency, or should we wait until something bigger has been implemented and port over to that?

[2015-02-22 21:06] kernelsmith commented on #4821
ahh, yeah, it's the following expected behavior from service.rb:

[code]
Maybe we can expose an option to either initiate with a permanent token, or consider local connections to be permanent, or maybe increase the timeout for locally-connected tokens?

[2015-02-22 21:29] hmoore-r7 commented on #4715
I am all for making it consistent either way and it sounds like new sessions are the least risky option for users. We could always re-integrate these in the future (maybe have the existing session become the handler for these, etc).

[2015-02-22 21:31] OJ commented on #4715
:+1: from me. I think making them all behave this way makes the most sense. Once we have the right approach down for making them not create new sessions, migrating them all over will be simpler.

I'll start working on moving them over soon.

[2015-02-22 23:38] mubix commented on #4555
How about: `≈` ;-)

[2015-02-23 00:06] hdm opened #4825 "Capture mixin capture_sendto() is causing packet loss"
While testing the nbns_spoof module on a remote system accessed over SSH, each time `capture_sendto()` is called, I temporarily lose network access to the machine. A ping command running on the remote system confirms that all outbound traffic is being dropped during this operation:

[code]

File shares are being disconnected as well when this happens:

[code]

The problem seems to be triggered by

[2015-02-23 00:07] hmoore-r7 commented on #4555
Great idea! Any time the console receives ```≈```, it will download the Ubunuto ISO and fix the issue =)

[2015-02-23 00:54] hmoore-r7 commented on #4825
Confirmed that this issue is not present when using non-bonded NICs (bond-mode 0).

[2015-02-23 02:27] hmoore-r7 opened #4826 "The unset command is case sensitive, while most uses of datastore are not"
I ran into a silly issue earlier where I was trying to unset DEBUG. The DEBUG variable had actually been set as Debug, so unset wasn't clearing it. If we truly want the datastore to be case insensitive, we should also implement this in the unset command.

[2015-02-23 03:54] OJ commented on #4820
Yup, I'm going with the injection of a 64bit payload into 32bit process.

The module should have handled this case though.. so there's definitely something going wrong. I'm happy to look into this.

[2015-02-23 05:53] #4458 closed

[2015-02-23 21:50] rjmolesa opened #4830 "Failed to load extension: No response was received to the core_loadlib request."
I've been having a reoccurring issue lately (last couple of weeks?). In a nutshell, I am getting a successful meterpreter connect on a `windows/meterpreter/reverse_http` payload. But when I try to execute meterpreter commands I get a

[code]
It happens for help, ls, getuid, sysinfo, all of the meterpreter commands.

In the past it seemed to be a timing issue where if I waited a while on slow links

[2015-02-23 22:01] OJ commented on #4830
Can you please give us all the settings you're using? Please include:
* payload type
* lhost/lport
* ip address

in short, please type "show info" and dump it in here.

[2015-02-23 22:55] OJ commented on #4830
Bear in mind the following:

1. Make sure `LHOST` is publicly visible.
1. Make sure `LHOST` is the same in the payload as it is in your listener.
1. Make sure `LPORT` is the same in the payload as it is in your listener.
1. Make sure you give it enough time to upload `metsrv` and `stdapi` before you try to execute commands. HTTP(S) payloads aren't the fastest.

[2015-02-24 00:17] bcook-r7 commented on #4830
Just to sanity-check, I configured some simulated 'bad' networks, and while it at the worst it took several minutes to interact on a 200 Kbps, 500ms latency, 5% drop network, I couldn't reproduce a total failure as described above. On the other hand, intentionally setting LHOST incorrectly does lead to exactly this issue, e.g.:

[code]

I wonder if there is anything we could to do improve the user

[2015-02-24 00:20] OJ commented on #4830
When the session isn't fully initialised, there's no UID listed.

[2015-02-24 00:22] paulhx commented on #4636
@joevennix

I have had no success so far. As I said, all the other "excellent" FF exploits are working fine.

After accessing the exploit page, I opened the Browser Console (ctrl+shift+j) and it shows 4 errors: http://i.imgur.com/naR107Q.png

You said:
"My HEAD is at 54a5dd69a9c661c896fbc5780dff6eca27c48c12, if it matters"

What does that mean?

By the way, here's all the released versions of "fir

[2015-02-24 01:04] #3982 closed

[2015-02-24 02:11] rjmolesa commented on #4830
The listener was staged via

[code]
The following is the payload connecting
![screen-20150223211017](https://cloud.githubusercontent.com/assets/1034756/6342032/684bb2de-bba0-11e4-8f7f-1cfaacd4d575.png)

And here are the settings in `show info`

![screen-20150223210324](https://cloud.githubusercontent.com/assets/1034756/6341999/d46df41e-bb9f-11e4-9c7c-f2898429b7a3.png)

[2015-02-24 02:13] OJ commented on #4830
Sorry, I meant `show options`.

Also, please can you tell me how your payload was generated.

[2015-02-24 02:19] rjmolesa commented on #4830
I should have caught that too. The IPs match.

![screen-20150223211443](https://cloud.githubusercontent.com/assets/1034756/6342083/2be341b2-bba1-11e4-971b-ffd747166444.png)

 I don't have the exact command that I used to generate the payload. But it was generated with msfpayload | msfencode. Which until about 2 weeks ago was working on a

[code]

[2015-02-24 02:24] OJ commented on #4830
It sounds like the `LHOST` values doesn't match (despite you saying that they do.. sorry!). Your LHOST value in your multi/handlers shown above are local IPs (`192.168.*`). That wouldn't be routable from the outside. My guess, based on you scrubbing out the IP addresses, is that they don't match.

Is that no fair to say?

[2015-02-24 02:27] rjmolesa commented on #4830
Sorry but no.

[2015-02-24 02:31] rjmolesa commented on #4830
It'll have to wait until tomorrow until I can dig any further. I will recreate the payload and attempt to do a better job scrubbing IPs before I post. I can do some testing tonight. But I likely won't report again until tomorrow.

@bcook-r7 Having some feedback that the session isn't dead or failed but still loading would be useful. I killed a few on a slow link recently because I thought it faile

[2015-02-24 02:33] OJ commented on #4830
There is definitely a timeout baked in, otherwise it'd sit there forever. The fact that it can connect once shows that the initial payload is fine. However, something is wrong with the next stage if nothing goes right from there.

Does the target run some kind of AV? Because with `reverse_http` metsrv goes up in the clear. It could be that it's getting caught?

[2015-02-24 02:54] rjmolesa commented on #4830
There are more than AV controls in place. There is also at least a proxy in play here. Interesting. That could be it. The IP was flagged as serving malware by the proxy. However, I loaded the index on the attacker IP in a browser on the client machine before attempting the payload again. It loaded fine. But I did not attempt to download any files from the attacker's web server. I'll run some addit

[2015-02-24 03:04] leveryd commented on #4732
ubuntu@VM-131-71-ubuntu:~$ msfconsole -v
Framework Version: 4.11.0-2015013101

i download the stable version on linux,and the problem still exsists

[2015-02-24 03:43] hmoore-r7 commented on #4732
Please try after applying the latest update.

[2015-02-24 03:46] hmoore-r7 commented on #4732
The version you are testing is not running the latest update. Testing with the latest and the site specified, I can't reproduce this on master:
[code]

[2015-02-24 04:44] wchen-r7 commented on #4732
Yeah if you're on framework the module works fine. This is the same issue as:
https://github.com/rapid7/metasploit-framework/issues/3952

[2015-02-24 04:46] wchen-r7 commented on #4732
Oh, actually #3952 and #4732 are different modules. Same type of error though.

[2015-02-24 14:13] todb-r7 commented on #4818
This is all due to the fix at https://bugs.ruby-lang.org/issues/10315 . I was trying to come up with a reason to ignore these 2.2 warnings, but I am foiled. According to https://www.ruby-lang.org/en/downloads/ , current stable is 2.2, previous stable is 2.1. I still think it's a little premature to call 2.2 "stable" since it was just released on Dec 25, 2014, but there it is.

There are [loads of

[2015-02-24 14:14] todb-r7 commented on #4818
Since we're going to treat 2.2 and 2.1 the same, may as well have one label. That label list is getting a little long anyway, and too much labelling is going to make my eyeballs hurt.

[2015-02-24 14:25] todb-r7 commented on #4818
/cc @bcook-r7 who's working on the fix at #4832 now

[2015-02-24 14:39] #4818 closed

[2015-02-24 14:41] bcook-r7 commented on #4818
Ah, thanks. Let me retest with ruby2.2 real quick.

[2015-02-24 14:44] todb-r7 commented on #4602
Removing the `jira` label since this does not seem to be QE's bag after all.

[2015-02-24 14:52] #3827 closed

[2015-02-24 14:57] joevennix commented on #4636
Reopening, those errors should be helpful in diagnosing this.

[2015-02-24 16:03] #4783 closed

[2015-02-24 17:23] wvu-r7 commented on #4733
For the time being, I'm using Siri's voice.

[2015-02-24 21:15] hmoore-r7 commented on #4821
There is an API call for creating a permanent token, so the expected process would be the authenticate with username/password, get your temporary token, use that token to create a permanent token, and skip the login process going forward. For local connections, the timeout could probably be increased as well (assuming the idle client does something every X seconds, it stays alive though).

[2015-02-24 21:30] rwhitcroft opened #4841 "Issues with http_login module and NTLM authentication to OWA"
These issues stem from trying to use the http_login module to authenticate against an SSL service using NTLM (e.g. /ews/ - Exchange web service).

Issue 1: lib/metasploit/framework/login_scanner/http.rb considers only code 200 as a successful login; however, in the case of EWS and likely others, a 302 or 403 may also indicate a successful login.

Issue 2: on servers where multiple auth mechanisms

[2015-02-24 23:40] hmoore-r7 commented on #4841
Solving this would require adding options to prefer NTLM over Basic and allowing non-200 response codes to indicate success.

[2015-02-25 02:20] wvu-r7 commented on #4826
Probably because it's using the ```delete``` method.

[2015-02-25 02:39] wvu-r7 commented on #4826
How's this look?

[code]

[2015-02-25 02:45] hmoore-r7 commented on #4826
Looks right, thanks!

[2015-02-25 02:47] hmoore-r7 commented on #4826
That might get weird if someone is trying to delete a different-cased version of a variable, do we use the same find_key_case() method for the setter? ([]=).

[2015-02-25 03:00] wvu-r7 commented on #4826
[code]

Looks like it. I think that's how ```set``` works:

[code]

[2015-02-25 03:08] #4826 closed

[2015-02-25 03:59] hmoore-r7 commented on #4602
Closed the PR. There are a few paths forward, but someone else will need to pick this up:
Either:
 * Remove the bins from the gemspec (since metasploit-framework as gem doesn't want nor need these) and fix the corresponding cucumber tests to pass OR...
 * Find a way to tweak the boot scripts so that the default binstubs works OR...
 * Add the binstubs workaround to msfupdate and public documentati

[2015-02-25 08:52] kernelsmith commented on #4821
ok, yeah I figured I wasn't conforming to the expected pattern, thanks for explaining the expected process, super useful.  I don't think this is really a bug, maybe a feature request at best, so Ima close

[2015-02-25 08:52] #4821 closed

[2015-02-25 20:18] kgray-r7 commented on #3952
I cannot reproduce this issue.

Here's what I tried:
Got a session on a Windows vm
Created a proxy pivot
Ran auxiliary/scanner/http/dir_scanner against an internal webtarget with no stacktrace.
Please let me know if I am doing something wrong.

[2015-02-25 23:10] #4128 closed

[2015-02-26 03:03] rwhitcroft opened #4845 "payload_inject crashes host process (e.g. notepad) on win 8.1 when payload is x64/reverse_https"
Fully patched Windows 8.1, msfupdate ran earlier today.

To reproduce (I hope):
1. Start handler with windows/x64/meterpreter/reverse_https
2. Run meterp.exe, get session, all good so far
3. Run payload_inject on the session with same payload/host/port (using existing handler)
4. Watch session half-connect and "notepad.exe has stopped working" dialog

Note that everything works fine when the paylo

[2015-02-26 03:14] joevennix commented on #4802
#4846 will allow theft of secure/HttpOnly cookies, which is enough to steal the victim's session and install through the Play Store remotely. That would be a good demo.

I don't think I will find a way around the User Agent check, so I'm going to close this out. Fixed! (kinda)

[2015-02-26 03:14] #4802 closed

[2015-02-26 20:29] coldalfred commented on #4401
sorry for my english

Thanks for doing this a reality really thanks guys if you need a testing laboratory with all OS like XP to 8.1 or server 2003 to 2010 tell me or something i can help

[2015-02-26 22:37] enigma0x3 opened #4854 "phish_windows_credentials XML output on Windows 8.1"
When running the Powershell phishing credential module on windows 8.1 without specifying a process, you get the XML below outputted. Sometimes, the XML takes over and you are unable to see the credentials.

This is because when you don't specify a process, it leaves "R{START_PROCESS}" in Invoke-LoginPrompt.ps1. I verified that this causes the unwanted output by commenting it out and running the mo

[2015-02-26 23:28] #4854 closed

[2015-02-27 10:29] OJ commented on #4845
I've just tried this on an unpatched Windows 8.1 x64 and it's working fine. Could be that patched systems are not vuln. Will update and get back to yu.

[2015-02-27 14:24] bcook-r7 commented on #4845
Thanks for the update OJ.

[2015-02-27 16:05] enigma0x3 opened #4856 "phish_windows_credentials XML output on Windows 8.1"
When running the Powershell phishing credential module on windows 8.1 without specifying a process, you get the XML below outputted. Sometimes, the XML takes over and you are unable to see the credentials.

This is because when you don't specify a process, it leaves "R{START_PROCESS}" in Invoke-LoginPrompt.ps1. I verified that this causes the unwanted output by commenting it out and running the mo

[2015-02-27 20:14] #4856 closed

[2015-02-27 20:47] todb-r7 commented on #3864
Right now, I don't see that we're missing anything with changed files for msftidy.

Note that msftidy does only care about modules, and even then, non-payload modules (IIRC there are some conventions in there that don't show up elsewhere, but could be wrong).

If there's a bug there, then let's address it, but the current, possibly hokey situation, seems good enough.

[2015-02-27 20:47] #3864 closed

[2015-02-27 23:08] OJ commented on #4845
When talking to @rwhitcroft about this on IRC it also appeared that migration wasn't working for him.

I've got a fully patched Windows 8.1 box now, here's what happens when I migrate:

[code]
Works just fine. However, the `payload_inject` is definitely not as happy:
[code]
Appears to run fine, but the session is dead:
[code]
and on the target:
![injectcrash](https://cloud.githubusercontent.com/as

[2015-02-27 23:10] OJ commented on #4845
The same thing happens with `multi_meterpreter_inject`.

[2015-02-27 23:16] OJ commented on #4845
When the chosen payload is `reverse_tcp` instead of `reverse_https` things work as expected. So it would appear that something is wrong with the https payload.

I hope to have more time to look at this later today @bcook-r7, but it won't be for another 12 hours or so.

[2015-02-28 03:03] #4669 closed

[2015-02-28 03:26] bcook-r7 commented on #4845
Good info!  I had a go at reproducing it too (it took a while to get things patched - churn churn churn went the VM) but I was able to get things working successfully, I think:

[code]

The difference is that I'm testing out a local upgrade to LibreSSL 2.1.4 (which isn't quite ready for release yet - soon!), and you may not be surprised that there could be a few memory management bugs in that area

[2015-02-28 03:31] OJ commented on #4845
What's interesting here is that you're running an x86 payload, not x64.

Iiiiinteresting..

[2015-02-28 03:32] OJ commented on #4845
Even with x86 on mine it still breaks.

[2015-02-28 14:16] bcook-r7 commented on #4845
I tried x64, it works fine as well:
[code]

[2015-02-28 14:19] bcook-r7 commented on #4845
Oh, I messed that one up - yep, session 3 (the new one) was indeed dead!

[2015-02-28 14:39] bcook-r7 commented on #4845
D'oh, I actually forgot to rebuild the x64 payload with the new SSL library. I'll update this once I get that working.

[2015-02-28 22:21] bcook-r7 commented on #4845
If I specify a different PID for payload_inject, its happy. But if I use the same process as the existing session, it is not. I can inject multiple sessions into a secondary process without issue.

[2015-03-01 18:07] rwhitcroft commented on #4845
Some more research...

Setting PID to SOME processes will work; however, if you run notepad (or calc, cmd, etc), and set PID to that process, it still dies.

I downloaded Notepad2 x64 and changed payload_inject.rb to spawn notepad2.exe instead of notepad.exe, and it works. It's also happy if you inject into vmtoolsd.exe, for example. To repeat, if you run calc, notepad, cmd, and inject into that b

[2015-03-01 19:02] rwhitcroft commented on #4845
Just realized the above will only work if the architectures match, but...

[2015-03-02 19:15] todb-r7 commented on #3804
@wvu-r7 I choose you! This seems like a no brainer, just save the current workspace to the usual ~/.msf4 file.

[2015-03-02 19:22] todb-r7 commented on #3810
I need to come up with a customer/user who actually wants this? This feature request has been hanging out here forever with not a lot of :+1: action. I think the request is valid, but I'm having a hard time prioritizing this against other features.

So... that's my action item.

[2015-03-02 19:25] todb-r7 commented on #3823
TODO:

  - [ ] Spec for 4,5, more than five digits.
  - [ ] msftidy check
  - [ ] Effect any changes needed. I want to say we already tackled this but I don't recall seeing a spec for it.

[2015-03-02 19:32] todb-r7 commented on #3842
So, the tarball download is no longer available on http://www.rapid7.com/products/metasploit/download.jsp , and the GitHub release tarballs now expand to whatever the version number is.

Right now, only the binary installers use `/opt/.*/msf3` afaik. I'll bug them to change this some day.

[2015-03-02 19:32] #3842 closed

[2015-03-02 19:34] todb-r7 commented on #3854
Yes, someone should write this post module. :)

[2015-03-02 19:46] todb-r7 commented on #3862
This feels like it should be ~easyish, maybe just an update to what AutoRunScript expects as an argument. The theory is that we had no local exploits to take advantage of this.. and now we do. Might be but a regex change away.

[2015-03-02 19:49] todb-r7 commented on #3863
This all works for me today. Huzzah!

[2015-03-02 19:49] #3863 closed

[2015-03-02 19:50] todb-r7 commented on #3863
Repro steps:

- [ ] `db_import ~/[tab]`  : expands to my local files.
- [ ] `db_import ~/.ms[tab]` : expands ~/.msf4

etc.

[2015-03-02 19:52] todb-r7 commented on #3865
@wchen-r7 I choose you!

[2015-03-02 19:57] todb-r7 commented on #3930
This needs an internal Jira ticket for GES to take a crack at -- thanks again for the report, @gudata, sorry this got dropped on the floor.

[2015-03-02 20:15] hmoore-r7 opened #4863 "MIPS (LE/BE) encoder modules are Linux only due to cacheflush system call"
Metasploit encoder modules are supposed to be compatible across all operating system for the specified architecture. The use of the cacheflush system call in the mips{be,le}/byte_xori and mips{be,le}/longxor modules makes these Linux specific. We need some way to make sure that only Linux exploits and payloads use these modules (tags, etc).

[2015-03-02 20:16] jlee-r7 commented on #4863
is that syscall strictly necessary?  Better would be to make them platform-agnostic than to try to ensure platform consistency

[2015-03-02 20:19] hmoore-r7 commented on #4863
Apparently flushing the icache is tricky. On AIX and Mac OS X PowerPC, it was much cheaper (and less nulls) to use a static library function than the raw flush instructions, MIPS may be similar.

[2015-03-02 20:33] todb-r7 commented on #4733
I have a fantasy of shipping Jen Ellis' voice. Or someone else who sounds British and smart.

[2015-03-02 20:37] hmoore-r7 commented on #4863
Some quick notes on this, mostly from: http://stackoverflow.com/questions/13162464/writing-mips-machine-instructions-and-executing-them-from-c

* Newer MIPS processors support the ```synci``` instruction (2003 or newer)
* Older MIPS processors do not support user-mode cache flushing (only kernel/privileged)

For the greatest compatibility, system calls or other kernel interfaces make sense, but we

[2015-03-02 21:32] wvu-r7 commented on #3804
:(

[2015-03-03 00:16] todb commented on #3804
I suppose recovering the workspace is the real trick, and handling the case
where the workspace isn't available anymore.

--
Sent from a tiny computer.

[2015-03-03 00:57] wchen-r7 opened #4865 "undefined method `ancestors' for nil:NilClass during payload generation"
To reproduce, do:

[code]

[code]

Possible root cause:
https://github.com/rapid7/metasploit-framework/blob/2f4ad9716cce0bba14696d4a135847e74e72a1a3/lib/msf/core/payload_generator.rb#L303

[2015-03-03 01:22] wchen-r7 opened #4866 "Msf::Payload::Generic does not handle --platform for msfvenom"
An example:

[code]

Here's what you actually need to do to pass that information:

[code]

But you will get another error, a different bug (filed separately). But by passing the datastore option, you should see that value in Msf::Payload::Generic.

I can't decide if this is actually a bug or not. It feels like --platform should set that for me.

[2015-03-03 01:32] kernelsmith commented on #4733
I vote for Homer Simpson

[2015-03-03 02:36] wvu-r7 commented on #3804
@jlee-r7 showed me the ```WORKSPACE``` datastore option, but it's really not as ideal as it sounds.

[2015-03-03 14:34] ghost opened #4867 "windows rc4 network payload bug + fix"
There is a bug in the rc4 network decoder in the following file :

msf3/external/source/shellcode/windows/x86/src/block/block_recv_rc4.asm

`# diff block_recv_rc4.asm block_recv_rc4.asm.patched`
`29c29`
`<     lea ecx, [esi+0x00]  ; ECX = stage length + S-box length (alloc length)`
`---`
`>     lea ecx, [esi+0x100]  ; ECX = stage length + S-box length (alloc length)`

[2015-03-03 15:32] shuckins-r7 opened #4868 "db_connect does not inform user of db_disconnect requirement"
If you are already connected to a DB, the db_connect command won't actually connect. Output of the command, as well as help text, do not indicate this to the user in any way. IMO we should disconnect first when connect is run. Prompt the user to confirm for extra kindness points.

## Steps to reproduce
[code]

## Connection string
[code]

### yaml
[code]

### Help text, help more!
[code]

[2015-03-03 15:57] bcook-r7 commented on #4866
Setting --platform satisfies the principal of least-surprise. I agree!

[2015-03-03 19:47] Meatballs1 opened #4869 "Meterpreter and Large PIDs"
Trying to use payload_inject but was getting some invalid PID error.

The machine had probably been up a long time as the PIDs generated were > 102496. Even specifying a pid in the payload_inject module did not work.

Is the PID value being treated as an int rather than a uint or not a large enough datatype?

[2015-03-03 19:48] Meatballs1 commented on #4869
Prod @OJ

[2015-03-03 20:30] Meatballs1 commented on #4869
Don't think its an x64 issue as system was only x86.

[2015-03-03 20:31] Meatballs1 commented on #4869
Looks like its being handled properly as a DWORD in meterpreter and ruby source, so not a clue.

[2015-03-03 20:38] OJ commented on #4869
That does look strange. We have another issue with `payload_inject` on fully patched Windows 8.1 too https://github.com/rapid7/metasploit-framework/issues/4845 However I doubt it's related.

[2015-03-03 20:39] Meatballs1 commented on #4869
Or isit due to being on x86 and the HANDLE is being cast as a QWORD?

[code]

[2015-03-03 20:39] OJ commented on #4869
_THAT_ looks fishy :)

[2015-03-03 21:36] wvu-r7 commented on #4868
[![Help computer](https://img.youtube.com/vi/UE_czPc7o5Y/0.jpg)](https://www.youtube.com/watch?v=UE_czPc7o5Y)

Help computer.

[2015-03-04 03:24] wchen-r7 opened #4872 "Handler says I'm sending the stage to myself"
This appears to be a minor issue, I just think it's a little weird.

Please do this:

1. Generate a windows/meterpreter/reverse_tcp executable with msfpayload or msfvenom
2. Drag and drop the executable to a Windows machine
3. Start msfconsole
4. Set up a multi-handler for windows/meterpreter/reverse_tcp
5. Double-click on the executable to get a shell
6. Pay close attention to what msfconsole say

[2015-03-04 03:26] bcook-r7 commented on #4872
No proxy?

[2015-03-04 03:27] wchen-r7 commented on #4872
No.

[2015-03-04 03:49] OJ commented on #4872
Is the victim a VM on the same machine and you're using NAT?

[2015-03-04 03:56] wchen-r7 commented on #4872
Oh!

Oops, yeah I just noticed I've been on NAT the whole time. Usually I'm on bridged.

I should close this now. There's nothing wrong.

[2015-03-04 03:56] #4872 closed

[2015-03-04 03:57] OJ commented on #4872
[code]

[2015-03-04 04:34] bcook-r7 commented on #4872
Nice!  I've got stockholm/virtualbox syndrome and didn't expect NAT to work correctly to the host from the VM :)

[2015-03-04 17:21] bcook-r7 commented on #4845
Testing this again today, the crash consistently happens in the stager shellcode. Specifically when it calls InternetReadFile:

[code]

[2015-03-04 19:18] kernelsmith commented on #4845
Obviously not important, but "reserved" is misspelled in the comment

[2015-03-04 19:24] wvu-r7 commented on #4845
@kernelsmith: Clean reserverrdrerderdrdedrdrdedrddrrrrrrrrrrrrrr space.

[2015-03-05 16:30] dmaloney-r7 commented on #3854
@todb-r7 yeah ntdsutil is great, but unfortunately only works in newer Server OSes. It actually invokves shadowcopy for you on the backend, and pulls the exact things you need to replicate the DC. As an added benefit, it actually properly disconnects the ESEDB in ntds.dit so that it can be properly accessed offline, whereas just doing shadowcopy leaves ntds.dit in a bad state that will require add

[2015-03-05 16:36] todb-r7 commented on #3854
Given the examples and docs referenced on the PR, seems like it'd be straightforward to implement, thus the `newbie friendly` tag.

[2015-03-05 16:47] dmaasland opened #4879 "SMB Server Share not working"
Hello,

I'm trying to get the new SMB Server Share to work (include Msf::Exploit::Remote::SMB::Server::Share), but I'm having some troubles. Some context, i'm writing an exploit for software that needs to retrieve the payload via SMB (no webdav). The problem is that this fails. When copying the UNC to the victim windows machine's "Run" dialog, the executable is downloaded succesfully.

I've hosted

[2015-03-05 17:10] dmaloney-r7 commented on #3854
@todb-r7 my concern is that doing this we need some sort of paradigm in place for post modules to declare version compatibility, so people do not try to use it on a 2003 server. Something we'd have to probably deal with eventually anyways,

[2015-03-05 17:10] jvazquez-r7 commented on #4879
QUERY_FS_INFO requests are not supported atm. If you can provide the code for the module you're trying to run, and how to reproduce the test we can work on the feature. thanks!

[2015-03-05 17:57] todb commented on #3854
I know today there are lots of post modules that do some version checking.
It's pretty much up to the post module in question, since there are lots of
things to look for. `grep -ril verison modules/post/` is pretty accurate.

On Thu, Mar 5, 2015 at 11:10 AM, dmaloney-r7 <notifications@github.com>
wrote:

--
"Tod Beardsley" <todb@packetfu.com> | 512-438-9165 | @todb
   Such coin, plz send: D98vwYv9

[2015-03-05 19:48] shuckins-r7 opened #4881 "workspace command list output should be helpfully ordered"
The workspace command lists workspaces without any helpful order. I think sorting by last updated would be helpful.

[That command](https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/ui/console/command_dispatcher/db.rb#L201) uses [this method](https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/db_manager/workspace.rb#L31). This simple change should work swimmin

[2015-03-05 20:09] jvazquez-r7 commented on #3862
Apparently the capability is already available :-)

[code]

It has been available since May 2014 apparently : https://github.com/rapid7/metasploit-framework/commits/master/lib/msf/base/sessions/scriptable.rb

closing!

[2015-03-05 20:09] #3862 closed

[2015-03-05 20:30] #4881 closed

[2015-03-05 21:27] Meatballs1 commented on #4879
I'm trying to update my NVidia mental ray exploit but hit the following. Target device is a standard Windows 7 x86/x64 build.

[code]

[2015-03-05 21:30] Meatballs1 commented on #4879
It looks like generate_payload_dll is returning nil in the primer :/

[2015-03-05 21:37] Meatballs1 commented on #4879
Hmm the auto detection of the arch payload wasn't working, needed to set it manually

[2015-03-05 21:38] Meatballs1 commented on #4879
Still get Unknown SMB_COM_TRANSACTION2 subcommand:10 errors and  Uknown SMB command 71, ignoring...

[2015-03-05 22:23] FireFart opened #4885 "HTTP Client Basic Authentication"
When looking at https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/exploit/http/client.rb#L49 a USERNAME and PASSWORD advanced datastore option are added to HTTP client. When i type 'show advanced' the options are missing.

I tested it with `exploit/unix/webapp/wp_admin_shell_upload` which includes `Msf::Exploit::Remote::HttpClient` via the wordpress mixin.

I currently need b

[2015-03-05 22:26] FireFart commented on #4885
A crap the USERNAME and PASSWORD option are redefined in the module (like in many other modules too), my fault.
What do you think should we rename the datastore options?

Use Case: Site is protected via Basic/NTLM authentication via the webserver, but the webapp needs a seperate login after the webserver auth is done (which is the case on my side)

[2015-03-05 22:30] FireFart commented on #4885
Another example is `auxiliary/dos/http/wordpress_long_password_dos` which uses a USERNAME datastore option and thus disables the basic authentication functionality.

[2015-03-06 00:42] ghost opened #4886 "SSH Key Grab Fail"
When `post/multi/gather/ssh_creds` is used against a host with 16384 bit SSH key, the module fails as it seems to unable to commit it to database. PostgreSQL version is 9.4.

[code]

[2015-03-06 01:38] bcook-r7 commented on #4865
[code]

[2015-03-06 02:50] #4865 closed

[2015-03-06 08:37] kernelsmith commented on #4885
I vote yes, tho I haven't looked at the full set of ramifications so it might be easier to just change the options in those two modules. IMHO the advanced options should be called HTTP_USERNAME or similar. Or some of the options look like this don't they Http::Username, like isn't Custom::Exe an option? Or Proxy::Username etc

[2015-03-06 14:10] jvazquez-r7 commented on #4879
@Meatballs1 because these commands aren't supported, which is expected, it isn't full SMB support, the mixin just tries to provide support to give the files (mainly payloads) over SMB.

[2015-03-06 15:57] todb-r7 commented on #4802
Just a quick update -- I've tested through the User-Agent protections that Play store is using, and it appears effective on the usual suspects: AOSP, reskinned AOSP, Maxthon, and CM.

However, while looking for a list of "most popular mobile browsers," I came across this one:

https://play.google.com/store/apps/details?id=com.decad3nce.hoverbrowser&hl=en

It's only got 5k-10k downloads, but it's m

[2015-03-06 15:58] todb-r7 commented on #4802
And now I have a 4.3 device with OEM skinned AOSP, Chrome, Firefox, Maxthon, CM, Dolphin, Opera, Opera Mini, and Hover Browser. :)

/cc @joevennix

[2015-03-06 16:11] dmaloney-r7 commented on #3854
@todb Yeah, but I'd like to see us add a paradigm for Metadata on the actual post module that allow the users to know ahead of time whether they should expect a post module to work on a given machine.

[2015-03-06 16:13] hmoore-r7 commented on #4885
This would have a huge impact (LoginScanners and other front-ends that configure these). I agree that making mixin options less generic would be great, but these won't be small changesets.

[2015-03-06 18:43] joevennix commented on #4802
Haha, wow, hooray for options. You know, I bet the attack would still work if the user has the "Request Desktop site" option checked.

[2015-03-07 13:37] oscalation opened #4889 "improvements to msfvenom semantics"
Just a couple suggestions to help improve the functionality of msfvenom.

[code]
The naming of the modules are slightly different than the actual name. encoders vs encoder
so running msfvenom -l encoder  returns an error, msfvenom -l encoders works.

The help page for msfvenom should also include

[code]

[2015-03-07 16:29] kernelsmith commented on #4889
Any interest in submitting a pull request and becoming a contributor? Since it's mainly comments it would be pretty easy

[2015-03-07 16:31] oscalation commented on #4889
Yes! Could you by chance point me to the correct location/folder/area that I would find this code to modify? or how i could attempt to find it?

[2015-03-07 17:48] void-in commented on #4889
Encoders seem right since that is how the module directory is organized: exploits, payloads, encoders, nops. Only auxiliary and post are singular.

[2015-03-07 20:08] wchen-r7 opened #4891 "Allow the user to change the name, comments, and info for a host in the hosts command"
Currently the hosts command does not allow the user to modify the name, comments, and info of a host. It would be nice to do something like that. A sort of a workaround is by using notes -a to add another note to that host for more info, but this isn't exactly the same as simply updating a host's name/comments/info.

Something like:

msf > hosts -R 192.168.1.123 -m "New comment to 192.168.1.123"

[2015-03-07 20:12] UserTaken commented on #4891
Being able to label hosts like in Armitage would be helpful.

[2015-03-07 21:44] wchen-r7 commented on #4889
@oscalation The file to modify is msfvenom: https://github.com/rapid7/metasploit-framework/blob/master/msfvenom#L69

And here's what you do:

1. Assuming you have your framework development setup like this: https://github.com/rapid7/metasploit-framework/wiki/Setting-Up-a-Metasploit-Development-Environment
2. In your metasploit directory, make sure to ```git pull``` to have the latest everything
3.

[2015-03-08 01:46] kernelsmith commented on #4889
Sorry, I started a reply then got distracted. If you're not comfortable with the excellent guidance above, you can, although it's not ideal, click "edit" on the msfvenom link which will automatically do some of what's required and allow you to submit the pull request based on changes you make in an online editor. I only bring this up because the changes are only to msfvenom comments, it's definite

[2015-03-08 20:46] hmoore-r7 opened #4895 "Comprehensively refactor Windows reverse_http stagers"
The reverse_http* stagers for Windows are a inconsistent and need to be refactored to keep things sane.

* **windows/reverse_http**:  This stager supports up to 5 byte URIs, but doesn't support specific proxies, pstore-based authentication, or SSL.

* **windows/reverse_https**: This stager supports up to 5 byte URIs and SSL (with invalid certificates) but doesn't support specific proxies or pstore

[2015-03-08 20:53] mubix opened #4896 "PrependMigrate with reverse_https using web delivery"
[code]
Results in:
![image](https://cloud.githubusercontent.com/assets/679319/6547613/43cf7810-c5b3-11e4-98b7-fd7f742f456a.png)

[2015-03-08 20:57] mubix commented on #4896
reverse_tcp works just fine

[2015-03-08 20:58] OJ commented on #4896
It would seem that we're starting to see a few cases where the `_http(s)` payloads are failing when the `_tcp` payloads don't. Another example is the issue with `payload_inject` https://github.com/rapid7/metasploit-framework/issues/4845

[2015-03-08 21:02] hmoore-r7 commented on #4896
@mubix What operating system?

[2015-03-08 23:18] mubix commented on #4896
Windows 7 x64

[2015-03-09 01:02] hmoore-r7 commented on #4895
On Windows 7+ 64-bit, process injection with reverse_https has been found to be buggy, the two open tickets for this are #4896 and #4845.

[2015-03-09 01:22] hmoore-r7 commented on #4845
Snagging this since I am looking at #4896 as well

[2015-03-09 01:25] hmoore-r7 commented on #4845
Talking with @rwhitcroft about this, the crash is happening in a memcpy() due to what looks like an invalid destination pointer. Maybe our lpBuffer is getting corrupted?

[2015-03-09 05:19] void-in commented on #4889
I might be misunderstanding something but -l option is to list all the modules of a specific type. So msfvenom -l encoders seem more appropriate since it is listing all the encoders and not a single encoder. It reads "list all encoders". Same goes for payloads. The module directory is organized as payloads/, encoders/, nops/ as well.

[2015-03-09 12:41] andyschmidt opened #4897 "Wrong definitions of kernel32!Interlocked functions in railgun"
On Win7 (i386) the 'Destination' parameter of the kernel32!InterlockedCompareExchange function is not an 'inout' parameter, like msdn documentation wrongly says. Instead it should be defined as follows:

[code]
same for the 'Target' parameter of kernel32!InterlockedExchange:

[code]

[2015-03-09 15:41] bcook-r7 commented on #4896
I tried this on a pre-Nov2014 (KB3000850) update with Windows 8.1 x64 and did not see the issue. It sounds similar to #4845:

[code]

[2015-03-09 17:21] rwhitcroft commented on #4845
Not sure if this is helpful - I've reached the end of my limited windbg abilities.

[code]

[2015-03-09 18:40] wchen-r7 commented on #4891
A poc:

[code]

[2015-03-09 19:19] bcook-r7 commented on #4896
I was wrong, wasn't using PrependMigrate. Why don't things like this show up with 'show options' ?

[2015-03-09 19:54] hmoore-r7 commented on #4896
show advanced / show evasions

[2015-03-10 17:10] hmoore-r7 commented on #4340
Still seeing this in master, the easy way to reproduce is via msfconsole -x:
[code]

[2015-03-10 19:02] hmoore-r7 opened #4905 "Invalid stager+stage combinations result with http stagers"
Our reverse_http(s) stagers include the ```sockedi``` and ```http``` or ```http``` tags in their ```Convention``` field. This allows them to match stages that support either one of these options. These stagers do **not** place a socket into the ```EDI``` register, which means combinations like ```windows/shell/reverse_http``` will simply crash if used.

The obvious fix is to remove ```sockedi``` f

[2015-03-10 19:34] wvu-r7 commented on #4868
Fixed in #4868.

[code]

[2015-03-10 19:34] #4868 closed

[2015-03-11 05:53] #4905 closed

[2015-03-11 12:10] Meatballs1 opened #4908 "Add detailed logging to post modules"
It would be useful to be able to have a full audit of actions taken when doing testing. Currently I dont think actions performed by post modules are logged, only the fact that a post module has been run.

Could do this by adding logging actions in Msf::Post::\* mixins, or perhaps by hooking all meterpreter calls directly?

[2015-03-11 19:33] FireFart opened #4910 "x64 cachedump and lsa_secrets bug"
Haven't verified it but it looks like we should adress this issue:
https://www.trustwave.com/Resources/SpiderLabs-Blog/Dumping-LSA-Secrets-on-NT5-x64/

[2015-03-11 19:59] jlee-r7 commented on #4910
Works for me.  =/

[code]

[2015-03-11 20:01] FireFart commented on #4910
The error only happens in x64 according to the post because the offset is different

[2015-03-11 20:02] jlee-r7 commented on #4910
Oh, right.  Hmm.  I don't have a 64-bit XP or 2k3 box.  =(

[2015-03-11 20:39] OJ commented on #4910
It looks like @Meatballs1 pointed them at the lsa_dump feature in kiwi
which should tie them over.

I'll see if I can find time for this later today.

[2015-03-11 20:41] FireFart commented on #4910
@OJ that would be great

this should be the lines we are dealing with:
https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/lsa_secrets.rb#L62
https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/cachedump.rb#L52

[2015-03-11 20:44] Meatballs1 commented on #4308
Resolved in https://github.com/rapid7/metasploit-framework/pull/4316

[2015-03-11 20:44] #4308 closed

[2015-03-11 20:46] Meatballs1 commented on #4910
Fix https://dev.metasploit.com/redmine/issues/8812 whilst you're at it? :D

[2015-03-12 07:57] hmoore-r7 commented on #4896
@mubix Can you retest this from the #4918 PR branch? ```PrependMigrate``` was horribly broken.

[code]

[2015-03-12 09:54] EastL commented on #4602
I got this ERROR......

Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

        /usr/bin/ruby1.9.1 extconf.rb
/usr/lib/ruby/1.9.1/rubygems/custom_require.rb:36:in `require': cannot load such file -- mkmf (LoadError)
	from /usr/lib/ruby/1.9.1/rubygems/custom_require.rb:36:in `require'
	from extconf.rb:4:in `<main>'

Gem files will remain installed in /tmp/bundler2

[2015-03-12 14:16] bcook-r7 commented on #4896
Works for me on Windows 8.1:
[code]

[2015-03-12 15:44] hmoore-r7 commented on #4602
@EastL The issue you mentioned is unrelated to this ticket. First you would need the ruby-dev package in order to get mkmf, but note that we now require ruby 2.1.5 or newer, so please switch to RVM instead of system ruby. See https://github.com/rapid7/metasploit-framework/wiki/Setting-Up-a-Metasploit-Development-Environment for more information

[2015-03-12 18:24] disenchant opened #4920 "meterpreter on Android fails to load extensions (android and stdapi)"
I'm using _exploit/android/browser/webview_addjavascriptinterface_ with the following options:

    Module options (exploit/android/browser/webview_addjavascriptinterface):

       Name     Current Setting  Required  Description
       ----     ---------------  --------  -----------
       Retries  true             no        Allow the browser to retry the module
       SRVHOST  192.168.1.75     ye

[2015-03-12 18:26] disenchant commented on #4920
Btw. the mobile I'm testing this with is a _HTC Desire HD_ running on Android v4.0.4

[2015-03-12 19:13] bcook-r7 commented on #4920
I can check this out.

[2015-03-12 19:16] disenchant commented on #4920
@bcook-r7 awesome. Let me know if there's any missing information that might help you to identify the problem.

[2015-03-12 20:58] mubix commented on #4896
I copied all of my output, but no real need. Tested on x64 Win7, 2008, and 2012, all work with both x86 and x64 payloads (with the #4918 pull). I didn't test on x64 XP or 2003 so I will test that later tonight for completeness but I think we are good to close this as solved via that pull

[2015-03-12 21:02] hmoore-r7 commented on #4896
@mubix Thanks!

[2015-03-12 21:51] bcook-r7 commented on #4920
Well, no such luck getting the actual exploit to work, but running meterpreter via a generated APK worked without any issues. I'll try again when I can find a vulnerable firmware.

[2015-03-12 23:11] rjmolesa commented on #4830
I tried to duplicate the situation in my lab but ultimately could not reproduce the issue. However, I did confirm that it was not any of the controls that are in place preventing the full session to initiate. I did this by running the payload on a machine in my lab and the results was as I originally described. I'm not at all sure how the payload exe file has "corrupted", but that is what I'm goin

[2015-03-12 23:11] #4830 closed

[2015-03-13 00:31] hmoore-r7 commented on #4896
Fixed by #4918

[2015-03-13 00:31] #4896 closed

[2015-03-13 00:42] EastL commented on #4602
OK, thamk you!

2015-03-12 23:44 GMT+08:00 HD Moore <notifications@github.com>:

[2015-03-13 14:00] #4897 closed

[2015-03-13 16:22] hmoore-r7 commented on #4920
We had a semi-related issue with Android 5.x where stdapi wouldn't load. It resulted in a similar situation (initial session, but no commands due to missing stdapi).

[2015-03-14 00:26] timwr commented on #4920
Apologies guys! Looks like the exploit is currently only working on my 4.4.2 emulator with an old vulnerable browser. https://github.com/rapid7/metasploit-javapayload/pull/28 should fix it for older devices. Thanks for reporting :)

[2015-03-14 21:44] hdm opened #4931 "Payload size calculations should normalize the datastore first"
Payload sizes are determined by calling payload_module.new.size, this operation doesn't apply normalization to the datastore for the module's options, which results in invalid behavior.

For example, any OptBool datastore options will always be set to true, since `"false"` is truthy. The fix would be to determine whether the datastore has been normalized in the `size()` method and normalize it if

[2015-03-14 21:49] hmoore-r7 commented on #4931
A recent example of where this was a problem, commit hash 0d12ca49a7c684ed3acfc9a44c828d409e99bb9e.

[2015-03-16 03:58] hmoore-r7 opened #4933 "Make User-Agent easier to control across modules and more consistent"
Source http://blog.didierstevens.com/2015/03/16/quickpost-metasploit-user-agent-strings/

[2015-03-16 18:47] Chiggins commented on #4933
Not knowing much about the source and how options are handled, but what if Metasploit had one default User-Agent string and all modules used that, unless otherwise specified via set/setg?

[2015-03-16 18:58] hmoore-r7 commented on #4933
That is mostly the case today, but some modules redefine the default, this ticket would be to clear those defaults and rely on a consistent option (such as the one the HttpClient mixin offers).

[2015-03-16 19:15] intrd opened #4937 "Jobs mysteriously stop after a few hours running msfconsole.. (it started after last updates)"
I always used msfconsole w/ about 10 jobs loaded, exploits at ports/specific paths.. but it's not working anymore.. after a few hours running my jobs, I get the mass messages "[*] Server Stopped."
My system is Kali, I tried to download a pure ISO, update/upgrade and loaded msfconsole + my jobs .. and the same thing happens after a few hours..

Does exist any other way to write a detailed log metas

[2015-03-16 19:17] hmoore-r7 commented on #4937
Can you check ~/.msf4/logs/framework.log and see if this contains any stack traces? What server modules were you using?

[2015-03-16 19:20] kernelsmith commented on #4937
set LogLevel 5 might help?

[2015-03-16 19:24] qgrosperrin commented on #3802
I'm running into some issues using the `msfconsole -x` alternative to `msfcli` and was hoping to get some directions here on how to use it properly. In my opinion, it appears:
- 1. slower than msfcli
- 2. too verbose
- 3. the command line doesn't look very clean

Below are some details about these comments.

1.
I have noted that the `msfconsole` alternative to `msfcli` is at least two times slower

[2015-03-16 19:28] hmoore-r7 commented on #3802
It might be worth adding a command line flag to make this easier (```--msfcli```). Load times should have drastically improved if you are using master with Ruby 2.1.5.

[2015-03-16 21:18] wchen-r7 commented on #3802
The load times will be improved when @limhoff-r7 (or somebody) adds more improvements on autoload.

For the too verbose issue, you can do: ```msfconsole -q -x "your commands"```

A better way to do less typing is probably creating bash aliases or functions, maybe some resource scripts.

[2015-03-16 21:19] OJ commented on #4933
Could be fun to have a generator that generates UA strings so that each case is different :)

[2015-03-16 22:01] kernelsmith commented on #3802
I actually have a sweet solution to this (well not the verbosity part). It's not %100 ready for everyone to try, but I may have some time this week to finish it up. Would you like to helps beta test it?

[2015-03-17 10:29] qgrosperrin commented on #3802
The `-q` option is exactly what I needed in terms of verbosity. Thanks. I should have picked that up from the help menu..

As for the execution speed, you were right suggesting the use of the latest Ruby version as I now get exec times twice as fast as before (good job on that !). However, `msfcli` is still consistently two times faster than `msfconsole`.

Is the `autoload` module part of `msfcons

[2015-03-17 12:17] intrd commented on #4937
thanks for replies..
partially solved the problem ..
apparently it only occurs when I raise my iptables rules.. my rules deny all incoming/outgoing traffic on eth0, allowing just enough.. (yes, I've allowed the ports 5432(postgre) and 7337 which are apparently used in metasploit).

if i rise up my rules, msfconsole starts to get slow, takes a long time to load.. and jobs do not work right about to

[2015-03-17 16:12] todb-r7 commented on #4340
Taking this back -- I could have sworn I've done work on this... yep! #4615 should have fixed. Bumping out the sleep timeout will catch more, or just use a proper retry loop for perhaps a really long time (20 seconds or something).

[2015-03-17 16:17] hmoore-r7 commented on #4340
Whatever the fix for this is, it should include reverting the sleep added in #4615.

[2015-03-17 16:28] todb-r7 commented on #4340
Ya I'll put together a retry loop instead of just a sleep. The sleep is distasteful.

[2015-03-17 16:31] todb-r7 commented on #4718
This is also reported in MSP-11853

[2015-03-17 18:27] todb-r7 commented on #4340
PR up, @hmoore-r7, see #4943

[2015-03-17 19:07] FireFart opened #4944 "Generate egghunter as a standalone Metasploit tool"
In exploit module you can already use egghunters via the `generate_egghunter` method.

It would be great if msfvenom could also generate egghunter shellcode and encode it if needed.

[2015-03-17 22:26] jlee-r7 commented on #4799
This looks to be superceded by #4827.  Feel free to reopen if I'm mistaken.

[2015-03-17 22:26] #4799 closed

[2015-03-18 00:44] wchen-r7 commented on #4944
You would have to turn egghunter into a payload module....... but compare to other metasploit payloads, you can't really call egghunter as one. Very interesting idea, but a little tricky to implement.

[2015-03-18 01:03] wchen-r7 commented on #4937
Just curious, which modules/jobs are you using?

[2015-03-18 05:25] FireFart commented on #4944
So what about a new "payload type" `egghunters` like encoders, payloads, nops and so on? I think the nop payloads face the same kind of problem or am I wrong?

[2015-03-18 06:29] wchen-r7 commented on #4944
Thanks for the suggestion! So you mean have another module type like encoders, payloads, nops, etc, yeah?

I think creating another module type is a viable solution, but I imagine this is heavy-duty because you will probably have to work on Framework's module caching, module loader, PayloadGenerator, msfconsole, and maybe components, etc.

How about this, I can create a standalone tool that output

[2015-03-18 06:32] wchen-r7 opened #4946 "msfvenom adds an extra newline in the new output"
Please take the following example:

[code]

As you can see, there is an extra "\x0a" at the end of variable buf. It should not be there. The problem here is that it can potentially mess with the exploit. The correct output should be:

[code]

[2015-03-18 12:22] mubix commented on #4946
Nah, that's a problem with `echo`, some versions add new lines by default:
[code]
The `-n` option of echo removes that new line:
[code]

[2015-03-18 13:00] FireFart commented on #4946
I agree with @mubix you need to add the `-n option`

[2015-03-18 14:24] wchen-r7 commented on #4946
Ah yeah, I forgot. Not an issue.

[2015-03-18 14:24] #4946 closed

[2015-03-18 16:24] hmoore-r7 commented on #4845
Verified that this still occurs with the latest stagers in master (no surprise given that the x64 reverse_https stager hasn't been touched yet).

[2015-03-18 17:07] rwhitcroft commented on #4845
This seems to fix the issue, but haven't tested it thoroughly.

Replace
`mov rax, qword ptr [rdi]` `(\x48\x8b\x07)`
with
`mov ax, word ptr [edi]` `(\x66\x8b\x07)`

I recall `bytes_read` being way too big, resulting in a bogus lpBuffer on the second call to InternetReadFile().

[2015-03-18 19:00] FireFart commented on #4944
Jeah the egghunter.rb will definitely be easier to implement when thinking of all the components that need to be changed for an egghunter payload.

Is there currently only one egghunter payload available, or are there more types we can choose of?

[2015-03-18 19:16] wchen-r7 commented on #4944
Egghunter comes from Rex::Exploitation::Egghunter, and technically speaking there's two: a Windows one and a Linux one. When you generate an egghunter you get to specify the platform and architecture, and that's about it. Like this:

[code]

So all I have to do is make sure these two arguments are configurable by the user.

[2015-03-18 19:29] wchen-r7 commented on #4944
Ok, so looks like we're ready to implement this. I'll find the time this week to get it done. Thanks!

[2015-03-18 20:35] #4845 closed

[2015-03-18 22:24] Meatballs1 opened #4952 "spec "Msfcli#engage_mode with windows/smb/ms08_067_netapi with mode C should match /Cannot reliably check exploitability./" always fails"
[code]

[2015-03-19 09:55] FireFart commented on #4944
Thanks sounds great! Maybe we can also add more egghunter payloads to choose from?

https://www.corelan.be/index.php/2010/01/09/exploit-writing-tutorial-part-8-win32-egg-hunting/
and
https://www.corelan.be/index.php/2011/11/18/wow64-egghunter/
for example

[2015-03-19 15:31] wchen-r7 commented on #4944
We can add more for sure. It will have to be in a new feature request (ticket).

Out of curiosity, is there also a reason why you want more egghunters? Something you're working on? I haven't used or seen egghunter being used since the stack buffer overflow era (also when Windows XP was popular). But most stack buffer overflows are pretty much dead nowadays. And modern memory corruption exploits re

[2015-03-19 15:34] FireFart commented on #4944
@wchen-r7 only playing around with OSCE and thought it might be useful :)

[2015-03-19 15:37] wchen-r7 commented on #4944
Oh ok I see. You know I got my OSCE too. It was some years ago. Very good course.

Yeah please feel free to create another feature request for new egghunters :-)

[2015-03-19 17:02] bcook-r7 opened #4954 "update java meterpreter to send/receive UTF-8 for filesystem strings"
See #4950 for details. Currently, testing it on OS X yields this on a unicode filename:

[code]

[2015-03-19 17:04] bcook-r7 opened #4955 "support UTF-8 filesystem input/output as much as possible with PHP meterpreter on windows"
While the PHP meterpreter works natively UTF-8 on posix platforms, it does not use the unicode functions on Windows for file I/O, so it is difficult to support multi-language. We should be able to at least convert from the native code page to UTF-8 however.

See #4950 for details

[2015-03-19 20:23] hmoore-r7 opened #4958 "Unicode files break Python Meterpreter"
As confirmed by @zeroSteiner

[2015-03-19 20:23] hmoore-r7 commented on #4958
Original discussion at #4950

[2015-03-20 02:35] #4891 closed

[2015-03-20 11:59] ZandroidX commented on #4920
Does android 4.0.4 support the corelib load library
Also, is your phone rooted? These in unison can cause active connection time outs refusing any type of outside connection into your phone.

[2015-03-20 12:01] ZandroidX commented on #4920
Also before you use ls you need to use the 'shell' command without the parentheses. From the shell you can execute super user commands. Cheers!

[2015-03-20 12:07] ZandroidX commented on #4952
What command are you typing before you get the error? Have you tried downloading an updated copy of msfcli_spec.rb?

[2015-03-20 13:26] strasharo opened #4963 "auxiliary/scanner/smb/smb_version [-] Auxiliary failed: Msf::OptionValidateError The following options failed to validate: SMBDirect."
smb_version scanner fails to execute in the default setup and throws the following error:

msf auxiliary(smb_version) > exploit -j -z
[-] Auxiliary failed: Msf::OptionValidateError The following options failed to validate: SMBDirect.

After setting the value manually to "true" it runs as expected.

msf auxiliary(smb_version) > set SMBDirect true
SMBDirect => true
msf auxiliary(smb_version) > explo

[2015-03-20 14:36] void-in commented on #4963
The default value of SMBDirect is true. You must have configured it as false in setg that is why you are getting this error. Do the following:

msf auxiliary(smb_version) > unsetg SMBDirect

Then configure the module option RHOSTS and any additional parameters. Before you run the module, run show options and show advanced and look at all the parameters.

Also aux modules are not exploits so use ru

[2015-03-20 15:53] #4963 closed

[2015-03-20 16:05] wchen-r7 opened #4966 "The -r option in msfconsole should say if it can find the resource script or not"
When using the -r option in msfconsole, if it can't find the resource script, it should say something about it. Currently here's what happens:

[code]

One example I think it should check is because sometimes when I check out somebody's pull request, they might not have their branch up to date, and then I can't use scripts/resource/auto_win32_multihandler.rc because it's not there... but it leaves

[2015-03-20 16:32] mubix opened #4967 "Multiple problems in Logging"
3 main issues:
### Issue 1 - Confusing logging options

There is `ConsoleLogging`, `LogLevel`, `SessionLogging` and `TimestampOutput`. There isn't a real clear idea of what "LogLevel" does or effects. Why is there a split from console and session logging? Shouldn't output just be hooked into a log if the user wants no matter what type (puts/print_*).

**Suggested fix**: simplify down to two option

[2015-03-20 18:31] wchen-r7 commented on #4967
@mubix SessionLogging is working for me.

[code]

Each session should be a log file found in ~/.msf4/logs/sessions

[2015-03-20 18:38] wchen-r7 commented on #4966
Turns out it's already checking, just too quiet.

[2015-03-20 18:54] #4966 closed

[2015-03-20 21:40] reider-roque opened #4971 "`msfconsole -o test.txt` leads to crash"
Platform/Version information:
[code]

Bug:
[code]

[2015-03-20 22:13] reider-roque opened #4973 "reload_all doesn't load payloads when msfconsole started with --defer-module-loads flag"
Platform/Version information:

[code]

For example the following command leads to the _'[-] Exploit failed: A payload has not been selected.'_ error:

[code]

[2015-03-21 03:39] #4958 closed

[2015-03-22 08:50] andreevpix opened #4979 "Help please! :("
root@kali:/usr/share# service postgresql start
[ ok ] Starting PostgreSQL 9.1 database server: main.
root@kali:/usr/share# service metasploit start
[ ok ] Starting Metasploit rpc server: prosvc.
[....] Starting Metasploit web server: thin/opt/metasploit/apps/pro/vendor/bundle/ruby/2.1.0/gems/bundler-1.8.5/lib/bundler/dsl.rb:62:in `gemspec': There are no gemspecs at /opt/metasploit/apps/pro/msf3. (

[2015-03-22 10:42] void-in commented on #4979
Use https://community.rapid7.com for community support. This is the issues page for reporting bugs.

[2015-03-22 11:00] OJ commented on #4979
+1 @void-in. @andreevpix please use the link provided above.

[2015-03-22 11:00] #4979 closed

[2015-03-22 14:33] disenchant commented on #4920
@ZandroidX It's definitely not the connection itself that's causing the problem as _shell_ sessions work but _meterpreter_ sessions fail. For your second comment, this doesn't work as `shell` is also part of _stdapi_ and as described, this can't be loaded.

Anyway, I'm positiv that @timwr's fix in will address this issue and hope it gets merged soon.

[2015-03-23 02:51] #4920 closed

[2015-03-23 19:11] wchen-r7 opened #4986 "fingerprint_user_agent in HttpServer does not detect IE11 on Win 8.1"
When testing again IE11 on Win8.1, the fingerprint_user_agent method will return HttpClients::UNKNOWN.

The user-agent that IE11 returns is this:

[code]

[2015-03-23 19:14] wchen-r7 commented on #4971
Confirmed backtrace.

[2015-03-23 19:33] fuzzygreenass opened #4987 "NameError undefined local variable or method `payload_exe' in exploit/windows/antivirus/ams_xfr"
Module exploit/windows/antivirus/ams_xfr generates the following error on use:
Exploit failed: NameError undefined local variable or method `payload_exe' for #<Msf::Modules::Mod6578706c6f69742f77696e646f77732f616e746976697275732f616d735f786672::Metasploit3:0x00000013f303a0>

I believe that there have been similar errors on other module. Thank you

[2015-03-24 05:21] #4944 closed

[2015-03-24 05:54] #4987 closed

[2015-03-24 06:17] wvu-r7 commented on #4971
Confirmed here, too.

Doesn't blow up with GNU Readline:

[code]

[2015-03-24 12:55] pyrohaz4good commented on #4895
Thanks for adding on "Implement control over User-Agent and other settings"

[2015-03-24 13:00] pyrohaz4good commented on #4933
@hmoore-r7 Didier's post is very must the exact reason for #4984 :-)

[2015-03-24 19:04] sempervictus opened #4999 "db_nmap command save directive references a nonexistent myworkspace variable"
Example:
[code]
When there is no current module context, there is no myworkspace variable, and bad things happen.
My quick hack was to refence myworkspace as framework.db.workspace from the command dispatcher, but i figure there's a more elegant solution buried in the DB changes i've not caught up on.

@wvu-r7: This is what i mention in #4995

[2015-03-24 19:39] wvu-r7 commented on #4999
Hmm, not seeing this in the code, and I haven't been able to repro.

[2015-03-24 19:41] wvu-r7 commented on #4999
Can you provide more details?

[2015-03-24 19:50] wvu-r7 commented on #4999
Might have been fixed in 509ae76dc9baac5dfa69bf325be478ebd0427953.

[2015-03-24 20:10] wvu-r7 commented on #4973
A payload is a module.

[2015-03-24 20:17] wvu-r7 commented on #4973
But this looks like a real bug.

[2015-03-25 16:09] todb-r7 opened #5003 "EXIM GHOST module fixes needed"
In its current form, the module at #4956 ignores a lot of normal Metasploit Framework conventions. While it was important to get this in the hands of the users quickly and with the usual assurances that it at least works and doesn't backdoor Metasploit in the process, there are several areas that need cleanup. s.

IOW, now that it's out there, it'd be nice to bring it up to the usual standards for

[2015-03-25 16:39] madmikw opened #5005 "wp_wplms_privilege_escalation Coding Bug"
[code]

I tried 10s of websites all give the same error even though i can login manually fine

[2015-03-25 17:02] FireFart commented on #5005
@rastating can you please have a look?

[2015-03-25 17:05] FireFart commented on #5005
@madmikw do you know the wordpress version of the affected sites? Maybe you can check it by calling `readme.html` in the document root.

[2015-03-25 18:32] madmikw commented on #5005
Yes, i do know of course :) but i dnt think wordpress version is important as the exploit runs against the theme not the wordpress, but yes the sites i tried on their themes are vulnerable according to there readme they are  1.8.4.2 :) BTW untill now i have been very pleased with your exploits +1 :100:

[2015-03-25 18:49] FireFart commented on #5005
Hi @madmikw,
The first step in the plugin is to login into wordpress using the wordpress login form: https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/admin/http/wp_wplms_privilege_escalation.rb#L100
This method calls https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/http/wordpress/login.rb#L10 and checks for common wordpress cookies. As you can see, we

[2015-03-25 18:51] rastating commented on #5005
@madmikw - if it's failing to authenticate the WordPress version number may be of use as that part of the process communicates directly with WordPress rather than with the plugin. Is there anything unique you can think of about the setup e.g. the wp-login file being located in a non standard place?

[2015-03-25 18:52] rastating commented on #5005
@FireFart  - doh, you beat me to it :D hehe

[2015-03-25 21:40] rastating commented on #5005
@madmikw - on a side note - the WPLMS privilege escalation module only works for versions 1.5.2 to 1.8.4.1; version 1.8.4.2 should be patched, as far as I know.

[2015-03-26 12:29] pyrohaz4good opened #5009 "x509 certification generation in Rex:Socket:SSLTcpServer is suspicious looking"
Rex:Socket:SSLTcpServer generates a certificate based upon a random set of characters for a CN as well as a fake domain name. This looks suspicious network monitoring. There's a good blog post about this at http://www.netresec.com/?page=Blog&month=2011-07&post=How-to-detect-reverse_https-backdoors.

Fortunately the reverse_https payload allows you to specify your own PM file in advanced settings,

[2015-03-26 14:39] void-in commented on #5009
The certificate can be easily created through openssl if custom parameters are required. Everything the framework produce is randomized in order to defeat static signatures. I don't think it is easier to generate a cert with user defined CN and other parameters by setting multiple datastore options when the same can be done through the openssl in a single command and then configured in the handler

[2015-03-26 15:27] pyrohaz4good commented on #5009
Fair enough.

What about randomizing the certificate validity? It's currently statically
set to 1 week.
On Thu 26 Mar 2015 at 15:39 void-in <notifications@github.com> wrote:

[2015-03-26 16:20] hmoore-r7 commented on #5009
@pyrohaz4good We redid SSL generation last fall so that generated certificates now match default "snakeoil" certificates on common Linux distributions. You can set a global ```HandlerSSLCert``` option in msfconsole if the random default does not appeal. Marking as closed since we already addressed the main issue.

[2015-03-26 16:20] #5009 closed

[2015-03-26 16:22] hmoore-r7 commented on #5009
@pyrohaz4good The article is really out of date (expiration dates were changed a long time ago as well)

[2015-03-26 17:00] madmikw commented on #5005
@rastating  yes bro :v i can login manually via wp-login.php so no page is not moved :) and Thank you @FireFart  for the explanation and your time but as i said i have tried on diffrent sites so some where 4.1.1 and some where 3.8.5

[2015-03-26 17:10] FireFart commented on #5005
@madmikw thanks, so i think we need a request and a response from your login to trace down the error. You can remove all links mentioning the domain, username and password. We are only interested in the request params and the response headers and body.

[2015-03-26 21:44] todb-r7 opened #5012 "Authors are people, my friend!"
[code]

Eyeballed out of the authors list. These should be credited to Unknown or a person. 11 out of 1,159 unique author credits are erroneously crediting nonhumans.

Also, the author credits could use a sprucing up; many older ones are malformed and some people have slight name variations leading to bad counts.

Assigning to me, because it's grunt work, largely, but it's also `newbie friendly`,

[2015-03-26 21:45] todb-r7 commented on #5012
Note, the usual way of crediting an organization when nobody wants individual credit is like so:

[code]

[2015-03-26 22:50] Meatballs1 commented on #3878
Looking at the PCAPs the two differences are:

Impacket negotiates SMBv2, Metasploit SMBv1
Impacket negotiates NTLMv2, Metasploit NTLMv1

Its probably down to the NTLM version. Win2k8 R2 will default to use only NTLMv2 auth - but 2k8 R2 Domain controllers will allow LM, NTLM, NTLMv2 still. The domain user approach probably works due to that?

[2015-03-26 23:01] Meatballs1 commented on #3878
I think NTLMv2 is being correctly negotiated now... so probably fixed.

[2015-03-27 00:27] bcook-r7 opened #5013 "python meterpreter crashes when using native OS X 10.10 python26/27 bins"
Python meterpreter using the system python binaries with OS X 10.10 Yosemite appears to die in an ffi call enumerating the network interfaces shortly after the connection is staged. Mac homebrew Python 2.7.9 does not crash:

[code]

[2015-03-27 16:23] iwm911 opened #5017 "msfconsole with RPC API support"
Hi,

it could be great if a running msf console (started using msfconsole) could be accessible from the RPCd API.

i guess that it can be done in 1 of 2 ways (UX wise):

1. msfconsole could have a default behaviour or a command line parameter to start the RPC listener
2. msfrpcd could list other running instances of msfconsole and meterpreter sessions

any thoughts?

[2015-03-27 17:07] reider-roque opened #5018 "`wmap_modules -l` and `wmap_modules -r` commands lead to errors"
Platform/Version information:
[code]
After loading wmap module *every first* call of `wmap_modules -l` and *every* call of `wmap_modules -r` produce errors:
[code]

[2015-03-27 20:10] reider-roque opened #5022 "Several auxiliary scanner modules produce error "column web_vulns.category does not exist""
Platform/Version information:
[code]

I stumbled upon this error while exploring the *wmap* plugin. The following command sequence initiates scanning of OWASP Mutillidae webapp. The output contains four *'column web_vulns.category does not exist'* errors:
[code]

Apparently those errors are produced by the modules when they can't add found vulnerabilities into the DB (`wmap_vulns -l` returns no ou

[2015-03-28 10:35] madmikw commented on #5005
@FireFart can you please be more specific ?

[2015-03-28 11:58] rastating commented on #5005
@madmikw - we need to have a look at the data that goes back and forth from your browser to identify what is different on the sites you are testing against. If you check out the proxy @FireFart mentioned (http://portswigger.net/burp/proxy.html) this should let you capture the data and then provide it to us. But as @FireFart mentioned - remove any addresses and credentials before posting it publicl

[2015-03-28 15:35] FireFart commented on #5005
thx @rastating for the explanation :)

Wireshark can only be used when talking to non SSL sites.

You can also set the PROXY option in metasploit to `http:localhost:8080` with burp running to tunnel all traffic through burp. This should also be enough to analyze why this exploit fails on your side

[2015-03-29 00:04] evoltech opened #5025 "msfpayload/msfvenum Exec format error"
On Head (commit ef8c0aac6910e13bd866d91894cf0f089717a9ae) there is an issue with the payloads generated from msfpayload/msfvenum:

[code]

I am running on a 64 bit system:
[code]
Any help would be appreciated.

[2015-03-29 00:45] wchen-r7 commented on #5025
You are trying to output it as raw, but the format should be exe.

With msfvenom, make sure you specify ```-f exe```. It is also replacing msfpayload soon.... iirc this June.

[2015-03-29 20:07] wchen-r7 commented on #5017
@iwm911 Have you tried our msfrpc-client? If you do: ```gem install msfrpc-client```, and then do: ```cd `gem env gemdir`/gems/msfrpc-client-[tab]/examples```, you will see a msfrpc_irb. That's your client.

To use RPC:

1. ```msgrpc ServerPort=23234 Pass=12345```
2. ```msfrpc_irb.rb --rpc-host 127.0.0.1 --rpc-port 23234 --rpc-user msf --rpc-pass 12345 --rpc-ssl false```

[2015-03-30 04:36] shuckins-r7 opened #5034 "AppScan import, issue with web proof"
Some more basic AppScan import issues have been fixed: https://github.com/rapid7/metasploit-framework/pull/4948

When an import has missing web proof, a stack trace results in msfconsole. MSP-12370 will cover fixing this.

[2015-03-30 05:08] 0x42424242 opened #5035 "Adding HEAD bypass support to JBoss Invoke Deploy"
JBoss has a number of administration interfaces along with known vulnerabilities. Two commonly spoken about vulnerabilities are as follows.
##### CVE-2010-0738 (HEAD Verb Authorisation Bypass)

This vulnerability is typically been talked about in context with the jmx-console. Essentially POST and GET requests require authorization however this could be bypassed by using a HEAD request instead of a

[2015-03-30 08:27] iwm911 commented on #5017
Hi,
Thanks for the comment.

i have used the RPC daemon and client in the past but it doesn't address the problem i am talking about.

i want to be able to start an attack using msfconsole, after successfully exploiting a machine and deploying meterpreter on the machine i want to be able to use the RPC API on the running meterpreter session.

the problem now is that if i will start the RPCd after

[2015-03-30 09:24] madmikw commented on #5005
Sure, iam a big lover of wireshark ;) i will sniff the traffic asap and let u know :)

[2015-03-30 10:11] timwr commented on #5017
Hi @iwm911, have you tried the msgrpc plugin? If you start msfconsole, the run ```load msgrpc```, it should start an RPC client which shares sessions, jobs etc with the original msfconsole instance.

[2015-03-30 10:17] iwm911 commented on #5017
that looks like what we are talking about.
i will look into it, Thanks!!

[2015-03-30 10:17] #5017 closed

[2015-03-30 15:50] wvu-r7 commented on #4999
Hey, closing this, @sempervictus. Lemme know if the commit works for you! If not, I can reopen. :)

[2015-03-30 17:43] todb-r7 commented on #5025
Looks like user error to me, then.

[2015-03-30 17:43] #5025 closed

[2015-03-30 18:07] limhoff-r7 commented on #3809
A proper form of search is currently predicated on us using the new cache in metasploit-cache.  The new search command could be implemented on the old Mdm::Module::Details cache, but it's simpler to do on metasploit-cache's schema.

[2015-03-30 18:10] todb-r7 commented on #3740
I marked this resolved, @jlee-r7 nope'd that, with:

And now @shuckins-r7 is assigned. What do we need to do now to get this moving? Shall I just resolve this again? Probably could use a proper use case step-through to test this anyway.

[2015-03-30 18:17] todb-r7 commented on #3791
This is resolved with the new `rb-readline-r7` gem. Hopefully we won't have to maintain that forever.

[2015-03-30 18:17] #3791 closed

[2015-03-30 18:20] todb-r7 commented on #4581
@wchen-r7 suggested closing this as a dupe of #3792, no need to track both. Sounds good.

[2015-03-30 18:20] #4581 closed

[2015-03-30 18:20] shuckins-r7 commented on #3740
@todb-r7 I don't have any updates for you here, feel free to take it away. Will likely get resolved faster than going through other prioritization routes.

[2015-03-30 18:20] todb-r7 commented on #3792
@bcook-r7 is still owning this. :)

[2015-03-30 18:27] jlee-r7 commented on #3740
My main issue is that I don't have a great way to deal with this from a UX perspective. The `creds` command is overloaded now with the new model and really has too many jobs; it has to deal with `Metasploit::Credential::Core`s, all of the various `Metasploit::Credential::Private`s and `Metasploit::Credential::Public`s, and `Metasploit::Credential::Login`s.

One way to do it is just to create a new

[2015-03-30 18:29] todb-r7 commented on #3804
bumping this. Not *quite* as easy as it sounded but still quite doable.

[2015-03-30 18:33] todb-r7 commented on #3807
Let's pretend we're a really crappy anti-virus and just signature on easy stuff for now, and enhance over time. Basically, I just want to know that when you're generating an EXE, you're not actually generating a PowerShell file or something.

[2015-03-30 18:42] todb-r7 commented on #3810
Still ought to do this. Well, someone should, anyway. :) If it's a huge missing piece you'd think some kind person from open source land would volunteer to take this on.

[2015-03-30 18:50] limhoff-r7 commented on #3811
@wchen-r7, you should be able to use module_instance.class.ancestors to get the order of Module and Class ancestors in-order to check for their version of the registered option.  The first ancestor with a default value should be the default value to use.

[2015-03-30 18:54] limhoff-r7 commented on #3811
Ok, so that won't work because register_option stores the option at the instance level and not on the owner (self.class).

[2015-03-30 18:55] todb-r7 commented on #3816
I will pull this trigger; it still annoys me every time when I see `print_debug` in production.

So, my plan now:

  - [ ] Find all print_debug's
  - [ ] Convert them to print_verbose OR drop them entirely
  - [ ] Add a msftidy check to look for print_debug in production.

Thereby outlawing it forever.

[2015-03-30 18:56] hmoore-r7 commented on #3811
+1 for a new reset command (including reset all / resetg all).

[2015-03-30 18:56] todb-r7 commented on #3820
This is already implemented. Huzzah!

[2015-03-30 18:56] #3820 closed

[2015-03-30 18:56] todb-r7 commented on #3821
Great.

[2015-03-30 21:27] FireFart commented on #3816
:+1:

[2015-03-31 02:09] mubix commented on #3811
++1

--
Sent from botnet

[2015-03-31 04:09] wchen-r7 commented on #4272
Hi guys, do you still think this is an issue caused by msfvenom? If not can I remove the label? Will keep the issue open.

[2015-03-31 04:10] wchen-r7 commented on #4326
Assigning this to myself so June 8th I will pull the trigger.

[2015-03-31 04:52] hmoore-r7 commented on #4272
I think this is the same CWD bug w/bundle & binstubs.

[2015-03-31 04:53] hmoore-r7 commented on #4272
This may be a dupe of #4602

[2015-03-31 04:55] wchen-r7 commented on #4272
That makes sense. Thanks!

[2015-03-31 05:15] wchen-r7 commented on #4380
Ok so I just tried it again, still not working for. Here's what I did:

1. I have a Windows 7 SP1 box (32-bit)
2. I copy the Win7's calc.exe in order to use it as a template
3. I generate my payload like this: ```ruby msfvenom -p windows/exec -f exe -e generic/none -i 0 -x /tmp/calc.exe -k -o /tmp/new_fake_calc.exe CMD=calc EXITFUNC=thread```
4. I copy new_fake_calc.exe to my Windows 7 box, and I

[2015-03-31 05:20] hmoore-r7 commented on #4380
The inject mode flag doesn't work with certain binaries, for what its worth.

[2015-03-31 12:07] scriptjunkie commented on #4380
Don't use win7 calc. It has weird DRM stuff in it. Try this as an experiment. Copy Win7's calc from system32 to the desktop (No changes). Double-click it. It won't run.

[2015-03-31 12:11] scriptjunkie commented on #4380
I don't know for sure if calc's weird behavior is related to warbird, but that's what I'm assuming. http://thisissecurity.net/2014/10/15/warbird-operation/

[2015-03-31 15:58] evoltech commented on #5025
Thanks!  That was the answer.

[2015-04-01 03:19] wvu-r7 commented on #3823
What exactly do we want spec'd? This seems really vague.

[2015-04-01 06:20] void-in commented on #5018
What you are experiencing is not wmap plugin error but rather uninitialized constant errors in two modules that were reported earlier. Error in the first module i.e. Metasploit3:BruteforceTask was reported in https://github.com/rapid7/metasploit-framework/issues/4407. As per @wchen-r7 comments, running db_rebuild_cache command should be able to resolve.

The other error i.e. SocialEngineering was

[2015-04-01 07:16] void-in commented on #4471
@wchen-r7 Is this still a bug? I am not able to reproduce it on the latest version of Kali using msf github clone.

[2015-04-01 13:34] Meatballs1 commented on #4820
This takes two steps.

First step, inject into a signed process. This requires correct DLL (x86/x64) but is determined by module
Second stage, place DLL into correct folder (DLLHijack). The payload must match the system arch. In this case it has been correctly specified as x64. As such it is executing correctly and he is getting a shell back.

So unless the PAYLOAD being sent back isn't as specifi

[2015-04-01 13:46] Meatballs1 opened #5048 "Binding HTTPServer (Non SSL) and reverse_*https to same port doesn't give a warning"
## Repro
# use exploit/multi/script/webdelivery
# set payload windows/meterpreter/reverse_winhttps
# set SRVPORT 80
# set LPORT 80

Expected result - should give an error telling you that you have attempted to register both an SSL and a Non SSL handler on the web server.

Actual result - handler runs. When you attempt to access it over HTTP your connection will reset after sending  the HTTP reques

[2015-04-01 14:46] wchen-r7 commented on #4471
I'm not sure, I will have to double check. Thanks for the info.

[2015-04-01 15:42] wchen-r7 opened #5049 "Support more languages like PhpEXE"
This is a feature request.

PhpEXE is a mixin that allows exploit devs to create a PHP stager that can write and execute the actual payload (native or whatever). It would be nice to support other commonly used languages such as ASP and JSP, because sometimes you can't always use PHP.

[2015-04-01 15:50] kernelsmith commented on #5049
![php_russia](https://cloud.githubusercontent.com/assets/620129/6945068/d7f3f91a-d85c-11e4-9583-53fd41e04f8b.png)

[2015-04-01 18:23] g33xter opened #5053 "Banner error"
I'm getting this error after executing 'banner' cmd.

[2015-04-01 18:39] wvu-r7 commented on #5053
Not seeing this. Can you provide more details about your setup?

[2015-04-01 18:39] todb-r7 commented on #5053
Looks like Kali

[2015-04-01 18:41] todb-r7 commented on #5053
pre-emptively deleting your screenshot @g33xter, i suspect infoleak

[2015-04-01 18:42] g33xter commented on #5053
Yea, it is kali linux 1.1.0‎ Moto. After updating today I'm getting that error. 

[2015-04-01 18:45] g33xter commented on #5053
What? Info leak?

[2015-04-01 18:45] todb-r7 commented on #5053
The bug implies that you either do not have a logos_directory, or you don't have permissions for it. Are you running as root, as is normal in Kali-land?

[2015-04-01 18:47] todb-r7 commented on #5053
Talking about the infoleak will further exacerbate the infoleak. :) Just look at your screenshot carefully. Also, testing on Kali right quick.

[2015-04-01 18:48] g33xter commented on #5053
I do have a logos directory & even I've my own banners in that directory. And yea I'm running as a root.

[2015-04-01 18:51] g33xter commented on #5053
The other day metasploit gems were giving error because of ruby 2.1.x. As in new gems will nit run on 1.9.x.

[2015-04-01 19:21] after100 opened #5055 "Metasploit Community rpc server not starting on Kali 1.1.0a"
Typing `go_pro` does not appear to actually start the appropriate services on Kali Linux.

**OS:** Kali 1.1.0a x64
**Metasploit:** Stock & Updated (4.11.1-2015031001 & 4.11.1-2015032401)

**Error:**
[code]

* Started both services (postgresql & metasploit)
* ran go_pro
* waited about 10 mins
* ran go_pro

...not starting.

## 4.11.1-2015032401
* Installed

[code]

[2015-04-01 19:37] todb-r7 commented on #5053
What version are you on? I'm unable to reproduce. What does `version` say?

[2015-04-01 19:45] todb-r7 commented on #5055
I updated the title to be a little more specific, since this seems to be the ultimate problem here:

[code]

Verifiable by your descriptions, @after100 . Thanks for those.

[2015-04-01 19:46] todb-r7 commented on #5055
/cc @cdoughty-r7 looks like a packaging issue?

[2015-04-01 19:50] todb-r7 commented on #5053
FWIW the latest I have on Kali is: v4.11.1-2015032401

Though I suspect the 64-bit version is being built now.

[2015-04-01 20:27] reider-roque commented on #5018
Rebooting resolved both issues. I didn't try running `db_rebuild_cache`.

Still requiring a reboot because after an applied update prosvc is not being restarted (as noted in #4734) is a bug. This is normal on Windows, but is a bad form on Linux.

[2015-04-01 20:44] todb-r7 commented on #5055
Reproduced here, on a 8GB, 4proc Kali VM:

[code]

[2015-04-01 21:18] wchen-r7 commented on #4471
@void-in I reproduced this w/ an older Kali image I have (2015013101, so about Jan 2015)

[code]

I didn't try git clone .

[2015-04-01 21:25] wchen-r7 commented on #4471
@void-in is your kali on Ruby 2.x? Mine is on 1.9.3 and I wonder if this is a Ruby related issue.

[2015-04-01 21:29] wchen-r7 commented on #4471
If I add ``require 'recog'``` to /usr/share/metasploit-framework/lib/msf/core/exploit/smb.rb, I can get it work. So I guess I'll just do that.

[2015-04-01 21:43] todb-r7 commented on #5055
Say @after100, did you happen to dist-upgrade on Kali?

I'm wondering if there's some fail there. I'm going to try a fresh install from latest ISO to see if it still happens.

[2015-04-01 21:54] todb-r7 commented on #5055
FWIW, I'm on Kali 1.0.9, dist-upgrading to 1.10. Since the regular "install latest Kali and latest packages" tests haven't come across this in house, I'm betting there's a dependency that's getting bent out of shape on the dist-upgrade.

[2015-04-01 22:37] todb-r7 commented on #5055
Okay, freshly dist-upgraded, no other touching, and `go_pro` works for me on the latest Metasploit packages.

[code]

My last tests, I definitely had some funny local configs while experimenting around with http://r-7.co/MSF-DEV.

@after100, this seems like a local platform problem. Closing as can't reproduce. Do comment here if there's more to this story, though.

[2015-04-02 02:45] g33xter commented on #5053
My kali linux is 1.1.0 & my metasploit version is 4.11 which is pulled from git.

[2015-04-02 05:29] void-in commented on #5053
Can't reproduce at my end as well. Kali latest x64 and git fetch upstream.

[2015-04-02 05:34] void-in commented on #4471
@wchen-r7 I suspect this is a ruby issue then because I am using ruby 2.1.5. Thanks a lot for taking care of it. I wish users update to ruby 2.1.5 because 1.9 is so 2014!

[2015-04-02 05:35] g33xter commented on #5053
What is the ruby version you're using?

[2015-04-02 05:42] void-in commented on #5053
@g33xter Ruby version 2.1.5. I believe you are running 2.1.5 as well?

[2015-04-02 05:45] void-in commented on #5018
@reider-roque Yeah but such things don't happen often. I think this issue can be closed now.

[2015-04-02 05:45] g33xter commented on #5053
Yeah, but getting errors after executing msfconsole

[2015-04-02 05:52] wvu-r7 commented on #3804
Well, that was kinda easy. :/

[2015-04-02 07:19] after100 commented on #5055
Happens to me on both premade kali vm & iso (both x64)
+ http://cdimage.kali.org/kali-1.1.0a/kali-linux-1.1.0a-amd64.iso
+ http://images.offensive-security.com/kali-linux-1.1.0b-vm-amd64.7z

If I upgrade from 1.0.9 to 1.1.0a its fine.
Fresh install of 1.1.0a - not fine.

[2015-04-02 10:06] after100 commented on #5055
* Fresh Kali 1.1.0a install - x64 - VMware (VMware not even installed
[code]

[2015-04-02 10:17] after100 commented on #5055
* Fresh Kali 1.1.0a install - x64 - VMware (still not VMware tools installed)
* apt-get dist-upgrade

[code]

[2015-04-02 11:13] after100 commented on #5055
* Fresh Kali 1.0.9a (not 1.0.9) install - x64 - VMware (still no VMware tools installed)
** It works **
[code]

[2015-04-02 11:45] after100 commented on #5055
[code]

[2015-04-02 12:24] after100 opened #5060 "Reopening issue #5055"
**bump** issue #5055 *reopen* at @todb-r7's request.

ive added more detail - able todo it every time on a clean 1.0.9a & 1.1.0a.
bug is still there!!!

i shouldnt be so scared at running `apt-get dist-upgrade` and seeing an update to the metasploit package
this isnt the first 'bug' ive had. or the kali community
there was the whole issue of wanting ruby 2, but kali only had ruby 1.9.x...
before t

[2015-04-02 16:58] todb-r7 commented on #5060
Hi @after100 -- I'm going to paste these comments over on #5055 and reopen it. No need to open new bugs for this.

[2015-04-02 16:58] #5060 closed

[2015-04-02 16:58] todb-r7 commented on #5055
Comment from #5060 from @after100, the original reporter:

----
**bump** issue #5055 *reopen* at @todb-r7's request.

ive added more detail - able todo it every time on a clean 1.0.9a & 1.1.0a.
bug is still there!!!

i shouldnt be so scared at running `apt-get dist-upgrade` and seeing an update to the metasploit package
this isnt the first 'bug' ive had. or the kali community
there was the whole i

[2015-04-02 18:40] todb-r7 commented on #5055
So, it looks like the tldr of all this is [this comment]:https://github.com/rapid7/metasploit-framework/issues/5055#issuecomment-88785860 . @after100 is seeing issues on 1.1.0a, on both fresh install and on dist-upgrade.

From what I can see, your dist-upgrade does look fine, but that shouldn't matter anyway.

Also, FWIW, I seemed to be running into similar problems, but a VM reset and a redo of t

[2015-04-02 18:53] kgray-r7 commented on #5055
A few notes on Kali and service commands: If you run ```service metasploit start``` and run ```service metasploit status``` before those services are up and running, their status will be ```failed```. Metasploit rpc server and Metasploit worker both can take a while to start (worker taking the logest) and until both of these are started, the ```go_pro``` command will most likely time out and retur

[2015-04-02 19:07] reider-roque commented on #5018
@void-in Not happening often but still a bug. I think creating a low priority issue describing the general problem and temporary reboot solution will probably be a good move.

[2015-04-02 19:49] todb-r7 commented on #5053
Ah ha.

If you pulled metasploit-framework from git, but are still seeing messages about errors coming up in /opt/, you are almost certainly running into a mixed environment problem.

To isolate your git checkout, see: http://r-7.co/MSF-DEV, now with 100% more Kali friendliness.

This is strongly feeling like a can't reproduce problem. If you have something more on this, though, please feel free t

[2015-04-02 19:49] #5053 closed

[2015-04-02 19:53] g33xter commented on #5053
Thanks so much. I'll have look on that.

[2015-04-02 19:57] todb-r7 commented on #5053
Incidentally, when replying by e-mail, feel free to stop quoting the message in your mail client. I have to delete them from the comments every time. This ain't Outlook. :)

[2015-04-02 20:00] g33xter commented on #5053
Sorry for that.�

[2015-04-02 21:57] shibumi opened #5063 "support for ruby1.9 has ended"
Dear metasploit-team,
first of all I want to say thank you for this great piece of software.
I just want you inform that the support for ruby1.9 has ended now, there will be no security fixes or other stuff in future.

https://www.ruby-lang.org/en/news/2015/02/23/support-for-ruby-1-9-3-has-ended/

Are there any plans to port metasploit for ruby2?

best regards

Chris

[2015-04-02 22:06] OJ commented on #5063
@shibumi MSF currently requires Ruby 2 to function correctly. Most of the developers have been running it on Ruby 2 for a while already. On this machine, for example,
[code]
On my desktop
[code]

You should be able to install ruby 2.1.5 and have it run without issues. Thanks.

[2015-04-02 22:06] #5063 closed

[2015-04-02 22:11] shibumi commented on #5063
Awesome!

[2015-04-02 22:30] todb-r7 commented on #5012
Okay, the spelling oddities are going to take a while. If we land this, it at least hits what this bug is about. We can start in on the minor name misliterations and peicemeal that out just as one-off PRs.

Turns out, attribution is hard. Har har.

[2015-04-03 02:25] cstmr opened #5064 "Meterpreter:execute command failed"
When run execute -f cmd.exe -i -H, Meterpreter gave me an error:

    [-] stdapi_sys_process_execute: Operation failed: 1

What is causing this, and how to resolve it?

[2015-04-03 02:30] OJ commented on #5064
Try using `shell` instead, or adding `-c` to the parameter list.

[2015-04-03 08:48] wchen-r7 commented on #5064
if 1 is the windows error code, then it means: ERROR_INVALID_FUNCTION.

[2015-04-03 09:19] after100 commented on #5055
`"as this is not a bug tracker for general support, but specifically for bugs and feature requests."`
not a bug tracker... but bugs..........???

`"That said, I bet we could handle failures more gracefully."`
not sure if this is about this thread, or the metasploit project itself

`"At least, provide some guidance of where relevant logs live. Also, the usual community channels are offline at the m

[2015-04-03 09:20] after100 commented on #5055
### stage 1
service metasploit status
[code]

### stage 2
file: /etc/init.d/metasploit
[code]

### stage 3
/opt/metasploit/apps/pro/engine/scripts/ctl.sh start
[code]

file: /opt/metasploit/apps/pro/engine/scripts/ctl.sh
[code]

/opt/metasploit/apps/pro/engine/scripts/ctl.rb
[code]

### stage 4
find / -name 'prosvc_*.log'
[code]

### stage 5
[code]

[2015-04-03 09:41] after100 commented on #5055
### stage 1
service metasploit status
[code]

### stage 2
file: /etc/init.d/metasploit
[code]

### stage 3
/opt/metasploit/apps/pro/ui/scripts/worker_ctl.sh start
[code]

file: /opt/metasploit/apps/pro/ui/scripts/worker_ctl.sh

[code]

### stage 4
[code]

[2015-04-03 09:43] after100 commented on #5055
* saying 'it doesnt work' (without any context) to a dev does not help them or get the end users point across. both sides have no idea what wrongs. could be any number of things. (but all i have to go on is `Metasploit worker is not running ... failed!`)
* without even the option of enabling verbose tech people cant see whats wrong/cant google output (you add in a hidden easter egg to enable pony

[2015-04-03 10:43] after100 commented on #5055
* i will admit this has made it worst (will revert to snapshot)
* as i saw it being a database error i though i could drop all and get it to re-build
* didnt work

[code]

[2015-04-03 11:12] #4986 closed

[2015-04-03 15:09] jlee-r7 commented on #5064
`1` is also the generic error returned by PHP and Java meterpreters, since they don't have `GetLastError()`

[2015-04-03 20:31] kernelsmith commented on #5064
Which begs the question, is there any context you can provide?  Like maybe the type of meterpreter you're running and on what target OS?

[2015-04-03 21:01] #5012 closed

[2015-04-03 21:36] #3823 closed

[2015-04-03 21:54] #3804 closed

[2015-04-03 22:08] #4471 closed

[2015-04-04 08:27] DrDinosaur opened #5070 "Add more evasion techniques"
The project has some evasion options, but it would be better if it had more to evade detection systems.

Here is the paper I read on the topic: http://www.mcafee.com/us/resources/misc/guides/evader-users-guide.pdf

It lists some evasion options it uses. I'm not sure which ones Metasploit has or doesn't have exactly, but it would be good to add the ones it doesn't.

[2015-04-04 08:37] OJ commented on #5070
I look forward to your pull request! :dart:

[2015-04-04 08:43] DrDinosaur commented on #5070
If only I was competent enough...

[2015-04-04 08:44] OJ commented on #5070
Join the club, we've got jackets :smiley:

[2015-04-05 00:44] Mori-mori-mori opened #5073 "This search function is basically unusable, could you do something with it?"
1) Search terms' combination just doesn't work (at least as it should). Executing the line like "search cve:2009 platform:windows" produces whichever result aside from one exptected by user: logical AND of both terms.
2) Some logical search operators would helped a lot: AND, OR, NOT, REGEXP
3) Something similar to grep or less functionality inbuilt into msf console would helped a lot with these tr

[2015-04-05 00:53] Mori-mori-mori opened #5074 ""connect" command of msf console seems to be malfunctional - no output."
In case of simple command string like "connect ip_addr some_port" it just returns a string like "Connected to ip_addr:some_port" and nothing more, no repsonse/banner from http or smtp server on this port, nothing. But if you issue the "help" command after that, it actually print the output of this simple connect command, without printing the help contents; Only the second "help" command will print

[2015-04-05 15:18] rastating opened #5078 "Possible issue in HTTP lib when requesting files"
I have been working on a new module which uses a relatively simple HTTP form to request a ZIP file, however, although this works using a POC HTML file, when making the same request using ```send_request_cgi``` it fails to return a result each time and instead times out.

I've included below some information that may help in replicating / seeing the bigger picture of the environment it is happening

[2015-04-05 15:25] FireFart commented on #5078
Maybe related to this bug: https://github.com/rapid7/metasploit-framework/issues/3865

[2015-04-05 15:27] rastating commented on #5078
@FireFart - I'll try the patch proposed in the first post and see if it stops it happening; just to confirm whether or not it is the same issue. Will let you know how it goes :)

[2015-04-05 16:19] rastating commented on #5078
@FireFart - I tried patching the file but still got the same problem in the above scenario. I'll try to debug a bit further around that file to see if I can uncover anything else though

[2015-04-05 21:08] hipcrime opened #5079 "Type Mismatch from AutoPWN's list command."
Today's update provided a browser_autopwn module which does this:

[code]

[2015-04-05 21:22] hipcrime commented on #5079
Trying to run the browser_autopwn module will get a similar TypeError:

msf auxiliary(browser_autopwn) > run
[*] Auxiliary module execution completed
[*] Setup
[*] Starting exploit modules on host 192.168.1.5 ...
[*] ---
[*] Starting exploit android/browser/webview_addjavascriptinterface with payload android/meterpreter/reverse_tcp
[*] Using URL: http://0.0.0.0:80/ATcSZ
[*]  Local IP: http://192.1

[2015-04-06 02:20] rwhitcroft commented on #5074
Works fine here:
[code]

If you telnet to the host/port, do you see a banner? When you say `help` do you mean `connect -h`? The `help` command has nothing to do with the `connect` command.

[2015-04-06 04:51] void-in commented on #5079
What OS and ruby version are you using? The module is working fine on Kali with latest git fetch. Make sure you are using Ruby 2.x and then check the module.
[code]
However you are right about the second error.

[2015-04-06 07:57] hipcrime commented on #5079
Here's my Linux version:

Linux 3.18.7+ #755 PREEMPT Thu Feb 12 17:14:31 GMT 2015 armv6l GNU/Linux

And here's my Ruby version:

ruby 2.1.5p273 (2014-11-13 revision 48405) [armv6l-linux-eabihf]

By the way, AutoPWN was working correctly until MSFUpdate ran this morning (so these two errors definitely came in with some fairly recent changes).

[2015-04-06 08:18] hipcrime commented on #5079
You are right about the 'list' command.  There was some junk ("bug") in my EXCLUDE value, that was there to workaround a previous bug; so after clearing it, the 'list' command works again.  Thanks!

msf auxiliary(browser_autopwn) > set EXCLUDE ''

[2015-04-06 12:00] Mori-mori-mori commented on #5074
I'm sorry, I've got a wrong impression on how it should work. It seems that upon typing enter it connects to specified port and will await further commands typed in. So when I typed "help" after that (thinking it just hanged, or nothing happened), it actually sent it to http server, resulting in response from it ("Bad request").
But I still haven't been able to understan why "connect -i /some/file

[2015-04-06 18:37] #5079 closed

[2015-04-06 19:14] vasubesimple opened #5085 "SSH - Starting bruteforce Name Error unintialized in auxiliary/scanner/ssh/ssh_login"

[2015-04-06 19:15] vasubesimple commented on #5085
IS this a bug or some mis configuration?
Auxiliary failed: NameError uninitialized constant Net::SSH::Transport::Session::COMPAT_OLD_DHGEX
[-] Call stack:
[-]   /usr/share/metasploit-framework/lib/net/ssh/transport/session.rb:104:in `initialize'
[-]   /usr/share/metasploit-framework/lib/net/ssh.rb:186:in `new'
[-]   /usr/share/metasploit-framework/lib/net/ssh.rb:186:in `start'
[-]   /usr/share/met

[2015-04-06 19:16] wvu-r7 commented on #5085
Not enough details.

[2015-04-06 19:18] vasubesimple commented on #5085
check it now !!! what else do you need?

[2015-04-06 19:23] wvu-r7 commented on #5085
Thanks!!

[2015-04-06 19:24] wvu-r7 commented on #5085
@vasubesimple: It also helps to know what you were doing. :)

[2015-04-06 19:31] vasubesimple commented on #5085
@wvu-r7  ok just let me know ! if you need more info

[2015-04-06 19:38] rsmudge opened #5086 "disconnect with vulns?"
I loaded up Metasploit 4.11 using the latest Linux binary installer. I've noticed that nothing is written to or made available from what used to be the vulns table.

To reproduce this:

1. I exploited a Windows 2003 system with ms08_067_netapi from msfconsole
2. I typed vulns in the console. No output.

I then downloaded Metasploit Community Edition and registered for a key. I figured if I saw vul

[2015-04-06 19:53] wvu-r7 commented on #5085
Looks like ```COMPAT_OLD_DHGEX``` was removed from ```lib/net/ssh/transport/constants.rb```. Is bug.

[2015-04-06 21:12] Meatballs1 commented on #5086
Maybe related to some of @jlee-r7 changes: https://github.com/rapid7/metasploit-framework/pull/5042 or https://github.com/rapid7/metasploit-framework/pull/5036 or https://github.com/rapid7/metasploit-framework/pull/4990 ?

[2015-04-06 21:20] Meatballs1 commented on #5073
3: grep functionality exists:

`grep rmi search java`

4: are you running with a database, it speeds up the search feature afaik.

[2015-04-06 21:39] IMcPwn commented on #5070
Have you tried using a framework dedicated to evasion such as [Veil-Evasion](http:/veil-framework.com)?

[2015-04-06 21:50] DrDinosaur commented on #5070
If I'm not mistaken, I believe that is more for AV evasion. This is more
for network evasion (like IPS).

On Mon, Apr 6, 2015 at 11:40 AM, IMcPwn <notifications@github.com> wrote:

[2015-04-06 22:12] IMcPwn commented on #5070
If you're interested in network evasion, you can try a tool like [meterssh] (https://github.com/trustedsec/meterssh). I'm not sure how Metasploit as a whole could be better at network evasion besides specific payloads like windows/meterpreter/reverse_https.

[2015-04-06 22:35] necrose99 opened #5092 "Support RCE via malicious GPO"
PoC:
https://github.com/GDSSecurity/BadSamba
https://raw.githubusercontent.com/GDSSecurity/BadSamba/master/badsamba.rb

[2015-04-06 23:22] jlee-r7 commented on #5086
Repro'd with a newly recreated database. This is the stack trace in the log:

[code]

It looks like the `Mdm::Module::Detail` table isn't finished being populated by the cache rebuilder at the time it reports the session.  Waiting for the cache to finish seems to be an effective workaround.

[2015-04-06 23:56] jlee-r7 opened #5094 "ms08_067_netapi and probably others fails when run immediately after starting msfconsole"
Discovered while testing #5093, the fix for #5086
# Repro
- [ ] Set up ms08_067, `save`
- [ ] `exit`
- [ ] `msfconsole -x run`
- [ ] see it fail with a nil deref

[code]

[2015-04-07 00:36] kernelsmith commented on #5070
You might want try the evasion options. They are different for each payload/exploit etc. do 'show evasion' once u have a payload or exploit loaded. Show advanced might be helpful as well

[2015-04-07 00:41] hmoore-r7 commented on #5070
Many of the HTTP, SMB, and DCERPC evasion options have been implemented in Metasploit for many years. Take a look around first and see if there any worth adding that are still useful against modern intrusion detection systems. If you find one, model it after the existing evasion option implementation and open a pull request.

[2015-04-07 00:41] #5070 closed

[2015-04-07 00:55] todb-r7 commented on #5073
This seems like a dupe of #3809 . If it's different, ping me back and we can reopen, but any solution to #3809 looks like it'll solve this.

[2015-04-07 00:55] #5073 closed

[2015-04-07 01:18] todb-r7 commented on #5055
Thanks for chasing this down,  @after100. Again, looks like thr bug here is around handling the failed and in progress start; if you start the services then try `go_pro`, which tries to start the services again, you end up dooming the RPC server. So, we should have a more useful way to indicate status.

Btw, the IRC channel is peopled by insomniacs from several time zones. Often there's someone ar

[2015-04-07 01:20] todb-r7 commented on #5055
@kgray-r7 does that summation check out? If so we should harrass @shuckins-r7 and @cdoughty-r7 for a packaging fix for Kali to avoid this situation.

[2015-04-07 15:42] rsmudge commented on #5086
@jlee-r7 I don't know if I get to say this enough, but you're amazing with your responsiveness. Thank you.

[2015-04-07 16:00] kgray-r7 commented on #5055
@todb-r7 Yes, your summation is correct. @shuckins-r7 and @cdoughty-r7 have been alerted to this.

[2015-04-07 16:17] jlee-r7 commented on #5086
@rsmudge No worries. It was my fault anyway.  =)

[2015-04-07 17:03] #5086 closed

[2015-04-07 17:09] hmoore-r7 commented on #5094
Duplicate of #4943

[2015-04-07 17:09] #5094 closed

[2015-04-07 19:00] reider-roque opened #5099 "Meterpreter's `reg deletekey` command doesn't work"
Platform/Version information:
[code]

`reg deletekey -k keyname` doesn't seem to work (though I don't know if this is a platform specific issue; the victim is Windows XP SP2 Eng, no patches)
[code]

Also I am curious what justifies adding registry editing functionality into meterpreter itself when you can drop into the *cmd* with `shell` command and use regular Windows `reg add/delete` commands. I

[2015-04-07 19:03] #5074 closed

[2015-04-07 19:21] kernelsmith commented on #5099
It is justified because post modules need to be able to script certain functionality w/o dropping into a shell.  The shell commands are used when in shell sessions.  Additionally, resource files need to be able to script certain functionality as well, which is why it is exposed in msfconsole directly.  I don't know whey the names aren't the same, but it's probably because not everyone is a fan of

[2015-04-07 19:26] reider-roque commented on #5099
@kernelsmith, I appreciate the explanation.

[2015-04-07 19:44] bcook-r7 commented on #5099
Interesting, I'll take a look.

[2015-04-07 20:33] bcook-r7 commented on #5099
The problem isn't that delete_key is broken in meterpreter or the internal API (no modules are affected). It is that the UI is using the API incorrectly. If you pass 'HKCU\Monkey', it opens 'HKCU\Monkey', then tries to delete sub-key 'Monkey', or in effect it tries to delete 'HKCU\Monkey\Monkey'

[2015-04-08 04:15] #5085 closed

[2015-04-08 16:59] jnesta opened #5103 "Commit "da0a9f66ea93307cf2985dab3f75cf5611932cc8" breaks module "exploit/linux/http/openfiler_networkcard_exec""
Hello team - this bug is for the openfiler Metasploit module. For reference, [here is the the official documentation page](http://www.rapid7.com/db/modules/exploit/linux/http/openfiler_networkcard_exec) on the module and [here is the Github page](https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/linux/http/openfiler_networkcard_exec.rb) for it.

[This commit](https://gith

[2015-04-08 20:14] reider-roque opened #5104 "Have Meterpreter `edit` command create and open a text file if specified file doesn't exist"
Feature request.

Have Meterpreter `edit` command create and open for editing a text file if specified file doesn't exist. That's what `vim` does by default. Or perhaps add a `-c` flag for that.

For the record, now if file doesn't exist `edit` returns *The system cannot find the file specified.* error.

Platform/Version information:
[code]

[2015-04-09 01:19] reider-roque opened #5106 "Meterpreter `timestomp` command argument order"
It's more of a design flaw than a bug, but `timestomp test.txt -v` works, while `timestomp -v test.txt` silently fails. That feels awkward.

Same is true for its all other flags.

Platform/Version information:
[code]

[2015-04-09 01:40] reider-roque opened #5107 "Add module favorites/bookmarks functionality for msfconsole"
Feature request.

The amount of available modules is enormous. And sometimes it is difficult to recall the module path I'm looking for (`search` to the rescue). It'll be nice to have some kind of _persistent_ [across msfconsole restarts] favorites/bookmarks mechanism that could be used for the purpose.

Platform/Version information:

[code]

[2015-04-09 03:00] xsy418 opened #5108 "metasploit heartbleed look for help"
I want to use metasploit to test the heartbleed Information Leak
use auxiliary/scanner/ssl/openssl_heartbleed
set RHOSTS (....IP)
set RPOSTS 443
set VERBOSE true
run
but the results have some questions,it shows that
（...IP）:443 -sending Client Hello...
{
      SSL record #1
       .....
}
the above part has passed without questions
but when it comes to :
（...IP）:443 -sending Heartbeat....
NO heart

[2015-04-09 06:54] wvu-r7 commented on #5108
Not vulnerable?

[2015-04-09 07:07] FireFart commented on #5108
This means the server tested does not support the heartbeat extension. So it's not vulnerable

[2015-04-09 07:07] #5108 closed

[2015-04-09 08:58] xsy418 commented on #5108
but I have installed openssl-1.0.1 on the server ,
openssl version
openssl-1.0.1 14 Mar 2012
it should be vulnerable,

[2015-04-09 09:09] FireFart commented on #5108
try rebooting your machine. Also the application you are trying to test needs to use the ssl libraries from openssl

[2015-04-09 09:20] xsy418 commented on #5108
![1](https://cloud.githubusercontent.com/assets/11863973/7063833/93b126d4-dedc-11e4-848b-b3659b666222.png)
the above ssl libraries have any questions？

[2015-04-09 11:01] timwr commented on #5104
+1 this would be awesome

[2015-04-09 11:32] hmoore-r7 commented on #5108
Github issues aren't for support questions, try jumping on IRC (#metasploit / irc.freenode.net).

[2015-04-09 14:53] wchen-r7 commented on #5103
Is there a backtrace?

[2015-04-09 18:41] FireFart commented on #5103
@wchen-r7 maybe the `cmd` parameter is URL encoded by `send_request_cgi` and wasn't in the `url` parameter?

[2015-04-09 19:18] wchen-r7 commented on #5103
Yeah, that would be the only difference between the two commits. Need to actually download the vulnerable software and test to make sure.

[2015-04-09 19:24] FireFart commented on #5103
@wchen-r7 if that's the case, we should add the `encode_params false` parameter to all relevant changes from this commit

https://github.com/rapid7/metasploit-framework/commit/da0a9f66ea93307cf2985dab3f75cf5611932cc8#diff-b612aa6abe8a5e3a476e47624acd3879L99

https://github.com/rapid7/metasploit-framework/commit/da0a9f66ea93307cf2985dab3f75cf5611932cc8#diff-e26c2f019a718e3d7f48f7cebb0e38cbR57

http

[2015-04-09 21:53] wchen-r7 commented on #5103
Good to know, thanks!

[2015-04-10 02:00] wchen-r7 commented on #5064
@cstmr Any more info you can provide?

[2015-04-10 17:13] joevennix opened #5124 "OSX and BSD x64 payloads do not support any prepend flags"
OSX and BSD x64 payloads do not support any prepend flags. They appear to support them, since the mixins `Msf::Payload::Osx` and `Msf::Payload::Bsd` modules include them as  advanced datastore options, but in both instances, the flags are gated with an if:

    if (test_arch.include?(ARCH_X86))

It also appears that all of the x86 implementations of the prepend flags in these mixins use the exact

[2015-04-10 17:13] joevennix commented on #5124
This was noticed by @wvu-r7 in #5119, where he was able to use zsh as a workaround.

[2015-04-10 18:10] jvazquez-r7 commented on #5092
#5125 adds a module to use this technique easily from the framework, instead of having to use badsamba.

[2015-04-10 22:19] #5106 closed

[2015-04-10 22:20] #5104 closed

[2015-04-10 22:34] jnesta commented on #5103
wchen-r7 - There is no backtrack. Here is a copy paste of what happens when it fails:

msf exploit(openfiler_networkcard_exec) > show options

Module options (exploit/linux/http/openfiler_networkcard_exec):

   Name      Current Setting  Required  Description
   ----      ---------------  --------  -----------
   PASSWORD  Th1si$sXuR3      yes       The password for the application
   Proxies

[2015-04-10 22:41] wchen-r7 commented on #5103
Ok I see. Thanks. Sounds like encoding is a possible root cause.

[2015-04-11 12:04] darkoperator commented on #4602
I know it is only a couple of months but any update on when this will be fixed?

[2015-04-12 00:18] hmoore-r7 commented on #4602
This workaround may solve it for now (as part of your scripts):
[code]

[2015-04-12 00:18] hmoore-r7 commented on #4602
Alternatively, just delete the binstubs

[2015-04-12 01:36] darkoperator commented on #4602
tried that but something else is missing somewhere. Linking to the binstub did work
[code]

wonder if that would be a safe alternative

[2015-04-12 16:28] mubix opened #5128 "PoC for Dell KACE K1000"
Write up: http://console-cowboys.blogspot.com/2014/03/the-curious-case-of-ninjamonkeypiratela.html
PoC: https://github.com/steponequit/kaced/blob/master/kaced.py

[2015-04-12 17:40] joevennix commented on #5124
#### Roadmap
- [ ] Fix osx x64 prepends
- [ ] Fix bsd x64 prepends
- [ ] DRY up osx/bsd x86 prepends and shellcode

[2015-04-13 14:01] bcook-r7 commented on #5124
Thanks for looking at this Joe.

[2015-04-13 18:23] todb-r7 commented on #5055
@cdoughty-r7 , I'm going to write a real JIRA ticket for this (internally) so we can get this resolved. I'll also edit down these logs quite a bit so the history on this issue is readable without hurting your PgDn finger.

[2015-04-13 18:28] Meatballs1 opened #5134 "post/multi/gather/ssh_creds pointless without db"
This only dumps creds to the DB, and doesn't store the loot of the retrieved files.

[2015-04-13 18:29] todb-r7 commented on #4505
Okay, so, after some discussion here, this is pretty much as-designed. Rspec, in general, needs database support.

The way to fix this, notionally anyway, is to check for database connectivity, and if it's not there, complain (but not stacktrace). But testing without database support is a fairly herculean effort. Welcome to try, but the vast majority of rspec-able cases around are going to want to

[2015-04-13 18:32] todb-r7 commented on #4651
@mubix and @oj, this may well be fixed with the last overhaul of the stagers; can you verify?

[2015-04-13 18:35] todb-r7 commented on #4776
Moving this to a feature request, since I have a workaround of resizing my window and trying again. :/

Also I don't want to track resizing at all. Unless it lands in my lap.

[2015-04-13 18:38] Meatballs1 commented on #5134
Also could do with ignoring known_hosts and authorized_key files

[2015-04-13 18:46] todb-r7 commented on #4636
poke on @joevennix . If this isn't reproducable, then I'm not sure what else we can do. I'll close this in the meantime, but of @joevennix can repro, he can reopen.

[2015-04-13 18:46] #4636 closed

[2015-04-13 18:50] todb-r7 commented on #4803
So HTTP is done-ish... but it seems like there are several other protocols that may(?) have missing evasions/options. Can we audit for this? I'd love this ticket to be behind us.

[2015-04-13 18:52] todb-r7 commented on #4272
Yep, dupe.

[2015-04-13 18:52] #4272 closed

[2015-04-13 19:09] todb-r7 commented on #4967
So, issue 3 seems to work as designed, issue 2 does look like a newline bug, but issue 1 is more of a feature request to make logging more sane.

[2015-04-13 19:41] todb-r7 commented on #5055
Okay, @cdoughty-r7 , I have GES-2797 moved over now.

[2015-04-13 19:55] locoalien opened #5135 "Describe your feature request or bug report, succinctly"
If you'd like to propose a feature, describe what you'd like to see. Mock ups of console views would be great.

If you're reporting a bug, please be sure to include the expected behavior, the observed behavior, and steps to reproduce the problem. Resource scripts, console copy-pastes, and any background on the environment would be appreciated.

For tips, see http://r-7.co/MSF-CONTRIB

[2015-04-13 20:54] OJ commented on #4651
I'll check today @todb-r7 !

[2015-04-13 21:44] after100 commented on #5055
u get yelled at for not having enough info....
...and you get yelled at for giving too much. no plzing people.

[2015-04-13 21:47] FireFart commented on #4505
I use the rspecs for the wordpress mixin and when doing changes to lib methods. On my dev machine i have not set up a database (this sucks on osx) so i only want to be sure the main code specs run without failure. If we need a DB to run it in the future I'm also fine with that and I need to setup my database :)

[2015-04-13 21:49] OJ commented on #5055
/me checks the thread.

Nope, no complaints about too much information.

[2015-04-13 21:51] after100 commented on #5055
"so the history on this **issue is readable without hurting your PgDn finger.**"

[2015-04-13 22:03] OJ commented on #5055
That's not a jab. That's @todb-r7's sense of humour. Trust me, he's grateful for the extensive information you've provided and is just going to cut down to the bits that highlight the issue.

[2015-04-13 22:32] OJ commented on #4651
I forgot to say "I'm pretty sure that the payload work won't have made a difference". We shall see. Investigating now.

[2015-04-13 22:54] OJ commented on #4651
This is run on a PDC:
[code]
So pre-migration it is fine. Post-migration we do indeed have some issues. This should be "fun" to debug :)

Putting it on the backlog for now though, as I have transport stuff to deliver. I'll get back onto this as soon as I can.

[2015-04-14 00:37] #5135 closed

[2015-04-14 17:51] cdoughty-r7 commented on #5055
Thanks @todb-r7 , I will be working on a fix for the issue.

[2015-04-14 18:59] SonnyJim opened #5143 "CHECK action in auxiliary/dos/http/apache_range_dos causes runtime error"
[code]

[2015-04-14 19:14] wvu-r7 commented on #5134
It did before 90c63efaeb4486963c7d112b3e2822a1592a0f70.

[2015-04-14 19:33] wvu-r7 commented on #5107
A text file?

[2015-04-15 01:27] kernelsmith commented on #5107
You can already basically do this with aliases. I have a standing alias for the psexec module for instance

In msfconsole:

[code]
The path on that psexec might be wrong, just going from memory.
They won't be persistent By default as the save command doesn't include them. I did start adding it at one point but ran into some kind of problem which derailed me and I never got back to it. However, I m

[2015-04-15 09:09] ext1 opened #5151 "[-] Auxiliary failed: TypeError can't dup NilClass"
[code]

help please

[2015-04-15 14:12] void-in commented on #5151
This is an old issue that was patched in https://github.com/rapid7/metasploit-framework/pull/5082. Update your Metasploit instance and then run the module again.

[2015-04-15 19:23] reider-roque commented on #5107
`alias` might actually be a good option for the purpose, thanks for the tip.

[2015-04-15 19:25] wvu-r7 commented on #5107
@kernelsmith wrote ```alias```. ;)

[2015-04-15 20:29] reider-roque commented on #5107
One thing to note in @kernelsmith's scheme is that `~/.msf4/msfconsole.rc` [is not loaded automatically if you provide `msfconsole` with another resource file using `-r` flag](https://github.com/rapid7/metasploit-framework/blob/5589717323632db4c0af9eb4c4bf66aadbd7c8be/lib/msf/ui/console/driver.rb#L237). Though you can always add
`alias msfconsole='msfconsole -r ~/.msf4/msfconsole.rc'`
to your `~/.

[2015-04-15 20:36] kernelsmith commented on #5107
Yeah, I used to chain resource files together but now I just start msfconsole and then load other rc's with the resource command if need be. Or add 'resource other.rc' to the bottom of msfconsole.rc

[2015-04-15 20:43] wchen-r7 commented on #5151
yeah I'm not reproducing the issue. I agree with @void-in, please check with updates.

[code]

[2015-04-15 22:14] crmaxx commented on #4250
Next patch fixes the problem:
[code]

[2015-04-15 23:40] wvu-r7 commented on #5151
Yes, dupe of https://github.com/rapid7/metasploit-framework/issues/5079#issuecomment-89853777.

[2015-04-15 23:40] #5151 closed

[2015-04-16 01:45] SonnyJim opened #5160 "modules/auxiliary/scanner/rdp/ms12_020_check.rb not storing vulns in database"
Pretty obvious bug this one, the author has put 'report_goods' after the return in a function so it never gets called, thus found vulns never get added to the database:

https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/scanner/rdp/ms12_020_check.rb#L163

[2015-04-16 02:13] hmoore-r7 commented on #5160
Seems valid, thanks!

[2015-04-16 02:21] wvu-r7 commented on #5160
Looks like it was broken in c611249723f4481e8f69a1e30d1e7f3ee828e744.

[2015-04-16 02:48] #5143 closed

[2015-04-16 02:48] #5160 closed

[2015-04-16 02:49] bcook-r7 commented on #5160
Thanks. Dead code detection would have been nice here.

[2015-04-16 05:33] void-in commented on #4250
@crmaxx This is not how patches are accepted here. Create a new git branch, edit the original file in your fork, generate a pull request.

For example, in your own fork
git checkout -b patch-4250
nano lib/msf/core/db_manager.rb
<edit the file, add the line and save>
git add lib/msf/core/db_manager.rb
git commit -m "Add missing require in db_manager"
git push origin patch-4250

Go to your Metasploi

[2015-04-16 07:11] #5124 closed

[2015-04-16 07:12] wvu-r7 commented on #5124
Thanks, @joevennix!

[2015-04-16 15:18] mubix commented on #4967
@todb-r7 true, after restarting msf, I saw issue 3 disappear and am unable to repro it again. Correct on the rest as well. Should I recreate as two issues (feature for #1 and bug for #2 )

[2015-04-16 21:46] cdoughty-r7 commented on #5055
A fix has been created and is being tested.  Once its made it into a weekly release, I'll update this ticket with the specific kali metasploit build to use.

[2015-04-16 22:48] thesle3p opened #5176 "getsystem causes stack trace on windows 8.1 when run as admin"
Hi, normally when I get a meterpreter shell  as admin on windows 8.1 and try and escelate privs I first try getsystem and it usually returns with SYSTEM or a failed message but now when ever I run getsystem I get a stacktrace at the console. Below is a paste of what I did and the stack trace.  I can not confirm which commit broke getsystem but it should have been one this month.
[code]

[2015-04-16 22:59] OJ commented on #5176
Is this session x64 or x86?

[2015-04-16 23:05] OJ commented on #5176
Windows 2012, x64 Meterpreter
[code]
Windows 8.1, x64 Meterpreter
[code]
Windows 2012, x86 Meterpreter
[code]
Windows 8.1, x86 Meterpreter
[code]

The only time I see this failure is when you are _not_ running as administrator:
[code]

[2015-04-16 23:07] OJ commented on #5176
This is because `getsystem` is not broken. `getsystem` is not an exploit, it's used to get a `SYSTEM` token. If you don't have permission to do so, it won't work.

[2015-04-17 00:17] thesle3p commented on #5176
X86.
On Thu, 2015-04-16 at 16:00 -0700, OJ Reeves wrote:

[2015-04-17 00:28] OJ commented on #5176
Can you please run `getprivs` and paste the output?

If you run it and it looks like this:
[code]
Then you're not running as admin.

If you're running as admin, you'll see this:
[code]

[2015-04-17 01:51] bcook-r7 opened #5177 "sometimes when a session is opened, the session notification does not appear in the console"
See PR #5154 for steps to reproduce. This appears to be related to running exploits in certain ways. It is inconsistent, so it may be a timing-related problem (just my cup of tea).

[2015-04-17 02:22] wchen-r7 commented on #5177
I agree this feels like a timing problem. Sometimes I see it, sometimes I don't.

[2015-04-17 10:05] Meatballs1 commented on #5013
http://stackoverflow.com/questions/29303294/os-x-scnetworkinterfacecopyall-segfaults-in-python-from-forked-process

[2015-04-17 10:05] Meatballs1 commented on #5013
Ha, just spotted author :dancer:

[2015-04-17 13:01] kernelsmith commented on #5107
@reider-roque, if you start using aliases, I think there will now be two of us ;). I use them all the time, but I'm pretty sure no one else does LOL.

BTW, do you feel this is a good enough solution or do you want to keep the issue open?  We could discuss a change that might have an aliases.rc always run, if present, even if -r is specified. It's exceedingly unlikely that doing so would cause any

[2015-04-17 15:56] #4866 closed

[2015-04-17 15:57] Meatballs1 commented on #5013
Temporary workaround committed in e73d2cf6a767922bd99e4ec07fc6254b4616753c

This should be reverted if SystemConfigurator starts working as expected.

[2015-04-17 18:52] wvu-r7 commented on #5177
Can confirm. Started happening to me in #5119.

[2015-04-17 20:11] wchen-r7 commented on #5005
Ok so I was assigned to investigate about the RuntimeError exception and the backtrace that fail_with was showing, turns out:

* If it's not an exploit, when you use fail_with, module.rb does raise RuntimeError so that's the expected behavior.
* The backtrace is due to the default verbose level we implemented a while ago, but we ended up reverting all that, so it should not show any backtrace any

[2015-04-17 23:08] reider-roque commented on #5107
@kernelsmith, I think it would be awesome if you could add persistency to the plugin. I mean saving and keeping aliases across msfconsole restarts.

Here is a scheme I have in mind:

- Keep a separate resource file for aliases -- ~/.msf4/aliases.rc
- Add a -p (persistence) flag to `alias` command that would dump all currently held in memory aliases to ~/.msf4/aliases.rc (overwriting it) in the *al

[2015-04-18 01:43] thesle3p commented on #5176
I feel silly, I was basing this off the wrong shell, I had three windows
VMs spun up and forgot which one I bypassed UAC on.....Sorry for wasting
your time.
On Thu, 2015-04-16 at 17:28 -0700, OJ Reeves wrote:

[2015-04-18 06:36] #5176 closed

[2015-04-18 10:00] #5103 closed

[2015-04-18 10:01] FireFart commented on #5103
@jnesta if you use the git version and update the master branch, the module should be working again

[2015-04-18 18:06] abcdlzy opened #5187 "Gemfile source 'https://rubygems.org' connection reset in china"
https://rubygems.org is blocking by china great firewall. Can add a source https://ruby.taobao.org?
Thanks.
![0fe2b0f8-180c-40c2-9fc2-b074f9b5124c](https://cloud.githubusercontent.com/assets/10682959/7216625/a2928e96-e638-11e4-946b-83a111e9e38c.png)

[2015-04-18 18:26] todb commented on #4967
No, don't sweat making new issues. These aren't complicated enough, I don't
think, to warrant it.

[2015-04-19 00:48] GarrettVD opened #5189 "Persisted meterpreter crashing on Windows 8.1 x64"
Error message: "ApacheBench command line utility has stopped working"

Hi,
I am attempting to create a persisted-backdoor my host (Windows 8.1 64-bit) from an Ubuntu client running Metasploit's exploit/multi/handler + using an EXE payload generated using msfvenom, which should allow a windows/x64/meterpreter/reverse_tcp connection to be created between the host and client.

Upon the Windows 8.1 ma

[2015-04-19 01:36] OJ commented on #5189
A few things come to mind:

* The ApacheBench template is not used for x64 payloads. If you're seeing an error that says "ApacheBench command line utility", then it looks like the payload you're running off is generated from an x86 template.
* A handler with a 64-bit payload set will always serve up x64 payloads, which means that if a 32-bit process has connected, it'll receive x64 code, which wil

[2015-04-19 01:40] OJ commented on #5189
So rereading your output from MSF shows that the problem is not your initial payload generation, nor is it the handler. It does look like the persistence payload is x86 instead of x64.

[2015-04-19 01:44] GarrettVD commented on #5189
Hmmm, strange... I'd specified a windows/x64/meterpreter_reverse_tcp payload for the persistence.  Could something have misconfigured in the persistence.rb script?

[2015-04-19 01:47] OJ commented on #5189
I'm not sure mate, I'm just taking a look at it myself now.

[2015-04-19 01:50] OJ commented on #5189
To be really picky, you're currently using `windows/x64/meterpreter/reverse_tcp` in your scripts from what I can see based on the output and settings. This is not the same as `windows/x64/meterpreter_reverse_tcp`, which you keep mentioning. The former is the staged payload (note the use of `/` before `reverse_tcp`) and the latter is the stageless payload (note the use of `_` instead of `/`).

Subt

[2015-04-19 01:53] OJ commented on #5189
OK, I've just run the scenario where I manually did all the steps and it worked just fine. I'm going to try your script-based method now.

[2015-04-19 01:59] OJ commented on #5189
I have reproduced your error using the post script instead of the post module. It's definitely firing x86 payloads. Investigating.

[2015-04-19 02:00] GarrettVD commented on #5189
Thought I might have been going crazy for a minute there! Thanks again

[2015-04-19 02:05] OJ commented on #5189
Confirmed. The persistence script used generates payloads using the x86 template regardless of the payload architecture that you've chosen.

[2015-04-19 02:31] OJ commented on #5189
So the issue here is that the incorrect function is being used during payload generation.

See here: https://github.com/rapid7/metasploit-framework/blob/master/scripts/meterpreter/persistence.rb#L80

[code]
It's always creating 32 bit exes. This code should be modified to support x64 payloads as well.

[2015-04-19 07:35] kernelsmith commented on #5189
Additionally, an http or https payload is going to be more resilient than tcp. The tcp payload won't generally connect again once it fails, whereas http and https. Their exact behavior can be controlled via some advanced options

[2015-04-19 07:46] OJ commented on #5189
Not yet, but a PR coming this week will change that :D

[2015-04-19 08:59] join-us opened #5191 "shell_to_meterpreter crashes through pivot network"
[Lab env]

**Attacker**: **192.168.1.108**   [Linux x64]
**Victim01**: **192.168.1.104** / **10.10.10.109**  [Microsoft Windows 7 Home Premium SP1]
**Victim02**: **10.10.10.108**    [Windows 2008 x64 standard ]

--------

Now, We've got a meterpreter session from **Victim01** (192.168.1.104), and reached **Victim02** (10.10.10.108) through **Victim01** (**pivoting**) like this:

    msf post(shell

[2015-04-19 13:13] Zamiell commented on #5103
Yes, I have confirmed that the latest version works. Thanks guys!

[2015-04-19 13:17] jnesta commented on #5103
Yes, the latest version of the code works again. Thanks guys!

[2015-04-19 22:37] FireFart opened #5197 "yarddoc issues"
Some of them are fixed in #5196

[code]

Once all issues are fixed, maybe we can integrate `yard doc` into travis and check for yard errors?

[2015-04-19 23:23] hmoore-r7 commented on #5189
Make sure ExitFunc is set to process during payload creation and in the handler as well, or you can end up with a hung process if staging fails.

[2015-04-20 01:00] all3g commented on #5187
The issue appears sometimes when os is updated. Please check [os openssl] version and [gem openssl] version. Old (Vuln) version may be here, so it show us "Connection reset by peer".

    $ ruby -ropenssl -e 'p OpenSSL::OPENSSL_VERSION'
    $ openssl version
---------------------------------------------------------
If the problem is still, you can do it like this:

    $ gem sources --remove https

[2015-04-20 03:44] void-in commented on #5197
Integration with travis will be great since if you take a look at https://github.com/rapid7/metasploit-framework/pull/5059, lots of errors were removed. At that time yard doc would generate the docs without any warning. However these issues crop up again and again since in the module review a lot of times focus is on the ruby code and not that much on the yard comments.

[2015-04-20 04:03] mubix opened #5199 "web_delivery is broken"
Saw this: `[-] Exploit failed: NameError uninitialized constant Rex::Exploitation::Powershell`, current commit of 103b8297badaad496f13f00bb824e755d0167e9e

Looks like it broke because of this: 33560a26570caeb32a64f3bf4589535f92c061ba so pinging in @Meatballs1

[code]

[2015-04-20 04:05] mubix commented on #5199
Here is a diff to fix it:

[code]

[2015-04-20 04:35] FireFart opened #5200 "more fail_with improvements"
Another way to improve fail_with:
Using an auxiliary scanner module and using fail_with cancels the whole scan with an exception and a stacktrace:

[code]

My suggestion would be:
- Only fail the current IP and continue with the next one
- Omit the stacktrace

Use case:
Currently we do a `vprint_error('msg')` and `return` on error. Using `fail_with` would be more intuitive on an error / unexpected

[2015-04-20 06:02] wchen-r7 commented on #5200
I actually like the ideas. How would you implement this? I feel like you might need a new exception class instead of raising RuntimeError?

[2015-04-20 06:05] wchen-r7 commented on #5197
Travis sounds like a good idea for me.

[2015-04-20 07:19] FireFart commented on #5200
Jeah I think we need a new Exception Subclass and catch it at least in run_host

[2015-04-20 08:34] Meatballs1 commented on #5199
Ah good spot

[2015-04-20 12:05] Meatballs1 opened #5204 "Python Meterpreter: the :puid parameter must be exactly 8 bytes"
I hit this error with delivering a reverse_https meterpreter.

`[-] [2015.04.20-13:01:51] Exception handling request: The :puid parameter must be exactly 8 bytes`

It was in a persistence script (Windows\CurrentVersion\Run), the second time the script ran it connected fine. I have no idea how to reproduce. Sorry

[2015-04-20 12:54] erwanlr opened #5205 "MS15-034 exploit check issues"
There are some issue with the auxiliary/dos/http/ms15_034_ulonglongadd module and the check method (might not just be related to this module btw).

Even if the VHOST option is used, the request is still sent to the IP (only the Host header value is changed).
Then, when using the 443, the request is sent to http://IP:443 rather than https://IP

As a result, the check was failing due to the above (e

[2015-04-20 13:08] FireFart commented on #5205
you need to `set SSL true` otherwise it will try to do http over port 443

[2015-04-20 13:12] erwanlr commented on #5205
Pwaa, ok :x

[2015-04-20 13:12] #5205 closed

[2015-04-20 14:44] all3g opened #5207 "mysql_login scanner has an uncaught nil"
**[Msf platform]**

    [root@localhost ~]# uname -a
    Linux localhost.localdomain 2.6.32-042stab104.1 #1 SMP Thu Jan 29 12:58:41 MSK 2015 i686 i686 i386 GNU/Linux

    [root@localhost ~]# cat /etc/issue
    CentOS release 6.6 (Final)
    Kernel \r on an \m
--------

When I try **auxiliary/scanner/mysql/mysql_login** to login mysql database, something as follow:

[code]

[2015-04-20 15:41] Meatballs1 opened #5208 "Meterpreter Stage Fails to Detect User Proxy Settings"
I was attempting to use meterpreter/reverse_https to use the user's IE proxy settings and connect back to a host.

This worked fine for the initial connection. However when the meterpreter stage takes over it is unable to connect. It is attempting to perform a direct connection to the host ignoring the proxy which gets blocked by the firewall.

I assume this is something to do with @OJ's changes t

[2015-04-20 15:58] tdoan-r7 opened #5209 "RPC methods missing documentation"
The following methods do not currently have any documentation:

Framework:

- [ ] def rpc_getg(var)
- [ ] def rpc_create_cracked_credential(xopts)
- [ ] def rpc_create_credential(xopts)
- [ ] def rpc_invalidate_login(xopts)
- [ ] def rpc_creds(xopts)
- [ ] def rpc_vulns(xopts)
- [ ] def rpc_workspaces
- [ ] def rpc_current_workspace
- [ ] def rpc_get_workspace(wspace)
- [ ] def rpc_set_workspace(w

[2015-04-20 16:01] Meatballs1 commented on #5208
n.b. in this scenario SYSTEM default proxy settings are not available:

`netsh winhttp show proxy` -> Direct Access

[2015-04-20 16:22] #5199 closed

[2015-04-20 18:19] Meatballs1 commented on #5208
To create a windows host firewall to block 443 to your msfconsole:

`netsh advfirewall firewall add rule name="Block MSF 443" dir=out action=block protocol=TCP remoteport=443 remoteip=192.168.0.77`

[2015-04-20 18:34] Meatballs1 commented on #5208
MSDN docs re user proxy settings:

https://msdn.microsoft.com/en-us/library/windows/desktop/aa384075%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396#setting_the_proxy_configuration_on_a_session

The call to `WinHttpGetIEProxyConfigForCurrentUser` only appears in the stdapi get_proxy_config call. So unless it is manually receiving the proxy settings from Registry or elsewhere it wont use them :(

[2015-04-20 19:02] tdoan-r7 commented on #5209
Yeah! Thanks guys!

[2015-04-20 19:07] bcook-r7 commented on #3816
Also:

- [ ] remove print_debug

[2015-04-20 19:08] bcook-r7 commented on #3826
We have decided to table this.

[2015-04-20 19:08] #3826 closed

[2015-04-20 19:27] bcook-r7 commented on #3824
We're thinking about just implementing a local timer that reminds you to check for updates up to 7 days since the last time msfupdate was run, or the first time msfconsole was started. This should be disabled from a pro context perhaps.

[2015-04-20 19:34] bcook-r7 commented on #3866
@limhoff-r7 what do you think about how this relates to mdm / metasploit cache.

[2015-04-20 19:39] bcook-r7 commented on #3860
We need to look at this more closely to understand it.

[2015-04-20 20:25] bcook-r7 commented on #5208
I'm working on harmonizing the WinHttpOpen flags between the reverse_http stager and meterpreter.

[2015-04-20 21:05] Meatballs1 commented on #5208
title is probably more accurate now

[2015-04-20 21:30] OJ commented on #5208
Pfff.. yeah like this has anything to do with me! \*whistles\* ...

I'll take a look at it today :) Thanks @Meatballs1.

[2015-04-21 02:00] all3g commented on #5187
Continue...

Modify the first line in **/path/to/metasploit-framework/Gemfile** as follow. (For security, HTTPS is recommended).

    $ head -1 /path/to/metasploit-framework/Gemfile
    source 'http://rubygems.org'

[2015-04-21 03:54] #3821 closed

[2015-04-21 05:59] howdini commented on #5055
Great, we are eagerly awaiting the solution to this problem.

[2015-04-21 07:01] after100 commented on #5055
looks like we are not the only ones............ https://gist.github.com/noxferatu/81d9b8f6a8560a2a6a98

[2015-04-21 12:19] Meatballs1 opened #5215 "SessionLogging should include timestamps"
It indicates when logging starts and ends, but doesn't timestamp commands.

:crying_cat_face:

[2015-04-21 13:24] abcdlzy commented on #5187
@all3g Thanks.When I run msfupdate ,I found this solution.First ./msfupdate,and then vi gemfile to modify sources, last bundle update....But,do you think this way so complications?

[2015-04-21 13:47] mubix opened #5216 "auxiliary/server/capture/http_ntlm using report_auth_info"
[code]

[2015-04-21 15:52] jvazquez-r7 commented on #3816
After today's discussion, some new points to have into account:

- [ ] Left ```DEBUG``` as unregistered option. So only if you know about it, you use it.
- [ ] Don't allow modules to register the ```DEBUG``` option neither, since ```rand_text``` methods behavior changes, add msftidy check.
- [ ] Review modules registering ```DEBUG``` option and take care of them.
- [ ] Warn pro ppl once there is P

[2015-04-21 16:02] ropdor opened #5217 "nessus-xmlrpc does not return accurate status"
Nessus::Client::scan_export_status returns "ready" whenever the server replies with an HTTP 200 response. Documentation says:

200	Returns the status of the file. A status of "ready" indicates the file can be downloaded.

where the status is in the body of the reply. The function should instead return the status so that the caller can keep querying until the export is ready for download.

See http

[2015-04-21 17:00] #5099 closed

[2015-04-21 17:31] void-in commented on #5217
@ropdor Thanks for reporting. So what you want can be achieved through res.code only. Why are you returning the res.body then?

[2015-04-21 18:54] ropdor commented on #5217
According to documentation, the http code may be 400 indicating an error. My understanding is that unless we see a 200 and "ready" response, the report is either not ready or never will be. I was returning both so the caller may decide how to handle different situations, but just returning a single indicator would be fine for my purposes.

[2015-04-21 19:40] #3991 closed

[2015-04-21 20:04] wchen-r7 opened #5219 "Add connection timeout and response timeout for HttpClient"
The current design for HTTP client is impossible to specify the connection timeout and response timeout, they are currently the same option. As an user, it's also impossible to set these timeouts.

See #5185

[2015-04-21 20:12] wchen-r7 commented on #5219
See: https://github.com/wchen-r7/metasploit-framework/commit/6fa43be7b49368ffab235c31194353417fd2ef64

[2015-04-21 20:46] bcook-r7 commented on #5013
Calling into SystemConfigurator before the fork seems to prime the state enough that it survives post-fork. Something like this?

[code]

[2015-04-21 21:38] kernelsmith commented on #5187
@abcdlzy the only problem here is the Gemfile will probably be overwritten after each update.

[2015-04-21 23:09] todb-r7 commented on #5187
The accepted answer on Stack Overflow should solve your routing issues with a command line switch:

http://stackoverflow.com/questions/8693319/where-can-i-install-gems-from-when-rubygems-org-is-down

You might want to wrap that in a shell script.

[2015-04-21 23:09] #5187 closed

[2015-04-21 23:11] todb-r7 commented on #5187
Also check out the bit on gem source mirrors, here:

http://bundler.io/v1.5/bundle_config.html

I don't know if the source you're talking about is a true mirror or not.

[2015-04-22 00:59] #5013 closed

[2015-04-22 01:43] all3g opened #5221 "failed to unload sqlmap plugin"
When sqlmap module is loaded, we could not unload it. **Unload** function is not valid for sqlmap.

    msf > load sqlmap
    [*] Sqlmap plugin loaded
    [*] Successfully loaded plugin: Sqlmap
    msf > unload sqlmap
    msf > load sqlmap
    [-] Failed to load plugin from /home/notfound/sectools/metasploit-framework/plugins/sqlmap: Attempting to load already loaded dispatcher Sqlmap

[2015-04-22 01:50] all3g opened #5222 "sqlmap_new_task fails to start a new task"
msf > sqlmap_connect testphp.vulnweb.com 80
    [+] Set connection settings for host testphp.vulnweb.com on port 80
    msf > sqlmap_new_task
    [-] Error while running command sqlmap_new_task: 757: unexpected token at '<html>
    <head><title>404 Not Found</title></head>
    <body bgcolor="white">
    <center><h1>404 Not Found</h1></center>
    <hr><center>nginx/1.4.1</center>
    </body>
    </

[2015-04-22 04:51] void-in commented on #5217
@ropdor re: "My understanding is that unless we see a 200 and ready response, the report is either not ready or never will be". During my testing when developing the plugin, the report was getting getting ready immediately after generating the export_status request. That is why 200 or ready was sort of synonymous. Have you experienced a situation where you get a 200 but the status is not ready yet

[2015-04-22 04:56] void-in commented on #5221
The problem is not with the unload command. The problem is the symbolic name of the loaded plugin. When you load a plugin, run the 'show plugins' command to see a list of plugin names. The symbolic name of sqlmap plugin is Sqlmap (capital S). Hence running the command 'unload sqlmap' doesn't succeed. If you run 'unload Sqlmap', the plugin will be unloaded successfully and you can reload it without

[2015-04-22 06:19] all3g commented on #5221
Yeah, I've unloaded **Sqlmap** plugin with command **unload Sqlmap**.
Thanks. ^.^

[2015-04-22 18:16] ropdor commented on #5217
I am seeing this almost every time I query for a report. It may be that the scan reports I am looking at are large and/or load related, but I have a wait loop in my code similar to:

[code]

to deal with this and see waits of 3+ seconds on a test report I am grabbing.

[2015-04-22 18:18] PaulBorensztein opened #5228 "Can't make metasploit working, 2 computers on 1 network."
Hey guys,

I've been trying to use metasploit and meterpreter to get the remote control of a computer. I have 2 computers, one running a Windows 7 version and another running Kali. They both are on the same network, using the same AP. I really don't know what i'm missing because every time i start the servers on my Kali computer, i can't access it (using the local IP) with the other one :

![scree

[2015-04-22 18:22] void-in commented on #5217
@ropdor Alright. I will implement the workaround. The loop like you did can make the console completely occupied till the report is not ready that is why a workaround could be to generate the request, if the status is not http 200, perform the operation 5 times. If the status is still not 200, inform the user to check the report after some time. This way the console won't be in an infinite loop st

[2015-04-22 18:25] void-in commented on #5228
@PaulBorensztein This is not the right place to ask for support queries. A better option would be post the question to https://community.rapid7.com. Also the question is related to basic networking which I don't think anyone can troubleshoot for you.

[2015-04-22 18:36] PaulBorensztein commented on #5228
Oh sorry if i'm in the wrong place. I know it's basic networking tho i really can't see what's being the problem because i can ping each computers without problems..

[2015-04-22 19:45] brandonprry commented on #5222
Is testphp.vulnweb.com on port 80 running the sqlmap API server?

Looks like it isn't.

[2015-04-22 19:49] brandonprry commented on #5222
[code]

[2015-04-22 21:25] #5228 closed

[2015-04-22 22:41] ropdor commented on #5217
Ah, I had not thought about that issue. Your workaround seems workable; I think as long as an accurate indication of report readiness is available (as opposed to the "always ready" assumption previously) we should be good.

[2015-04-23 02:12] all3g commented on #5222
Thanks a lot.  First, we need a api server as follow.

    $ python /path/to/sqlmapapi.py -s
    [01:56:10] [INFO] Running REST-JSON API server at '127.0.0.1:8775'..

[2015-04-23 03:19] wchen-r7 opened #5229 "RPC call db.create_cracked_credential seems to be calling the wrong API"
The method in question is this:
https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/rpc/v10/rpc_db.rb#L109

[code]

The method name implies it's for creating a cracked credential, but as you can see it's calling create_credential.

It looks like it should be calling create_cracked_credential in the credential API:
https://github.com/rapid7/metasploit-credential/blob/master/lib/

[2015-04-23 07:18] void-in commented on #5217
@ropdor Generated a PR to fix the issue at https://github.com/rapid7/metasploit-framework/pull/5231. If possible, test the PR at your end and update here.

[2015-04-23 09:32] Meatballs1 opened #5232 "Database UTF-8 Issues"
Using enum_ad_computers I get the following error. Looks like it dislikes the `Windows Server(R)` in a comment?

[code]

[2015-04-23 10:14] crmaxx opened #5233 "Session sync error"
I use Cobalt-Strike with Metasploit Pro. After creating new meterpreter session in Cobalt-Strike, I tried to use this session in meterpreter in Metasploit Pro UI and got next error:

[code]

After investigate the problem:

In Cobalt-Strike:
[code]

In same time in Metasploit:
[code]

Looks like error in threads synchronization..

[2015-04-23 12:01] ropdor commented on #5217
Looks good to me, thanks

[2015-04-23 12:45] bcook-r7 commented on #5232
Sounds reasonable to assume that ADSI in extapi needs to be converted to return UTF-8 strings.

[2015-04-23 12:49] Meatballs1 commented on #5232
and/or that db_manager should somehow ensure strings are encoded/escaped correctly?

[2015-04-23 12:52] OJ commented on #5232
Adsi in extapi definitely needs Unicode work done. Badly :)

[2015-04-23 13:00] Meatballs1 commented on #5232
TheColonial I choose you:

![image](https://cloud.githubusercontent.com/assets/1854557/7297475/1a564e3c-e9c1-11e4-8391-3d32fcbaba5f.png)

[2015-04-23 13:16] OJ commented on #5232
I feel special.

[2015-04-23 13:52] jlee-r7 commented on #5232
The best that db_manager can hope to do is mangle the bytes so things don't explode. It will never be able to guess the correct encoding because character encoding is fucking stupid.  >_<

[2015-04-23 14:04] bcook-r7 commented on #5232
I would be happy to take this on time permitting.

[2015-04-23 16:01] cdoughty-r7 commented on #5055
The fix is now included in the latest weekly release build on Kali : 4.11.1-2015042001-1kali0.

[2015-04-23 18:19] kernelsmith commented on #5107
Thanks, I will investigate adding this functionality. Yeah, alias.rb is one of the more complicated plugins you'll see because it makes heavy use of metaprogramming to cleanly "inject" and remove methods to handle aliases that you create so aliases are handled as 1st-class commands that don't work differently than built in commands. It's actually probably the one piece of code of which I'm most pr

[2015-04-23 18:59] wchen-r7 commented on #5233
Applying the Jira label since this talks about Pro.

[2015-04-23 19:03] hmoore-r7 commented on #5233
Sessions are not portable between instances of the framework (in this case CS & Pro's daemon). This is also the case where sessions created in framework are not accessible in Pro. Sessions created in Pro are accessible to other Pro users, but not to the framework. The database is shared, but access to the live session is not.

[2015-04-23 19:07] trosen-r7 opened #5234 "Add per-env configuration for eager loading"
On Rails 4, users booting msfconsole will see this:

[code]
Update `config/application.rb` to do the right thing per environment on boot.

[2015-04-23 19:15] wchen-r7 commented on #5233
@crmaxx Like @hmoore-r7 said, they're on different instances they govern their own sessions. So this is the expected behavior.

[2015-04-23 19:23] wchen-r7 opened #5236 "Some methods in Msf::RPC::RPC_Db use framework.db.find_workspace, but should be #find_workspace"
In rpc_db.rb, some methods call framework.db.find_workspace to find the workspace, but there's already a private method #find_workspace, so these methods should use that instead.

Methods that need to be updated:

* rpc_set_workspace
* rpc_del_workspace

[2015-04-23 19:24] cr0bar commented on #5055
I'm still experiencing similar issues even after updating to the latest build:

[code]
[code]
[code]
[code]

[2015-04-23 20:32] after100 commented on #5055
yeah. same here. lol
not sure if to reply here, or make a new ticket or just give up

[2015-04-23 20:36] bcook-r7 commented on #5055
If there are still issues, we can reopen and look again. The fixes will have made it to the released build by now, correct?

[2015-04-23 20:40] after100 commented on #5055
yup it is in kali repos
currently re-installing a fresh kali 1.1.0a vm to see if that helps + clean log files.

[2015-04-23 20:41] bcook-r7 commented on #5055
I'll give a fresh kali install a try as well, thanks. Will reopen while we do some extra checking.

[2015-04-23 21:11] after100 commented on #5055
from fresh kali 1.1.0a x64 install to apt-get dist-upgrade go_pro works
upgrading from before it doesnt work

[2015-04-23 21:43] after100 commented on #5055
[code]

[2015-04-23 23:56] wchen-r7 opened #5237 "NoMethodError undefined method `services' for nil:NilClass in #rpc_get_service"
In the #rpc_get_service method, if you don't supply :proto and :port together, you will get a "NoMethodError"

To reproduce:

[code]

The error:

[code]

The line that triggers the error is this:
https://github.com/rapid7/metasploit-framework/blob/c2a252face46e541c6608f56abf1945cc91231e8/lib/msf/core/rpc/v10/rpc_db.rb#L426

[2015-04-24 00:24] wchen-r7 opened #5238 "#rpc_notes in rpc_db.rb checks :port but uses :ports"
In method #rpc_notes in file rpc_db.rb: https://github.com/rapid7/metasploit-framework/blob/c2a252face46e541c6608f56abf1945cc91231e8/lib/msf/core/rpc/v10/rpc_db.rb#L560

The line that needs to be updated is this:

[code]

Just a typo, but is a bug.

[2015-04-24 01:07] wchen-r7 opened #5239 "#rpc_del_vuln is confused with the workspace data type and passes it around."
In method #rpc_del_vuln in file rpc_db.rb:
https://github.com/rapid7/metasploit-framework/blob/c2a252face46e541c6608f56abf1945cc91231e8/lib/msf/core/rpc/v10/rpc_db.rb#L587

[code]

In this code, the user originally passes the workspace information as a string, but the init_db_opts_workspace method will return it as a Mdm::Workspace object and put it in opts. Unaware of this, the rpc_del_vuln metho

[2015-04-24 02:30] bcook-r7 commented on #5055
Thanks. I tried it a few times to better understand what is happening. This behavior of a fresh boot with a fresh kali-linux install and recently dist-upgraded:

[code]

So good so far! However, if you immediately run msfconsole and then go_pro, you will get the failing behavior above, because the metasploit services do not appear to have actually completely started yet. Running go_pro subsequentl

[2015-04-24 03:01] wchen-r7 opened #5240 "#rpc_del_note is confused with the workspace data type and passes it around"
The buggy code is this:

[code]

Here's what happens:

1. When using rpc_del_note, **you pass :workspace as a string**. Like this: ```:workspace => 'default'```
2. **The init_db_opts_workspace method will return a Mdm::Workspace object**, and then put this in opts.
3. If a host is set, opts is passed on to method opts_to_hosts. The problem is that **opts_to_hosts uses a find_workspace method that

[2015-04-24 04:02] estarlinhk commented on #3802
como resuelvo esto que me sale en el kali linux algien expliqueme eso porfa [!] **********************************************************************
[!] *               The utility msfcli is deprecated!                      *
[!] *            It will be removed on or about 2015-06-18                 *
[!] *              Please use msfconsole -r or -x instead                  *
[!] *  Details: ht

[2015-04-24 04:04] estarlinhk commented on #3802
as I solve this that I get in the kali linux algien Explain that porfa [!] ********************************* *************************************
[!] * The utility msfcli is deprecated! *
[!] * It will be removed on or acerca 18.06.2015 *
[!] * Please use msfconsole Instead -r or -x *
[!] * Details: https://github.com/rapid7/metasploit-framework/pull/3802 *
[!] ***********************************

[2015-04-24 12:38] dmaasland opened #5244 "#mysql_drop_and_create_sys_exec in mysql_payload appears to be outdated against newer MySQL"
I noticed that the mysql_payload module does not seem to work on my setup. (Windows 2012 with MySQL 5.6). The problem is that the module always says it could not find the sys_exec function. I have tracked the problem to the following file:

https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/exploit/mysql.rb#L166

For me, that query always returns an empty response. Regardless

[2015-04-24 14:27] PowerPress opened #5245 "Feature Request: Msfmap integration into Meterpreter"
Would it be possible to integrate the msfmap module into meterpreter to allow exponentially increase port scanning via pivoted computers. Instead of port scans having to be routed through the pivot which is slower, this allows meterpreter to run the portscan on the actual pivoted computer which is dramatically faster and not require installing anything on the compromised computer.

see below:
http

[2015-04-24 15:23] bcook-r7 commented on #5233
Cobalt Strike will need to be updated to resolve this issue.

[2015-04-24 15:23] #5233 closed

[2015-04-24 15:59] #5221 closed

[2015-04-24 18:42] #3816 closed

[2015-04-24 18:56] #5134 closed

[2015-04-24 19:00] bcook-r7 commented on #5055
Discussed with @cdoughty-r7 today, starting with an empty, default postgresql database and starting msfconsole before the metasploit services have created the initial schema may be the key to reproducing the failure mode.

[2015-04-24 19:23] rwhitcroft commented on #5245
:+1: would use

[2015-04-24 19:30] cr0bar commented on #5055
I'm not sure that a delay in the process starting is the issue. At my end when I reboot, all services start correctly. Give it a couple of minutes and the RPC server service will failed, 10 minutes later the Web server service fails and about 30 minutes later, the Worker one does too.

Simply idling will replicate this, no need to fire up msfconsole.

[2015-04-24 20:07] shuckins-r7 opened #5248 "POODLE scanner returning false positives"
## Setup
Configure a test server, SSLv3 turned off. Apache example:
[code]

## Repro
[code]

You should get an indication that the server is not vulnerable. Instead:
[code]

Jira: MSP-12511

[2015-04-24 20:10] shuckins-r7 commented on #5248
https://github.com/rapid7/metasploit-framework/blame/master/modules/auxiliary/scanner/http/ssl_version.rb#L58-66 is presuming that if we can connect then SSL of the version specified must be accepted. In reality, a connection to a non-SSL HTTP service will also pass this.

[2015-04-24 21:08] wchen-r7 commented on #5248
@parzamendi-r7 Ran into something similar once. He told me he was comparing it with a 3rd party tool, but I can't remember the name right now. Pete let us know again?

[2015-04-24 21:12] wchen-r7 commented on #5219
@void-in If you're still interested in testing, could you please create a new remote branch (with the latest master), and let me know where it is so I can submit a PR to you for testing?

It's just like what I'm doing with @jvazquez-r7 right here:
https://github.com/jvazquez-r7/metasploit-framework/pull/25

Thanks!

[2015-04-24 21:16] wvu-r7 commented on #5248
I couldn't repro this. Will do more testing in a bit. Can you try, @wchen-r7?

[2015-04-24 22:14] bcook-r7 commented on #5055
I think we're on the same page @cr0bar. See above where the log shows the RPC server failing after 2 minutes of idling when I got the install into a bad state.

This 'idle failure' state seems to occur if, at any point in the very beginning of setting up metasploit on Kali linux, if you have started msfconsole and run 'go_pro' while the metasploit services were still starting up and your database

[2015-04-25 01:33] bcook-r7 commented on #5055
This is how I was able to provoke either working or broken states from a system already in either state.

First, do this to get the system back into an initial state:
 * service metasploit stop
 * su postgresql
 * psql
 * type 'drop database msf3;'
 * type 'drop owned by msf3;'
 * type 'drop role msf3;'
 * exit psql back to the root user - ctrl-d, ctrl-d
 * run /opt/metasploit/reconfigure_script

[2015-04-25 04:48] void-in commented on #5219
@wchen-r7 Very much so. I am doing to create a new PR shortly. Thanks a lot for your work on this one.

[2015-04-25 07:30] FireFart commented on #5248
I think this is one way to reproduce it:
[code]

[2015-04-25 07:40] cr0bar commented on #5055
Followed your instructions and now it works fine for me (although I think you meant su postgres rather than su postgresql).

Good work!

[2015-04-25 07:43] cr0bar commented on #5055
Spoke too soon.. Fired up the web ui which worked for about a minute, now the rpc service has just failed again..

[2015-04-25 14:57] void-in commented on #5219
@wchen-r7 My remote branch for this PR is https://github.com/void-in/metasploit-framework/tree/http_client_connect_recv_timeout.

[2015-04-25 16:11] wchen-r7 commented on #5219
Awesome. Thanks! I'll submit a PR to you in a bit.

[2015-04-25 16:47] wchen-r7 commented on #5219
@void-in PR sent: https://github.com/void-in/metasploit-framework/pull/4

Thanks again!

[2015-04-25 21:07] hipcrime opened #5250 "uninitialized constant in auxiliary/gather/dns_bruteforce"
Ran into this exception while trying to run dns_bruteforce:

$ msfconsole -q
msf > use auxiliary/gather/dns_bruteforce
msf auxiliary(dns_bruteforce) > show options

Module options (auxiliary/gather/dns_bruteforce):

   Name      Current Setting                                Required  Description
   ----      ---------------                                --------  -----------
   DOMAIN

[2015-04-25 23:00] wchen-r7 commented on #5219
So while we work on https://github.com/wchen-r7/metasploit-framework/tree/http_client_timeouts, here's a list of things that can be broken/affected by the library changes:

* LoginScanner modules
* Exploits
* Auxiliary modules
* MSF tools
* msfrpc client.

There might be more, I am still checking. Will probably need to update this list later.

[2015-04-26 05:13] void-in commented on #5219
@wchen-r7 The test run is working without any problem.
[code]
Then registered advanced ConnectTimeout option in a random http module by adding the line:
[code]
to auxiliary/admin/http/iis_auth_bypass. The results are:
root@kali:/opt/void-in/metasploit-framework# time ./msfconsole -qr http_connect_timeout_test.rb -x exit
[code]
real    0m20.623s
user    0m13.476s
sys     0m2.436s

The resource file

[2015-04-26 06:13] void-in commented on #5250
I couldn't reproduce this error at my end. I am using Kali Linux with the latest MSF git clone. What version of Metasploit are you using? Please update to the latest version and run again. Update the thread here. Also, what OS are you using?

[2015-04-26 09:59] hipcrime commented on #5250
Ran an MSFUpdate, which gave this version:

         =[ metasploit v4.11.0-dev [core:4.11.0.pre.dev api:1.0.0]]
+ -- --=[ 1447 exploits - 825 auxiliary - 229 post        ]
+ -- --=[ 372 payloads - 37 encoders - 8 nops             ]

After which, the dns_bruteforce module works correctly.
I have no idea what was happening previously.

[2015-04-26 09:59] #5250 closed

[2015-04-26 17:17] wchen-r7 commented on #5219
Thanks for testing @void-in. I'll let Juan check too. And then we'll move on to the next things. Will let you know soon. Thanks!

[2015-04-26 17:37] void-in commented on #5219
@wchen-r7 Also I think we should add a line at https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/exploit/http/client.rb#L327 informing the user that connection to the server succeed. For example "Connected to the server". This way the user will know if ConnectTimeout needs to be adjusted or RecvTimeout in case a failure occurs.

[2015-04-26 18:53] wchen-r7 commented on #5219
Not a bad idea, except HTTP LoginScanner modules won't benefit from this, and other exploits or auxiliary modules that decide not to use HttpClient because of whatever reason (for example: conflicting mixins) :-( The only thing that everyone has in common is Rex::ConnectionTimeout being raised, so perhaps the best thing we could try is modifying the ConnectionTimeout message.

[2015-04-27 04:42] void-in commented on #5219
@wchen-r7 That would do. In the current setup, the modules passing the timeout setting are used for both ConnectTimeout and RecvTimeout. Since we will separate it into two different settings, we will have to know if the error occurred because the server didn't response in a timely manner or if data was not received by the module. Rex::ConnectionTimeout error message should be adjusted then. Thanks

[2015-04-27 13:52] shuckins-r7 commented on #5248
@wchen-r7 Yeah check out the Jira ticket (12511), that is from @parzamendi-r7, same issue :-)  I added here because the issue is with the ssl_version scanner module.

@wvu-r7 Please add some detail, what happened when you tried to repro? The Jira ticket mentions a case where a non-SSL http service returned as being vulnerable, should be pretty straightforward.

[2015-04-27 14:05] Meatballs1 opened #5257 "ADSI doesn't return all values from a Multi-Valued String"
A post module based on:

[code]

objectClass should contain something like `top; classSchema`

[2015-04-27 14:13] Meatballs1 commented on #5257
ADSI should check dwNumValues on the ADS_SEARCH_COLUMN structure to identify the number of returned values.

[2015-04-27 14:43] mubix opened #5258 "RHOSTS improperly being parsed"
If being set from the database:
[code]

If being set directly from a file it throws every item into the RHOSTS var with no regard to size:
[code]

[2015-04-27 15:45] bcook-r7 commented on #5055
I have not been able to reproduce a failure yet once in I get the system into working mode, though I did have issues running everything in general until I bumped my VM to 2GB Ram and 16 GB Disk due to memory pressure. The metasploit services themselves use over 1GB at idle, which can also trigger the OOM killer.

[2015-04-27 16:19] #5209 closed

[2015-04-27 18:15] bcook-r7 commented on #5258
We need to make services -R update RHOSTS directly, but the amount of data in RHOSTS, with the new scheme as of #4989, makes managing that data more unwieldy than before.

[2015-04-27 18:17] bcook-r7 opened #5259 "better represent large amounts of data in RHOSTS"
This probably needs a general solution for displaying options with file: handlers that can expand now into large amounts of data as of #4989. This makes 'show options' potentially have pathological behavior when there are lots of data.

[2015-04-27 18:44] bcook-r7 commented on #5078
Can you show what the failure responses looked like? You can send a full pcap to msfdev@metasploit.com ?

[2015-04-27 18:45] bcook-r7 commented on #5064
There is not enough information.

[2015-04-27 18:45] #5064 closed

[2015-04-27 18:47] bcook-r7 commented on #5048
If pro has a way of managing used ports, perhaps that should be pulled into framework, says @limhoff-r7 .

[2015-04-27 18:56] bcook-r7 commented on #5022
The issue appears to be incompatible schemas between the Pro and Framework databases. A workaround could be to drop the existing database and recreate, handle this exception directly, or to unify the schemas between Pro and Framework.

[2015-04-27 19:02] bcook-r7 commented on #4971
We need to add a write alias method to File here?

[2015-04-27 19:04] brandonprry commented on #5222
I think this issue can be closed.

[2015-04-27 19:11] wvu-r7 commented on #5222
Boom.

[2015-04-27 19:11] #5222 closed

[2015-04-27 19:18] rastating commented on #5078
@bcook-r7 - I'll replicate and get a full pcap over to you, hopefully at some point tonight :) Anything in particular I should put in the subject to make sure the e-mail lands with you?

[2015-04-27 19:34] hmoore-r7 commented on #5258
Snagging this since its my fault =)

[2015-04-27 19:45] hmoore-r7 commented on #5258
@mubix I tested this with a fairly small workspace of ~20 hosts and could not reproduce the validation error. With regards to the giant lump of data, that could definitely use some refinement, but we are still looking into alternatives (trimming displayed data, deferring parsing of the file: prefix to later, etc).

[2015-04-27 19:50] bcook-r7 commented on #5078
How about 'pcap for metasploit-framework #5078'

[2015-04-27 22:02] #5258 closed

[2015-04-28 16:36] hmoore-r7 opened #5264 "The ssh_enumusers module throws a stack trace on check"
Pulled from: http://security.stackexchange.com/questions/86167/metasploit-ssh-enumusers-stops-instantly

[code]

[2015-04-28 16:49] #4955 closed

[2015-04-28 16:49] #4954 closed

[2015-04-28 19:17] wvu-r7 commented on #5248
```set SSL false``` did the trick.

[2015-04-28 20:36] FireFart opened #5266 "SNMP Login Scanner multiple issues"
This is the output of the SNMP Login scanner (https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/scanner/snmp/snmp_login.rb) in verbose mode without having a DB connected.
Also notice the wrong messages printed out.

* We only need the "no DB active" message once
 * https://github.com/rapid7/metasploit-framework/blob/c2a252face46e541c6608f56abf1945cc91231e8/lib/msf/core/a

[2015-04-28 20:55] wvu-r7 commented on #5266
https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/auxiliary/report.rb#L27

[2015-04-28 20:56] FireFart commented on #5266
About the `:161SNMP`:
print_brute assumes there is at least a RHOST datastore option (multiple times in this file), but in this case we have a RHOSTS:
https://github.com/rapid7/metasploit-framework/blob/c2a252face46e541c6608f56abf1945cc91231e8/lib/msf/core/auxiliary/auth_brute.rb#L570

[2015-04-28 20:59] FireFart commented on #5266
@wvu-r7 in this case it's `invalidate_login` :) https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/auxiliary/report.rb#L43

[2015-04-28 21:22] wvu-r7 commented on #5266
Err, yeah. This looks messy to refactor.

[2015-04-28 21:34] FireFart commented on #5266
@wvu-r7 I think the extra `:` after the password is caused by this:
https://github.com/rapid7/metasploit-framework/blob/master/lib/metasploit/framework/credential.rb#L79

So there are multiple bugs to fix in this one, and all of them are more than a change of a single line :(

[2015-04-28 21:43] FireFart commented on #5266
@wvu-r7 i updated the main bug description to collect all information

[2015-04-28 22:21] wvu-r7 commented on #5266
I just don't want to break the new creds stuff, lol.

[2015-04-29 15:32] geoffgarside opened #5269 "auxiliary/scanner/ipmi/ipmi_dumphashes calling report_auth_info"
I can't see any issues already mentioning this. Apparently the ipmi_dumphashes scanner is still calling `report_auth_info`. Error message below.

[code]

[2015-04-29 15:44] bcook-r7 commented on #5259
This is somewhat irrelevant as a specific issue now.

[2015-04-29 15:44] #5259 closed

[2015-04-29 15:49] bcook-r7 commented on #4538
There has been more movement on the newer issue #4971 so far, closing this one.

[2015-04-29 15:49] #4538 closed

[2015-04-29 17:43] #5248 closed

[2015-04-29 17:51] bcook-r7 opened #5272 "ActiveRecord::ReadOnlyRecord exception from report_vuln"
It appears a regression appeared as of a72d49678a972c696129c206418fa751b425d27e

To reproduce, run:

./msfconsole -qx 'use auxiliary/scanner/http/ssl_version; set rhosts www.google.com; run'

[code]

[2015-04-29 17:51] bcook-r7 commented on #5272
@dmaloney-r7 could you take a look at this?

[2015-04-29 19:23] wvu-r7 commented on #5264
FWIW, it's not just this module. Checking this out.

[2015-04-29 20:24] wvu-r7 commented on #5264
This looks like a regression from #2906. Affects all modules.

[2015-04-29 20:32] #5264 closed

[2015-04-30 16:24] #4971 closed

[2015-04-30 17:35] #5217 closed

[2015-04-30 17:40] wchen-r7 commented on #5269
The related issue is actually this:
https://github.com/rapid7/metasploit-framework/issues/4432

[2015-04-30 18:08] void-in commented on #5269
@wchen-r7 The issue https://github.com/rapid7/metasploit-framework/issues/4432 you reported was resolved in https://github.com/rapid7/metasploit-framework/pull/4535. The warning is due to missing credential object? Not following the login scanner guide https://github.com/rapid7/metasploit-framework/wiki/Creating-Metasploit-Framework-LoginScanners? Just want to get a clarity why the warning still.

[2015-04-30 18:34] wchen-r7 commented on #5269
Nah the problem was that the #report_auth_info method used to call framework.db.report_auth_info to save credentials, and people couldn't see these creds by using the creds command. So we had to change #report_auth_info to make it use the new credential API.

However if you still rely on #report_auth_info, you're not exactly taking full advantage of the new credential API so that's why these modul

[2015-04-30 18:55] void-in commented on #5269
@wchen-r7 Yup. Thanks as always. Every login scanner should be re-wrote according to the Login Scanner guide.

[2015-04-30 19:17] bcook-r7 commented on #4602
I refreshed the original PR with the fix for cucumber, will sort through the rest of the issues with Brandon on Monday.

[2015-04-30 19:51] FireFart opened #5284 "Create an official docker image"
What do you guys think if we create a default docker image for metasploit containing a preconfigured working installation? I have found several user based containers, but no official one.

What do you think? I would love to implement a metasploit install in docker for a easy way to run it if you think it's worth it.

We would need a new github repo for the Dockerfile and a metasploit organization

[2015-04-30 19:55] mubix commented on #5284
I have done this a few times with different installs (Pro trial, framework and Community). I'd be keen on taking this on, make a clean image for each and push them, with a few tutorials on how to get them going

[2015-04-30 19:58] FireFart commented on #5284
@mubix so if there is a agreement on creating a docker image, maybe we should start a document meet in irc to discuss the implementation details like use rvm or rbenv and such things

[2015-04-30 22:20] UserTaken commented on #5284
I created [usertaken/metasploit-framework](https://registry.hub.docker.com/u/usertaken/metasploit-framework) after watching [Metasploit Minute](https://www.patreon.com/mubix) so I would be interested on how an official image would be created.

[2015-04-30 22:34] #5272 closed

[2015-04-30 23:05] wvu-r7 commented on #5245
BSD license, too.

[2015-04-30 23:07] wvu-r7 commented on #5245
What do you think, @zeroSteiner?

[2015-04-30 23:12] OJ commented on #5245
There are elements of the code that concern me a bit. If it was going to be included as a "supported" extension in MSF then there'd need to be some changes.

It's already an extension, it's already built, it's got all the wiring. Why not just let people add it to their own MSF installations if they want to use it? Does it have to be part of the official repo? Perhaps adding something to the README

[2015-04-30 23:16] wvu-r7 commented on #5245
@OJ: Not to mention the fact that it's a few years old. With all the refactoring you guys have been doing, I doubt it would merge cleanly.

[2015-04-30 23:17] zeroSteiner commented on #5245
The extension does do some things that are perhaps not considered best practice which is why I hadn't submitted it in an official capacity. I'd be happy to help get it up to speed though with no small amount of  guidance from @OJ.

[2015-04-30 23:18] OJ commented on #5245
@zeroSteiner pardon me if that sounded harsh, I certainly didn't intend it to be so! I'm always happy to work on things with you mate, we just need to find the time! :) It's hosted on Google Code as well, which will soon be shutting down, so perhaps it does need a new home. Let's have a chat about it and see if we can come up with a plan/timeline.

[2015-05-01 10:53] timwr commented on #5284
Nice one @usertaken. I've played with  github.com/infoslack/docker-metasploit but yours looks neater as it's a single container with both metasploit and postgresql.

[2015-05-01 12:48] UserTaken commented on #5284
I included PostgreSQL for convenience but alternatively something like

[code]
with [Crane](https://github.com/michaelsauter/crane) can be used to spread things out. This is one of the things that need to be addressed for an official Metasploit image.

[2015-05-01 14:51] bcook-r7 commented on #5284
sounds good to me. I had created some database and wrapper helper scripts may also be useful here: https://github.com/bcook-r7/omnibus-metasploit/blob/master/config/patches/metasploit-framework/0001-add-omnibus-helper-scripts.patch

[2015-05-01 14:53] zeroSteiner commented on #5245
@OJ No worries. I wasn't being sarcastic; I'd actually like your thoughts on it. I'll hit you up on IRC and we'll formulate a plan of attack. Until then I'll be sure to pull it off of Google Code for safe keeping.

[2015-05-01 16:34] bcook-r7 commented on #5284
I've been thinking about providing an official set of omnibus installer packages as well. A nice thing about the omnibus approach is it bundles the exact version of postgres and everything else you want (ruby, libraries, etc.) into a package and can be fairly distribution-agnostic. But, it's also not mutually exclusive with having a docker image as well. I'm thinking it might be useful if we could

[2015-05-01 18:02] kernelsmith commented on #5284
a vagrant box would be handy too, and would help w/any networking or other stuff that's weird w/Docker's minimal containers.  And/or a packer template, which combined w/an iso (of whatever Linux) one could produce VMware(OVFs or VMX), AMIs, DigOc, Docker, GCE, Parallels, QEMU, VBox (OVF) images, or even all of those.  Packer can also post-process the images, like for compression or stuff like uplo

[2015-05-01 21:54] bcook-r7 commented on #5189
I believe the basic issue is fixed now.

[2015-05-02 11:49] rastating commented on #5078
@bcook-r7 - sorry for taking a while to get back to you, been a bit tied up. Sent over two pcaps for you, one showing it working with the POC mentioned above and one failing using the MSF module

[2015-05-02 18:59] jabra- opened #5293 "services -R broken"
Currently, the services -R functionality is not working. This was verified using smb_version module and services -p 445 -u -R when there were several hosts in the DB that had 445 open.

You can manually set the RHOSTS variable:

set RHOSTS file:/tmp/list.txt and this works just fine, but using -R doesnt work.

[2015-05-02 19:47] void-in commented on #5293
Have you updated Metasploit to the latest github snapshot? The error was reported earlier and was fixed in https://github.com/rapid7/metasploit-framework/pull/5261. If you are using github checkout, please pull the latest commits in and check again.

[2015-05-04 08:45] hmoore-r7 commented on #4895
This is still alive, just waiting on a PR from @OJ for 64-bit support before I pick up the ball again.

[2015-05-04 09:05] OJ commented on #4895
Definitely me dragging the chain here but I'm close!

[2015-05-04 13:54] #5293 closed

[2015-05-04 18:39] #4505 closed

[2015-05-04 18:41] bcook-r7 commented on #5005
This should no longer be a problem. If you encounter further issues, please open a new ticket. Thanks!

[2015-05-04 18:41] #5005 closed

[2015-05-04 18:44] bcook-r7 commented on #5197
@tdoan-r7 we're wondering if you would be interested in helping sort out the warnings in the inline documentation here.

[2015-05-04 18:47] bcook-r7 commented on #4718
There is a lot of work to redesign this scanner, so switching from bug to feature.

[2015-05-04 18:49] bcook-r7 commented on #5207
Part of the plan here is to get this updated with the vendor code.

[2015-05-04 19:08] bcook-r7 commented on #3960
This looks to be fixed, thanks.

[2015-05-04 19:08] #3960 closed

[2015-05-04 19:24] FireFart commented on #4505
:cry:

[2015-05-04 19:35] wvu-r7 commented on #4505
YOU NEED A DATUMSBASE.

[2015-05-04 20:04] FireFart commented on #4505
@wvu-r7 https://www.youtube.com/watch?v=-_xUIDRxdmc

[2015-05-04 20:44] #5229 closed

[2015-05-04 20:44] #5236 closed

[2015-05-04 20:44] #5237 closed

[2015-05-04 20:44] #5238 closed

[2015-05-04 20:44] #5239 closed

[2015-05-04 20:44] #5240 closed

[2015-05-04 20:50] wvu-r7 commented on #4505
@FireFart: Es gefällt mir! :D

[2015-05-04 21:03] bcook-r7 commented on #4505
alle Ihre Datenbanken sind gehören zu uns

[2015-05-04 22:21] bcook-r7 commented on #4423
I have been playing with this using reverse_http - it seems to just kill the session. How is this different than -k ? IOW, I do not quite understand what 'detach' from a meterpreter session does that is different than 'exit', or what its use is.

[2015-05-04 22:43] hmoore-r7 commented on #4423
Detach removes the registered session and the HTTP handler, but does not send an "exit" to the Meterpreter. Its largely pointless now in light of new changes.

[2015-05-04 22:45] hmoore-r7 commented on #4423
@mubix The argument against detach is that since the payload will automatically reconnect, it doesn't really change anything, it just puts the old session into a new session ID.

[2015-05-04 22:47] hmoore-r7 commented on #4423
Once the new transport stuff is landed, it might be nice to have a sessions -t to redirect all sessions to a new transport/listener.

[2015-05-04 22:55] bcook-r7 commented on #4423
OK. The most reasonable thing then is to just remove this altogether along with 'detach' in the session itself.

[2015-05-05 00:30] mubix commented on #4423
@hmoore-r7 I use detaching a lot to know if they are still alive or not. It's easier than interacting with each one and trying to run commands. If they come back, they are still alive ;-)

[2015-05-05 00:46] mubix commented on #4423
@bcook-r7 Please don't remove detach until there is a good replacement for the usecase

[2015-05-05 00:49] hmoore-r7 commented on #4423
@mubix To determine if a session is alive, you might start using client.core.machine_id(timeout) instead, the detach command no longer makes sense as a way to detach sessions.

[2015-05-05 00:50] hmoore-r7 commented on #4423
@mubix Also of note, look at ```sessions -l -v``` in #5297 (CheckIn time)

[2015-05-05 14:44] hmoore-r7 commented on #5204
Keeping an eye out for this, but haven't seen it pop up since.

[2015-05-05 20:25] adampankow opened #5304 "NameError undefined local variable or method `payload_exe' in exploit/windows/antivirus/ams_hndlrsvc"
Module exploit/windows/antivirus/ams_hndlrsvc generates the following error on use:
Exploit failed: NameError undefined local variable or method `payload_exe' for #<Msf::Modules::Mod6578706c6f69742f77696e646f77732f616e746976697275732f616d735f686e646c72737663::Metasploit3:0xf593a44>

I believe this issue is similar to issue #4987

Thanks!

[2015-05-05 21:31] OJ commented on #5204
I saw this yesterday for the first time, but it was due to a mix of versions between MSF/Meterpreter.

[2015-05-05 22:00] hmoore-r7 commented on #5204
@OJ So take a really old Meterpreter binary with a newer MSF? Any idea for reproducing it? The puid thing should be randomly generated if it isn't present

[2015-05-05 22:00] OJ commented on #5204
@hmoore-r7 Let me get some steps together for you.

[2015-05-06 03:43] yongliangtong opened #5308 "Help"
Create Poc for CVE-2015-1863 .
i can using this vulnerability to DOS attacks ,but How to build a complete attack repetition?
Can someone help me?

[2015-05-06 03:50] OJ commented on #5308
... I need somebody...

[2015-05-06 03:51] DamianMac commented on #5308
... not just anybody ...

[2015-05-06 03:51] OJ commented on #5308
.. you know I need someone ..

[2015-05-06 03:53] shiftkey commented on #5308
When i was younger, so much younger than today...

[2015-05-06 03:53] OJ commented on #5308
.. I never needed anybody's help in any way...

[2015-05-06 03:53] silasbarnes commented on #5308
Somebody like......yoooooooooooou...

[2015-05-06 04:01] multiplex3r commented on #5308
... First I was afraid, I was petrified. Kept thinking I could never live without you by my side ... oh wait a second

[2015-05-06 04:04] 0x42424242 commented on #5308
.....But then I spent so many nights thinking how you did me wrong. And I grew strong. And I learned how to get along....

[2015-05-06 04:05] OJ commented on #5308
@yongliangtong In all seriousness, what you're effectively asking is:

The answer, to my knowledge, is no. I am not aware of one in the public domain. The issue may or may not be under further investigation from a number of exploit writers around the traps, but I am yet to see discussion of that as well.

In short, you won't find active help here to produce a working exploit. "Github Issues" is no

[2015-05-06 04:05] #5308 closed

[2015-05-06 04:10] yongliangtong commented on #5308
sorry,I think I made a mistake, thank you

[2015-05-06 04:11] OJ commented on #5308
No problem. Keep your eye on the commit history, and the usual security news channels. If someone is working on it, it'll eventually appear!

[2015-05-06 04:29] wvu-r7 commented on #5308
Wow. No words.

[2015-05-06 04:30] DamianMac commented on #5308
but lots of lyrics

[2015-05-06 05:02] frenchi commented on #5308
Amazing.

[2015-05-06 12:06] mubix commented on #5308
![](http://img.pandawhale.com/post-21975-Jerry-Maguire-help-me-help-you-tj9G.gif)
... had to be done...

[2015-05-06 12:07] OJ commented on #5308
Thanks for not letting us down @mubix :)

[2015-05-06 15:41] bcook-r7 opened #5310 "fix bind_tcp linux metasm stager to work with StagerCloseListenSocket=false"
This is the default from msfvenom, which jumps into some invalid code soon after starting and dies.